<a href="https://www.kaggle.com/code/savageopress12345/mechanical-soup-error?scriptVersionId=118868915" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
ty=df22[df22.Year==2023]
points=set(ty.PTS.tolist()+ty.OPP.tolist())
games={}
arr=[]
for row in ty.itertuples():
    if row.PTS>row.OPP:
        name=row.Schl+"||"+row.Opp+"||"+str(row.PTS)+"||"+str(row.OPP)
        games[name]=row.PTS
        arr.append([row.Schl,row.Opp,row.PTS,row.OPP,row.Venue,row.Date])
    if row.PTS<row.OPP:
        name=row.Opp+"||"+row.Schl+"||"+str(row.OPP)+"||"+str(row.PTS)
        games[name]=row.OPP
        arr.append([row.Opp,row.Schl,row.OPP,row.PTS,row.Venue,row.Date])

In [ ]:
import time
start_time = time.time()
print('done files')
import numpy as np
from datetime import datetime
import random
import string
from decimal import Decimal
class Elo:
    def __init__(self,k,g=1,homefield = 110): 
        self.ratingDict={}
        self.k = k
        self.g = g
        self.homefield= homefield
    def addPlayer(self,name,rating = 1500):
        self.ratingDict[name] = rating
    def gameOver(self,winner,loser,wp,lp,wr,lr):
        o=abs(wp-lp)
        y=float(((o)+3))
        
        mov=((o+3)**0.8)/(7.5+0.006*(wr-lr))
        result = self.expectResult(wr,lr)
        shift=(self.k*mov)*(1 - result) 
        self.ratingDict[winner]+=shift
        self.ratingDict[loser]-=shift
    def expectResult(self, p1, p2):
        global exp
        exp = (p2-p1)/400
        n2=10
        j=exp
        o=1/((n2**(j))+1)
        return float(o)
import requests
from bs4 import BeautifulSoup,Comment
import re, csv
from bs4 import BeautifulSoup as bs
thearr=[]
abbreviations = ["AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "IA",
    "ID", "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MN", "MO",
    "MS", "MT", "NC", "ND", "NE", "NH", "NJ", "NM", "NV", "NY", "OH", "OK",
    "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VA", "VT", "WA", "WI",
    "WV", "WY", "DC", "AS", "GU", "MP", "PR", "VI"]
import re
import pandas as pd
df=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/standings.csv")
from datetime import date
today=str(date.today())
from datetime import timedelta
w=0
l=0
from datetime import date
today=date.today()
import json
hbcus=['Texas Southern','Coppin State','Morgan State','North Carolina Central','Morgan State','Howard','Norfolk State','South Carolina State','Delaware State','Grambling','Southern','Alcorn State','North Carolina A&T','Tennessee State','Chicago State','Hampton','Bethune-Cookman','Alabama A&M','Prairie View A&M','Mississippi Valley State','Alabama State','Arkansas-Pine Bluff','Florida A&M','Jackson State','Maryland-Eastern Shore']
w=0
l=0
from datetime import datetime
df2 = {'Unnamed: 0':'t','Rk':4,'School':'Hiram','Conf':'Independent','Year':1893,'W':1,'L':0}
oldconfs.append(df2,ignore_index=True)
msqe={}
currSeason=2014
for i in range(9,50):
    msqe[str(i)]=set()
confs={}
for i in range(1949,2026):
    confs[i]={}
df=df.replace("PCC (North)","PCC")
df=df.replace("PCC (South)","PCC")
df=df.replace("Mid-Atl (Eastern)","Mid-Atl")
df=df.replace("Mid-Atl (Western)","Mid-Atl")
df=df.replace("Mid-Atl (East)","Mid-Atl")
df=df.replace("Mid-Atl (West)","Mid-Atl")
df=df.replace("ECC (West)","ECC")
df=df.replace("ECC (East)","ECC")
df=df.replace("ECBL (East)","ECBL")
df=df.replace("ECBL (West)","ECBL")
df=df.replace("EAA (West)","EAA")
df=df.replace("EAA (East)","EAA")
df=df.replace("ECACM (North)","ECACM")
df=df.replace("ECACM (South)","ECACM")
df=df.replace("A-10 (East)","A-10")
df=df.replace("A-10 (West)","A-10")
df=df.replace("MAAC (South)","MAAC")
df=df.replace("MAAC (North)","MAAC")
df=df.replace("CUSA (Blue)","CUSA")
df=df.replace("CUSA (Red)","CUSA")
df=df.replace("CUSA (White)","CUSA")
df=df.replace("Big East (East)","Big East")
df=df.replace("MAC (East)","MAC")
df=df.replace("SEC (East)","SEC")
df=df.replace("Southern (North)",'Southern')
df=df.replace("Southern (South)","Southern")
df=df.replace("WAC (Pacific)","WAC")
df=df.replace("CUSA (National)","CUSA")
df=df.replace("TAAC (East)","TAAC")
df=df.replace("Sun Belt (West)","Sun Belt")
df=df.replace("TAAC (West)","TAAC")
df=df.replace("A-Sun (North)","A-Sun")
df=df.replace("MAC (West)","MAC")
df=df.replace("Big East (West)","Big East")
df=df.replace("SEC (West)","SEC")
df=df.replace("Southland (West)","Southland")
df=df.replace("Southland (East)","Southland")
df=df.replace("OVC (East)","OVC")
df=df.replace("OVC (West)","OVC")
df=df.replace("Big South (North)","Big South")
df=df.replace("Big South (South)","Big South")
df=df.replace("A-Sun (East)","A-Sun")
df=df.replace("Patriot (Central)","Patriot")
df=df.replace("WAC (Mountain)","WAC")
df=df.replace("CUSA (American)","CUSA")
df=df.replace("Big West (West)","Big West")
df=df.replace("CUSA (East)","CUSA")
df=df.replace("Patriot (North)","Patriot")
df=df.replace("CUSA (West)","CUSA")
df=df.replace("A-Sun (West)","A-Sun")
df=df.replace("Patriot (South)","Patriot")
df=df.replace("A-Sun (South)","A-Sun")
df=df.replace("MEAC (Southern)","MEAC")
df=df.replace("MEAC (Northern)","MEAC")
df=df.replace("Sun Belt (East)","Sun Belt")
df=df.replace("Big West (West)","Big West")
df=df.replace("Big West (East)","Big West")
df=df.replace("Big East (Big East 6)","Big East")
df=df.replace("Big East (Big East 7)","Big East")
standings=pd.read_csv("https://cfbzzz.alwaysdata.net/ncaab/d1vsnond1/teams/d1standings.txt")
standings=standings.replace("Florida Gulf Cost","Florida Gulf Coast")
for row in df.itertuples():
    if float(row.season)>1948:
        confs[float(row.season)][str(row.team)]=str(row.conf)
for row in standings.itertuples():
    if float(row.Year)>1948:
        confs[float(row.Year)][str(row.Schl)]=str(row.Conference)
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment

links={}
import time
arr=[]
preds={}
swac=['Grambling','Alcorn State',"Jackson State",'Prairie View','Texas Southern','Arkansas-Pine Bluff','Southern','Bethune-Cookman','Alabama State','Florida A&M','Alabama A&M','Mississippi Valley State']
meac=['North Carolina Central','Coppin State','Maryland-Eastern Shore','Norfolk State','Howard','South Carolina State','Morgan State','Delaware State']
confy={}
for conf in set(df.conf.tolist()):
    confy[conf]={}
for row in df.itertuples():
    confy[row.conf][float(row.season)]=[]
for row in df.itertuples():
    confy[row.conf]=[]


kval=25
eloLeague = Elo(k = kval)
print("go through games")
did=[]
rev=0.70
from bs4 import BeautifulSoup
import requests
sep=""
def remove_tags(html):

    # parse html content
    soup = BeautifulSoup(html, "html.parser")

    for data in soup(['style', 'script']):
        # Remove tags
        data.decompose()

    # return data by retrieving the tag content
    return ' '.join(soup.stripped_strings)
years=[1950,1962,1973,1974]
import pandas as pd
yu=[]
from datetime import datetime,timedelta
from time import sleep
#deploy containers
#get URL of the container
from datetime import date
hfas={}
confs[2024]["Texas A&M-Commerce"]="Southland"
keys={}
arr=[]
years={}
years[2024]=[]
from datetime import date
today=str(date.today())
pwr={}
from datetime import datetime
today=datetime.today().strftime('%Y%m%d')

confs[2024]['IUPUI']='Horizon'
confs[2024]['Texas A&M-Commerce']='Southland'
del confs[2024]['East Texas A&M']
del confs[2024]['IU Indy']
games=[]
import pandas as pd
import requests
h='g'
arrz=[]
ty={}
for i in range(2014,2025):
    ty[i]=[]
    for t in confs[i]:
        ty[i].append(t)
import pandas as pd
df=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/masseyz.csv")
dfz=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/jtrono.csv")
dfz=dfz[df.season!=1998]
dfz=dfz[df.season!=1999]
dfz=dfz[df.season!=2000]
arr=[]
for row in df.itertuples():
    n=False
    if 'vs' in str(row.venue):
        n=True
    arr.append([row.date,row.t1,row.t2,row.t1p,row.t2p,row.venue,row.season,n])
for row in dfz.itertuples():
    n=False
    if 'N' in str(row.venue):
        n=True
    arr.append([row.date,row.t1,row.t2,row.t1p,row.t2p,row.venue,row.season,n])
dff=pd.DataFrame(arr,columns=['date','t1','t2','t1p','t2p','venue','season','neutral'])
dff=dff.sort_values(by='date')
dff=dff.astype({"venue":"string"})
dff['venue']=dff['venue'].replace("at","@")
dff['venue']=dff['venue'].replace("A","@")
dff['venue']=dff['venue'].replace("N","vs")
dff['venue']=dff['venue'].replace("H","vs")
df22=dff.replace("Albany","Albany (NY)")
df22=df22.replace("LSU","Louisiana State")
df22=df22.replace("Citadel","The Citadel")
df22=df22.replace("NotreDame","Notre Dame")
df22=df22.replace("BYU","Brigham Young")
confs[2025]['Texas A&M-Commerce']='Southland'
confs[2024]['Texas A&M-Commerce']='Southland'
confs[2023]['Texas A&M-Commerce']='Southland'
confs[2022]['Texas A&M-Commerce']='Southland'
confs[2024]['IU Indy']='Horizon'
df22=df22.replace("Citadel","The Citadel")
df22=df22.replace("NotreDame","Notre Dame")
df22=df22.replace("BYU","Brigham Young")
df22=df22.replace("IUPUI","IU Indy")
df22=df22.replace("Cal Baptist","California Baptist")
df22=df22.replace("East Texas A&M","Texas A&M-Commerce")
df22=df22.replace("Centenary","Centenary (LA)")
df22=df22.replace("Detroit","Detroit Mercy")
confs[2008]['North Dakota']='Ind'
confs[2011]['Omaha']='Ind'
confs[2008]['Seattle']='Ind'
confs[2001]['Purdue Fort Wayne']='Ind'
confs[2008]['North Dakota']='Ind'
confs[2001]['Morris Brown']='Ind'
for row in df22.itertuples():
    if row.t1 not in confs[row.season] or row.t2 not in confs[row.season]:
        df22=df22.drop(row.Index)
for game in df22.itertuples():
    if game.t1 in confs[game.season] and game.t2 in confs[game.season]:
        if confs[float(game.season)][game.t1]!=confs[float(game.season)][game.t2]:
            sconf=confs[float(game.season)][game.t1]
            if sconf not in confy:
                confy[sconf]=[]
            confy[sconf].append(game.t1p-game.t2p)
            oconf=confs[float(game.season)][game.t2]
            if oconf not in confy:
                confy[oconf]=[]
            confy[oconf].append(game.t2p-game.t1p)
for game in df22.itertuples():
    if game.t1 in confs[game.season] and game.t2 in confs[game.season] and 'True' not in str(game.neutral):
        if game.neutral==True or game.neutral=='True':
            m=1
        else:
            sc=confs[game.season][game.t1]
            oc=confs[game.season][game.t2]
            if sc not in hfas:
                hfas[sc]=[]
            if oc not in hfas:
                hfas[oc]=[]
            if game.venue!='@':
                hfas[sc].append(game.t1p-game.t2p)
            else:
                hfas[oc].append(game.t2p-game.t1p)
for key in hfas:
    hfas[key]=(np.mean(hfas[key]))
    hfas[key]=round(hfas[key])*kval
    hfas[key]=round(hfas[key])
mean=np.mean(list(hfas.values()))
mean=round(mean,-1)
for key in hfas:
    num=((1-rev)*hfas[key])+(rev*(3*kval))
    hfas[key]=num
l=0
w=0
for t in confy:
    confy[t]=np.mean(confy[t])*kval
    confy[t]=confy[t]*(1-rev)
pp=0
for game in df22.itertuples():
    s=game.t1
    o=game.t2
    o=o.strip()
    s=s.strip()
    season=game.season
    if s not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(s,rating=1500)
    if o not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(o,rating=1500)
    if ((season)>currSeason)and pp==1: 
        print(season,'yes')
        games=0
        confz={}
        for team in confs[game.season]:
            if confs[game.season][team] not in confz:
                confz[confs[game.season][team]]=[]
            confz[confs[game.season][team]].append(eloLeague.ratingDict[team])
        lsdf=df22[df22.season<game.season]
        ls=set(lsdf.t1.tolist()+lsdf.t2.tolist())
        for key in eloLeague.ratingDict.keys():
            team=key
            if key  in confs[game.season] and key in ls:
                mean=np.mean(confz[confs[game.season][team]])
                mean=mean+1500
                mean=mean/2
                ol=(mean+1500)/2
                mean=(ol*0.50)+(mean*0.50)
                eloLeague.ratingDict[team]=(eloLeague.ratingDict[team]*(1-rev))+(mean*rev)     
        currSeason+=1
    hr=eloLeague.ratingDict[game.t1]
    ar=eloLeague.ratingDict[game.t2]
    hr+=confy[confs[game.season][game.t1]]
    ar+=confy[confs[game.season][game.t2]]
    if 'False' in str(game.neutral):
        if 'vs' in str(game.venue):
            hr+=hfas[confs[game.season][game.t1]]
        if '@' in str(game.venue):
            ar+=hfas[confs[game.season][game.t2]]
    if(game.t1p>game.t2p):
        df22.at[game.Index,'team1elopre']=hr
        df22.at[game.Index,'team2elopre']=ar
        eloLeague.gameOver(game.t1,game.t2,game.t1p,game.t2p,hr,ar)
    if(game.t1p<game.t2p):
        df22.at[game.Index,'team1elopre']=hr
        df22.at[game.Index,'team2elopre']=ar
        eloLeague.gameOver(game.t2,game.t1,game.t2p,game.t1p,ar,hr)
    d1=(s in confs[game.season] or o in confs[game.season])
    for i in range(9,50):
        spread=abs((hr-ar)/float(i))
        spread=round(spread)
        if spread==0:
            if hr>ar:
                spread=1
            else:
                spread=-1
        ms=(float(game.t1p)-float(game.t2p))-spread
        
        msz = np.square(ms)
        msqe[str(i)].add(msz)
    if game.season in pwr:
        last=list(pwr[float(game.season)].keys())[-1]
        
import numpy as np
msqez={}
for i in range(9,50):
    msqez[str(i)]=0
for i in range(9,50):
    msqez[str(i)]=sum(msqe[str(i)])/len(msqe[str(i)])
mas=min(msqez, key=msqez.get)
print("--- %s seconds ---" % (time.time() - start_time))

Pandas(Index=53362, date=20091113.0, t1='South Alabama', t2='Houston Christian', t1p=76, t2p=64, venue='@', season=2009.0, neutral=False)

In [163]:
a=[]
confs[2025]['Texas A&M-Commerce']='Southland'
confs[2024]['Texas A&M-Commerce']='Southland'
confs[2023]['Texas A&M-Commerce']='Southland'
confs[2022]['Texas A&M-Commerce']='Southland'
confs[2024]['IU Indy']='Horizon'
df22=df22.replace("Citadel","The Citadel")
df22=df22.replace("NotreDame","Notre Dame")
df22=df22.replace("BYU","Brigham Young")
df22=df22.replace("IUPUI","IU Indy")
df22=df22.replace("Cal Baptist","California Baptist")
df22=df22.replace("East Texas A&M","Texas A&M-Commerce")
df22=df22.replace("Centenary","Centenary (LA)")
df22=df22.replace("Detroit","Detroit Mercy")
confs[2008]['North Dakota']='Ind'
confs[2011]['Omaha']='Ind'
confs[2008]['Seattle']='Ind'
confs[2001]['Purdue Fort Wayne']='Ind'
confs[2008]['North Dakota']='Ind'
confs[2001]['Morris Brown']='Ind'
for row in df22.itertuples():
    if row.t1 not in confs[row.season]:
        a.append(row.t1)

In [165]:
set(a)

{'Belmont',
 'Birmingham-Southern',
 'Elon',
 'Gardner-Webb',
 'High Point',
 'Houston Christian',
 'Lipscomb',
 'Morris Brown',
 'Oakland',
 'Savannah State',
 'South Dakota',
 'Texas A&M-Corpus Christi',
 'UC Riverside'}

In [174]:
for y in confs:
    if 'Oakland' not in confs[y]:
        print(y)

1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998

In [155]:
set(a)

{'Belmont',
 'Birmingham-Southern',
 'Elon',
 'Gardner-Webb',
 'High Point',
 'Houston Christian',
 'Lipscomb',
 'Morris Brown',
 'North Dakota',
 'Oakland',
 'Omaha',
 'Savannah State',
 'Seattle',
 'South Dakota',
 'Texas A&M-Corpus Christi',
 'UC Riverside'}

In [102]:
df22=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/allscorescbb.csv")

NameError: name 'df22' is not defined

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

{1949.0,
 1950.0,
 1952.0,
 1953.0,
 1954.0,
 1955.0,
 1956.0,
 1957.0,
 1958.0,
 1959.0,
 1960.0,
 1961.0,
 1962.0,
 1963.0,
 1964.0,
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2019.0,
 2020.0,
 2021.0,
 2022.0,
 2023.0,
 2024.0}

In [108]:
dff.to_csv("cbbz.csv")

In [ ]:
date='20241105'
date=str(date)
date=date.replace(" 00:00:00","")
date=date.replace("-","")
date=float(date)
url='https://teamrankings.com/ncaa-basketball/ranking/predictive-by-other/?date='+str(date)
html=requests.get(url)
html=html.text
arr=[]
soup=BeautifulSoup(html)
table=soup.find_all("table")[0]
for tr in table.find_all("tr"):
    if 'Rating' not in str(tr):
        team=tr.find_all("td")[1]
        team=team['data-sort']
        rating=tr.find_all("td")[2].text
        arr.append([team,rating,iz,date])
df=pd.DataFrame(arr,columns=['Team','Rating','Year','Date'])
df=pd.DataFrame(arr,columns=['Team','Rating','Year','Date'])
df=df.replace("Abl Christian","Abilene Christian")
df=df.replace("AR Lit Rock","Little Rock")
df=df.replace("Alab A&M","Alabama A&M")
df=df.replace("IPFW","Purdue Fort Wayne")
df=df.replace("N Carolina","North Carolina")
df=df.replace("Hsn Christian","Houston Christian")
df=df.replace("LIU","Long Island University")
df['Team']=df['Team'].str.replace(" St"," State")
df['Team']=df['Team'].str.replace(" Stateate"," State")
df['Team']=df['Team'].str.replace(" Stateate"," State")
df=df.replace("Ark Pine Bl","Arkansas-Pine Bluff")
df=df.replace("Albany","Albany (NY)")
df=df.replace("Boston U","Boston University")
df=df.replace("S Carolina","South Carolina")
df=df.replace("Boston Col","Boston College")
df=df.replace("Beth-Cook","Bethune-Cookman")
df=df.replace("Bowling Grn","Bowling Green")
df=df.replace("Cal Baptist","California Baptist")
df['Team']=df['Team'].str.replace("CS ","Cal State ")
df['Team']=df['Team'].str.replace(" Mich"," Michigan")
df=df.replace("Central Ark","Central Arkansas")
df=df.replace("Central Conn","Central Connecticut")
df=df.replace("Cal State Nrdge","Cal State Northridge")
df=df.replace("Charl South","Charleston Southern")
df=df.replace("Coastal Car","Coastal Carolina")
df=df.replace("Col Charlestn","College of Charleston")
df['Team']=df['Team'].str.replace("E ","Eastern ")
df=df.replace("Eastern Tenn State","East Tennessee State")
df=df.replace("Eastern Michiganigan","Eastern Michigan")
df=df.replace("Eastern Carolina","East Carolina")
df=df.replace("USC","Southern California")
df=df.replace("LSU","Louisiana State")
df=df.replace("Florida Intl","Florida International")
df=df.replace("Fla Atlantic","Florida Atlantic")
df=df.replace("Fla Gulf Cst","Florida Gulf Coast")
df['Team']=df['Team'].str.replace("GA ","Georgia ")
df['Team']=df['Team'].str.replace("Geo ","George ")
df=df.replace("Grd Canyon","Grand Canyon")
df=df.replace("Loyola-Chi","Loyola (IL)")
df=df.replace("Lg Beach State","Long Beach State")
df=df.replace("Incar Word","Incarnate Word")
df=df.replace("IL-Chicago","Illinois-Chicago")
df=df.replace("Gard-Webb","Gardner-Webb")
df=df.replace("Grambling State","Grambling")
df=df.replace("Jksnville State","Jacksonville State")
df=df.replace("James Mad","James Madison")
df=df.replace("LIU-Brooklyn","Long Island University")
df=df.replace("LA Tech","Louisiana Tech")
df=df.replace("F Dickinson","Fairleigh Dickinson")
df=df.replace("Loyola-MD","Loyola (MD)")
df=df.replace("Loyola Mym","Loyola Marymount")
df=df.replace("Mass Lowell","Massachusetts-Lowell")
df=df.replace("Middle Tenn","Middle Tennessee")
df=df.replace("Miss State","Mississippi State")
df=df.replace("Miss Val State","Mississippi Valley State")
df=df.replace("Centenary","Centenary (LA)")
df=df.replace("Maryland BC","Maryland-Baltimore County")
df=df.replace("Maryland ES","Maryland-Eastern Shore")
df['Team']=df['Team'].str.replace("NC-","UNC ")
df['Team']=df['Team'].str.replace("N ","Northern ")
df['Team']=df['Team'].str.replace("Northern Dakota State","North Dakota State")
df['Team']=df['Team'].str.replace("Northern Florida","North Florida")
df['Team']=df['Team'].str.replace("Northern Hampshire","New Hampshire")
df=df.replace("Nicholls","Nicholls State")
df=df.replace("NW State","Northwestern State")
df=df.replace("NC A&T","North Carolina A&T")
df=df.replace("Neb-Omaha","Omaha")
df=df.replace("App State","Appalachian State")
df=df.replace("Miami","Miami (FL)")
df=df.replace("Queens","Queens (NY)")
df=df.replace("NorthernMex State","New Mexico State")
df=df.replace("S Indiana","Southern Indiana")
df=df.replace("S Illinois","Southern Illinois")
df=df.replace("S Alabama","South Alabama")
df=df.replace("S Carolina","South Carolina")
df=df.replace("S Florida","South Florida")
df=df.replace("S Mississippi","Southern Mississippi")
df=df.replace("S Methodist","Southern Methodist")
df=df.replace("S Dakota St","South Dakota State")
df=df.replace("S Car State","South Carolina State")
df=df.replace("Wm & Mary","William & Mary")
df=df.replace("S Utah","Southern Utah")
df=df.replace("SC Upstate","South Carolina Upstate")
df=df.replace("Rob Morris","Robert Morris")
df=df.replace("SEastern Louisiana","Southeastern Louisiana")
df=df.replace("SEastern Missouri","Southeast Missouri State")
df=df.replace("SIU Edward","Southern Illinois-Edwardsville")
df=df.replace("Sac State","Sacramento State")
df=df.replace("Sacred Hrt","Sacred Heart")
df=df.replace("Sam Hous State","Sam Houston")
df=df.replace("UNC Grnsboro","UNC Greensboro")
df=df.replace("S Dakota State","South Dakota State")
df=df.replace("Citadel","The Citadel")
df=df.replace("VA Tech","Virginia Tech")
df=df.replace("BYU","Brigham Young")
df=df.replace("VCU","Virginia Commonwealth")
df=df.replace("U Mass","Massachusetts")
df=df.replace("NC Central","North Carolina Central")
df=df.replace("W Kentucky","Western Kentucky")
df=df.replace("UCSB","UC Santa Barbara")
df=df.replace("St Peters","Saint Peter's")
df=df.replace("Neb Omaha","Omaha")
df=df.replace("St Fran (NY)","St. Francis (NY)")
df=df.replace("St Fran (PA)","Saint Francis (PA)")
df=df.replace("TNorthern State","Tennessee State")
df=df.replace("TNorthern Martin","Tennessee-Martin")
df=df.replace("UCSB","UC Santa Barbara")
df=df.replace("TX A&M-CC","Texas A&M-Corpus Christi")
df=df.replace("Central Connecticut","Central Connecticut State")
df=df.replace("VMI","Virginia Military Institute")
df=df.replace("U Penn","Pennsylvania")
df=df.replace("Wash State","Washington State")
df=df.replace("TX Southern","Texas Southern")
df=df.replace("TX A&M-Com","Texas A&M-Commerce")
df=df.replace("W Illinois","Western Illinois")
df=df.replace("Loyola Mymt","Loyola Marymount")
df=df.replace("W Georgia","West Georgia")
df=df.replace("UCF","Central Florida")
df=df.replace("W Virginia","West Virginia")
df=df.replace("TNorthern Tech","Tennessee Tech")
df=df.replace("WI-Milwkee","Milwaukee")
df=df.replace("St Marys","Saint Mary's (CA)")
df=df.replace("George Wshgtn","George Washington")
df=df.replace("St Johns","St. John's (NY)")
df=df.replace("W Carolina","Western Carolina")
df=df.replace("Cal State Bakersfld","Cal State Bakersfield")
df=df.replace("UL Monroe","Louisiana-Monroe")
df=df.replace("Northern Mex State","New Mexico State")
df=df.replace("UCSD","UC San Diego")
df=df.replace("W Michiganigan","Western Michigan")
df=df.replace("TNorthern Martin","Tennessee-Martin")
df=df.replace("WI-Grn Bay","Green Bay")
df=df.replace("TX-Pan Am","Texas-Rio Grande Valley")
df=df.replace("Detroit","Detroit Mercy")
df=df.replace("Queens (NY)","Queens (NC)")
df=df.replace("St Josephs","Saint Joseph's")
df=df.replace("St Bonavent","St. Bonaventure")
df=df.replace("Ste F Austin","Stephen F. Austin")
df=df.replace("UNC Wilmgton","UNC Wilmington")
df=df.replace("UNLV","Nevada-Las Vegas")
df=df.replace("TX El Paso","UTEP")
df=df.replace("Bowling Green","Bowling Green State")
df=df.replace("TX Christian","TCU")
df=df.replace("Youngs State","Youngstown State")
df=df.replace("Eastern Washingtn","Eastern Washington")
df=df.replace("TX El Paso","UTEP")
df=df.replace("TX-Arlington","UT Arlington")
df=df.replace("Northeastrn","Northeastern")
df=df.replace("Northern Alabama","North Alabama")
df=df.replace("Mt State Marys","Mount St. Mary's")
df=df.replace("Wins-Salem","Winston-Salem")
df=df.replace("Bowling Green","Bowling Green State")
df=df.replace("TX Christian","TCU")
df=df.replace("TN State","Tennessee State")
ratdf=df

In [ ]:
key=input("team")

In [54]:
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment

links={}
import time
ys={}
for i in range(1949,2026):
    ys[i]=[]
for i in range(2026,2027):
    print(i)
    links[i]=[]
    html=requests.get("https://www.sports-reference.com/cbb/seasons/men/"+str(i)+"-standings.html")
    print(html.status_code)
    html=html.text
    html=html.replace("<!--","").replace("-->","")
    soup=BeautifulSoup(html,'lxml')
    
    
    y=i-1
    for table in soup.find_all("table"):
        for tr in table.find_all("tr"):
            if "Notes" not in str(tr) and 'Overall' not in str(tr):
                
                
                schl=tr.find_all("td")[0].text
                conf=tr.find_all("td")[1].text
                srs=tr.find_all("td")[13].text
            
                
                arr.append([schl,conf,y,srs])
    time.sleep(5)
    print(len(arr))

2026
200
21385

In [55]:
df=pd.DataFrame(arr,columns=['team','conf','season','num'])
df.to_csv("standings.csv")

In [ ]:
df=pd.DataFrame(arr,columns=['School','Conf','Year','SRS'])
df=df[df.SRS.notna()]
df.to_csv("alld1s.txt")

##