<a href="https://www.kaggle.com/code/savageopress12345/mechanical-soup-error?scriptVersionId=118868915" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [40]:
ty=df22[df22.Year==2023]
points=set(ty.PTS.tolist()+ty.OPP.tolist())
games={}
arr=[]
for row in ty.itertuples():
    if row.PTS>row.OPP:
        name=row.Schl+"||"+row.Opp+"||"+str(row.PTS)+"||"+str(row.OPP)
        games[name]=row.PTS
        arr.append([row.Schl,row.Opp,row.PTS,row.OPP,row.Venue,row.Date])
    if row.PTS<row.OPP:
        name=row.Opp+"||"+row.Schl+"||"+str(row.OPP)+"||"+str(row.PTS)
        games[name]=row.OPP
        arr.append([row.Opp,row.Schl,row.OPP,row.PTS,row.Venue,row.Date])

In [41]:
df=pd.DataFrame(arr,columns=['Winner','Loser','Winner PTS','Loser PTS','Venue','Date'])
df=df.sort_values(by='Loser PTS')
df=df.iloc[0:10]
for row in df.itertuples():
    print(row)

Pandas(Index=9753, Winner='North Dakota State', Loser='Oak Hills Chr', _3=108.0, _4=14.0, Venue='vs', Date=Timestamp('2023-12-10 00:00:00'))
Pandas(Index=2724, Winner='Faith Bap', Loser='FLBC', _3=65.0, _4=16.0, Venue='@', Date=Timestamp('2023-11-11 00:00:00'))
Pandas(Index=2107, Winner='Emmaus Bib', Loser='FLBC', _3=78.0, _4=23.0, Venue='@', Date=Timestamp('2023-11-10 00:00:00'))
Pandas(Index=8276, Winner='McNeese State', Loser='MS Women', _3=92.0, _4=23.0, Venue='vs', Date=Timestamp('2023-12-05 00:00:00'))
Pandas(Index=9302, Winner='Mercyhurst', Loser='SUNY Fredonia', _3=83.0, _4=24.0, Venue='vs', Date=Timestamp('2023-12-09 00:00:00'))
Pandas(Index=5210, Winner='West Alabama', Loser='Oakwood', _3=93.0, _4=25.0, Venue='vs', Date=Timestamp('2023-11-21 00:00:00'))
Pandas(Index=2718, Winner='Christendom', Loser='Appalachian Bib', _3=98.0, _4=26.0, Venue='vs', Date=Timestamp('2023-11-11 00:00:00'))
Pandas(Index=10473, Winner='Liberty', Loser='St Andrews', _3=99.0, _4=26.0, Venue='vs', Date=Timestamp('2023-12-16 00:00:00'))
Pandas(Index=271, Winner='C Chr Bible', Loser='FLBC', _3=93.0, _4=26.0, Venue='@', Date=Timestamp('2023-10-28 00:00:00'))
Pandas(Index=25218, Winner='Maryville TN', Loser='Warren Wilson', _3=55.0, _4=27.0, Venue='vs', Date=Timestamp('2024-02-17 00:00:00'))

In [42]:
[item for item in sorted(games, key=games.get)][0:10]

['IN S Bend||Holy Cross IN||42.0||41.0',
 'Christendom||Williamson Tr||43.0||33.0',
 'Loyola (MD)||American||44.0||43.0',
 'Keuka||Alfred||44.0||41.0',
 'Weatherford||Tyler JC||45.0||44.0',
 'Chipola||NW Florida St||45.0||41.0',
 'Southeastern Bap||Pensacola Chr||46.0||44.0',
 'Outaouais||Ahuntsic||46.0||44.0',
 'Cypress||Irvine Valley||46.0||43.0',
 'Montgomery Co CC||Delaware Co CC||47.0||41.0']

In [43]:
myKeys = list(games.keys())
{i: games[i] for i in myKeys}[0:5]

TypeError: unhashable type: 'slice'

**

In [67]:
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

array(['1949-50', '1950-51', '1951-52', '1952-53', '1953-54', '1954-55',
       '1955-56', '1956-57', '1957-58', '1958-59', '1959-60', '1960-61',
       '1961-62', '1962-63', '1963-64', '1964-65', '1965-66', '1966-67',
       '1967-68', '1968-69', '1969-70', '1970-71', '1971-72', '1972-73',
       '1973-74', '1974-75', '1975-76', '1976-77', '1977-78', '1978-79',
       '1979-80', '1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02'],
      dtype=object)

In [ ]:

import time
start_time = time.time()
import pandas as pd
print('done files')
import numpy as np
from datetime import datetime
import random
import string
print('no')
import math
chist=[]
j={}
df=75
j['gp']=1
j['yr']=1892
hfa=0
from decimal import Decimal
class Elo:
    
    
    

    def __init__(self,k,g=1,homefield = 110): 
        self.ratingDict={}
        self.k = k
        self.g = g
        self.homefield= homefield

    def addPlayer(self,name,rating = 1500):
        self.ratingDict[name] = rating
    def gameOver(self, winner, loser, winnerHome,neutral,wp,lp,yr,date,wpe,lpe,hfa,k):
        wpe=wpe
        lpe=lpe
        
        
        homef=hfa
        if('True' in str(neutral)):
            
        
            homef=0
        
        
        if(winnerHome==True):
            
            elod=(eloLeague.ratingDict[winner]+homef-wpe)-(eloLeague.ratingDict[loser]-lpe)
        if(winnerHome!=True):
            
            elod=(eloLeague.ratingDict[winner]-wpe)-(homef+eloLeague.ratingDict[loser]-lpe)
        
        elo=float(elod)
        wp=float(wp)
        lp=float(lp)
        
        o=abs(wp-lp)
        y=float(((o)+3))
        
        mov=((o+3)**0.8)/(7.5+0.006*elod)
        if winnerHome==True:
            
            result = self.expectResult(self.ratingDict[winner] + homef-wpe, self.ratingDict[loser]-lpe)
        else:
            result = self.expectResult(self.ratingDict[winner]-wpe, self.ratingDict[loser]+homef-lpe)
        shift=(k*mov)*(1 - result) 
        
        
        if wpe==0 or wpe==hbcupen:
            self.ratingDict[winner] +=shift
        if lpe==0 or lpe==hbcupen:
            self.ratingDict[loser] -=shift
        
        

    def expectResult(self, p1, p2):
        global exp
        exp = (Decimal(p2)-Decimal(p1))/Decimal(400.0)
        n2=Decimal(10.0)
        j=Decimal(exp)
        o=Decimal(1)/((n2**(j))+Decimal(1))
        return float(o)

kval=25
eloLeague = Elo(k = kval)
import requests
import pandas as pd
import time
dl=[]
from bs4 import BeautifulSoup,Comment
proxies={'http':'173.192.21.89:80','http':'95.156.82.35:3128'}
print('neutral')


print('home')
from bs4 import BeautifulSoup,Comment


print('playoff')
import re, csv, requests
from bs4 import BeautifulSoup as bs
d2urls={"2023":"https://masseyratings.com/scores.php?s=557745&sub=557745&all=1","2002":"https://masseyratings.com/scores.php?s=41466&sub=41466&all=1"}
g=[]
thearr=[]
didp=0
pz=0
tds={}
ggg=[]
d1={"2003":"https://masseyratings.com/scores.php?s=41467&sub=11590&all=1&mode=3&format=2","2006":"https://masseyratings.com/scores.php?s=69587&sub=11590&all=1&mode=3&format=2","2009":"https://masseyratings.com/scores.php?s=97288&sub=11590&all=1&mode=3&format=2","2011":"https://masseyratings.com/scores.php?s=179268&sub=11590&all=1&mode=3&format=2","2013":"https://masseyratings.com/scores.php?s=203290&sub=11590&all=1&mode=3&format=2","2015":"https://masseyratings.com/scores.php?s=284067&sub=11590&all=1&mode=3&format=2","2016":"https://masseyratings.com/scores.php?s=292154&sub=11590&all=1&mode=3&format=2","2017":"https://masseyratings.com/scores.php?s=298892&sub=11590&all=1&mode=3&format=2","2018":"https://masseyratings.com/scores.php?s=305972&sub=11590&all=1&mode=3&format=2","2020":"https://masseyratings.com/scores.php?s=320158&sub=11590&all=1&mode=3&format=2","2021":"https://masseyratings.com/scores.php?s=379387&sub=11590&all=1&mode=3&format=2","2022":"https://masseyratings.com/scores.php?s=500054&sub=11590&all=1&mode=3&format=2","2023":"https://masseyratings.com/scores.php?s=557745&sub=11590&all=1"}
d1s={}
h=[]
years={}
d1ss=pd.read_csv("https://ontheroadtovote.com/ncaab/2024d1.csv")
d1ss=d1ss.astype({"Schl":"string"})
d1ss=d1ss.replace("FDU","Fairleigh Dickinson")
d1ss=d1ss.replace("UCF","Central Florida")
d1ss=d1ss.replace("Purdue Fort Wayne","Purdue-Fort Wayne")
d1ss=d1ss.replace("Sam Houston State","Sam Houston")
years[2023]={}
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/massey.csv")
df=df[df.Year<2023]
uteams=requests.get("https://ontheroadtovote.com/ncaaf/caabteams.json").json()
bannedteams={}
for i in range(2002,2024):
    bannedteams[i]=[]
banned=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/noncount.txt")
for row in banned.itertuples():
    if str(row.Banned)=='yes':
        bannedteams[float(row.Year)].append(row.Schl)
print(df.neutral.unique())
for row in df.itertuples():
    s=row.Schl
    o=row.Opp
    o=o.replace("amp;","")
    s=s.replace("amp;","")
    if s in uteams:
        s=uteams[s]
    if o in uteams:
        o=uteams[o]
    if s in bannedteams[row.Year] or o in bannedteams[row.Year]:
        m=1
    else:
        thearr.append([s,o,row.PTS,row.OPP,row.Year,row.Date,row.neutral,row.Venue,row.Year])
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/missingcbb.csv")
df=df[df.Year<2023]
uteams=requests.get("https://ontheroadtovote.com/ncaaf/caabteams.json").json()
print(df.neutral.unique())
for row in df.itertuples():
    s=row.Schl
    o=row.Opp
    o=o.replace("amp;","")
    s=s.replace("amp;","")
    if s in uteams:
        s=uteams[s]
    if o in uteams:
        o=uteams[o]
    thearr.append([s,o,row.PTS,row.OPP,row.Year,row.Date,row.neutral,row.Venue,row.Year])   
for row in d1ss.itertuples():
    years[float(2023)][row.Schl]={}
    years[float(2023)][row.Schl]='yes'
abbreviations = [
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#States.
    "AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "IA",
    "ID", "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MN", "MO",
    "MS", "MT", "NC", "ND", "NE", "NH", "NJ", "NM", "NV", "NY", "OH", "OK",
    "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VA", "VT", "WA", "WI",
    "WV", "WY",
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#Federal_district.
    "DC",
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#Inhabited_territories.
    "AS", "GU", "MP", "PR", "VI",
]
didp=0
for key in d2urls:
    r = requests.get(d2urls[key])
    soup = BeautifulSoup(r.text, 'lxml')
    
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(BeautifulSoup(r.text, 'lxml'))
    aa=str(aa)
    aa=(aa.split("<hr/><pre>")[1])
    
    aa=aa.replace("               ",",")
    aa=aa.replace("  ",",")
    for i in range(0,10):
        aa=aa.replace(str(i)+" ",str(i)+",")
        
    aa=aa.replace(",,,,,,",",")
    
    q=aa
    
    
    q=q.split("\n")
    for line in q:
        
        
        
        
        
        line=str(line)
        
        
        
        
        if 'Games' not in str(line) and str(line)!='' and '<' not in str(line):
            j=line[1]
            n=False
            line = list(line.split(','))
            v="vs"
            if "@" not in str(line):
                n=True
            if "@" in str(line[1]):
                v="vs"
            else:
                v='@'
            date=str(line[0])
            
            line=str(line)
            line=line.replace("[","")
            line=line.replace("]","")
            line=line.replace("'","")
            line=line.replace('"',"")
            line=line.replace(",@",",")
            line=line.replace("@","")
            line = list(line.split(','))
            lines=[]
            for l in line:
                if l==' ' :
                    m=1
                else:
                    
                    lines.append(l)
                
            
            line=lines
            s=line[1]
            s=s.lstrip()
            s=s.rstrip()
            o=line[3]
            o=o.lstrip()
            o=o.rstrip()
            o=o.replace("amp;","")
            s=s.replace("amp;","")
            if s in uteams:
                s=uteams[s]
            if o in uteams:
                o=uteams[o]
            if len(line)>7:
                notes=line[7]
                if s=='Purdue' and o=='Grambling':
                    print(line)
                    print(notes)
                notes=notes.strip()
                if notes in abbreviations:
                    n=True
                    
            row=[s,o,line[2],line[4],float(key),date,n,v,float(key)]
            thearr.append(row)
df1=pd.read_csv("https://ontheroadtovote.com/gamezz.csv")
dates={}
for row in df1.itertuples():
    date=row.Date
    date=date.split(" 00:00:00")[0]
    dates[date]=[]
for row in df1.itertuples():
    date=row.Date
    date=date.split(" 00:00:00")[0]
    dates[date].append(row.Schl)
    dates[date].append(row.Opp)
from bs4 import BeautifulSoup,Comment
df1['Venue']='vs'
df1['Yearz']=df1['Year']
print(df1.neutral.unique())
for row in df1.itertuples():
    y=row.Year
    if '-' in str(row.Year):
        y=str(row.Year).split("-")[0]
    date=str(row.Date)
    date=date.replace("20:","2:")
    date=date.replace("30:","3:")
    date=date.replace("40:","4:")
    date=date.replace("50:","5:")
    date=date.replace("60:","6:")
    date=date.replace("70:","7:")
    date=date.replace("80:","8:")
    date=date.replace("90:","9:")
    date=date.replace("10:","1:")
    if 'Year' not in str(row.Year):
        y=float(y)
        if y<2002:
            
        
            thearr.append([row.Schl,row.Opp,row.PTS,row.OPP,y,row.Date,row.neutral,row.Venue,y])
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
years={}
for i in range(1890,2024):
    years[float(i)]={}
for row in standings.itertuples():
    years[float(row.Year)][row.Schl]='yes'
confdf=pd.read_csv("https://ontheroadtovote.com/ncaab/updatedstandings.csv")
confdf=confdf.replace("Sam Houston State","Sam Houston")
confdf=confdf.astype({"School":"string"})
confdf= confdf[confdf['School'].notna()]
confdf=confdf.replace("FDU","Fairleigh Dickinson")
confdf=confdf.replace("UCF","Central Florida")
confdf=confdf.replace("Sam Houston State","Sam Houston")
confdf.dropna()
for row in confdf.itertuples():
    if float(row.Year)>1948:
        srs=str(row.SRS).strip()
        
        if 'known' not in str(srs):
            
            years[float(row.Year)][row.School]=1

d1ss=pd.read_csv("https://ontheroadtovote.com/ncaab/2024d1.csv")
d1ss=d1ss.astype({"Schl":"string"})
d1ss=d1ss.replace("FDU","Fairleigh Dickinson")
d1ss=d1ss.replace("UCF","Central Florida")
years[2023]={}
for row in d1ss.itertuples():
    years[float(2023)][row.Schl]={}
    years[float(2023)][row.Schl]='yes'

from datetime import date
today=str(date.today())
from datetime import timedelta

r = requests.get('https://ontheroadtovote.com/ncaab/steams.json')
y=r.json()
df1=df1[df1.Year!='Year']
for row in df1.itertuples():
    year=str(row.Year)
    if "-" in year:
        year=year.split("-")[0]
    v=row.Venue
    if v=='@?':
        v='@'
    if v=='vs?':
        v='vs'
    if v=='s':
        v='vs'
    if v=='v':
        v='vs'
    if v=='vs?(unknown)':
        v='vs'
        
    if float(year)<2002:    
        thearr.append([row.Schl,row.Opp,row.PTS,row.OPP,year,row.Date,row.neutral,v,row.Year])
d1={"2003":"https://masseyratings.com/scores.php?s=41467&sub=11590&all=1&mode=3&format=2","2006":"https://masseyratings.com/scores.php?s=69587&sub=11590&all=1&mode=3&format=2","2009":"https://masseyratings.com/scores.php?s=97288&sub=11590&all=1&mode=3&format=2","2011":"https://masseyratings.com/scores.php?s=179268&sub=11590&all=1&mode=3&format=2","2013":"https://masseyratings.com/scores.php?s=203290&sub=11590&all=1&mode=3&format=2","2015":"https://masseyratings.com/scores.php?s=284067&sub=11590&all=1&mode=3&format=2","2016":"https://masseyratings.com/scores.php?s=292154&sub=11590&all=1&mode=3&format=2","2017":"https://masseyratings.com/scores.php?s=298892&sub=11590&all=1&mode=3&format=2","2018":"https://masseyratings.com/scores.php?s=305972&sub=11590&all=1&mode=3&format=2","2020":"https://masseyratings.com/scores.php?s=320158&sub=11590&all=1&mode=3&format=2","2021":"https://masseyratings.com/scores.php?s=379387&sub=11590&all=1&mode=3&format=2","2022":"https://masseyratings.com/scores.php?s=500054&sub=11590&all=1&mode=3&format=2","2023":"https://masseyratings.com/scores.php?s=557745&sub=11590&all=1&mode=3&format=2"}
for url in d1:
    d1s[url]=[]
for url in d1:
    html=requests.get(d1[url]).text
    html=str(html)
    html=html.split("\n")
    for row in html:
        d1s[url].append(row)
bteams={}
bteams[1950]=['Murray State','Eastern Kentucky','Evansville','Morehead State','Marshall','Tennessee Tech']
bteams[1951]=['Murray State','Evansville','Morehead State','Marshall','Tennessee Tech']
bteams[1952]=['Murray State','Evansville','Morehead State','Marshall','Tennessee Tech']
bteams[1953]=['Morehead State','Middle Tennessee','Tennessee Tech']
bteams[1954]=['Morehead State','Tennessee Tech','Middle Tennessee']
bteams[1955]=['Middle Tennessee']
bteams[1956]=['Middle Tennessee']
bteams[1957]=['Middle Tennessee','East Tennessee State']
files=["https://ontheroadtovote.com/ncaab/nond1scores/missingscores/nwaacc/2019.txt","https://ontheroadtovote.com/ncaab/nond1scores/missingscores/ccaa/ccaascores.csv","usportsscores.csv","ccaascores.csv","nwaaccscores.csv",'cccaacores.csv','naiascores.csv',"accascores.csv","nccaascores.csv","d3scores.csv","d2scores.csv","njcaacores.csv","uscaascores.csv","2012cccaascores.txt","2014cccaascores.txt","2019cccaascores.txt"]
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/updatedstandings.csv")
teams=[]

html=requests.get("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/app.php")
html=html.text
arr=[]

df2=pd.DataFrame(thearr)

df2.columns=['Schl','Opp','PTS','OPP','Year','Date','neutral','Venue','Yearz']
gd={}
df2=df2.drop_duplicates()
df2= df2.replace(np.nan, 'w', regex=True)
(df2['Yearz']).where((df2['Year'] =='w'))
df2=df2[df2.Schl!='w']
msqe16=[]
df1=df2
w=0
l=0
names=[]
confdf.dropna()
def replace(n):
    string=n
    for letter in letters:
        string=string.replace(letter+" Stateate",letter+" State")
    return string

currSeason=1893
df22=df2
p=[]
names=set()
start=time.time()
years[2023]={}
for row in d1ss.itertuples():
    years[float(2023)][row.Schl]={}
    years[float(2023)][row.Schl]='yes'

df22=df22[df22.OPP!=0]
df22=df22[df22.Schl!=0]
df22=df2


df22['Date'] = pd.to_datetime(df22['Date'], errors='coerce')
df22['Date'] = df22['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')
df22=df22.astype({"Schl":"string","Opp":"string"})

from datetime import date
today=date.today()





df22['Year']=df22['Year'].replace("2022-23","2022")

teamss={}
oy={}

oldconfs=pd.read_csv("https://ontheroadtovote.com/ncaab/old.csv")
oldconfs=oldconfs.astype({"School":"string"})
oldconfs= oldconfs[oldconfs['School'].notna()]
import requests
import requests
import json

teams=set(df22.Schl.tolist()+df22.Opp.tolist()+oldconfs.School.tolist())
import numpy as np
hbcus=['Texas Southern','Coppin State','Morgan State','North Carolina Central','Morgan State','Howard','Norfolk State','South Carolina State','Delaware State','Grambling','Southern','Alcorn State','North Carolina A&T','Tennessee State','Chicago State','Hampton','Bethune-Cookman','Alabama A&M','Prairie View A&M','Mississippi Valley State','Alabama State','Arkansas-Pine Bluff','Florida A&M','Jackson State','Maryland-Eastern Shore']
for team in teams:
    
    if(pd.isnull(team)!=True):
        eloLeague.addPlayer(team, rating = 1500)  
w=0
l=0

import pandas as pd
from datetime import datetime




df22 = df22[df22['Opp'].notna()]

otamy=[]
confdf.dropna()
msqe12=[]
cols=['Unnamed: 0', 'Rk', 'School', 'Conf', 'Year', 'W', 'L']
df2 = {'Unnamed: 0':'t','Rk':4,'School':'Hiram','Conf':'Independent','Year':1893,'W':1,'L':0}
oldconfs.append(df2,ignore_index=True)
msqe=[]
otmx=[]
w=0
wz=0
tdsz={}
df22["Year"]=df22['Year']
df22=df22[df22.Year!='Year']
df22=df22.astype({"Year":"string"})
df22['Year']=df22['Year'].str.replace('-49','')
df22['Year']=df22['Year'].str.replace('-50','')
df22['Year']=df22['Year'].str.replace('-51','')
df22['Year']=df22['Year'].str.replace('-52','')
df22['Year']=df22['Year'].str.replace('-53','')
df22['Year']=df22['Year'].str.replace('-54','')
df22['Year']=df22['Year'].str.replace('-55','')
df22['Year']=df22['Year'].str.replace('-56','')
df22['Year']=df22['Year'].str.replace('-57','')
df22['Year']=df22['Year'].str.replace('-58','')
df22['Year']=df22['Year'].str.replace('-59','')
df22['Year']=df22['Year'].str.replace('-60','')
df22['Year']=df22['Year'].str.replace('-61','')
df22['Year']=df22['Year'].str.replace('-62','')
df22['Year']=df22['Year'].str.replace('-63','')
df22['Year']=df22['Year'].str.replace('-64','')
df22['Year']=df22['Year'].str.replace('-65','')
df22['Year']=df22['Year'].str.replace('-66','')
df22['Year']=df22['Year'].str.replace('-67','')
df22['Year']=df22['Year'].str.replace('-68','')
df22['Year']=df22['Year'].str.replace('-69','')
df22['Year']=df22['Year'].str.replace('-70','')
df22['Year']=df22['Year'].str.replace('-71','')
df22['Year']=df22['Year'].str.replace('-72','')
df22['Year']=df22['Year'].str.replace('-73','')
df22['Year']=df22['Year'].str.replace('-74','')
df22['Year']=df22['Year'].str.replace('-75','')
df22['Year']=df22['Year'].str.replace('-76','')
df22['Year']=df22['Year'].str.replace('-77','')
df22['Year']=df22['Year'].str.replace('-78','')
df22['Year']=df22['Year'].str.replace('-79','')
df22['Year']=df22['Year'].str.replace('-80','')
df22['Year']=df22['Year'].str.replace('-81','')
df22['Year']=df22['Year'].str.replace('-82','')
df22['Year']=df22['Year'].str.replace('-83','')
df22['Year']=df22['Year'].str.replace('-84','')
df22['Year']=df22['Year'].str.replace('-85','')
df22['Year']=df22['Year'].str.replace('-86','')
df22['Year']=df22['Year'].str.replace('-87','')
df22['Year']=df22['Year'].str.replace('-88','')
df22['Year']=df22['Year'].str.replace('-89','')
df22['Year']=df22['Year'].str.replace('-90','')
df22['Year']=df22['Year'].str.replace('-91','')
df22['Year']=df22['Year'].str.replace('-92','')
df22['Year']=df22['Year'].str.replace('-93','')
df22['Year']=df22['Year'].str.replace('-94','')
df22['Year']=df22['Year'].str.replace('-95','')
df22['Year']=df22['Year'].str.replace('-96','')
df22['Year']=df22['Year'].str.replace('-97','')
df22['Year']=df22['Year'].str.replace('-98','')
df22['Year']=df22['Year'].str.replace('-99','')
df22['Year']=df22['Year'].str.replace('-02','')
df22['Year']=df22['Year'].str.replace('-03','')
df22['Year']=df22['Year'].str.replace('-04','')
df22['Year']=df22['Year'].str.replace('-05','')
df22['Year']=df22['Year'].str.replace('-06','')
df22['Year']=df22['Year'].str.replace('-07','')
df22['Year']=df22['Year'].str.replace('-08','')
df22['Year']=df22['Year'].str.replace('-09','')
df22['Year']=df22['Year'].str.replace('-16','')
df22['Year']=df22['Year'].str.replace('-17','')
df22['Year']=df22['Year'].str.replace('-18','')
df22['Year']=df22['Year'].str.replace('-19','')
df22['Year']=df22['Year'].str.replace('-20','')
df22['Year']=df22['Year'].str.replace('-21','')
df22['Year']=df22['Year'].str.replace('-22','')
df22['Year']=df22['Year'].str.replace('-91','')
df22['Year']=df22['Year'].str.replace('-92','')
df22['Year']=df22['Year'].str.replace('-93','')
df22['Year']=df22['Year'].str.replace('-94','')
df22['Year']=df22['Year'].str.replace('-95','')
df22['Year']=df22['Year'].str.replace('-96','')
df22['Year']=df22['Year'].str.replace('-97','')
df22['Year']=df22['Year'].str.replace('-98','')
df22['Year']=df22['Year'].str.replace('-99','')
df22['Year']=df22['Year'].str.replace('-00','')
df22['Year']=df22['Year'].str.replace('-01','')
df22['Year']=df22['Year'].str.replace('-10','')
df22['Year']=df22['Year'].str.replace('-12','')
df22['Year']=df22['Year'].str.replace('-11','')
df22['Year']=df22['Year'].str.replace('-13','')
df22['Year']=df22['Year'].str.replace('-14','')
df22['Year']=df22['Year'].str.replace('-15','')
df22['Year']=df22['Year'].str.replace('-23','')
df22=df22[df22.Year!='Year']
df22['Year']=df22['Year'].str.replace("2023-28","2023")
df22['Year']=df22['Year'].str.replace("2023-29","2023")
df22['Year']=df22['Year'].str.replace("2023-26","2023")
df22['Year']=df22['Year'].str.replace("2023-27","2023")
df22['Year']=df22['Year'].str.replace("2023-24","2023")
df22['Year']=df22['Year'].str.replace("2023-30","2023")
df22['Year']=df22['Year'].str.replace("2023-31","2023")
df22=df22.astype({"Year":float})
df22['yearz']=df22['Year']
for season in df22.Year.unique():
    tdsz[str(season)]={}
for season in oldconfs.Year.unique():
    tdsz[str(season)]={}
import requests
msqe13=[]
msqe14=[]
msqe15=[]
msqe={}

df22=df22.astype({'PTS':float,'OPP':float,'Schl':'string','Opp':'string'})
df22['OT']=0
df22= df22.drop_duplicates()
mova={}
dm={}
confdf=pd.read_csv("https://github.com/easella/ncaah/blob/main/ncaabconfs.csv?raw=true")
confdf=confdf.astype({"School":"string"})
confdf= confdf[confdf['School'].notna()]
oldconfs=pd.read_csv("https://ontheroadtovote.com/ncaab/old.csv")
oldconfs=oldconfs.astype({"School":"string"})

df22['Year'].replace(23,2023.0,inplace=True)
print("standings")

df22['neutral']=df22['neutral'].replace(" True",True)
df22['neutral']=df22['neutral'].replace("True ",True)
oldconfs=oldconfs[oldconfs['Rk'].notna()]
yr=requests.get("https://ontheroadtovote.com/ncaab/steams.json")
yr=yr.json()
oldconfs=oldconfs.astype({"School":"string"})
df22['neutral']=df22['neutral'].str.replace("w","False")
df22=df22.replace("Sam Houston State","Sam Houston")
df22=df22.drop_duplicates()
for team in yr:
    oldconfs=oldconfs.replace(team,yr[team])
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/coaches2.csv")
coaches={}
confs={}
for i in range(1892,1950):
    coaches[i]={}
    confs[i]={}
for row in oldconfs.itertuples():
    s=row.School
    s=s.replace("FDU",'Fairleigh Dickinson')
    s=s.replace("UCF","Central Florida")
    confs[row.Year][s]=row.Conf

for row in df.itertuples():
    coaches[float(row.Year)][row.School]=row.Coach
currSeason=1896

for game in oldconfs.itertuples():
    season=float(game.Year)
    
    
    if(season)>currSeason:
        lseason=season-1
        for key in eloLeague.ratingDict.keys():
            eloLeague.ratingDict[key]=(eloLeague.ratingDict[key]*0.65)+(1500*0.35)
                
            
        currSeason=season
    eloLeague.ratingDict[game.School]+=(game.W*25)
    eloLeague.ratingDict[game.School]-=(game.L*25)
print('done')
cd={}
for year in confdf.Year.unique():
    cd[year]={}
for row in confdf.itertuples():
    cd[year][row.School]={}
    cd[year][row.School]['w']=0
    cd[year][row.School]['l']=0
rest={}
didp=0
currSeason=1948
df22=df22.astype({"Venue":"string","yearz":"string","neutral":"string"})
df22=df22[df22.Date<str(date.today())]
hfa=[]
df22=df22[df22.PTS!=1]
df22[df22.PTS!=0]
df22=df22[df22.PTS!=2]
df22[df22.PTS!=2]
df22=df22.drop_duplicates()
nn=df22[df22.neutral=='False']
for row in nn.itertuples():
    if row.Venue=='vs':
        if row.Schl in years[row.Year]:
            diff=row.PTS-row.OPP
            hfa.append(diff)
    else:
        if row.Opp in years[row.Year]:
            diff=row.OPP-row.PTS
            hfa.append(diff)
print(len(hfa))
hfa=np.mean(hfa) 
hfa=round(hfa)
hfa=hfa*25
restz=[]
df22=df22.drop_duplicates()
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/coaches.csv")
df=df.replace("USC",'Southern California')
df=df.replace("NYU",'New York University')
df=df.replace("St. Peter's","Saint Peter's")
coaches={}

for i in range(1949,2024):
    coaches[i]={}
df=df.replace("UT-Martin","Tennessee-Martin")
for row in df.itertuples():
    coaches[float(row.Year)][row.School]=row.Coach
ap={}
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ap.csv")
df=df.replace("USC",'Southern California')
df=df.replace("NYU",'New York University')
df=df.replace("St. Peter's","Saint Peter's")
coaches[1950]['Gettysburg']='Henry T. Bream'
coaches[1973]['Northern Colorado']='Thurm Wright'
coaches[1974]['Northern Colorado']='Thurm Wright'
coaches[1975]['Northern Colorado']='Thurm Wright'
coaches[1976]['Northern Colorado']='Thurm Wright'
coaches[1977]['Northern Colorado']='Thurm Wright'
coaches[1950]['Gettysburg']='Henry T. Bream'
coaches[2001]['Lipscomb']='Scott Sanderson'
coaches[2002]['Lipscomb']='Scott Sanderson'
for i in range(1961,2024):
    ap[i]={}
hfa=75
df=df.replace("UT-Martin","Tennessee-Martin")
for row in df.itertuples():
    ap[float(row.Year)][row.School]=row.Pre
for i in range(9,22):
    msqe[str(i)]=set()

hbcus={}
arr={}
for i in range(1973,2024):
    hbcus[float(i)]=[]
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/cbbstandings.csv")
confs={}
for i in range(1949,2025):
    confs[i]={}
df=df.replace("PCC (North)","PCC")
df=df.replace("PCC (South)","PCC")
df=df.replace("Mid-Atl (Eastern)","Mid-Atl")
df=df.replace("Mid-Atl (Western)","Mid-Atl")
df=df.replace("Mid-Atl (East)","Mid-Atl")
df=df.replace("Mid-Atl (West)","Mid-Atl")
df=df.replace("ECC (West)","ECC")
df=df.replace("ECC (East)","ECC")
df=df.replace("ECBL (East)","ECBL")
df=df.replace("ECBL (West)","ECBL")
df=df.replace("EAA (West)","EAA")
df=df.replace("EAA (East)","EAA")
df=df.replace("ECACM (North)","ECACM")
df=df.replace("ECACM (South)","ECACM")
df=df.replace("A-10 (East)","A-10")
df=df.replace("A-10 (West)","A-10")
df=df.replace("MAAC (South)","MAAC")
df=df.replace("MAAC (North)","MAAC")
df=df.replace("CUSA (Blue)","CUSA")
df=df.replace("CUSA (Red)","CUSA")
df=df.replace("CUSA (White)","CUSA")
df=df.replace("Big East (East)","Big East")
df=df.replace("MAC (East)","MAC")
df=df.replace("SEC (East)","SEC")
df=df.replace("Southern (North)",'Southern')
df=df.replace("Southern (South)","Southern")
df=df.replace("WAC (Pacific)","WAC")
df=df.replace("CUSA (National)","CUSA")
df=df.replace("TAAC (East)","TAAC")
df=df.replace("Sun Belt (West)","Sun Belt")
df=df.replace("TAAC (West)","TAAC")
df=df.replace("A-Sun (North)","A-Sun")
df=df.replace("MAC (West)","MAC")
df=df.replace("Big East (West)","Big East")
df=df.replace("SEC (West)","SEC")
df=df.replace("Southland (West)","Southland")
df=df.replace("Southland (East)","Southland")
df=df.replace("OVC (East)","OVC")
df=df.replace("OVC (West)","OVC")
df=df.replace("Big South (North)","Big South")
df=df.replace("Big South (South)","Big South")
df=df.replace("A-Sun (East)","A-Sun")
df=df.replace("Patriot (Central)","Patriot")
df=df.replace("WAC (Mountain)","WAC")
df=df.replace("CUSA (American)","CUSA")
df=df.replace("Big West (West)","Big West")
df=df.replace("CUSA (East)","CUSA")
df=df.replace("Patriot (North)","Patriot")
df=df.replace("CUSA (West)","CUSA")
df=df.replace("A-Sun (West)","A-Sun")
df=df.replace("Patriot (South)","Patriot")
df=df.replace("A-Sun (South)","A-Sun")
df=df.replace("MEAC (Southern)","MEAC")
df=df.replace("MEAC (Northern)","MEAC")
df=df.replace("Sun Belt (East)","Sun Belt")
df=df.replace("Big West (West)","Big West")
df=df.replace("Big West (East)","Big West")
df=df.replace("Big East (Big East 6)","Big East")
df=df.replace("Big East (Big East 7)","Big East")
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
for row in standings.itertuples():
    if float(row.Year)>1948:
        confs[float(row.Year)][str(row.Schl)]=str(row.Conference)
for row in df.itertuples():
    s=row.School
    s=s.replace("FDU",'Fairleigh Dickinson')
    s=s.replace("UCF","Central Florida")
    confs[row.Year][s]=row.Conf
    


df22['Schl']=df22['Schl'].str.replace("Savannah St","Savannah State")
df22['Opp']=df22['Opp'].str.replace("Savannah St","Savannah State")
df22['Schl']=df22['Schl'].replace("Birmingham So","Birmingham-Southern")
df22['Opp']=df22['Opp'].replace("Birmingham So","Birmingham-Southern")
df22=df22.replace("Texas Christian",'TCU')
df22=df22.sort_values(by='Date')
preds={}
swac=['Grambling','Alcorn State',"Jackson State",'Prairie View','Texas Southern','Arkansas-Pine Bluff','Southern','Bethune-Cookman','Alabama State','Florida A&M','Alabama A&M','Mississippi Valley State']
meac=['North Carolina Central','Coppin State','Maryland-Eastern Shore','Norfolk State','Howard','South Carolina State','Morgan State','Delaware State']
for i in range(1949,1973):
    hbcus[i]=[]
confy={}
for conf in set(df.Conf.tolist()):
    confy[conf]=[]

confy={}
for conf in set(df.Conf.tolist()):
    confy[conf]={}
for row in df.itertuples():
    confy[row.Conf][float(row.Year)]=[]
for row in df.itertuples():
    confy[row.Conf]=[]
for game in df22.itertuples():
    if game.Schl in years[game.Year] and game.Opp in years[game.Year]:
        
        if confs[float(game.Year)][game.Schl]!=confs[float(game.Year)][game.Opp]:
            sconf=confs[float(game.Year)][game.Schl]
            confy[sconf].append(game.PTS-game.OPP)
            oconf=confs[float(game.Year)][game.Opp]
            confy[oconf].append(game.OPP-game.PTS)
df22=df22.replace("Savannah Stateate","Savannah State")

eloLeague.addPlayer("Savannah State",rating=1500)
hfas={}
df22['neutral']=df22['neutral'].fillna("False")
for game in df22.itertuples():
    
    if game.Schl in years[game.Year] and game.Opp in years[game.Year]:
        if game.neutral==True or game.neutral=='True':
            m=1
        else:
            
            sc=confs[game.Year][game.Schl]
            oc=confs[game.Year][game.Opp]
            if sc not in hfas:
                hfas[sc]=[]
            if oc not in hfas:
                hfas[oc]=[]
            if game.Venue!='@':
                hfas[sc].append(game.PTS-game.OPP)
            else:
                hfas[oc].append(game.OPP-game.PTS)
j=[]
import numpy as np
for key in hfas:
    j.append(np.mean(hfas[key]))
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/cbbrank.csv")

pwr={}
keys={}
for i in range(2011,2025):
    pwr[i]={}

arrz=[]
for key in hfas:
    
    hfas[key]=(np.mean(hfas[key])*0.50)
    hfas[key]=(hfas[key])*25
    hfas[key]=round(hfas[key],-1)
import pandas as pd
from bs4 import BeautifulSoup
import requests
arr=[]
for i in range(2015,2025):
    
    url="https://barttorvik.com/trank-time-machine.php?year="+str(i)
    print(url)
    html=requests.get(url).text
    soup=BeautifulSoup(html)
    for tr in soup.find("table").find_all("tr"):
        if 'Rec' not in str(tr) and 'time' in str(tr):
            schl=tr.find_all("td")[1].text
            schl=schl.replace(" St."," State")
            arr.append([schl,tr.find_all("td")[3].text,tr.find_all("td")[4].text,tr.find_all("td")[6].text,tr.find_all("td")[8].text,tr.find_all("td")[11].text,tr.find_all("td")[9].text,i-1,tr.find_all("td")[0].text])
df=pd.DataFrame(arr,columns=['Schl','Record','OFF','DEF','Pwr','?','ProjRecord','Year','Rank'])
df=df.replace("Arkansas Little Rock","Little Rock")
df=df.replace("Arkansas Pine Bluff",'Arkansas-Pine Bluff')
df=df.replace("Bethune Cookman","Bethune-Cookman")
df=df.replace("Louisiana Monroe","Louisiana-Monroe")
df=df.replace("BYU","Brigham Young")
df=df.replace("Cal Baptist","California Baptist")
df=df.replace("Bowling Green","Bowling Green State")
df=df.replace("Detroit","Detroit Mercy")
df=df.replace("Dixie State","Utah Tech")
df=df.replace("Fort Wayne","Purdue Fort Wayne")
df=df.replace("Loyola Chicago","Loyola (IL)")
df=df.replace("Queens","Queens (NC)")
df=df.replace("Detroit","Detroit Mercy")
df=df.replace("Albany","Albany (NY)")
df=df.replace("Central Connecticut","Central Connecticut State")
df=df.replace("North Carolina State","NC State")
df=df.replace("Nebraska Omaha","Omaha")
df=df.replace("USC Upstate","South Carolina Upstate")
df=df.replace("Tennessee Martin","Tennessee-Martin")
df=df.replace("Saint John's (NY)","St. John's (NY)")
df=df.replace("Mount State Mary's","Mount St. Mary's")
df=df.replace("Sam Houston State","Sam Houston")
df=df.replace("LSU","Louisiana State")
df=df.replace("Maryland Eastern Shore","Maryland-Eastern Shore")
df=df.replace("Loyola MD","Loyola (MD)")
df=df.replace("Illinois Chicago","Illinois-Chicago")
df=df.replace("FIU","Florida International")
df=df.replace("IPFW","Purdue Fort Wayne")
df=df.replace("Houston Baptist","Houston Christian")
df=df.replace("Gardner Webb","Gardner-Webb")
df=df.replace("Grambling State","Grambling")
df=df.replace("St. Francis NY","St. Francis (NY)")
df=df.replace("Southern Miss","Southern Mississippi")
df=df.replace("UMass Lowell","Massachusetts-Lowell")
df=df.replace("Tennessee Martin","Tennessee-Martin")
df=df.replace("Texas A&M Corpus Chris","Texas A&M-Corpus Christi")
df=df.replace("Texas A&M Commerce","Texas A&M-Commerce")
df=df.replace("Nebraska Omaha","Omaha")
df=df.replace("UCF","Central Florida")
df=df.replace("UMKC","Kansas City")
df=df.replace("UMBC","Maryland-Baltimore County")
df=df.replace("UNLV","Nevada-Las Vegas")
df=df.replace("USC","Southern California")
df=df.replace("St. John's","St. John's (NY)")
df=df.replace("St. Francis PA","Saint Francis (PA)")
df=df.replace("UT Rio Grande Valley","Texas-Rio Grande Valley")
df=df.replace('USC Upstate',"South Carolina Upstate")
df=df.replace("LSU","Louisiana State")
df=df.replace("LIU Brooklyn","Long Island University")
df=df.replace("Miami OH","Miami (OH)")
df=df.replace("Miami FL","Miami (FL)")
df=df.replace("Louisiana Lafayette","Louisiana")
df=df.replace("Mount State Mary's","Mount Saint Mary's")
df=df.replace("Penn","Pennsylvania")
df=df.replace("SIU Edwardsville","Southern Illinois-Edwardsville")
df=df.replace("SMU","Southern Methodist")
df=df.replace("Prairie View A&M","Prairie View")
df=df.replace("Saint Mary's","Saint Mary's (CA)")
df=df.replace("Sam Houston State","Sam Houston")
df=df.replace("Albany","Albany (NY)")
df=df.replace("VMI","Virginia Military Institute")
df=df.replace("VCU","Virginia Commonwealth")
df=df.replace("Queens","Queens (NC)")
df=df.replace("North Carolina State","NC State")
for row in df.itertuples():
    pwr[float(row.Year)][row.Schl]=float(row.Rank)
ranks={}
for i in range(2014,2025):
    ranks[float(i)]={}
for row in df.itertuples():
    ranks[float(row.Year)][row.Schl]=str(row.ProjRecord)
df22['nond1game']=False
for row in df22.itertuples():
    if row.Schl not in years[float(row.Year)] or row.Opp not in years[float(row.Year)]:
        df22.at[row.Index,'nond1game']=True
df22=df22[df22.nond1game==False]
df22 = df22.drop('Yearz', axis=1)
df22 = df22.drop('yearz', axis=1)
df22 = df22.drop('OT', axis=1)
df22=df22.drop_duplicates()
eloLeague = Elo(k = kval)
print("go through games")
for key in set(df22.Schl.tolist()+df22.Opp.tolist()):
    eloLeague.addPlayer(key,rating=1500)
did=[]
for row in df22.itertuples():
    if row.Schl not in did:
        num=round(np.mean(confy[confs[row.Year][row.Schl]]))
        num=num*25
        eloLeague.addPlayer(row.Schl,rating=1500+num)
        did.append(row.Schl)
    if row.Opp not in did:
        num=round(np.mean(confy[confs[row.Year][row.Opp]]))
        num=num*25
        eloLeague.addPlayer(row.Opp,rating=1500+num)
        did.append(row.Opp)
for game in df22.itertuples():
    s=game.Schl
    o=game.Opp
    o=o.strip()
    s=s.strip()
    season=game.Year
    if s not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(s,rating=1500)
    if o not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(o,rating=1500)
    while (season)>currSeason: 
        games=0
        rest={}
        confz={}
        m=[]
        if game.Year>2013:
            for key in pwr[game.Year]:
                m.append(pwr[game.Year][key])
            m=np.mean(m)
        
        for key in eloLeague.ratingDict.keys():
            if  season>1960 and key in ap[season]:
                if str(ap[season][key]).strip()!='nan':
                    app=((25/ap[season][key])*25)
                    app=app*0.65
                    eloLeague.ratingDict[key]+=app
        
        for conf in confs[game.Year]:
            if conf not in eloLeague.ratingDict.keys():
                eloLeague.addPlayer(conf,rating=1500)
        for key in confs[game.Year]:
            conf=confs[game.Year][key]
            if conf not in confz:
                confz[conf]=[]
            if key not in eloLeague.ratingDict.keys():
                eloLeague.addPlayer(key,rating=1500)
            confz[conf].append(eloLeague.ratingDict[key])
        for key in eloLeague.ratingDict.keys():
            
            
            if key in years[game.Year]:
                if game.Year>2013:
                    r=pwr[game.Year][key]
                    rat=len(pwr[game.Year].keys())-(r-1)
                    eloLeague.ratingDict[key]+=(rat*(0.65))
                    win=ranks[float(game.Year)][key]
                    loss=win.split("-")[1]
                    win=win.split("-")[0]
                    win=float(win)
                    loss=float(loss)
                    num=(win*5)-(loss*5)
                    eloLeague.ratingDict[key]+=0*(num*(0.65))
                numz=np.mean(confy[confs[game.Year][key]])
                numz=round(float(numz))*25
                
                
                num=1500+numz
        for key in eloLeague.ratingDict.keys():
            
            if key  in years[game.Year]:
                num=np.mean(confz[confs[float(game.Year)][key]])
                num=1500+num
                num=num/2
                eloLeague.ratingDict[key]=(eloLeague.ratingDict[key]*0.65)+(num*0.35)
                eloLeague.ratingDict[key]=(eloLeague.ratingDict[key]*0.65)+(1500*0.35)
            
                
                 
                    
        currSeason+=1
        if game.Year==2023:
            for key in years[2023]:
                arrz.append([key,confs[game.Year][key],eloLeague.ratingDict[key]])
    
    sp=0
    op=0
    s=str(game.Schl)
    o=str(game.Opp)
    o=o.strip()
    s=s.strip()
    
    if (game.Schl in swac or game.Opp in swac)and(str(o) in years[2023] and str(s) in years[2023])and('2023' in str(game.Year)):
        if 'True' in str(game.neutral):
            hf=0
            
        
        if game.Venue=='@' and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Opp]]
            hr=eloLeague.ratingDict[game.Schl]
            ar=eloLeague.ratingDict[game.Opp]+hf
        if game.Venue=='vs'  and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Schl]]
            hr=eloLeague.ratingDict[game.Schl]+hf
            ar=eloLeague.ratingDict[game.Opp]
        if hr>ar:
            spread=round((hr-ar)/17)
            if spread==0:
                spread=1
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            name="On "+str(game.Date)+" "+str(game.Schl)+" beats "+str(game.Opp)+" by "+str(spread)
            keys[name]=game.Date   
        if ar>hr:
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            spread=round((ar-hr)/17)
            if spread==0:
                spread=1
            
            name="On "+str(game.Date)+" "+str(game.Opp)+" beats "+str(game.Schl)+" by "+str(spread)
            keys[name]=game.Date            
        
    hf=75
    if(game.Venue=='@'):
        if game.Opp not in years[game.Year]:
            hf=50
    else:
        if game.Schl not in years[game.Year]:
            hf=50
    t1r=0
    t2r=0
    games+=1
    k=25
    k=round(k)
    if(game.PTS>game.OPP):
        
        homezz=0
        
        if(game.Venue!='@'):
            winnerHomez=True
            if game.Schl in years[game.Year]:
                hf=hfas[confs[game.Year][game.Schl]]
            else:
                hf=50
        if(game.Venue=='@'):
            winnerHomez=False
            if game.Opp in years[game.Year]:
                hf=hfas[confs[game.Year][game.Opp]]
            else:
                hf=50
        if 'True'  in str(game.neutral):
            hf=0
        
        if(winnerHomez==True):
            t1e=eloLeague.ratingDict[game.Schl]+homezz-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]-op+t2r
            if(eloLeague.ratingDict[game.Schl]+homezz-sp>eloLeague.ratingDict[game.Opp]-op):
                w+=1
            if(eloLeague.ratingDict[game.Schl]+homezz-sp<eloLeague.ratingDict[game.Opp]-op):
                l+=1
        if(winnerHomez!=True):
            t1e=eloLeague.ratingDict[game.Schl]-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]+homezz-op+t2r
            if(eloLeague.ratingDict[game.Schl]-sp>eloLeague.ratingDict[game.Opp]+homezz-op):
                w+=1
            if(eloLeague.ratingDict[game.Schl]-sp<eloLeague.ratingDict[game.Opp]+homezz-op):
                l+=1  
        
        eloLeague.gameOver(s,o,winnerHomez,game.neutral,game.PTS,game.OPP,game.Year,game.Date,sp,op,hf,k)
    if(game.PTS<game.OPP):
        homezz=0
        
        if(game.Venue=='@'):
            if game.Schl in years[game.Year]:
                hf=hfas[confs[game.Year][game.Schl]]
            else:
                hf=50
            winnerHomez=True
        if(game.Venue!='@'):
            if game.Opp in years[game.Year]:
                hf=hfas[confs[game.Year][game.Opp]]
            else:
                hf=50
            winnerHomez=False
        if 'True'  in str(game.neutral):
            homezz=0
        if(winnerHomez==True):
            t1e=eloLeague.ratingDict[game.Schl]-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]+homezz-op+t2r
            if(eloLeague.ratingDict[game.Schl]-sp>eloLeague.ratingDict[game.Opp]+homezz-op):
                l+=1
            if(eloLeague.ratingDict[game.Schl]-sp<eloLeague.ratingDict[game.Opp]+homezz-op):
                w+=1
            
        
        if(winnerHomez!=True):
            t1e=eloLeague.ratingDict[game.Schl]+homezz-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]-op+t2r
            if(eloLeague.ratingDict[game.Schl]+homezz-sp>eloLeague.ratingDict[game.Opp]-op):
                l+=1
            if(eloLeague.ratingDict[game.Schl]+homezz-sp<eloLeague.ratingDict[game.Opp]-op):
                w+=1
        
        eloLeague.gameOver(o,s,winnerHomez,game.neutral,game.OPP,game.PTS,game.Year,game.Date,op,sp,hf,k)
    d1=(s in years[game.Year] or o in years[game.Year])
    for i in range(9,22):
        spread=abs((t1e-t2e)/float(i))
        spread=round(spread)
        if spread==0:
            spread=1
        ms=(float(game.PTS)-float(game.OPP))-spread
        
        msz = np.square(ms)
        if d1==True:
            msqe[str(i)].add(msz)
        
import numpy as np
msqez={}
for i in range(9,22):
    msqez[str(i)]=0
for i in range(9,22):
    msqez[str(i)]=sum(msqe[str(i)])/len(msqe[str(i)])
mas=min(msqez, key=msqez.get)
print("--- %s seconds ---" % (time.time() - start_time))

done files
no
neutral
home
playoff
[False  True]
[ True False]
['2024-03-22', ' Purdue', ' 78', ' Grambling', '  50', ' P', '  Indianapolis', '  IN ']
  IN

In [64]:
game.Year

1949.0

-13.697330385988778

In [68]:
rh={}
u=[]
for team in years[2023]:
    rh[team]=(eloLeague.ratingDict[team])
    u.append(eloLeague.ratingDict[team])
rh=sorted(rh, key=rh.get, reverse=True)
i=1
print(np.mean(u))
print("Rank||Team||Points Above d1 Average")
for key in rh:
    print(str(i)+"  "+key+"  "+str(eloLeague.ratingDict[key]-np.mean(u))+"")
    i+=1

1608.8734496660777
Rank||Team||Points Above d1 Average
1  Connecticut  507.0511113320672
2  Purdue  405.03286011840123
3  Houston  361.66899262724746
4  Auburn  346.0295559037829
5  Iowa State  345.6817681837049
6  Gonzaga  327.1983882901927
7  Illinois  317.2488442950157
8  North Carolina  307.52437144602504
9  Duke  307.23641352467916
10  Tennessee  301.98002598718153
11  Arizona  300.3999060344422
12  Alabama  279.1876843672205
13  Creighton  275.20874013957473
14  Saint Mary's (CA)  270.0340588108254
15  Marquette  268.46758646701755
16  San Diego State  267.69437643288416
17  NC State  238.82072154778393
18  Florida Atlantic  234.25662359127614
19  Colorado  231.33880001889247
20  Indiana State  230.9257120701709
21  Grand Canyon  229.19850610256094
22  Kentucky  228.86147010611967
23  Drake  224.82636677672212
24  Nevada  224.41387707711374
25  Florida  223.83755571781103
26  New Mexico  222.5982429820906
27  Texas A&M  221.18231080577152
28  James Madison  219.72646724719948
29  Texas  218.88058735707864
30  Baylor  217.947813171922
31  Utah State  214.82619853699475
32  Clemson  213.04718229214654
33  Dayton  212.33968040429704
34  Seton Hall  201.93009172149095
35  Michigan State  199.0193254704127
36  Colorado State  198.214031909632
37  Wisconsin  197.02253534819147
38  Brigham Young  195.95028319534958
39  Mississippi State  195.5514043263497
40  Washington State  195.40408985807153
41  Oregon  193.88025854233365
42  Texas Tech  191.70175872228197
43  Memphis  190.27303857920447
44  Kansas  189.11041747280865
45  College of Charleston  187.77819869139148
46  St. John's (NY)  183.02572276545584
47  Northwestern  181.30333058234532
48  Pittsburgh  180.6333511283167
49  Nebraska  177.04396598046947
50  Ohio State  175.15849513393573
51  Boise State  174.05706657885617
52  Vermont  173.84667475473907
53  Cincinnati  172.82835525515475
54  Virginia Commonwealth  161.52312692968917
55  Duquesne  159.89737945138359
56  Princeton  158.48737095169395
57  UC Irvine  156.83698368148976
58  South Carolina  155.5328869805935
59  Samford  155.5189450058333
60  TCU  154.69044673225608
61  San Francisco  153.19925710261987
62  Yale  153.03261745562872
63  Bradley  151.69507585206816
64  Appalachian State  151.22845330166592
65  Utah  144.24403033139288
66  Villanova  143.99697622715144
67  South Florida  143.29062230695763
68  UAB  140.2848135403151
69  Wake Forest  137.82628311567305
70  Oklahoma  137.6803216077476
71  North Texas  132.69658373964353
72  Nevada-Las Vegas  128.29942717913696
73  Iowa  127.29203554737205
74  Providence  125.78068149525143
75  McNeese State  122.8804740863718
76  Loyola (IL)  119.28958538440634
77  Kansas State  117.95636763051948
78  Cornell  116.89991232341367
79  Richmond  113.6889586697041
80  Xavier  110.25575327712158
81  Seattle  109.69193293165335
82  Washington  107.95847211302862
83  Boston College  106.44467708660113
84  UCLA  106.2759314277846
85  Colgate  105.75463094428687
86  Hofstra  104.16593037634061
87  Central Florida  103.26719998225076
88  Louisiana Tech  102.98380188197552
89  Massachusetts  102.93072089298244
90  Sam Houston  101.9038054800726
91  Virginia Tech  101.84471443179382
92  UT Arlington  101.44078118257858
93  Southern California  99.89324619270633
94  Saint Joseph's  98.09075678095473
95  Maryland  95.12133045511246
96  Akron  94.83438993304344
97  Southern Methodist  93.40293885427013
98  Santa Clara  93.39220603407125
99  High Point  93.21987300940145
100  Virginia  92.70393623550808
101  Belmont  91.27551857923959
102  Tarleton State  90.86236332957446
103  Morehead State  89.78518067433811
104  Penn State  85.10373615970502
105  South Dakota State  84.5167221529714
106  George Mason  84.12771305531737
107  Indiana  82.51820166296011
108  Arkansas State  81.25172685611983
109  Western Kentucky  80.41130506865898
110  Ohio  77.40134523475308
111  Toledo  74.99669759737048
112  UNC Wilmington  74.31971348661432
113  Massachusetts-Lowell  72.40191941538114
114  St. Bonaventure  72.03810842175653
115  Charlotte  71.6471002714984
116  Oakland  70.84448099798419
117  Syracuse  67.87559677591071
118  Northern Iowa  66.84355514702179
119  Drexel  65.16788768434412
120  Western Carolina  64.66152403606134
121  Youngstown State  63.776316295579136
122  Eastern Washington  63.2644139103686
123  Butler  60.727810623350706
124  Mississippi  58.258452726531914
125  Troy  58.23019258086674
126  Georgia  52.4496472668734
127  Quinnipiac  49.32272598295481
128  Florida State  49.006203076287875
129  Arkansas  48.53849587987406
130  UC San Diego  47.87504229282399
131  Louisiana State  47.70394817701208
132  UNC Asheville  46.358106563633555
133  Southern Illinois  45.78451961875908
134  Chattanooga  45.74093054036598
135  Minnesota  45.074382917988714
136  Wright State  43.85777131642021
137  Towson  43.453414462663204
138  Furman  42.64824806582078
139  Fairfield  41.843956825909345
140  Hawaii  40.86507156983589
141  Long Beach State  37.092027883315495
142  UNC Greensboro  36.710587328815336
143  Stanford  35.043255345242414
144  Lipscomb  31.99877559504057
145  Bryant  31.610074458689724
146  Kent State  31.532325218763617
147  UC Davis  26.836795258600205
148  Montana  26.4802229181621
149  Rutgers  25.358592647824935
150  Longwood  23.021811773664467
151  Wichita State  20.303220612209998
152  UTEP  16.457298562894266
153  Norfolk State  14.991864060659964
154  Louisiana  14.828377257403872
155  Weber State  14.663500492722733
156  Missouri State  14.348930036270076
157  Oklahoma State  14.022068020429288
158  Liberty  13.935025436122714
159  St. Thomas  13.405628168549583
160  Purdue Fort Wayne  12.608624337857009
161  Utah Valley  11.419998054214602
162  Wyoming  10.925298688460316
163  Stony Brook  10.874037732009128
164  Davidson  9.83392246744097
165  Miami (FL)  9.537774381918098
166  Tulane  5.015273535283086
167  Northern Kentucky  3.8385208529159627
168  Little Rock  3.5699477157015735
169  Texas State  3.4724342586275725
170  Arizona State  1.7357031864030432
171  Stephen F. Austin  1.513662053188682
172  Merrimack  0.6752840064659722
173  Stetson  -1.7674286083617972
174  Brown  -2.962111351225758
175  Eastern Kentucky  -3.757477426352125
176  East Tennessee State  -4.930718592428093
177  Temple  -7.497261059744915
178  Grambling  -8.366358687745105
179  Saint Peter's  -8.911415188307956
180  Montana State  -9.258826020205106
181  Cleveland State  -10.830537838658302
182  Milwaukee  -11.446898001315503
183  Delaware  -11.965707580268827
184  Texas A&M-Corpus Christi  -12.167662196574383
185  California  -13.742463082091035
186  Rider  -13.850539636841177
187  Notre Dame  -13.872201812313278
188  Tennessee-Martin  -18.31001824521377
189  South Alabama  -21.57820543965977
190  UC Riverside  -22.02745529785807
191  Abilene Christian  -23.01303486165739
192  UC Santa Barbara  -23.521990987154595
193  Nicholls State  -24.51436467243684
194  Marist  -24.56822436241555
195  Iona  -28.218897487265167
196  Wofford  -29.261423051251313
197  North Dakota  -29.89851921923946
198  Kansas City  -30.525905876422712
199  Monmouth  -31.07473433711516
200  Georgia Tech  -31.30359345059037
201  La Salle  -31.448947855530605
202  Saint Louis  -31.74562755036368
203  Murray State  -33.12510613311542
204  Northern Colorado  -35.25399147467624
205  Fordham  -35.952868801722616
206  Mercer  -37.4913027648704
207  Loyola Marymount  -37.940164941072226
208  Florida Gulf Coast  -40.23057183399624
209  West Virginia  -41.44059843754462
210  Gardner-Webb  -42.46653053509817
211  East Carolina  -42.57096306270478
212  Harvard  -43.33347997963256
213  Oregon State  -45.013523071910186
214  Illinois State  -47.285957441665914
215  Winthrop  -47.293438622669555
216  Michigan  -47.84145295024359
217  Howard  -49.58998196466678
218  Central Connecticut State  -50.22925309019547
219  Bowling Green State  -50.46551535033359
220  Radford  -50.67434322850113
221  Pepperdine  -51.415212301860265
222  California Baptist  -51.899091939460504
223  Cal State Fullerton  -52.359428641750355
224  Mount St. Mary's  -54.703296621672735
225  Lehigh  -54.768132451742076
226  North Florida  -56.71799411825782
227  Tulsa  -57.60735427487566
228  Texas Southern  -58.22217423491588
229  Lamar  -58.96473031932669
230  San Diego  -59.20291597487926
231  Maine  -59.277961143838866
232  North Carolina Central  -59.58688993726423
233  Austin Peay  -59.77554177957177
234  Jacksonville State  -60.822780918965236
235  Pennsylvania  -63.556281068419594
236  Western Illinois  -64.45309633037459
237  Marshall  -64.92265693630065
238  Missouri  -66.34632901633222
239  Niagara  -67.98836130120708
240  Fresno State  -69.01194098476412
241  Queens (NC)  -69.9454920228975
242  Vanderbilt  -70.88271213680855
243  North Alabama  -71.19053598083315
244  Southern Mississippi  -73.47498113215579
245  Cal State Bakersfield  -75.6329885067014
246  Boston University  -75.88741594458065
247  Cal State Northridge  -76.15173562187965
248  Jacksonville  -76.76945711954568
249  Bucknell  -77.06279898462208
250  Kennesaw State  -77.0965296123743
251  Wagner  -78.43360392108048
252  George Washington  -79.0060744692696
253  Georgia State  -79.30859947245881
254  Ball State  -80.04803012175398
255  Middle Tennessee  -80.73712305641243
256  New Hampshire  -82.94624105519233
257  North Dakota State  -83.61423710495046
258  Central Michigan  -83.71648279823421
259  Canisius  -84.07428490189409
260  Idaho State  -84.50978123485879
261  Alcorn State  -85.18641716340994
262  Rice  -87.00023198890699
263  Portland State  -88.25089385328306
264  Rhode Island  -88.38519756651363
265  Binghamton  -90.25887881017297
266  Oral Roberts  -90.43859408719914
267  Portland  -90.54229121334743
268  Green Bay  -92.91168849603605
269  Tennessee State  -93.16631086476468
270  Sacred Heart  -93.34020212747396
271  Miami (OH)  -93.90831742587602
272  Northeastern  -95.43613397317131
273  San Jose State  -95.60157211471574
274  American  -96.9327389026414
275  Southern Utah  -98.64379325436789
276  Maryland-Baltimore County  -98.93565553328699
277  Evansville  -99.5638055409463
278  Albany (NY)  -100.02861622643763
279  Illinois-Chicago  -100.31453947881528
280  Columbia  -100.50042922138982
281  Air Force  -100.61238222575935
282  Georgia Southern  -101.48195425945732
283  Le Moyne  -103.24009684912767
284  Southern  -104.29682951746076
285  Southern Illinois-Edwardsville  -106.91641545127845
286  Omaha  -108.48041517365618
287  Florida International  -111.65375451648742
288  Jackson State  -115.20470806268827
289  Denver  -115.58265735394093
290  New Mexico State  -118.52039779353981
291  Bethune-Cookman  -123.12751163324037
292  Navy  -123.22621955972522
293  Presbyterian  -124.53874247782824
294  Delaware State  -126.39095856405811
295  Campbell  -127.54780972787034
296  Georgetown  -127.6841084469263
297  UTSA  -130.16918217300213
298  Utah Tech  -131.6061227548871
299  South Carolina State  -136.38913913657575
300  Northern Arizona  -141.21328180703858
301  Louisiana-Monroe  -141.33350572952395
302  Fairleigh Dickinson  -141.47505196288625
303  Western Michigan  -144.01052141477703
304  Old Dominion  -144.56347813151547
305  South Carolina Upstate  -144.84523638841142
306  Northern Illinois  -147.2648581323831
307  Southeastern Louisiana  -147.67040778812816
308  Alabama A&M  -150.30935310697214
309  Louisville  -154.06541184406024
310  The Citadel  -158.3249570828782
311  Robert Morris  -161.08247888107485
312  Lafayette  -163.77777615949822
313  Chicago State  -164.22403778226612
314  Bellarmine  -164.50436341064847
315  Elon  -165.20910649111374
316  Sacramento State  -176.14471191752955
317  Northwestern State  -178.2485686188702
318  Eastern Michigan  -181.35709944485916
319  Eastern Illinois  -181.51038646338702
320  South Dakota  -182.83057847578334
321  William & Mary  -183.80770301339862
322  Morgan State  -184.19832575694727
323  Charleston Southern  -184.68368086026908
324  Coastal Carolina  -184.99119136103945
325  Tennessee Tech  -186.7862267820792
326  Texas A&M-Commerce  -187.86786023028458
327  Alabama State  -192.37111703302912
328  Dartmouth  -196.28366117467567
329  Idaho  -198.49018335944947
330  Arkansas-Pine Bluff  -199.08026955331275
331  DePaul  -203.99571187828838
332  Valparaiso  -205.61227965996613
333  Maryland-Eastern Shore  -207.02295083565764
334  Holy Cross  -208.2112800554794
335  Army  -215.57475646886542
336  Manhattan  -216.44992751711902
337  Southern Indiana  -220.18051602606897
338  Prairie View  -222.7351378894366
339  Central Arkansas  -227.4374220763575
340  NJIT  -227.7766665541335
341  Hampton  -229.62992598066558
342  New Orleans  -230.30941089017279
343  Long Island University  -234.81656532957595
344  Loyola (MD)  -237.87314988645448
345  Florida A&M  -240.35184886706634
346  Southeast Missouri State  -250.9804711211723
347  North Carolina A&T  -254.75312086694066
348  Texas-Rio Grande Valley  -255.01258939430818
349  Buffalo  -260.5216472871573
350  Pacific  -266.77906032957276
351  Saint Francis (PA)  -267.1477776036297
352  Detroit Mercy  -275.15716662484533
353  Lindenwood  -276.3510336217871
354  Siena  -281.900743537783
355  Incarnate Word  -282.4884227227328
356  Cal Poly  -282.6993061228932
357  Stonehill  -289.32315690560836
358  Houston Christian  -300.9289883157412
359  Coppin State  -311.46201337787306
360  Virginia Military Institute  -322.0905700230571
361  IUPUI  -326.56706515351766
362  Mississippi Valley State  -360.91209600617117

In [8]:
((eloLeague.ratingDict['Creighton']+hfas['Big East'])-(eloLeague.ratingDict['North Dakota State']))/17

31.367814212910815

In [135]:
a=df22[(df22.Schl=='Andrews')|(df22.Opp=='Andrews')]
a[a.Year==2023]

,Schl,Opp,PTS,OPP,Year,Date,neutral,Venue,Yearz,yearz,OT
541463,Lake Michigan,Andrews,92.0,53.0,2023.0,2023-11-04 00:00:00,False,@,2023.0,2023.0,0
542169,Purdue Fort Wayne,Andrews,130.0,34.0,2023.0,2023-11-09 00:00:00,False,vs,2023.0,2023.0,0
543805,Indiana NW,Andrews,83.0,30.0,2023.0,2023-11-14 00:00:00,False,vs,2023.0,2023.0,0
544273,SW Michigan,Andrews,65.0,51.0,2023.0,2023-11-16 00:00:00,False,vs,2023.0,2023.0,0
548259,Andrews,Moody Bib,96.0,79.0,2023.0,2023-12-02 00:00:00,False,vs,2023.0,2023.0,0
549005,Grace Chr,Andrews,104.0,46.0,2023.0,2023-12-05 00:00:00,False,vs,2023.0,2023.0,0
550180,SW Michigan,Andrews,70.0,41.0,2023.0,2023-12-09 00:00:00,False,@,2023.0,2023.0,0
554539,Mia-Middletown,Andrews,69.0,60.0,2023.0,2024-01-07 00:00:00,False,@,2023.0,2023.0,0
555444,Grinnell,Andrews,166.0,95.0,2023.0,2024-01-12 00:00:00,False,vs,2023.0,2023.0,0
556279,Union NE,Andrews,69.0,62.0,2023.0,2024-01-13 00:00:00,False,vs,2023.0,2023.0,0
556350,SW Adventist,Andrews,85.0,52.0,2023.0,2024-01-14 00:00:00,False,vs,2023.0,2023.0,0
557180,Kuyper,Andrews,81.0,53.0,2023.0,2024-01-18 00:00:00,False,@,2023.0,2023.0,0
558194,Kent-Tusc,Andrews,101.0,47.0,2023.0,2024-01-21 00:00:00,False,vs,2023.0,2023.0,0
560438,Great Lakes Chr,Andrews,86.0,51.0,2023.0,2024-01-30 00:00:00,False,@,2023.0,2023.0,0
561990,Grace Chr,Andrews,98.0,48.0,2023.0,2024-02-03 00:00:00,False,@,2023.0,2023.0,0
563209,Kent-Tusc,Andrews,89.0,57.0,2023.0,2024-02-09 00:00:00,False,@,2023.0,2023.0,0
564861,Andrews,Moody Bib,76.0,59.0,2023.0,2024-02-15 00:00:00,False,@,2023.0,2023.0,0
565885,Cin Clermont,Andrews,75.0,48.0,2023.0,2024-02-17 00:00:00,False,vs,2023.0,2023.0,0
565987,Mia-Middletown,Andrews,98.0,64.0,2023.0,2024-02-18 00:00:00,False,vs,2023.0,2023.0,0
566144,Great Lakes Chr,Andrews,94.0,50.0,2023.0,2024-02-20 00:00:00,False,vs,2023.0,2023.0,0
567549,Cin Clermont,Andrews,95.0,67.0,2023.0,2024-02-24 00:00:00,False,@,2023.0,2023.0,0

In [119]:
eloLeague.ratingDict['Culinary Inst']

1221.582266105058

In [19]:
df22=df22.replace("True?","True")
df22=df22.replace("Fale","False")
df22=df22.replace("Falsee","False")
df22=df22.replace("Fase","False")
df22=df22.replace("Fasle","False")
df22=df22.replace("False?","False")
df22=df22.replace("Fals","False")
df22.neutral.unique()

<StringArray>
['False', 'True']
Length: 2, dtype: string

In [99]:
for key in keys:
    name=1
    print(key)

On 2023-11-06 00:00:00 Missouri beats Arkansas-Pine Bluff by 35
On 2023-11-06 00:00:00 Mississippi beats Alabama State by 28
On 2023-11-06 00:00:00 Arkansas beats Alcorn State by 30
On 2023-11-06 00:00:00 Louisiana State beats Mississippi Valley State by 34
On 2023-11-06 00:00:00 Memphis beats Jackson State by 32
On 2023-11-06 00:00:00 Minnesota beats Bethune-Cookman by 20
On 2023-11-06 00:00:00 New Mexico beats Texas Southern by 18
On 2023-11-06 00:00:00 TCU beats Southern by 36
On 2023-11-07 00:00:00 Creighton beats Florida A&M by 42
On 2023-11-08 00:00:00 Seattle beats Prairie View by 20
On 2023-11-08 00:00:00 Nevada-Las Vegas beats Southern by 23
On 2023-11-08 00:00:00 San Diego beats Jackson State by 6
On 2023-11-09 00:00:00 North Alabama beats Alabama A&M by 11
On 2023-11-09 00:00:00 Nebraska beats Florida A&M by 30
On 2023-11-10 00:00:00 Iowa beats Alabama State by 37
On 2023-11-10 00:00:00 Oklahoma beats Mississippi Valley State by 41
On 2023-11-10 00:00:00 Washington State beats Prairie View by 25
On 2023-11-10 00:00:00 California Baptist beats Jackson State by 13
On 2023-11-10 00:00:00 Colorado beats Grambling by 18
On 2023-11-11 00:00:00 Arizona State beats Texas Southern by 20
On 2023-11-13 00:00:00 Arizona beats Southern by 34
On 2023-11-13 00:00:00 Central Arkansas beats Arkansas-Pine Bluff by 1
On 2023-11-14 00:00:00 Abilene Christian beats Prairie View by 18
On 2023-11-14 00:00:00 Florida beats Florida A&M by 32
On 2023-11-14 00:00:00 Arkansas State beats Alcorn State by 5
On 2023-11-14 00:00:00 Connecticut beats Mississippi Valley State by 55
On 2023-11-14 00:00:00 Loyola Marymount beats Jackson State by 16
On 2023-11-16 00:00:00 UAB beats Alcorn State by 26
On 2023-11-16 00:00:00 Tulsa beats Jackson State by 6
On 2023-11-16 00:00:00 Virginia beats Texas Southern by 30
On 2023-11-17 00:00:00 Grambling beats Delaware State by 21
On 2023-11-17 00:00:00 Western Illinois beats Southern by 2
On 2023-11-17 00:00:00 Memphis beats Alabama State by 40
On 2023-11-17 00:00:00 TCU beats Mississippi Valley State by 48
On 2023-11-18 00:00:00 Arkansas-Pine Bluff beats Incarnate Word by 3
On 2023-11-18 00:00:00 Creighton beats Texas Southern by 32
On 2023-11-18 00:00:00 Lipscomb beats Alabama A&M by 18
On 2023-11-19 00:00:00 Tennessee-Martin beats Prairie View by 8
On 2023-11-19 00:00:00 Missouri beats Jackson State by 28
On 2023-11-19 00:00:00 Michigan State beats Alcorn State by 29
On 2023-11-19 00:00:00 Iowa State beats Grambling by 23
On 2023-11-19 00:00:00 Illinois beats Southern by 29
On 2023-11-20 00:00:00 Oregon beats Florida A&M by 29
On 2023-11-20 00:00:00 Bethune-Cookman beats Charleston Southern by 1
On 2023-11-20 00:00:00 Santa Clara beats Mississippi Valley State by 35
On 2023-11-21 00:00:00 Minnesota beats Arkansas-Pine Bluff by 20
On 2023-11-21 00:00:00 Eastern Kentucky beats Prairie View by 15
On 2023-11-21 00:00:00 Auburn beats Alabama A&M by 36
On 2023-11-21 00:00:00 Oral Roberts beats Texas Southern by 15
On 2023-11-21 00:00:00 TCU beats Alcorn State by 32
On 2023-11-22 00:00:00 UT Arlington beats Alcorn State by 10
On 2023-11-22 00:00:00 Sam Houston beats Grambling by 10
On 2023-11-22 00:00:00 Samford beats Alabama State by 23
On 2023-11-24 00:00:00 East Tennessee State beats Alabama A&M by 5
On 2023-11-24 00:00:00 Bethune-Cookman beats Lamar by 5
On 2023-11-24 00:00:00 North Carolina A&T beats Alabama State by 2
On 2023-11-24 00:00:00 Troy beats Grambling by 7
On 2023-11-24 00:00:00 Clemson beats Alcorn State by 30
On 2023-11-24 00:00:00 Ball State beats Arkansas-Pine Bluff by 15
On 2023-11-24 00:00:00 Cal State Northridge beats Mississippi Valley State by 12
On 2023-11-25 00:00:00 Bethune-Cookman beats Delaware State by 8
On 2023-11-25 00:00:00 Valparaiso beats Southern by 4
On 2023-11-25 00:00:00 Merrimack beats Alabama State by 12
On 2023-11-25 00:00:00 Georgetown beats Jackson State by 11
On 2023-11-25 00:00:00 Drake beats Texas Southern by 25
On 2023-11-25 00:00:00 Cleveland State beats Alabama A&M by 18
On 2023-11-26 00:00:00 Pacific beats Mississippi Valley State by 24
On 2023-11-26 00:00:00 Longwood beats Bethune-Cookman by 19
On 2023-11-28 00:00:00 Marquette beats Southern by 38
On 2023-11-28 00:00:00 Purdue beats Texas Southern by 37
On 2023-11-28 00:00:00 Arkansas State beats Jackson State by 8
On 2023-11-29 00:00:00 Tulane beats Prairie View by 20
On 2023-11-29 00:00:00 Tennessee State beats Alabama A&M by 10
On 2023-11-30 00:00:00 Oklahoma beats Arkansas-Pine Bluff by 34
On 2023-12-01 00:00:00 Bethune-Cookman beats Incarnate Word by 1
On 2023-12-02 00:00:00 North Texas beats Mississippi Valley State by 42
On 2023-12-02 00:00:00 Vanderbilt beats Alabama A&M by 24
On 2023-12-02 00:00:00 Dayton beats Grambling by 23
On 2023-12-03 00:00:00 Mississippi State beats Southern by 31
On 2023-12-05 00:00:00 Gonzaga beats Arkansas-Pine Bluff by 46
On 2023-12-05 00:00:00 Liberty beats Mississippi Valley State by 42
On 2023-12-06 00:00:00 Presbyterian beats Florida A&M by 9
On 2023-12-09 00:00:00 Southern beats Southeastern Louisiana by 1
On 2023-12-09 00:00:00 Georgia Tech beats Alabama A&M by 25
On 2023-12-09 00:00:00 Houston beats Jackson State by 43
On 2023-12-09 00:00:00 Bethune-Cookman beats South Carolina State by 1
On 2023-12-09 00:00:00 Connecticut beats Arkansas-Pine Bluff by 48
On 2023-12-10 00:00:00 Iowa State beats Prairie View by 28
On 2023-12-10 00:00:00 Virginia Commonwealth beats Alcorn State by 24
On 2023-12-10 00:00:00 Washington State beats Grambling by 21
On 2023-12-11 00:00:00 Gonzaga beats Mississippi Valley State by 55
On 2023-12-11 00:00:00 Samford beats Alabama A&M by 24
On 2023-12-12 00:00:00 Northern Iowa beats Prairie View by 13
On 2023-12-12 00:00:00 Maryland beats Alcorn State by 27
On 2023-12-12 00:00:00 South Florida beats Arkansas-Pine Bluff by 18
On 2023-12-13 00:00:00 UAB beats Alabama A&M by 20
On 2023-12-13 00:00:00 Louisiana State beats Alabama State by 24
On 2023-12-14 00:00:00 Drake beats Grambling by 26
On 2023-12-16 00:00:00 Iowa beats Florida A&M by 24
On 2023-12-16 00:00:00 Howard beats Jackson State by 8
On 2023-12-16 00:00:00 Chattanooga beats Alabama A&M by 12
On 2023-12-16 00:00:00 Tulane beats Southern by 20
On 2023-12-16 00:00:00 Texas Southern beats North Carolina A&T by 14
On 2023-12-16 00:00:00 Purdue Fort Wayne beats Bethune-Cookman by 15
On 2023-12-17 00:00:00 Northern Iowa beats Alcorn State by 15
On 2023-12-17 00:00:00 Jackson State beats North Carolina A&T by 7
On 2023-12-17 00:00:00 Howard beats Texas Southern by 6
On 2023-12-17 00:00:00 Iowa State beats Florida A&M by 36
On 2023-12-19 00:00:00 Southern California beats Alabama State by 25
On 2023-12-19 00:00:00 Tulsa beats Mississippi Valley State by 22
On 2023-12-19 00:00:00 Drake beats Alcorn State by 30
On 2023-12-20 00:00:00 Grambling beats Southeastern Louisiana by 1
On 2023-12-20 00:00:00 Rice beats Prairie View by 10
On 2023-12-20 00:00:00 Gonzaga beats Jackson State by 37
On 2023-12-20 00:00:00 Chicago State beats Bethune-Cookman by 6
On 2023-12-21 00:00:00 South Alabama beats Alabama A&M by 20
On 2023-12-21 00:00:00 George Washington beats Alcorn State by 12
On 2023-12-21 00:00:00 Central Florida beats Florida A&M by 31
On 2023-12-21 00:00:00 Samford beats Texas Southern by 13
On 2023-12-22 00:00:00 Baylor beats Mississippi Valley State by 48
On 2023-12-22 00:00:00 Auburn beats Alabama State by 38
On 2023-12-22 00:00:00 Florida beats Grambling by 24
On 2023-12-28 00:00:00 UTSA beats Prairie View by 1
On 2023-12-29 00:00:00 Northwestern beats Jackson State by 27
On 2023-12-29 00:00:00 South Florida beats Alabama State by 18
On 2023-12-29 00:00:00 Central Florida beats Bethune-Cookman by 30
On 2023-12-30 00:00:00 San Francisco beats Mississippi Valley State by 38
On 2023-12-30 00:00:00 Georgia beats Alabama A&M by 25
On 2023-12-30 00:00:00 South Carolina beats Florida A&M by 27
On 2023-12-30 00:00:00 Texas A&M beats Prairie View by 32
On 2023-12-31 00:00:00 Mississippi State beats Bethune-Cookman by 37
On 2024-01-06 00:00:00 Arkansas-Pine Bluff beats Alabama A&M by 4
On 2024-01-06 00:00:00 Alabama State beats Mississippi Valley State by 9
On 2024-01-06 00:00:00 Southern beats Texas Southern by 3
On 2024-01-06 00:00:00 Grambling beats Prairie View by 6
On 2024-01-06 00:00:00 Bethune-Cookman beats Florida A&M by 4
On 2024-01-06 00:00:00 Jackson State beats Alcorn State by 4
On 2024-01-08 00:00:00 Southern beats Prairie View by 6
On 2024-01-08 00:00:00 Alabama A&M beats Mississippi Valley State by 8
On 2024-01-08 00:00:00 Arkansas-Pine Bluff beats Alabama State by 1
On 2024-01-08 00:00:00 Grambling beats Texas Southern by 5
On 2024-01-11 00:00:00 Jackson State beats Alabama State by 2
On 2024-01-11 00:00:00 Alcorn State beats Alabama A&M by 2
On 2024-01-13 00:00:00 Southern beats Florida A&M by 9
On 2024-01-13 00:00:00 Texas Southern beats Arkansas-Pine Bluff by 10
On 2024-01-13 00:00:00 Prairie View beats Mississippi Valley State by 17
On 2024-01-13 00:00:00 Alcorn State beats Alabama State by 1
On 2024-01-13 00:00:00 Jackson State beats Alabama A&M by 6
On 2024-01-13 00:00:00 Grambling beats Bethune-Cookman by 5
On 2024-01-15 00:00:00 Texas Southern beats Mississippi Valley State by 20
On 2024-01-15 00:00:00 Grambling beats Florida A&M by 9
On 2024-01-15 00:00:00 Alabama State beats Alabama A&M by 1
On 2024-01-15 00:00:00 Southern beats Bethune-Cookman by 7
On 2024-01-20 00:00:00 Texas Southern beats Alcorn State by 1
On 2024-01-20 00:00:00 Arkansas-Pine Bluff beats Florida A&M by 5
On 2024-01-20 00:00:00 Grambling beats Southern by 3
On 2024-01-20 00:00:00 Bethune-Cookman beats Mississippi Valley State by 10
On 2024-01-20 00:00:00 Jackson State beats Prairie View by 6
On 2024-01-22 00:00:00 Jackson State beats Texas Southern by 2
On 2024-01-22 00:00:00 Florida A&M beats Mississippi Valley State by 6
On 2024-01-22 00:00:00 Arkansas-Pine Bluff beats Bethune-Cookman by 1
On 2024-01-22 00:00:00 Alcorn State beats Prairie View by 1
On 2024-01-27 00:00:00 Alcorn State beats Florida A&M by 4
On 2024-01-27 00:00:00 Texas Southern beats Alabama A&M by 11
On 2024-01-27 00:00:00 Prairie View beats Alabama State by 3
On 2024-01-27 00:00:00 Grambling beats Mississippi Valley State by 25
On 2024-01-27 00:00:00 Southern beats Arkansas-Pine Bluff by 10
On 2024-01-27 00:00:00 Jackson State beats Bethune-Cookman by 5
On 2024-01-29 00:00:00 Grambling beats Arkansas-Pine Bluff by 13
On 2024-01-29 00:00:00 Southern beats Mississippi Valley State by 23
On 2024-01-29 00:00:00 Texas Southern beats Alabama State by 6
On 2024-01-29 00:00:00 Jackson State beats Florida A&M by 8
On 2024-01-29 00:00:00 Prairie View beats Alabama A&M by 8
On 2024-01-29 00:00:00 Alcorn State beats Bethune-Cookman by 1
On 2024-02-03 00:00:00 Southern beats Alcorn State by 1
On 2024-02-03 00:00:00 Alabama A&M beats Florida A&M by 2
On 2024-02-03 00:00:00 Texas Southern beats Prairie View by 1
On 2024-02-03 00:00:00 Arkansas-Pine Bluff beats Mississippi Valley State by 12
On 2024-02-03 00:00:00 Alabama State beats Bethune-Cookman by 5
On 2024-02-03 00:00:00 Jackson State beats Grambling by 1
On 2024-02-05 00:00:00 Grambling beats Alcorn State by 2
On 2024-02-05 00:00:00 Alabama State beats Florida A&M by 8
On 2024-02-05 00:00:00 Prairie View beats Arkansas-Pine Bluff by 3
On 2024-02-05 00:00:00 Southern beats Jackson State by 1
On 2024-02-05 00:00:00 Bethune-Cookman beats Alabama A&M by 2
On 2024-02-10 00:00:00 Grambling beats Alabama State by 9
On 2024-02-10 00:00:00 Arkansas-Pine Bluff beats Alcorn State by 1
On 2024-02-10 00:00:00 Southern beats Alabama A&M by 14
On 2024-02-10 00:00:00 Texas Southern beats Florida A&M by 10
On 2024-02-10 00:00:00 Bethune-Cookman beats Prairie View by 1
On 2024-02-10 00:00:00 Jackson State beats Mississippi Valley State by 15
On 2024-02-12 00:00:00 Grambling beats Alabama A&M by 14
On 2024-02-12 00:00:00 Alcorn State beats Mississippi Valley State by 16
On 2024-02-12 00:00:00 Southern beats Alabama State by 9
On 2024-02-12 00:00:00 Prairie View beats Florida A&M by 4
On 2024-02-12 00:00:00 Texas Southern beats Bethune-Cookman by 4
On 2024-02-12 00:00:00 Jackson State beats Arkansas-Pine Bluff by 1
On 2024-02-17 00:00:00 Texas Southern beats Grambling by 2
On 2024-02-17 00:00:00 Southern beats Prairie View by 5
On 2024-02-17 00:00:00 Alabama State beats Arkansas-Pine Bluff by 4
On 2024-02-17 00:00:00 Alabama A&M beats Mississippi Valley State by 16
On 2024-02-17 00:00:00 Alcorn State beats Bethune-Cookman by 5
On 2024-02-17 00:00:00 Jackson State beats Florida A&M by 12
On 2024-02-19 00:00:00 Southern beats Texas Southern by 1
On 2024-02-19 00:00:00 Alabama A&M beats Arkansas-Pine Bluff by 1
On 2024-02-19 00:00:00 Grambling beats Prairie View by 4
On 2024-02-19 00:00:00 Alcorn State beats Florida A&M by 13
On 2024-02-19 00:00:00 Alabama State beats Mississippi Valley State by 18
On 2024-02-19 00:00:00 Jackson State beats Bethune-Cookman by 6
On 2024-02-24 00:00:00 Arkansas-Pine Bluff beats Prairie View by 1
On 2024-02-24 00:00:00 Southern beats Grambling by 2
On 2024-02-24 00:00:00 Texas Southern beats Mississippi Valley State by 20
On 2024-02-24 00:00:00 Alabama State beats Florida A&M by 5
On 2024-02-24 00:00:00 Bethune-Cookman beats Alabama A&M by 4
On 2024-02-24 00:00:00 Alcorn State beats Jackson State by 2
On 2024-02-26 00:00:00 Prairie View beats Mississippi Valley State by 13
On 2024-02-26 00:00:00 Texas Southern beats Arkansas-Pine Bluff by 5
On 2024-02-26 00:00:00 Alabama A&M beats Florida A&M by 2
On 2024-02-26 00:00:00 Bethune-Cookman beats Alabama State by 4
On 2024-03-02 00:00:00 Alabama A&M beats Alabama State by 1
On 2024-03-02 00:00:00 Arkansas-Pine Bluff beats Mississippi Valley State by 16
On 2024-03-02 00:00:00 Alcorn State beats Prairie View by 5
On 2024-03-02 00:00:00 Grambling beats Florida A&M by 16
On 2024-03-02 00:00:00 Texas Southern beats Jackson State by 6
On 2024-03-02 00:00:00 Southern beats Bethune-Cookman by 9
On 2024-03-04 00:00:00 Southern beats Florida A&M by 14
On 2024-03-04 00:00:00 Texas Southern beats Alcorn State by 4
On 2024-03-04 00:00:00 Grambling beats Bethune-Cookman by 9
On 2024-03-04 00:00:00 Jackson State beats Prairie View by 3
On 2024-03-07 00:00:00 Jackson State beats Arkansas-Pine Bluff by 7
On 2024-03-07 00:00:00 Southern beats Alabama State by 6
On 2024-03-07 00:00:00 Alcorn State beats Mississippi Valley State by 24
On 2024-03-07 00:00:00 Grambling beats Alabama A&M by 9
On 2024-03-09 00:00:00 Texas Southern beats Prairie View by 12
On 2024-03-09 00:00:00 Bethune-Cookman beats Florida A&M by 4
On 2024-03-09 00:00:00 Southern beats Alabama A&M by 7
On 2024-03-09 00:00:00 Alcorn State beats Arkansas-Pine Bluff by 10
On 2024-03-09 00:00:00 Jackson State beats Mississippi Valley State by 22
On 2024-03-09 00:00:00 Grambling beats Alabama State by 9
On 2024-03-13 00:00:00 Alcorn State beats Alabama A&M by 10
On 2024-03-13 00:00:00 Grambling beats Alabama State by 8
On 2024-03-14 00:00:00 Southern beats Bethune-Cookman by 7
On 2024-03-14 00:00:00 Texas Southern beats Jackson State by 1
On 2024-03-15 00:00:00 Texas Southern beats Alabama A&M by 6
On 2024-03-15 00:00:00 Grambling beats Bethune-Cookman by 3
On 2024-03-16 00:00:00 Texas Southern beats Grambling by 2
On 2024-03-19 00:00:00 Tarleton State beats Texas Southern by 15
On 2024-03-20 00:00:00 Austin Peay beats Alabama A&M by 13
On 2024-03-20 00:00:00 Montana State beats Grambling by 5
On 2024-03-22 00:00:00 Purdue beats Grambling by 35
On 2024-03-23 00:00:00 Arkansas State beats Bethune-Cookman by 12
On 2024-03-23 00:00:00 Norfolk State beats Alabama A&M by 13

In [100]:
eloLeague.ratingDict['Detroit Mercy']

1447.7717049973644

In [76]:
((eloLeague.ratingDict['Southern']+hfas['SWAC'])-eloLeague.ratingDict['Bethune-Cookman'])/17

4.180125235225887

In [ ]:
df=pd.DataFrame(arrz,columns=['Schl','Conf','Elo'])
df[df.Conf=='SWAC']

In [102]:
eloLeague.ratingDict['Akron']

1882.3283356161496

In [131]:
import pandas as pd
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

In [135]:
df1=pd.concat([df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19],ignore_index=True)
arr=[]
df100=df1.sort_values(by='Date')
df1=df1[['Year','Date','neutral','PTS','OPP','Year','Opp','Schl']]
df1=df1.drop_duplicates()
ys=[]

import sys
for Date in df100.Date.unique():
    times=1
    teams=[]
    
    if '2003' in str(Date):
        sys.exit(1)
    if row.Year not in ys:
        ys.append(row.Year)
        print(row.Year)
    df=df1[df1.Date==Date]
    for row in df.itertuples():
        if row.Schl in teams or row.Opp in teams:
            times+=1
            num=20*times
            date=row.Date+" "+str(num)+":00:00"
        else:
            date=row.Date+" 00:00:00"
        arr.append([row.Schl,date,row.Opp,row.Year,'vs',row.neutral,row.PTS,row.OPP])
        teams.append(row.Schl)
        teams.append(row.Opp)

2002-03
1949-50
1950-51
1951-52
1952-53
1953-54
1954-55
1955-56
1956-57
1957-58
1958-59
1959-60
1960-61
1961-62
1962-63
1963-64
1964-65
1965-66
1966-67
1967-68
1968-69
1969-70
1970-71
1971-72
1972-73
1973-74
1974-75
1975-76
1976-77
1977-78
1978-79
1979-80
1980-81
1981-82
1982-83
1983-84
1984-85
1985-86
1986-87
1987-88
1988-89
1989-90
1990-91
1991-92
1992-93
1993-94
1994-95
1995-96
1996-97
1997-98
1998-99
1999-00
2000-01
2001-02

SystemExit: 1

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3560: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

# d2 scores from 2007 season

In [ ]:
d3urls={"1995":"https://masseyratings.com/scores.php?s=41840&sub=41840&all=1","1996":"https://masseyratings.com/scores.php?s=41841&sub=41841&all=1","1997":"https://masseyratings.com/scores.php?s=41842&sub=41842&all=1","1998":"https://masseyratings.com/scores.php?s=41843&sub=41843&all=1","1999":"https://masseyratings.com/scores.php?s=41844&sub=41844&all=1","2000":"https://masseyratings.com/scores.php?s=41845&sub=41845&all=1","2001":"https://masseyratings.com/scores.php?s=41846&sub=41846&all=1","2002":"https://masseyratings.com/scores.php?s=41847&sub=41847&all=1","2003":"https://masseyratings.com/scores.php?s=41848&sub=41848&all=1","2004":"https://masseyratings.com/scores.php?s=41849&sub=41849&all=1","2005":"https://masseyratings.com/scores.php?s=41850&sub=41850&all=1","2006":"https://masseyratings.com/scores.php?s=68033&sub=68033&all=1","2007":"https://masseyratings.com/scores.php?s=73929&sub=73929&all=1","2008":"https://masseyratings.com/scores.php?s=85513&sub=85513&all=1","2009":"https://masseyratings.com/scores.php?s=94988&sub=94988&all=1","2010":"https://masseyratings.com/scores.php?s=98700&sub=98700&all=1","2011":"https://masseyratings.com/scores.php?s=107811&sub=107811&all=1","2012":"https://masseyratings.com/scores.php?s=181623&sub=181623&all=1","2014":"https://masseyratings.com/scores.php?s=262657&sub=262657&all=1","2015":"https://masseyratings.com/scores.php?s=279541&sub=279541&all=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=286577&all=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=295489&all=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=300937&all=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=308075&all=1","2020":"https://masseyratings.com/scores.php?s=318889&sub=318889&all=1","2021":"https://masseyratings.com/scores.php?s=358435&sub=358435&all=1","2022":"https://masseyratings.com/scores.php?s=384031&sub=384031&all=1","2023":"https://masseyratings.com/scores.php?s=539277&sub=539277&all=1"}
ggg=[]
import os
d2urls={"2020":"https://masseyratings.com/scores.php?s=320158&sub=320158&all=1","2005":"https://masseyratings.com/scores.php?s=41469&sub=41469&all=1","2004":"https://masseyratings.com/scores.php?s=41468&sub=41468&all=1","2006":'https://masseyratings.com/scores.php?s=69587&sub=69587&all=1',"2009":"https://masseyratings.com/scores.php?s=97288&sub=97288&all=1","2011":"https://masseyratings.com/scores.php?s=179268&sub=179268&all=1","2013":"https://masseyratings.com/scores.php?s=203290&sub=203290&all=1","2015":"https://masseyratings.com/scores.php?s=284067&sub=284067&all=1","2016":"https://masseyratings.com/scores.php?s=292154&sub=292154&all=1","2017":"https://masseyratings.com/scores.php?s=298892&sub=298892&all=1","2018":"https://masseyratings.com/scores.php?s=305972&sub=305972&all=1","2021":"https://masseyratings.com/scores.php?s=379387&sub=379387&all=1","2022":"https://masseyratings.com/scores.php?s=500054&sub=500054&all=1"}
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
didp=0
d2urls={"2004":"https://masseyratings.com/scores.php?s=41468&sub=41468&all=1","2005":"https://masseyratings.com/scores.php?s=41469&sub=41469&all=1","2007":"https://masseyratings.com/scores.php?s=74994&sub=74994&all=1","2008":"https://masseyratings.com/scores.php?s=87798&sub=87798&all=1","2010":"https://masseyratings.com/scores.php?s=101140&sub=101140&all=1","2012":"https://masseyratings.com/scores.php?s=193573&sub=193573&all=1","2014":"https://masseyratings.com/scores.php?s=267615&sub=267615&all=1","2019":"https://masseyratings.com/scores.php?s=309912&sub=309912&all=1"}
for key in d2urls:
    print(key)
    
    r = requests.get(d2urls[key])
    soup = BeautifulSoup(r.text, 'lxml')
    
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(BeautifulSoup(r.text, 'lxml'))
    aa=str(aa)
    aa=(aa.split("<hr/><pre>")[1])
    
    aa=aa.replace("               ",",")
    aa=aa.replace("  ",",")
    for i in range(0,10):
        aa=aa.replace(str(i)+" ",str(i)+",")
        
    aa=aa.replace(",,,,,,",",")
    
    q=aa
    
    
    q=q.split("\n")
    for line in q:
        
        
        
        
        
        line=str(line)
        
        
        
        
        if 'Games' not in str(line) and str(line)!='' and '<' not in str(line):
            j=line[1]
            n=False
            line = list(line.split(','))
            if "@" not in str(line):
                n=True
            if didp==0:
                print(line)
                didp=1
            
            if "@" in str(line[1]):
                v="vs"
            else:
                v='@'
            date=str(line[0])
            
            line=str(line)
            line=line.replace("[","")
            line=line.replace("]","")
            line=line.replace("'","")
            line=line.replace('"',"")
            line=line.replace(",@",",")
            line=line.replace("@","")
            line = list(line.split(','))
            lines=[]
            for l in line:
                if l==' ' :
                    m=1
                else:
                    
                    lines.append(l)
                
            
            line=lines
            s=line[1]
            s=s.lstrip()
            s=s.rstrip()
            o=line[3]
            o=o.lstrip()
            o=o.rstrip()
            row=[s,o,line[2],line[4],key,n,date,key,v]
            
                    
            ggg.append(row)
    
d2=pd.DataFrame(ggg,columns=['Schl','Opp','PTS','OPP','Year','neutral','Date','Yearz','Venue'])
print(d2.Year.unique())
d2.to_csv("missingcbb.csv")

In [48]:
tr.find_all("td")

[<td class="left" data-stat="school_name"><a href="/cbb/schools/pacific/men/2024.html">Pacific</a></td>,
 <td class="left" csk="West Coast Conference.09" data-stat="conf_abbr"><a href="/cbb/conferences/wcc/men/2024.html">WCC</a></td>,
 <td class="right" data-stat="wins">6</td>,
 <td class="right" data-stat="losses">26</td>,
 <td class="right" data-stat="win_loss_pct">.188</td>,
 <td class="right iz" data-stat="overall-dum"></td>,
 <td class="right iz" data-stat="wins_conf">0</td>,
 <td class="right" data-stat="losses_conf">16</td>,
 <td class="right iz" data-stat="win_loss_pct_conf">.000</td>,
 <td class="right iz" data-stat="conf-dum"></td>,
 <td class="right" data-stat="pts_per_g">64.1</td>,
 <td class="right" data-stat="opp_pts_per_g">81.4</td>,
 <td class="right iz" data-stat="pts-dum"></td>,
 <td class="right" data-stat="srs">-17.42</td>,
 <td class="right" data-stat="sos">-0.15</td>,
 <td class="right iz" data-stat="ratings-dum"></td>,
 <td class="center iz" csk="999" data-stat="rank_pre"></td>,
 <td class="center iz" csk="999" data-stat="rank_min"></td>,
 <td class="center iz" csk="999" data-stat="rank_final"></td>,
 <td class="right iz" data-stat="ranks-dum"></td>,
 <td class="left iz" data-stat="notes"></td>]

In [49]:
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment

links={}
import time
arr=[]
ys={}
for i in range(1950,2025):
    ys[i]=[]
for i in range(1950,2025):
    print(i)
    links[i]=[]
    html=requests.get("https://www.sports-reference.com/cbb/seasons/men/"+str(i)+"-standings.html")
    print(html.status_code)
    html=html.text
    html=html.replace("<!--","").replace("-->","")
    soup=BeautifulSoup(html,'lxml')
    
    
    y=i-1
    for table in soup.find_all("table"):
        for tr in table.find_all("tr"):
            if "Notes" not in str(tr) and 'Overall' not in str(tr):
                
                
                schl=tr.find_all("td")[0].text
                conf=tr.find_all("td")[1].text
                srs=tr.find_all("td")[13].text
            
                
                arr.append([schl,conf,y,srs])
    time.sleep(5)
    print(len(arr))

1950
200
170
1951
200
342
1952
200
513
1953
200
687
1954
200
861
1955
200
1037
1956
200
1212
1957
200
1388
1958
200
1571
1959
200
1752
1960
200
1933
1961
200
2112
1962
200
2292
1963
200
2472
1964
200
2652
1965
200
2834
1966
200
3021
1967
200
3213
1968
200
3405
1969
200
3604
1970
200
3808
1971
200
4016
1972
200
4238
1973
200
4469
1974
200
4707
1975
200
4946
1976
200
5185
1977
200
5436
1978
200
5697
1979
200
5960
1980
200
6226
1981
200
6491
1982
200
6766
1983
200
7043
1984
200
7318
1985
200
7602
1986
200
7891
1987
200
8181
1988
200
8471
1989
200
8764
1990
200
9057
1991
200
9352
1992
200
9651
1993
200
9950
1994
200
10252
1995
200
10556
1996
200
10868
1997
200
11183
1998
200
11500
1999
200
11818
2000
200
12142
2001
200
12466
2002
200
12794
2003
200
13129
2004
200
13460
2005
200
13795
2006
200
14134
2007
200
14476
2008
200
14822
2009
200
15171
2010
200
15523
2011
200
15874
2012
200
16222
2013
200
16574
2014
200
16928
2015
200
17281
2016
200
17634
2017
200
17987
2018
200
18339
2019
200
18693
2020
200
19047
2021
200
19399
2022
200
19760
2023
200
20123
2024
200
20485

In [55]:
df=pd.DataFrame(arr,columns=['School','Conf','Year','SRS'])
df=df[df.SRS.notna()]
df.to_csv("alld1s.txt")

In [56]:
hfas

{'Ind': 70.0,
 'Yankee': 50.0,
 'Metro NY': 60.0,
 'Southern': 50.0,
 'Big Ten': 100.0,
 'SWC': 70.0,
 'MAC': 60.0,
 'SEC': 100.0,
 'MSAC': 70.0,
 'PCC': 70.0,
 'Big 7': 90.0,
 'WNY3': 80.0,
 'Ivy': 40.0,
 'Mid-3': -0.0,
 'MVC': 80.0,
 'OVC': 50.0,
 'BIAA': 60.0,
 'CBA': 40.0,
 'ACC': 120.0,
 'WCAC': 50.0,
 'Big 8': 110.0,
 'Mid-Atl': 40.0,
 'AAWU': 100.0,
 'WAC': 80.0,
 'Big Sky': 50.0,
 'MCC': 30.0,
 'Pac-8': 100.0,
 'Southland': 50.0,
 'PCAA': 70.0,
 'MEAC': 20.0,
 'ECC': 50.0,
 'Metro': 100.0,
 'ECBL': 100.0,
 'Sun Belt': 60.0,
 'NJNY7': 40.0,
 'EAA': 70.0,
 'SWAC': 40.0,
 'Pac-10': 90.0,
 'TAAC': 50.0,
 'ECACN': 40.0,
 'ECACS': 80.0,
 'ECACM': 40.0,
 'MW City': 40.0,
 'Big East': 100.0,
 'MAAC': 40.0,
 'Mid-Cont': 50.0,
 'A-10': 70.0,
 'GSC': 30.0,
 'Big South': 30.0,
 'MW Coll': 80.0,
 'CAA': 40.0,
 'ASC': 110.0,
 'Big West': 50.0,
 'NAC': 40.0,
 'NEC': 30.0,
 'WCC': 50.0,
 'Patriot': 30.0,
 'GMWC': 160.0,
 'AWC': 20.0,
 'CUSA': 70.0,
 'AEC': 30.0,
 'Big 12': 120.0,
 'MWC': 70.0,
 'Horizon': 40.0,
 'A-Sun': 30.0,
 'Summit': 30.0,
 'GWC': 10.0,
 'Pac-12': 70.0,
 'AAC': 70.0}

##