<a href="https://www.kaggle.com/code/savageopress12345/mechanical-soup-error?scriptVersionId=118868915" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
ty=df22[df22.Year==2023]
points=set(ty.PTS.tolist()+ty.OPP.tolist())
games={}
arr=[]
for row in ty.itertuples():
    if row.PTS>row.OPP:
        name=row.Schl+"||"+row.Opp+"||"+str(row.PTS)+"||"+str(row.OPP)
        games[name]=row.PTS
        arr.append([row.Schl,row.Opp,row.PTS,row.OPP,row.Venue,row.Date])
    if row.PTS<row.OPP:
        name=row.Opp+"||"+row.Schl+"||"+str(row.OPP)+"||"+str(row.PTS)
        games[name]=row.OPP
        arr.append([row.Opp,row.Schl,row.OPP,row.PTS,row.Venue,row.Date])

In [ ]:
import time
start_time = time.time()
print('done files')
import numpy as np
from datetime import datetime
import random
import string
from decimal import Decimal
class Elo:
    def __init__(self,k,g=1,homefield = 110): 
        self.ratingDict={}
        self.k = k
        self.g = g
        self.homefield= homefield
    def addPlayer(self,name,rating = 1500):
        self.ratingDict[name] = rating
    def gameOver(self, winner, loser, winnerHome,neutral,wp,lp,yr,date,hfa,k):
        homef=hfa
        if('True' in str(neutral)):
            homef=0
        if(winnerHome==True):
            
            elod=(eloLeague.ratingDict[winner]+homef)-(eloLeague.ratingDict[loser])
        if(winnerHome!=True):
            
            elod=(eloLeague.ratingDict[winner])-(homef+eloLeague.ratingDict[loser])
        
        elo=float(elod)
        wp=float(wp)
        lp=float(lp)
        o=abs(wp-lp)
        y=float(((o)+3))
        
        mov=((o+3)**0.8)/(7.5+0.006*elod)
        if winnerHome==True:
            
            result = self.expectResult(self.ratingDict[winner]+homef, self.ratingDict[loser])
        else:
            result = self.expectResult(self.ratingDict[winner], self.ratingDict[loser]+homef)
        shift=(self.k*mov)*(1 - result) 
        self.ratingDict[winner]+=shift
        self.ratingDict[loser]-=shift
    def expectResult(self, p1, p2):
        global exp
        exp = (p2-p1)/400
        n2=10
        j=exp
        o=1/((n2**(j))+1)
        return float(o)
import requests
from bs4 import BeautifulSoup,Comment
import re, csv
from bs4 import BeautifulSoup as bs
uteams=requests.get("https://ontheroadtovote.com/ncaaf/caabteams.json").json() 
d2urls={}
d2urls[2001]='https://ontheroadtovote.com/ncaaf/prefbs/2001.html'
for i in range(2002,2024):
    url='https://ontheroadtovote.com/ncaaf/prefbs/masseyratings.com'+str(i)+".webarchive"
    d2urls[str(i)]=url
d2urls[2024]='https://masseyratings.com/scores.php?s=604302&sub=11590&all=1&mode=3&sch=on&format=0'
thearr=[]
abbreviations = ["AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "IA",
    "ID", "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MN", "MO",
    "MS", "MT", "NC", "ND", "NE", "NH", "NJ", "NM", "NV", "NY", "OH", "OK",
    "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VA", "VT", "WA", "WI",
    "WV", "WY", "DC", "AS", "GU", "MP", "PR", "VI"]
import re
import pandas as pd
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
from datetime import date
today=str(date.today())
from datetime import timedelta
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/updatedstandings.csv")
w=0
l=0
names=[]
def replace(n):
    string=n
    for letter in letters:
        string=string.replace(letter+" Stateate",letter+" State")
    return string
names=set()
from datetime import date
today=date.today()
oldconfs=pd.read_csv("https://ontheroadtovote.com/ncaab/old.csv")
import json
hbcus=['Texas Southern','Coppin State','Morgan State','North Carolina Central','Morgan State','Howard','Norfolk State','South Carolina State','Delaware State','Grambling','Southern','Alcorn State','North Carolina A&T','Tennessee State','Chicago State','Hampton','Bethune-Cookman','Alabama A&M','Prairie View A&M','Mississippi Valley State','Alabama State','Arkansas-Pine Bluff','Florida A&M','Jackson State','Maryland-Eastern Shore']
w=0
l=0
from datetime import datetime
df2 = {'Unnamed: 0':'t','Rk':4,'School':'Hiram','Conf':'Independent','Year':1893,'W':1,'L':0}
oldconfs.append(df2,ignore_index=True)
msqe={}
currSeason=2014
for i in range(9,50):
    msqe[str(i)]=set()
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/cbbstandings.csv")
confs={}
for i in range(1949,2025):
    confs[i]={}
df=df.replace("PCC (North)","PCC")
df=df.replace("PCC (South)","PCC")
df=df.replace("Mid-Atl (Eastern)","Mid-Atl")
df=df.replace("Mid-Atl (Western)","Mid-Atl")
df=df.replace("Mid-Atl (East)","Mid-Atl")
df=df.replace("Mid-Atl (West)","Mid-Atl")
df=df.replace("ECC (West)","ECC")
df=df.replace("ECC (East)","ECC")
df=df.replace("ECBL (East)","ECBL")
df=df.replace("ECBL (West)","ECBL")
df=df.replace("EAA (West)","EAA")
df=df.replace("EAA (East)","EAA")
df=df.replace("ECACM (North)","ECACM")
df=df.replace("ECACM (South)","ECACM")
df=df.replace("A-10 (East)","A-10")
df=df.replace("A-10 (West)","A-10")
df=df.replace("MAAC (South)","MAAC")
df=df.replace("MAAC (North)","MAAC")
df=df.replace("CUSA (Blue)","CUSA")
df=df.replace("CUSA (Red)","CUSA")
df=df.replace("CUSA (White)","CUSA")
df=df.replace("Big East (East)","Big East")
df=df.replace("MAC (East)","MAC")
df=df.replace("SEC (East)","SEC")
df=df.replace("Southern (North)",'Southern')
df=df.replace("Southern (South)","Southern")
df=df.replace("WAC (Pacific)","WAC")
df=df.replace("CUSA (National)","CUSA")
df=df.replace("TAAC (East)","TAAC")
df=df.replace("Sun Belt (West)","Sun Belt")
df=df.replace("TAAC (West)","TAAC")
df=df.replace("A-Sun (North)","A-Sun")
df=df.replace("MAC (West)","MAC")
df=df.replace("Big East (West)","Big East")
df=df.replace("SEC (West)","SEC")
df=df.replace("Southland (West)","Southland")
df=df.replace("Southland (East)","Southland")
df=df.replace("OVC (East)","OVC")
df=df.replace("OVC (West)","OVC")
df=df.replace("Big South (North)","Big South")
df=df.replace("Big South (South)","Big South")
df=df.replace("A-Sun (East)","A-Sun")
df=df.replace("Patriot (Central)","Patriot")
df=df.replace("WAC (Mountain)","WAC")
df=df.replace("CUSA (American)","CUSA")
df=df.replace("Big West (West)","Big West")
df=df.replace("CUSA (East)","CUSA")
df=df.replace("Patriot (North)","Patriot")
df=df.replace("CUSA (West)","CUSA")
df=df.replace("A-Sun (West)","A-Sun")
df=df.replace("Patriot (South)","Patriot")
df=df.replace("A-Sun (South)","A-Sun")
df=df.replace("MEAC (Southern)","MEAC")
df=df.replace("MEAC (Northern)","MEAC")
df=df.replace("Sun Belt (East)","Sun Belt")
df=df.replace("Big West (West)","Big West")
df=df.replace("Big West (East)","Big West")
df=df.replace("Big East (Big East 6)","Big East")
df=df.replace("Big East (Big East 7)","Big East")
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
standings=standings.replace("Florida Gulf Cost","Florida Gulf Coast")
for row in standings.itertuples():
    if float(row.Year)>1948:
        confs[float(row.Year)][str(row.Schl)]=str(row.Conference)
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment

links={}
import time
arr=[]
ys={}
for i in range(2025,2026):
    ys[i]=[]
for i in range(2025,2026):
    print(i)
    links[i]=[]
    html=requests.get("https://www.sports-reference.com/cbb/seasons/men/"+str(i)+"-standings.html")
    print(html.status_code)
    html=html.text
    html=html.replace("<!--","").replace("-->","")
    soup=BeautifulSoup(html,'lxml')
    
    
    y=i-1
    for table in soup.find_all("table"):
        for tr in table.find_all("tr"):
            if "Notes" not in str(tr) and 'Overall' not in str(tr):
                
                
                schl=tr.find_all("td")[0].text
                conf=tr.find_all("td")[1].text
                srs=tr.find_all("td")[13].text
            
                
                arr.append([schl,conf,y,srs])
    time.sleep(5)
    print(len(arr))
a=pd.DataFrame(arr,columns=['School','Conf','h','l'])
for row in df.itertuples():
    s=row.School
    s=s.replace("FDU",'Fairleigh Dickinson')
    s=s.replace("UCF","Central Florida")
    confs[float(row.Year)][str(s)]=row.Conf
confs[2024]={}
for row in a.itertuples():
    s=row.School
    s=s.replace("FDU",'Fairleigh Dickinson')
    s=s.replace("UCF","Central Florida")
    confs[float(2024)][str(s)]=row.Conf
preds={}
swac=['Grambling','Alcorn State',"Jackson State",'Prairie View','Texas Southern','Arkansas-Pine Bluff','Southern','Bethune-Cookman','Alabama State','Florida A&M','Alabama A&M','Mississippi Valley State']
meac=['North Carolina Central','Coppin State','Maryland-Eastern Shore','Norfolk State','Howard','South Carolina State','Morgan State','Delaware State']
confy={}
for conf in set(df.Conf.tolist()):
    confy[conf]={}
for row in df.itertuples():
    confy[row.Conf][float(row.Year)]=[]
for row in df.itertuples():
    confy[row.Conf]=[]


kval=20
eloLeague = Elo(k = kval)
print("go through games")
did=[]
rev=0.65
from bs4 import BeautifulSoup
import requests
sep=""
def remove_tags(html):

    # parse html content
    soup = BeautifulSoup(html, "html.parser")

    for data in soup(['style', 'script']):
        # Remove tags
        data.decompose()

    # return data by retrieving the tag content
    return ' '.join(soup.stripped_strings)
years=[1950,1962,1973,1974]
import pandas as pd
yu=[]
from datetime import datetime,timedelta
from time import sleep
#deploy containers
#get URL of the container
from datetime import date
hfas={}
confs[2024]["Texas A&M-Commerce"]="Southland"
keys={}
arr=[]
for i in range(2011,2015):
    url='https://ontheroadtovote.com/ncaaf/prefbs/ys/'+str(i)+"rat.txt"
    df=pd.read_csv(url)
    for row in df.itertuples():
        date=str(row.Date)
        date=date.replace("-","")
        rating=str(row.Rating)
        if "--" in str(rating) and float(row.Year)==2019:
            rating=-0.1
        rat=float(rating)
        arr.append([row.Team,rat,float(row.Year),float(date)])
url='https://ontheroadtovote.com/ncaaf/prefbs/ys/2015-2016rat.txt'
df=pd.read_csv(url)
for row in df.itertuples():
    date=str(row.Date)
    date=date.replace("-","")
    arr.append([row.Team,float(row.Rating),float(row.Year),float(date)])
url='https://ontheroadtovote.com/ncaaf/prefbs/ys/2017-2018rat.txt'
df=pd.read_csv(url)
for row in df.itertuples():
    date=str(row.Date)
    date=date.replace("-","")
    arr.append([row.Team,float(row.Rating),float(row.Year),float(date)]) 
url='https://ontheroadtovote.com/ncaaf/prefbs/ys/2019-2023rat.txt'
df=pd.read_csv(url)
for row in df.itertuples():
    date=str(row.Date)
    date=date.replace("-","")
    rating=str(row.Rating)
    if "--" in str(rating) and float(row.Year)==2019:
        rating=-0.1
    rat=float(rating)
    arr.append([row.Team,rat,float(row.Year),float(date)])
url='https://ontheroadtovote.com/ncaaf/prefbs/ys/posty.txt'
df=pd.read_csv(url)
df=df.astype({"Year":float})
df=df[df.Year>2010]
ratdf=df
for row in df.itertuples():
    date=str(row.Date)
    date=date.replace("-","")
    arr.append([row.Team,float(row.Rating),float(row.Year),float(date)])
years={}
years[2024]=[]
from datetime import date
today=str(date.today())
dates=pd.date_range(start='2025-01-28',end=today)

    
for iz in range(2024,2025):
    print(iz)
    iz=float(iz)
    for date in dates:
        time.sleep(2)
        date=date
        date=str(date)
        date=date
        date=str(date)
        
        
        date=date.replace(" 00:00:00","")
        date=date.replace("-","")
        date=float(date)
        url='https://teamrankings.com/ncaa-basketball/ranking/predictive-by-other/?date='+str(date)
        html=requests.get(url)
        print(html.status_code)
        html=html.text
        soup=BeautifulSoup(html)
        table=soup.find_all("table")[0]
        for tr in table.find_all("tr"):
            if 'Rating' not in str(tr):
                team=tr.find_all("td")[1]
                team=team['data-sort']
                rating=tr.find_all("td")[2].text
                arr.append([team,rating,iz,date])
r=pd.read_csv("https://ontheroadtovote.com/h.txt")
for row in r.itertuples():
    date=str(row.Date)
    date=date.replace("-","")
    arr.append([row.Team,float(row.Rating),float(row.Year),float(date)])
df=pd.DataFrame(arr,columns=['Team','Rating','Year','Date'])
df=pd.DataFrame(arr,columns=['Team','Rating','Year','Date'])
df=df.replace("Abl Christian","Abilene Christian")
df=df.replace("AR Lit Rock","Little Rock")
df=df.replace("Alab A&M","Alabama A&M")
df=df.replace("IPFW","Purdue Fort Wayne")
df=df.replace("N Carolina","North Carolina")
df=df.replace("Hsn Christian","Houston Christian")
df=df.replace("LIU","Long Island University")
df['Team']=df['Team'].str.replace(" St"," State")
df['Team']=df['Team'].str.replace(" Stateate"," State")
df['Team']=df['Team'].str.replace(" Stateate"," State")
df=df.replace("Ark Pine Bl","Arkansas-Pine Bluff")
df=df.replace("Albany","Albany (NY)")
df=df.replace("Boston U","Boston University")
df=df.replace("S Carolina","South Carolina")
df=df.replace("Boston Col","Boston College")
df=df.replace("Beth-Cook","Bethune-Cookman")
df=df.replace("Bowling Grn","Bowling Green")
df=df.replace("Cal Baptist","California Baptist")
df['Team']=df['Team'].str.replace("CS ","Cal State ")
df['Team']=df['Team'].str.replace(" Mich"," Michigan")
df=df.replace("Central Ark","Central Arkansas")
df=df.replace("Central Conn","Central Connecticut")
df=df.replace("Cal State Nrdge","Cal State Northridge")
df=df.replace("Charl South","Charleston Southern")
df=df.replace("Coastal Car","Coastal Carolina")
df=df.replace("Col Charlestn","College of Charleston")
df['Team']=df['Team'].str.replace("E ","Eastern ")
df=df.replace("Eastern Tenn State","East Tennessee State")
df=df.replace("Eastern Michiganigan","Eastern Michigan")
df=df.replace("Eastern Carolina","East Carolina")
df=df.replace("USC","Southern California")
df=df.replace("LSU","Louisiana State")
df=df.replace("Florida Intl","Florida International")
df=df.replace("Fla Atlantic","Florida Atlantic")
df=df.replace("Fla Gulf Cst","Florida Gulf Coast")
df['Team']=df['Team'].str.replace("GA ","Georgia ")
df['Team']=df['Team'].str.replace("Geo ","George ")
df=df.replace("Grd Canyon","Grand Canyon")
df=df.replace("Loyola-Chi","Loyola (IL)")
df=df.replace("Lg Beach State","Long Beach State")
df=df.replace("Incar Word","Incarnate Word")
df=df.replace("IL-Chicago","Illinois-Chicago")
df=df.replace("Gard-Webb","Gardner-Webb")
df=df.replace("Grambling State","Grambling")
df=df.replace("Jksnville State","Jacksonville State")
df=df.replace("James Mad","James Madison")
df=df.replace("LIU-Brooklyn","Long Island University")
df=df.replace("LA Tech","Louisiana Tech")
df=df.replace("F Dickinson","Fairleigh Dickinson")
df=df.replace("Loyola-MD","Loyola (MD)")
df=df.replace("Loyola Mym","Loyola Marymount")
df=df.replace("Mass Lowell","Massachusetts-Lowell")
df=df.replace("Middle Tenn","Middle Tennessee")
df=df.replace("Miss State","Mississippi State")
df=df.replace("Miss Val State","Mississippi Valley State")
df=df.replace("Centenary","Centenary (LA)")
df=df.replace("Maryland BC","Maryland-Baltimore County")
df=df.replace("Maryland ES","Maryland-Eastern Shore")
df['Team']=df['Team'].str.replace("NC-","UNC ")
df['Team']=df['Team'].str.replace("N ","Northern ")
df['Team']=df['Team'].str.replace("Northern Dakota State","North Dakota State")
df['Team']=df['Team'].str.replace("Northern Florida","North Florida")
df['Team']=df['Team'].str.replace("Northern Hampshire","New Hampshire")
df=df.replace("Nicholls","Nicholls State")
df=df.replace("NW State","Northwestern State")
df=df.replace("NC A&T","North Carolina A&T")
df=df.replace("Neb-Omaha","Omaha")
df=df.replace("App State","Appalachian State")
df=df.replace("Miami","Miami (FL)")
df=df.replace("Queens","Queens (NY)")
df=df.replace("NorthernMex State","New Mexico State")
df=df.replace("S Indiana","Southern Indiana")
df=df.replace("S Illinois","Southern Illinois")
df=df.replace("S Alabama","South Alabama")
df=df.replace("S Carolina","South Carolina")
df=df.replace("S Florida","South Florida")
df=df.replace("S Mississippi","Southern Mississippi")
df=df.replace("S Methodist","Southern Methodist")
df=df.replace("S Dakota St","South Dakota State")
df=df.replace("S Car State","South Carolina State")
df=df.replace("Wm & Mary","William & Mary")
df=df.replace("S Utah","Southern Utah")
df=df.replace("SC Upstate","South Carolina Upstate")
df=df.replace("Rob Morris","Robert Morris")
df=df.replace("SEastern Louisiana","Southeastern Louisiana")
df=df.replace("SEastern Missouri","Southeast Missouri State")
df=df.replace("SIU Edward","Southern Illinois-Edwardsville")
df=df.replace("Sac State","Sacramento State")
df=df.replace("Sacred Hrt","Sacred Heart")
df=df.replace("Mount State. Mary's","Mount St. Mary's")
df=df.replace("Sam Hous State","Sam Houston")
df=df.replace("UNC Grnsboro","UNC Greensboro")
df=df.replace("S Dakota State","South Dakota State")
df=df.replace("Citadel","The Citadel")
df=df.replace("VA Tech","Virginia Tech")
df=df.replace("BYU","Brigham Young")
df=df.replace("VCU","Virginia Commonwealth")
df=df.replace("U Mass","Massachusetts")
df=df.replace("NC Central","North Carolina Central")
df=df.replace("W Kentucky","Western Kentucky")
df=df.replace("UCSB","UC Santa Barbara")
df=df.replace("St Peters","Saint Peter's")
df=df.replace("Neb Omaha","Omaha")
df=df.replace("St Fran (NY)","St. Francis (NY)")
df=df.replace("St Fran (PA)","Saint Francis (PA)")
df=df.replace("TNorthern State","Tennessee State")
df=df.replace("TNorthern Martin","Tennessee-Martin")
df=df.replace("UCSB","UC Santa Barbara")
df=df.replace("TX A&M-CC","Texas A&M-Corpus Christi")
df=df.replace("Central Connecticut","Central Connecticut State")
df=df.replace("VMI","Virginia Military Institute")
df=df.replace("U Penn","Pennsylvania")
df=df.replace("Wash State","Washington State")
df=df.replace("TX Southern","Texas Southern")
df=df.replace("TX A&M-Com","Texas A&M-Commerce")
df=df.replace("W Illinois","Western Illinois")
df=df.replace("Loyola Mymt","Loyola Marymount")
df=df.replace("W Georgia","West Georgia")
df=df.replace("UCF","Central Florida")
df=df.replace("W Virginia","West Virginia")
df=df.replace("TNorthern Tech","Tennessee Tech")
df=df.replace("WI-Milwkee","Milwaukee")
df=df.replace("St Marys","Saint Mary's (CA)")
df=df.replace("George Wshgtn","George Washington")
df=df.replace("St Johns","St. John's (NY)")
df=df.replace("W Carolina","Western Carolina")
df=df.replace("Cal State Bakersfld","Cal State Bakersfield")
df=df.replace("UL Monroe","Louisiana-Monroe")
df=df.replace("Northern Mex State","New Mexico State")
df=df.replace("UCSD","UC San Diego")
df=df.replace("W Michiganigan","Western Michigan")
df=df.replace("TNorthern Martin","Tennessee-Martin")
df=df.replace("WI-Grn Bay","Green Bay")
df=df.replace("TX-Pan Am","Texas-Rio Grande Valley")
df=df.replace("Detroit","Detroit Mercy")
df=df.replace("Queens (NY)","Queens (NC)")
df=df.replace("St Josephs","Saint Joseph's")
df=df.replace("St Bonavent","St. Bonaventure")
df=df.replace("Ste F Austin","Stephen F. Austin")
df=df.replace("UNC Wilmgton","UNC Wilmington")
df=df.replace("UNLV","Nevada-Las Vegas")
df=df.replace("TX El Paso","UTEP")
df=df.replace("Bowling Green","Bowling Green State")
df=df.replace("TX Christian","TCU")
df=df.replace("Youngs State","Youngstown State")
df=df.replace("Eastern Washingtn","Eastern Washington")
df=df.replace("TX El Paso","UTEP")
df=df.replace("TX-Arlington","UT Arlington")
df=df.replace("Northeastrn","Northeastern")
df=df.replace("Northern Alabama","North Alabama")
df=df.replace("Mt State Marys","Mount St. Mary's")
df=df.replace("Wins-Salem","Winston-Salem")
df=df.replace("Bowling Green","Bowling Green State")
df=df.replace("TX Christian","TCU")
df=df.replace("TN State","Tennessee State")
df=df.replace("Northern Texas","North Texas")
df=df.replace("AR-Pine Bluff","Arkansas-Pine Bluff")
df=df.replace("Charleston So","Charleston Southern")
df=df.replace("J Madison","James Madison")
df=df.replace("Hawai'i","Hawaii")
df=df.replace("G Washington","George Washington")
df=df.replace("C Arkansas","Central Arkansas")
df=df.replace("Eastern Texas A&M","Texas A&M-Commerce")
df=df.replace("FGCU","Florida Gulf Coast")
df=df.replace("St Bonaventure","St. Bonaventure")
df=df.replace("Charleston","College of Charleston")
df=df.replace("NC Asheville","UNC Asheville")
df=df.replace("Eastern Tennessee State","East Tennessee State")
df=df.replace("Texas So","Texas Southern")
df=df.replace("Georgia So","Georgia Southern")
df=df.replace("SEastern Missouri State","Southeast Missouri State")
df=df.replace("Loyola Chi","Loyola (IL)")
df=df.replace("NC Wilmington","UNC Wilmington")
df=df.replace("Miss Valley State","Mississippi Valley State")
df=df.replace("UMass","Massachusetts")
df=df.replace("Miami OH","Miami (OH)")
df=df.replace("Bethune","Bethune-Cookman")
df=df.replace("Texas A&M-CC","Texas A&M-Corpus Christi")
df=df.replace("UMBC","Maryland-Baltimore County")
df=df.replace("Tenn Tech","Tennessee Tech")
df=df.replace("S Carolina State","South Carolina State")
df=df.replace("St Thomas","St. Thomas")
df=df.replace("Southern Miss","Southern Mississippi")
df=df.replace("Illinois Chicago","Illinois-Chicago")
df=df.replace("C Michiganigan","Central Michigan")
df=df.replace("UConn","Connecticut")
df=df.replace("UT Rio Grande","Texas-Rio Grande Valley")
df=df.replace("UT Martin","Tennessee-Martin")
df=df.replace("Loyola MD","Loyola (MD)")
df=df.replace("McNeese","McNeese State")
df=df.replace("NC Greensboro","UNC Greensboro")
df=df.replace("C Connecticut","Central Connecticut State")
df=df.replace("Saint Mary's","Saint Mary's (CA)")
df=df.replace("SMU","Southern Methodist")
df=df.replace("Penn","Pennsylvania")
df=df.replace("Mt State Mary's","Mount St. Mary's")
df=df.replace("Charleston","College of Charleston")
df=df.replace("Hou Christian","Houston Christian")
df=df.replace("St John's","St. John's (NY)")
df=df.replace("MA Lowell","Massachusetts-Lowell")
df=df.replace("Purdue FW","Purdue Fort Wayne")
df=df.replace("UMass Lowell","Massachusetts-Lowell")
df=df.replace("SF Austin","Stephen F. Austin")
df=df.replace("IU Indy","IUPUI")
df=df.replace("Western Michiganigan","Western Michigan")
df=df.replace("St Francis PA","Saint Francis (PA)")
df=df.replace("Central Michiganigan","Central Michigan")
ratdf=df
for k in set(df.Team.tolist()):
    if k not in confs[2023]:
        print(k)
pwr={}
df=df[df.Year>2012]
df['Team']=df['Team'].str.replace("IU Indy","IUPUI")
df['Team']=df['Team'].str.replace("TX A&M-Com","Texas A&M-Commerce")
for row in df.itertuples():
    if float(row.Year) not in pwr:
        pwr[float(row.Year)]={}
    if row.Date not in pwr[float(row.Year)]:
        pwr[float(row.Year)][row.Date]={}
    if row.Team not in pwr[float(row.Year)][row.Date]:
        pwr[float(row.Year)][row.Date][row.Team]=float(row.Rating)
from datetime import date
from datetime import datetime
today=datetime.today().strftime('%Y%m%d')

confs[2024]['IUPUI']='Horizon'
confs[2024]['Texas A&M-Commerce']='Southland'
del confs[2024]['East Texas A&M']
del confs[2024]['IU Indy']
df22=pd.read_csv("https://ontheroadtovote.com/espnz.txt")
df22=df22.replace("Saint John's","St. John's (NY)")
df22=df22.replace("Nebraska-Omaha","Omaha")
df22=df22.replace("Saint Thomas (MN)","St. Thomas")
arr=[]
for row in df22.itertuples():
    arr.append([row.date,row.home,row.away,row.venue,row.homep,row.awayp,row.season,row.neutral,row.city,row.notes,row.arena])
games=[]
import pandas as pd
import requests
h='g'
arrz=[]
def scores(date,season):
    print(date)
    date=str(date)
    url="https://site.api.espn.com/apis/site/v2/sports/basketball/mens-college-basketball/scoreboard?dates="+date+"&groups=50&limit=360"
    html=requests.get(url)
    print(url)
    html=html.json()
    leagues=html['events']
    y=200
    print(len(leagues))
    for game in leagues:
        
        h=game
        if 'competitions' in str(game):
            t1=game['competitions'][0]['competitors'][0]['team']['shortDisplayName']
            t2=game['competitions'][0]['competitors'][1]['team']['shortDisplayName']
            neutral=game['competitions'][0]['neutralSite']
            att=game['competitions'][0]['attendance']
            time=game['competitions'][0]['date']
            t1s=game['competitions'][0]['competitors'][0]['score']
            t2s=game['competitions'][0]['competitors'][1]['score']
            neutral=str(neutral)
            location='?'
            stime=game['competitions'][0]['startDate']
            if 'address'  in str(game['competitions'][0]):
                if 'state' in str(game['competitions'][0]['venue']['address']):


                    location=game['competitions'][0]['venue']['address']['city']+", "+game['competitions'][0]['venue']['address']['state']
                    venue=game['competitions'][0]['venue']['fullName']
                else:
                    location=game['competitions'][0]['venue']['address']['city']
                    venue=game['competitions'][0]['venue']['fullName']
            else:
                venue='?'
            location=location.replace('"',"")
            location=location.replace(',',"")
            if "True" in str(neutral):
                notes="@"+location
            else:
                notes=""
            name=str(date)+t1
            namez=str(date)+t2
            if name not in games and namez not in games:
                arrz.append([date,t1,t2,"vs",t1s,t2s,season,str(location),str(neutral),notes,venue])
            games.append(name)
            games.append(namez)
for date in pd.date_range(start="2024-11-01",end="2025-02-28"):
    date=str(date)
    date=date.replace(" 00:00:00","")
    date=date.replace("-","")
    date=date.replace(".0","")
    scores(date,2024)
df=pd.DataFrame(arrz,columns=['date','home','away','venue','homep','awayp','season','city','neutral','notes','arena'])
y=pd.read_csv("https://ontheroadtovote.com/ncaaf/nicknames.txt")
teams={}
df=df.replace("App State","Appalachian State")
df=df.replace("AR-Pine Bluff","Arkansas-Pine Bluff")
df=df.replace("N Illinois","Northern Illinois") 
df=df.replace("W Illinois","Western Illinois")
df=df.replace("E Illinois","Eastern Illinois")
df=df.replace("C Connecticut","Central Connecticut State")
df=df.replace("LMU","Loyola Marymount")
df=df.replace("C Michigan","Central Michigan")
df=df.replace("LSU","Louisiana State")
df=df.replace("MD E Shore","Maryland-Eastern Shore")
df=df.replace("Kent Stateate","Kent State")
df=df.replace("E Michigan","Eastern Michigan")
df=df.replace("W Michigan","Western Michigan")
df=df.replace("Charleston So","Charleston Southern")
df=df.replace("CSU Northridge","Cal State Northridge")
df=df.replace("Central ConnecticutStateate","Central Connecticut")
df=df.replace("Coastal Car","Coastal Carolina")
df=df.replace("G Washington","George Washington")
df=df.replace("GA Southern","Georgia Southern")
df=df.replace("FIU","Florida International")
df=df.replace("FAU","Florida Atlantic")
df=df.replace("Miami OH","Miami (OH)")
df['home']=df['home'].str.replace(" St"," State")
df=df.replace("Appalachian Stateate","Appalachian State")
df=df.replace("Ball Stateate","Ball State")
df=df.replace("Boston U","Boston University")
df=df.replace("Long Island","Long Island University")
df=df.replace("Loyola Chicago","Loyola (IL)")
df=df.replace("Louisiana Stateate","LSU")
df=df.replace("Southern Miss","Southern Mississippi")
df=df.replace("St Francis PA","Saint Francis (PA)")
df=df.replace("St Francis BK","St. Francis (NY)")
df=df.replace("UT Rio Grande","Texas-Rio Grande Valley")
df=df.replace("Miss Valley State","Mississippi Valley State")
df=df.replace("E Washington","Eastern Washington")
df=df.replace("E Kentucky","Eastern Kentucky")
df=df.replace("ETSU","East Tennessee State")
df=df.replace("Iowa Stateate","Iowa State")
df=df.replace("Ole Miss","Mississippi")
df=df.replace("Penn Stateate","Penn State")
df=df.replace("Jax Stateate","Jacksonville State")
df=df.replace("CSU Northridge","Cal State Northridge")
df=df.replace("Loyola MD","Loyola (MD)")
df=df.replace("Hawai'i","Hawaii")
df=df.replace("Saint Mary's","Saint Mary's (CA)")
df=df.replace("Pitt","Pittsburgh")
df=df.replace("UAlbany","Albany (NY)")
df=df.replace("UIC","Illinois-Chicago")
df=df.replace("UT Martin","Tennessee-Martin")
df=df.replace("Texas A&M-CC","Texas A&M-Corpus Christi")
df=df.replace("San José State","San Jose State")
df=df.replace("TX A&M-CC","Texas A&M-Corpus Christi")
df=df.replace("NC Stateate","NC State")
df=df.replace("Western KY","Western Kentucky")
df=df.replace("SE Louisiana","Southeastern Louisiana")
df=df.replace("SE Missouri","Southeast Missouri State")
df=df.replace("MD Eastern","Maryland-Eastern Shore")
df=df.replace("UMass","Massachusetts")
df=df.replace("SMU","Southern Methodist")
df=df.replace("SC Stateate","South Carolina State")
df=df.replace("UMBC","Maryland-Baltimore County")
df=df.replace("N'Western State",'Northwestern State')
df=df.replace("NC A&T","North Carolina A&T")
df=df.replace("Nicholls","Nicholls State")
df=df.replace("McNeese","McNeese State")
df=df.replace("Ohio Stateate","Ohio State")
df=df.replace("VMI","Virginia Military Institute")
df=df.replace("UL Monroe","Louisiana-Monroe")
df=df.replace("W Carolina","Western Carolina")
df=df.replace("Utah Stateate","Utah State")
df=df.replace("VCU","Virginia Commonwealth")
df=df.replace("UConn","Connecticut")
df=df.replace("UCF","Central Florida")
df=df.replace("N Arizona","Northern Arizona")
y=y.replace("Arkansas–Pine Bluff","Arkansas-Pine Bluff")
y=y.replace("VCU","Virginia Commonwealth")
y=y.replace("Grambling State","Grambling")
y=y.replace("UMBC","Maryland-Baltimore County")
df=df.replace("Kent Stateate","Kent State")
df=df.replace("Purdue FW","Purdue Fort Wayne")
df=df.replace("Bethune","Bethune-Cookman")
y=y.replace("Texas Tech (M) (W)","Texas Tech")
y=y.replace("Bethune–Cookman","Bethune-Cookman")
y=y.replace("Albany","Albany (NY)")
y=y.replace("Southeast Missouri","Southeast Missouri State")
df=df.replace("MTSU","Middle Tennessee")
y=y.replace("McNeese","McNeese State")
y=y.replace("Maryland Eastern Shore","Maryland-Eastern Shore")
y=y.replace("UCF","Central Florida")
y=y.replace("Nicholls","Nicholls State")
df=df.replace("S Illinois","Southern Illinois")
y=y.replace("VMI","Virginia Military Institute")
y=y.replace("LIU","Long Island University")
y=y.replace("UTRGV","Texas-Rio Grande Valley")
df=df.replace("Illinois-Chicago","UIC")
y=y.replace("Gardner–Webb","Gardner-Webb")
df=df.replace("Central Connecticut Stateate","Central Connecticut")
df=df.replace("St Bonaventure","St. Bonaventure")
df=df.replace("IU Indy","IUPUI")
df=df.replace("SF Austin","Stephen F. Austin")
df=df.replace("Santa Barbara","UC Santa Barbara")
df=df.replace("Cal Stateate Northridge","Cal State Northridge")
y=y.replace("SMU","Southern Methodist")
teams['Morris Brown']='Atlanta, GA'
teams['Savannah State']='Savannah, GA'
teams['Centenary (LA)']="Centenary, LA"
teams['Seton Hall']="Newark NJ"
teams['Western Kentucky']='Bowling Green, KY'
df=df.replace("Texas A&M–Corpus Christi","Texas A&M-Corpus Christi")
y=y.replace("UT Martin","Tennessee-Martin")
df=df.replace("Fullerton","Cal State Fullerton")
y=y.replace("UMass","Massachusetts")
y=y.replace("UMass Lowell",'Massachusetts-Lowell')
y=y.replace("Saint Mary's","Saint Mary's (CA)")
y=y.replace("St. Francis Brooklyn","St. Francis (NY)")
y=y.replace("SIU Edwardsville","Southern Illinois-Edwardsville")
y=y.replace("Southern Miss","Southern Mississippi")
y=y.replace("Loyola Chicago","Loyola (IL)")
y=y.replace("Bowling Green (M) (W)","Bowling Green")
y=y.replace("Baylor (M) (W)","Baylor")
y=y.replace("Louisiana–Monroe","Louisiana-Monroe")
y=y.replace("UConn (M) (W)","Connecticut")
y=y.replace("Ole Miss","Mississippi")
y=y.replace("FIU","Florida International")
y=y.replace("USC Upstate","South Carolina Upstate")
df=df.replace("Mount State Marys","Mount St. Mary's")
df=df.replace("Mount St Marys","Mount St. Mary's")
df=df.replace("Fair Dickinson","Fairleigh Dickinson")
teams['Birm-Southern']='Birmingham, AL'
y=y.replace("Texas A&M–Corpus Christi","Texas A&M-Corpus Christi")
for row in y.itertuples():
    c=row.city
    c=c.replace(",","")
    teams[row.team]=c
teams['South Carolina Upstate']='Valley Falls SC'
teams["Saint John's"]='New York NY'
teams["Fordham"]='New York NY'
teams["Villanova"]='Villanova PA'
teams['Manhattan']='New York NY'
teams["St. Francis (NY)"]='New York NY'
teams['Wagner']="New York NY"
teams['Long Island University']='New York NY'
df=df.replace("Alabama St","Alabama State")
y=y.replace("UNLV","Nevada-Las Vegas")
df=df.replace("UNLV","Nevada-Las Vegas")
df=df.replace("Michigan St","Michigan State")
df=df.replace("Bakersfield","Cal State Bakersfield")
df=df.replace("N Dakota State","North Dakota State")
df=df.replace("SIUE","Southern Illinois-Edwardsville")
df=df.replace("St Thomas (MN)","St. Thomas")
df=df.replace("Abilene Chrstn","Abilene Christian")
df=df.replace("CA Baptist","California Baptist")
df=df.replace("C Arkansas","Central Arkansas")
df['city']=df['city'].replace("Queens NY",'New York NY')
df['city']=df['city'].replace("Staten Island NY",'New York NY')
df['city']=df['city'].replace("Brooklyn NY",'New York NY')
df['city']=df['city'].replace("Manhattan NY",'New York NY')
df['city']=df['city'].replace("Bronx NY",'New York NY')
df=df.replace("North Carolina Central","NC Central")
df=df.replace("SC Upstate","South Carolina Upstate")
df=df.replace("Hawai’i","Hawaii")
df=df.replace("SC State","South Carolina State")
df=df.replace("Liu Brooklyn","Long Island University")
df=df.replace("N Colorado","Northern Colorado")
df=df.replace("N Kentucky","Northern Kentucky")
df=df.replace("Seattle U","Seattle")
df=df.replace("NC Central","North Carolina Central")
df=df.replace("So Indiana","Southern Indiana")
df=df.replace("Hou Christian","Houston Christian")
df=df.replace("Savannah St","Savannah State")
df=df.replace("S Dakota State","South Dakota State")
df=df.replace("FGCU","Florida Gulf Coast")
df=df.replace("UMass Lowell","Massachusetts-Lowell")
df=df.replace("Miss Valley St","Mississippi Valley State")
teams['Tarleton State']='Stephenville TX'
teams['South Carolina Upstate']='Spartanburg SC'
teams['Saint Thomas (MN)']='Saint Paul MN'
teams['Le Moyne']='Syracuse NY'
teams['E Texas A&M']='Commerce TX'
teams['Nevada-Las Vegas']='Las Vegas NV'
teams['Morehouse']='Erie PA'
teams['Harvard']='Cambridge MA'
teams['Northern Illinois']='Dekalb IL'
teams['Mercyhurst']='Erie PA'
teams['NC State']='Raleigh NC'
teams['UC San Diego']='San Diego CA'
teams['Alabama A&M']='Huntsville AL'
df=df.replace("Indiana St","Indiana State")
df=df.replace("San Diego St","San Diego State")
teams['San Diego State']='San Diego CA'
teams['Binghamton']='Binghamton NY'
teams['Indiana State']='Terre Haute IN'
teams['Queens (NC)']="Charlotte NC"
teams['Long Beach State']='Long Beach CA'
df=df.replace("Long Beach St","Long Beach State")
teams['St. Bonaventure']='Saint Bonaventure NY'
teams['Buffalo']='Amherst NY'
teams['UC Santa Barbara']='Santa Barbara CA'
teams['Georgetown']='Washington DC'
teams['Mississippi']='Oxford MS'
df=df.replace("Coppin St",'Coppin State')
df=df.replace("Delaware St","Delaware State")
teams['Penn State']='University Park PA'
df=df.replace("Jackson St","Jackson State")
df=df.replace("Morehead St","Morehead State")
teams['Bowling Green State']='Bowling Green OH'
for row in df.itertuples():
    arr.append([row.date,row.home,row.away,row.venue,row.homep,row.awayp,row.season,row.neutral,row.city,row.notes,row.arena])
df22=pd.DataFrame(arr,columns=['Date','Schl','Opp','Venue','PTS','OPP','Year','neutral','city','notes','arena'])
df22=df22.replace("Bowling Green","Bowling Green State")
df22=df22.replace("Weber St","Weber State")
df22=df22.replace("E Texas A&M","Texas A&M-Commerce")
df22=df22.replace("IU Indy","IUPUI")
df22=df22.replace("Tarleton St","Tarleton State")
df22=df22.replace("Queens","Queens (NC)")
df22=df22.replace("Alcorn St","Alcorn State")
df22=df22.replace("Tennessee St","Tennessee State")
df22=df22.replace("Utah St","Utah State")
df22=df22.replace("Arkansas St","Arkansas State")
df22=df22.replace("Kansas St","Kansas State")
df22=df22.replace("S Dakota St","South Dakota State")
df22=df22.replace("Norfolk St","Norfolk State")
df22=df22.replace("Fresno St","Fresno State")
df22=df22.replace("New Mexico St","New Mexico State")
df22=df22.replace("Washington St","Washington State")
df22=df22.replace("Portland St","Portland State")
df22=df22.replace("Murray St","Murray State")
df22=df22.replace("Chicago St","Chicago State")
df22=df22.replace("Charleston","College of Charleston")
df22=df22.astype({"PTS":float,"OPP":float,"Year":float,"Date":float})
teams['Stonehill']='South Easton MA'
teams['Howard']='Washington DC'
teams['American']='Washington DC'
teams['George Washington']='Washington DC'
df22=df22.replace("Riverdale NY","New York NY")
df22=df22.replace("USC","Southern California")
df22=df22.replace("N'Western St","Northwestern State")
df22=df22.replace("Montana St","Montana State")
df22=df22.replace("UIC","Illinois-Chicago")
df22=df22.replace("IU Indy","IUPUI")
df22=df22.replace("Mississippi St","Mississippi State")
df22=df22.replace("Kennesaw St","Kennesaw State")
df22=df22.replace("BYU","Brigham Young")
df22=df22.replace("Texas St","Texas State")
df22=df22.replace("Colorado St","Colorado State")
df22=df22.replace("Illinois St","Illinois State")
df22=df22.replace("Missouri St","Missouri State")
df22=df22.replace("Idaho St","Idaho State")
df22=df22.replace("Jax State","Jacksonville State")
df22=df22.replace("IU Indy","IUPUI")
df22=df22.replace("St John's","St. John's (NY)")
df22=df22.replace("Sacramento St","Sacramento State")
teams["St. John's (NY)"]=teams["Saint John's"]
teams['St. Thomas']=teams['Saint Thomas (MN)']
df22=df22.replace("St Thomas (MN)","St. Thomas")
df22=df22.replace("Miami","Miami (FL)")
df22=df22.replace("Penn","Pennsylvania")
teams['South Carolina Upstate']='Valley Falls SC'
teams['Texas A&M-Commerce']='Commerce TX'
df22=df22.replace("Florida St","Florida State")
df22=df22.replace("Youngstown St","Youngstown State")
df22=df22.replace("LSU","Louisiana State")
df22=df22.replace("Central Connecticut","Central Connecticut State")
df22=df22.replace("Georgia St","Georgia State")
df22=df22.replace("Morgan St","Morgan State")
df22=df22.replace("San José St","San Jose State")
df22=df22.replace("Oregon St","Oregon State")
df22=df22.replace("Oklahoma St","Oklahoma State")
df22=df22.replace("Central Michiganigan","Central Michigan")
df22=df22.replace("Western Michiganigan","Western Michigan")
df22=df22[df22.Opp!='Mid-Atlantic']
df22=df22.replace("Boise St","Boise State")
df22=df22[df22.Schl!='Mid-Atlantic']
teams['LSU']='Baton Rouge LA'
df22=df22.replace("N Dakota St","North Dakota State")
teams['Central Connecticut State']='New Britain CT'
for row in df22.itertuples():
    if 'Upstate' in str(row):
        if 'Hodge Center' in str(row.arena):
            df22.at[row.Index,'city']='Valley Falls SC'
for row in df22.itertuples():
    if 'Maryland-Baltimore County' in str(row):
        if 'RAC Arena' in str(row) or 'Chesapeake Employers Insurance Arena' in str(row):
            df22.at[row.Index,'city']='Catonsville MD'
for row in df22.itertuples():
    if 'Buffalo' in str(row) and row.city=='Buffalo NY':
        df22.at[row.Index,'city']='Amherst NY'
for row in df22.itertuples():
    ac=""
    hc=""
    if row.Schl in teams:
        hc=teams[row.Schl]
    if row.Opp in teams:
        ac=teams[row.Opp]
    if hc==ac:
        df22.at[row.Index,'neutral']=True
        df22.at[row.Index,'notes']='@'+row.city
    if row.city!=hc:
        df22.at[row.Index,'neutral']=True
        df22.at[row.Index,'notes']='@'+row.city
    if row.Schl in teams:
        if hc==row.city and (hc!=ac):
            df22.at[row.Index,'neutral']=False
            df22.at[row.Index,'notes']=''
    if row.Venue=='vs':
        if hc!=row.city:
            if row.city==ac:
                df22.at[row.Index,'Venue']='@'
        
for row in df22.itertuples():
    if 'Harvard' in str(row) and row.city=='Cambridge MA':
        df22.at[row.Index,'neutral']=True
        df22.at[row.Index,'notes']='@Boston MA'
from datetime import date
today=date.today()
today=str(today)
today=today.replace("-","")
today=float(today)
d=input("date")
d=float(d)
g=df22[df22.Date==d]
df22=df22[df22.Date<today]
for row in df22.itertuples():
    if(float(row.Date)==float(20230403)):
        df22.at[row.Index,'Date']=20230410
ty={}
for i in range(2014,2025):
    ty[i]=[]
    for t in confs[i]:
        ty[i].append(t)
for y in ty:
    j=df22[df22.Year==float(y)]
    j=set(j.Schl.tolist()+j.Opp.tolist())
    for team in ty[y]:
        if team not in j:
            print(team)
for row in df22.itertuples():
    if row.Schl in confs[row.Year] and row.Opp in confs[row.Year]:
        m=1
    else:
        df22=df22.drop(row.Index)
pp=0
for row in df22.itertuples():
    if row.PTS==0 and row.OPP==0:
        df22=df22.drop(row.Index)
for game in df22.itertuples():
    if game.Schl in confs[game.Year] and game.Opp in confs[game.Year]:
        if confs[float(game.Year)][game.Schl]!=confs[float(game.Year)][game.Opp]:
            sconf=confs[float(game.Year)][game.Schl]
            confy[sconf].append(game.PTS-game.OPP)
            oconf=confs[float(game.Year)][game.Opp]
            confy[oconf].append(game.OPP-game.PTS)
for game in df22.itertuples():
    if game.Schl in confs[game.Year] and game.Opp in confs[game.Year] and 'True' not in str(game.neutral):
        if game.neutral==True or game.neutral=='True':
            m=1
        else:
            sc=confs[game.Year][game.Schl]
            oc=confs[game.Year][game.Opp]
            if sc not in hfas:
                hfas[sc]=[]
            if oc not in hfas:
                hfas[oc]=[]
            if game.Venue!='@':
                hfas[sc].append(game.PTS-game.OPP)
            else:
                hfas[oc].append(game.OPP-game.PTS)
for key in hfas:
    hfas[key]=(np.mean(hfas[key]))
    hfas[key]=round(hfas[key])*kval
    hfas[key]=round(hfas[key])
mean=np.mean(list(hfas.values()))
mean=round(mean,-1)
rev=0.70
for key in hfas:
    num=((1-rev)*hfas[key])+(rev*(3*kval))
    hfas[key]=num
l=0
w=0
today=20250127
for row in df22.itertuples():
    if row.PTS==0 and row.OPP==0:
        df22=df22.drop(row.Index)
    if float(row.Date)==today:
        df22=df22.drop(row.Index)
for t in confy:
    confy[t]=np.mean(confy[t])*kval
    confy[t]=confy[t]*(1-rev)
for row in df22.itertuples():
    if row.Schl not in did:
        num=round(np.mean(confy[confs[row.Year][row.Schl]]))
        num=num*kval
        num=num*(1-rev)
        eloLeague.addPlayer(row.Schl,rating=1500+num)
        did.append(row.Schl)
    if row.Opp not in did:
        num=round(np.mean(confy[confs[row.Year][row.Opp]]))
        num=num*kval
        num=num*(1-rev)
        eloLeague.addPlayer(row.Opp,rating=1500+num)
        did.append(row.Opp)
pp=0
for game in df22.itertuples():
    s=game.Schl
    o=game.Opp
    o=o.strip()
    s=s.strip()
    season=game.Year
    if s not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(s,rating=1500)
    if o not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(o,rating=1500)
    if ((season)>currSeason)and pp==1: 
        print(season,'yes')
        games=0
        confz={}
        for conf in confs[game.Year]:
            if conf not in eloLeague.ratingDict.keys():
                eloLeague.addPlayer(conf,rating=1500)
        if game.Year in pwr:
            if game.Year>2013:
                last=list(pwr[game.Year-1].keys())[-1]
            
                for key in confs[game.Year-1]:
                    rat=pwr[float(game.Year-1)][last][key]
                    rat=rat*kval
                    numje=rat
                    numj=(1500)+float(confy[confs[game.Year-1][key]])
                    numj=numj+1500
                    numj=numj/2
                    numj=numj+numje
                    numj=(numj*(1-rev))+(eloLeague.ratingDict[key]*rev)
                            
                    avg=eloLeague.ratingDict[key]+numj
                    avg=avg/2
                    eloLeague.ratingDict[key]=avg
            for key in confs[game.Year]:
                pre=list(pwr[float(game.Year)].keys())[0]
                num=pwr[game.Year][pre][key]
                num=num*kval
                gh=(1500+float(confy[confs[game.Year][key]]))
                gh=gh+1500
                gh=gh/2
                gh=gh+num
                num=eloLeague.ratingDict[key]+gh
                num=num/2
                eloLeague.ratingDict[key]=num
        for key in confs[game.Year]:
            conf=confs[game.Year][key]
            if conf not in confz:
                confz[conf]=[]
            confz[conf].append(eloLeague.ratingDict[key])
        lsdf=df22[df22.Year<game.Year]
        ls=set(lsdf.Schl.tolist()+lsdf.Opp.tolist())
        for key in eloLeague.ratingDict.keys():
            if key  in confs[game.Year] and key in ls:
                num=np.mean(confz[confs[float(game.Year)][key]])
                num=num+1500
                num=num/2
                eloLeague.ratingDict[key]=(eloLeague.ratingDict[key]*(1-rev))+(num*rev)     
        currSeason+=1
    if(currSeason==2014) and pp==0:
        print("yes")
        print(game.Year)
        pp=1
        games=0
        confz={}
        for conf in confs[game.Year]:
            if conf not in eloLeague.ratingDict.keys():
                eloLeague.addPlayer(conf,rating=1500)
        if game.Year in pwr:
            if game.Year>2013:
                last=list(pwr[game.Year-1].keys())[-1]
            
                for key in confs[game.Year-1]:
                    rat=pwr[float(game.Year-1)][last][key]
                    rat=rat*kval
                    numje=rat
                    numj=(1500)+float(confy[confs[game.Year-1][key]])
                    numj=numj+1500
                    numj=numj/2
                    numj=numj+numje
                    numj=(numj*(1-rev))+(eloLeague.ratingDict[key]*rev)
                            
                    avg=eloLeague.ratingDict[key]+numj
                    avg=avg/2
                    eloLeague.ratingDict[key]=avg
            for key in confs[game.Year]:
                pre=list(pwr[float(game.Year)].keys())[0]
                num=pwr[game.Year][pre][key]
                num=num*kval
                gh=(1500+float(confy[confs[game.Year][key]]))
                gh=gh+1500
                gh=gh/2
                gh=gh+num
                num=eloLeague.ratingDict[key]+gh
                num=num/2
                eloLeague.ratingDict[key]=num
        for key in confs[game.Year]:
            conf=confs[game.Year][key]
            if conf not in confz:
                confz[conf]=[]
            confz[conf].append(eloLeague.ratingDict[key]) 
    sp=0
    op=0
    s=str(game.Schl)
    o=str(game.Opp)
    o=o.strip()
    s=s.strip()
    if (game.Schl in swac or game.Schl in meac or game.Opp in meac or game.Opp in swac)and(str(o) in confs[2023] and str(s) in confs[2023])and('2023' in str(game.Year)):
        if 'True' in str(game.neutral):
            hf=0
        if game.Venue=='@' and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Opp]]
            hr=eloLeague.ratingDict[game.Schl]
            ar=eloLeague.ratingDict[game.Opp]+hf
        if game.Venue=='vs'  and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Schl]]
            hr=eloLeague.ratingDict[game.Schl]+hf
            ar=eloLeague.ratingDict[game.Opp]
        if hr>ar:
            spread=round((hr-ar)/21)
            if spread==0:
                spread=1
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            name="On "+str(game.Date)+" "+str(game.Schl)+" beats "+str(game.Opp)+" by "+str(spread)
            keys[name]=game.Date   
        if ar>hr:
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            spread=round((ar-hr)/21)
            if spread==0:
                spread=1
            
            name="On "+str(game.Date)+" "+str(game.Opp)+" beats "+str(game.Schl)+" by "+str(spread)
            keys[name]=game.Date            
        
    if(game.Venue=='@'):
        if game.Opp not in confs[game.Year]:
            hf=50
    else:
        if game.Schl not in confs[game.Year]:
            hf=50
    t1r=0
    t2r=0
    k=kval
    if game.Year in pwr:
        first=list(pwr[float(game.Year)].keys())[0]
    if game.Year in pwr and game.Date!=first:
        key=game.Schl
        if key in pwr[float(game.Year)][float(game.Date)]:
            rat=pwr[float(game.Year)][float(game.Date)][key]
            rat=rat*kval
            numje=rat
            numj=(1500)+float(confy[confs[game.Year][key]])
            numj=numj+1500
            numj=numj/2
            numj=numj+numje
            numj=(numj*(1-rev))+(eloLeague.ratingDict[key]*rev)
                            
            avg=eloLeague.ratingDict[key]+numj
            avg=avg/2
            eloLeague.ratingDict[key]=avg
        key=game.Opp
        if key in pwr[float(game.Year)][float(game.Date)]:
            rat=pwr[float(game.Year)][float(game.Date)][key]
            rat=rat*kval
            numje=rat
            numj=(1500)+float(confy[confs[game.Year][key]])
            numj=numj+1500
            numj=numj/2
            numj=numj+numje
            numj=(numj*(1-rev))+(eloLeague.ratingDict[key]*rev)
                            
            avg=eloLeague.ratingDict[key]+numj
            avg=avg/2
            eloLeague.ratingDict[key]=avg
    if(game.Venue!='@'):
        if game.Schl in confs[game.Year]:
            hf=hfas[confs[game.Year][game.Schl]]
    if(game.Venue=='@'): 
        if game.Opp in confs[game.Year]:
            hf=hfas[confs[game.Year][game.Opp]]
    if 'True'  in str(game.neutral):
        hf=0
    winnerHomez=False
    if game.Venue=='@':
        if game.PTS<game.OPP:
            winnerHomez=True
        t2e=eloLeague.ratingDict[game.Opp]+hf
        t1e=eloLeague.ratingDict[game.Schl]
    else:
        if game.PTS>game.OPP:
            winnerHomez=True
        t1e=eloLeague.ratingDict[game.Schl]+hf
        t2e=eloLeague.ratingDict[game.Opp]
    if(game.PTS>game.OPP):
        df22.at[game.Index,'team1elopre']=t1e
        df22.at[game.Index,'team2elopre']=t2e
        eloLeague.gameOver(s,o,winnerHomez,game.neutral,game.PTS,game.OPP,game.Year,game.Date,hf,k)
    if(game.PTS<game.OPP):
        df22.at[game.Index,'team1elopre']=t1e
        df22.at[game.Index,'team2elopre']=t2e
        eloLeague.gameOver(o,s,winnerHomez,game.neutral,game.OPP,game.PTS,game.Year,game.Date,hf,k)
    d1=(s in confs[game.Year] or o in confs[game.Year])
    for i in range(9,50):
        spread=abs((t1e-t2e)/float(i))
        spread=round(spread)
        if spread==0:
            if t1e>t2e:
                spread=1
            else:
                spread=-1
        ms=(float(game.PTS)-float(game.OPP))-spread
        
        msz = np.square(ms)
        msqe[str(i)].add(msz)
    if game.Year in pwr:
        last=list(pwr[float(game.Year)].keys())[-1]
        
import numpy as np
msqez={}
for i in range(9,50):
    msqez[str(i)]=0
for i in range(9,50):
    msqez[str(i)]=sum(msqe[str(i)])/len(msqe[str(i)])
mas=min(msqez, key=msqez.get)
print("--- %s seconds ---" % (time.time() - start_time))

done files
2025
200

In [ ]:
df=pd.DataFrame(arr,columns=['Winner','Loser','Winner PTS','Loser PTS','Venue','Date'])
df=df.sort_values(by='Loser PTS')
df=df.iloc[0:10]
for row in df.itertuples():
    print(row)

In [ ]:
[item for item in sorted(games, key=games.get)][0:10]

In [ ]:
myKeys = list(games.keys())
{i: games[i] for i in myKeys}[0:5]

**

In [ ]:
g

In [ ]:
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

In [ ]:
g

In [19]:
df=df.replace("Northern Texas","North Texas")
df=df.replace("AR-Pine Bluff","Arkansas-Pine Bluff")
df=df.replace("Charleston So","Charleston Southern")
df=df.replace("J Madison","James Madison")
df=df.replace("Hawai'i","Hawaii")
df=df.replace("G Washington","George Washington")
df=df.replace("C Arkansas","Central Arkansas")
df=df.replace("Eastern Texas A&M","Texas A&M-Commerce")
df=df.replace("FGCU","Florida Gulf Coast")
df=df.replace("St Bonaventure","St. Bonaventure")
df=df.replace("Charleston","College of Charleston")
df=df.replace("NC Asheville","UNC Asheville")
df=df.replace("Eastern Tennessee State","East Tennessee State")
df=df.replace("Texas So","Texas Southern")
df=df.replace("Georgia So","Georgia Southern")
df=df.replace("SEastern Missouri State","Southeast Missouri State")
df=df.replace("Loyola Chi","Loyola (IL)")
df=df.replace("NC Wilmington","UNC Wilmington")
df=df.replace("Miss Valley State","Mississippi Valley State")
df=df.replace("UMass","Massachusetts")
df=df.replace("Miami OH","Miami (OH)")
df=df.replace("Bethune","Bethune-Cookman")
df=df.replace("Texas A&M-CC","Texas A&M-Corpus Christi")
df=df.replace("UMBC","Maryland-Baltimore County")
df=df.replace("Tenn Tech","Tennessee Tech")
df=df.replace("S Carolina State","South Carolina State")
df=df.replace("St Thomas","St. Thomas")
df=df.replace("Southern Miss","Southern Mississippi")
df=df.replace("Illinois Chicago","Illinois-Chicago")
df=df.replace("C Michiganigan","Central Michigan")
df=df.replace("UConn","Connecticut")
df=df.replace("UT Rio Grande","Texas-Rio Grande Valley")
df=df.replace("UT Martin","Tennessee-Martin")
df=df.replace("Loyola MD","Loyola (MD)")
df=df.replace("McNeese","McNeese State")
df=df.replace("NC Greensboro","UNC Greensboro")
df=df.replace("C Connecticut","Central Connecticut State")
df=df.replace("Saint Mary's","Saint Mary's (CA)")
df=df.replace("SMU","Southern Methodist")
df=df.replace("Penn","Pennsylvania")
df=df.replace("Mt State Mary's","Mount St. Mary's")
df=df.replace("Charleston","College of Charleston")
df=df.replace("Hou Christian","Houston Christian")
df=df.replace("St John's","St. John's (NY)")

In [18]:
df22[df22.Schl=="St. John's (NY)"]

,Date,Schl,Opp,Venue,PTS,OPP,Year,neutral,city,notes,arena
46,20141114.0,St. John's (NY),NJIT,vs,77.0,58.0,2014.0,False,New York NY,,Carnesecca Arena
287,20141117.0,St. John's (NY),Frank Pierce,vs,94.0,81.0,2014.0,False,New York NY,,Carnesecca Arena
417,20141119.0,St. John's (NY),Long Island University,vs,66.0,53.0,2014.0,True,New York NY,@New York NY,Carnesecca Arena
1179,20141202.0,St. John's (NY),Niagara,vs,70.0,57.0,2014.0,False,New York NY,,Madison Square Garden
1543,20141210.0,St. John's (NY),Fairleigh Dickinson,vs,74.0,52.0,2014.0,False,New York NY,,Carnesecca Arena
...,...,...,...,...,...,...,...,...,...,...,...
63664,20250122.0,St. John's (NY),Xavier,vs,79.0,71.0,2024.0,False,New York NY,,Madison Square Garden
64126,20250201.0,St. John's (NY),Providence,vs,68.0,66.0,2024.0,False,New York NY,,Madison Square Garden
64305,20250204.0,St. John's (NY),Marquette,vs,70.0,64.0,2024.0,False,New York NY,,Madison Square Garden
64939,20250216.0,St. John's (NY),Creighton,vs,79.0,73.0,2024.0,False,New York NY,,Madison Square Garden
65271,20250223.0,St. John's (NY),Connecticut,vs,89.0,75.0,2024.0,False,New York NY,,Madison Square Garden

In [9]:
for t in set(pwr[2024][pre]):
    if t not in set(df22.Schl.tolist()):
        print(t)

Eastern Texas A&M
St Bonaventure
SF Austin
AR-Pine Bluff
FGCU
NC Asheville
Georgia So
Loyola Chi
Texas So
NC Wilmington
St Francis PA
Eastern Tennessee State
St Thomas
SEastern Missouri State
Texas A&M-CC
Miss Valley State
UMass
C Arkansas
UMBC
Miami OH
Bethune
S Carolina State
Charleston So
C Michiganigan
J Madison
Tenn Tech
SMU
Saint Mary's
Hawai'i
Northern Texas
UConn
Southern Miss
UT Rio Grande
Illinois Chicago
NC Greensboro
Purdue FW
UMass Lowell
C Connecticut
UT Martin
Loyola MD
G Washington
McNeese
Hou Christian
Charleston
Penn
St John's
Mt State Mary's

In [ ]:
df22=df22.replace("Central Michiganigan","Central Michigan")
df22=df22.replace("Western Michiganigan","Western Michigan")

In [ ]:
confs[2024]['Omaha']

In [ ]:
confs[2024]["IUPUI"]

In [ ]:
df22=pd.read_csv("https://ontheroadtovote.com/espnz.txt")
df22[df22.home=="Nebraska-Omaha"]

In [ ]:
df=pd.DataFrame(arrz,columns=['date','home','away','venue','homep','awayp','season','city','neutral','notes','arena'])

In [ ]:
teams['Central Connecticut']

In [ ]:
k=set(df22.home.tolist())
for t in k:
    if 'Thomas' in str(t):
        print(t)

# # Sort Teams By ELO

In [ ]:
i=df22[df22.Schl=='St. Francis (NY)']
i[i.Opp=='Hartford']

In [ ]:
q={}
for team in teams:
    q[team]=eloLeague.ratingDict[team]
i=1
q=sorted(q,key=q.get,reverse=True)
for team in q:
    print(str(i)+"."+team+": "+str(eloLeague.ratingDict[team]))
    i+=1

# Print Tourney Projections

In [ ]:
df=df.replace("UMass Lowell","Massachusetts-Lowell")
df=df.replace("SF Austin","Stephen F. Austin")
df=df.replace("IU Indy","IUPUI")
df=df.replace("Western Michiganigan","Western Michigan")
df=df.replace("St Francis PA","Saint Francis (PA)")
df=df.replace("Central Michiganigan","Central Michigan")

In [ ]:
SF Austin
St Francis PA
Mercyhurst
West Georgia
IU Indy
UMass Lowell
St. Francis (NY)
Central Michiganigan
Western Michiganigan
Savannah State
Hartford

In [28]:
df22[df22.home=="St. Francis (NY)"]

,Unnamed: 0,date,home,away,venue,homep,awayp,season,city,neutral,notes,arena
411,411,20141119,St. Francis (NY),Army,vs,71,74,2014,New York NY,False,NaN,Peter Aquilone Court
955,955,20141128,St. Francis (NY),Norfolk State,vs,70,72,2014,Jersey City NJ,True,@Jersey City NJ,Yanitelli Center
1043,1043,20141129,St. Francis (NY),Tennessee State,vs,59,57,2014,Jersey City NJ,True,@Jersey City NJ,Yanitelli Center
1606,1606,20141213,St. Francis (NY),Mtvincent,vs,90,72,2014,New York NY,False,NaN,Peter Aquilone Court
1785,1785,20141217,St. Francis (NY),Delaware State,vs,64,72,2014,New York NY,False,NaN,Peter Aquilone Court
...,...,...,...,...,...,...,...,...,...,...,...,...
51666,51666,20230128,St. Francis (NY),Long Island University,vs,71,59,2022,New York NY,True,@New York NY,Pope Physical Education Center
51812,51812,20230202,St. Francis (NY),Central Connecticut State,vs,53,48,2022,New York NY,False,NaN,Pope Physical Education Center
51926,51926,20230204,St. Francis (NY),Stonehill,vs,59,65,2022,New York NY,False,NaN,Pope Physical Education Center
52166,52166,20230209,St. Francis (NY),Wagner,vs,64,62,2022,New York NY,True,@New York NY,Pope Physical Education Center
52516,52516,20230216,St. Francis (NY),Saint Francis (PA),vs,64,72,2022,New York NY,False,NaN,Pope Physical Education Center

In [ ]:
hh=df22[df22.Year==2024]
teams=set(hh.Schl.tolist())
e={}
o={}
for t in confs[2024]:
    o[confs[2024][t]]={}
for t in confs[2024]:
    o[confs[2024][t]][t]=eloLeague.ratingDict[t]
l=[]
for h in o:
    k=sorted(o[h],key=o[h].get,reverse=True)[0]
    e[k]=eloLeague.ratingDict[k]
    l.append(k)
wz=e
print(len(e))
u={}
for team in teams:
    if team not in e:
        u[team]=eloLeague.ratingDict[team]
i=1
j=sorted(u,key=u.get,reverse=True)
p=[]
for team in j:
    if(i<(38)):
        e[team]=eloLeague.ratingDict[team]
        p.append(team)
    i+=1
    
e=sorted(e,key=e.get,reverse=True)
for team in e:
    if team in set(l):
        print(team+"("+str(eloLeague.ratingDict[team])+")"+"(AUTO)")
    else:
        print(team+"("+str(eloLeague.ratingDict[team])+")"+"(At-Large)")

In [ ]:
k=0
u={}
for team in teams:
    if team not in e:
        u[team]=eloLeague.ratingDict[team]
u=sorted(u,key=u.get,reverse=True)
for team in u:
    if k<9:
        print(team)
        k+=1

In [ ]:
i=1
y=df22[df22.Year==2024]
y=set(y.Schl.tolist())
u={}
for key in y:
    u[key]=eloLeague.ratingDict[key]
u=sorted(u,key=u.get,reverse=True)
for t in u:
    print(str(i)+"."+str(t)+"("+str(eloLeague.ratingDict[t])+")")
    i+=1

In [ ]:
for j in confs[2024]:
    if j not in teams:
        print(j)

In [22]:
SF Austin
St Francis PA
Mercyhurst
West Georgia
IU Indy
UMass Lowell
St. Francis (NY)
Central Michiganigan
Western Michiganigan
Savannah State
Hartford

,Unnamed: 0,date,home,away,venue,homep,awayp,season,city,neutral,notes,arena
0,0,20141114,Arizona,Mount St. Mary's,vs,78,55,2014,Tucson AZ,False,NaN,McKale Memorial Center
1,1,20141114,Wisconsin,Northern Kentucky,vs,62,31,2014,Madison WI,False,NaN,Kohl Center
2,2,20141114,Kansas,UC Santa Barbara,vs,69,59,2014,Lawrence KS,False,NaN,Allen Fieldhouse
3,3,20141114,North Carolina,North Carolina Central,vs,76,60,2014,Chapel Hill NC,False,NaN,Dean E. Smith Center
4,4,20141114,James Madison,Virginia,vs,51,79,2014,Harrisonburg VA,False,NaN,JMU Convocation Center
...,...,...,...,...,...,...,...,...,...,...,...,...
59971,59971,20240402,Seton Hall,Georgia,vs,84,67,2023,Indianapolis IN,True,@Indianapolis IN,Hinkle Fieldhouse
59972,59972,20240404,Seton Hall,Indiana State,vs,79,77,2023,Indianapolis IN,True,@Indianapolis IN,Hinkle Fieldhouse
59973,59973,20240406,Purdue,NC State,vs,63,50,2023,Glendale AZ,True,@Glendale AZ,State Farm Stadium
59974,59974,20240406,Connecticut,Alabama,vs,86,72,2023,Glendale AZ,True,@Glendale AZ,State Farm Stadium
59975,59975,20240408,Connecticut,Purdue,vs,75,60,2023,Glendale AZ,True,@Glendale AZ,State Farm Stadium

In [24]:
df22[df22.home=="St. Francis (NY)"]

,Unnamed: 0,date,home,away,venue,homep,awayp,season,city,neutral,notes,arena
411,411,20141119,St. Francis (NY),Army,vs,71,74,2014,New York NY,False,NaN,Peter Aquilone Court
955,955,20141128,St. Francis (NY),Norfolk State,vs,70,72,2014,Jersey City NJ,True,@Jersey City NJ,Yanitelli Center
1043,1043,20141129,St. Francis (NY),Tennessee State,vs,59,57,2014,Jersey City NJ,True,@Jersey City NJ,Yanitelli Center
1606,1606,20141213,St. Francis (NY),Mtvincent,vs,90,72,2014,New York NY,False,NaN,Peter Aquilone Court
1785,1785,20141217,St. Francis (NY),Delaware State,vs,64,72,2014,New York NY,False,NaN,Peter Aquilone Court
...,...,...,...,...,...,...,...,...,...,...,...,...
51666,51666,20230128,St. Francis (NY),Long Island University,vs,71,59,2022,New York NY,True,@New York NY,Pope Physical Education Center
51812,51812,20230202,St. Francis (NY),Central Connecticut State,vs,53,48,2022,New York NY,False,NaN,Pope Physical Education Center
51926,51926,20230204,St. Francis (NY),Stonehill,vs,59,65,2022,New York NY,False,NaN,Pope Physical Education Center
52166,52166,20230209,St. Francis (NY),Wagner,vs,64,62,2022,New York NY,True,@New York NY,Pope Physical Education Center
52516,52516,20230216,St. Francis (NY),Saint Francis (PA),vs,64,72,2022,New York NY,False,NaN,Pope Physical Education Center

In [ ]:
eloLeague.ratingDict['Purdue']

In [ ]:
eloLeague.ratingDict['Akron']

In [ ]:
gg=df22[df22.Year==2024]
teams=set(gg.Schl.tolist()+gg.Opp.tolist())
if 1==1:
    for key in teams:
        rat=pwr[2024][20250209][key]
        rat=rat*kval
        numje=rat
        numj=(1500)+float(confy[confs[2024][key]])
        numj=numj+1500
        numj=numj/2
        numj=numj+numje
        numj=(numj*(1-rev))+(eloLeague.ratingDict[key]*rev)              
        avg=eloLeague.ratingDict[key]+numj
        avg=avg/2
        eloLeague.ratingDict[key]=avg

In [ ]:
g

In [ ]:
gg

In [ ]:
g

In [2]:
g=g.replace("San José St","San Jose State")
g=g.replace("Oklahoma St","Oklahoma State")
g=g.replace("Oregon St","Oregon State")
day=20250224
j=g
teams=set(g.Schl.tolist()+g.Opp.tolist())
j=j.replace('East Texas A&M',"Texas A&M-Commerce")
for row in j.itertuples():
    key=row.Schl
    game=row
    if row.Schl in teams:
        rat=pwr[float(game.Year)][day][key]
        rat=rat*kval
        numje=rat
        numj=(1500)+float(confy[confs[game.Year][key]])
        numj=numj+1500
        numj=numj/2
        numj=numj+numje
        numj=(numj*(1-rev))+(eloLeague.ratingDict[key]*rev)              
        avg=eloLeague.ratingDict[key]+numj
        avg=avg/2
        eloLeague.ratingDict[key]=avg
    key=row.Opp
    if row.Opp in teams:
        rat=pwr[float(game.Year)][day][key]
        rat=rat*kval
        numje=rat
        numj=(1500)+float(confy[confs[game.Year][key]])
        numj=numj+1500
        numj=numj/2
        numj=numj+numje
        numj=(numj*(1-rev))+(eloLeague.ratingDict[key]*rev)              
        avg=eloLeague.ratingDict[key]+numj
        avg=avg/2
        eloLeague.ratingDict[key]=avg
    if row.Venue=='vs':
        if 'True' in str(row.neutral):
            hf=0
        else:
            hf=hfas[confs[2024][row.Schl]] 
        ht=row.Schl
        hr=eloLeague.ratingDict[ht]+hf
        at=row.Opp
        ar=eloLeague.ratingDict[at]
    else:
        if 'True' in str(row.neutral):
            hf=0
        else:
            hf=hfas[confs[2024][row.Opp]] 
        ht=row.Schl
        hr=eloLeague.ratingDict[ht]
        at=row.Opp
        ar=eloLeague.ratingDict[at]+hf
    
    if hr>ar:
        spread=(hr-ar)/20
        spread=round(spread)
        if spread==0:
            spread=1
        print(ht+" beats "+at+" by "+str(spread)+"<br/>")
    else:
        spread=(ar-hr)/20
        spread=round(spread)
        if spread==0:
            spread=1
        print(at+" beats "+ht+" by "+str(spread)+"<br/>")

Hampton beats Stony Brook by 10<br/>
UNC Wilmington beats William & Mary by 1<br/>
North Carolina beats Florida State by 2<br/>
Prairie View beats Mississippi Valley State by 17<br/>
Alabama State beats Bethune-Cookman by 2<br/>
Stetson beats Bellarmine by 1<br/>
McNeese State beats Texas-Rio Grande Valley by 17<br/>
Southeastern Louisiana beats Northwestern State by 7<br/>
Northeastern beats Monmouth by 1<br/>
Queens (NC) beats West Georgia by 8<br/>
Florida Gulf Coast beats North Florida by 8<br/>
Jacksonville beats Eastern Kentucky by 2<br/>
Lipscomb beats Austin Peay by 9<br/>
Delaware State beats North Carolina Central by 3<br/>
Nicholls State beats Texas A&M-Corpus Christi by 3<br/>
New Orleans beats Texas A&M-Commerce by 1<br/>
Lamar beats Incarnate Word by 1<br/>
North Alabama beats Central Arkansas by 11<br/>
Michigan beats Nebraska by 1<br/>
Texas Southern beats Arkansas-Pine Bluff by 15<br/>
Norfolk State beats Morgan State by 13<br/>
South Carolina State beats Maryland-Eastern Shore by 13<br/>
Howard beats Coppin State by 8<br/>
Florida A&M beats Alabama A&M by 2<br/>
Stephen F. Austin beats Houston Christian by 2<br/>
Houston beats Texas Tech by 1<br/>
Kansas beats Colorado by 6<br/>

In [ ]:
teams

In [ ]:
eloLeague.ratingDict['Louisiana State']-eloLeague.ratingDict['Mississippi Valley State']

In [ ]:
today

In [ ]:
(eloLeague.ratingDict['Missouri']+hfas[confs[2024]['Missouri']])-eloLeague.ratingDict['Mississippi Valley State']

In [ ]:
562.25/19

In [ ]:
df22[df22.Schl=='UAB']

In [ ]:
confyz={}
vals=[]
for c in confs[2024].values():
    confyz[c]={}
for c in confs[2024].values():
    for t in confs[2024]:
        confyz[confs[2024][t]][t]=0

In [ ]:
date='20241105'
date=str(date)
date=date.replace(" 00:00:00","")
date=date.replace("-","")
date=float(date)
url='https://teamrankings.com/ncaa-basketball/ranking/predictive-by-other/?date='+str(date)
html=requests.get(url)
html=html.text
arr=[]
soup=BeautifulSoup(html)
table=soup.find_all("table")[0]
for tr in table.find_all("tr"):
    if 'Rating' not in str(tr):
        team=tr.find_all("td")[1]
        team=team['data-sort']
        rating=tr.find_all("td")[2].text
        arr.append([team,rating,iz,date])
df=pd.DataFrame(arr,columns=['Team','Rating','Year','Date'])
df=pd.DataFrame(arr,columns=['Team','Rating','Year','Date'])
df=df.replace("Abl Christian","Abilene Christian")
df=df.replace("AR Lit Rock","Little Rock")
df=df.replace("Alab A&M","Alabama A&M")
df=df.replace("IPFW","Purdue Fort Wayne")
df=df.replace("N Carolina","North Carolina")
df=df.replace("Hsn Christian","Houston Christian")
df=df.replace("LIU","Long Island University")
df['Team']=df['Team'].str.replace(" St"," State")
df['Team']=df['Team'].str.replace(" Stateate"," State")
df['Team']=df['Team'].str.replace(" Stateate"," State")
df=df.replace("Ark Pine Bl","Arkansas-Pine Bluff")
df=df.replace("Albany","Albany (NY)")
df=df.replace("Boston U","Boston University")
df=df.replace("S Carolina","South Carolina")
df=df.replace("Boston Col","Boston College")
df=df.replace("Beth-Cook","Bethune-Cookman")
df=df.replace("Bowling Grn","Bowling Green")
df=df.replace("Cal Baptist","California Baptist")
df['Team']=df['Team'].str.replace("CS ","Cal State ")
df['Team']=df['Team'].str.replace(" Mich"," Michigan")
df=df.replace("Central Ark","Central Arkansas")
df=df.replace("Central Conn","Central Connecticut")
df=df.replace("Cal State Nrdge","Cal State Northridge")
df=df.replace("Charl South","Charleston Southern")
df=df.replace("Coastal Car","Coastal Carolina")
df=df.replace("Col Charlestn","College of Charleston")
df['Team']=df['Team'].str.replace("E ","Eastern ")
df=df.replace("Eastern Tenn State","East Tennessee State")
df=df.replace("Eastern Michiganigan","Eastern Michigan")
df=df.replace("Eastern Carolina","East Carolina")
df=df.replace("USC","Southern California")
df=df.replace("LSU","Louisiana State")
df=df.replace("Florida Intl","Florida International")
df=df.replace("Fla Atlantic","Florida Atlantic")
df=df.replace("Fla Gulf Cst","Florida Gulf Coast")
df['Team']=df['Team'].str.replace("GA ","Georgia ")
df['Team']=df['Team'].str.replace("Geo ","George ")
df=df.replace("Grd Canyon","Grand Canyon")
df=df.replace("Loyola-Chi","Loyola (IL)")
df=df.replace("Lg Beach State","Long Beach State")
df=df.replace("Incar Word","Incarnate Word")
df=df.replace("IL-Chicago","Illinois-Chicago")
df=df.replace("Gard-Webb","Gardner-Webb")
df=df.replace("Grambling State","Grambling")
df=df.replace("Jksnville State","Jacksonville State")
df=df.replace("James Mad","James Madison")
df=df.replace("LIU-Brooklyn","Long Island University")
df=df.replace("LA Tech","Louisiana Tech")
df=df.replace("F Dickinson","Fairleigh Dickinson")
df=df.replace("Loyola-MD","Loyola (MD)")
df=df.replace("Loyola Mym","Loyola Marymount")
df=df.replace("Mass Lowell","Massachusetts-Lowell")
df=df.replace("Middle Tenn","Middle Tennessee")
df=df.replace("Miss State","Mississippi State")
df=df.replace("Miss Val State","Mississippi Valley State")
df=df.replace("Centenary","Centenary (LA)")
df=df.replace("Maryland BC","Maryland-Baltimore County")
df=df.replace("Maryland ES","Maryland-Eastern Shore")
df['Team']=df['Team'].str.replace("NC-","UNC ")
df['Team']=df['Team'].str.replace("N ","Northern ")
df['Team']=df['Team'].str.replace("Northern Dakota State","North Dakota State")
df['Team']=df['Team'].str.replace("Northern Florida","North Florida")
df['Team']=df['Team'].str.replace("Northern Hampshire","New Hampshire")
df=df.replace("Nicholls","Nicholls State")
df=df.replace("NW State","Northwestern State")
df=df.replace("NC A&T","North Carolina A&T")
df=df.replace("Neb-Omaha","Omaha")
df=df.replace("App State","Appalachian State")
df=df.replace("Miami","Miami (FL)")
df=df.replace("Queens","Queens (NY)")
df=df.replace("NorthernMex State","New Mexico State")
df=df.replace("S Indiana","Southern Indiana")
df=df.replace("S Illinois","Southern Illinois")
df=df.replace("S Alabama","South Alabama")
df=df.replace("S Carolina","South Carolina")
df=df.replace("S Florida","South Florida")
df=df.replace("S Mississippi","Southern Mississippi")
df=df.replace("S Methodist","Southern Methodist")
df=df.replace("S Dakota St","South Dakota State")
df=df.replace("S Car State","South Carolina State")
df=df.replace("Wm & Mary","William & Mary")
df=df.replace("S Utah","Southern Utah")
df=df.replace("SC Upstate","South Carolina Upstate")
df=df.replace("Rob Morris","Robert Morris")
df=df.replace("SEastern Louisiana","Southeastern Louisiana")
df=df.replace("SEastern Missouri","Southeast Missouri State")
df=df.replace("SIU Edward","Southern Illinois-Edwardsville")
df=df.replace("Sac State","Sacramento State")
df=df.replace("Sacred Hrt","Sacred Heart")
df=df.replace("Sam Hous State","Sam Houston")
df=df.replace("UNC Grnsboro","UNC Greensboro")
df=df.replace("S Dakota State","South Dakota State")
df=df.replace("Citadel","The Citadel")
df=df.replace("VA Tech","Virginia Tech")
df=df.replace("BYU","Brigham Young")
df=df.replace("VCU","Virginia Commonwealth")
df=df.replace("U Mass","Massachusetts")
df=df.replace("NC Central","North Carolina Central")
df=df.replace("W Kentucky","Western Kentucky")
df=df.replace("UCSB","UC Santa Barbara")
df=df.replace("St Peters","Saint Peter's")
df=df.replace("Neb Omaha","Omaha")
df=df.replace("St Fran (NY)","St. Francis (NY)")
df=df.replace("St Fran (PA)","Saint Francis (PA)")
df=df.replace("TNorthern State","Tennessee State")
df=df.replace("TNorthern Martin","Tennessee-Martin")
df=df.replace("UCSB","UC Santa Barbara")
df=df.replace("TX A&M-CC","Texas A&M-Corpus Christi")
df=df.replace("Central Connecticut","Central Connecticut State")
df=df.replace("VMI","Virginia Military Institute")
df=df.replace("U Penn","Pennsylvania")
df=df.replace("Wash State","Washington State")
df=df.replace("TX Southern","Texas Southern")
df=df.replace("TX A&M-Com","Texas A&M-Commerce")
df=df.replace("W Illinois","Western Illinois")
df=df.replace("Loyola Mymt","Loyola Marymount")
df=df.replace("W Georgia","West Georgia")
df=df.replace("UCF","Central Florida")
df=df.replace("W Virginia","West Virginia")
df=df.replace("TNorthern Tech","Tennessee Tech")
df=df.replace("WI-Milwkee","Milwaukee")
df=df.replace("St Marys","Saint Mary's (CA)")
df=df.replace("George Wshgtn","George Washington")
df=df.replace("St Johns","St. John's (NY)")
df=df.replace("W Carolina","Western Carolina")
df=df.replace("Cal State Bakersfld","Cal State Bakersfield")
df=df.replace("UL Monroe","Louisiana-Monroe")
df=df.replace("Northern Mex State","New Mexico State")
df=df.replace("UCSD","UC San Diego")
df=df.replace("W Michiganigan","Western Michigan")
df=df.replace("TNorthern Martin","Tennessee-Martin")
df=df.replace("WI-Grn Bay","Green Bay")
df=df.replace("TX-Pan Am","Texas-Rio Grande Valley")
df=df.replace("Detroit","Detroit Mercy")
df=df.replace("Queens (NY)","Queens (NC)")
df=df.replace("St Josephs","Saint Joseph's")
df=df.replace("St Bonavent","St. Bonaventure")
df=df.replace("Ste F Austin","Stephen F. Austin")
df=df.replace("UNC Wilmgton","UNC Wilmington")
df=df.replace("UNLV","Nevada-Las Vegas")
df=df.replace("TX El Paso","UTEP")
df=df.replace("Bowling Green","Bowling Green State")
df=df.replace("TX Christian","TCU")
df=df.replace("Youngs State","Youngstown State")
df=df.replace("Eastern Washingtn","Eastern Washington")
df=df.replace("TX El Paso","UTEP")
df=df.replace("TX-Arlington","UT Arlington")
df=df.replace("Northeastrn","Northeastern")
df=df.replace("Northern Alabama","North Alabama")
df=df.replace("Mt State Marys","Mount St. Mary's")
df=df.replace("Wins-Salem","Winston-Salem")
df=df.replace("Bowling Green","Bowling Green State")
df=df.replace("TX Christian","TCU")
df=df.replace("TN State","Tennessee State")
ratdf=df

In [ ]:
key=input("team")

In [ ]:
(eloLeague.ratingDict['Alabama A&M']+hfas[confs[2024]['Southern']])-(32*20)

In [ ]:
752.66/19

In [ ]:
hr=input("home")
hr=eloLeague.ratingDict[hr]+hfas[confs[2024][hr]]
ar=input("away")
ar=eloLeague.ratingDict[ar]
print(((hr-ar)/19))

In [ ]:
s=oppp[oppp.Year==2024]
for row in s.itertuples():
    if confs[2024][row.Schl]==confs[2024][row.Opp]:
        if row.Venue=='vs':
            if 'True' in str(row.neutral):
                hf=0
            else:
                hf=hfas[confs[2024][row.Schl]] 
            ht=row.Schl
            hr=eloLeague.ratingDict[ht]+hf
            at=row.Opp
            ar=eloLeague.ratingDict[at]
        else:
            if 'True' in str(row.neutral):
                hf=0
            else:
                hf=hfas[confs[2024][row.Opp]] 
            ht=row.Schl
            hr=eloLeague.ratingDict[ht]
            at=row.Opp
            ar=eloLeague.ratingDict[at]+hf 
        if hr>ar:
            confyz[confs[2024][row.Schl]][row.Schl]+=1
        else:
            confyz[confs[2024][row.Opp]][row.Opp]+=1

In [ ]:
eloLeague.ratingDict['Michigan']

In [ ]:
h={}
for g in confyz:
    h[g]={}
for g in confyz:
    f=confyz[g]
    o=sorted(f,key=f.get,reverse=True)
    print(g)
    print("\n")
    for t in o:
        print(t,confyz[g][t])

In [ ]:
msqez={}
for i in range(9,50):
    msqez[str(i)]=0
for i in range(9,50):
    msqez[str(i)]=sum(msqe[str(i)])/len(msqe[str(i)])

In [ ]:
for row in df22.itertuples():
    spread=float(row.team1elopre)-float(row.team2elopre)
    spread=spread/19
    spread=round(spread)
    if spread==0:
        if row.team1elopre>row.team2elopre:
            spread=1
        else:
            spread=-1
    df22.at[row.Index,'predt1spread']=spread

In [ ]:
arr=[]
headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'}
years={}
import time
for i in range(1949,2025):
    years[i]=[]
for row in df22.itertuples():
    if float(row.Year)>2005:
        
        if float(row.Date) not in years[float(row.Year)]:years[float(row.Year)].append(float(row.Date))
print("done")
y=2012
from fake_ut import UserAgent
ua = UserAgent()
for iz in range(y,y+1):
    print(iz)
    iz=str(iz)
    for date in years[float(iz)]:
        time.sleep(2)
        date=str(date)
        date=date[0]+date[1]+date[2]+date[3]+"-"+date[4]+date[5]+"-"+date[6]+date[7]
        date=str(date)
        url='https://teamrankings.com/ncaa-basketball/ranking/predictive-by-other/?date='+str(date)
        user_agent = ua.random
        headers={'User-Agent':user_agent}
        html=requests.get(url,headers=headers)
        print(html.status_code)
        html=html.text
        soup=BeautifulSoup(html)
        table=soup.find_all("table")[0]
        for tr in table.find_all("tr"):
            if 'Rating' not in str(tr):
                team=tr.find_all("td")[1]
                team=team['data-sort']
                rating=tr.find_all("td")[2].text
                arr.append([team,rating,iz,date])

In [ ]:
rh={}
u=[]
for team in years[2023]:
    rh[team]=(eloLeague.ratingDict[team])
    u.append(eloLeague.ratingDict[team])
rh=sorted(rh, key=rh.get, reverse=True)
i=1
print(np.mean(u))
print("Rank||Team||Points Above d1 Average")
for key in rh:
    print(str(i)+"  "+key+"  "+str(eloLeague.ratingDict[key]-np.mean(u))+"")
    i+=1

In [ ]:
((eloLeague.ratingDict['Creighton']+hfas['Big East'])-(eloLeague.ratingDict['North Dakota State']))/17

In [ ]:
df=pd.DataFrame(arr,columns=['Team','Rating','Year','Date'])
df.to_csv("posty.txt")

In [ ]:
for row in df22.itertuples():
    spread=row.team1elopre-row.team2elopre
    spread=spread/9
    spread=round(spread)
    if spread==0:
        
        if row.team1elopre>row.team2elopre:
            spread=1
        else:
            spread=-1
    df22.at[row.Index,'predt1spread']=spread

In [ ]:
h.find_all("a")[0]['href']

In [ ]:
df=df.reindex(index=df.index[::-1])

In [ ]:
df.to_csv("allscores.csv")

In [ ]:
len(line)

In [ ]:
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df13=df13[df13.Year!='Year']
df13[df13.Year=='2000-01']
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")
df19=df19[df19.Year!='Year']
df19[df19.Year=='2000-01']

In [ ]:
import pandas as pd
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

In [ ]:
df1=pd.concat([df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19],ignore_index=True)
arr=[]
df100=df1.sort_values(by='Date')
df1=df1[['Year','Date','neutral','PTS','OPP','Year','Opp','Schl']]
df1=df1.drop_duplicates()
ys=[]

import sys
for Date in df100.Date.unique():
    times=1
    teams=[]
    
    if '2003' in str(Date):
        sys.exit(1)
    if row.Year not in ys:
        ys.append(row.Year)
        print(row.Year)
    df=df1[df1.Date==Date]
    for row in df.itertuples():
        if row.Schl in teams or row.Opp in teams:
            times+=1
            num=20*times
            date=row.Date+" "+str(num)+":00:00"
        else:
            date=row.Date+" 00:00:00"
        arr.append([row.Schl,date,row.Opp,row.Year,'vs',row.neutral,row.PTS,row.OPP])
        teams.append(row.Schl)
        teams.append(row.Opp)

# d2 scores from 2007 season

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment

links={}
import time
arr=[]
ys={}
for i in range(2025,2026):
    ys[i]=[]
for i in range(2025,2026):
    print(i)
    links[i]=[]
    html=requests.get("https://www.sports-reference.com/cbb/seasons/men/"+str(i)+"-standings.html")
    print(html.status_code)
    html=html.text
    html=html.replace("<!--","").replace("-->","")
    soup=BeautifulSoup(html,'lxml')
    
    
    y=i-1
    for table in soup.find_all("table"):
        for tr in table.find_all("tr"):
            if "Notes" not in str(tr) and 'Overall' not in str(tr):
                
                
                schl=tr.find_all("td")[0].text
                conf=tr.find_all("td")[1].text
                srs=tr.find_all("td")[13].text
            
                
                arr.append([schl,conf,y,srs])
    time.sleep(5)
    print(len(arr))

In [ ]:
df=pd.DataFrame(arr,columns=['School','Conf','Year','SRS'])
df=df[df.SRS.notna()]
df.to_csv("alld1s.txt")

##