<a href="https://www.kaggle.com/code/savageopress12345/mechanical-soup-error?scriptVersionId=118868915" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
ty=df22[df22.Year==2023]
points=set(ty.PTS.tolist()+ty.OPP.tolist())
games={}
arr=[]
for row in ty.itertuples():
    if row.PTS>row.OPP:
        name=row.Schl+"||"+row.Opp+"||"+str(row.PTS)+"||"+str(row.OPP)
        games[name]=row.PTS
        arr.append([row.Schl,row.Opp,row.PTS,row.OPP,row.Venue,row.Date])
    if row.PTS<row.OPP:
        name=row.Opp+"||"+row.Schl+"||"+str(row.OPP)+"||"+str(row.PTS)
        games[name]=row.OPP
        arr.append([row.Opp,row.Schl,row.OPP,row.PTS,row.Venue,row.Date])

In [ ]:
df=pd.DataFrame(arr,columns=['Winner','Loser','Winner PTS','Loser PTS','Venue','Date'])
df=df.sort_values(by='Loser PTS')
df=df.iloc[0:10]
for row in df.itertuples():
    print(row)

In [ ]:
[item for item in sorted(games, key=games.get)][0:10]

In [ ]:
myKeys = list(games.keys())
{i: games[i] for i in myKeys}[0:5]

**

In [ ]:
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

In [5]:

import time
start_time = time.time()
print('done files')
import numpy as np
from datetime import datetime
import random
import string
from decimal import Decimal
class Elo:
    def __init__(self,k,g=1,homefield = 110): 
        self.ratingDict={}
        self.k = k
        self.g = g
        self.homefield= homefield
    def addPlayer(self,name,rating = 1500):
        self.ratingDict[name] = rating
    def gameOver(self, winner, loser, winnerHome,neutral,wp,lp,yr,date,hfa,k):
        homef=hfa
        if('True' in str(neutral)):
            homef=0
        if(winnerHome==True):
            
            elod=(eloLeague.ratingDict[winner]+homef)-(eloLeague.ratingDict[loser])
        if(winnerHome!=True):
            
            elod=(eloLeague.ratingDict[winner])-(homef+eloLeague.ratingDict[loser])
        
        elo=float(elod)
        wp=float(wp)
        lp=float(lp)
        o=abs(wp-lp)
        y=float(((o)+3))
        
        mov=((o+3)**0.8)/(7.5+0.006*elod)
        if winnerHome==True:
            
            result = self.expectResult(self.ratingDict[winner]+homef, self.ratingDict[loser])
        else:
            result = self.expectResult(self.ratingDict[winner], self.ratingDict[loser]+homef)
        shift=(self.k*mov)*(1 - result) 
        self.ratingDict[winner]+=shift
        self.ratingDict[loser]-=shift
    def expectResult(self, p1, p2):
        global exp
        exp = (Decimal(p2)-Decimal(p1))/Decimal(400.0)
        n2=Decimal(10.0)
        j=Decimal(exp)
        o=Decimal(1)/((n2**(j))+Decimal(1))
        return float(o)
import requests
from bs4 import BeautifulSoup,Comment
import re, csv
from bs4 import BeautifulSoup as bs
uteams=requests.get("https://ontheroadtovote.com/ncaaf/caabteams.json").json() 
d2urls={}
d2urls[2001]='https://ontheroadtovote.com/ncaaf/prefbs/2001.html'
for i in range(2002,2024):
    url='https://ontheroadtovote.com/ncaaf/prefbs/masseyratings.com'+str(i)+".webarchive"
    d2urls[str(i)]=url
d2urls[2024]='https://masseyratings.com/scores.php?s=604302&sub=11590&all=1&mode=3&sch=on&format=0'
thearr=[]
abbreviations = [
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#States.
    "AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "IA",
    "ID", "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MN", "MO",
    "MS", "MT", "NC", "ND", "NE", "NH", "NJ", "NM", "NV", "NY", "OH", "OK",
    "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VA", "VT", "WA", "WI",
    "WV", "WY",
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#Federal_district.
    "DC",
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#Inhabited_territories.
    "AS", "GU", "MP", "PR", "VI",
]
import re
import pandas as pd
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
from datetime import date
today=str(date.today())
from datetime import timedelta
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/updatedstandings.csv")
w=0
l=0
names=[]
def replace(n):
    string=n
    for letter in letters:
        string=string.replace(letter+" Stateate",letter+" State")
    return string
names=set()
from datetime import date
today=date.today()
oldconfs=pd.read_csv("https://ontheroadtovote.com/ncaab/old.csv")
import json
hbcus=['Texas Southern','Coppin State','Morgan State','North Carolina Central','Morgan State','Howard','Norfolk State','South Carolina State','Delaware State','Grambling','Southern','Alcorn State','North Carolina A&T','Tennessee State','Chicago State','Hampton','Bethune-Cookman','Alabama A&M','Prairie View A&M','Mississippi Valley State','Alabama State','Arkansas-Pine Bluff','Florida A&M','Jackson State','Maryland-Eastern Shore']
w=0
l=0
from datetime import datetime
df2 = {'Unnamed: 0':'t','Rk':4,'School':'Hiram','Conf':'Independent','Year':1893,'W':1,'L':0}
oldconfs.append(df2,ignore_index=True)
msqe={}
currSeason=1949
for i in range(9,50):
    msqe[str(i)]=set()
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/cbbstandings.csv")
confs={}
for i in range(1949,2025):
    confs[i]={}
df=df.replace("PCC (North)","PCC")
df=df.replace("PCC (South)","PCC")
df=df.replace("Mid-Atl (Eastern)","Mid-Atl")
df=df.replace("Mid-Atl (Western)","Mid-Atl")
df=df.replace("Mid-Atl (East)","Mid-Atl")
df=df.replace("Mid-Atl (West)","Mid-Atl")
df=df.replace("ECC (West)","ECC")
df=df.replace("ECC (East)","ECC")
df=df.replace("ECBL (East)","ECBL")
df=df.replace("ECBL (West)","ECBL")
df=df.replace("EAA (West)","EAA")
df=df.replace("EAA (East)","EAA")
df=df.replace("ECACM (North)","ECACM")
df=df.replace("ECACM (South)","ECACM")
df=df.replace("A-10 (East)","A-10")
df=df.replace("A-10 (West)","A-10")
df=df.replace("MAAC (South)","MAAC")
df=df.replace("MAAC (North)","MAAC")
df=df.replace("CUSA (Blue)","CUSA")
df=df.replace("CUSA (Red)","CUSA")
df=df.replace("CUSA (White)","CUSA")
df=df.replace("Big East (East)","Big East")
df=df.replace("MAC (East)","MAC")
df=df.replace("SEC (East)","SEC")
df=df.replace("Southern (North)",'Southern')
df=df.replace("Southern (South)","Southern")
df=df.replace("WAC (Pacific)","WAC")
df=df.replace("CUSA (National)","CUSA")
df=df.replace("TAAC (East)","TAAC")
df=df.replace("Sun Belt (West)","Sun Belt")
df=df.replace("TAAC (West)","TAAC")
df=df.replace("A-Sun (North)","A-Sun")
df=df.replace("MAC (West)","MAC")
df=df.replace("Big East (West)","Big East")
df=df.replace("SEC (West)","SEC")
df=df.replace("Southland (West)","Southland")
df=df.replace("Southland (East)","Southland")
df=df.replace("OVC (East)","OVC")
df=df.replace("OVC (West)","OVC")
df=df.replace("Big South (North)","Big South")
df=df.replace("Big South (South)","Big South")
df=df.replace("A-Sun (East)","A-Sun")
df=df.replace("Patriot (Central)","Patriot")
df=df.replace("WAC (Mountain)","WAC")
df=df.replace("CUSA (American)","CUSA")
df=df.replace("Big West (West)","Big West")
df=df.replace("CUSA (East)","CUSA")
df=df.replace("Patriot (North)","Patriot")
df=df.replace("CUSA (West)","CUSA")
df=df.replace("A-Sun (West)","A-Sun")
df=df.replace("Patriot (South)","Patriot")
df=df.replace("A-Sun (South)","A-Sun")
df=df.replace("MEAC (Southern)","MEAC")
df=df.replace("MEAC (Northern)","MEAC")
df=df.replace("Sun Belt (East)","Sun Belt")
df=df.replace("Big West (West)","Big West")
df=df.replace("Big West (East)","Big West")
df=df.replace("Big East (Big East 6)","Big East")
df=df.replace("Big East (Big East 7)","Big East")
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
standings=standings.replace("Florida Gulf Cost","Florida Gulf Coast")
for row in standings.itertuples():
    if float(row.Year)>1948:
        confs[float(row.Year)][str(row.Schl)]=str(row.Conference)
for row in df.itertuples():
    s=row.School
    s=s.replace("FDU",'Fairleigh Dickinson')
    s=s.replace("UCF","Central Florida")
    confs[float(row.Year)][str(s)]=row.Conf
preds={}
swac=['Grambling','Alcorn State',"Jackson State",'Prairie View','Texas Southern','Arkansas-Pine Bluff','Southern','Bethune-Cookman','Alabama State','Florida A&M','Alabama A&M','Mississippi Valley State']
meac=['North Carolina Central','Coppin State','Maryland-Eastern Shore','Norfolk State','Howard','South Carolina State','Morgan State','Delaware State']
confy={}
for conf in set(df.Conf.tolist()):
    confy[conf]={}
for row in df.itertuples():
    confy[row.Conf][float(row.Year)]=[]
for row in df.itertuples():
    confy[row.Conf]=[]


kval=20
eloLeague = Elo(k = kval)
print("go through games")
did=[]
rev=0.73
we=pd.read_csv("https://ontheroadtovote.com/ncaaf/prefbs/allbbzz.csv")
tz={}
h=requests.get("https://ontheroadtovote.com/ncaaf/prefbs/alltz.txt").text
h=str(h)
h=h.split("\n")
we=we[we.home!='Server']
we['homep']=we['homep'].fillna("35")
we=we.astype({"homep":float,"awayp":float})

for line in h:
    tz[line.split("|")[0]]=line.split("|")[1]
for i in range(1949,2000):
    wez=we[we.season==i]
    for row in wez.itertuples():
        s=str(row.home)
        o=str(row.away)
        if s in tz:
            s=tz[s]
        if o in tz:
            o=tz[o]
        sz=row.season
        o=o.strip()
        s=s.strip()
        if o=='Bowling Green':
            o='Bowling Green State'
        if s=='Bowling Green':
            s='Bowling Green State'
        row=[float(row.date),s,o,row.homep,row.awayp,row.venue,row.season,row.notes,False]
        if s in confs[float(sz)] and o in confs[float(sz)]:
            thearr.append(row)
print("did old")
print(len(thearr))
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df13=df13[df13.Year!='Year']
df13[df13.Year=='2000-01']
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")
df19=df19[df19.Year!='Year']
df19[df19.Year=='2000-01']
df2=pd.concat([df19,df13])
df2=df2.sort_values(by='Date')
uteams['Bowling Green']='Bowling Green State'
for row in df2.itertuples():
    o=row.Opp
    s=row.Schl
    s=s.strip()
    o=o.strip()
    if o in uteams:
        o=uteams[o]
    if s in uteams:
        s=uteams[s]
    if o in confs[2000] and s in confs[2000]:
        thearr.append([row.Date,s,o,row.PTS,row.OPP,'vs',2000,'notes',row.neutral])
for key in d2urls:
    print(key)
    r = requests.get(d2urls[key])
    soup = BeautifulSoup(r.text, 'lxml')
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(BeautifulSoup(r.text, 'lxml'))
    aa=str(aa)
    aa=(aa.split("<hr/><pre>")[1])
    aa=aa.replace("               ",",")
    aa=aa.replace("  ",",")
    for i in range(0,10):
        aa=aa.replace(str(i)+" ",str(i)+",") 
    aa=aa.replace(",,,,,,",",")
    
    q=aa
    q=q.split("\n")
    for line in q:
        line=str(line)
        if 'Games' not in str(line) and str(line)!='' and '<' not in str(line):
            j=line[1]
            n=False
            if "@" not in str(line):
                n=True
            line = list(line.split(','))
            v="vs"
            if "@" in str(line[1]):
                v="vs"
            else:
                v='@'
            date=str(line[0])
            line=str(line)
            line=line.replace("[","")
            line=line.replace("]","")
            line=line.replace("'","")
            line=line.replace('"',"")
            line=line.replace(",@",",")
            line=line.replace("@","")
            line = list(line.split(','))
            lines=[]
            for l in line:
                if l==' ' :
                    m=1
                else:
                    lines.append(l)
            line=lines
            s=line[1]
            s=s.lstrip()
            s=s.rstrip()
            o=line[3]
            o=o.lstrip()
            o=o.rstrip()
            o=o.replace("amp;","")
            s=s.replace("amp;","")
            if s in uteams:
                s=uteams[s]
            if o in uteams:
                o=uteams[o]
            if len(line)>7:
                notes=line[7]
                notes=notes.strip()
                for a in abbreviations:
                    j=a
                    if str(j) in str(notes):
                        n=True
            if s  not in confs[float(key)] or o not in confs[float(key)]:
                m=1
            else:
                row=[date,s,o,line[2],line[4],v,float(key),'notes',n]
            thearr.append(row)

from bs4 import BeautifulSoup,Comment
df22=pd.DataFrame(thearr,columns=['Date','Schl',"Opp",'PTS','OPP','Venue','Year','Notes','neutral'])
print("TE FILE IS:"+str(len(df22)))
df22=df22.astype({"Venue":"string"})
df22=df22.astype({"neutral":"string"})
print("created df22")
print(set(df22.Year.tolist()))
df22['Venue']=df22['Venue'].replace("NA?","N")
df22['Venue']=df22['Venue'].replace("A?","@")
df22['Venue']=df22['Venue'].replace("AH?","N")
df22['Venue']=df22['Venue'].replace("AN?","N")
df22['Venue']=df22['Venue'].replace("HA?","N")
df22['Venue']=df22['Venue'].replace("HN?","N")
df22['Venue']=df22['Venue'].replace("NA?","N")
df22['Venue']=df22['Venue'].replace("NN","N")
df22['Venue']=df22['Venue'].replace("NH?","N")
df22['Venue']=df22['Venue'].replace("N\xa0","N")
df22['Venue']=df22['Venue'].replace("N?","N")
df22['Venue']=df22['Venue'].replace("H?","H")
df22['Venue']=df22['Venue'].replace("A?","A")
df22['Venue']=df22['Venue'].replace("n","N")
df22['Venue']=df22['Venue'].replace("?","N")
df22=df22.fillna("35")
df22=df22.astype({"PTS":float,"OPP":float})
for row in df22.itertuples():
    if row.Venue=='A':
        df22.at[row.Index,'Venue']='@'
    if row.Venue=='H' or row.Venue=='N':
        df22.at[row.Index,'Venue']='vs'
    if row.Venue=='N':
        df22.at[row.Index,'neutral']='True'
    elif 'True' not in str(row.neutral):
        df22.at[row.Index,'neutral']='False'
df22=df22.astype({"Date":"string"})
df22['Date']=df22['Date'].str.replace("-","")
from datetime import date
df22=df22.astype({"Date":float})
today=str(date.today())
today=today.replace("-","")
df22=df22.replace("Texas Christian",'TCU')
hfas={}
df22=df22.drop_duplicates()
for game in df22.itertuples():
    if game.Schl in confs[game.Year] and game.Opp in confs[game.Year]:
        
        if confs[float(game.Year)][game.Schl]!=confs[float(game.Year)][game.Opp]:
            sconf=confs[float(game.Year)][game.Schl]
            confy[sconf].append(game.PTS-game.OPP)
            oconf=confs[float(game.Year)][game.Opp]
            confy[oconf].append(game.OPP-game.PTS)
for game in df22.itertuples():
    
    if game.Schl in confs[game.Year] and game.Opp in confs[game.Year]:
        if game.neutral==True or game.neutral=='True':
            m=1
        else:
            
            sc=confs[game.Year][game.Schl]
            oc=confs[game.Year][game.Opp]
            if sc not in hfas:
                hfas[sc]=[]
            if oc not in hfas:
                hfas[oc]=[]
            if game.Venue!='@':
                hfas[sc].append(game.PTS-game.OPP)
            else:
                hfas[oc].append(game.OPP-game.PTS)
kval=20
for key in hfas:
    
    hfas[key]=(np.mean(hfas[key]))
    hfas[key]=round(hfas[key])*kval
    hfas[key]=round(hfas[key])
mean=np.mean(list(hfas.values()))
mean=round(mean,-1)
rev=0.70
for key in hfas:
    num=((1-rev)*hfas[key])+(rev*(3*kval))
    num=hfas[key]
    hfas[key]=num
l=0
w=0
for row in df22.itertuples():
    if row.Schl not in did:
        num=round(np.mean(confy[confs[row.Year][row.Schl]]))
        num=num*kval
        num=num*(1-rev)
        eloLeague.addPlayer(row.Schl,rating=1500+num)
        did.append(row.Schl)
    if row.Opp not in did:
        num=round(np.mean(confy[confs[row.Year][row.Opp]]))
        num=num*kval
        num=num*(1-rev)
        eloLeague.addPlayer(row.Opp,rating=1500+num)
        did.append(row.Opp)
keys={}
arr=[]
for i in range(2011,2015):
    url='https://ontheroadtovote.com/ncaaf/prefbs/ys/'+str(i)+"rat.txt"
    df=pd.read_csv(url)
    for row in df.itertuples():
        date=str(row.Date)
        date=date.replace("-","")
        rating=str(row.Rating)
        if "--" in str(rating) and float(row.Year)==2019:
            rating=-0.1
        rat=float(rating)
        arr.append([row.Team,rat,float(row.Year),float(date)])
url='https://ontheroadtovote.com/ncaaf/prefbs/ys/2015-2016rat.txt'
df=pd.read_csv(url)
for row in df.itertuples():
    date=str(row.Date)
    date=date.replace("-","")
    arr.append([row.Team,float(row.Rating),float(row.Year),float(date)])
url='https://ontheroadtovote.com/ncaaf/prefbs/ys/2017-2018rat.txt'
df=pd.read_csv(url)
for row in df.itertuples():
    date=str(row.Date)
    date=date.replace("-","")
    arr.append([row.Team,float(row.Rating),float(row.Year),float(date)]) 
url='https://ontheroadtovote.com/ncaaf/prefbs/ys/2019-2023rat.txt'
df=pd.read_csv(url)
for row in df.itertuples():
    date=str(row.Date)
    date=date.replace("-","")
    rating=str(row.Rating)
    if "--" in str(rating) and float(row.Year)==2019:
        rating=-0.1
    rat=float(rating)
    arr.append([row.Team,rat,float(row.Year),float(date)])
url='https://ontheroadtovote.com/ncaaf/prefbs/ys/posty.txt'
df=pd.read_csv(url)
df=df.astype({"Year":float})
df=df[df.Year>2010]
for row in df.itertuples():
    date=str(row.Date)
    date=date.replace("-","")
    arr.append([row.Team,float(row.Rating),float(row.Year),float(date)])
years={}
years[2024]=[]
from datetime import date
today=str(date.today())
dates=pd.date_range(start='2024-11-01',end=today)

    
for iz in range(2024,2025):
    print(iz)
    iz=float(iz)
    for date in years[2024]:
        time.sleep(2)
        date=date
        date=str(date)
        date=date
        date=str(date)
        url='https://teamrankings.com/ncaa-basketball/ranking/predictive-by-other/?date='+str(date)
        html=requests.get(url)
        print(html.status_code)
        html=html.text
        soup=BeautifulSoup(html)
        table=soup.find_all("table")[0]
        for tr in table.find_all("tr"):
            if 'Rating' not in str(tr):
                team=tr.find_all("td")[1]
                team=team['data-sort']
                rating=tr.find_all("td")[2].text
                arr.append([team,rating,iz,date])
df=pd.DataFrame(arr,columns=['Team','Rating','Year','Date'])
df=pd.DataFrame(arr,columns=['Team','Rating','Year','Date'])
df=df.replace("Abl Christian","Abilene Christian")
df=df.replace("AR Lit Rock","Little Rock")
df=df.replace("Alab A&M","Alabama A&M")
df=df.replace("IPFW","Purdue Fort Wayne")
df=df.replace("N Carolina","North Carolina")
df=df.replace("Hsn Christian","Houston Christian")
df=df.replace("LIU","Long Island University")
df['Team']=df['Team'].str.replace(" St"," State")
df['Team']=df['Team'].str.replace(" Stateate"," State")
df['Team']=df['Team'].str.replace(" Stateate"," State")
df=df.replace("Ark Pine Bl","Arkansas-Pine Bluff")
df=df.replace("Albany","Albany (NY)")
df=df.replace("Boston U","Boston University")
df=df.replace("S Carolina","South Carolina")
df=df.replace("Boston Col","Boston College")
df=df.replace("Beth-Cook","Bethune-Cookman")
df=df.replace("Bowling Grn","Bowling Green")
df=df.replace("Cal Baptist","California Baptist")
df['Team']=df['Team'].str.replace("CS ","Cal State ")
df['Team']=df['Team'].str.replace(" Mich"," Michigan")
df=df.replace("Central Ark","Central Arkansas")
df=df.replace("Central Conn","Central Connecticut")
df=df.replace("Cal State Nrdge","Cal State Northridge")
df=df.replace("Charl South","Charleston Southern")
df=df.replace("Coastal Car","Coastal Carolina")
df=df.replace("Col Charlestn","College of Charleston")
df['Team']=df['Team'].str.replace("E ","Eastern ")
df=df.replace("Eastern Tenn State","East Tennessee State")
df=df.replace("Eastern Michiganigan","Eastern Michigan")
df=df.replace("Eastern Carolina","East Carolina")
df=df.replace("USC","Southern California")
df=df.replace("LSU","Louisiana State")
df=df.replace("Florida Intl","Florida International")
df=df.replace("Fla Atlantic","Florida Atlantic")
df=df.replace("Fla Gulf Cst","Florida Gulf Coast")
df['Team']=df['Team'].str.replace("GA ","Georgia ")
df['Team']=df['Team'].str.replace("Geo ","George ")
df=df.replace("Grd Canyon","Grand Canyon")
df=df.replace("Loyola-Chi","Loyola (IL)")
df=df.replace("Lg Beach State","Long Beach State")
df=df.replace("Incar Word","Incarnate Word")
df=df.replace("IL-Chicago","Illinois-Chicago")
df=df.replace("Gard-Webb","Gardner-Webb")
df=df.replace("Grambling State","Grambling")
df=df.replace("Jksnville State","Jacksonville State")
df=df.replace("James Mad","James Madison")
df=df.replace("LIU-Brooklyn","Long Island University")
df=df.replace("LA Tech","Louisiana Tech")
df=df.replace("F Dickinson","Fairleigh Dickinson")
df=df.replace("Loyola-MD","Loyola (MD)")
df=df.replace("Loyola Mym","Loyola Marymount")
df=df.replace("Mass Lowell","Massachusetts-Lowell")
df=df.replace("Middle Tenn","Middle Tennessee")
df=df.replace("Miss State","Mississippi State")
df=df.replace("Miss Val State","Mississippi Valley State")
df=df.replace("Centenary","Centenary (LA)")
df=df.replace("Maryland BC","Maryland-Baltimore County")
df=df.replace("Maryland ES","Maryland-Eastern Shore")
df['Team']=df['Team'].str.replace("NC-","UNC ")
df['Team']=df['Team'].str.replace("N ","Northern ")
df['Team']=df['Team'].str.replace("Northern Dakota State","North Dakota State")
df['Team']=df['Team'].str.replace("Northern Florida","North Florida")
df['Team']=df['Team'].str.replace("Northern Hampshire","New Hampshire")
df=df.replace("Nicholls","Nicholls State")
df=df.replace("NW State","Northwestern State")
df=df.replace("NC A&T","North Carolina A&T")
df=df.replace("Neb-Omaha","Omaha")
df=df.replace("App State","Appalachian State")
df=df.replace("Miami","Miami (FL)")
df=df.replace("Queens","Queens (NY)")
df=df.replace("NorthernMex State","New Mexico State")
df=df.replace("S Indiana","Southern Indiana")
df=df.replace("S Illinois","Southern Illinois")
df=df.replace("S Alabama","South Alabama")
df=df.replace("S Carolina","South Carolina")
df=df.replace("S Florida","South Florida")
df=df.replace("S Mississippi","Southern Mississippi")
df=df.replace("S Methodist","Southern Methodist")
df=df.replace("S Dakota St","South Dakota State")
df=df.replace("S Car State","South Carolina State")
df=df.replace("Wm & Mary","William & Mary")
df=df.replace("S Utah","Southern Utah")
df=df.replace("SC Upstate","South Carolina Upstate")
df=df.replace("Rob Morris","Robert Morris")
df=df.replace("SEastern Louisiana","Southeastern Louisiana")
df=df.replace("SEastern Missouri","Southeast Missouri State")
df=df.replace("SIU Edward","Southern Illinois-Edwardsville")
df=df.replace("Sac State","Sacramento State")
df=df.replace("Sacred Hrt","Sacred Heart")
df=df.replace("Sam Hous State","Sam Houston")
df=df.replace("UNC Grnsboro","UNC Greensboro")
df=df.replace("S Dakota State","South Dakota State")
df=df.replace("Citadel","The Citadel")
df=df.replace("VA Tech","Virginia Tech")
df=df.replace("BYU","Brigham Young")
df=df.replace("VCU","Virginia Commonwealth")
df=df.replace("U Mass","Massachusetts")
df=df.replace("NC Central","North Carolina Central")
df=df.replace("W Kentucky","Western Kentucky")
df=df.replace("UCSB","UC Santa Barbara")
df=df.replace("St Peters","Saint Peter's")
df=df.replace("Neb Omaha","Omaha")
df=df.replace("St Fran (NY)","St. Francis (NY)")
df=df.replace("St Fran (PA)","Saint Francis (PA)")
df=df.replace("TNorthern State","Tennessee State")
df=df.replace("TNorthern Martin","Tennessee-Martin")
df=df.replace("UCSB","UC Santa Barbara")
df=df.replace("TX A&M-CC","Texas A&M-Corpus Christi")
df=df.replace("Central Connecticut","Central Connecticut State")
df=df.replace("VMI","Virginia Military Institute")
df=df.replace("U Penn","Pennsylvania")
df=df.replace("Wash State","Washington State")
df=df.replace("TX Southern","Texas Southern")
df=df.replace("TX A&M-Com","Texas A&M-Commerce")
df=df.replace("W Illinois","Western Illinois")
df=df.replace("Loyola Mymt","Loyola Marymount")
df=df.replace("UCF","Central Florida")
df=df.replace("W Virginia","West Virginia")
df=df.replace("TNorthern Tech","Tennessee Tech")
df=df.replace("WI-Milwkee","Milwaukee")
df=df.replace("St Marys","Saint Mary's (CA)")
df=df.replace("George Wshgtn","George Washington")
df=df.replace("St Johns","St. John's (NY)")
df=df.replace("W Carolina","Western Carolina")
df=df.replace("Cal State Bakersfld","Cal State Bakersfield")
df=df.replace("UL Monroe","Louisiana-Monroe")
df=df.replace("Northern Mex State","New Mexico State")
df=df.replace("UCSD","UC San Diego")
df=df.replace("W Michiganigan","Western Michigan")
df=df.replace("TNorthern Martin","Tennessee-Martin")
df=df.replace("WI-Grn Bay","Green Bay")
df=df.replace("TX-Pan Am","Texas-Rio Grande Valley")
df=df.replace("Detroit","Detroit Mercy")
df=df.replace("Queens (NY)","Queens (NC)")
df=df.replace("St Josephs","Saint Joseph's")
df=df.replace("St Bonavent","St. Bonaventure")
df=df.replace("Ste F Austin","Stephen F. Austin")
df=df.replace("UNC Wilmgton","UNC Wilmington")
df=df.replace("UNLV","Nevada-Las Vegas")
df=df.replace("TX El Paso","UTEP")
df=df.replace("Bowling Green","Bowling Green State")
df=df.replace("TX Christian","TCU")
df=df.replace("Youngs State","Youngstown State")
df=df.replace("Eastern Washingtn","Eastern Washington")
df=df.replace("TX El Paso","UTEP")
df=df.replace("TX-Arlington","UT Arlington")
df=df.replace("Northeastrn","Northeastern")
df=df.replace("Northern Alabama","North Alabama")
df=df.replace("Mt State Marys","Mount St. Mary's")
df=df.replace("Wins-Salem","Winston-Salem")
df=df.replace("Bowling Green","Bowling Green State")
df=df.replace("TX Christian","TCU")
df=df.replace("TN State","Tennessee State")
for k in set(df.Team.tolist()):
    if k not in confs[2023]:
        print(k)
pwr={}
kval=20
df=df[df.Year>2012]
for row in df.itertuples():
    if float(row.Year) not in pwr:
        pwr[float(row.Year)]={}
    if row.Date not in pwr[float(row.Year)]:
        pwr[float(row.Year)][row.Date]={}
    if row.Team not in pwr[float(row.Year)][row.Date]:
        pwr[float(row.Year)][row.Date][row.Team]=float(row.Rating)
for t in confy:
    confy[t]=np.mean(confy[t])*kval
    confy[t]=confy[t]*(1-rev)
from datetime import date
from datetime import datetime
today=datetime.today().strftime('%Y%m%d')



df22=df22[df22.Date<float(today)]
df1 = pd.DataFrame({"Date":20241101,"Schl":'h','Opp':"rt","PTS":54,'OPP':53,'Venue':'vs','Year':2024,'Notes':"notes",'neutral':"False"})
df22= df22.append(df1, ignore_index = True)
for game in df22.itertuples():
    s=game.Schl
    o=game.Opp
    o=o.strip()
    s=s.strip()
    season=game.Year
    if s not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(s,rating=1500)
    if o not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(o,rating=1500)
    while (season)>currSeason: 
        print(season)
        games=0
        confz={}
        for conf in confs[game.Year]:
            if conf not in eloLeague.ratingDict.keys():
                eloLeague.addPlayer(conf,rating=1500)
        if game.Year in pwr:
            for key in confs[game.Year]:
                pre=list(pwr[float(game.Year)].keys())[0]
                num=pwr[game.Year][pre][key]
                num=num*kval
                gh=(1500+float(confy[confs[game.Year][key]]))
                gh=gh+1500
                gh=gh/2
                gh=gh+num
                num=eloLeague.ratingDict[key]+gh
                num=num/2
                eloLeague.ratingDict[key]=num
        for key in confs[game.Year]:
            conf=confs[game.Year][key]
            if conf not in confz:
                confz[conf]=[]
            confz[conf].append(eloLeague.ratingDict[key])
        lsdf=df22[df22.Year<game.Year]
        ls=set(lsdf.Schl.tolist()+lsdf.Opp.tolist())
        for key in eloLeague.ratingDict.keys():
            if key  in confs[game.Year] and key in ls:
                num=np.mean(confz[confs[float(game.Year)][key]])
                num=num+1500
                num=num/2
                eloLeague.ratingDict[key]=(eloLeague.ratingDict[key]*(1-rev))+(num*rev)     
        currSeason+=1
    sp=0
    op=0
    s=str(game.Schl)
    o=str(game.Opp)
    o=o.strip()
    s=s.strip()
    if (game.Schl in swac or game.Schl in meac or game.Opp in meac or game.Opp in swac)and(str(o) in confs[2023] and str(s) in confs[2023])and('2023' in str(game.Year)):
        if 'True' in str(game.neutral):
            hf=0
        if game.Venue=='@' and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Opp]]
            hr=eloLeague.ratingDict[game.Schl]
            ar=eloLeague.ratingDict[game.Opp]+hf
        if game.Venue=='vs'  and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Schl]]
            hr=eloLeague.ratingDict[game.Schl]+hf
            ar=eloLeague.ratingDict[game.Opp]
        if hr>ar:
            spread=round((hr-ar)/21)
            if spread==0:
                spread=1
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            name="On "+str(game.Date)+" "+str(game.Schl)+" beats "+str(game.Opp)+" by "+str(spread)
            keys[name]=game.Date   
        if ar>hr:
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            spread=round((ar-hr)/21)
            if spread==0:
                spread=1
            
            name="On "+str(game.Date)+" "+str(game.Opp)+" beats "+str(game.Schl)+" by "+str(spread)
            keys[name]=game.Date            
        
    if(game.Venue=='@'):
        if game.Opp not in confs[game.Year]:
            hf=50
    else:
        if game.Schl not in confs[game.Year]:
            hf=50
    t1r=0
    t2r=0
    k=kval
    if game.Year in pwr:
        first=list(pwr[float(game.Year)].keys())[0]
    if game.Year in pwr and game.Date!=first:
        key=game.Schl
        if key in pwr[float(game.Year)][game.Date]:
            rat=pwr[float(game.Year)][game.Date][key]
            rat=rat*kval
            numje=rat
            numj=(1500)+float(confy[confs[game.Year][key]])
            numj=numj+1500
            numj=numj/2
            numj=numj+numje
            numj=(numj*(1-rev))+(eloLeague.ratingDict[key]*rev)
                            
            avg=eloLeague.ratingDict[key]+numj
            avg=avg/2
            eloLeague.ratingDict[key]=avg
        key=game.Opp
        if key in pwr[float(game.Year)][game.Date]:
            rat=pwr[float(game.Year)][game.Date][key]
            rat=rat*kval
            numje=rat
            numj=(1500)+float(confy[confs[game.Year][key]])
            numj=numj+1500
            numj=numj/2
            numj=numj+numje
            numj=(numj*(1-rev))+(eloLeague.ratingDict[key]*rev)
                            
            avg=eloLeague.ratingDict[key]+numj
            avg=avg/2
            eloLeague.ratingDict[key]=avg
    if(game.Venue!='@'):
        if game.Schl in confs[game.Year]:
            hf=hfas[confs[game.Year][game.Schl]]
    if(game.Venue=='@'): 
        if game.Opp in confs[game.Year]:
            hf=hfas[confs[game.Year][game.Opp]]
    if 'True'  in str(game.neutral):
        hf=0
    winnerHomez=False
    if game.Venue=='@':
        if game.PTS<game.OPP:
            winnerHomez=True
        t2e=eloLeague.ratingDict[game.Opp]+hf
        t1e=eloLeague.ratingDict[game.Schl]
    else:
        if game.PTS>game.OPP:
            winnerHomez=True
        t1e=eloLeague.ratingDict[game.Schl]+hf
        t2e=eloLeague.ratingDict[game.Opp]
    if(game.PTS>game.OPP):
        df22.at[game.Index,'team1elopre']=t1e
        df22.at[game.Index,'team2elopre']=t2e
        eloLeague.gameOver(s,o,winnerHomez,game.neutral,game.PTS,game.OPP,game.Year,game.Date,hf,k)
    if(game.PTS<game.OPP):
        df22.at[game.Index,'team1elopre']=t1e
        df22.at[game.Index,'team2elopre']=t2e
        eloLeague.gameOver(o,s,winnerHomez,game.neutral,game.OPP,game.PTS,game.Year,game.Date,hf,k)
    d1=(s in confs[game.Year] or o in confs[game.Year])
    for i in range(9,50):
        spread=abs((t1e-t2e)/float(i))
        spread=round(spread)
        if spread==0:
            if t1e>t2e:
                spread=1
            else:
                spread=-1
        ms=(float(game.PTS)-float(game.OPP))-spread
        
        msz = np.square(ms)
        if d1==True:
            msqe[str(i)].add(msz)
    if game.Year in pwr:
        last=list(pwr[float(game.Year)].keys())[-1]
    if game.Year in pwr and game.Date==last:
        for key in confs[game.Year]:
            row=game
            if key in pwr[float(game.Year)][row.Date]:
                am=pwr[float(game.Year)][row.Date+1][key]
                am=am*kval
                am=am+1500
                am=am+eloLeague.ratingDict[key]
                am=am/2
                eloLeague.ratingDict[key]=am
            key=game.Opp
            if key in pwr[float(game.Year)][row.Date]:
                am=pwr[float(game.Year)][row.Date+1][key]
                am=am*kval
                am=am+1500
                am=am+eloLeague.ratingDict[key]
                am=am/2
                eloLeague.ratingDict[key]=am
        
import numpy as np
msqez={}
for i in range(9,50):
    msqez[str(i)]=0
for i in range(9,50):
    msqez[str(i)]=sum(msqe[str(i)])/len(msqe[str(i)])
mas=min(msqez, key=msqez.get)
print("--- %s seconds ---" % (time.time() - start_time))

done files
go through games

ValueError: could not convert string to float: 'ALS'

In [8]:
we[we.homep=='ALS']

       Unnamed: 0     date home away homep awayp venue  season notes
25520       25520  11111.0  217   67   ALS   GEO    89  1993.0   NaN
25663       25663  11111.0  230   72   ALS   ALB    87  1993.0   NaN
25747       25747  11111.0  303   79   ALS   TEA    84  1993.0   NaN
25794       25794  11111.0  304   98   ALS   TRO    87  1993.0   NaN
25976       25976  11111.0  308   80   ALS   GES    59  1993.0   NaN
26520       26520  11111.0  329   88   ALS   UTC   104  1993.0   NaN
26581       26581  11111.0  330   87   ALS   AME    70  1993.0   NaN
26824       26824  11111.0  406  115   ALS   TRO    98  1993.0   NaN
26869       26869  11111.0  408   90   ALS   PRA    62  1993.0   NaN
26998       26998  11111.0  410   79   ALS   TES    73  1993.0   NaN
27172       27172  11111.0  415   89   ALS   ALC    82  1993.0   NaN
27312       27312  11111.0  417   84   ALS   SOU    93  1993.0   NaN
27488       27488  11111.0  422   84   ALS   GRA    76  1993.0   NaN
27624       27624  11111.0  424   80   ALS   MVS    75  1993.0   NaN
27794       27794  11111.0  429   80   ALS   JSU    81  1993.0   NaN
27991       27991  11111.0  502   80   ALS   TRO    81  1993.0   NaN
28091       28091  11111.0  505   89   ALS   PRA    85  1993.0   NaN
28230       28230  11111.0  507   66   ALS   TES    76  1993.0   NaN
28397       28397  11111.0  512   95   ALS   ALC    83  1993.0   NaN
28535       28535  11111.0  514  111   ALS   SOU   107  1993.0   NaN
28709       28709  11111.0  519  121   ALS   GRA    76  1993.0   NaN
28842       28842  11111.0  521   83   ALS   MVS    69  1993.0   NaN
29014       29014  11111.0  526   74   ALS   JSU    86  1993.0   NaN
29469       29469  11111.0  609   70   ALS   GRA    66  1993.0   NaN
29485       29485  11111.0  610   65   ALS   JSU    83  1993.0   NaN

In [4]:
we.reindex(index=we.index[::-1])

        Unnamed: 0     date    home away  homep awayp venue  season notes
141460      141460  11112.0  Server  404  Error     -  File  1949.0    or
141459      141459  11112.0  Server  404  Error     -  File  1949.0    or
141458      141458  11111.0     KAN  BRA     57    59     N  1949.0   NaN
141457      141457  11111.0     OSU  DEP     70    63     H  1949.0   NaN
141456      141456  11111.0     CIN  XAV     59    48     H  1949.0   NaN
...            ...      ...     ...  ...    ...   ...   ...     ...   ...
4                4  11111.0     MSO  WIS     55    66     N  1999.0   NaN
3                3  11111.0     IOW  STA     58    72     N  1999.0   NaN
2                2  11111.0     CON  DUK     71    66     N  1999.0   NaN
1                1  11111.0     DUK  STA     79    80     N  1999.0   NaN
0                0  11111.0     CON  IOW     68    70     N  1999.0   NaN

[141461 rows x 9 columns]

In [11]:
we=pd.read_csv("https://ontheroadtovote.com/ncaaf/prefbs/allbbz.csv")
we[we.season==1949]

        Unnamed: 0        date home away  homep  awayp venue  season notes
142981      142981  19491206.0  MIC  MOH   79.0   48.0     H  1949.0   NaN
142982      142982  19500218.0  BRO  NAV    NaN   54.0     A  1949.0   NaN
142983      142983  19500111.0  WAK  FUR   50.0   41.0     A  1949.0   NaN
142984      142984  19500104.0  TCU  RIC   61.0   80.0     A  1949.0   NaN
142985      142985  19500128.0  BOC  SFN   81.0   77.0     A  1949.0   NaN
...            ...         ...  ...  ...    ...    ...   ...     ...   ...
144374      144374  19500326.0  OSU  HOL   72.0   52.0     N  1949.0   NaN
144375      144375  19500327.0  BRA  BAY   68.0   66.0     N  1949.0   NaN
144376      144376  19500328.0  BYU  UCL   83.0   62.0     N  1949.0   NaN
144377      144377  19500329.0  CCN  BRA   71.0   68.0     H  1949.0   NaN
144378      144378  19500330.0  NCS  BAY   53.0   41.0     N  1949.0   NaN

[1398 rows x 9 columns]

In [33]:
msqez={}
for i in range(9,50):
    msqez[str(i)]=0
for i in range(9,50):
    msqez[str(i)]=sum(msqe[str(i)])/len(msqe[str(i)])

In [2]:
for row in df22.itertuples():
    spread=float(row.team1elopre)-float(row.team2elopre)
    spread=spread/19
    spread=round(spread)
    if spread==0:
        if row.team1elopre>row.team2elopre:
            spread=1
        else:
            spread=-1
    df22.at[row.Index,'predt1spread']=spread

In [7]:
a=df22[df22.Year==1949]
a.sort_values(by='Date')

,Date,Schl,Opp,PTS,OPP,Venue,Year,Notes,neutral,team1elopre,team2elopre
595,19491126.0,Virginia Tech,Loyola (MD),58.0,72.0,@,1949.0,35,False,1470.000000,1560.889449
846,19491126.0,Saint Joseph's,Rhode Island,46.0,62.0,vs,1949.0,35,False,1588.000000,1489.571336
684,19491128.0,St. John's (NY),Virginia Tech,84.0,52.0,vs,1949.0,35,False,1566.000000,1543.530033
596,19491129.0,Virginia Tech,Long Island University,53.0,73.0,@,1949.0,35,False,1461.077037,1645.085475
499,19491129.0,Toledo,Valparaiso,73.0,86.0,@,1949.0,35,False,1488.000000,1548.109493
...,...,...,...,...,...,...,...,...,...,...,...
1380,19500329.0,City College of New York,Bradley,71.0,68.0,vs,1949.0,35,False,1725.098517,1712.066928
1369,19500330.0,Bradley,St. John's (NY),83.0,72.0,@,1949.0,35,False,1699.238426,1691.917658
1381,19500330.0,NC State,Baylor,53.0,41.0,vs,1949.0,35,True,1671.674602,1463.090615
1370,19500331.0,City College of New York,Bradley,69.0,61.0,vs,1949.0,35,False,1706.562565,1709.955043
1371,19500332.0,St. John's (NY),Duquesne,69.0,67.0,vs,1949.0,35,False,1681.201040,1563.790945

In [10]:
s='Indiana'
pd.set_option('display.max_rows', 500)
f=df22[df22.Year==2023]
f[(f.Schl==s)|(f.Opp==s)]

,Date,Schl,Opp,PTS,OPP,Venue,Year,Notes,neutral,team1elopre,team2elopre,predt1spread
748879,20231107.0,Indiana,Florida Gulf Coast,69.0,63.0,vs,2023.0,notes,False,1860.055012,1458.256204,21.0
750429,20231112.0,Indiana,Army,72.0,64.0,vs,2023.0,notes,False,1865.397349,1356.779790,27.0
751197,20231116.0,Indiana,Wright State,89.0,80.0,vs,2023.0,notes,False,1864.499711,1464.568139,21.0
752369,20231119.0,Connecticut,Indiana,77.0,57.0,@,2023.0,notes,True,1778.716127,1682.519551,5.0
752611,20231120.0,Indiana,Louisville,74.0,66.0,@,2023.0,notes,True,1667.858810,1527.299999,7.0
753785,20231126.0,Indiana,Harvard,89.0,76.0,vs,2023.0,notes,False,1849.709169,1514.173571,18.0
754910,20231201.0,Indiana,Maryland,65.0,53.0,vs,2023.0,notes,False,1850.886236,1702.915114,8.0
756025,20231205.0,Indiana,Michigan,78.0,75.0,@,2023.0,notes,False,1677.197658,1906.815691,-12.0
756838,20231209.0,Auburn,Indiana,104.0,76.0,@,2023.0,notes,True,1779.999320,1688.564428,5.0
758169,20231216.0,Kansas,Indiana,75.0,71.0,@,2023.0,notes,False,1849.896352,1852.898880,-1.0
758847,20231219.0,Indiana,Morehead State,69.0,68.0,vs,2023.0,notes,False,1846.983529,1463.529085,20.0
759186,20231221.0,Indiana,North Alabama,83.0,66.0,vs,2023.0,notes,False,1845.811759,1403.423689,23.0
759494,20231229.0,Indiana,Kennesaw State,100.0,87.0,vs,2023.0,notes,False,1846.230965,1434.890042,22.0
760451,20240103.0,Nebraska,Indiana,86.0,70.0,vs,2023.0,notes,False,1898.081419,1666.293458,12.0
761318,20240106.0,Indiana,Ohio State,71.0,65.0,vs,2023.0,notes,False,1839.301511,1782.431936,3.0
761756,20240109.0,Rutgers,Indiana,66.0,57.0,vs,2023.0,notes,False,1862.495912,1663.727833,10.0
762593,20240112.0,Indiana,Minnesota,74.0,62.0,vs,2023.0,notes,False,1838.774702,1657.927084,10.0
763603,20240116.0,Purdue,Indiana,87.0,66.0,@,2023.0,notes,False,1962.440379,1843.422747,6.0
764396,20240119.0,Wisconsin,Indiana,91.0,79.0,vs,2023.0,notes,False,2017.545210,1653.148333,19.0
766905,20240127.0,Illinois,Indiana,70.0,62.0,vs,2023.0,notes,False,2046.224165,1651.856283,21.0
767479,20240130.0,Indiana,Iowa,74.0,68.0,vs,2023.0,notes,False,1831.934043,1775.833159,3.0
769071,20240203.0,Penn State,Indiana,85.0,71.0,@,2023.0,notes,False,1646.340543,1839.582141,-10.0
769447,20240206.0,Indiana,Ohio State,76.0,73.0,@,2023.0,notes,False,1639.535604,1907.425046,-14.0
770843,20240210.0,Purdue,Indiana,79.0,59.0,vs,2023.0,notes,False,2180.472931,1652.824660,28.0
773066,20240218.0,Northwestern,Indiana,76.0,72.0,@,2023.0,notes,False,1740.467370,1833.559541,-5.0
773541,20240221.0,Nebraska,Indiana,85.0,70.0,@,2023.0,notes,False,1741.025465,1827.151967,-5.0
774530,20240224.0,Penn State,Indiana,83.0,74.0,vs,2023.0,notes,False,1846.452604,1632.557208,11.0
774846,20240227.0,Indiana,Wisconsin,74.0,70.0,vs,2023.0,notes,False,1811.935625,1815.467217,-1.0
775904,20240303.0,Indiana,Maryland,83.0,78.0,@,2023.0,notes,False,1640.645727,1923.393372,-15.0
776162,20240306.0,Indiana,Minnesota,70.0,58.0,@,2023.0,notes,False,1656.726331,1870.525894,-11.0
776617,20240310.0,Indiana,Michigan State,65.0,64.0,vs,2023.0,notes,False,1857.440844,1842.052977,1.0
776860,20240314.0,Indiana,Penn State,61.0,59.0,@,2023.0,notes,True,1680.423054,1684.498349,-1.0
776962,20240315.0,Nebraska,Indiana,93.0,66.0,@,2023.0,notes,True,1778.336116,1684.183150,5.0

In [ ]:
url='https://ontheroadtovote.com/ncaaf/prefbs/ys/post.csv'
df=pd.read_csv(url)
df[df.Year==str(2013)]

In [ ]:
394/float(mas)

In [ ]:
124/float(mas)

In [ ]:
(eloLeague.ratingDict['Texas Southern']+hfas[confs[2023]['Grambling']])-eloLeague.ratingDict['Texas State']

In [ ]:
508/18

In [ ]:
633/float(mas)

In [ ]:
(eloLeague.ratingDict['Utah']+hfas[confs[2023]['Utah']])-eloLeague.ratingDict['Alcorn State']

In [1]:
arr=[]
headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'}
years={}
import time
for i in range(1949,2025):
    years[i]=[]
for row in df22.itertuples():
    if float(row.Year)>2005:
        
        if float(row.Date) not in years[float(row.Year)]:years[float(row.Year)].append(float(row.Date))
print("done")
y=2012
from fake_ut import UserAgent
ua = UserAgent()
for iz in range(y,y+1):
    print(iz)
    iz=str(iz)
    for date in years[float(iz)]:
        time.sleep(2)
        date=str(date)
        date=date[0]+date[1]+date[2]+date[3]+"-"+date[4]+date[5]+"-"+date[6]+date[7]
        date=str(date)
        url='https://teamrankings.com/ncaa-basketball/ranking/predictive-by-other/?date='+str(date)
        user_agent = ua.random
        headers={'User-Agent':user_agent}
        html=requests.get(url,headers=headers)
        print(html.status_code)
        html=html.text
        soup=BeautifulSoup(html)
        table=soup.find_all("table")[0]
        for tr in table.find_all("tr"):
            if 'Rating' not in str(tr):
                team=tr.find_all("td")[1]
                team=team['data-sort']
                rating=tr.find_all("td")[2].text
                arr.append([team,rating,iz,date])

NameError: name 'df22' is not defined

In [ ]:
!pip install fake_useragent

In [ ]:
for t in confy:
    confy[t]=np.mean(confy[t])

In [ ]:
confy[t]

In [ ]:
rh={}
u=[]
for team in years[2023]:
    rh[team]=(eloLeague.ratingDict[team])
    u.append(eloLeague.ratingDict[team])
rh=sorted(rh, key=rh.get, reverse=True)
i=1
print(np.mean(u))
print("Rank||Team||Points Above d1 Average")
for key in rh:
    print(str(i)+"  "+key+"  "+str(eloLeague.ratingDict[key]-np.mean(u))+"")
    i+=1

In [ ]:
((eloLeague.ratingDict['Creighton']+hfas['Big East'])-(eloLeague.ratingDict['North Dakota State']))/17

In [ ]:
df=pd.DataFrame(arr,columns=['Team','Rating','Year','Date'])
df.to_csv("posty.txt")

In [9]:
we

        Unnamed: 0     date home away homep awayp venue  season notes
0                0  11111.0  CON  IOW    68    70     N  1999.0   NaN
1                1  11111.0  DUK  STA    79    80     N  1999.0   NaN
2                2  11111.0  CON  DUK    71    66     N  1999.0   NaN
3                3  11111.0  IOW  STA    58    72     N  1999.0   NaN
4                4  11111.0  MSO  WIS    55    66     N  1999.0   NaN
...            ...      ...  ...  ...   ...   ...   ...     ...   ...
141454      141454  11111.0  YAL  HAR    56    55     H  1949.0   NaN
141455      141455  11111.0  CIN  W&M    80    44     H  1949.0   NaN
141456      141456  11111.0  CIN  XAV    59    48     H  1949.0   NaN
141457      141457  11111.0  OSU  DEP    70    63     H  1949.0   NaN
141458      141458  11111.0  KAN  BRA    57    59     N  1949.0   NaN

[141361 rows x 9 columns]

In [ ]:
for row in df22.itertuples():
    spread=row.team1elopre-row.team2elopre
    spread=spread/9
    spread=round(spread)
    if spread==0:
        
        if row.team1elopre>row.team2elopre:
            spread=1
        else:
            spread=-1
    df22.at[row.Index,'predt1spread']=spread

In [ ]:
t=df[df.Year==2023]
off=[]
for t in list(t.OFF.tolist()):
    off.append(float(t))
max(off)

In [ ]:
j=np.mean([16,17,20])
(16*(1-rev))+(rev*j)

In [ ]:
tr.find_all("td")[0].text

In [16]:
from bs4 import BeautifulSoup
import requests
sep=""
def remove_tags(html):

    # parse html content
    soup = BeautifulSoup(html, "html.parser")

    for data in soup(['style', 'script']):
        # Remove tags
        data.decompose()

    # return data by retrieving the tag content
    return ' '.join(soup.stripped_strings)
years=[1950,1962,1973,1974]
import pandas as pd
yu=[]
from datetime import datetime,timedelta
html=requests.get("https://academics.smcvt.edu/jtrono/BBallArchive.htm").text
soup=BeautifulSoup(html)
table=soup.find_all("table")[0]
arr=[]
for tr in table.find_all("tr"):
    season=tr.find_all("td")[0].text
    yearz=season[:-1]
    yearz=yearz[2::]
    yearz=yearz.replace("-","_")
    print(season)
    season=season.split("-")[0]
    link='https://academics.smcvt.edu/jtrono/'+tr.find_all("a")[1]['href']
    j=link
    j=j.split("Archive/")[1]
    j=j.split("_dt")[0]
    
    ht=requests.get(link).text

   
    soupz=BeautifulSoup(ht)
    
    body=soupz.find_all("body")[0]
    
    body=str(body)
    body=body.replace("<br>","<br/>")
    body=body.replace("<p>","")
    
    body=body.split("<br/>")
    
    for line in body:
        line=remove_tags(line)
        line=line.replace("\r\n","")
        
        if 'html' not in str(line) and line!='' and line!='\xa0' and '<body>' not in str(line) and line!='\xa0\n</body>' and line!='\n':
            
            line=line.replace("leftmargin","")
            line=line.replace("35","")
            line=line.replace('"',"")
            line=line.replace("topmargin","")
            line=line.replace(" = ","")
            line=line.replace("<body","")
            line=line.replace(">\n","")
            line=line.replace("=","")
            date=line.split(" ")[0]
            home=line.split(" ")[0]
            pts=line.split(" ")[1]
            away=line.split(" ")[2]
            opp=line.split(" ")[3]
            venue=line.split(" ")[4]
            date='11111'
            if date[0]=='2':
                date=season+sep+"11"+sep+date[1::]
            if date[0]=='3':
                date=season+sep+"12"+sep+date[1::]
            if date[0]=='4':
                date=str(float(season)+1)+sep+"01"+sep+date[1::]
            if date[0]=='5':
                date=str(float(season)+1)+sep+"02"+sep+date[1::]
            if date[0]=='6':
                date=str(float(season)+1)+sep+"03"+sep+date[1::]
            if date[0]=='7':
                date=str(float(season)+1)+sep+"04"+sep+date[1::]
            date=date.replace("F","")
            date=date.replace("f","")
            date=date.replace(".0","")
            date=float(date)
            notes=''
            if len(line.split(" "))>6:
                notes=line.split(" ")[6]
            
            arr.append([date,home,away,pts,opp,venue,season,notes])
    link='https://academics.smcvt.edu/jtrono/'+tr.find_all("a")[1]['href']
    ht=requests.get(link).text
   
    soupz=BeautifulSoup(ht)
    
    body=soupz.find_all("body")[0]
    body=str(body)
    body=body.replace("<br>","<br/>")
    
    body=body.replace("<p>","")
    body=body.split("<br/>")
    for line in body:
        line=remove_tags(line)
        line=line.replace("\r\n","")
        if 'html' not in str(line) and line!='' and line!='\xa0' and '<body>' not in str(line) and line!='\xa0\n</body>' and season in years:
            
            line=line.replace("leftmargin","")
            line=line.replace("35","")
            line=line.replace('"',"")
            line=line.replace("topmargin","")
            line=line.replace(" = ","")
            line=line.replace("<body","")
            line=line.replace(">\n","")
            line=line.replace("=","")
            
            date=line.split(" ")[0]
            home=line.split(" ")[0]
            pts=line.split(" ")[1]
            away=line.split(" ")[2]
            opp=line.split(" ")[3]
            venue=line.split(" ")[4]
            date='11111'
            if date[0]=='2':
                date=season+sep+"11"+sep+date[1::]
            if date[0]=='3':
                date=season+sep+"12"+sep+date[1::]
            if date[0]=='4':
                date=str(float(season)+1)+sep+"01"+sep+date[1::]
            if date[0]=='5':
                date=str(float(season)+1)+sep+"02"+sep+date[1::]
            if date[0]=='6':
                date=str(float(season)+1)+sep+"03"+sep+date[1::]
            if date[0]=='7':
                date=str(float(season)+1)+sep+"04"+sep+date[1::]
            date=date.replace("F","")
            date=date.replace("f","")
            date=date.replace(".0","")
            date=float(date)
            notes=''
            if len(line.split(" "))>6:
                notes=line.split(" ")[6]
            
            arr.append([date,home,away,pts,opp,venue,season,notes])
    datez=date
    j=j.split(".dts")[0]
    jz=str(j)
    j=jz
    link='https://academics.smcvt.edu/jtrono/NCAA_Archive/'+j+"_nit.htm"
    ht=requests.get(link).text

   
    soupz=BeautifulSoup(ht)
    
    body=soupz.find_all("body")[0]
    body=str(body)
    body=body.replace("<br>","<br/>")
    body=body.replace("<p>","")
    
    body=body.split("<br/>")
    
    datez=date
   
    
    for line in body:
        line=remove_tags(line)
        line=line.replace("\r\n","")
        if 'html' not in str(line) and line!='' and line!='\xa0' and '<body>' not in str(line)  and line!='\xa0\n</body>':
            line=line.replace("leftmargin","")
            line=line.replace("35","")
            line=line.replace('"',"")
            line=line.replace("<body","")
            line=line.replace("topmargin","")
            line=line.replace(" = ","")
            line=line.replace(">\n","")
            line=line.replace("=","")
            home=line.split(" ")[0]
            pts=line.split(" ")[1]
            away=line.split(" ")[2]
            opp=line.split(" ")[3]
            venue=line.split(" ")[4]
            
            
            
            notes=''
            if len(line.split(" "))>5:
                notes=line.split(" ")[5]
            datez+=1
            
            arr.append([datez,home,away,pts,opp,venue,season,notes])
    link='https://academics.smcvt.edu/jtrono/NCAA_Archive/'+j+"_ncaa.htm"
    ht=requests.get(link).text

   
    soupz=BeautifulSoup(ht)
    
    body=soupz.find_all("body")[0]
    body=str(body)
    body=body.replace("<br>","<br/>")
    body=body.replace("<p>","")
    
    body=body.split("<br/>")
    datez=date
    
    for line in body:
        line=remove_tags(line)
        line=line.replace("\r\n","")
        
        if 'html' not in str(line) and line!='' and line!='\xa0' and '<body>' not in str(line)  and line!='\xa0\n</body>':
            
            line=line.replace("leftmargin","")
            line=line.replace("35","")
            line=line.replace('"',"")
            line=line.replace("<body","")
            line=line.replace("topmargin","")
            line=line.replace(" = ","")
            line=line.replace(">\n","")
            line=line.replace("=","")
            line=line.replace("5V","5 V")
            home=line.split(" ")[0]
            pts=line.split(" ")[1]
            away=line.split(" ")[2]
            opp=line.split(" ")[3]
            venue=line.split(" ")[4]
            
            
            
            notes=''
            if len(line.split(" "))>5:
                notes=line.split(" ")[5]
            datez+=1
            
            arr.append([datez,home,away,pts,opp,venue,season,notes])
    
df=pd.DataFrame(arr,columns=['date','home','away','homep','awayp','venue','season','notes'])
df=df.astype({"season":float})

1999-20001
1998-991
1997-981
1996-971
1995-961
1994-953
1993-943
1992-933
1991-923
1990-913
1989-903
1988-893
1987-883
1986-873
1985-863
1984-853
1983-844
1982-834
1981-824
1980-814
1979-804
1978-794
1977-784
1976-774
1975-764
1974-754
1973-744
1972-734
1971-724
1970-714
1969-702
1968-692
1967-682

KeyboardInterrupt:

In [17]:
df=pd.DataFrame(arr,columns=['date','home','away','homep','awayp','venue','season','notes'])
df=df.astype({"season":float})
df[df.homep=='ALS']

Empty DataFrame
Columns: [date, home, away, homep, awayp, venue, season, notes]
Index: []

In [19]:
link='https://academics.smcvt.edu/jtrono/'+tr.find_all("a")[0]['href']
link=link.replace("_dts.htm","_dat.htm")
link

'https://academics.smcvt.edu/jtrono/NCAA_Archive/49_50_dat.htm'

In [ ]:
for row in df.itertuples():
    my_string=str(row.homep)
    if my_string.isnumeric():
        m=1
    else:

In [15]:
df[df.homep=='ALS']

          date home away homep awayp venue  season notes
25520  11111.0  217   67   ALS   GEO    89  1993.0
25663  11111.0  230   72   ALS   ALB    87  1993.0
25747  11111.0  303   79   ALS   TEA    84  1993.0
25794  11111.0  304   98   ALS   TRO    87  1993.0
25976  11111.0  308   80   ALS   GES    59  1993.0
26520  11111.0  329   88   ALS   UTC   104  1993.0
26581  11111.0  330   87   ALS   AME    70  1993.0
26824  11111.0  406  115   ALS   TRO    98  1993.0
26869  11111.0  408   90   ALS   PRA    62  1993.0
26998  11111.0  410   79   ALS   TES    73  1993.0
27172  11111.0  415   89   ALS   ALC    82  1993.0
27312  11111.0  417   84   ALS   SOU    93  1993.0
27488  11111.0  422   84   ALS   GRA    76  1993.0
27624  11111.0  424   80   ALS   MVS    75  1993.0
27794  11111.0  429   80   ALS   JSU    81  1993.0
27991  11111.0  502   80   ALS   TRO    81  1993.0
28091  11111.0  505   89   ALS   PRA    85  1993.0
28230  11111.0  507   66   ALS   TES    76  1993.0
28397  11111.0  512   95   ALS   ALC    83  1993.0
28535  11111.0  514  111   ALS   SOU   107  1993.0
28709  11111.0  519  121   ALS   GRA    76  1993.0
28842  11111.0  521   83   ALS   MVS    69  1993.0
29014  11111.0  526   74   ALS   JSU    86  1993.0
29469  11111.0  609   70   ALS   GRA    66  1993.0
29485  11111.0  610   65   ALS   JSU    83  1993.0

In [22]:
df[df.season==1949]

           date    home away  homep awayp venue  season notes
140083  11111.0     SJP  RHO     46    62     H  1949.0
140084  11111.0     VIT  LOM     58    72     A  1949.0
140085  11111.0     STJ  VIT     84    52     H  1949.0
140086  11111.0     TOL  VAL     73    86     A  1949.0
140087  11111.0     VIT  LIU     53    73     A  1949.0
...         ...     ...  ...    ...   ...   ...     ...   ...
141456  11111.0     CIN  XAV     59    48     H  1949.0
141457  11111.0     OSU  DEP     70    63     H  1949.0
141458  11111.0     KAN  BRA     57    59     N  1949.0
141459  11112.0  Server  404  Error     -  File  1949.0    or
141460  11112.0  Server  404  Error     -  File  1949.0    or

[1378 rows x 8 columns]

In [23]:
df=pd.DataFrame(arr,columns=['date','home','away','homep','awayp','venue','season','notes'])
df=df.astype({"season":float})
df.to_csv("allbbzz.csv")

In [ ]:
len(yu)

In [ ]:
df.to_csv("allscores.csv")

In [ ]:
len(line)

In [ ]:
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df13=df13[df13.Year!='Year']
df13[df13.Year=='2000-01']
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")
df19=df19[df19.Year!='Year']
df19[df19.Year=='2000-01']

In [ ]:
import pandas as pd
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

In [ ]:
df1=pd.concat([df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19],ignore_index=True)
arr=[]
df100=df1.sort_values(by='Date')
df1=df1[['Year','Date','neutral','PTS','OPP','Year','Opp','Schl']]
df1=df1.drop_duplicates()
ys=[]

import sys
for Date in df100.Date.unique():
    times=1
    teams=[]
    
    if '2003' in str(Date):
        sys.exit(1)
    if row.Year not in ys:
        ys.append(row.Year)
        print(row.Year)
    df=df1[df1.Date==Date]
    for row in df.itertuples():
        if row.Schl in teams or row.Opp in teams:
            times+=1
            num=20*times
            date=row.Date+" "+str(num)+":00:00"
        else:
            date=row.Date+" 00:00:00"
        arr.append([row.Schl,date,row.Opp,row.Year,'vs',row.neutral,row.PTS,row.OPP])
        teams.append(row.Schl)
        teams.append(row.Opp)

# d2 scores from 2007 season

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment

links={}
import time
arr=[]
ys={}
for i in range(1950,2025):
    ys[i]=[]
for i in range(1950,2025):
    print(i)
    links[i]=[]
    html=requests.get("https://www.sports-reference.com/cbb/seasons/men/"+str(i)+"-standings.html")
    print(html.status_code)
    html=html.text
    html=html.replace("<!--","").replace("-->","")
    soup=BeautifulSoup(html,'lxml')
    
    
    y=i-1
    for table in soup.find_all("table"):
        for tr in table.find_all("tr"):
            if "Notes" not in str(tr) and 'Overall' not in str(tr):
                
                
                schl=tr.find_all("td")[0].text
                conf=tr.find_all("td")[1].text
                srs=tr.find_all("td")[13].text
            
                
                arr.append([schl,conf,y,srs])
    time.sleep(5)
    print(len(arr))

In [ ]:
df=pd.DataFrame(arr,columns=['School','Conf','Year','SRS'])
df=df[df.SRS.notna()]
df.to_csv("alld1s.txt")

##