<a href="https://www.kaggle.com/code/savageopress12345/mechanical-soup-error?scriptVersionId=118868915" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [40]:
ty=df22[df22.Year==2023]
points=set(ty.PTS.tolist()+ty.OPP.tolist())
games={}
arr=[]
for row in ty.itertuples():
    if row.PTS>row.OPP:
        name=row.Schl+"||"+row.Opp+"||"+str(row.PTS)+"||"+str(row.OPP)
        games[name]=row.PTS
        arr.append([row.Schl,row.Opp,row.PTS,row.OPP,row.Venue,row.Date])
    if row.PTS<row.OPP:
        name=row.Opp+"||"+row.Schl+"||"+str(row.OPP)+"||"+str(row.PTS)
        games[name]=row.OPP
        arr.append([row.Opp,row.Schl,row.OPP,row.PTS,row.Venue,row.Date])

In [41]:
df=pd.DataFrame(arr,columns=['Winner','Loser','Winner PTS','Loser PTS','Venue','Date'])
df=df.sort_values(by='Loser PTS')
df=df.iloc[0:10]
for row in df.itertuples():
    print(row)

Pandas(Index=9753, Winner='North Dakota State', Loser='Oak Hills Chr', _3=108.0, _4=14.0, Venue='vs', Date=Timestamp('2023-12-10 00:00:00'))
Pandas(Index=2724, Winner='Faith Bap', Loser='FLBC', _3=65.0, _4=16.0, Venue='@', Date=Timestamp('2023-11-11 00:00:00'))
Pandas(Index=2107, Winner='Emmaus Bib', Loser='FLBC', _3=78.0, _4=23.0, Venue='@', Date=Timestamp('2023-11-10 00:00:00'))
Pandas(Index=8276, Winner='McNeese State', Loser='MS Women', _3=92.0, _4=23.0, Venue='vs', Date=Timestamp('2023-12-05 00:00:00'))
Pandas(Index=9302, Winner='Mercyhurst', Loser='SUNY Fredonia', _3=83.0, _4=24.0, Venue='vs', Date=Timestamp('2023-12-09 00:00:00'))
Pandas(Index=5210, Winner='West Alabama', Loser='Oakwood', _3=93.0, _4=25.0, Venue='vs', Date=Timestamp('2023-11-21 00:00:00'))
Pandas(Index=2718, Winner='Christendom', Loser='Appalachian Bib', _3=98.0, _4=26.0, Venue='vs', Date=Timestamp('2023-11-11 00:00:00'))
Pandas(Index=10473, Winner='Liberty', Loser='St Andrews', _3=99.0, _4=26.0, Venue='vs', Date=Timestamp('2023-12-16 00:00:00'))
Pandas(Index=271, Winner='C Chr Bible', Loser='FLBC', _3=93.0, _4=26.0, Venue='@', Date=Timestamp('2023-10-28 00:00:00'))
Pandas(Index=25218, Winner='Maryville TN', Loser='Warren Wilson', _3=55.0, _4=27.0, Venue='vs', Date=Timestamp('2024-02-17 00:00:00'))

In [42]:
[item for item in sorted(games, key=games.get)][0:10]

['IN S Bend||Holy Cross IN||42.0||41.0',
 'Christendom||Williamson Tr||43.0||33.0',
 'Loyola (MD)||American||44.0||43.0',
 'Keuka||Alfred||44.0||41.0',
 'Weatherford||Tyler JC||45.0||44.0',
 'Chipola||NW Florida St||45.0||41.0',
 'Southeastern Bap||Pensacola Chr||46.0||44.0',
 'Outaouais||Ahuntsic||46.0||44.0',
 'Cypress||Irvine Valley||46.0||43.0',
 'Montgomery Co CC||Delaware Co CC||47.0||41.0']

In [43]:
myKeys = list(games.keys())
{i: games[i] for i in myKeys}[0:5]

TypeError: unhashable type: 'slice'

**

In [67]:
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

array(['1949-50', '1950-51', '1951-52', '1952-53', '1953-54', '1954-55',
       '1955-56', '1956-57', '1957-58', '1958-59', '1959-60', '1960-61',
       '1961-62', '1962-63', '1963-64', '1964-65', '1965-66', '1966-67',
       '1967-68', '1968-69', '1969-70', '1970-71', '1971-72', '1972-73',
       '1973-74', '1974-75', '1975-76', '1976-77', '1977-78', '1978-79',
       '1979-80', '1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02'],
      dtype=object)

In [ ]:

import time
start_time = time.time()
import pandas as pd
print('done files')
import numpy as np
from datetime import datetime
import random
import string
print('no')
import math
chist=[]
j={}
df=75
j['gp']=1
j['yr']=1892
hfa=0
from decimal import Decimal
class Elo:
    
    
    
    

    def __init__(self,k,g=1,homefield = 110): 
        self.ratingDict={}
        self.k = k
        self.g = g
        self.homefield= homefield

    def addPlayer(self,name,rating = 1500):
        self.ratingDict[name] = rating
    def gameOver(self, winner, loser, winnerHome,neutral,wp,lp,yr,date,wpe,lpe,hfa,k):
        wpe=wpe
        lpe=lpe
        
        
        homef=hfa
        if('True' in str(neutral)):
            
        
            homef=0
        
        
        if(winnerHome==True):
            
            elod=(eloLeague.ratingDict[winner]+homef)-(eloLeague.ratingDict[loser])
        if(winnerHome!=True):
            
            elod=(eloLeague.ratingDict[winner])-(homef+eloLeague.ratingDict[loser])
        
        elo=float(elod)
        wp=float(wp)
        lp=float(lp)
        
        o=abs(wp-lp)
        y=float(((o)+3))
        
        mov=((o+3)**0.8)/(7.5+0.006*elod)
        if winnerHome==True:
            
            result = self.expectResult(self.ratingDict[winner]+homef, self.ratingDict[loser])
        else:
            result = self.expectResult(self.ratingDict[winner], self.ratingDict[loser]+homef)
        shift=(self.k*mov)*(1 - result) 
        self.ratingDict[winner]+=shift
        self.ratingDict[loser]-=shift
        
        

    def expectResult(self, p1, p2):
    
        global exp
        exp = (Decimal(p2)-Decimal(p1))/Decimal(400.0)
        n2=Decimal(10.0)
        j=Decimal(exp)
        o=Decimal(1)/((n2**(j))+Decimal(1))
        return float(o)

kval=20
eloLeague = Elo(k = kval)
import requests
import pandas as pd
import time
dl=[]
from bs4 import BeautifulSoup,Comment
proxies={'http':'173.192.21.89:80','http':'95.156.82.35:3128'}
print('neutral')


print('home')
from bs4 import BeautifulSoup,Comment


print('playoff')
import re, csv, requests
from bs4 import BeautifulSoup as bs
d2urls={"2023":"https://masseyratings.com/scores.php?s=557745&sub=557745&all=1","2002":"https://masseyratings.com/scores.php?s=41466&sub=41466&all=1"}
g=[]
thearr=[]
didp=0
pz=0
tds={}
ggg=[]
d1={"2003":"https://masseyratings.com/scores.php?s=41467&sub=11590&all=1&mode=3&format=2","2006":"https://masseyratings.com/scores.php?s=69587&sub=11590&all=1&mode=3&format=2","2009":"https://masseyratings.com/scores.php?s=97288&sub=11590&all=1&mode=3&format=2","2011":"https://masseyratings.com/scores.php?s=179268&sub=11590&all=1&mode=3&format=2","2013":"https://masseyratings.com/scores.php?s=203290&sub=11590&all=1&mode=3&format=2","2015":"https://masseyratings.com/scores.php?s=284067&sub=11590&all=1&mode=3&format=2","2016":"https://masseyratings.com/scores.php?s=292154&sub=11590&all=1&mode=3&format=2","2017":"https://masseyratings.com/scores.php?s=298892&sub=11590&all=1&mode=3&format=2","2018":"https://masseyratings.com/scores.php?s=305972&sub=11590&all=1&mode=3&format=2","2020":"https://masseyratings.com/scores.php?s=320158&sub=11590&all=1&mode=3&format=2","2021":"https://masseyratings.com/scores.php?s=379387&sub=11590&all=1&mode=3&format=2","2022":"https://masseyratings.com/scores.php?s=500054&sub=11590&all=1&mode=3&format=2","2023":"https://masseyratings.com/scores.php?s=557745&sub=11590&all=1"}
d1s={}
h=[]
years={}
d1ss=pd.read_csv("https://ontheroadtovote.com/ncaab/2024d1.csv")
d1ss=d1ss.astype({"Schl":"string"})
d1ss=d1ss.replace("FDU","Fairleigh Dickinson")
d1ss=d1ss.replace("UCF","Central Florida")
d1ss=d1ss.replace("Purdue Fort Wayne","Purdue-Fort Wayne")
d1ss=d1ss.replace("Sam Houston State","Sam Houston")
years[2023]={}
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/massey.csv")
df=df[df.Year<2023]
uteams=requests.get("https://ontheroadtovote.com/ncaaf/caabteams.json").json()
bannedteams={}
for i in range(2002,2024):
    bannedteams[i]=[]
banned=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/noncount.txt")
for row in banned.itertuples():
    if str(row.Banned)=='yes':
        bannedteams[float(row.Year)].append(row.Schl)
print(df.neutral.unique())
for row in df.itertuples():
    s=row.Schl
    o=row.Opp
    o=o.replace("amp;","")
    s=s.replace("amp;","")
    if s in uteams:
        s=uteams[s]
    if o in uteams:
        o=uteams[o]
    if s in bannedteams[row.Year] or o in bannedteams[row.Year]:
        m=1
    else:
        thearr.append([s,o,row.PTS,row.OPP,row.Year,row.Date,row.neutral,row.Venue,row.Year])
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/missingcbb.csv")
df=df[df.Year<2023]
uteams=requests.get("https://ontheroadtovote.com/ncaaf/caabteams.json").json()
print(df.neutral.unique())
for row in df.itertuples():
    s=row.Schl
    o=row.Opp
    o=o.replace("amp;","")
    s=s.replace("amp;","")
    if s in uteams:
        s=uteams[s]
    if o in uteams:
        o=uteams[o]
    thearr.append([s,o,row.PTS,row.OPP,row.Year,row.Date,row.neutral,row.Venue,row.Year])   
for row in d1ss.itertuples():
    years[float(2023)][row.Schl]={}
    years[float(2023)][row.Schl]='yes'
abbreviations = [
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#States.
    "AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "IA",
    "ID", "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MN", "MO",
    "MS", "MT", "NC", "ND", "NE", "NH", "NJ", "NM", "NV", "NY", "OH", "OK",
    "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VA", "VT", "WA", "WI",
    "WV", "WY",
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#Federal_district.
    "DC",
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#Inhabited_territories.
    "AS", "GU", "MP", "PR", "VI",
]
didp=0
for key in d2urls:
    r = requests.get(d2urls[key])
    soup = BeautifulSoup(r.text, 'lxml')
    
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(BeautifulSoup(r.text, 'lxml'))
    aa=str(aa)
    aa=(aa.split("<hr/><pre>")[1])
    
    aa=aa.replace("               ",",")
    aa=aa.replace("  ",",")
    for i in range(0,10):
        aa=aa.replace(str(i)+" ",str(i)+",")
        
    aa=aa.replace(",,,,,,",",")
    
    q=aa
    
    
    q=q.split("\n")
    for line in q:
        
        
        
        
        
        line=str(line)
        
        
        
        
        if 'Games' not in str(line) and str(line)!='' and '<' not in str(line):
            j=line[1]
            n=False
            line = list(line.split(','))
            v="vs"
            if "@" not in str(line):
                n=True
            if "@" in str(line[1]):
                v="vs"
            else:
                v='@'
            date=str(line[0])
            
            line=str(line)
            line=line.replace("[","")
            line=line.replace("]","")
            line=line.replace("'","")
            line=line.replace('"',"")
            line=line.replace(",@",",")
            line=line.replace("@","")
            line = list(line.split(','))
            lines=[]
            for l in line:
                if l==' ' :
                    m=1
                else:
                    
                    lines.append(l)
                
            
            line=lines
            s=line[1]
            s=s.lstrip()
            s=s.rstrip()
            o=line[3]
            o=o.lstrip()
            o=o.rstrip()
            o=o.replace("amp;","")
            s=s.replace("amp;","")
            if s in uteams:
                s=uteams[s]
            if o in uteams:
                o=uteams[o]
            if len(line)>7:
                notes=line[7]
                if s=='Purdue' and o=='Grambling':
                    print(line)
                    print(notes)
                notes=notes.strip()
                if notes in abbreviations:
                    n=True
                    
            row=[s,o,line[2],line[4],float(key),date,n,v,float(key)]
            thearr.append(row)
df1=pd.read_csv("https://ontheroadtovote.com/gamezz.csv")
dates={}
for row in df1.itertuples():
    date=row.Date
    date=date.split(" 00:00:00")[0]
    dates[date]=[]
for row in df1.itertuples():
    date=row.Date
    date=date.split(" 00:00:00")[0]
    dates[date].append(row.Schl)
    dates[date].append(row.Opp)
from bs4 import BeautifulSoup,Comment
df1['Venue']='vs'
df1['Yearz']=df1['Year']
print(df1.neutral.unique())
for row in df1.itertuples():
    y=row.Year
    if '-' in str(row.Year):
        y=str(row.Year).split("-")[0]
    date=str(row.Date)
    date=date.replace("20:","2:")
    date=date.replace("30:","3:")
    date=date.replace("40:","4:")
    date=date.replace("50:","5:")
    date=date.replace("60:","6:")
    date=date.replace("70:","7:")
    date=date.replace("80:","8:")
    date=date.replace("90:","9:")
    date=date.replace("10:","1:")
    if 'Year' not in str(row.Year):
        y=float(y)
        if y<2002:
            
        
            thearr.append([row.Schl,row.Opp,row.PTS,row.OPP,y,row.Date,row.neutral,row.Venue,y])
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
years={}
for i in range(1890,2024):
    years[float(i)]={}
for row in standings.itertuples():
    years[float(row.Year)][row.Schl]='yes'
confdf=pd.read_csv("https://ontheroadtovote.com/ncaab/updatedstandings.csv")
confdf=confdf.replace("Sam Houston State","Sam Houston")
confdf=confdf.astype({"School":"string"})
confdf= confdf[confdf['School'].notna()]
confdf=confdf.replace("FDU","Fairleigh Dickinson")
confdf=confdf.replace("UCF","Central Florida")
confdf=confdf.replace("Sam Houston State","Sam Houston")
confdf.dropna()
for row in confdf.itertuples():
    if float(row.Year)>1948:
        srs=str(row.SRS).strip()
        
        if 'known' not in str(srs):
            
            years[float(row.Year)][row.School]=1

d1ss=pd.read_csv("https://ontheroadtovote.com/ncaab/2024d1.csv")
d1ss=d1ss.astype({"Schl":"string"})
d1ss=d1ss.replace("FDU","Fairleigh Dickinson")
d1ss=d1ss.replace("UCF","Central Florida")
years[2023]={}
for row in d1ss.itertuples():
    years[float(2023)][row.Schl]={}
    years[float(2023)][row.Schl]='yes'

from datetime import date
today=str(date.today())
from datetime import timedelta

r = requests.get('https://ontheroadtovote.com/ncaab/steams.json')
y=r.json()
df1=df1[df1.Year!='Year']
for row in df1.itertuples():
    year=str(row.Year)
    if "-" in year:
        year=year.split("-")[0]
    v=row.Venue
    if v=='@?':
        v='@'
    if v=='vs?':
        v='vs'
    if v=='s':
        v='vs'
    if v=='v':
        v='vs'
    if v=='vs?(unknown)':
        v='vs'
        
    if float(year)<2002:    
        thearr.append([row.Schl,row.Opp,row.PTS,row.OPP,year,row.Date,row.neutral,v,row.Year])
d1={"2003":"https://masseyratings.com/scores.php?s=41467&sub=11590&all=1&mode=3&format=2","2006":"https://masseyratings.com/scores.php?s=69587&sub=11590&all=1&mode=3&format=2","2009":"https://masseyratings.com/scores.php?s=97288&sub=11590&all=1&mode=3&format=2","2011":"https://masseyratings.com/scores.php?s=179268&sub=11590&all=1&mode=3&format=2","2013":"https://masseyratings.com/scores.php?s=203290&sub=11590&all=1&mode=3&format=2","2015":"https://masseyratings.com/scores.php?s=284067&sub=11590&all=1&mode=3&format=2","2016":"https://masseyratings.com/scores.php?s=292154&sub=11590&all=1&mode=3&format=2","2017":"https://masseyratings.com/scores.php?s=298892&sub=11590&all=1&mode=3&format=2","2018":"https://masseyratings.com/scores.php?s=305972&sub=11590&all=1&mode=3&format=2","2020":"https://masseyratings.com/scores.php?s=320158&sub=11590&all=1&mode=3&format=2","2021":"https://masseyratings.com/scores.php?s=379387&sub=11590&all=1&mode=3&format=2","2022":"https://masseyratings.com/scores.php?s=500054&sub=11590&all=1&mode=3&format=2","2023":"https://masseyratings.com/scores.php?s=557745&sub=11590&all=1&mode=3&format=2"}
for url in d1:
    d1s[url]=[]
for url in d1:
    html=requests.get(d1[url]).text
    html=str(html)
    html=html.split("\n")
    for row in html:
        d1s[url].append(row)
bteams={}
bteams[1950]=['Murray State','Eastern Kentucky','Evansville','Morehead State','Marshall','Tennessee Tech']
bteams[1951]=['Murray State','Evansville','Morehead State','Marshall','Tennessee Tech']
bteams[1952]=['Murray State','Evansville','Morehead State','Marshall','Tennessee Tech']
bteams[1953]=['Morehead State','Middle Tennessee','Tennessee Tech']
bteams[1954]=['Morehead State','Tennessee Tech','Middle Tennessee']
bteams[1955]=['Middle Tennessee']
bteams[1956]=['Middle Tennessee']
bteams[1957]=['Middle Tennessee','East Tennessee State']
files=["https://ontheroadtovote.com/ncaab/nond1scores/missingscores/nwaacc/2019.txt","https://ontheroadtovote.com/ncaab/nond1scores/missingscores/ccaa/ccaascores.csv","usportsscores.csv","ccaascores.csv","nwaaccscores.csv",'cccaacores.csv','naiascores.csv',"accascores.csv","nccaascores.csv","d3scores.csv","d2scores.csv","njcaacores.csv","uscaascores.csv","2012cccaascores.txt","2014cccaascores.txt","2019cccaascores.txt"]
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/updatedstandings.csv")
teams=[]

html=requests.get("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/app.php")
html=html.text
arr=[]

df2=pd.DataFrame(thearr)

df2.columns=['Schl','Opp','PTS','OPP','Year','Date','neutral','Venue','Yearz']
gd={}
df2=df2.drop_duplicates()
df2= df2.replace(np.nan, 'w', regex=True)
(df2['Yearz']).where((df2['Year'] =='w'))
df2=df2[df2.Schl!='w']
msqe16=[]
df1=df2
w=0
l=0
names=[]
confdf.dropna()
def replace(n):
    string=n
    for letter in letters:
        string=string.replace(letter+" Stateate",letter+" State")
    return string

currSeason=1893
df22=df2
p=[]
names=set()
start=time.time()
years[2023]={}
for row in d1ss.itertuples():
    years[float(2023)][row.Schl]={}
    years[float(2023)][row.Schl]='yes'

df22=df22[df22.OPP!=0]
df22=df22[df22.Schl!=0]
df22=df2


df22['Date'] = pd.to_datetime(df22['Date'], errors='coerce')
df22['Date'] = df22['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')
df22=df22.astype({"Schl":"string","Opp":"string"})

from datetime import date
today=date.today()





df22['Year']=df22['Year'].replace("2022-23","2022")

teamss={}
oy={}

oldconfs=pd.read_csv("https://ontheroadtovote.com/ncaab/old.csv")
oldconfs=oldconfs.astype({"School":"string"})
oldconfs= oldconfs[oldconfs['School'].notna()]
import requests
import requests
import json

teams=set(df22.Schl.tolist()+df22.Opp.tolist()+oldconfs.School.tolist())
import numpy as np
hbcus=['Texas Southern','Coppin State','Morgan State','North Carolina Central','Morgan State','Howard','Norfolk State','South Carolina State','Delaware State','Grambling','Southern','Alcorn State','North Carolina A&T','Tennessee State','Chicago State','Hampton','Bethune-Cookman','Alabama A&M','Prairie View A&M','Mississippi Valley State','Alabama State','Arkansas-Pine Bluff','Florida A&M','Jackson State','Maryland-Eastern Shore']
for team in teams:
    
    if(pd.isnull(team)!=True):
        eloLeague.addPlayer(team, rating = 1500)  
w=0
l=0

import pandas as pd
from datetime import datetime




df22 = df22[df22['Opp'].notna()]

otamy=[]
confdf.dropna()
msqe12=[]
cols=['Unnamed: 0', 'Rk', 'School', 'Conf', 'Year', 'W', 'L']
df2 = {'Unnamed: 0':'t','Rk':4,'School':'Hiram','Conf':'Independent','Year':1893,'W':1,'L':0}
oldconfs.append(df2,ignore_index=True)
msqe=[]
otmx=[]
w=0
wz=0
tdsz={}
df22["Year"]=df22['Year']
df22=df22[df22.Year!='Year']
df22=df22.astype({"Year":"string"})
df22['Year']=df22['Year'].str.replace('-49','')
df22['Year']=df22['Year'].str.replace('-50','')
df22['Year']=df22['Year'].str.replace('-51','')
df22['Year']=df22['Year'].str.replace('-52','')
df22['Year']=df22['Year'].str.replace('-53','')
df22['Year']=df22['Year'].str.replace('-54','')
df22['Year']=df22['Year'].str.replace('-55','')
df22['Year']=df22['Year'].str.replace('-56','')
df22['Year']=df22['Year'].str.replace('-57','')
df22['Year']=df22['Year'].str.replace('-58','')
df22['Year']=df22['Year'].str.replace('-59','')
df22['Year']=df22['Year'].str.replace('-60','')
df22['Year']=df22['Year'].str.replace('-61','')
df22['Year']=df22['Year'].str.replace('-62','')
df22['Year']=df22['Year'].str.replace('-63','')
df22['Year']=df22['Year'].str.replace('-64','')
df22['Year']=df22['Year'].str.replace('-65','')
df22['Year']=df22['Year'].str.replace('-66','')
df22['Year']=df22['Year'].str.replace('-67','')
df22['Year']=df22['Year'].str.replace('-68','')
df22['Year']=df22['Year'].str.replace('-69','')
df22['Year']=df22['Year'].str.replace('-70','')
df22['Year']=df22['Year'].str.replace('-71','')
df22['Year']=df22['Year'].str.replace('-72','')
df22['Year']=df22['Year'].str.replace('-73','')
df22['Year']=df22['Year'].str.replace('-74','')
df22['Year']=df22['Year'].str.replace('-75','')
df22['Year']=df22['Year'].str.replace('-76','')
df22['Year']=df22['Year'].str.replace('-77','')
df22['Year']=df22['Year'].str.replace('-78','')
df22['Year']=df22['Year'].str.replace('-79','')
df22['Year']=df22['Year'].str.replace('-80','')
df22['Year']=df22['Year'].str.replace('-81','')
df22['Year']=df22['Year'].str.replace('-82','')
df22['Year']=df22['Year'].str.replace('-83','')
df22['Year']=df22['Year'].str.replace('-84','')
df22['Year']=df22['Year'].str.replace('-85','')
df22['Year']=df22['Year'].str.replace('-86','')
df22['Year']=df22['Year'].str.replace('-87','')
df22['Year']=df22['Year'].str.replace('-88','')
df22['Year']=df22['Year'].str.replace('-89','')
df22['Year']=df22['Year'].str.replace('-90','')
df22['Year']=df22['Year'].str.replace('-91','')
df22['Year']=df22['Year'].str.replace('-92','')
df22['Year']=df22['Year'].str.replace('-93','')
df22['Year']=df22['Year'].str.replace('-94','')
df22['Year']=df22['Year'].str.replace('-95','')
df22['Year']=df22['Year'].str.replace('-96','')
df22['Year']=df22['Year'].str.replace('-97','')
df22['Year']=df22['Year'].str.replace('-98','')
df22['Year']=df22['Year'].str.replace('-99','')
df22['Year']=df22['Year'].str.replace('-02','')
df22['Year']=df22['Year'].str.replace('-03','')
df22['Year']=df22['Year'].str.replace('-04','')
df22['Year']=df22['Year'].str.replace('-05','')
df22['Year']=df22['Year'].str.replace('-06','')
df22['Year']=df22['Year'].str.replace('-07','')
df22['Year']=df22['Year'].str.replace('-08','')
df22['Year']=df22['Year'].str.replace('-09','')
df22['Year']=df22['Year'].str.replace('-16','')
df22['Year']=df22['Year'].str.replace('-17','')
df22['Year']=df22['Year'].str.replace('-18','')
df22['Year']=df22['Year'].str.replace('-19','')
df22['Year']=df22['Year'].str.replace('-20','')
df22['Year']=df22['Year'].str.replace('-21','')
df22['Year']=df22['Year'].str.replace('-22','')
df22['Year']=df22['Year'].str.replace('-91','')
df22['Year']=df22['Year'].str.replace('-92','')
df22['Year']=df22['Year'].str.replace('-93','')
df22['Year']=df22['Year'].str.replace('-94','')
df22['Year']=df22['Year'].str.replace('-95','')
df22['Year']=df22['Year'].str.replace('-96','')
df22['Year']=df22['Year'].str.replace('-97','')
df22['Year']=df22['Year'].str.replace('-98','')
df22['Year']=df22['Year'].str.replace('-99','')
df22['Year']=df22['Year'].str.replace('-00','')
df22['Year']=df22['Year'].str.replace('-01','')
df22['Year']=df22['Year'].str.replace('-10','')
df22['Year']=df22['Year'].str.replace('-12','')
df22['Year']=df22['Year'].str.replace('-11','')
df22['Year']=df22['Year'].str.replace('-13','')
df22['Year']=df22['Year'].str.replace('-14','')
df22['Year']=df22['Year'].str.replace('-15','')
df22['Year']=df22['Year'].str.replace('-23','')
df22=df22[df22.Year!='Year']
df22['Year']=df22['Year'].str.replace("2023-28","2023")
df22['Year']=df22['Year'].str.replace("2023-29","2023")
df22['Year']=df22['Year'].str.replace("2023-26","2023")
df22['Year']=df22['Year'].str.replace("2023-27","2023")
df22['Year']=df22['Year'].str.replace("2023-24","2023")
df22['Year']=df22['Year'].str.replace("2023-30","2023")
df22['Year']=df22['Year'].str.replace("2023-31","2023")
df22=df22.astype({"Year":float})
df22['yearz']=df22['Year']
for season in df22.Year.unique():
    tdsz[str(season)]={}
for season in oldconfs.Year.unique():
    tdsz[str(season)]={}
import requests
msqe13=[]
msqe14=[]
msqe15=[]
msqe={}

df22=df22.astype({'PTS':float,'OPP':float,'Schl':'string','Opp':'string'})
df22['OT']=0
df22= df22.drop_duplicates()
mova={}
dm={}
confdf=pd.read_csv("https://github.com/easella/ncaah/blob/main/ncaabconfs.csv?raw=true")
confdf=confdf.astype({"School":"string"})
confdf= confdf[confdf['School'].notna()]
oldconfs=pd.read_csv("https://ontheroadtovote.com/ncaab/old.csv")
oldconfs=oldconfs.astype({"School":"string"})

df22['Year'].replace(23,2023.0,inplace=True)
print("standings")


oldconfs=oldconfs[oldconfs['Rk'].notna()]
yr=requests.get("https://ontheroadtovote.com/ncaab/steams.json")
yr=yr.json()
oldconfs=oldconfs.astype({"School":"string"})

df22=df22.replace("Sam Houston State","Sam Houston")
df22=df22.drop_duplicates()
for team in yr:
    oldconfs=oldconfs.replace(team,yr[team])
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/coaches2.csv")
coaches={}
confs={}
for i in range(1892,1950):
    coaches[i]={}
    confs[i]={}
for row in oldconfs.itertuples():
    s=row.School
    s=s.replace("FDU",'Fairleigh Dickinson')
    s=s.replace("UCF","Central Florida")
    confs[row.Year][s]=row.Conf

for row in df.itertuples():
    coaches[float(row.Year)][row.School]=row.Coach
currSeason=1896

for game in oldconfs.itertuples():
    season=float(game.Year)
    
    
    if(season)>currSeason:
        lseason=season-1
        for key in eloLeague.ratingDict.keys():
            eloLeague.ratingDict[key]=(eloLeague.ratingDict[key]*0.65)+(1500*0.35)
                
            
        currSeason=season
    eloLeague.ratingDict[game.School]+=(game.W*25)
    eloLeague.ratingDict[game.School]-=(game.L*25)
print('done')
cd={}
for year in confdf.Year.unique():
    cd[year]={}
for row in confdf.itertuples():
    cd[year][row.School]={}
    cd[year][row.School]['w']=0
    cd[year][row.School]['l']=0
rest={}
didp=0
currSeason=1948
df22=df22.astype({"Venue":"string","yearz":"string","neutral":"string"})
df22=df22[df22.Date<str(date.today())]
hfa=[]
df22=df22[df22.PTS!=1]
df22[df22.PTS!=0]
df22=df22[df22.PTS!=2]
df22[df22.PTS!=2]
df22=df22.drop_duplicates()
nn=df22[df22.neutral=='False']
for row in nn.itertuples():
    if row.Venue=='vs':
        if row.Schl in years[row.Year]:
            diff=row.PTS-row.OPP
            hfa.append(diff)
    else:
        if row.Opp in years[row.Year]:
            diff=row.OPP-row.PTS
            hfa.append(diff)
print(len(hfa))
hfa=np.mean(hfa) 
hfa=round(hfa)
hfa=hfa*25
restz=[]
df22=df22.drop_duplicates()
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/coaches.csv")
df=df.replace("USC",'Southern California')
df=df.replace("NYU",'New York University')
df=df.replace("St. Peter's","Saint Peter's")
coaches={}

for i in range(1949,2024):
    coaches[i]={}
df=df.replace("UT-Martin","Tennessee-Martin")
for row in df.itertuples():
    coaches[float(row.Year)][row.School]=row.Coach
ap={}
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ap.csv")
df=df.replace("USC",'Southern California')
df=df.replace("NYU",'New York University')
df=df.replace("St. Peter's","Saint Peter's")
coaches[1950]['Gettysburg']='Henry T. Bream'
coaches[1973]['Northern Colorado']='Thurm Wright'
coaches[1974]['Northern Colorado']='Thurm Wright'
coaches[1975]['Northern Colorado']='Thurm Wright'
coaches[1976]['Northern Colorado']='Thurm Wright'
coaches[1977]['Northern Colorado']='Thurm Wright'
coaches[1950]['Gettysburg']='Henry T. Bream'
coaches[2001]['Lipscomb']='Scott Sanderson'
coaches[2002]['Lipscomb']='Scott Sanderson'
for i in range(1961,2024):
    ap[i]={}
hfa=75
df=df.replace("UT-Martin","Tennessee-Martin")
for row in df.itertuples():
    ap[float(row.Year)][row.School]=row.Pre
for i in range(9,22):
    msqe[str(i)]=set()

hbcus={}
arr={}
for i in range(1973,2024):
    hbcus[float(i)]=[]
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/cbbstandings.csv")
confs={}
for i in range(1949,2025):
    confs[i]={}
df=df.replace("PCC (North)","PCC")
df=df.replace("PCC (South)","PCC")
df=df.replace("Mid-Atl (Eastern)","Mid-Atl")
df=df.replace("Mid-Atl (Western)","Mid-Atl")
df=df.replace("Mid-Atl (East)","Mid-Atl")
df=df.replace("Mid-Atl (West)","Mid-Atl")
df=df.replace("ECC (West)","ECC")
df=df.replace("ECC (East)","ECC")
df=df.replace("ECBL (East)","ECBL")
df=df.replace("ECBL (West)","ECBL")
df=df.replace("EAA (West)","EAA")
df=df.replace("EAA (East)","EAA")
df=df.replace("ECACM (North)","ECACM")
df=df.replace("ECACM (South)","ECACM")
df=df.replace("A-10 (East)","A-10")
df=df.replace("A-10 (West)","A-10")
df=df.replace("MAAC (South)","MAAC")
df=df.replace("MAAC (North)","MAAC")
df=df.replace("CUSA (Blue)","CUSA")
df=df.replace("CUSA (Red)","CUSA")
df=df.replace("CUSA (White)","CUSA")
df=df.replace("Big East (East)","Big East")
df=df.replace("MAC (East)","MAC")
df=df.replace("SEC (East)","SEC")
df=df.replace("Southern (North)",'Southern')
df=df.replace("Southern (South)","Southern")
df=df.replace("WAC (Pacific)","WAC")
df=df.replace("CUSA (National)","CUSA")
df=df.replace("TAAC (East)","TAAC")
df=df.replace("Sun Belt (West)","Sun Belt")
df=df.replace("TAAC (West)","TAAC")
df=df.replace("A-Sun (North)","A-Sun")
df=df.replace("MAC (West)","MAC")
df=df.replace("Big East (West)","Big East")
df=df.replace("SEC (West)","SEC")
df=df.replace("Southland (West)","Southland")
df=df.replace("Southland (East)","Southland")
df=df.replace("OVC (East)","OVC")
df=df.replace("OVC (West)","OVC")
df=df.replace("Big South (North)","Big South")
df=df.replace("Big South (South)","Big South")
df=df.replace("A-Sun (East)","A-Sun")
df=df.replace("Patriot (Central)","Patriot")
df=df.replace("WAC (Mountain)","WAC")
df=df.replace("CUSA (American)","CUSA")
df=df.replace("Big West (West)","Big West")
df=df.replace("CUSA (East)","CUSA")
df=df.replace("Patriot (North)","Patriot")
df=df.replace("CUSA (West)","CUSA")
df=df.replace("A-Sun (West)","A-Sun")
df=df.replace("Patriot (South)","Patriot")
df=df.replace("A-Sun (South)","A-Sun")
df=df.replace("MEAC (Southern)","MEAC")
df=df.replace("MEAC (Northern)","MEAC")
df=df.replace("Sun Belt (East)","Sun Belt")
df=df.replace("Big West (West)","Big West")
df=df.replace("Big West (East)","Big West")
df=df.replace("Big East (Big East 6)","Big East")
df=df.replace("Big East (Big East 7)","Big East")
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
for row in standings.itertuples():
    if float(row.Year)>1948:
        confs[float(row.Year)][str(row.Schl)]=str(row.Conference)
for row in df.itertuples():
    s=row.School
    s=s.replace("FDU",'Fairleigh Dickinson')
    s=s.replace("UCF","Central Florida")
    confs[row.Year][s]=row.Conf
    


df22['Schl']=df22['Schl'].str.replace("Savannah St","Savannah State")
df22['Opp']=df22['Opp'].str.replace("Savannah St","Savannah State")
df22['Schl']=df22['Schl'].replace("Birmingham So","Birmingham-Southern")
df22['Opp']=df22['Opp'].replace("Birmingham So","Birmingham-Southern")
df22=df22.replace("Texas Christian",'TCU')
df22=df22.sort_values(by='Date')
preds={}
swac=['Grambling','Alcorn State',"Jackson State",'Prairie View','Texas Southern','Arkansas-Pine Bluff','Southern','Bethune-Cookman','Alabama State','Florida A&M','Alabama A&M','Mississippi Valley State']
meac=['North Carolina Central','Coppin State','Maryland-Eastern Shore','Norfolk State','Howard','South Carolina State','Morgan State','Delaware State']
for i in range(1949,1973):
    hbcus[i]=[]
confy={}
for conf in set(df.Conf.tolist()):
    confy[conf]=[]

confy={}
for conf in set(df.Conf.tolist()):
    confy[conf]={}
for row in df.itertuples():
    confy[row.Conf][float(row.Year)]=[]
for row in df.itertuples():
    confy[row.Conf]=[]
for game in df22.itertuples():
    if game.Schl in years[game.Year] and game.Opp in years[game.Year]:
        
        if confs[float(game.Year)][game.Schl]!=confs[float(game.Year)][game.Opp]:
            sconf=confs[float(game.Year)][game.Schl]
            confy[sconf].append(game.PTS-game.OPP)
            oconf=confs[float(game.Year)][game.Opp]
            confy[oconf].append(game.OPP-game.PTS)
df22=df22.replace("Savannah Stateate","Savannah State")

eloLeague.addPlayer("Savannah State",rating=1500)
hfas={}
df22['neutral']=df22['neutral'].fillna("False")

for game in df22.itertuples():
    
    if game.Schl in years[game.Year] and game.Opp in years[game.Year]:
        if game.neutral==True or game.neutral=='True':
            m=1
        else:
            
            sc=confs[game.Year][game.Schl]
            oc=confs[game.Year][game.Opp]
            if sc not in hfas:
                hfas[sc]=[]
            if oc not in hfas:
                hfas[oc]=[]
            if game.Venue!='@':
                hfas[sc].append(game.PTS-game.OPP)
            else:
                hfas[oc].append(game.OPP-game.PTS)
j=[]
import numpy as np
for key in hfas:
    j.append(np.mean(hfas[key]))
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/cbbrank.csv")

pwr={}
keys={}
for i in range(2011,2025):
    pwr[i]={}

arrz=[]
for key in hfas:
    
    hfas[key]=(np.mean(hfas[key]))
    hfas[key]=(hfas[key])*25
    hfas[key]=round(hfas[key],-1)
mean=np.mean(list(hfas.values()))
mean=round(mean,-1)
for key in hfas:
    hfas[key]=(0.65*hfas[key])+(0.35*mean)
    
import pandas as pd
from bs4 import BeautifulSoup
import requests
arr=[]
for i in range(2015,2025):
    
    url="https://barttorvik.com/trank-time-machine.php?year="+str(i)
    print(url)
    html=requests.get(url).text
    soup=BeautifulSoup(html)
    for tr in soup.find("table").find_all("tr"):
        if 'Rec' not in str(tr) and 'time' in str(tr):
            schl=tr.find_all("td")[1].text
            schl=schl.replace(" St."," State")
            arr.append([schl,tr.find_all("td")[3].text,tr.find_all("td")[4].text,tr.find_all("td")[6].text,tr.find_all("td")[8].text,tr.find_all("td")[11].text,tr.find_all("td")[9].text,i-1,tr.find_all("td")[0].text])
df=pd.DataFrame(arr,columns=['Schl','Record','OFF','DEF','Pwr','?','ProjRecord','Year','Rank'])
df=df.replace("Arkansas Little Rock","Little Rock")
df=df.replace("Arkansas Pine Bluff",'Arkansas-Pine Bluff')
df=df.replace("Bethune Cookman","Bethune-Cookman")
df=df.replace("Louisiana Monroe","Louisiana-Monroe")
df=df.replace("BYU","Brigham Young")
df=df.replace("Cal Baptist","California Baptist")
df=df.replace("Bowling Green","Bowling Green State")
df=df.replace("Detroit","Detroit Mercy")
df=df.replace("Dixie State","Utah Tech")
df=df.replace("Fort Wayne","Purdue Fort Wayne")
df=df.replace("Loyola Chicago","Loyola (IL)")
df=df.replace("Queens","Queens (NC)")
df=df.replace("Detroit","Detroit Mercy")
df=df.replace("Albany","Albany (NY)")
df=df.replace("Central Connecticut","Central Connecticut State")
df=df.replace("North Carolina State","NC State")
df=df.replace("Nebraska Omaha","Omaha")
df=df.replace("USC Upstate","South Carolina Upstate")
df=df.replace("Tennessee Martin","Tennessee-Martin")
df=df.replace("Saint John's (NY)","St. John's (NY)")
df=df.replace("Mount State Mary's","Mount St. Mary's")
df=df.replace("Sam Houston State","Sam Houston")
df=df.replace("LSU","Louisiana State")
df=df.replace("Maryland Eastern Shore","Maryland-Eastern Shore")
df=df.replace("Loyola MD","Loyola (MD)")
df=df.replace("Illinois Chicago","Illinois-Chicago")
df=df.replace("FIU","Florida International")
df=df.replace("IPFW","Purdue Fort Wayne")
df=df.replace("Houston Baptist","Houston Christian")
df=df.replace("Gardner Webb","Gardner-Webb")
df=df.replace("Grambling State","Grambling")
df=df.replace("St. Francis NY","St. Francis (NY)")
df=df.replace("Southern Miss","Southern Mississippi")
df=df.replace("UMass Lowell","Massachusetts-Lowell")
df=df.replace("Tennessee Martin","Tennessee-Martin")
df=df.replace("Texas A&M Corpus Chris","Texas A&M-Corpus Christi")
df=df.replace("Texas A&M Commerce","Texas A&M-Commerce")
df=df.replace("Nebraska Omaha","Omaha")
df=df.replace("UCF","Central Florida")
df=df.replace("UMKC","Kansas City")
df=df.replace("UMBC","Maryland-Baltimore County")
df=df.replace("UNLV","Nevada-Las Vegas")
df=df.replace("USC","Southern California")
df=df.replace("St. John's","St. John's (NY)")
df=df.replace("St. Francis PA","Saint Francis (PA)")
df=df.replace("UT Rio Grande Valley","Texas-Rio Grande Valley")
df=df.replace('USC Upstate',"South Carolina Upstate")
df=df.replace("LSU","Louisiana State")
df=df.replace("LIU Brooklyn","Long Island University")
df=df.replace("Miami OH","Miami (OH)")
df=df.replace("Miami FL","Miami (FL)")
df=df.replace("Louisiana Lafayette","Louisiana")
df=df.replace("Mount State Mary's","Mount Saint Mary's")
df=df.replace("Penn","Pennsylvania")
df=df.replace("SIU Edwardsville","Southern Illinois-Edwardsville")
df=df.replace("SMU","Southern Methodist")
df=df.replace("Prairie View A&M","Prairie View")
df=df.replace("Saint Mary's","Saint Mary's (CA)")
df=df.replace("Sam Houston State","Sam Houston")
df=df.replace("Albany","Albany (NY)")
df=df.replace("VMI","Virginia Military Institute")
df=df.replace("VCU","Virginia Commonwealth")
df=df.replace("Queens","Queens (NC)")
df=df.replace("North Carolina State","NC State")
for row in df.itertuples():
    pwr[float(row.Year)][row.Schl]=float(row.Rank)
ranks={}
games=0
for i in range(2014,2025):
    ranks[float(i)]={}
for row in df.itertuples():
    ranks[float(row.Year)][row.Schl]=str(row.ProjRecord)
df22['nond1game']=False
for row in df22.itertuples():
    if row.Schl not in years[float(row.Year)] or row.Opp not in years[float(row.Year)]:
        df22.at[row.Index,'nond1game']=True
df22=df22[df22.nond1game==False]
df22 = df22.drop('Yearz', axis=1)
df22 = df22.drop('yearz', axis=1)
df22 = df22.drop('OT', axis=1)
df22=df22.drop_duplicates()
eloLeague = Elo(k = kval)
print("go through games")
for key in set(df22.Schl.tolist()+df22.Opp.tolist()):
    eloLeague.addPlayer(key,rating=1500)
did=[]
rev=(1/3)
for row in df22.itertuples():
    if row.Schl not in did:
        num=round(np.mean(confy[confs[row.Year][row.Schl]]))
        num=num*kval
        num=num*(1-rev)
        eloLeague.addPlayer(row.Schl,rating=1500+num)
        did.append(row.Schl)
    if row.Opp not in did:
        num=round(np.mean(confy[confs[row.Year][row.Opp]]))
        num=num*kval
        num=num*(1-rev)
        eloLeague.addPlayer(row.Opp,rating=1500+num)
        did.append(row.Opp)

for game in df22.itertuples():
    s=game.Schl
    o=game.Opp
    o=o.strip()
    s=s.strip()
    season=game.Year
    if s not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(s,rating=1500)
    if o not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(o,rating=1500)
    while (season)>currSeason: 
        games=0
        rest={}
        confz={}
        m=[]
        if game.Year>2013:
            for key in pwr[game.Year]:
                m.append(pwr[game.Year][key])
            m=np.mean(m)
        
        for key in eloLeague.ratingDict.keys():
            if  season>1960 and key in ap[season]:
                if str(ap[season][key]).strip()!='nan':
                    app=((25/ap[season][key])*25)
                    app=app*0.65
                    app=0
                    eloLeague.ratingDict[key]+=app
        
        for conf in confs[game.Year]:
            if conf not in eloLeague.ratingDict.keys():
                eloLeague.addPlayer(conf,rating=1500)
        
        for key in eloLeague.ratingDict.keys():
            
            
            if key in years[game.Year]:
                if game.Year>2013:
                    r=pwr[game.Year][key]
                    rat=len(pwr[game.Year].keys())-(r-1)
                    eloLeague.ratingDict[key]+=(rat*(1-rev))
                    win=ranks[float(game.Year)][key]
                    loss=win.split("-")[1]
                    win=win.split("-")[0]
                    win=float(win)
                    loss=float(loss)
                    num=(win*5)-(loss*5)
                    eloLeague.ratingDict[key]+=0*(num*(1-rev))
                numz=np.mean(confy[confs[game.Year][key]])
                numz=round(float(numz))*25
                
                num=1500+numz
        for key in confs[game.Year]:
            conf=confs[game.Year][key]
            if conf not in confz:
                confz[conf]=[]
            if key not in eloLeague.ratingDict.keys():
                eloLeague.addPlayer(key,rating=1500)
            confz[conf].append(eloLeague.ratingDict[key])
        lsdf=df22[df22.Year<game.Year]
        ls=set(lsdf.Schl.tolist()+lsdf.Opp.tolist())
        for key in eloLeague.ratingDict.keys():
            
            if key  in years[game.Year] and key in ls:
                num=np.mean(confz[confs[float(game.Year)][key]])
                
                num=num+1500
                num=num/2
                eloLeague.ratingDict[key]=(eloLeague.ratingDict[key]*(1-rev))+(num*rev)
                
                
                
            
                
                 
                    
        currSeason+=1
        if game.Year==2023:
            for key in years[2023]:
                arrz.append([key,confs[game.Year][key],eloLeague.ratingDict[key]])
    
    sp=0
    op=0
    s=str(game.Schl)
    o=str(game.Opp)
    o=o.strip()
    s=s.strip()
    
    if (game.Schl in swac or game.Schl in meac or game.Opp in meac or game.Opp in swac)and(str(o) in years[2023] and str(s) in years[2023])and('2023' in str(game.Year)):
        if 'True' in str(game.neutral):
            hf=0
            
        
        if game.Venue=='@' and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Opp]]
            hr=eloLeague.ratingDict[game.Schl]
            ar=eloLeague.ratingDict[game.Opp]+hf
        if game.Venue=='vs'  and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Schl]]
            hr=eloLeague.ratingDict[game.Schl]+hf
            ar=eloLeague.ratingDict[game.Opp]
        if hr>ar:
            spread=round((hr-ar)/21)
            if spread==0:
                spread=1
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            name="On "+str(game.Date)+" "+str(game.Schl)+" beats "+str(game.Opp)+" by "+str(spread)
            keys[name]=game.Date   
        if ar>hr:
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            spread=round((ar-hr)/21)
            if spread==0:
                spread=1
            
            name="On "+str(game.Date)+" "+str(game.Opp)+" beats "+str(game.Schl)+" by "+str(spread)
            keys[name]=game.Date            
        
    hf=75
    if(game.Venue=='@'):
        if game.Opp not in years[game.Year]:
            hf=50
    else:
        if game.Schl not in years[game.Year]:
            hf=50
    t1r=0
    t2r=0
    games+=1
    k=25-(games*0.0035)
    k=round(25)
    if(game.PTS>game.OPP):
        
        homezz=0
        
        if(game.Venue!='@'):
            winnerHomez=True
            if game.Schl in years[game.Year]:
                hf=hfas[confs[game.Year][game.Schl]]
            else:
                hf=50
        if(game.Venue=='@'):
            winnerHomez=False
            if game.Opp in years[game.Year]:
                hf=hfas[confs[game.Year][game.Opp]]
            else:
                hf=50
        if 'True'  in str(game.neutral):
            hf=0
        
        if(winnerHomez==True):
            t1e=eloLeague.ratingDict[game.Schl]+homezz-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]-op+t2r
            if(eloLeague.ratingDict[game.Schl]+homezz-sp>eloLeague.ratingDict[game.Opp]-op):
                w+=1
            if(eloLeague.ratingDict[game.Schl]+homezz-sp<eloLeague.ratingDict[game.Opp]-op):
                l+=1
        if(winnerHomez!=True):
            t1e=eloLeague.ratingDict[game.Schl]-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]+homezz-op+t2r
            if(eloLeague.ratingDict[game.Schl]-sp>eloLeague.ratingDict[game.Opp]+homezz-op):
                w+=1
            if(eloLeague.ratingDict[game.Schl]-sp<eloLeague.ratingDict[game.Opp]+homezz-op):
                l+=1  
        df22.at[game.Index,'team1elopre']=t1e
        df22.at[game.Index,'team2elopre']=t2e
        eloLeague.gameOver(s,o,winnerHomez,game.neutral,game.PTS,game.OPP,game.Year,game.Date,sp,op,hf,k)
    if(game.PTS<game.OPP):
        homezz=0
        
        if(game.Venue=='@'):
            if game.Schl in years[game.Year]:
                hf=hfas[confs[game.Year][game.Schl]]
            else:
                hf=50
            winnerHomez=True
        if(game.Venue!='@'):
            if game.Opp in years[game.Year]:
                hf=hfas[confs[game.Year][game.Opp]]
            else:
                hf=50
            winnerHomez=False
        if 'True'  in str(game.neutral):
            homezz=0
        if(winnerHomez==True):
            t1e=eloLeague.ratingDict[game.Schl]-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]+homezz-op+t2r
            if(eloLeague.ratingDict[game.Schl]-sp>eloLeague.ratingDict[game.Opp]+homezz-op):
                l+=1
            if(eloLeague.ratingDict[game.Schl]-sp<eloLeague.ratingDict[game.Opp]+homezz-op):
                w+=1
            
        
        if(winnerHomez!=True):
            t1e=eloLeague.ratingDict[game.Schl]+homezz-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]-op+t2r
            if(eloLeague.ratingDict[game.Schl]+homezz-sp>eloLeague.ratingDict[game.Opp]-op):
                l+=1
            if(eloLeague.ratingDict[game.Schl]+homezz-sp<eloLeague.ratingDict[game.Opp]-op):
                w+=1
        df22.at[game.Index,'team1elopre']=t1e
        df22.at[game.Index,'team2elopre']=t2e
        eloLeague.gameOver(o,s,winnerHomez,game.neutral,game.OPP,game.PTS,game.Year,game.Date,op,sp,hf,k)
    d1=(s in years[game.Year] or o in years[game.Year])
    for i in range(9,22):
        spread=abs((t1e-t2e)/float(i))
        spread=round(spread)
        if spread==0:
            spread=1
        ms=(float(game.PTS)-float(game.OPP))-spread
        
        msz = np.square(ms)
        if d1==True:
            msqe[str(i)].add(msz)
        
import numpy as np
msqez={}
for i in range(9,22):
    msqez[str(i)]=0
for i in range(9,22):
    msqez[str(i)]=sum(msqe[str(i)])/len(msqe[str(i)])
mas=min(msqez, key=msqez.get)
print("--- %s seconds ---" % (time.time() - start_time))

done files
no
neutral
home
playoff
[False  True]
[ True False]
['2024-03-22', ' Purdue', ' 78', ' Grambling', '  50', ' P', '  Indianapolis', '  IN ']
  IN

In [39]:
df2=pd.DataFrame(thearr)
df2.columns=['Schl','Opp','PTS','OPP','Year','Date','neutral','Venue','Yearz']

In [64]:
game.Year

1949.0

-13.697330385988778

In [ ]:
rh={}
u=[]
for team in years[2023]:
    rh[team]=(eloLeague.ratingDict[team])
    u.append(eloLeague.ratingDict[team])
rh=sorted(rh, key=rh.get, reverse=True)
i=1
print(np.mean(u))
print("Rank||Team||Points Above d1 Average")
for key in rh:
    print(str(i)+"  "+key+"  "+str(eloLeague.ratingDict[key]-np.mean(u))+"")
    i+=1

In [34]:
((eloLeague.ratingDict['Creighton']+hfas['Big East'])-(eloLeague.ratingDict['North Dakota State']))/17

38.620751581108685

In [7]:
mas

'21'

In [10]:
s='Purdue'
a=df22[(df22.Schl==s)|(df22.Opp==s)]
a[a.Year==2023]

,Schl,Opp,PTS,OPP,Year,Date,neutral,Venue,nond1game
541650,Purdue,Samford,98.0,45.0,2023.0,2023-11-06 00:00:00,False,vs,False
542348,Purdue,Morehead State,87.0,57.0,2023.0,2023-11-10 00:00:00,False,vs,False
543512,Purdue,Xavier,83.0,71.0,2023.0,2023-11-13 00:00:00,False,vs,False
545480,Purdue,Gonzaga,73.0,63.0,2023.0,2023-11-20 00:00:00,True,@,False
545990,Purdue,Tennessee,71.0,67.0,2023.0,2023-11-21 00:00:00,True,@,False
546145,Purdue,Marquette,78.0,75.0,2023.0,2023-11-22 00:00:00,True,@,False
547031,Purdue,Texas Southern,99.0,67.0,2023.0,2023-11-28 00:00:00,False,vs,False
547868,Northwestern,Purdue,92.0,88.0,2023.0,2023-12-01 00:00:00,False,vs,False
548879,Purdue,Iowa,87.0,68.0,2023.0,2023-12-04 00:00:00,False,vs,False
549811,Purdue,Alabama,92.0,86.0,2023.0,2023-12-09 00:00:00,True,@,False
551143,Purdue,Arizona,92.0,84.0,2023.0,2023-12-16 00:00:00,True,@,False
552154,Purdue,Jacksonville,100.0,57.0,2023.0,2023-12-21 00:00:00,False,vs,False
552466,Purdue,Eastern Kentucky,80.0,53.0,2023.0,2023-12-29 00:00:00,False,vs,False
553181,Purdue,Maryland,67.0,53.0,2023.0,2024-01-02 00:00:00,False,@,False
553825,Purdue,Illinois,83.0,78.0,2023.0,2024-01-05 00:00:00,False,vs,False
554717,Nebraska,Purdue,88.0,72.0,2023.0,2024-01-09 00:00:00,False,vs,False
556047,Purdue,Penn State,95.0,78.0,2023.0,2024-01-13 00:00:00,False,vs,False
556559,Purdue,Indiana,87.0,66.0,2023.0,2024-01-16 00:00:00,False,@,False
558045,Purdue,Iowa,84.0,70.0,2023.0,2024-01-20 00:00:00,False,@,False
558441,Purdue,Michigan,99.0,67.0,2023.0,2024-01-23 00:00:00,False,vs,False
560232,Purdue,Rutgers,68.0,60.0,2023.0,2024-01-28 00:00:00,False,@,False
560789,Purdue,Northwestern,105.0,96.0,2023.0,2024-01-31 00:00:00,False,vs,False
562223,Purdue,Wisconsin,75.0,69.0,2023.0,2024-02-04 00:00:00,False,@,False
563799,Purdue,Indiana,79.0,59.0,2023.0,2024-02-10 00:00:00,False,vs,False
564982,Purdue,Minnesota,84.0,76.0,2023.0,2024-02-15 00:00:00,False,vs,False
566024,Ohio State,Purdue,73.0,69.0,2023.0,2024-02-18 00:00:00,False,vs,False
566792,Purdue,Rutgers,96.0,68.0,2023.0,2024-02-22 00:00:00,False,vs,False
567671,Purdue,Michigan,84.0,76.0,2023.0,2024-02-25 00:00:00,False,@,False
568633,Purdue,Michigan State,80.0,74.0,2023.0,2024-03-02 00:00:00,False,vs,False
569010,Purdue,Illinois,77.0,71.0,2023.0,2024-03-05 00:00:00,False,@,False
569576,Purdue,Wisconsin,78.0,70.0,2023.0,2024-03-10 00:00:00,False,vs,False
569892,Purdue,Michigan State,67.0,62.0,2023.0,2024-03-15 00:00:00,True,@,False
569998,Wisconsin,Purdue,76.0,75.0,2023.0,2024-03-16 00:00:00,True,@,False
570180,Purdue,Grambling,78.0,50.0,2023.0,2024-03-22 00:00:00,True,vs,False
570225,Purdue,Utah State,106.0,67.0,2023.0,2024-03-24 00:00:00,True,@,False
570280,Purdue,Gonzaga,80.0,68.0,2023.0,2024-03-29 00:00:00,True,@,False
570287,Purdue,Tennessee,72.0,66.0,2023.0,2024-03-31 00:00:00,True,@,False
570292,Purdue,NC State,63.0,50.0,2023.0,2024-04-06 00:00:00,True,@,False
570294,Connecticut,Purdue,75.0,60.0,2023.0,2024-04-08 00:00:00,True,@,False

In [7]:
eloLeague.ratingDict['Culinary Inst']

1

In [19]:
df22=df22.replace("True?","True")
df22=df22.replace("Fale","False")
df22=df22.replace("Falsee","False")
df22=df22.replace("Fase","False")
df22=df22.replace("Fasle","False")
df22=df22.replace("False?","False")
df22=df22.replace("Fals","False")
df22.neutral.unique()

<StringArray>
['False', 'True']
Length: 2, dtype: string

In [8]:
for key in keys:
    name=1
    print(key)

In [9]:
keys

{}

In [ ]:
from bs4 import BeautifulSoup
import requests
arr=[]
lost=['Alabama Presbyterian','Birmingham College (AL)','Birmingham Medical College (AL)','Daniel Payne College (AL)',"Huntsville College (AL)","Jackson Ags","Albertville Agriculture School (AL)","Southern (AL)","Saint Bernard JC (AL)","Birmingham-Southern (AL)","Taylor School (AL)",""]
defunct=['American (DC)',"Evansville (IN)","Drexel (PA)","Little Rock JC (AR)","Boston (MA)","Bradley (IL)","California Baptist","Cal St.-Fullerton","Cal St.-Long Beach","Cal St.-Northridge","California-Riverside","Bishop (TX)","California-San Diego","California-Santa Barbara","Canisius (NY)","Niagara (NY)","Charleston (WV)","Creighton (NE)","Denver (CO)","Detroit (MI)","Fairfield (CT)","George Washington (DC)","Hofstra (NY)","Gonzaga (WA)","High Point (NC)","Illinois-Chicago","Iona (NY)","Jacksonville (FL)","	Loyola Marymount (CA)","Loyola (IL)","Loyola (MD)","Manhattan (NY)"]
teams=requests.get("https://ontheroadtovote.com/ncaaf/def.txt").text
teams=teams.split(",")
import pandas as pd
for i in range(1869,2024):
    print(i)
    if i>2017:
        url="http://mexicosportscollectibles.com/"+str(i)+"ncaa.html"
    else:
        url="http://mexicosportscollectibles.com/"+str(i)+".html"
    html=requests.get(url).text
    soup=b
    for tr in html.find_all("tr"):
        tds=tr.find_all("td")
        schl=tds[2].text
        pts=tds[3].text
        opp=tds[4].text
        OPP=tds[5].text
        loc=tds[6].text
        notes=tds[7].text
        res=tds[1].text
        arr.append([schl,opp,pts,OPP,loc,notes,res,i])

In [8]:
mas

'21'

In [93]:
np.mean([list(hfas.values())])

61.30434782608695

In [94]:
hfas['SWAC']

40.0

In [ ]:
df=pd.DataFrame(arrz,columns=['Schl','Conf','Elo'])
df[df.Conf=='SWAC']

In [102]:
eloLeague.ratingDict['Akron']

1882.3283356161496

In [131]:
import pandas as pd
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

In [135]:
df1=pd.concat([df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19],ignore_index=True)
arr=[]
df100=df1.sort_values(by='Date')
df1=df1[['Year','Date','neutral','PTS','OPP','Year','Opp','Schl']]
df1=df1.drop_duplicates()
ys=[]

import sys
for Date in df100.Date.unique():
    times=1
    teams=[]
    
    if '2003' in str(Date):
        sys.exit(1)
    if row.Year not in ys:
        ys.append(row.Year)
        print(row.Year)
    df=df1[df1.Date==Date]
    for row in df.itertuples():
        if row.Schl in teams or row.Opp in teams:
            times+=1
            num=20*times
            date=row.Date+" "+str(num)+":00:00"
        else:
            date=row.Date+" 00:00:00"
        arr.append([row.Schl,date,row.Opp,row.Year,'vs',row.neutral,row.PTS,row.OPP])
        teams.append(row.Schl)
        teams.append(row.Opp)

2002-03
1949-50
1950-51
1951-52
1952-53
1953-54
1954-55
1955-56
1956-57
1957-58
1958-59
1959-60
1960-61
1961-62
1962-63
1963-64
1964-65
1965-66
1966-67
1967-68
1968-69
1969-70
1970-71
1971-72
1972-73
1973-74
1974-75
1975-76
1976-77
1977-78
1978-79
1979-80
1980-81
1981-82
1982-83
1983-84
1984-85
1985-86
1986-87
1987-88
1988-89
1989-90
1990-91
1991-92
1992-93
1993-94
1994-95
1995-96
1996-97
1997-98
1998-99
1999-00
2000-01
2001-02

SystemExit: 1

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3560: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

# d2 scores from 2007 season

In [ ]:
d3urls={"1995":"https://masseyratings.com/scores.php?s=41840&sub=41840&all=1","1996":"https://masseyratings.com/scores.php?s=41841&sub=41841&all=1","1997":"https://masseyratings.com/scores.php?s=41842&sub=41842&all=1","1998":"https://masseyratings.com/scores.php?s=41843&sub=41843&all=1","1999":"https://masseyratings.com/scores.php?s=41844&sub=41844&all=1","2000":"https://masseyratings.com/scores.php?s=41845&sub=41845&all=1","2001":"https://masseyratings.com/scores.php?s=41846&sub=41846&all=1","2002":"https://masseyratings.com/scores.php?s=41847&sub=41847&all=1","2003":"https://masseyratings.com/scores.php?s=41848&sub=41848&all=1","2004":"https://masseyratings.com/scores.php?s=41849&sub=41849&all=1","2005":"https://masseyratings.com/scores.php?s=41850&sub=41850&all=1","2006":"https://masseyratings.com/scores.php?s=68033&sub=68033&all=1","2007":"https://masseyratings.com/scores.php?s=73929&sub=73929&all=1","2008":"https://masseyratings.com/scores.php?s=85513&sub=85513&all=1","2009":"https://masseyratings.com/scores.php?s=94988&sub=94988&all=1","2010":"https://masseyratings.com/scores.php?s=98700&sub=98700&all=1","2011":"https://masseyratings.com/scores.php?s=107811&sub=107811&all=1","2012":"https://masseyratings.com/scores.php?s=181623&sub=181623&all=1","2014":"https://masseyratings.com/scores.php?s=262657&sub=262657&all=1","2015":"https://masseyratings.com/scores.php?s=279541&sub=279541&all=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=286577&all=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=295489&all=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=300937&all=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=308075&all=1","2020":"https://masseyratings.com/scores.php?s=318889&sub=318889&all=1","2021":"https://masseyratings.com/scores.php?s=358435&sub=358435&all=1","2022":"https://masseyratings.com/scores.php?s=384031&sub=384031&all=1","2023":"https://masseyratings.com/scores.php?s=539277&sub=539277&all=1"}
ggg=[]
import os
d2urls={"2020":"https://masseyratings.com/scores.php?s=320158&sub=320158&all=1","2005":"https://masseyratings.com/scores.php?s=41469&sub=41469&all=1","2004":"https://masseyratings.com/scores.php?s=41468&sub=41468&all=1","2006":'https://masseyratings.com/scores.php?s=69587&sub=69587&all=1',"2009":"https://masseyratings.com/scores.php?s=97288&sub=97288&all=1","2011":"https://masseyratings.com/scores.php?s=179268&sub=179268&all=1","2013":"https://masseyratings.com/scores.php?s=203290&sub=203290&all=1","2015":"https://masseyratings.com/scores.php?s=284067&sub=284067&all=1","2016":"https://masseyratings.com/scores.php?s=292154&sub=292154&all=1","2017":"https://masseyratings.com/scores.php?s=298892&sub=298892&all=1","2018":"https://masseyratings.com/scores.php?s=305972&sub=305972&all=1","2021":"https://masseyratings.com/scores.php?s=379387&sub=379387&all=1","2022":"https://masseyratings.com/scores.php?s=500054&sub=500054&all=1"}
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
didp=0
d2urls={"2004":"https://masseyratings.com/scores.php?s=41468&sub=41468&all=1","2005":"https://masseyratings.com/scores.php?s=41469&sub=41469&all=1","2007":"https://masseyratings.com/scores.php?s=74994&sub=74994&all=1","2008":"https://masseyratings.com/scores.php?s=87798&sub=87798&all=1","2010":"https://masseyratings.com/scores.php?s=101140&sub=101140&all=1","2012":"https://masseyratings.com/scores.php?s=193573&sub=193573&all=1","2014":"https://masseyratings.com/scores.php?s=267615&sub=267615&all=1","2019":"https://masseyratings.com/scores.php?s=309912&sub=309912&all=1"}
for key in d2urls:
    print(key)
    
    r = requests.get(d2urls[key])
    soup = BeautifulSoup(r.text, 'lxml')
    
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(BeautifulSoup(r.text, 'lxml'))
    aa=str(aa)
    aa=(aa.split("<hr/><pre>")[1])
    
    aa=aa.replace("               ",",")
    aa=aa.replace("  ",",")
    for i in range(0,10):
        aa=aa.replace(str(i)+" ",str(i)+",")
        
    aa=aa.replace(",,,,,,",",")
    
    q=aa
    
    
    q=q.split("\n")
    for line in q:
        
        
        
        
        
        line=str(line)
        
        
        
        
        if 'Games' not in str(line) and str(line)!='' and '<' not in str(line):
            j=line[1]
            n=False
            line = list(line.split(','))
            if "@" not in str(line):
                n=True
            if didp==0:
                print(line)
                didp=1
            
            if "@" in str(line[1]):
                v="vs"
            else:
                v='@'
            date=str(line[0])
            
            line=str(line)
            line=line.replace("[","")
            line=line.replace("]","")
            line=line.replace("'","")
            line=line.replace('"',"")
            line=line.replace(",@",",")
            line=line.replace("@","")
            line = list(line.split(','))
            lines=[]
            for l in line:
                if l==' ' :
                    m=1
                else:
                    
                    lines.append(l)
                
            
            line=lines
            s=line[1]
            s=s.lstrip()
            s=s.rstrip()
            o=line[3]
            o=o.lstrip()
            o=o.rstrip()
            row=[s,o,line[2],line[4],key,n,date,key,v]
            
                    
            ggg.append(row)
    
d2=pd.DataFrame(ggg,columns=['Schl','Opp','PTS','OPP','Year','neutral','Date','Yearz','Venue'])
print(d2.Year.unique())
d2.to_csv("missingcbb.csv")

In [48]:
tr.find_all("td")

[<td class="left" data-stat="school_name"><a href="/cbb/schools/pacific/men/2024.html">Pacific</a></td>,
 <td class="left" csk="West Coast Conference.09" data-stat="conf_abbr"><a href="/cbb/conferences/wcc/men/2024.html">WCC</a></td>,
 <td class="right" data-stat="wins">6</td>,
 <td class="right" data-stat="losses">26</td>,
 <td class="right" data-stat="win_loss_pct">.188</td>,
 <td class="right iz" data-stat="overall-dum"></td>,
 <td class="right iz" data-stat="wins_conf">0</td>,
 <td class="right" data-stat="losses_conf">16</td>,
 <td class="right iz" data-stat="win_loss_pct_conf">.000</td>,
 <td class="right iz" data-stat="conf-dum"></td>,
 <td class="right" data-stat="pts_per_g">64.1</td>,
 <td class="right" data-stat="opp_pts_per_g">81.4</td>,
 <td class="right iz" data-stat="pts-dum"></td>,
 <td class="right" data-stat="srs">-17.42</td>,
 <td class="right" data-stat="sos">-0.15</td>,
 <td class="right iz" data-stat="ratings-dum"></td>,
 <td class="center iz" csk="999" data-stat="rank_pre"></td>,
 <td class="center iz" csk="999" data-stat="rank_min"></td>,
 <td class="center iz" csk="999" data-stat="rank_final"></td>,
 <td class="right iz" data-stat="ranks-dum"></td>,
 <td class="left iz" data-stat="notes"></td>]

In [49]:
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment

links={}
import time
arr=[]
ys={}
for i in range(1950,2025):
    ys[i]=[]
for i in range(1950,2025):
    print(i)
    links[i]=[]
    html=requests.get("https://www.sports-reference.com/cbb/seasons/men/"+str(i)+"-standings.html")
    print(html.status_code)
    html=html.text
    html=html.replace("<!--","").replace("-->","")
    soup=BeautifulSoup(html,'lxml')
    
    
    y=i-1
    for table in soup.find_all("table"):
        for tr in table.find_all("tr"):
            if "Notes" not in str(tr) and 'Overall' not in str(tr):
                
                
                schl=tr.find_all("td")[0].text
                conf=tr.find_all("td")[1].text
                srs=tr.find_all("td")[13].text
            
                
                arr.append([schl,conf,y,srs])
    time.sleep(5)
    print(len(arr))

1950
200
170
1951
200
342
1952
200
513
1953
200
687
1954
200
861
1955
200
1037
1956
200
1212
1957
200
1388
1958
200
1571
1959
200
1752
1960
200
1933
1961
200
2112
1962
200
2292
1963
200
2472
1964
200
2652
1965
200
2834
1966
200
3021
1967
200
3213
1968
200
3405
1969
200
3604
1970
200
3808
1971
200
4016
1972
200
4238
1973
200
4469
1974
200
4707
1975
200
4946
1976
200
5185
1977
200
5436
1978
200
5697
1979
200
5960
1980
200
6226
1981
200
6491
1982
200
6766
1983
200
7043
1984
200
7318
1985
200
7602
1986
200
7891
1987
200
8181
1988
200
8471
1989
200
8764
1990
200
9057
1991
200
9352
1992
200
9651
1993
200
9950
1994
200
10252
1995
200
10556
1996
200
10868
1997
200
11183
1998
200
11500
1999
200
11818
2000
200
12142
2001
200
12466
2002
200
12794
2003
200
13129
2004
200
13460
2005
200
13795
2006
200
14134
2007
200
14476
2008
200
14822
2009
200
15171
2010
200
15523
2011
200
15874
2012
200
16222
2013
200
16574
2014
200
16928
2015
200
17281
2016
200
17634
2017
200
17987
2018
200
18339
2019
200
18693
2020
200
19047
2021
200
19399
2022
200
19760
2023
200
20123
2024
200
20485

In [55]:
df=pd.DataFrame(arr,columns=['School','Conf','Year','SRS'])
df=df[df.SRS.notna()]
df.to_csv("alld1s.txt")

In [56]:
hfas

{'Ind': 70.0,
 'Yankee': 50.0,
 'Metro NY': 60.0,
 'Southern': 50.0,
 'Big Ten': 100.0,
 'SWC': 70.0,
 'MAC': 60.0,
 'SEC': 100.0,
 'MSAC': 70.0,
 'PCC': 70.0,
 'Big 7': 90.0,
 'WNY3': 80.0,
 'Ivy': 40.0,
 'Mid-3': -0.0,
 'MVC': 80.0,
 'OVC': 50.0,
 'BIAA': 60.0,
 'CBA': 40.0,
 'ACC': 120.0,
 'WCAC': 50.0,
 'Big 8': 110.0,
 'Mid-Atl': 40.0,
 'AAWU': 100.0,
 'WAC': 80.0,
 'Big Sky': 50.0,
 'MCC': 30.0,
 'Pac-8': 100.0,
 'Southland': 50.0,
 'PCAA': 70.0,
 'MEAC': 20.0,
 'ECC': 50.0,
 'Metro': 100.0,
 'ECBL': 100.0,
 'Sun Belt': 60.0,
 'NJNY7': 40.0,
 'EAA': 70.0,
 'SWAC': 40.0,
 'Pac-10': 90.0,
 'TAAC': 50.0,
 'ECACN': 40.0,
 'ECACS': 80.0,
 'ECACM': 40.0,
 'MW City': 40.0,
 'Big East': 100.0,
 'MAAC': 40.0,
 'Mid-Cont': 50.0,
 'A-10': 70.0,
 'GSC': 30.0,
 'Big South': 30.0,
 'MW Coll': 80.0,
 'CAA': 40.0,
 'ASC': 110.0,
 'Big West': 50.0,
 'NAC': 40.0,
 'NEC': 30.0,
 'WCC': 50.0,
 'Patriot': 30.0,
 'GMWC': 160.0,
 'AWC': 20.0,
 'CUSA': 70.0,
 'AEC': 30.0,
 'Big 12': 120.0,
 'MWC': 70.0,
 'Horizon': 40.0,
 'A-Sun': 30.0,
 'Summit': 30.0,
 'GWC': 10.0,
 'Pac-12': 70.0,
 'AAC': 70.0}

##