<a href="https://www.kaggle.com/code/savageopress12345/mechanical-soup-error?scriptVersionId=118868915" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [40]:
ty=df22[df22.Year==2023]
points=set(ty.PTS.tolist()+ty.OPP.tolist())
games={}
arr=[]
for row in ty.itertuples():
    if row.PTS>row.OPP:
        name=row.Schl+"||"+row.Opp+"||"+str(row.PTS)+"||"+str(row.OPP)
        games[name]=row.PTS
        arr.append([row.Schl,row.Opp,row.PTS,row.OPP,row.Venue,row.Date])
    if row.PTS<row.OPP:
        name=row.Opp+"||"+row.Schl+"||"+str(row.OPP)+"||"+str(row.PTS)
        games[name]=row.OPP
        arr.append([row.Opp,row.Schl,row.OPP,row.PTS,row.Venue,row.Date])

In [41]:
df=pd.DataFrame(arr,columns=['Winner','Loser','Winner PTS','Loser PTS','Venue','Date'])
df=df.sort_values(by='Loser PTS')
df=df.iloc[0:10]
for row in df.itertuples():
    print(row)

Pandas(Index=9753, Winner='North Dakota State', Loser='Oak Hills Chr', _3=108.0, _4=14.0, Venue='vs', Date=Timestamp('2023-12-10 00:00:00'))
Pandas(Index=2724, Winner='Faith Bap', Loser='FLBC', _3=65.0, _4=16.0, Venue='@', Date=Timestamp('2023-11-11 00:00:00'))
Pandas(Index=2107, Winner='Emmaus Bib', Loser='FLBC', _3=78.0, _4=23.0, Venue='@', Date=Timestamp('2023-11-10 00:00:00'))
Pandas(Index=8276, Winner='McNeese State', Loser='MS Women', _3=92.0, _4=23.0, Venue='vs', Date=Timestamp('2023-12-05 00:00:00'))
Pandas(Index=9302, Winner='Mercyhurst', Loser='SUNY Fredonia', _3=83.0, _4=24.0, Venue='vs', Date=Timestamp('2023-12-09 00:00:00'))
Pandas(Index=5210, Winner='West Alabama', Loser='Oakwood', _3=93.0, _4=25.0, Venue='vs', Date=Timestamp('2023-11-21 00:00:00'))
Pandas(Index=2718, Winner='Christendom', Loser='Appalachian Bib', _3=98.0, _4=26.0, Venue='vs', Date=Timestamp('2023-11-11 00:00:00'))
Pandas(Index=10473, Winner='Liberty', Loser='St Andrews', _3=99.0, _4=26.0, Venue='vs', Date=Timestamp('2023-12-16 00:00:00'))
Pandas(Index=271, Winner='C Chr Bible', Loser='FLBC', _3=93.0, _4=26.0, Venue='@', Date=Timestamp('2023-10-28 00:00:00'))
Pandas(Index=25218, Winner='Maryville TN', Loser='Warren Wilson', _3=55.0, _4=27.0, Venue='vs', Date=Timestamp('2024-02-17 00:00:00'))

In [42]:
[item for item in sorted(games, key=games.get)][0:10]

['IN S Bend||Holy Cross IN||42.0||41.0',
 'Christendom||Williamson Tr||43.0||33.0',
 'Loyola (MD)||American||44.0||43.0',
 'Keuka||Alfred||44.0||41.0',
 'Weatherford||Tyler JC||45.0||44.0',
 'Chipola||NW Florida St||45.0||41.0',
 'Southeastern Bap||Pensacola Chr||46.0||44.0',
 'Outaouais||Ahuntsic||46.0||44.0',
 'Cypress||Irvine Valley||46.0||43.0',
 'Montgomery Co CC||Delaware Co CC||47.0||41.0']

In [43]:
myKeys = list(games.keys())
{i: games[i] for i in myKeys}[0:5]

TypeError: unhashable type: 'slice'

**

In [67]:
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

array(['1949-50', '1950-51', '1951-52', '1952-53', '1953-54', '1954-55',
       '1955-56', '1956-57', '1957-58', '1958-59', '1959-60', '1960-61',
       '1961-62', '1962-63', '1963-64', '1964-65', '1965-66', '1966-67',
       '1967-68', '1968-69', '1969-70', '1970-71', '1971-72', '1972-73',
       '1973-74', '1974-75', '1975-76', '1976-77', '1977-78', '1978-79',
       '1979-80', '1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02'],
      dtype=object)

In [ ]:

import time
start_time = time.time()
print('done files')
import numpy as np
from datetime import datetime
import random
import string
from decimal import Decimal
class Elo:
    
    
    
    

    def __init__(self,k,g=1,homefield = 110): 
        self.ratingDict={}
        self.k = k
        self.g = g
        self.homefield= homefield

    def addPlayer(self,name,rating = 1500):
        self.ratingDict[name] = rating
    def gameOver(self, winner, loser, winnerHome,neutral,wp,lp,yr,date,wpe,lpe,hfa,k):
        wpe=wpe
        lpe=lpe
        
        
        homef=hfa
        if('True' in str(neutral)):
            
        
            homef=0
        
        
        if(winnerHome==True):
            
            elod=(eloLeague.ratingDict[winner]+homef)-(eloLeague.ratingDict[loser])
        if(winnerHome!=True):
            
            elod=(eloLeague.ratingDict[winner])-(homef+eloLeague.ratingDict[loser])
        
        elo=float(elod)
        wp=float(wp)
        lp=float(lp)
        
        o=abs(wp-lp)
        y=float(((o)+3))
        
        mov=((o+3)**0.8)/(7.5+0.006*elod)
        if winnerHome==True:
            
            result = self.expectResult(self.ratingDict[winner]+homef, self.ratingDict[loser])
        else:
            result = self.expectResult(self.ratingDict[winner], self.ratingDict[loser]+homef)
        shift=(self.k*mov)*(1 - result) 
        self.ratingDict[winner]+=shift
        self.ratingDict[loser]-=shift
        
        

    def expectResult(self, p1, p2):
    
        global exp
        exp = (Decimal(p2)-Decimal(p1))/Decimal(400.0)
        n2=Decimal(10.0)
        j=Decimal(exp)
        o=Decimal(1)/((n2**(j))+Decimal(1))
        return float(o)
import requests
from bs4 import BeautifulSoup,Comment
import re, csv
from bs4 import BeautifulSoup as bs
uteams=requests.get("https://ontheroadtovote.com/ncaaf/caabteams.json").json() 
d2urls={}
d2urls[2001]='https://ontheroadtovote.com/ncaaf/prefbs/2001.html'
for i in range(2002,2024):
    url='https://ontheroadtovote.com/ncaaf/prefbs/masseyratings.com'+str(i)+".webarchive"
    d2urls[str(i)]=url

thearr=[]
abbreviations = [
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#States.
    "AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "IA",
    "ID", "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MN", "MO",
    "MS", "MT", "NC", "ND", "NE", "NH", "NJ", "NM", "NV", "NY", "OH", "OK",
    "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VA", "VT", "WA", "WI",
    "WV", "WY",
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#Federal_district.
    "DC",
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#Inhabited_territories.
    "AS", "GU", "MP", "PR", "VI",
]
import re
import pandas as pd
we=pd.read_csv("https://ontheroadtovote.com/ncaaf/prefbs/allbbz.csv")
tz={}
h=requests.get("https://ontheroadtovote.com/ncaaf/prefbs/alltz.txt").text
h=str(h)
h=h.split("\n")
we['homep']=we['homep'].fillna("35")
we=we.astype({"homep":float,"awayp":float})
for line in h:
    tz[line.split("|")[0]]=line.split("|")[1]
for row in we.itertuples():
    s=row.home
    o=row.away
    if s in tz:
        s=tz[s]
    if o in tz:
        o=tz[o]
    row=[row.date,s,o,row.homep,row.awayp,row.venue,row.season,row.notes,False]
    thearr.append(row)
for key in d2urls:
    print(key)
    r = requests.get(d2urls[key])
    soup = BeautifulSoup(r.text, 'lxml')
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(BeautifulSoup(r.text, 'lxml'))
    aa=str(aa)
    aa=(aa.split("<hr/><pre>")[1])
    aa=aa.replace("               ",",")
    aa=aa.replace("  ",",")
    for i in range(0,10):
        aa=aa.replace(str(i)+" ",str(i)+",") 
    aa=aa.replace(",,,,,,",",")
    
    q=aa
    q=q.split("\n")
    for line in q:
        line=str(line)
        
        
        
        
        if 'Games' not in str(line) and str(line)!='' and '<' not in str(line):
            j=line[1]
            n=False
            line = list(line.split(','))
            v="vs"
            if "@" not in str(line):
                n=True
            if "@" in str(line[1]):
                v="vs"
            else:
                v='@'
            date=str(line[0])
            
            line=str(line)
            line=line.replace("[","")
            line=line.replace("]","")
            line=line.replace("'","")
            line=line.replace('"',"")
            line=line.replace(",@",",")
            line=line.replace("@","")
            line = list(line.split(','))
            lines=[]
            for l in line:
                if l==' ' :
                    m=1
                else:
                    
                    lines.append(l)
                
            
            line=lines
            s=line[1]
            s=s.lstrip()
            s=s.rstrip()
            o=line[3]
            o=o.lstrip()
            o=o.rstrip()
            o=o.replace("amp;","")
            s=s.replace("amp;","")
            if s in uteams:
                s=uteams[s]
            if o in uteams:
                o=uteams[o]
            if len(line)>7:
                notes=line[7]
                notes=notes.strip()
                if notes in abbreviations:
                    n=True
                    
            row=[date,s,o,line[2],line[4],v,float(key),'notes',n]
            thearr.append(row)

from bs4 import BeautifulSoup,Comment
df22=pd.DataFrame(thearr,columns=['Date','Schl',"Opp",'Venue','PTS','OPP','Year','Notes','neutral'])
df22=df22.astype({"Venue":"string"})
df22=df22.astype({"neutral":"string"})
df22['Venue']=df22['Venue'].replace("NA?","N")
df22['Venue']=df22['Venue'].replace("A?","@")
df22['Venue']=df22['Venue'].replace("AH?","N")
df22['Venue']=df22['Venue'].replace("AN?","N")
df22['Venue']=df22['Venue'].replace("HA?","N")
df22['Venue']=df22['Venue'].replace("HN?","N")
df22['Venue']=df22['Venue'].replace("NA?","N")
df22['Venue']=df22['Venue'].replace("NN","N")
df22['Venue']=df22['Venue'].replace("NH?","N")
df22['Venue']=df22['Venue'].replace("N\xa0","N")
df22['Venue']=df22['Venue'].replace("N?","N")
df22['Venue']=df22['Venue'].replace("H?","H")
df22['Venue']=df22['Venue'].replace("A?","A")
df22['Venue']=df22['Venue'].replace("n","N")
df22['Venue']=df22['Venue'].replace("?","N")
for row in df22.itertuples():
    if row.Venue=='A':
        df22.at[row.Index,'Venue']='@'
    if row.Venue=='H' or row.Venue=='N':
        df22.at[row.Index,'Venue']='vs'
    if row.Venue=='N':
        df22.at[row.Index,'neutral']='True'
    else:
        df22.at[row.Index,'neutral']='False'
df22['Date']=df22['Date'].str.replace("-","")
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
from datetime import date
today=str(date.today())
from datetime import timedelta
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/updatedstandings.csv")
w=0
l=0
names=[]
def replace(n):
    string=n
    for letter in letters:
        string=string.replace(letter+" Stateate",letter+" State")
    return string
names=set()
from datetime import date
today=date.today()
oldconfs=pd.read_csv("https://ontheroadtovote.com/ncaab/old.csv")
import json
hbcus=['Texas Southern','Coppin State','Morgan State','North Carolina Central','Morgan State','Howard','Norfolk State','South Carolina State','Delaware State','Grambling','Southern','Alcorn State','North Carolina A&T','Tennessee State','Chicago State','Hampton','Bethune-Cookman','Alabama A&M','Prairie View A&M','Mississippi Valley State','Alabama State','Arkansas-Pine Bluff','Florida A&M','Jackson State','Maryland-Eastern Shore']
w=0
l=0
from datetime import datetime
df2 = {'Unnamed: 0':'t','Rk':4,'School':'Hiram','Conf':'Independent','Year':1893,'W':1,'L':0}
oldconfs.append(df2,ignore_index=True)
msqe={}
currSeason=1949
from datetime import date
df22=df22.astype({"Date":float})
today=str(date.today())
today=today.replace("-","")
df22=df22[df22.Date<float(today)]
df22=df22[df22.PTS!=1]
df22[df22.PTS!=0]
df22=df22[df22.PTS!=2]
df22[df22.PTS!=2]
df22=df22.drop_duplicates()
for i in range(9,22):
    msqe[str(i)]=set()
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/cbbstandings.csv")
confs={}
for i in range(1949,2025):
    confs[i]={}
df=df.replace("PCC (North)","PCC")
df=df.replace("PCC (South)","PCC")
df=df.replace("Mid-Atl (Eastern)","Mid-Atl")
df=df.replace("Mid-Atl (Western)","Mid-Atl")
df=df.replace("Mid-Atl (East)","Mid-Atl")
df=df.replace("Mid-Atl (West)","Mid-Atl")
df=df.replace("ECC (West)","ECC")
df=df.replace("ECC (East)","ECC")
df=df.replace("ECBL (East)","ECBL")
df=df.replace("ECBL (West)","ECBL")
df=df.replace("EAA (West)","EAA")
df=df.replace("EAA (East)","EAA")
df=df.replace("ECACM (North)","ECACM")
df=df.replace("ECACM (South)","ECACM")
df=df.replace("A-10 (East)","A-10")
df=df.replace("A-10 (West)","A-10")
df=df.replace("MAAC (South)","MAAC")
df=df.replace("MAAC (North)","MAAC")
df=df.replace("CUSA (Blue)","CUSA")
df=df.replace("CUSA (Red)","CUSA")
df=df.replace("CUSA (White)","CUSA")
df=df.replace("Big East (East)","Big East")
df=df.replace("MAC (East)","MAC")
df=df.replace("SEC (East)","SEC")
df=df.replace("Southern (North)",'Southern')
df=df.replace("Southern (South)","Southern")
df=df.replace("WAC (Pacific)","WAC")
df=df.replace("CUSA (National)","CUSA")
df=df.replace("TAAC (East)","TAAC")
df=df.replace("Sun Belt (West)","Sun Belt")
df=df.replace("TAAC (West)","TAAC")
df=df.replace("A-Sun (North)","A-Sun")
df=df.replace("MAC (West)","MAC")
df=df.replace("Big East (West)","Big East")
df=df.replace("SEC (West)","SEC")
df=df.replace("Southland (West)","Southland")
df=df.replace("Southland (East)","Southland")
df=df.replace("OVC (East)","OVC")
df=df.replace("OVC (West)","OVC")
df=df.replace("Big South (North)","Big South")
df=df.replace("Big South (South)","Big South")
df=df.replace("A-Sun (East)","A-Sun")
df=df.replace("Patriot (Central)","Patriot")
df=df.replace("WAC (Mountain)","WAC")
df=df.replace("CUSA (American)","CUSA")
df=df.replace("Big West (West)","Big West")
df=df.replace("CUSA (East)","CUSA")
df=df.replace("Patriot (North)","Patriot")
df=df.replace("CUSA (West)","CUSA")
df=df.replace("A-Sun (West)","A-Sun")
df=df.replace("Patriot (South)","Patriot")
df=df.replace("A-Sun (South)","A-Sun")
df=df.replace("MEAC (Southern)","MEAC")
df=df.replace("MEAC (Northern)","MEAC")
df=df.replace("Sun Belt (East)","Sun Belt")
df=df.replace("Big West (West)","Big West")
df=df.replace("Big West (East)","Big West")
df=df.replace("Big East (Big East 6)","Big East")
df=df.replace("Big East (Big East 7)","Big East")
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
for row in standings.itertuples():
    if float(row.Year)>1948:
        confs[float(row.Year)][str(row.Schl)]=str(row.Conference)
for row in df.itertuples():
    s=row.School
    s=s.replace("FDU",'Fairleigh Dickinson')
    s=s.replace("UCF","Central Florida")
    confs[row.Year][s]=row.Conf
df22=df22.replace("Texas Christian",'TCU')
preds={}
swac=['Grambling','Alcorn State',"Jackson State",'Prairie View','Texas Southern','Arkansas-Pine Bluff','Southern','Bethune-Cookman','Alabama State','Florida A&M','Alabama A&M','Mississippi Valley State']
meac=['North Carolina Central','Coppin State','Maryland-Eastern Shore','Norfolk State','Howard','South Carolina State','Morgan State','Delaware State']
confy={}
for conf in set(df.Conf.tolist()):
    confy[conf]={}
for row in df.itertuples():
    confy[row.Conf][float(row.Year)]=[]
for row in df.itertuples():
    confy[row.Conf]=[]
for game in df22.itertuples():
    if game.Schl in confs[game.Year] and game.Opp in confs[game.Year]:
        
        if confs[float(game.Year)][game.Schl]!=confs[float(game.Year)][game.Opp]:
            sconf=confs[float(game.Year)][game.Schl]
            confy[sconf].append(game.PTS-game.OPP)
            oconf=confs[float(game.Year)][game.Opp]
            confy[oconf].append(game.OPP-game.PTS)
eloLeague.addPlayer("Savannah State",rating=1500)
hfas={}
for game in df22.itertuples():
    
    if game.Schl in confs[game.Year] and game.Opp in confs[game.Year]:
        if game.neutral==True or game.neutral=='True':
            m=1
        else:
            
            sc=confs[game.Year][game.Schl]
            oc=confs[game.Year][game.Opp]
            if sc not in hfas:
                hfas[sc]=[]
            if oc not in hfas:
                hfas[oc]=[]
            if game.Venue!='@':
                hfas[sc].append(game.PTS-game.OPP)
            else:
                hfas[oc].append(game.OPP-game.PTS)
for key in hfas:
    
    hfas[key]=(np.mean(hfas[key]))
    hfas[key]=round(hfas[key])*kval
    hfas[key]=round(hfas[key])
mean=np.mean(list(hfas.values()))
mean=round(mean,-1)
for key in hfas:
    num=((1-rev)*hfas[key])+(rev*mean)
    num=hfas[key]
    hfas[key]=num
kval=25
eloLeague = Elo(k = kval)
print("go through games")
did=[]
rev=0.73
for row in df22.itertuples():
    if row.Schl not in did:
        num=round(np.mean(confy[confs[row.Year][row.Schl]]))
        num=num*kval
        num=num*(1-rev)
        eloLeague.addPlayer(row.Schl,rating=1500+num)
        did.append(row.Schl)
    if row.Opp not in did:
        num=round(np.mean(confy[confs[row.Year][row.Opp]]))
        num=num*kval
        num=num*(1-rev)
        eloLeague.addPlayer(row.Opp,rating=1500+num)
        did.append(row.Opp)
for game in df22.itertuples():
    s=game.Schl
    o=game.Opp
    o=o.strip()
    s=s.strip()
    season=game.Year
    if s not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(s,rating=1500)
    if o not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(o,rating=1500)
    while (season)>currSeason: 
        games=0
        confz={}
        for conf in confs[game.Year]:
            if conf not in eloLeague.ratingDict.keys():
                eloLeague.addPlayer(conf,rating=1500)
        for key in confs[game.Year]:
            conf=confs[game.Year][key]
            if conf not in confz:
                confz[conf]=[]
            confz[conf].append(eloLeague.ratingDict[key])
        lsdf=df22[df22.Year<game.Year]
        ls=set(lsdf.Schl.tolist()+lsdf.Opp.tolist())
        for key in eloLeague.ratingDict.keys():
            
            if key  in confs[game.Year] and key in ls:
                num=np.mean(confz[confs[float(game.Year)][key]])
                
                num=num+1500
                numz=round(np.mean(confy[confs[row.Year][row.Opp]]))
                numz=numz*kval
                numz=numz*(1-rev)
                num=num/2
               
                eloLeague.ratingDict[key]=(eloLeague.ratingDict[key]*(1-rev))+(num*rev)
                
                
                
            
                
                 
                    
        currSeason+=1
    
    sp=0
    op=0
    s=str(game.Schl)
    o=str(game.Opp)
    o=o.strip()
    s=s.strip()
    
    if (game.Schl in swac or game.Schl in meac or game.Opp in meac or game.Opp in swac)and(str(o) in confs[2023] and str(s) in confs[2023])and('2023' in str(game.Year)):
        if 'True' in str(game.neutral):
            hf=0
            
        
        if game.Venue=='@' and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Opp]]
            hr=eloLeague.ratingDict[game.Schl]
            ar=eloLeague.ratingDict[game.Opp]+hf
        if game.Venue=='vs'  and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Schl]]
            hr=eloLeague.ratingDict[game.Schl]+hf
            ar=eloLeague.ratingDict[game.Opp]
        if hr>ar:
            spread=round((hr-ar)/21)
            if spread==0:
                spread=1
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            name="On "+str(game.Date)+" "+str(game.Schl)+" beats "+str(game.Opp)+" by "+str(spread)
            keys[name]=game.Date   
        if ar>hr:
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            spread=round((ar-hr)/21)
            if spread==0:
                spread=1
            
            name="On "+str(game.Date)+" "+str(game.Opp)+" beats "+str(game.Schl)+" by "+str(spread)
            keys[name]=game.Date            
        
    if(game.Venue=='@'):
        if game.Opp not in confs[game.Year]:
            hf=50
    else:
        if game.Schl not in confs[game.Year]:
            hf=50
    t1r=0
    t2r=0
    games+=1
    k=25-(games*0.0035)
    k=round(25)
    if(game.PTS>game.OPP):
        
        homezz=0
        
        if(game.Venue!='@'):
            winnerHomez=True
            if game.Schl in confs[game.Year]:
                hf=hfas[confs[game.Year][game.Schl]]
            else:
                hf=50
        if(game.Venue=='@'):
            winnerHomez=False
            if game.Opp in confs[game.Year]:
                hf=hfas[confs[game.Year][game.Opp]]
            else:
                hf=50
        if 'True'  in str(game.neutral):
            hf=0
        
        if(winnerHomez==True):
            t1e=eloLeague.ratingDict[game.Schl]+homezz-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]-op+t2r
            if(eloLeague.ratingDict[game.Schl]+homezz-sp>eloLeague.ratingDict[game.Opp]-op):
                w+=1
            if(eloLeague.ratingDict[game.Schl]+homezz-sp<eloLeague.ratingDict[game.Opp]-op):
                l+=1
        if(winnerHomez!=True):
            t1e=eloLeague.ratingDict[game.Schl]-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]+homezz-op+t2r
            if(eloLeague.ratingDict[game.Schl]-sp>eloLeague.ratingDict[game.Opp]+homezz-op):
                w+=1
            if(eloLeague.ratingDict[game.Schl]-sp<eloLeague.ratingDict[game.Opp]+homezz-op):
                l+=1  
        df22.at[game.Index,'team1elopre']=t1e
        df22.at[game.Index,'team2elopre']=t2e
        eloLeague.gameOver(s,o,winnerHomez,game.neutral,game.PTS,game.OPP,game.Year,game.Date,sp,op,hf,k)
    if(game.PTS<game.OPP):
        homezz=0
        
        if(game.Venue=='@'):
            if game.Schl in confs[game.Year]:
                hf=hfas[confs[game.Year][game.Opp]]
            winnerHomez=True
        if(game.Venue!='@'):
            if game.Opp in confs[game.Year]:
                hf=hfas[confs[game.Year][game.Schl]]
            winnerHomez=False
        if 'True'  in str(game.neutral):
            homezz=0
        if(winnerHomez==True):
            t1e=eloLeague.ratingDict[game.Schl]-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]+homezz-op+t2r
            if(eloLeague.ratingDict[game.Schl]-sp>eloLeague.ratingDict[game.Opp]+homezz-op):
                l+=1
            if(eloLeague.ratingDict[game.Schl]-sp<eloLeague.ratingDict[game.Opp]+homezz-op):
                w+=1
            
        
        if(winnerHomez!=True):
            t1e=eloLeague.ratingDict[game.Schl]+homezz-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]-op+t2r
            if(eloLeague.ratingDict[game.Schl]+homezz-sp>eloLeague.ratingDict[game.Opp]-op):
                l+=1
            if(eloLeague.ratingDict[game.Schl]+homezz-sp<eloLeague.ratingDict[game.Opp]-op):
                w+=1
        df22.at[game.Index,'team1elopre']=t1e
        df22.at[game.Index,'team2elopre']=t2e
        eloLeague.gameOver(o,s,winnerHomez,game.neutral,game.OPP,game.PTS,game.Year,game.Date,op,sp,hf,k)
    d1=(s in confs[game.Year] or o in confs[game.Year])
    for i in range(9,22):
        spread=abs((t1e-t2e)/float(i))
        spread=round(spread)
        if spread==0:
            spread=1
        ms=(float(game.PTS)-float(game.OPP))-spread
        
        msz = np.square(ms)
        if d1==True:
            msqe[str(i)].add(msz)
        
import numpy as np
msqez={}
for i in range(9,22):
    msqez[str(i)]=0
for i in range(9,22):
    msqez[str(i)]=sum(msqe[str(i)])/len(msqe[str(i)])
mas=min(msqez, key=msqez.get)
print("--- %s seconds ---" % (time.time() - start_time))

done files
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014

In [142]:
str(date.today())

'2024-10-14'

In [138]:
df22=df22.astype({"Date":float})

In [127]:
we=we.fillna("?")
we[we.homep=='?']

        Unnamed: 0        date home away homep awayp venue  season notes
133            133  19991120.0  MOM  PRI     ?  37.0     A  1999.0     ?
438            438  19991128.0  CLE  ORS     ?  53.0     N  1999.0     ?
648            648  19991204.0  CAS  SFR     ?  70.0     A  1999.0     ?
1062          1062  19991217.0  HGH  WAK     ?  79.0     A  1999.0     ?
1082          1082  19991218.0  BEL  BUT     ?  79.0     A  1999.0     ?
4487          4487  20000310.0  COL  TEX     ?  78.0     N  1999.0     ?
13738        13738  19961130.0  NCW  WIS     ?  68.0     A  1996.0     ?
15097        15097  19970109.0  MBC  STP     ?  62.0     A  1996.0     ?
18924        18924  19951230.0  PRI  WGR     ?  55.0     A  1995.0     ?
24560        24560  19950204.0  FLA  VIT     ?  79.0     A  1994.0     ?
30528        30528  19921207.0  CSO  MRQ     ?  73.0     A  1992.0     ?
31293        31293  19930102.0  CSC  STA     ?  66.0     A  1992.0     ?
35130        35130  19911215.0  CAS  MRQ     ?  79.0     A  1991.0     ?
35945        35945  19920111.0  DAR  HAR     ?  41.0     H  1991.0     ?
42947        42947  19891125.0  STM  SWM     ?  52.0     N  1989.0     ?
55719        55719  19861209.0  JSU  MIS     ?  58.0     A  1986.0     ?
60516        60516  19860104.0  MAN  CLM     ?  69.0     H  1985.0     ?
61740        61740  19860203.0  MDE  NCT     ?  45.0     H  1985.0     ?
61858        61858  19860207.0  CLG  HRT     ?  56.0     A  1985.0     ?
64269        64269  19850103.0  GRA  SWT     ?  44.0     H  1984.0     ?
68777        68777  19840121.0  VAL  WGR     ?  33.0     H  1983.0     ?
75561        75561  19820109.0  AFU  UTE     ?  66.0     A  1981.0     ?
76019        76019  19820120.0  KAN  MSO     ?  41.0     A  1981.0     ?
80081        80081  19810207.0  CLM  PRI     ?  40.0     H  1980.0     ?
83301        83301  19800202.0  CIT  NCS     ?  57.0     A  1979.0     ?
90954        90954  19761211.0  VAN  MER     ?  33.0     H  1976.0     ?
103078      103078  19721227.0  WSS  MIN     ?  41.0     N  1972.0     ?
104134      104134  19720222.0  W&M  VMI     ?  37.0     A  1971.0     ?
108552      108552  19700228.0  CON  RHO     ?  32.0     H  1969.0     ?
112116      112116  19690215.0  NCS  SCA     ?  45.0     N  1968.0     ?
115240      115240  19670204.0  USC  UCL     ?  40.0     H  1966.0     ?
128449      128449  19600227.0  KSU  OKL     ?  58.0     A  1959.0     ?
141799      141799  19510307.0  TEX  TAM     ?  34.0     H  1950.0     ?
141889      141889  19510108.0  ALA  VAN     ?  49.0     A  1950.0     ?
142779      142779  19510224.0  WIS  MSU     ?  29.0     H  1950.0     ?
142982      142982  19500218.0  BRO  NAV     ?  54.0     A  1949.0     ?
143115      143115  19491211.0  PRI  LAF     ?  48.0     A  1949.0     ?
143260      143260  19500112.0  ARK  TAM     ?  43.0     A  1949.0     ?
143696      143696  19500204.0  PEN  COR     ?  54.0     A  1949.0     ?
143764      143764  19500228.0  STM  SFR     ?  49.0     A  1949.0     ?
144119      144119  19500103.0  ORE  CLM     ?  46.0     H  1949.0     ?
144272      144272  19500225.0  OKS  BRA     ?  42.0     H  1949.0     ?
144283      144283  19491212.0  MSO  TCU     ?  37.0     H  1949.0     ?

In [134]:
we.at[133,'homep']=35
we.at[438,'homep']=35
we.at[1082,'homep']=35
we.at[648,'homep']=35
we.at[4487,'homep']=35
we[we.homep=='?']

        Unnamed: 0        date home away homep awayp venue  season notes
648            648  19991204.0  CAS  SFR     ?  70.0     A  1999.0     ?
1062          1062  19991217.0  HGH  WAK     ?  79.0     A  1999.0     ?
4487          4487  20000310.0  COL  TEX     ?  78.0     N  1999.0     ?
13738        13738  19961130.0  NCW  WIS     ?  68.0     A  1996.0     ?
15097        15097  19970109.0  MBC  STP     ?  62.0     A  1996.0     ?
18924        18924  19951230.0  PRI  WGR     ?  55.0     A  1995.0     ?
24560        24560  19950204.0  FLA  VIT     ?  79.0     A  1994.0     ?
30528        30528  19921207.0  CSO  MRQ     ?  73.0     A  1992.0     ?
31293        31293  19930102.0  CSC  STA     ?  66.0     A  1992.0     ?
35130        35130  19911215.0  CAS  MRQ     ?  79.0     A  1991.0     ?
35945        35945  19920111.0  DAR  HAR     ?  41.0     H  1991.0     ?
42947        42947  19891125.0  STM  SWM     ?  52.0     N  1989.0     ?
55719        55719  19861209.0  JSU  MIS     ?  58.0     A  1986.0     ?
60516        60516  19860104.0  MAN  CLM     ?  69.0     H  1985.0     ?
61740        61740  19860203.0  MDE  NCT     ?  45.0     H  1985.0     ?
61858        61858  19860207.0  CLG  HRT     ?  56.0     A  1985.0     ?
64269        64269  19850103.0  GRA  SWT     ?  44.0     H  1984.0     ?
68777        68777  19840121.0  VAL  WGR     ?  33.0     H  1983.0     ?
75561        75561  19820109.0  AFU  UTE     ?  66.0     A  1981.0     ?
76019        76019  19820120.0  KAN  MSO     ?  41.0     A  1981.0     ?
80081        80081  19810207.0  CLM  PRI     ?  40.0     H  1980.0     ?
83301        83301  19800202.0  CIT  NCS     ?  57.0     A  1979.0     ?
90954        90954  19761211.0  VAN  MER     ?  33.0     H  1976.0     ?
103078      103078  19721227.0  WSS  MIN     ?  41.0     N  1972.0     ?
104134      104134  19720222.0  W&M  VMI     ?  37.0     A  1971.0     ?
108552      108552  19700228.0  CON  RHO     ?  32.0     H  1969.0     ?
112116      112116  19690215.0  NCS  SCA     ?  45.0     N  1968.0     ?
115240      115240  19670204.0  USC  UCL     ?  40.0     H  1966.0     ?
128449      128449  19600227.0  KSU  OKL     ?  58.0     A  1959.0     ?
141799      141799  19510307.0  TEX  TAM     ?  34.0     H  1950.0     ?
141889      141889  19510108.0  ALA  VAN     ?  49.0     A  1950.0     ?
142779      142779  19510224.0  WIS  MSU     ?  29.0     H  1950.0     ?
142982      142982  19500218.0  BRO  NAV     ?  54.0     A  1949.0     ?
143115      143115  19491211.0  PRI  LAF     ?  48.0     A  1949.0     ?
143260      143260  19500112.0  ARK  TAM     ?  43.0     A  1949.0     ?
143696      143696  19500204.0  PEN  COR     ?  54.0     A  1949.0     ?
143764      143764  19500228.0  STM  SFR     ?  49.0     A  1949.0     ?
144119      144119  19500103.0  ORE  CLM     ?  46.0     H  1949.0     ?
144272      144272  19500225.0  OKS  BRA     ?  42.0     H  1949.0     ?
144283      144283  19491212.0  MSO  TCU     ?  37.0     H  1949.0     ?

In [112]:
df22['Venue']=df22['Venue'].replace("NA?","N")
df22['Venue']=df22['Venue'].replace("A?","@")
df22['Venue']=df22['Venue'].replace("AH?","N")
df22['Venue']=df22['Venue'].replace("AN?","N")
df22['Venue']=df22['Venue'].replace("HA?","N")
df22['Venue']=df22['Venue'].replace("HN?","N")
df22['Venue']=df22['Venue'].replace("NA?","N")
df22['Venue']=df22['Venue'].replace("NN","N")
df22['Venue']=df22['Venue'].replace("NH?","N")
df22['Venue']=df22['Venue'].replace("N\xa0","N")
df22['Venue']=df22['Venue'].replace("N?","N")
df22['Venue']=df22['Venue'].replace("H?","H")
df22['Venue']=df22['Venue'].replace("A?","A")
df22['Venue']=df22['Venue'].replace("n","N")
df22['Venue']=df22['Venue'].replace("?","N")
set(df.)

{'?',
 'A',
 'A?',
 'AH?',
 'AN?',
 'H',
 'H?',
 'HA?',
 'HN?',
 'N',
 'N?',
 'NA?',
 'NH?',
 'NN',
 'N\xa0',
 'n'}

In [ ]:
h.replace("")

In [ ]:
thearr.append(row.home,row.away,row.homep,row.awayp,row.venue,row.season,row.notes)

In [14]:
k=requests.get("https://ontheroadtovote.com/ncaaf/prefbs/masseyratings.com2002.webarchive").text
soup=BeautifulSoup(k)

str(soup).split("\n")[100]

'2002-10-26  Saskatchewan             63  Memorial                 56            '

In [70]:
we[we.homep=='W&M']

       Unnamed: 0        date home away homep awayp venue  season notes
88229       88229  19771209.0  NaN   67   W&M   FUL    62  1977.0     N

In [8]:
pd.read_csv("https://ontheroadtovote.com/ncaab/updatedstandings.csv")

,Unnamed: 0,School,W,L,SRS,Year,WC,LC
0,0,Rhode Island,18.0,8.0,0.29,1949,unknown,unknown
1,1,Connecticut,17.0,8.0,unknown,1949,unknown,unknown
2,2,Vermont,9.0,11.0,unknown,1949,unknown,unknown
3,3,Massachusetts,8.0,11.0,unknown,1949,unknown,unknown
4,4,Maine,13.0,6.0,unknown,1949,unknown,unknown
...,...,...,...,...,...,...,...,...
21050,21050,San Diego,18.0,15.0,-5.05,2023,7.0,9.0
21051,21051,Pepperdine,13.0,20.0,-1.89,2023,5.0,11.0
21052,21052,Loyola Marymount,12.0,19.0,0.11,2023,5.0,11.0
21053,21053,Portland,12.0,21.0,-8.0,2023,5.0,11.0
21054,21054,Pacific,6.0,26.0,-17.16,2023,0.0,16.0

In [64]:
round(np.mean(confy[confs[2023]['Grambling']]))

-14

10.5

# mas=9

In [39]:
df2=pd.DataFrame(thearr)
df2.columns=['Schl','Opp','PTS','OPP','Year','Date','neutral','Venue','Yearz']

In [64]:
game.Year

1949.0

-13.697330385988778

In [112]:
rh={}
u=[]
for team in years[2023]:
    rh[team]=(eloLeague.ratingDict[team])
    u.append(eloLeague.ratingDict[team])
rh=sorted(rh, key=rh.get, reverse=True)
i=1
print(np.mean(u))
print("Rank||Team||Points Above d1 Average")
for key in rh:
    print(str(i)+"  "+key+"  "+str(eloLeague.ratingDict[key]-np.mean(u))+"")
    i+=1

1526.5169673225107
Rank||Team||Points Above d1 Average
1  Connecticut  461.4182344304886
2  Purdue  385.85410002334606
3  Houston  358.0079270256358
4  Iowa State  338.8530030025802
5  Auburn  311.8145424292777
6  Illinois  311.1588165809478
7  Gonzaga  295.26343448093075
8  North Carolina  291.2620456855291
9  Creighton  290.09364132557516
10  Duke  288.5691983274023
11  Tennessee  284.7641858594668
12  Marquette  268.519083091674
13  Arizona  258.7513934848755
14  Alabama  251.68511344890044
15  Saint Mary's (CA)  246.64438580392152
16  Baylor  235.30123016498374
17  San Diego State  232.09485091815782
18  Texas  228.9578246127112
19  Indiana State  223.41284668784078
20  Grand Canyon  219.29207430281986
21  Kansas  215.5905831027644
22  Nevada  213.41069485124603
23  Kentucky  212.60346889531297
24  Texas Tech  211.76938680785406
25  Brigham Young  211.16771750973066
26  Drake  209.22143588340555
27  St. John's (NY)  205.90518235135664
28  Texas A&M  203.3392827560367
29  James Madison  201.25395293857696
30  Clemson  200.6531007908568
31  Florida  200.19548507672857
32  Nebraska  198.31472662011652
33  Florida Atlantic  197.72540716105823
34  Utah State  197.6112967754268
35  Wisconsin  196.60188184929166
36  Michigan State  195.5610272762642
37  NC State  194.88274992784318
38  New Mexico  194.52468323620656
39  Seton Hall  194.3699088264559
40  Northwestern  194.04909933752788
41  Dayton  192.20307209204134
42  Colorado  179.86650482326377
43  Pittsburgh  179.80326749693245
44  Mississippi State  179.46175946938752
45  Ohio State  177.26388038601795
46  Cincinnati  175.03146188897404
47  TCU  172.94914611455124
48  Memphis  171.40062388168508
49  Colorado State  169.5101349606482
50  Samford  167.3040483321697
51  South Carolina  165.73763310159893
52  Oklahoma  163.4597171877308
53  Vermont  160.81075552786274
54  Boise State  160.7266181949774
55  Princeton  159.9310532251077
56  College of Charleston  158.94835508489382
57  Washington State  157.35447976974683
58  Bradley  152.997404450148
59  Iowa  152.03243042997428
60  UC Irvine  150.14288659500266
61  San Francisco  148.95824154137927
62  Villanova  147.7986100642056
63  Oregon  147.68068441495006
64  Appalachian State  144.8090520683511
65  South Florida  143.57680130428707
66  Yale  143.2012474604212
67  Virginia Commonwealth  142.49864678133372
68  Duquesne  138.22636928052748
69  Kansas State  134.4290404356077
70  Providence  133.33964895319764
71  Cornell  129.9582293720448
72  Wake Forest  128.78940533075365
73  North Texas  122.85299148135618
74  Loyola (IL)  120.86257950011031
75  Xavier  120.49106849256691
76  Richmond  119.27501228527967
77  Nevada-Las Vegas  117.0579436299563
78  Maryland  113.94805570179437
79  UT Arlington  113.4246956829727
80  McNeese State  110.29691612484908
81  Penn State  109.99041048321624
82  Central Florida  109.46808560483532
83  UAB  107.48293002761693
84  Louisiana Tech  105.81646556041028
85  Tarleton State  105.56497227452041
86  Belmont  104.00627925520735
87  Indiana  102.61611959952165
88  Massachusetts  101.8073894132026
89  Akron  101.37079216520738
90  Boston College  100.9270644197652
91  Sam Houston  98.74407234992782
92  Virginia  98.3179696498571
93  Southern Methodist  98.04671736093565
94  Western Carolina  96.64498173530956
95  Virginia Tech  96.27544148988909
96  Colgate  94.25387896184156
97  Utah  94.23311582221186
98  Seattle  94.20182950683761
99  Santa Clara  89.55747387711949
100  Morehead State  89.30977506836302
101  Toledo  87.67356734482632
102  South Dakota State  86.545827967891
103  Saint Joseph's  85.06503452782817
104  Ohio  84.10443450438788
105  George Mason  83.53495775808051
106  Butler  81.59396764528356
107  Minnesota  80.72686556099802
108  High Point  80.62573183944573
109  Hofstra  79.8114399027088
110  Eastern Washington  79.5909233697214
111  Arkansas State  78.59180565529073
112  Western Kentucky  77.07258950584242
113  Syracuse  75.8411794844285
114  Northern Iowa  74.09619853264712
115  Massachusetts-Lowell  72.1366325291483
116  Charlotte  70.38825222183118
117  Oakland  68.8390957224783
118  Chattanooga  65.93054055627817
119  St. Bonaventure  65.63454621396545
120  Quinnipiac  64.48082712356131
121  UC San Diego  62.69646492744846
122  Troy  62.48673687940868
123  Youngstown State  60.21977918454627
124  UNC Wilmington  56.56485608336334
125  Fairfield  55.308753183133604
126  Drexel  54.61993405733756
127  Washington  53.32176919288986
128  Georgia  51.788892571503084
129  Furman  50.825110487972324
130  UNC Greensboro  50.59101107365086
131  UCLA  50.070042537862946
132  Florida State  49.321878627268916
133  Southern Illinois  47.61380518578221
134  Southern California  47.50421524585113
135  Rutgers  40.92930180721737
136  Mississippi  38.38106924856538
137  Montana  37.11734108001656
138  Bryant  36.51683440269426
139  St. Thomas  36.02366582142872
140  Louisiana State  32.83259561138789
141  Wright State  32.50917503900837
142  Hawaii  31.10900730180083
143  Long Beach State  30.170527590660868
144  Purdue Fort Wayne  28.864603055409134
145  UC Davis  28.243232065110988
146  Kent State  28.214555016890927
147  East Tennessee State  27.04625740624101
148  Towson  26.802654508897376
149  Lipscomb  23.76117014820079
150  Utah Valley  22.64872133497761
151  Weber State  21.80285561902565
152  Oklahoma State  21.4983265704916
153  Arkansas  19.625610474154428
154  UNC Asheville  18.634508782994317
155  Wyoming  17.19241641830854
156  Louisiana  16.06992530343109
157  Little Rock  13.270054643279764
158  Missouri State  12.81544144399345
159  Brown  9.937772989412451
160  Davidson  9.26446287166118
161  Saint Peter's  8.747510468361497
162  Stephen F. Austin  7.622685535546452
163  Texas State  7.302466288666437
164  Wofford  6.614733287321997
165  Merrimack  6.198235966189259
166  Rider  5.496864662369262
167  Stony Brook  4.028909125123619
168  UTEP  3.4640607339906637
169  Wichita State  2.5578384734499195
170  Kansas City  2.1926195079411173
171  Longwood  0.3702067386136605
172  Tennessee-Martin  -3.6533167663262702
173  Miami (FL)  -4.329690508579006
174  Stetson  -4.523571582931027
175  North Dakota  -6.219597129497743
176  Northern Kentucky  -6.834419727986642
177  Liberty  -7.133313023890423
178  Notre Dame  -8.060710287414167
179  Marist  -8.261634565333225
180  Tulane  -9.66737183698956
181  Mercer  -11.073844535228773
182  Montana State  -13.270613172264348
183  Abilene Christian  -13.452182782809132
184  Stanford  -13.713602532720415
185  South Alabama  -14.109669116550776
186  Milwaukee  -14.720585109987269
187  Temple  -15.281486841774267
188  Murray State  -15.42566484615918
189  Cleveland State  -15.456159550547454
190  Delaware  -16.83364200118467
191  UC Riverside  -18.95432777883184
192  Northern Colorado  -19.619220427108758
193  Bowling Green State  -19.907108119425857
194  Harvard  -20.488201913044122
195  Texas A&M-Corpus Christi  -21.448048451210752
196  Monmouth  -21.95754906108209
197  Eastern Kentucky  -22.784462067249706
198  Illinois State  -24.658167110854265
199  California  -24.877392957723032
200  Michigan  -29.176582878926183
201  Iona  -29.833676684232387
202  Arizona State  -30.120280414816307
203  UC Santa Barbara  -30.715916782571185
204  Central Michigan  -31.53554452737808
205  La Salle  -32.555477945401435
206  Central Connecticut State  -32.72957004762475
207  Norfolk State  -33.824558337327744
208  Lehigh  -35.036593942527816
209  Georgia Tech  -35.75704270727306
210  Loyola Marymount  -36.40152581883103
211  Mount St. Mary's  -37.48691572203302
212  Pepperdine  -38.82223072923534
213  Maine  -38.935138966733575
214  Ball State  -38.96461318914339
215  Western Illinois  -39.25543804339941
216  West Virginia  -39.421534125126755
217  Tulsa  -39.723215842570426
218  California Baptist  -42.8544712830419
219  Saint Louis  -43.42540580434297
220  Nicholls State  -44.75459692565505
221  San Diego  -45.675351397559325
222  Pennsylvania  -48.481644602240976
223  Niagara  -49.40017369430939
224  East Carolina  -49.49148924981819
225  Jacksonville State  -51.49616186183721
226  Florida Gulf Coast  -51.89978768661467
227  Bucknell  -53.774239745085424
228  Fordham  -53.83291779673891
229  Winthrop  -54.193370960274706
230  North Florida  -54.34213054053794
231  Columbia  -56.78941045732381
232  Miami (OH)  -58.9413632300907
233  Cal State Fullerton  -59.84239531156504
234  Boston University  -60.15418316211776
235  Gardner-Webb  -60.46476070515587
236  Austin Peay  -61.51065268850607
237  Georgia State  -61.536039611730075
238  Cal State Northridge  -62.018397620682435
239  New Hampshire  -62.9236028141338
240  Idaho State  -63.29512893664037
241  Cal State Bakersfield  -64.3381417353969
242  Lamar  -65.85263033990009
243  Canisius  -66.13302729709926
244  Oregon State  -66.52676965242631
245  Evansville  -67.50005106499611
246  Southern Mississippi  -68.61501860692806
247  Radford  -68.64440396086866
248  North Dakota State  -69.55212365957868
249  Omaha  -70.20231513032104
250  North Alabama  -71.2343425569477
251  Portland State  -71.96382608857039
252  Wagner  -73.15518637029254
253  George Washington  -73.91484694024666
254  Jacksonville  -73.97616720377005
255  Marshall  -74.3194222875411
256  Binghamton  -74.77745572058348
257  Green Bay  -76.18400475934936
258  Le Moyne  -76.30689266804711
259  Maryland-Baltimore County  -76.31344864992798
260  Queens (NC)  -78.23564506756338
261  Illinois-Chicago  -78.68222670928844
262  Rhode Island  -79.49701296723424
263  Albany (NY)  -79.94616815984386
264  Grambling  -80.20864059746009
265  Kennesaw State  -80.75723137318914
266  Sacred Heart  -81.67894916079922
267  Portland  -81.73788957087095
268  American  -82.58006785124576
269  Middle Tennessee  -83.60027572822878
270  Southern Utah  -85.2212242816704
271  Fresno State  -88.12245924806552
272  Oral Roberts  -88.40285673561016
273  Missouri  -90.7837099122496
274  Rice  -91.20372304747798
275  Denver  -91.22575379682212
276  Georgia Southern  -92.55895207561753
277  Northeastern  -92.89668128774451
278  Tennessee State  -93.65691066374666
279  Vanderbilt  -94.45115748019452
280  North Carolina Central  -99.53272038841305
281  Howard  -99.63099756227507
282  Southern Illinois-Edwardsville  -100.01920590678128
283  Western Michigan  -102.08515462512105
284  Georgetown  -105.66233504901925
285  UTSA  -106.82214012128225
286  New Mexico State  -107.0018345352546
287  Air Force  -107.85889555694621
288  Navy  -108.50299090052931
289  Presbyterian  -110.970193560074
290  Utah Tech  -111.74181220850778
291  The Citadel  -112.5990330126915
292  Florida International  -114.35162716168156
293  San Jose State  -116.19763614766157
294  Louisiana-Monroe  -118.23159822235766
295  Northern Arizona  -120.86499217811638
296  Campbell  -122.74395723347129
297  Northern Illinois  -124.93198974173924
298  Texas Southern  -126.93426204022103
299  Fairleigh Dickinson  -129.97536499111652
300  Eastern Michigan  -138.04549527322092
301  Alcorn State  -142.3828755642187
302  Old Dominion  -144.27915253791798
303  South Carolina Upstate  -144.31841640043058
304  Southern  -149.9306219670409
305  Lafayette  -150.07428069742173
306  Elon  -153.03583388207608
307  South Dakota  -155.08678575270255
308  Delaware State  -155.90584552781115
309  Robert Morris  -156.74290715590314
310  Eastern Illinois  -161.25614029499388
311  South Carolina State  -161.4993626358946
312  Louisville  -161.64639438109293
313  Southeastern Louisiana  -162.1164839510518
314  Bellarmine  -162.61580026247884
315  Chicago State  -162.69108055029938
316  Sacramento State  -164.53701491997435
317  Bethune-Cookman  -167.91996073872383
318  Jackson State  -170.1318741192531
319  Dartmouth  -171.84851205501127
320  Idaho  -171.89676847183796
321  Coastal Carolina  -173.1076033670263
322  Valparaiso  -174.83582951131757
323  Charleston Southern  -175.0615008954942
324  William & Mary  -179.69796988005328
325  Tennessee Tech  -180.08663235899462
326  Holy Cross  -184.11532968686242
327  Northwestern State  -185.87823836883763
328  Manhattan  -192.74399768214857
329  Alabama A&M  -196.54672446317431
330  Texas A&M-Commerce  -197.7693289673441
331  Army  -201.89929065265255
332  NJIT  -202.0400871893446
333  Southern Indiana  -203.3653679069398
334  DePaul  -206.02144255286657
335  Long Island University  -210.50299083595428
336  Central Arkansas  -212.23952023703146
337  Morgan State  -218.90565039089574
338  Hampton  -219.5693133349548
339  Loyola (MD)  -222.72231426310145
340  Texas-Rio Grande Valley  -224.3403154227883
341  Southeast Missouri State  -230.93907999344606
342  Alabama State  -240.5956417647917
343  Maryland-Eastern Shore  -242.92479965000462
344  Pacific  -242.9369005601975
345  North Carolina A&T  -242.99830661180476
346  Buffalo  -243.2754912540022
347  New Orleans  -246.19034735575042
348  Arkansas-Pine Bluff  -246.60496731623607
349  Saint Francis (PA)  -250.56025092493473
350  Lindenwood  -252.41234045016927
351  Cal Poly  -256.954404927631
352  Siena  -260.66035930841076
353  Virginia Military Institute  -267.3381705965985
354  Prairie View  -268.9615008150545
355  Stonehill  -271.7747763450998
356  Detroit Mercy  -271.97073069692624
357  Incarnate Word  -288.0303423708524
358  Florida A&M  -289.78808065704084
359  IUPUI  -298.82943623841925
360  Houston Christian  -304.81394688168916
361  Coppin State  -332.30369054579796
362  Mississippi Valley State  -398.61106723409716

In [34]:
((eloLeague.ratingDict['Creighton']+hfas['Big East'])-(eloLeague.ratingDict['North Dakota State']))/17

38.620751581108685

In [21]:
(1443-1266)/9

19.666666666666668

In [102]:
for row in df22.itertuples():
    spread=row.team1elopre-row.team2elopre
    spread=spread/9
    spread=round(spread)
    if spread==0:
        
        if row.team1elopre>row.team2elopre:
            spread=1
        else:
            spread=-1
    df22.at[row.Index,'predt1spread']=spread

In [95]:
t=df[df.Year==2023]
off=[]
for t in list(t.OFF.tolist()):
    off.append(float(t))
max(off)

115.5

In [106]:
j=np.mean([16,17,20])
(16*(1-rev))+(rev*j)

17.21666666666667

In [14]:
tr.find_all("td")[0].text

'1949-502'

In [107]:
from bs4 import BeautifulSoup
import requests
sep=""
def remove_tags(html):

    # parse html content
    soup = BeautifulSoup(html, "html.parser")

    for data in soup(['style', 'script']):
        # Remove tags
        data.decompose()

    # return data by retrieving the tag content
    return ' '.join(soup.stripped_strings)
years=[1950,1962,1973,1974]
import pandas as pd
yu=[]
from datetime import datetime,timedelta
html=requests.get("https://academics.smcvt.edu/jtrono/BBallArchive.htm").text
soup=BeautifulSoup(html)
table=soup.find_all("table")[0]
arr=[]
for tr in table.find_all("tr"):
    print(len(yu),":",season)
    season=tr.find_all("td")[0].text
    yearz=season[:-1]
    yearz=yearz[2::]
    yearz=yearz.replace("-","_")
    print(season)
    season=season.split("-")[0]
    link='https://academics.smcvt.edu/jtrono/'+tr.find_all("a")[0]['href']
    j=link
    j=j.split("Archive/")[1]
    j=j.split("_dt")[0]
    
    ht=requests.get(link).text

   
    soupz=BeautifulSoup(ht)
    
    body=soupz.find_all("body")[0]
    
    body=str(body)
    body=body.replace("<br>","<br/>")
    body=body.replace("<p>","")
    
    body=body.split("<br/>")
    
    for line in body:
        line=remove_tags(line)
        line=line.replace("\r\n","")
        
        if 'html' not in str(line) and line!='' and line!='\xa0' and '<body>' not in str(line) and line!='\xa0\n</body>' and line!='\n':
            
            line=line.replace("leftmargin","")
            line=line.replace("35","")
            line=line.replace('"',"")
            line=line.replace("topmargin","")
            line=line.replace(" = ","")
            line=line.replace("<body","")
            line=line.replace(">\n","")
            line=line.replace("=","")
            date=line.split(" ")[0]
            home=line.split(" ")[1]
            pts=line.split(" ")[2]
            away=line.split(" ")[3]
            opp=line.split(" ")[4]
            venue=line.split(" ")[5]
            
            if date[0]=='2':
                date=season+sep+"11"+sep+date[1::]
            if date[0]=='3':
                date=season+sep+"12"+sep+date[1::]
            if date[0]=='4':
                date=str(float(season)+1)+sep+"01"+sep+date[1::]
            if date[0]=='5':
                date=str(float(season)+1)+sep+"02"+sep+date[1::]
            if date[0]=='6':
                date=str(float(season)+1)+sep+"03"+sep+date[1::]
            if date[0]=='7':
                date=str(float(season)+1)+sep+"04"+sep+date[1::]
            date=date.replace("F","")
            date=date.replace("f","")
            date=date.replace(".0","")
            date=float(date)
            notes=''
            if len(line.split(" "))>6:
                notes=line.split(" ")[6]
            
            arr.append([date,home,away,pts,opp,venue,season,notes])
    link='https://academics.smcvt.edu/jtrono/'+tr.find_all("a")[1]['href']
    ht=requests.get(link).text

   
    soupz=BeautifulSoup(ht)
    
    body=soupz.find_all("body")[0]
    body=str(body)
    body=body.replace("<br>","<br/>")
    
    body=body.replace("<p>","")
    body=body.split("<br/>")
    for line in body:
        line=remove_tags(line)
        line=line.replace("\r\n","")
        if 'html' not in str(line) and line!='' and line!='\xa0' and '<body>' not in str(line) and line!='\xa0\n</body>' and season in years:
            
            line=line.replace("leftmargin","")
            line=line.replace("35","")
            line=line.replace('"',"")
            line=line.replace("topmargin","")
            line=line.replace(" = ","")
            line=line.replace("<body","")
            line=line.replace(">\n","")
            line=line.replace("=","")
            
            date=line.split(" ")[0]
            home=line.split(" ")[1]
            pts=line.split(" ")[2]
            away=line.split(" ")[3]
            opp=line.split(" ")[4]
            venue=line.split(" ")[5]
            if date[0]=='2':
                date=season+sep+"11"+sep+date[1::]
            if date[0]=='3':
                date=season+sep+"12"+sep+date[1::]
            if date[0]=='4':
                date=str(float(season)+1)+sep+"01"+sep+date[1::]
            if date[0]=='5':
                date=str(float(season)+1)+sep+"02"+sep+date[1::]
            if date[0]=='6':
                date=str(float(season)+1)+sep+"03"+sep+date[1::]
            if date[0]=='7':
                date=str(float(season)+1)+sep+"04"+sep+date[1::]
            date=date.replace("F","")
            date=date.replace("f","")
            date=date.replace(".0","")
            date=float(date)
            notes=''
            if len(line.split(" "))>6:
                notes=line.split(" ")[6]
            
            arr.append([date,home,away,pts,opp,venue,season,notes])
    datez=date
    j=j.split(".dts")[0]
    jz=str(j)
    j=jz
    link='https://academics.smcvt.edu/jtrono/NCAA_Archive/'+j+"_nit.htm"
    ht=requests.get(link).text

   
    soupz=BeautifulSoup(ht)
    
    body=soupz.find_all("body")[0]
    body=str(body)
    body=body.replace("<br>","<br/>")
    body=body.replace("<p>","")
    
    body=body.split("<br/>")
    
    datez=date
   
    
    for line in body:
        line=remove_tags(line)
        line=line.replace("\r\n","")
        if 'html' not in str(line) and line!='' and line!='\xa0' and '<body>' not in str(line)  and line!='\xa0\n</body>':
            line=line.replace("leftmargin","")
            line=line.replace("35","")
            line=line.replace('"',"")
            line=line.replace("<body","")
            line=line.replace("topmargin","")
            line=line.replace(" = ","")
            line=line.replace(">\n","")
            line=line.replace("=","")
            home=line.split(" ")[0]
            pts=line.split(" ")[1]
            away=line.split(" ")[2]
            opp=line.split(" ")[3]
            venue=line.split(" ")[4]
            
            
            
            notes=''
            if len(line.split(" "))>5:
                notes=line.split(" ")[5]
            datez+=1
            
            arr.append([datez,home,away,pts,opp,venue,season,notes])
    link='https://academics.smcvt.edu/jtrono/NCAA_Archive/'+j+"_ncaa.htm"
    ht=requests.get(link).text

   
    soupz=BeautifulSoup(ht)
    
    body=soupz.find_all("body")[0]
    body=str(body)
    body=body.replace("<br>","<br/>")
    body=body.replace("<p>","")
    
    body=body.split("<br/>")
    datez=date
    
    for line in body:
        line=remove_tags(line)
        line=line.replace("\r\n","")
        
        if 'html' not in str(line) and line!='' and line!='\xa0' and '<body>' not in str(line)  and line!='\xa0\n</body>':
            
            line=line.replace("leftmargin","")
            line=line.replace("35","")
            line=line.replace('"',"")
            line=line.replace("<body","")
            line=line.replace("topmargin","")
            line=line.replace(" = ","")
            line=line.replace(">\n","")
            line=line.replace("=","")
            line=line.replace("5V","5 V")
            home=line.split(" ")[0]
            pts=line.split(" ")[1]
            away=line.split(" ")[2]
            opp=line.split(" ")[3]
            venue=line.split(" ")[4]
            
            
            
            notes=''
            if len(line.split(" "))>5:
                notes=line.split(" ")[5]
            datez+=1
            
            arr.append([datez,home,away,pts,opp,venue,season,notes])
    
df=pd.DataFrame(arr,columns=['date','home','away','homep','awayp','venue','season','notes'])
df=df.astype({"season":float})

0 : 1999
1999-20001
0 : 1999
1998-991
0 : 1998
1997-981
0 : 1997
1996-971
0 : 1996
1995-961
0 : 1995
1994-953
0 : 1994
1993-943
0 : 1993
1992-933
0 : 1992
1991-923
0 : 1991
1990-913
0 : 1990
1989-903
0 : 1989
1988-893
0 : 1988
1987-883
0 : 1987
1986-873
0 : 1986
1985-863
0 : 1985
1984-853
0 : 1984
1983-844
0 : 1983
1982-834
0 : 1982
1981-824
0 : 1981
1980-814
0 : 1980
1979-804
0 : 1979
1978-794
0 : 1978
1977-784
0 : 1977
1976-774

/opt/conda/lib/python3.7/site-packages/bs4/__init__.py:439: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  MarkupResemblesLocatorWarning

0 : 1976
1975-764
0 : 1975
1974-754
0 : 1974
1973-744
0 : 1973
1972-734
0 : 1972
1971-724
0 : 1971
1970-714
0 : 1970
1969-702
0 : 1969
1968-692
0 : 1968
1967-682
0 : 1967
1966-67
0 : 1966
1965-662
0 : 1965
1964-652
0 : 1964
1963-642
0 : 1963
1962-632
0 : 1962
1961-622
0 : 1961
1960-612
0 : 1960
1959-602
0 : 1959
1958-592
0 : 1958
1957-582
0 : 1957
1956-572
0 : 1956
1955-562
0 : 1955
1954-552
0 : 1954
1953-542
0 : 1953
1952-532
0 : 1952
1951-522
0 : 1951
1950-512
0 : 1950
1949-502

In [101]:
u=we[we.season==1979]
ht=requests.get("https://academics.smcvt.edu/jtrono/NCAA_Archive/79_80_dts.htm").text
soupz=BeautifulSoup(ht)
    
body=soupz.find_all("body")[0]
body=str(body)
body=body.replace("<br>","<br/>")
body=body.replace("<p>","")
    
body=body.split("<br/>")
body[2000]

'430 MER 75 STE 56 H'

In [110]:
df=pd.DataFrame(arr,columns=['date','home','away','homep','awayp','venue','season','notes'])
df=df.astype({"season":float})
df.to_csv("allbbz.csv")

In [105]:
df[df.homep=='WMI']

             date home away homep awayp venue  season notes
85192  19781129.0        72   WMI   VAL    66  1978.0     H

In [88]:
len(yu)

2939

In [6]:
df.to_csv("allscores.csv")

In [82]:
len(line)

'\r\nDUQ 94 GEW 89 A'

In [93]:
np.mean([list(hfas.values())])

61.30434782608695

In [131]:
import pandas as pd
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

In [135]:
df1=pd.concat([df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19],ignore_index=True)
arr=[]
df100=df1.sort_values(by='Date')
df1=df1[['Year','Date','neutral','PTS','OPP','Year','Opp','Schl']]
df1=df1.drop_duplicates()
ys=[]

import sys
for Date in df100.Date.unique():
    times=1
    teams=[]
    
    if '2003' in str(Date):
        sys.exit(1)
    if row.Year not in ys:
        ys.append(row.Year)
        print(row.Year)
    df=df1[df1.Date==Date]
    for row in df.itertuples():
        if row.Schl in teams or row.Opp in teams:
            times+=1
            num=20*times
            date=row.Date+" "+str(num)+":00:00"
        else:
            date=row.Date+" 00:00:00"
        arr.append([row.Schl,date,row.Opp,row.Year,'vs',row.neutral,row.PTS,row.OPP])
        teams.append(row.Schl)
        teams.append(row.Opp)

2002-03
1949-50
1950-51
1951-52
1952-53
1953-54
1954-55
1955-56
1956-57
1957-58
1958-59
1959-60
1960-61
1961-62
1962-63
1963-64
1964-65
1965-66
1966-67
1967-68
1968-69
1969-70
1970-71
1971-72
1972-73
1973-74
1974-75
1975-76
1976-77
1977-78
1978-79
1979-80
1980-81
1981-82
1982-83
1983-84
1984-85
1985-86
1986-87
1987-88
1988-89
1989-90
1990-91
1991-92
1992-93
1993-94
1994-95
1995-96
1996-97
1997-98
1998-99
1999-00
2000-01
2001-02

SystemExit: 1

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3560: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

# d2 scores from 2007 season

In [ ]:
d3urls={"1995":"https://masseyratings.com/scores.php?s=41840&sub=41840&all=1","1996":"https://masseyratings.com/scores.php?s=41841&sub=41841&all=1","1997":"https://masseyratings.com/scores.php?s=41842&sub=41842&all=1","1998":"https://masseyratings.com/scores.php?s=41843&sub=41843&all=1","1999":"https://masseyratings.com/scores.php?s=41844&sub=41844&all=1","2000":"https://masseyratings.com/scores.php?s=41845&sub=41845&all=1","2001":"https://masseyratings.com/scores.php?s=41846&sub=41846&all=1","2002":"https://masseyratings.com/scores.php?s=41847&sub=41847&all=1","2003":"https://masseyratings.com/scores.php?s=41848&sub=41848&all=1","2004":"https://masseyratings.com/scores.php?s=41849&sub=41849&all=1","2005":"https://masseyratings.com/scores.php?s=41850&sub=41850&all=1","2006":"https://masseyratings.com/scores.php?s=68033&sub=68033&all=1","2007":"https://masseyratings.com/scores.php?s=73929&sub=73929&all=1","2008":"https://masseyratings.com/scores.php?s=85513&sub=85513&all=1","2009":"https://masseyratings.com/scores.php?s=94988&sub=94988&all=1","2010":"https://masseyratings.com/scores.php?s=98700&sub=98700&all=1","2011":"https://masseyratings.com/scores.php?s=107811&sub=107811&all=1","2012":"https://masseyratings.com/scores.php?s=181623&sub=181623&all=1","2014":"https://masseyratings.com/scores.php?s=262657&sub=262657&all=1","2015":"https://masseyratings.com/scores.php?s=279541&sub=279541&all=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=286577&all=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=295489&all=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=300937&all=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=308075&all=1","2020":"https://masseyratings.com/scores.php?s=318889&sub=318889&all=1","2021":"https://masseyratings.com/scores.php?s=358435&sub=358435&all=1","2022":"https://masseyratings.com/scores.php?s=384031&sub=384031&all=1","2023":"https://masseyratings.com/scores.php?s=539277&sub=539277&all=1"}
ggg=[]
import os
d2urls={"2020":"https://masseyratings.com/scores.php?s=320158&sub=320158&all=1","2005":"https://masseyratings.com/scores.php?s=41469&sub=41469&all=1","2004":"https://masseyratings.com/scores.php?s=41468&sub=41468&all=1","2006":'https://masseyratings.com/scores.php?s=69587&sub=69587&all=1',"2009":"https://masseyratings.com/scores.php?s=97288&sub=97288&all=1","2011":"https://masseyratings.com/scores.php?s=179268&sub=179268&all=1","2013":"https://masseyratings.com/scores.php?s=203290&sub=203290&all=1","2015":"https://masseyratings.com/scores.php?s=284067&sub=284067&all=1","2016":"https://masseyratings.com/scores.php?s=292154&sub=292154&all=1","2017":"https://masseyratings.com/scores.php?s=298892&sub=298892&all=1","2018":"https://masseyratings.com/scores.php?s=305972&sub=305972&all=1","2021":"https://masseyratings.com/scores.php?s=379387&sub=379387&all=1","2022":"https://masseyratings.com/scores.php?s=500054&sub=500054&all=1"}
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
didp=0
d2urls={"2004":"https://masseyratings.com/scores.php?s=41468&sub=41468&all=1","2005":"https://masseyratings.com/scores.php?s=41469&sub=41469&all=1","2007":"https://masseyratings.com/scores.php?s=74994&sub=74994&all=1","2008":"https://masseyratings.com/scores.php?s=87798&sub=87798&all=1","2010":"https://masseyratings.com/scores.php?s=101140&sub=101140&all=1","2012":"https://masseyratings.com/scores.php?s=193573&sub=193573&all=1","2014":"https://masseyratings.com/scores.php?s=267615&sub=267615&all=1","2019":"https://masseyratings.com/scores.php?s=309912&sub=309912&all=1"}
for key in d2urls:
    print(key)
    
    r = requests.get(d2urls[key])
    soup = BeautifulSoup(r.text, 'lxml')
    
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(BeautifulSoup(r.text, 'lxml'))
    aa=str(aa)
    aa=(aa.split("<hr/><pre>")[1])
    
    aa=aa.replace("               ",",")
    aa=aa.replace("  ",",")
    for i in range(0,10):
        aa=aa.replace(str(i)+" ",str(i)+",")
        
    aa=aa.replace(",,,,,,",",")
    
    q=aa
    
    
    q=q.split("\n")
    for line in q:
        
        
        
        
        
        line=str(line)
        
        
        
        
        if 'Games' not in str(line) and str(line)!='' and '<' not in str(line):
            j=line[1]
            n=False
            line = list(line.split(','))
            if "@" not in str(line):
                n=True
            if didp==0:
                print(line)
                didp=1
            
            if "@" in str(line[1]):
                v="vs"
            else:
                v='@'
            date=str(line[0])
            
            line=str(line)
            line=line.replace("[","")
            line=line.replace("]","")
            line=line.replace("'","")
            line=line.replace('"',"")
            line=line.replace(",@",",")
            line=line.replace("@","")
            line = list(line.split(','))
            lines=[]
            for l in line:
                if l==' ' :
                    m=1
                else:
                    
                    lines.append(l)
                
            
            line=lines
            s=line[1]
            s=s.lstrip()
            s=s.rstrip()
            o=line[3]
            o=o.lstrip()
            o=o.rstrip()
            row=[s,o,line[2],line[4],key,n,date,key,v]
            
                    
            ggg.append(row)
    
d2=pd.DataFrame(ggg,columns=['Schl','Opp','PTS','OPP','Year','neutral','Date','Yearz','Venue'])
print(d2.Year.unique())
d2.to_csv("missingcbb.csv")

In [49]:
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment

links={}
import time
arr=[]
ys={}
for i in range(1950,2025):
    ys[i]=[]
for i in range(1950,2025):
    print(i)
    links[i]=[]
    html=requests.get("https://www.sports-reference.com/cbb/seasons/men/"+str(i)+"-standings.html")
    print(html.status_code)
    html=html.text
    html=html.replace("<!--","").replace("-->","")
    soup=BeautifulSoup(html,'lxml')
    
    
    y=i-1
    for table in soup.find_all("table"):
        for tr in table.find_all("tr"):
            if "Notes" not in str(tr) and 'Overall' not in str(tr):
                
                
                schl=tr.find_all("td")[0].text
                conf=tr.find_all("td")[1].text
                srs=tr.find_all("td")[13].text
            
                
                arr.append([schl,conf,y,srs])
    time.sleep(5)
    print(len(arr))

1950
200
170
1951
200
342
1952
200
513
1953
200
687
1954
200
861
1955
200
1037
1956
200
1212
1957
200
1388
1958
200
1571
1959
200
1752
1960
200
1933
1961
200
2112
1962
200
2292
1963
200
2472
1964
200
2652
1965
200
2834
1966
200
3021
1967
200
3213
1968
200
3405
1969
200
3604
1970
200
3808
1971
200
4016
1972
200
4238
1973
200
4469
1974
200
4707
1975
200
4946
1976
200
5185
1977
200
5436
1978
200
5697
1979
200
5960
1980
200
6226
1981
200
6491
1982
200
6766
1983
200
7043
1984
200
7318
1985
200
7602
1986
200
7891
1987
200
8181
1988
200
8471
1989
200
8764
1990
200
9057
1991
200
9352
1992
200
9651
1993
200
9950
1994
200
10252
1995
200
10556
1996
200
10868
1997
200
11183
1998
200
11500
1999
200
11818
2000
200
12142
2001
200
12466
2002
200
12794
2003
200
13129
2004
200
13460
2005
200
13795
2006
200
14134
2007
200
14476
2008
200
14822
2009
200
15171
2010
200
15523
2011
200
15874
2012
200
16222
2013
200
16574
2014
200
16928
2015
200
17281
2016
200
17634
2017
200
17987
2018
200
18339
2019
200
18693
2020
200
19047
2021
200
19399
2022
200
19760
2023
200
20123
2024
200
20485

In [55]:
df=pd.DataFrame(arr,columns=['School','Conf','Year','SRS'])
df=df[df.SRS.notna()]
df.to_csv("alld1s.txt")

##