<a href="https://www.kaggle.com/code/savageopress12345/mechanical-soup-error?scriptVersionId=118868915" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [5]:
import pandas as pda
arr=[]
dfz=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/barttvk.csv")
dff=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/barttvk2.csv")
for row in dff.itertuples():
    arr.append([row.date,row.home,row.away,row.predw,row.line,row.final,row.neutral,row.season])
for row in dfz.itertuples():
    arr.append([row.date,row.home,row.away,row.predw,row.line,row.final,row.neutral,row.season])  
df=pd.DataFrame(arr,columns=['date','home','away','predw','line','final','neutral','season'])
df=df.astype({"final":"string"})
df=df.replace("Ohio St.","Ohio State")
df['final']=df['final'].str.replace(" St."," State")
df['home']=df['home'].str.replace(" St."," State")
df['away']=df['away'].str.replace(" St."," State")
df['predw']=df['predw'].str.replace(" St."," State")
df=df.replace("Penn","Pennsylvania")
df['final']=df['final'].str.replace("Penn","Pennsylvania")
df['home']=df['home'].str.replace("Penn","Pennsylvania")
df['away']=df['away'].str.replace("Penn","Pennsylvania")
df['predw']=df['predw'].str.replace("Penn","Pennsylvania")

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  if sys.path[0] == "":
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:14: FutureWarning: The default value of regex will change from True to False in a future version.

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app

In [38]:
k=[]
k.append(["Albany","Albany (NY)"])
k.append(['Arkansas Pine Bluff','Arkansas-Pine Bluff'])
k.append(['Bethune Cookman','Bethune-Cookman'])
k.append(['Cal Baptist','California Baptist'])
k.append(['East Texas A&M','Texas A&M-Commerce'])
k.append(['FIU','Florida International'])
k.append(['Fairleigh Dickinson','FDU'])
k.append(['Gardner Webb','Gardner-Webb'])
k.append(['Grambling State','Grambling'])
k.append(['Illinois Chicago','Illinois-Chicago'])
k.append(['IU Indy','IUPUI'])
k.append(['Loyola MD','Loyola (MD)'])
k.append(['Louisiana Monroe','Louisiana-Monroe'])
k.append(['LIU','Long Island University'])
k.append(['Loyola Chicago','Loyola (IL)'])
k.append(['LSU','Louisiana State'])
k.append(['Maryland Eastern Shore','Maryland-Eastern Shore'])
k.append(["Mount State Mary's","Mount St. Mary's"])
k.append(['Miami FL','Miami (FL)'])
k.append(['Miami OH','Miami (OH)'])
k.append(['N.C. Statete','NC State'])
k.append(['Nebraska Omaha','Omaha'])
k.append(['Ohio Statete','Ohio State'])
k.append(['Prairie View A&M','Prairie View'])
k.append(['Southern Miss','Southern Mississippi'])
k.append(["Saint Peter's","Saint Peter's"])
k.append(['Saint Francis','Saint Francis (PA)'])
k.append(['SMU','Southern Methodist'])
k.append(["St. John's","St. John's (NY)"])
k.append(['St. Francis NY',"St. Francis (NY)"])
k.append(['SIU Edwardsville','Southern Illinois-Edwardsville'])
k.append(["Saint Mary's","Saint Mary's (CA)"])
k.append(['Sam Houston State','Sam Houston'])
k.append(['Texas A&M Corpus Chris','Texas A&M-Corpus Christi'])
k.append(['Tennessee Martin','Tennessee-Martin'])
k.append(['UMBC','Maryland-Baltimore County'])
k.append(['UNLV','Nevada-Las Vegas'])
k.append(['UMKC','Kansas City'])
k.append(['UT Rio Grande Valley','Texas-Rio Grande Valley'])
k.append(['USC Upstate','South Carolina Upstate'])
k.append(['USC','Southern California'])
k.append(['UMass Lowell','Massachusetts-Lowell'])
k.append(['VCU','Virginia Commonwealth'])
k.append(['VMI','Virginia Military Institute'])
k=pd.DataFrame(k,columns=['t','tr'])
for row in k.itertuples():
    df['final']=df['final'].str.replace(row.t,row.tr)
    df['home']=df['home'].str.replace(row.t,row.tr)
    df['away']=df['away'].str.replace(row.t,row.tr)
    df['predw']=df['predw'].str.replace(row.t,row.tr)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:48: FutureWarning: The default value of regex will change from True to False in a future version.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:49: FutureWarning: The default value of regex will change from True to False in a future version.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:50: FutureWarning: The default value of regex will change from True to False in a future version.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:51: FutureWarning: The default value of regex will change from True to False in a future version.

In [45]:
df.dtypes

date         int64
home        object
away        object
predw       object
line        object
final       string
neutral       bool
season     float64
dtype: object

In [41]:
ts=set(df.home.tolist())
for t in ts:
    if t[0]=='U':
        print(t)

UCLA
UCF
UC Davis
Utah Valley
UTEP
Utah Tech
UNC Asheville
UC San Diego
Utah State
UNC Greensboro
UTSA
UNC Wilmington
UAB
UC Riverside
UT Arlington
Utah
UC Santa Barbara
UC Irvine

In [43]:
df.to_csv("finalbart.csv")

In [ ]:
import time
import numpy as np
start_time = time.time()
print('done files')
import random
import string
from decimal import Decimal
class Elo:
    def __init__(self,k,g=1,homefield = 110): 
        self.ratingDict={}
        self.k = k
        self.g = g
        self.homefield= homefield
    def addPlayer(self,name,rating = 1500):
        self.ratingDict[name] = rating
    def gameOver(self,winner,loser,wp,lp,diffz):
        o=abs(wp-lp)
        y=float(((o)+3))
        mov=((o+3)**0.8)/(7.5+0.006*(diffz))
        result = self.expectResult(diffz)
        shift=(self.k*mov)*(1 - result) 
        self.ratingDict[winner]+=shift
        self.ratingDict[loser]-=shift
    def expectResult(self,gtz):
        pq=(Decimal(10)**(Decimal(-gtz)/Decimal(400)))+Decimal(1)
        o=Decimal(1)/Decimal(pq)
        return float(o)
import requests
from bs4 import BeautifulSoup,Comment
import re, csv
import pandas as pd
df=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/standings.csv")
from datetime import timedelta,date,datetime
import json
msqe={}
currSeason=1949
for i in range(9,50):
    msqe[str(i)]=set()
confs={}
for i in range(1949,2026):
    confs[i]={}
df=df.replace("PCC (North)","PCC")
df=df.replace("PCC (South)","PCC")
df=df.replace("Mid-Atl (Eastern)","Mid-Atl")
df=df.replace("Mid-Atl (Western)","Mid-Atl")
df=df.replace("Mid-Atl (East)","Mid-Atl")
df=df.replace("Mid-Atl (West)","Mid-Atl")
df=df.replace("ECC (West)","ECC")
df=df.replace("ECC (East)","ECC")
df=df.replace("ECBL (East)","ECBL")
df=df.replace("ECBL (West)","ECBL")
df=df.replace("EAA (West)","EAA")
df=df.replace("EAA (East)","EAA")
df=df.replace("ECACM (North)","ECACM")
df=df.replace("ECACM (South)","ECACM")
df=df.replace("A-10 (East)","A-10")
df=df.replace("A-10 (West)","A-10")
df=df.replace("MAAC (South)","MAAC")
df=df.replace("MAAC (North)","MAAC")
df=df.replace("CUSA (Blue)","CUSA")
df=df.replace("CUSA (Red)","CUSA")
df=df.replace("CUSA (White)","CUSA")
df=df.replace("Big East (East)","Big East")
df=df.replace("MAC (East)","MAC")
df=df.replace("SEC (East)","SEC")
df=df.replace("Southern (North)",'Southern')
df=df.replace("Southern (South)","Southern")
df=df.replace("WAC (Pacific)","WAC")
df=df.replace("CUSA (National)","CUSA")
df=df.replace("TAAC (East)","TAAC")
df=df.replace("Sun Belt (West)","Sun Belt")
df=df.replace("TAAC (West)","TAAC")
df=df.replace("A-Sun (North)","A-Sun")
df=df.replace("MAC (West)","MAC")
df=df.replace("Big East (West)","Big East")
df=df.replace("SEC (West)","SEC")
df=df.replace("Southland (West)","Southland")
df=df.replace("Southland (East)","Southland")
df=df.replace("OVC (East)","OVC")
df=df.replace("OVC (West)","OVC")
df=df.replace("Big South (North)","Big South")
df=df.replace("Big South (South)","Big South")
df=df.replace("A-Sun (East)","A-Sun")
df=df.replace("Patriot (Central)","Patriot")
df=df.replace("WAC (Mountain)","WAC")
df=df.replace("CUSA (American)","CUSA")
df=df.replace("Big West (West)","Big West")
df=df.replace("CUSA (East)","CUSA")
df=df.replace("Patriot (North)","Patriot")
df=df.replace("CUSA (West)","CUSA")
df=df.replace("A-Sun (West)","A-Sun")
df=df.replace("Patriot (South)","Patriot")
df=df.replace("A-Sun (South)","A-Sun")
df=df.replace("MEAC (Southern)","MEAC")
df=df.replace("MEAC (Northern)","MEAC")
df=df.replace("Sun Belt (East)","Sun Belt")
df=df.replace("Big West (West)","Big West")
df=df.replace("Big West (East)","Big West")
df=df.replace("Big East (Big East 6)","Big East")
df=df.replace("Big East (Big East 7)","Big East")
standings=pd.read_csv("https://cfbzzz.alwaysdata.net/ncaab/d1vsnond1/teams/d1standings.txt")
standings=standings.replace("Florida Gulf Cost","Florida Gulf Coast")
for row in df.itertuples():
    if float(row.season)>1948:
        confs[float(row.season)][str(row.team)]=str(row.conf)
for row in standings.itertuples():
    if float(row.Year)>1948:
        confs[float(row.Year)][str(row.Schl)]=str(row.Conference)
from bs4 import BeautifulSoup, Comment
arr=[]
confy={}
for row in df.itertuples():
    if float(row.season)>1948:
        confy[row.conf]=[]
kval=20
eloLeague = Elo(k = kval)
print("go through games")
rev=0.65
sep=""
def remove_tags(html):

    # parse html content
    soup = BeautifulSoup(html, "html.parser")

    for data in soup(['style', 'script']):
        # Remove tags
        data.decompose()

    # return data by retrieving the tag content
    return ' '.join(soup.stripped_strings)
from time import sleep
hfas={}
confs[2024]["Texas A&M-Commerce"]="Southland"
arr=[]
years={}
years[2024]=[]
today=datetime.today().strftime('%Y%m%d')
confs[2024]['IUPUI']='Horizon'
confs[2024]['Texas A&M-Commerce']='Southland'
del confs[2024]['East Texas A&M']
del confs[2024]['IU Indy']
games=[]
h='g'
arrz=[]
ty={}
for i in range(2014,2025):
    ty[i]=[]
    for t in confs[i]:
        ty[i].append(t)
df=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/masseyz.csv")
dfz=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/jtrono.csv")
dfz=dfz[dfz.season!=1998]
dfz=dfz[dfz.season!=1999]
dfz=dfz[dfz.season!=2000]
arr=[]
ery=df
for row in df.itertuples():
    n=False
    if 'vs' in str(row.venue):
        n=True
    if float(row.season)<2014:
        arr.append([row.date,row.t1,row.t2,row.t1p,row.t2p,row.venue,row.season,n,False])
    else:
        arr.append([row.date,row.t1,row.t2,row.t1p,row.t2p,row.venue,row.season,n,True])
for row in dfz.itertuples():
    n=False
    if 'N' in str(row.venue):
        n=True
    arr.append([row.date,row.t1,row.t2,row.t1p,row.t2p,row.venue,row.season,n,False])
df=pd.read_csv("https://cfbzzz.alwaysdata.net/ncaaf/espnz.txt")
df=df.replace("Abilene Chrstn","Abilene Christian")
df=df.replace("Bethune","Bethune-Cookman")
df=df.replace("NC Central","North Carolina Central")
df=df.replace("Charleston","College of Charleston")
df=df.replace("Central Florida","UCF")
df=df.replace("G Washington","George Washington")
df=df.replace("Hawai’i","Hawaii")
df=df.replace("MTSU","Middle Tennessee")
df=df.replace("CSU Northridge","Cal State Northridge")
df=df.replace("Loyola MD","Loyola (MD)")
df=df.replace("Hawai'i","Hawaii")
df=df.replace("Saint Mary's","Saint Mary's (CA)")
df=df.replace("Pitt","Pittsburgh")
df=df.replace("UAlbany","Albany (NY)")
df=df.replace("UIC","Illinois-Chicago")
df=df.replace("UT Martin","Tennessee-Martin")
df=df.replace("Texas A&M-CC","Texas A&M-Corpus Christi")
df=df.replace("San José State","San Jose State")
df=df.replace("San Diego St","San Diego State")
df=df.replace("TX A&M-CC","Texas A&M-Corpus Christi")
df=df.replace("NC State","NC State")
df=df.replace("Western KY","Western Kentucky")
df=df.replace("SE Louisiana","Southeastern Louisiana")
df=df.replace("SE Missouri","Southeast Missouri State")
df=df.replace("MD Eastern","Maryland-Eastern Shore")
df=df.replace("UMass","Massachusetts")
df=df.replace("SMU","Southern Methodist")
df=df.replace("SC State","South Carolina State")
df=df.replace("Boston U","Boston University")
df=df.replace("MD E Shore","Maryland-Eastern Shore")
df=df.replace("C Michigan","Central Michigan")
df=df.replace("LSU","Louisiana State")
df=df.replace("App State","Appalachian State")
df=df.replace("AR-Pine Bluff","Arkansas-Pine Bluff")
df=df.replace("N Illinois","Northern Illinois") 
df=df.replace("W Illinois","Western Illinois")
df=df.replace("E Illinois","Eastern Illinois")
df=df.replace("C Connecticut","Central Connecticut State")
df=df.replace("Coastal Car","Coastal Carolina")
df=df.replace("G Washington","George Washington")
df=df.replace("GA Southern","Georgia Southern")
df=df.replace("FIU","Florida International")
df=df.replace("FAU","Florida Atlantic")
df=df.replace("E Michigan","Eastern Michigan")
df=df.replace("W Michigan","Western Michigan")
df=df.replace("Charleston So","Charleston Southern")
df=df.replace("CSU Northridge","Cal State Northridge")
df=df.replace("UMBC","Maryland-Baltimore County")
df=df.replace("N'Western State",'Northwestern State')
df=df.replace("NC A&T","North Carolina A&T")
df=df.replace("Nicholls","Nicholls State")
df=df.replace("McNeese","McNeese State")
df=df.replace("E Washington","Eastern Washington")
df=df.replace("E Kentucky","Eastern Kentucky")
df=df.replace("ETSU","East Tennessee State")
df=df.replace("Southern Miss","Southern Mississippi")
df=df.replace("St Francis PA","Saint Francis (PA)")
df=df.replace("St Francis BK","St. Francis (NY)")
df=df.replace("N Illinois","Northern Illinois")
df=df.replace("Brooklyn NY","New York NY")
df=df.replace("Manhattan NY","New York NY")
df=df.replace("Staten Island NY","New York NY")
df=df.replace("VMI","Virginia Military Institute")
df=df.replace("UL Monroe","Louisiana-Monroe")
df=df.replace("W Carolina","Western Carolina")
df=df.replace("Utah Stateate","Utah State")
df=df.replace("VCU","Virginia Commonwealth")
df=df.replace("UConn","Connecticut")
df=df.replace("N Arizona","Northern Arizona")
df=df.replace("Hou Christian","Houston Christian")
df=df.replace("IU Indy","IUPUI")
df=df.replace('Illinois St',"Illinois State")
df=df.replace("Florida St","Florida State")
df=df.replace("Texas St","Texas State")
df=df.replace("Indiana St","Indiana State")
df=df.replace("Michigan St","Michigan State")
df=df.replace("Iowa St","Iowa State")
df=df.replace("Alabama St","Alabama State")
df=df.replace("Alcorn St","Alcorn State")
df=df.replace("Jackson St","Jackson State")
df=df.replace("Greenwood MS","Itta Benna MS")
df=df.replace("Georgia St","Georgia State")
df=df.replace("Oregon St","Oregon State")
df=df.replace("Arizona St","Arizona State")
df=df.replace("Washington St","Washington State")
df=df.replace("Penn","Pennsylvania")
df=df.replace("Arkansas St","Arkansas State")
df=df.replace("Jax State","Jacksonville State")
df=df.replace("Long Island","Long Island University")
df=df.replace("N Kentucky","Northern Kentucky")
df=df.replace("Liu Brooklyn","Long Island University")
df=df.replace("Utah St","Utah State")
df=df.replace("New Mexico St","New Mexico State")
df=df.replace("Kansas St","Kansas State")
df=df.replace("Missouri St","Missouri State")
df=df.replace("Idaho St","Idaho State")
df=df.replace("Montana St","Montana State")
df=df.replace("Oklahoma St","Oklahoma State")
df=df.replace("Murray St","Murray State")
df=df.replace("Mississippi St","Mississippi State")
df=df.replace("Penn St","Penn State")
df=df.replace("Portland St","Portland State")
df=df.replace("LMU","Loyola Marymount")
df=df.replace("Long Beach St","Long Beach State")
df=df.replace("Loyola Chicago","Loyola (IL)")
df=df.replace("N Dakota St","North Dakota State")
df=df.replace("Loyola MD","Loyola (MD)")
df=df.replace("Queens NY","New York NY")
df=df.replace("Norfolk St","Norfolk State")
df=df.replace("Purdue FW","Purdue Fort Wayne")
df=df.replace("N Colorado","Northern Colorado")
df=df.replace("St John's","St. John's (NY)")
df=df.replace("Queens","Queens (NC)")
df=df.replace("S Dakota St","South Dakota State")
df=df.replace("Santa Barbara","UC Santa Barbara")
df=df.replace("SFA","Stephen F. Austin")
df=df.replace("San José St","San Jose State")
df=df.replace("SC Upstate","South Carolina Upstate")
df=df.replace("St Bonaventure","St. Bonaventure")
df=df.replace("SIUE","Southern Illinois-Edwardsville")
df=df.replace("Seattle U","Seattle")
df=df.replace("San Diego St","San Diego State")
df=df.replace("Saint Francis","Saint Francis (PA)")
df=df.replace("Sacramento St","Sacramento State")
df=df.replace("UMass Lowell","Massachusetts-Lowell")
df=df.replace("So Indiana","Southern Indiana")
df=df.replace("St Thomas (MN)","St. Thomas")
df=df.replace("Savannah St","Savannah State")
df=df.replace("S Illinois","Southern Illinois")
df=df.replace("SC Upstate","South Carolina Upstate")
df=df.replace("SF Austin","Stephen F. Austin")
df=df.replace("UT Rio Grande","Texas-Rio Grande Valley")
df=df.replace("UNLV","Nevada-Las Vegas")
df=df.replace("USC","Southern California")
df=df.replace("Wichita St","Wichita State")
df=df.replace("Wright St","Wright State")
df=df.replace("Weber St","Weber State")
df=df.replace("Cleveland St","Cleveland State")
df=df.replace("Youngstown St","Youngstown State")
df=df.replace('Bakersfield',"Cal State Bakersfield")
df=df.replace("Fresno St","Fresno State")
df=df.replace("Boise St",'Boise State')
df=df.replace("CA Baptist","California Baptist")
df=df.replace("Coastal","Coastal Carolina")
df=df.replace("Coppin St","Coppin State")
df=df.replace("Chicago St","Chicago State")
df=df.replace("C Arkansas","Central Arkansas")
df=df.replace("Delaware St","Delaware State")
df=df.replace("E Texas A&M","Texas A&M-Commerce")
df=df.replace("Fullerton","Cal State Fullerton")
df=df.replace("FGCU","Florida Gulf Coast")
df=df.replace("Kennesaw St","Kennesaw State")
df=df.replace("Miss Valley St","Mississippi Valley State")
df=df.replace("Morehead St","Morehead State")
df=df.replace("Miami","Miami (FL)")
df=df.replace("Miami OH","Miami (OH)")
df=df.replace("Mount St Marys","Mount St. Mary's")
df=df.replace("Morgan St","Morgan State")
df=df.replace("Ole Miss","Mississippi")
df=df.replace("Tarleton St","Tarleton State")
df=df.replace("N'Western St","Northwestern State")
df=df.replace("Tennessee St","Tennessee State")
df=df.replace("Colorado St","Colorado State")
df=df.replace("Cambridge MA","Boston MA")
df=df.replace("Riverdale NY","Manhattan NY")
for row in df.itertuples():
    if 'RAC Arena' in str(row):
        df.at[row.Index,'city']='Catonsville MD'
for row in df.itertuples():
    if 'Ocean Bank Convocation Center' in str(row):
        df.at[row.Index,'city']='University Park FL'
for row in df.itertuples():
    if 'Barry University Health & Sports Center' in str(row):
        df.at[row.Index,'city']='University Park FL'
df=df.replace("Manhattan NY","New York NY")
teamz={}
for row in df.itertuples():
    if 'False' in str(row.neutral):
        if row.t1 not in teamz:
            teamz[row.t1]=[]
        if row.city not in str(teamz[row.t1]):
            teamz[row.t1].append([row.city,row.stadium])
for t in teamz:
    if t[0]=='Y':
        print(t,teamz[t])
y=pd.read_csv("https://cfbzzz.alwaysdata.net/ncaaf/nicknamez.txt")
teams={}
for row in y.itertuples():
    er=str(row.City)
    er=er.replace(",","")
    teams[row.School]=er
teams['Birm-Southern']='Birmingham, AL'
teams['Morris Brown']='Atlanta GA'
teams['Temple']='Philadelphia PA'
teams['Savannah State']='Savannah GA'
teams['Centenary (LA)']="Shreveport LA"
teams['Seton Hall']="South Orange NJ"
teams['Western Kentucky']='Bowling Green KY'
teams['Maryland-Baltimore County']='Catonsville MD'
teams['Villanova']='Villanova PA'
y=y.replace("Washington D.C.","Washington DC")
y=y.replace("Vestal NY","Binghamton NY")
y=y.replace("State College PA","University Park PA")
y=y.replace("Allston MA","Cambridge MA")
y=y.replace("St. Charles MO","Saint Charles MO")
y=y.replace("Brooklyn NY","New York NY")
y=y.replace("Queens NY","New York NY")
y=y.replace("Lewiston NY","Niagara Falls NY")
teams['NC State']='Raleigh NC'
teams['UC Santa Barbara']='Santa Barbara CA'
teams['UC San Diego']='San Diego CA'
teams['Northern Illinois']='Dekalb IL'
teams['Mississippi State']='Starkville MS'
teams['Wright State']='Fairborn OH'
teams['Wagner']='New York NY'
teams['Manhattan']='New York NY'
teams['Georgetown']="Washington DC"
teams['American']='Washington DC'
teams['Howard']='Washington DC'
teams['George Washington']='Washington DC'
teams['Harvard']='Cambridge MA'
teams['Binghamton']='Binghamton NY'
teams['Long Island University']='New York NY'
teams['Mississippi']='Oxford MS'
teams["St. John's (NY)"]='New York NY'
teams['St. Francis (NY)']='New York NY'
teams['St. Bonaventure']='Saint Bonaventure NY'
teams['Lindenwood']='Saint Charles MO'
teams['Penn State']='University Park PA'
teams['Villanova']='Villanova PA'
teams['Savannah State']='Savannah GA'
teams['Centenary (LA)']='Shreveport LA'
teams['Seton Hall']='South Orange NJ'
teams['Western Kentucky']='Bowling Green KY'
teams['Maryland-Baltimore County']='Catonsville MD'
teams['Niagara']='Niagara Falls NY'
teams['St. Bonaventure']='Saint Bonaventure NY'
df=df.astype({"city":"string"})
for row in df.itertuples():
    if 'Nutter Center' in str(row.stadium):
        df.at[row.Index,'city']='Fairborn OH'
for row in df.itertuples():
    df.at[row.Index,'t1']=str(row.t1).rstrip()
    df.at[row.Index,'t2']=str(row.t2).rstrip()
for row in df.itertuples():
    if 'False' in str(row.neutral):
        t1c=''
        t2c=''
        if row.t1 in teams:
            t1c=teams[row.t1]
        if row.t2 in teams:
            t2c=teams[row.t2]
        if t1c==t2c:
            df.at[row.Index,'neutral']=True
            df.at[row.Index,'venue']='vs'
        if t1c!=t2c:
            if t1c==row.city:
                df.at[row.Index,'neutral']=False
                df.at[row.Index,'venue']='vs'
            if t2c==row.city:
                df.at[row.Index,'neutral']=False
                df.at[row.Index,'venue']='@'     
for row in df.itertuples():
    if row.t1=='South Carolina Upstate' and row.t2=='Wofford' and row.venue=='vs':
        df.at[row.Index,'venue']='@'
        df.at[row.Index,'neutral']='False'
    if row.t1=='South Carolina Upstate' and row.t2=='Wofford' and row.venue=='@':
        df.at[row.Index,'neutral']='False'
    if row.t2=='South Carolina Upstate' and row.t1=='Wofford' and row.venue=='vs':
        df.at[row.Index,'neutral']='False'
    if row.t2=='South Carolina Upstate' and row.t1=='Wofford' and row.venue=='@':
        df.at[row.Index,'neutral']='False'
        df.at[row.Index,'neutral']='vs'
for row in df.itertuples():
    if 'Koessler Center' in str(row):
        if row.t1=='Canisius' and row.t2=='Buffalo':
            df.at[row.Index,'neutral']=True
        if row.t2=='Canisius' and row.t1=='Buffalo':
            df.at[row.Index,'neutral']=True
for row in df.itertuples():
    if 'False' in str(row.neutral):
        if row.season<1982:
            if row.venue=='vs' and row.t1=='Buffalo' and row.t2=='Canisius':
                df.at[row.Index,'neutral']=True
            if row.venue=='@' and row.t1=='Buffalo' and row.t2=='Canisius':
                df.at[row.Index,'neutral']=True
            if row.venue=='vs' and row.t2=='Buffalo' and row.t1=='Canisius':
                df.at[row.Index,'neutral']=True
            if row.venue=='@' and row.t2=='Buffalo' and row.t1=='Canisius':
                df.at[row.Index,'neutral']=True
        elif row.season<2014:
            if row.venue=='@' and row.t1=='Buffalo' and row.t2=='Canisius':
                df.at[row.Index,'neutral']=True
            if row.venue=='vs' and row.t1=='Canisius' and row.t2=='Buffalo':
                df.at[row.Index,'neutral']=True
                
for row in df.itertuples():
    arr.append([row.date,row.t1,row.t2,row.t1p,row.t2p,row.venue,row.season,row.neutral,False])
arr.append([20170314.0,'New Orleans',"Mount St. Mary's",66,67,'vs',2016.0,True,False])
arr.append([20170314.0,'UNC Greensboro','Syracuse',77,90,'@',2016.0,False,False])
arr.append([20170314.0,'Valparaiso','Illinois',57,82,'@',2016.0,False,False])
arr.append([20170314.0,'Oakland','Clemson',74,69,'@',2016.0,False,False])
arr.append([20170314.0,'Indiana','Georgia Tech',63,75,'@',2016.0,False,False])
arr.append([20170314.0,'Wake Forest','Kansas State',88,95,'vs',2016.0,True,False])
arr.append([20170314.0,'Richmond','Alabama',71,64,'@',2016.0,False,False])
arr.append([20170314.0,'Boise State','Utah',73,68,'@',2016.0,False,False])
arr.append([20170314.0,'Cal State Bakersfield','California',73,66,'@',2016.0,False,False])
arr.append([20170314.0,'Mississippi','Monmouth',91,83,'@',2016.0,False,False])
arr.append([20180112.0,'Delaware State','Hampton',56,78,'@',2017.0,False,False])
arr.append([20170314.0,'College of Charleston','Colorado State',74,81,'@',2016.0,False,False])
dff=pd.DataFrame(arr,columns=['date','t1','t2','t1p','t2p','venue','season','neutral','hj'])
dff=dff.sort_values(by='date')
dff=dff.astype({"venue":"string"})
dff['venue']=dff['venue'].replace("at","@")
dff['venue']=dff['venue'].replace("A","@")
dff['venue']=dff['venue'].replace("N","vs")
dff['venue']=dff['venue'].replace("H","vs")
df22=dff.replace("Albany","Albany (NY)")
df22=df22.replace("LSU","Louisiana State")
df22=df22.replace("Citadel","The Citadel")
df22=df22.replace("NotreDame","Notre Dame")
df22=df22.replace("BYU","Brigham Young")
df22=df22.replace("NC Central","North Carolina Central")
confs[2025]['Texas A&M-Commerce']='Southland'
confs[2024]['Texas A&M-Commerce']='Southland'
confs[2023]['Texas A&M-Commerce']='Southland'
confs[2022]['Texas A&M-Commerce']='Southland'
confs[2024]['IU Indy']='Horizon'
for key in list(confs):
    if 'IU Indy' in confs[key]:
        confs[key]['IUPUI']=confs[key]['IU Indy']
df22=df22.replace("Citadel","The Citadel")
df22=df22.replace("NotreDame","Notre Dame")
df22=df22.replace("BYU","Brigham Young")
df22=df22.replace("IUPUI","IU Indy")
df22=df22.replace("Cal Baptist","California Baptist")
df22=df22.replace("East Texas A&M","Texas A&M-Commerce")
df22=df22.replace("Centenary","Centenary (LA)")
df22=df22.replace("Detroit","Detroit Mercy")
confs[2008]['North Dakota']='Ind'
confs[2011]['Omaha']='Ind'
confs[2008]['Seattle']='Ind'
confs[2001]['Purdue Fort Wayne']='Ind'
confs[2008]['North Dakota']='Ind'
confs[2001]['Morris Brown']='Ind'
k=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/finalbart.csv")
games={}
for row in k.itertuples():
    score=str(row.final)
    score=score.split(",")
    score=score[1]
    score=score.replace(" ","")
    s1=score.split("-")[0]
    s2=score.split("-")[1]
    name=str(row.date)+".0"+row.home+row.away+str(s1)+" "+str(s2)
    name=name.replace("BYU","Brigham Young")
    line=str(row.line)
    if '?' in str(line):
        line=-2000
    prewin=str(row.predw)
    prewin=prewin.rstrip()
    games[name]={"winner":prewin,"line":float(line)}
print("dropping rows")
sy=[]
df22['isnon']=False
df22=df22.replace("IU Indy","IUPUI")
for row in df22.itertuples():
    if row.t1 not in confs[row.season] or row.t2 not in confs[row.season]:
        if row.season not in sy:
            sy.append(row.season)
            print(row.season)
        df22.at[row.Index,'isnon']=True
er=df22
df22=df22[df22.isnon==False]
for row in df22.itertuples():
    if float(row.t1p)==0 and float(row.t2p)==0:
        df22=df22.drop(row.Index)
    if float(row.t1p)==2 and float(row.t2p)==0:
        df22=df22.drop(row.Index)
    if float(row.t1p)==0 and float(row.t2p)==2:
        df22=df22.drop(row.Index)
    if float(row.t1p)==1 and float(row.t2p)==0:
        df22=df22.drop(row.Index)
    if float(row.t1p)==0 and float(row.t2p)==1:
        df22=df22.drop(row.Index)
for row in df22.itertuples():
    if float(row.date)==20150216 and row.t1=='Bethune-Cookman' and row.t2=='North Carolina A&T':
        df22.at[row.Index,'t1p']=78
    if float(row.date)==20150216 and row.t2=='Bethune-Cookman' and row.t1=='North Carolina A&T':
        df22.at[row.Index,'t2p']=78
for row in df22.itertuples():
    if float(row.season)==2016 and row.t1=='Prairie View' and row.t2=='Jackson State':
        df22.at[row.Index,'t2p']=56
    if float(row.season)==2016 and row.t2=='Prairie View' and row.t1=='Jackson State':
        df22.at[row.Index,'t1p']=56
for row in df22.itertuples():
    if float(row.season)==2016 and row.t1=='Maryland-Eastern Shore' and row.t2=='North Carolina A&T' and row.t1p==74 and row.t2p==67:
        df22.at[row.Index,'t1p']=75
        df22.at[row.Index,'t2p']=65
    if float(row.season)==2016 and row.t2=='Maryland-Eastern Shore' and row.t1=='North Carolina A&T' and row.t2p==74 and row.t1p==67:
        df22.at[row.Index,'t2p']=75
        df22.at[row.Index,'t1p']=65
for row in df22.itertuples():
    if float(row.season)==2016 and row.t1=='North Carolina Central' and row.t2=='Maryland-Eastern Shore' and row.t1p==79 and row.t2p==49:
        df22.at[row.Index,'t1p']=77
    if float(row.season)==2016 and row.t2=='North Carolina Central' and row.t1=='Maryland-Eastern Shore' and row.t2p==79 and row.t1p==49:
        df22.at[row.Index,'t2p']=77
for row in df22.itertuples():
    if float(row.season)==2014 and row.t1=='Army' and row.t2=='Colgate' and row.t1p==65:
        df22.at[row.Index,'t2p']=63
    if float(row.season)==2014 and row.t2=='Army' and row.t1=='Colgate' and row.t2p==65:
        df22.at[row.Index,'t1p']=63
for row in df22.itertuples():
    if row.season==2018 and row.t1=='Saint Francis (PA)' and row.t2=='Morgan State' and row.t2p==60:
        df22.at[row.Index,'t2p']=62
    if row.season==2018 and row.t2=='Saint Francis (PA)' and row.t1=='Morgan State' and row.t1p==60:
        df22.at[row.Index,'t1p']=62
for row in df22.itertuples():
    if row.t1=='Old Dominion' and row.season==2018 and row.t2=='Southern Mississippi' and row.t1p==78 and row.t2p==60:
        df22.at[row.Index,'t1p']=76
        df22.at[row.Index,'t2p']=62
    if row.t2=='Old Dominion' and row.season==2018 and row.t1=='Southern Mississippi' and row.t2p==78 and row.t1p==60:
        df22.at[row.Index,'t2p']=76
        df22.at[row.Index,'t1p']=62
for row in df22.itertuples():
    if row.season==2019 and row.t1=='Gardner-Webb' and row.t2=='Hampton' and row.t1p==39 and row.t2p==31:
        df22.at[row.Index,'t1p']=81
        df22.at[row.Index,'t2p']=67
    if row.season==2019 and row.t2=='Gardner-Webb' and row.t1=='Hampton' and row.t2p==39 and row.t1p==31:
        df22.at[row.Index,'t2p']=81
        df22.at[row.Index,'t1p']=67
for row in df22.itertuples():
    if float(row.date)==20170314 and 'UNC Greensboro' in str(row) and 'Syracuse' in str(row):
        df22=df22.drop(row.Index)
for row in df22.itertuples():
    if float(row.date)==20180224 and 'Morgan State' in str(row)	and 'Hampton' in str(row):
        df22=df22.drop(row.Index)
for row in df22.itertuples():
    if float(row.date)==20200120 and 'Hampton' in str(row) and 'Gardner-Webb' in str(row):
        df22.at[row.Index,'date']=20200224
for row in df22.itertuples():
    if float(row.date)==20180112 and row.t1=='Delaware State' and row.t2=='Hampton'	and row.t1p==56	and row.t2p==78:
        df22=df22.drop(row.Index)
kl=df22[df22.season>2013]
gsz=[]
gszz=[]
print("count new:"+str(len(kl)))
print("doing confy")
df22=df22[df22.hj==False]
for game in df22.itertuples():
    if game.t1 in confs[game.season] and game.t2 in confs[game.season]:
        if confs[float(game.season)][game.t1]!=confs[float(game.season)][game.t2]:
            sconf=confs[float(game.season)][game.t1]
            if sconf not in confy:
                confy[sconf]=[]
            confy[sconf].append(game.t1p-game.t2p)
            oconf=confs[float(game.season)][game.t2]
            if oconf not in confy:
                confy[oconf]=[]
            confy[oconf].append(game.t2p-game.t1p)
combo=[]
combo.append(['Samford',"UAB"])
combo.append(["Manhattan","Fordham"])
combo.append(['Loyola (IL)','DePaul'])
combo.append(['DePaul','Illinois-Chicago'])
combo.append(['Grambling','Centenary (LA)'])
combo.append(['Chicago State','Illinois-Chicago'])
combo.append(['Loyola (IL)','Chicago State'])
combo.append(["Fordham","Columbia"])
combo.append(["Columbia","Manhattan"])
combo.append(["East Carolina","Furman"])
combo.append(["San Diego State","San Diego"])
combo.append(["Butler","IUPUI"])
combo.append(["Louisiana State","Southern"])
combo.append(["UCLA","Southern California"])
combo.append(["Southern California","Loyola Marymount"])
combo.append(["UCLA","Loyola Marymount"])
combo.append(["St. John's (NY)","Manhattan"])
combo.append(['Lipscomb','Belmont'])
combo.append(['Lipscomb','Tennessee State'])
combo.append(['Belmont','Vanderbilt'])
combo.append(['Delaware','NJIT'])
combo.append(['Vanderbilt','Lipscomb'])
combo.append(["Fordham","St. John's (NY)"])
combo.append(["Columbia","St. John's (NY)"])
combo.append(["St. Francis (NY)","St. John's (NY)"])
combo.append(["St. Francis (NY)","Columbia"])
combo.append(['Southern Indiana','Evansville'])
combo.append(["Manhattan","St. John's (NY)"])
combo.append(["Duke","North Carolina Central"])
combo.append(['Charleston Southern','College of Charleston'])
combo.append(["Fordham","St. Francis (NY)"])
combo.append(['Le Moyne','Syracuse'])
combo.append(['North Carolina A&T','UNC Greensboro'])
combo.append(['Charlotte','Queens (NC)'])
combo.append(['Wake Forest','Winston-Salem'])
combo.append(['Florida State','Florida A&M'])
combo.append(['Washington (MO)','Saint Louis'])
combo.append(['Baltimore','Loyola (MD)'])
combo.append(['Baltimore','Coppin State'])
combo.append(['Baltimore','Morgan State'])
combo.append(['New Orleans','Loyola (LA)'])
combo.append(['Loyola (LA)','Tulane'])
combo.append(['Tulane','New Orleans'])
combo.append(['Northeastern Illinois','Chicago State'])
combo.append(['Northeastern Illinois','DePaul'])
combo.append(['Northeastern Illinois','Illinois-Chicago'])
combo.append(['Georgia Tech','Morris Brown'])
combo.append(['Georgia State','Morris Brown'])
combo.append(['Catholic','American'])
combo.append(['Catholic','George Washington'])
combo.append(['Catholic','Georgetown'])
combo.append(['Catholic','Howard'])
combo.append(["St. John's (NY)",'Wagner'])
combo.append(['Fordham','Wagner'])
combo.append(['Columbia','Wagner'])
combo.append(['Sacred Heart','Fairfield'])
combo.append(['Cal State Los Angeles','Southern California'])
combo.append(['San Diego State','UC San Diego'])
combo.append(['San Diego','UC San Diego'])
combo.append(['Cal State Los Angeles','Loyola Marymount'])
combo.append(['Cal State Los Angeles','UCLA'])
combo.append(['U.S. International','San Diego'])
combo.append(['St. Francis (NY)','Wagner'])
combo.append(['U.S. International','San Diego State'])
combo.append(['Southern Indiana','Evansville'])
combo.append(['Wagner','Columbia'])
combo.append(["St. Francis (NY)","Manhattan"])
combo.append(["Howard","Georgetown"])
combo.append(["Howard","George Washington"])
combo.append(["Howard","American"])
combo.append(["Georgetown","George Washington"])
combo.append(["American","Georgetown"])
combo.append(["Howard","Georgetown"])
combo.append(["Jacksonville","North Florida"])
combo.append(["Georgia Tech","Georgia State"])
combo.append(["Houston","Texas Southern"])
combo.append(["Houston","Rice"])
combo.append(["Houston","Houston Christian"])
combo.append(["Rice","Houston Christian"])
combo.append(["Rice","Texas Southern"])
combo.append(["Houston Christian","Texas Southern"])
combo.append(["DePaul","Chicago State"])
combo.append(["Louisville","Bellarmine"])
combo.append(["Harvard","Boston University"])
combo.append(["Harvard","Northeastern"])
combo.append(['College of Charleston','The Citadel'])
combo.append(["Boston University","Northeastern"])
combo.append(["Morgan State","Loyola (MD)"])
combo.append(["Coppin State","Morgan State"])
combo.append(["Coppin State","Loyola (MD)"])
combo.append(["Creighton","Omaha"])
combo.append(["Tulsa","Oral Roberts"])
combo.append(["Portland","Portland State"])
combo.append(["Saint Joseph's","Temple"])
combo.append(["Temple","Pennsylvania"])
combo.append(["Saint Joseph's","Pennsylvania"])
combo.append(["Temple","La Salle"])
combo.append(["Saint Joseph's","La Salle"])
combo.append(["La Salle","Pennsylvania"])
combo.append(["La Salle","Drexel"])
combo.append(["Drexel","Pennsylvania"])
combo.append(["Saint Joseph's","Drexel"])
combo.append(["Drexel","Temple"])
combo.append(["Brown","Providence"])
combo.append(["South Carolina Upstate","Wofford"])
combo.append(["Vanderbilt","Tennessee State"])
combo.append(["Vanderbilt","Belmont"])
combo.append(["Belmont","Tennessee State"])
combo.append(["Trinity (TX)","UTSA"])
combo.append(['Furman','East Carolina'])
combo.append(["UTSA","Incarnate Word"])
combo.append(["Abilene Christian","Hardin-Simmons"])
combo.append(["Washington & Lee","Virginia Military Institute"])
combo.append(["Richmond","Virginia Commonwealth"])
combo.append(["Old Dominion","Norfolk State"])
combo.append(["Washington","Seattle"])
combo.append(["Milwaukee","Marquette"])
combo.append(["Manhattan","New York University"])
combo.append(["St. Francis (NY)","New York University"])
combo.append(["St. John's (NY)","New York University"])
combo.append(["Fordham","New York University"])
combo.append(["Columbia","New York University"])
combo.append(["New York University","City College of New York"])
combo.append(["Manhattan","City College of New York"])
combo.append(["Fordham","City College of New York"])
combo.append(["Columbia","City College of New York"])
combo.append(["St. John's (NY)","City College of New York"])
combo.append(['UC Riverside','California Baptist'])
combo.append(["Pittsburgh","Duquesne"])
combo.append(["Long Island University","Manhattan"])
combo.append(["Long Island University","St. John's (NY)"])
combo.append(["Long Island University","St. Francis (NY)"])
combo.append(["Long Island University","Columbia"])
combo.append(["Long Island University","Fordham"])
combo.append(["Long Island University","Wagner"])
combo.append(["Long Island University","Brooklyn"])
combo.append(["Wagner","Brooklyn"])
combo.append(["St. Francis (NY)","Brooklyn"])
combo.append(["St. John's (NY)","Brooklyn"])
combo.append(["New York University","Brooklyn"])
combo.append(["City College of New York","Brooklyn"])
combo.append(["Manhattan","Brooklyn"])
combo.append(["New York University","Long Island University"])
combo.append(["City College of New York","Long Island University"])
combo.append(["Columbia","Brooklyn"])
combo.append(["Fordham","Brooklyn"])
combo.append(['Xavier','Cincinnati'])
for row in df22.itertuples():
    if row.season<2003:
        if row.t1=='Miami (FL)' and row.venue=='vs':
            df22.at[row.Index,'neutral']=True
        if row.t2=='Miami (FL)' and row.venue=='@':
            df22.at[row.Index,'neutral']=True
        
for row in df22.itertuples():
    if row.season>1981:
        if row.t1=='Harvard' and row.venue=='vs':
            df22.at[row.Index,'neutral']=True
        if row.t2=='Harvard' and row.venue=='@':
            df22.at[row.Index,'neutral']=True
        if row.t1=='Harvard' and row.t2=='Northeastern' and row.venue=='@':
            df22.at[row.Index,'neutral']=False
        if row.t1=='Harvard' and row.t2=='Northeastern' and row.venue=='vs':
            df22.at[row.Index,'neutral']=False
            df22.at[row.Index,'venue']='@'
        if row.t2=='Harvard' and row.t1=='Northeastern' and row.venue=='@':
            df22.at[row.Index,'neutral']=False
            df22.at[row.Index,'venue']='vs'
        if row.t2=='Harvard' and row.t1=='Northeastern' and row.venue=='vs':
            df22.at[row.Index,'neutral']=False

        if row.t1=='Harvard' and row.t2=='Boston University' and row.venue=='@':
            df22.at[row.Index,'neutral']=False
        if row.t1=='Harvard' and row.t2=='Boston University' and row.venue=='vs':
            df22.at[row.Index,'neutral']=False
            df22.at[row.Index,'venue']='@'
        if row.t2=='Harvard' and row.t1=='Boston University' and row.venue=='@':
            df22.at[row.Index,'neutral']=False
            df22.at[row.Index,'venue']='vs'
        if row.t2=='Harvard' and row.t1=='Boston University' and row.venue=='vs':
            df22.at[row.Index,'neutral']=False
y=pd.read_csv("https://cfbzzz.alwaysdata.net/ncaaf/nicknamez.txt")
y=y.replace("Charleston","College of Charleston")
teams={}
for row in y.itertuples():
    teams[row.School]=row.City
teams['Birm-Southern']='Birmingham AL'
teams['Morris Brown']='Atlanta GA'
teams['Savannah State']='Savannah GA'
teams['Centenary (LA)']="Shreveport LA"
teams['Seton Hall']="South Orange NJ"
teams['Western Kentucky']='Bowling Green KY'
teams['Maryland-Baltimore County']='Catonsville MD'
teams['Villanova']='Villanova PA'
for comb in combo:
    print(comb)
    t1=comb[0]
    t2=comb[1]
    for row in df22.itertuples():
        if row.t1==t1 and row.t2==t2:
            df22.at[row.Index,'neutral']=True
        if row.t1==t2 and row.t2==t1:
            df22.at[row.Index,'neutral']=True
for game in df22.itertuples():
    if game.t1 in confs[game.season] and game.t2 in confs[game.season] and 'True' not in str(game.neutral):
        if game.neutral==True or game.neutral=='True':
            m=1
        else:
            sc=confs[game.season][game.t1]
            oc=confs[game.season][game.t2]
            if sc not in hfas:
                hfas[sc]=[]
            if oc not in hfas:
                hfas[oc]=[]
            if game.venue!='@':
                hfas[sc].append(game.t1p-game.t2p)
            else:
                hfas[oc].append(game.t2p-game.t1p)
for key in hfas:
    hfas[key]=(np.mean(hfas[key]))
    hfas[key]=round(hfas[key])*kval
mean=np.mean(list(hfas.values()))
mean=round(mean,-1)
for key in hfas:
    num=((1-rev)*hfas[key])+(rev*(3*kval))
    hfas[key]=round(num)
for t in confy:
    confy[t]=round(np.mean(confy[t]))*kval
op=df22[df22.season==1949]
newd1=[]
for row in df22.itertuples():
    if row.season>1949:
        if row.t1 in confs[row.season-1] and row.t2 not in confs[row.season-1]:
            newd1.append(row.t2p-row.t1p)
        if row.t2 in confs[row.season-1] and row.t1 not in confs[row.season-1]:
            newd1.append(row.t1p-row.t2p)
newd1=round(np.mean(newd1))
newd1=newd1*kval
for t in set(df22.t1.tolist()+df22.t2.tolist()):
    eloLeague.addPlayer(t,rating=1500)
for game in df22.itertuples():
    season=game.season
    if season>currSeason: 
        print(season,'yes')
        games=0
        confz={}
        pr=df22[df22.season==season]
        hw=set(pr.t1.tolist()+pr.t2.tolist())
        for t in hw:
            if t not in confs[game.season-1]:
                eloLeague.ratingDict[t]=1500+newd1
        for team in confs[game.season]:
            if confs[game.season][team] not in confz:
                confz[confs[game.season][team]]=[]
            confz[confs[game.season][team]].append(eloLeague.ratingDict[team])
        lsdf=df22[df22.season<game.season]
        ls=set(lsdf.t1.tolist()+lsdf.t2.tolist())
        for key in eloLeague.ratingDict.keys():
            team=key
            if key  in confs[game.season] and key in ls:
                mean=np.mean(confz[confs[game.season][team]])
                nb=1500
                if key not in confs[game.season-1]:
                    nb=1500+newd1
                ol=(mean+nb)/2
                mean=(ol*0.50)+(mean*0.50)
                eloLeague.ratingDict[team]=(eloLeague.ratingDict[team]*(1-rev))+(mean*rev)     
        currSeason+=1
    hr=eloLeague.ratingDict[game.t1]
    ar=eloLeague.ratingDict[game.t2]
    row=game
    name=str(row.date)+row.t1+row.t2+str(row.t1p)+" "+str(row.t2p)
    namez=str(row.date)+row.t2+row.t1+str(row.t2p)+" "+str(row.t1p)
    namezz=str(row.date)+row.t1+row.t2+str(row.t2p)+" "+str(row.t1p)
    namezzz=str(row.date)+row.t2+row.t1+str(row.t1p)+" "+str(row.t2p)
    preds=-2000
    if name in games:
        predl=games[name]['line']
        predw=games[name]['winner']
        if predw==game.t1:
            preds=float(predl)
        else:
            preds=-float(predl)
    elif namez in games:
        predl=games[namez]['line']
        predw=games[namez]['winner']
        if predw==game.t1:
            preds=float(predl)
        else:
            preds=-float(predl)
    elif namezz in games:
        predl=games[namezz]['line']
        predw=games[namezz]['winner']
        if predw==game.t1:
            preds=float(predl)
        else:
            preds=-float(predl)
    elif namezzz in games:
        predl=games[namezzz]['line']
        predw=games[namezzz]['winner']
        if predw==game.t1:
            preds=float(predl)
        else:
            preds=-float(predl)
        
    hr+=confy[confs[game.season][game.t1]]
    ar+=confy[confs[game.season][game.t2]]
    if 'False' in str(game.neutral):
        if 'vs' in str(game.venue):
            hr+=hfas[confs[game.season][game.t1]]
        if '@' in str(game.venue):
            ar+=hfas[confs[game.season][game.t2]]
    if preds!=-2000:
        diff=(hr-ar)/kval
        diff=(diff+preds)/2
    else:
        diff=(hr-ar)/kval
    if(game.t1p>game.t2p):
        df22.at[game.Index,'predt1s']=diff
        eloLeague.gameOver(game.t1,game.t2,game.t1p,game.t2p,diff*kval)
    if(game.t1p<game.t2p):
        df22.at[game.Index,'predt1s']=diff
        eloLeague.gameOver(game.t2,game.t1,game.t2p,game.t1p,-diff*kval)
    d1=(s in confs[game.season] or o in confs[game.season])
    for i in range(9,50):
        spread=abs((hr-ar)/float(i))
        spread=round(spread)
        if spread==0:
            if hr>ar:
                spread=1
            else:
                spread=-1
        ms=(float(game.t1p)-float(game.t2p))-spread
        
        msz = np.square(ms)
        msqe[str(i)].add(msz)
        
import numpy as np
msqez={}
for i in range(9,50):
    msqez[str(i)]=0
for i in range(9,50):
    msqez[str(i)]=sum(msqe[str(i)])/len(msqe[str(i)])
mas=min(msqez, key=msqez.get)
print("--- %s seconds ---" % (time.time() - start_time))

done files
go through games

In [9]:
np.mean(confy['Big Ten'])

8.00488383450778

In [6]:
df=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/standings.csv")
df[df.conf=='MASCN']

    Unnamed: 0        team   conf  season  num
84          84   Lafayette  MASCN    1948  NaN
85          85  Muhlenberg  MASCN    1948  NaN
86          86  Gettysburg  MASCN    1948  NaN
87          87      Lehigh  MASCN    1948  NaN
88          88    Bucknell  MASCN    1948  NaN

In [5]:
confy['MASCN']

[]

In [22]:
s='Mercyhurst'
rt=df22[df22.season==2024]
rt[(rt.t1==s)|(rt.t2==s)]

,date,t1,t2,t1p,t2p,venue,season,neutral,hj,isnon,predt1s
479868,20241104.0,George Washington,Mercyhurst,76,59,vs,2024.0,False,False,False,13.475203
479947,20241106.0,Morgan State,Mercyhurst,73,78,vs,2024.0,False,False,False,-1.927541
480340,20241113.0,Mercyhurst,Canisius,62,52,vs,2024.0,False,False,False,3.721308
480453,20241116.0,Columbia,Mercyhurst,77,63,vs,2024.0,False,False,False,5.117689
480910,20241124.0,Air Force,Mercyhurst,82,48,vs,2024.0,False,False,False,3.312051
481119,20241127.0,California,Mercyhurst,81,55,vs,2024.0,False,False,False,17.237840
481258,20241130.0,Sacramento State,Mercyhurst,60,66,vs,2024.0,False,False,False,1.240815
481298,20241201.0,San Francisco,Mercyhurst,87,59,vs,2024.0,False,False,False,23.821275
481540,20241207.0,Mercyhurst,Lafayette,73,77,vs,2024.0,False,False,False,4.743027
481857,20241215.0,Kent State,Mercyhurst,82,57,vs,2024.0,False,False,False,16.717947
481943,20241218.0,Binghamton,Mercyhurst,62,60,vs,2024.0,False,False,False,0.800867
482179,20241222.0,West Virginia,Mercyhurst,67,46,vs,2024.0,False,False,False,25.914850
482502,20250103.0,Mercyhurst,Stonehill,76,69,vs,2024.0,False,False,False,4.415207
482662,20250105.0,Mercyhurst,Central Connecticut State,50,62,vs,2024.0,True,False,False,2.909891
482839,20250110.0,Saint Francis (PA),Mercyhurst,73,59,vs,2024.0,False,False,False,-2.506259
483002,20250112.0,Le Moyne,Mercyhurst,79,63,vs,2024.0,True,False,False,1.107994
483213,20250118.0,Wagner,Mercyhurst,65,69,vs,2024.0,False,False,False,2.642431
483356,20250120.0,Long Island University,Mercyhurst,72,63,vs,2024.0,False,False,False,0.792778
483522,20250124.0,Mercyhurst,Wagner,71,66,vs,2024.0,False,False,False,3.734407
483685,20250126.0,Mercyhurst,Long Island University,85,80,vs,2024.0,False,False,False,5.477452
483806,20250130.0,Mercyhurst,Saint Francis (PA),62,58,vs,2024.0,False,False,False,7.092902
483935,20250201.0,FDU,Mercyhurst,60,67,vs,2024.0,True,False,False,1.630796
484153,20250206.0,Chicago State,Mercyhurst,85,78,vs,2024.0,False,False,False,-7.134787
484278,20250208.0,Mercyhurst,Le Moyne,82,78,vs,2024.0,True,False,False,4.616617
484484,20250213.0,Central Connecticut State,Mercyhurst,73,63,vs,2024.0,True,False,False,0.769761
484609,20250215.0,Stonehill,Mercyhurst,85,73,vs,2024.0,False,False,False,0.921097
484834,20250220.0,Mercyhurst,FDU,65,60,vs,2024.0,True,False,False,2.188041
485179,20250227.0,Mercyhurst,Chicago State,90,68,vs,2024.0,False,False,False,14.255256

In [77]:
ci=0
wrong=['2014.0ColgateArmy6365','2014.0ArmyColgate6563']
wrong.append(['2014.0Mississippi Valley StateAlcorn State7462'])
wrong.append(['2014.0Alcorn StateMississippi Valley State6274'])
wrong.append(['2015.0Texas SouthernAlabama A&M7168'])
wrong.append(['2015.0Alabama A&MTexas Southern6871'])
wrong.append(['2015.0Texas SouthernAlabama A&M7166'])
wrong.append(['2015.0Alabama A&MTexas Southern6671'])
wrong.append(['2015.0Idaho StateIdaho7080'])
wrong.append(['2015.0IdahoIdaho State8070'])
wrong.append(['2015.0Idaho StateIdaho6882'])
wrong.append(['2018.0OaklandIUPUI7463'])
wrong.append(['2017.0Northern ColoradoUC Davis5972'])
wrong.append(['2017.0UC DavisNorthern Colorado7259'])
wrong.append(['2015.0IdahoIdaho State8268'])
wrong.append(['2017.0WashingtonLoyola Marymount8078'])
wrong.append(['2017.0Loyola MarymountWashington7880'])
wrong.append(['2018.0IUPUIOakland6374'])
wrong.append(['2019.0Texas A&M-Corpus ChristiSam Houston7460'])
wrong.append(['2019.0Sam HoustonTexas A&M-Corpus Christi6074'])
for key in gszz:
    if key not in gsz and key not in wrong:
        print(key,ci)
        ci+=1

2014.0Mississippi Valley StateAlcorn State7660 0
2014.0Alcorn StateMississippi Valley State6076 1
2015.0Alabama A&MTexas Southern6671 2
2015.0Texas SouthernAlabama A&M7166 3
2015.0IdahoIdaho State8268 4
2015.0Idaho StateIdaho6882 5

KeyboardInterrupt:

In [2]:
gj={}
gjj={}
yu=df22[df22.hj==False]
yu=yu.drop_duplicates()
yu=yu[yu.season>2013]
print(len(yu))
j=df22[df22.hj==True]
j=j.drop_duplicates()
print(len(j))
for i in range(2014,2025):
    gj[float(i)]={}
    gjj[float(i)]={}
for row in j.itertuples():
    if row.t1 not in gj[float(row.season)]:
        gj[float(row.season)][row.t1]=0
    gj[float(row.season)][row.t1]+=1
    if row.t2 not in gj[float(row.season)]:
        gj[float(row.season)][row.t2]=0
    gj[float(row.season)][row.t2]+=1
for row in yu.itertuples():
    if row.t1 not in gjj[float(row.season)]:
        gjj[float(row.season)][row.t1]=0
    gjj[float(row.season)][row.t1]+=1
    if row.t2 not in gjj[float(row.season)]:
        gjj[float(row.season)][row.t2]=0
    gjj[float(row.season)][row.t2]+=1

59645
59642

In [3]:
for key in gj:
    for t in gj[key]:
        if gj[key][t]!=gjj[key][t]:
            print(key,t)

2016.0 Syracuse
2016.0 UNC Greensboro
2017.0 Hampton
2017.0 Delaware State
2019.0 Gardner-Webb
2019.0 Hampton

In [7]:

yu=df22[df22.hj==False]
yu=yu.drop_duplicates()
yu=yu[yu.season>2013]
print(len(yu))
j=df22[df22.hj==True]
j=j.drop_duplicates()
print(len(j))
u=j[j.season==2017]
t='Hampton'
u=u[(u.t1==t)|(u.t2==t)]
uu=yu[yu.season==2017]
uu=uu[(uu.t1==t)|(uu.t2==t)]
print(len(u),len(uu))

59645
59642
30 31

In [81]:
for k in gj:
    if k not in gjj:
        print(k)

2016.0New OrleansMount St. Mary's
2016.0Mount St. Mary'sNew Orleans
2016.0ValparaisoIllinois
2016.0IllinoisValparaiso
2016.0OaklandClemson
2016.0ClemsonOakland
2016.0IndianaGeorgia Tech
2016.0Georgia TechIndiana
2016.0Wake ForestKansas State
2016.0Kansas StateWake Forest
2016.0RichmondAlabama
2016.0AlabamaRichmond
2016.0Boise StateUtah
2016.0UtahBoise State
2016.0Cal State BakersfieldCalifornia
2016.0CaliforniaCal State Bakersfield
2016.0MississippiMonmouth
2016.0MonmouthMississippi
2016.0College of CharlestonColorado State
2016.0Colorado StateCollege of Charleston
2017.0Morgan StateHampton
2017.0HamptonMorgan State

KeyboardInterrupt:

In [4]:
import pandas as pd
e=pd.read_html("https://basketball.fandom.com/wiki/List_of_NCAA_Division_I_Schools")
teams=[]
i=1
while(i<len(e)):
    j=pd.DataFrame(e[i])
    j.columns=['School','n','c','Arena','City']
    for row in j.itertuples():
            
        teams.append([row.School,row.City])
    i+=1
y=pd.DataFrame(teams,columns=['School','City'])
y.to_csv("nicknames.txt")

In [ ]:
!pip install playwright
!playwright install
!playwright install-deps

In [ ]:
from playwright.async_api import async_playwright
import asyncio
arr=[]

async def fetch(link):
    async with async_playwright() as p:
        browser=await p.chromium.launch(headless=True)
        page=await browser.new_page()
        await page.goto(link,wait_until="load")
        last=None
        for _ in range(10):
            await page.wait_for_load_state("networkidle")
            new=page.url
            if new==last:
                break
            last=new
        try:
            await page.wait_for_selector("table")
        except Exception as e:
            print(e)
        html=await page.content()
        await browser.close()
        soup=BeautifulSoup(html)
        return soup

In [ ]:
from playwright.async_api import async_playwright
from bs4 import BeautifulSoup
import asyncio



async def fetchz(link, context):
    page = await context.new_page()
    await page.route("**/*", lambda route: route.abort() if route.request.resource_type in ["image", "stylesheet", "font"] else route.continue_())
    await page.goto(link, wait_until="domcontentloaded",timeout=0)
    last = None
    for _ in range(10):
        await page.wait_for_load_state("networkidle")
        new = page.url
        if new == last:
            break
        last = new
    try:
        await page.wait_for_selector("table",state="attached")
    except Exception as e:
        print(e)
    element = await page.query_selector("table")
    html = await element.inner_html()
    soup = BeautifulSoup(html, "html.parser")
    await page.close()
    return soup

async def main(link):
    async with async_playwright() as p:
        browser = await p.chromium.launch(headless=True,args=["--disable-gpu", "--no-sandbox"])
        context = await browser.new_context()
        result = await fetchz(link,context)
        await browser.close()
        return result

In [ ]:
arr=[]

In [ ]:
dates={}
import nest_asyncio
nest_asyncio.apply()
h=df22[df22.season>2023]
for row in h.itertuples():
    if row.date not in dates:
        dates[row.date]=row.season
for d in dates:
    print(d)
    d=str(d)
    d=d.replace(".0","")
    url="https://barttorvik.com/schedule.php?date="+d+"&conlimit="
    loop = asyncio.get_event_loop()
    table = loop.run_until_complete(main(url))
    for tr in table.find_all("tr"):
        if "Result" not in str(tr) and 'absolute error' not in str(tr):
            teams=tr.find_all("td")[1]
            pred=tr.find_all("td")[2]
            pred=pred.find("a").text
            score=tr.find_all("td")[4]
            score=score.find("a").text
            t1=teams.find_all("a")[0].text
            t2=teams.find_all("a")[1].text
            pred=pred.split(",")
            pred=pred[0]
            predw="?"
            line="?"
            if "-" in str(pred):
                pred=pred.split("-")
                line=pred[1]
                predw=pred[0]
            if 'vs' in str(teams):
                n=True
            elif 'at' in str(teams):
                n=False
                
            arr.append([d,t2,t1,predw,line,score,n,dates[float(str(d)+".0")]])

In [ ]:
df=pd.DataFrame(arr,columns=['date','home','away','predw','line','final','neutral','season'])
df.to_csv("barttvk2.csv")

In [ ]:
df=df.astype({"final":"string"})
df=df.replace("Ohio St.","Ohio State")
df['final']=df['final'].str.replace(" St."," State")
df['home']=df['home'].str.replace(" St."," State")
df['away']=df['away'].str.replace(" St."," State")
df['predw']=df['predw'].str.replace(" St."," State")
df

In [ ]:
names={}
for row in df.itertuples():
    score=str(row.final)
    scores=score.split(",")[1]
    scores=scores.replace(" ","")
    winner=score.split(",")[0]
    s1=scores.split("-")[0]
    s2=scores.split("-")[1]
    if row.home==winner:
        name=row.home+row.away+s1+s2
    elif row.away==winner:
        name=row.away+row.home+s1+s2
    if name not in names:
        names[name]=0
    if
    names[name]+=1

In [ ]:
names['LIUWagner6047']

In [ ]:
j=0
for key in names:
    if float(names[key])>1:
        k=key
        j+=1

In [ ]:
k

In [ ]:
!playwright install-deps

In [ ]:
t=eloLeague.ratingDict['Indiana']+hfas[confs[2025]['Indiana']]+confy[confs[2025]['Indiana']]
tt=eloLeague.ratingDict['Grambling']+confy[confs[2025]['Grambling']]

In [ ]:
w=[]
for y in confs:
    for t in confs[y]:
        if confs[y][t]=='nan':
            w.append(t)

In [ ]:
df=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/standings.csv")
df[df.isna()]

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment

links={}
import time
ys={}
for i in range(1949,2026):
    ys[i]=[]
for i in range(2026,2027):
    print(i)
    links[i]=[]
    html=requests.get("https://www.sports-reference.com/cbb/seasons/men/"+str(i)+"-standings.html")
    print(html.status_code)
    html=html.text
    html=html.replace("<!--","").replace("-->","")
    soup=BeautifulSoup(html,'lxml')
    
    
    y=i-1
    for table in soup.find_all("table"):
        for tr in table.find_all("tr"):
            if "Notes" not in str(tr) and 'Overall' not in str(tr):
                
                
                schl=tr.find_all("td")[0].text
                conf=tr.find_all("td")[1].text
                srs=tr.find_all("td")[13].text
            
                
                arr.append([schl,conf,y,srs])
    time.sleep(5)
    print(len(arr))

In [ ]:
df=pd.DataFrame(arr,columns=['team','conf','season','num'])
df.to_csv("standings.csv")

##