<a href="https://www.kaggle.com/code/savageopress12345/mechanical-soup-error?scriptVersionId=118868915" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [40]:
ty=df22[df22.Year==2023]
points=set(ty.PTS.tolist()+ty.OPP.tolist())
games={}
arr=[]
for row in ty.itertuples():
    if row.PTS>row.OPP:
        name=row.Schl+"||"+row.Opp+"||"+str(row.PTS)+"||"+str(row.OPP)
        games[name]=row.PTS
        arr.append([row.Schl,row.Opp,row.PTS,row.OPP,row.Venue,row.Date])
    if row.PTS<row.OPP:
        name=row.Opp+"||"+row.Schl+"||"+str(row.OPP)+"||"+str(row.PTS)
        games[name]=row.OPP
        arr.append([row.Opp,row.Schl,row.OPP,row.PTS,row.Venue,row.Date])

In [41]:
df=pd.DataFrame(arr,columns=['Winner','Loser','Winner PTS','Loser PTS','Venue','Date'])
df=df.sort_values(by='Loser PTS')
df=df.iloc[0:10]
for row in df.itertuples():
    print(row)

Pandas(Index=9753, Winner='North Dakota State', Loser='Oak Hills Chr', _3=108.0, _4=14.0, Venue='vs', Date=Timestamp('2023-12-10 00:00:00'))
Pandas(Index=2724, Winner='Faith Bap', Loser='FLBC', _3=65.0, _4=16.0, Venue='@', Date=Timestamp('2023-11-11 00:00:00'))
Pandas(Index=2107, Winner='Emmaus Bib', Loser='FLBC', _3=78.0, _4=23.0, Venue='@', Date=Timestamp('2023-11-10 00:00:00'))
Pandas(Index=8276, Winner='McNeese State', Loser='MS Women', _3=92.0, _4=23.0, Venue='vs', Date=Timestamp('2023-12-05 00:00:00'))
Pandas(Index=9302, Winner='Mercyhurst', Loser='SUNY Fredonia', _3=83.0, _4=24.0, Venue='vs', Date=Timestamp('2023-12-09 00:00:00'))
Pandas(Index=5210, Winner='West Alabama', Loser='Oakwood', _3=93.0, _4=25.0, Venue='vs', Date=Timestamp('2023-11-21 00:00:00'))
Pandas(Index=2718, Winner='Christendom', Loser='Appalachian Bib', _3=98.0, _4=26.0, Venue='vs', Date=Timestamp('2023-11-11 00:00:00'))
Pandas(Index=10473, Winner='Liberty', Loser='St Andrews', _3=99.0, _4=26.0, Venue='vs', Date=Timestamp('2023-12-16 00:00:00'))
Pandas(Index=271, Winner='C Chr Bible', Loser='FLBC', _3=93.0, _4=26.0, Venue='@', Date=Timestamp('2023-10-28 00:00:00'))
Pandas(Index=25218, Winner='Maryville TN', Loser='Warren Wilson', _3=55.0, _4=27.0, Venue='vs', Date=Timestamp('2024-02-17 00:00:00'))

In [42]:
[item for item in sorted(games, key=games.get)][0:10]

['IN S Bend||Holy Cross IN||42.0||41.0',
 'Christendom||Williamson Tr||43.0||33.0',
 'Loyola (MD)||American||44.0||43.0',
 'Keuka||Alfred||44.0||41.0',
 'Weatherford||Tyler JC||45.0||44.0',
 'Chipola||NW Florida St||45.0||41.0',
 'Southeastern Bap||Pensacola Chr||46.0||44.0',
 'Outaouais||Ahuntsic||46.0||44.0',
 'Cypress||Irvine Valley||46.0||43.0',
 'Montgomery Co CC||Delaware Co CC||47.0||41.0']

In [43]:
myKeys = list(games.keys())
{i: games[i] for i in myKeys}[0:5]

TypeError: unhashable type: 'slice'

**

In [67]:
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

array(['1949-50', '1950-51', '1951-52', '1952-53', '1953-54', '1954-55',
       '1955-56', '1956-57', '1957-58', '1958-59', '1959-60', '1960-61',
       '1961-62', '1962-63', '1963-64', '1964-65', '1965-66', '1966-67',
       '1967-68', '1968-69', '1969-70', '1970-71', '1971-72', '1972-73',
       '1973-74', '1974-75', '1975-76', '1976-77', '1977-78', '1978-79',
       '1979-80', '1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02'],
      dtype=object)

In [92]:

import time
start_time = time.time()
import pandas as pd
print('done files')
import numpy as np
from datetime import datetime
import random
import string
print('no')
import math
chist=[]
j={}
df=75
j['gp']=1
j['yr']=1892
hfa=0
from decimal import Decimal
class Elo:
    
    
    

    def __init__(self,k,g=1,homefield = 110): 
        self.ratingDict={}
        self.k = k
        self.g = g
        self.homefield= homefield

    def addPlayer(self,name,rating = 1500):
        self.ratingDict[name] = rating
    def gameOver(self, winner, loser, winnerHome,neutral,wp,lp,yr,date,wpe,lpe,hfa,k):
        wpe=wpe
        lpe=lpe
        
        
        homef=hfa
        if('True' in str(neutral)):
            
        
            homef=0
        
        
        if(winnerHome==True):
            
            elod=(eloLeague.ratingDict[winner]+homef-wpe)-(eloLeague.ratingDict[loser]-lpe)
        if(winnerHome!=True):
            
            elod=(eloLeague.ratingDict[winner]-wpe)-(homef+eloLeague.ratingDict[loser]-lpe)
        
        elo=float(elod)
        wp=float(wp)
        lp=float(lp)
        
        o=abs(wp-lp)
        y=float(((o)+3))
        
        mov=((o+3)**0.8)/(7.5+0.006*elod)
        if winnerHome==True:
            
            result = self.expectResult(self.ratingDict[winner] + homef-wpe, self.ratingDict[loser]-lpe)
        else:
            result = self.expectResult(self.ratingDict[winner]-wpe, self.ratingDict[loser]+homef-lpe)
        shift=(k*mov)*(1 - result) 
        
        
        if wpe==0 or wpe==hbcupen:
            self.ratingDict[winner] +=shift
        if lpe==0 or lpe==hbcupen:
            self.ratingDict[loser] -=shift
        
        

    def expectResult(self, p1, p2):
        global exp
        exp = (Decimal(p2)-Decimal(p1))/Decimal(400.0)
        n2=Decimal(10.0)
        j=Decimal(exp)
        o=Decimal(1)/((n2**(j))+Decimal(1))
        return float(o)

kval=25
eloLeague = Elo(k = kval)
import requests
import pandas as pd
import time
dl=[]
from bs4 import BeautifulSoup,Comment
proxies={'http':'173.192.21.89:80','http':'95.156.82.35:3128'}
print('neutral')


print('home')
from bs4 import BeautifulSoup,Comment


print('playoff')
import re, csv, requests
from bs4 import BeautifulSoup as bs
d2urls={"2023":"https://masseyratings.com/scores.php?s=557745&sub=557745&all=1","2002":"https://masseyratings.com/scores.php?s=41466&sub=41466&all=1"}
g=[]
thearr=[]
didp=0
pz=0
tds={}
ggg=[]
d1={"2003":"https://masseyratings.com/scores.php?s=41467&sub=11590&all=1&mode=3&format=2","2006":"https://masseyratings.com/scores.php?s=69587&sub=11590&all=1&mode=3&format=2","2009":"https://masseyratings.com/scores.php?s=97288&sub=11590&all=1&mode=3&format=2","2011":"https://masseyratings.com/scores.php?s=179268&sub=11590&all=1&mode=3&format=2","2013":"https://masseyratings.com/scores.php?s=203290&sub=11590&all=1&mode=3&format=2","2015":"https://masseyratings.com/scores.php?s=284067&sub=11590&all=1&mode=3&format=2","2016":"https://masseyratings.com/scores.php?s=292154&sub=11590&all=1&mode=3&format=2","2017":"https://masseyratings.com/scores.php?s=298892&sub=11590&all=1&mode=3&format=2","2018":"https://masseyratings.com/scores.php?s=305972&sub=11590&all=1&mode=3&format=2","2020":"https://masseyratings.com/scores.php?s=320158&sub=11590&all=1&mode=3&format=2","2021":"https://masseyratings.com/scores.php?s=379387&sub=11590&all=1&mode=3&format=2","2022":"https://masseyratings.com/scores.php?s=500054&sub=11590&all=1&mode=3&format=2","2023":"https://masseyratings.com/scores.php?s=557745&sub=11590&all=1"}
d1s={}
h=[]
years={}
d1ss=pd.read_csv("https://ontheroadtovote.com/ncaab/2024d1.csv")
d1ss=d1ss.astype({"Schl":"string"})
d1ss=d1ss.replace("FDU","Fairleigh Dickinson")
d1ss=d1ss.replace("UCF","Central Florida")
d1ss=d1ss.replace("Purdue Fort Wayne","Purdue-Fort Wayne")
d1ss=d1ss.replace("Sam Houston State","Sam Houston")
years[2023]={}
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/massey.csv")
df=df[df.Year<2023]
uteams=requests.get("https://ontheroadtovote.com/ncaaf/caabteams.json").json()
bannedteams={}
for i in range(2002,2024):
    bannedteams[i]=[]
banned=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/noncount.txt")
for row in banned.itertuples():
    if str(row.Banned)=='yes':
        bannedteams[float(row.Year)].append(row.Schl)
print(df.neutral.unique())
for row in df.itertuples():
    s=row.Schl
    o=row.Opp
    o=o.replace("amp;","")
    s=s.replace("amp;","")
    if s in uteams:
        s=uteams[s]
    if o in uteams:
        o=uteams[o]
    if s in bannedteams[row.Year] or o in bannedteams[row.Year]:
        m=1
    else:
        thearr.append([s,o,row.PTS,row.OPP,row.Year,row.Date,row.neutral,row.Venue,row.Year])
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/missingcbb.csv")
df=df[df.Year<2023]
uteams=requests.get("https://ontheroadtovote.com/ncaaf/caabteams.json").json()
print(df.neutral.unique())
for row in df.itertuples():
    s=row.Schl
    o=row.Opp
    o=o.replace("amp;","")
    s=s.replace("amp;","")
    if s in uteams:
        s=uteams[s]
    if o in uteams:
        o=uteams[o]
    thearr.append([s,o,row.PTS,row.OPP,row.Year,row.Date,row.neutral,row.Venue,row.Year])   
for row in d1ss.itertuples():
    years[float(2023)][row.Schl]={}
    years[float(2023)][row.Schl]='yes'
abbreviations = [
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#States.
    "AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "IA",
    "ID", "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MN", "MO",
    "MS", "MT", "NC", "ND", "NE", "NH", "NJ", "NM", "NV", "NY", "OH", "OK",
    "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VA", "VT", "WA", "WI",
    "WV", "WY",
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#Federal_district.
    "DC",
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#Inhabited_territories.
    "AS", "GU", "MP", "PR", "VI",
]
didp=0
for key in d2urls:
    r = requests.get(d2urls[key])
    soup = BeautifulSoup(r.text, 'lxml')
    
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(BeautifulSoup(r.text, 'lxml'))
    aa=str(aa)
    aa=(aa.split("<hr/><pre>")[1])
    
    aa=aa.replace("               ",",")
    aa=aa.replace("  ",",")
    for i in range(0,10):
        aa=aa.replace(str(i)+" ",str(i)+",")
        
    aa=aa.replace(",,,,,,",",")
    
    q=aa
    
    
    q=q.split("\n")
    for line in q:
        
        
        
        
        
        line=str(line)
        
        
        
        
        if 'Games' not in str(line) and str(line)!='' and '<' not in str(line):
            j=line[1]
            n=False
            line = list(line.split(','))
            v="vs"
            if "@" not in str(line):
                n=True
            if "@" in str(line[1]):
                v="vs"
            else:
                v='@'
            date=str(line[0])
            
            line=str(line)
            line=line.replace("[","")
            line=line.replace("]","")
            line=line.replace("'","")
            line=line.replace('"',"")
            line=line.replace(",@",",")
            line=line.replace("@","")
            line = list(line.split(','))
            lines=[]
            for l in line:
                if l==' ' :
                    m=1
                else:
                    
                    lines.append(l)
                
            
            line=lines
            s=line[1]
            s=s.lstrip()
            s=s.rstrip()
            o=line[3]
            o=o.lstrip()
            o=o.rstrip()
            o=o.replace("amp;","")
            s=s.replace("amp;","")
            if s in uteams:
                s=uteams[s]
            if o in uteams:
                o=uteams[o]
            if len(line)>7:
                notes=line[7]
                if s=='Purdue' and o=='Grambling':
                    print(line)
                    print(notes)
                notes=notes.strip()
                if notes in abbreviations:
                    n=True
                    
            row=[s,o,line[2],line[4],float(key),date,n,v,float(key)]
            thearr.append(row)
df1=pd.read_csv("https://ontheroadtovote.com/gamezz.csv")
dates={}
for row in df1.itertuples():
    date=row.Date
    date=date.split(" 00:00:00")[0]
    dates[date]=[]
for row in df1.itertuples():
    date=row.Date
    date=date.split(" 00:00:00")[0]
    dates[date].append(row.Schl)
    dates[date].append(row.Opp)
from bs4 import BeautifulSoup,Comment
df1['Venue']='vs'
df1['Yearz']=df1['Year']
print(df1.neutral.unique())
for row in df1.itertuples():
    y=row.Year
    if '-' in str(row.Year):
        y=str(row.Year).split("-")[0]
    date=str(row.Date)
    date=date.replace("20:","2:")
    date=date.replace("30:","3:")
    date=date.replace("40:","4:")
    date=date.replace("50:","5:")
    date=date.replace("60:","6:")
    date=date.replace("70:","7:")
    date=date.replace("80:","8:")
    date=date.replace("90:","9:")
    date=date.replace("10:","1:")
    if 'Year' not in str(row.Year):
        y=float(y)
        if y<2002:
            
        
            thearr.append([row.Schl,row.Opp,row.PTS,row.OPP,y,row.Date,row.neutral,row.Venue,y])
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
years={}
for i in range(1890,2024):
    years[float(i)]={}
for row in standings.itertuples():
    years[float(row.Year)][row.Schl]='yes'
confdf=pd.read_csv("https://ontheroadtovote.com/ncaab/updatedstandings.csv")
confdf=confdf.replace("Sam Houston State","Sam Houston")
confdf=confdf.astype({"School":"string"})
confdf= confdf[confdf['School'].notna()]
confdf=confdf.replace("FDU","Fairleigh Dickinson")
confdf=confdf.replace("UCF","Central Florida")
confdf=confdf.replace("Sam Houston State","Sam Houston")
confdf.dropna()
for row in confdf.itertuples():
    if float(row.Year)>1948:
        srs=str(row.SRS).strip()
        
        if 'known' not in str(srs):
            
            years[float(row.Year)][row.School]=1

d1ss=pd.read_csv("https://ontheroadtovote.com/ncaab/2024d1.csv")
d1ss=d1ss.astype({"Schl":"string"})
d1ss=d1ss.replace("FDU","Fairleigh Dickinson")
d1ss=d1ss.replace("UCF","Central Florida")
years[2023]={}
for row in d1ss.itertuples():
    years[float(2023)][row.Schl]={}
    years[float(2023)][row.Schl]='yes'

from datetime import date
today=str(date.today())
from datetime import timedelta

r = requests.get('https://ontheroadtovote.com/ncaab/steams.json')
y=r.json()
df1=df1[df1.Year!='Year']
for row in df1.itertuples():
    year=str(row.Year)
    if "-" in year:
        year=year.split("-")[0]
    v=row.Venue
    if v=='@?':
        v='@'
    if v=='vs?':
        v='vs'
    if v=='s':
        v='vs'
    if v=='v':
        v='vs'
    if v=='vs?(unknown)':
        v='vs'
        
    if float(year)<2002:    
        thearr.append([row.Schl,row.Opp,row.PTS,row.OPP,year,row.Date,row.neutral,v,row.Year])
d1={"2003":"https://masseyratings.com/scores.php?s=41467&sub=11590&all=1&mode=3&format=2","2006":"https://masseyratings.com/scores.php?s=69587&sub=11590&all=1&mode=3&format=2","2009":"https://masseyratings.com/scores.php?s=97288&sub=11590&all=1&mode=3&format=2","2011":"https://masseyratings.com/scores.php?s=179268&sub=11590&all=1&mode=3&format=2","2013":"https://masseyratings.com/scores.php?s=203290&sub=11590&all=1&mode=3&format=2","2015":"https://masseyratings.com/scores.php?s=284067&sub=11590&all=1&mode=3&format=2","2016":"https://masseyratings.com/scores.php?s=292154&sub=11590&all=1&mode=3&format=2","2017":"https://masseyratings.com/scores.php?s=298892&sub=11590&all=1&mode=3&format=2","2018":"https://masseyratings.com/scores.php?s=305972&sub=11590&all=1&mode=3&format=2","2020":"https://masseyratings.com/scores.php?s=320158&sub=11590&all=1&mode=3&format=2","2021":"https://masseyratings.com/scores.php?s=379387&sub=11590&all=1&mode=3&format=2","2022":"https://masseyratings.com/scores.php?s=500054&sub=11590&all=1&mode=3&format=2","2023":"https://masseyratings.com/scores.php?s=557745&sub=11590&all=1&mode=3&format=2"}
for url in d1:
    d1s[url]=[]
for url in d1:
    html=requests.get(d1[url]).text
    html=str(html)
    html=html.split("\n")
    for row in html:
        d1s[url].append(row)
bteams={}
bteams[1950]=['Murray State','Eastern Kentucky','Evansville','Morehead State','Marshall','Tennessee Tech']
bteams[1951]=['Murray State','Evansville','Morehead State','Marshall','Tennessee Tech']
bteams[1952]=['Murray State','Evansville','Morehead State','Marshall','Tennessee Tech']
bteams[1953]=['Morehead State','Middle Tennessee','Tennessee Tech']
bteams[1954]=['Morehead State','Tennessee Tech','Middle Tennessee']
bteams[1955]=['Middle Tennessee']
bteams[1956]=['Middle Tennessee']
bteams[1957]=['Middle Tennessee','East Tennessee State']
files=["https://ontheroadtovote.com/ncaab/nond1scores/missingscores/nwaacc/2019.txt","https://ontheroadtovote.com/ncaab/nond1scores/missingscores/ccaa/ccaascores.csv","usportsscores.csv","ccaascores.csv","nwaaccscores.csv",'cccaacores.csv','naiascores.csv',"accascores.csv","nccaascores.csv","d3scores.csv","d2scores.csv","njcaacores.csv","uscaascores.csv","2012cccaascores.txt","2014cccaascores.txt","2019cccaascores.txt"]
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/updatedstandings.csv")
teams=[]

html=requests.get("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/app.php")
html=html.text
arr=[]
names=set()
teams=str(html).split("\n")
dup={}
for team in teams:
    url="https://ontheroadtovote.com/ncaab/d1vsnond1/teams/"+team
    url = url.replace(" ", "%20")
    import pandas as pd
    print(url)
    
    noturl=('https://ontheroadtovote.com/ncaab/d1vsnond1/teams/'==url)
    if noturl==False and 'standings' not in str(team) and 'php' not in str(team) and 'd1' not in str(team) and 'njcaa' not in str(team) and 'csv' not in str(team):
        
        dfy=pd.read_csv(url)
        dfy=dfy[dfy.Year<2002]
        
        if 'Date' not in str(dfy):
            print(team)
        for row in dfy.itertuples():
            
            schl=row.Schl
            if row.Venue=='@':
                venue='vs'
            if row.Venue=='vs':
                venue='@'
            name=row.Opp+row.Schl+row.Date
            name2=row.Schl+row.Opp+row.Date
            if name not in names and name2 not in names:
                thearr.append([schl,row.Opp,row.PTS,row.OPP,row.Year,row.Date,row.neutral,row.Venue,row.Year])
            names.add(name)
            names.add(name2)
            if row.Date not in dates:
                dates[row.Date]=[]
                dates[row.Date].append(row.Schl)
                dates[row.Date].append(row.Opp)
            if row.Opp not in dates[row.Date]:
                dates[row.Date].append(row.Opp)
            if row.Schl not in dates[row.Date]:
                dates[row.Date].append(row.Schl)
            if row.Schl not in dup:
                dup[row.Schl]=[]
            if row.Opp not in dup:
                dup[row.Opp]=[]
            if row.Schl in dates[row.Date]:
                dup[row.Schl].append(row.Date)
            if row.Opp in dates[row.Date]:
                dup[row.Opp].append(row.Date)
df2=pd.DataFrame(thearr)

df2.columns=['Schl','Opp','PTS','OPP','Year','Date','neutral','Venue','Yearz']
gd={}
df2=df2.drop_duplicates()
df2= df2.replace(np.nan, 'w', regex=True)
(df2['Yearz']).where((df2['Year'] =='w'))
df2=df2[df2.Schl!='w']
msqe16=[]
df1=df2
w=0
l=0
names=[]
confdf.dropna()
def replace(n):
    string=n
    for letter in letters:
        string=string.replace(letter+" Stateate",letter+" State")
    return string

currSeason=1893
df22=df2
p=[]
names=set()
start=time.time()
bteams=['Evansville','Marshall','Tennessee Tech','Murray State']


bteams={}
bteams[1950]=['Murray State','Eastern Kentucky','Evansville','Morehead State','Marshall','Tennessee Tech']
bteams[1951]=['Murray State','Evansville','Morehead State','Marshall','Tennessee Tech']
bteams[1952]=['Murray State','Evansville','Morehead State','Marshall','Tennessee Tech']
bteams[1953]=['Morehead State','Middle Tennessee','Tennessee Tech']
bteams[1954]=['Morehead State','Tennessee Tech','Middle Tennessee']
bteams[1955]=['Middle Tennessee']
bteams[1956]=['Middle Tennessee']
bteams[1957]=['Middle Tennessee','East Tennessee State']
years[2023]={}
for row in d1ss.itertuples():
    years[float(2023)][row.Schl]={}
    years[float(2023)][row.Schl]='yes'

df22=df22[df22.OPP!=0]
df22=df22[df22.Schl!=0]
df22=df2


df22['Date'] = pd.to_datetime(df22['Date'], errors='coerce')
df22['Date'] = df22['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')
df22=df22.astype({"Schl":"string","Opp":"string"})

from datetime import date
today=date.today()





df22['Year']=df22['Year'].replace("2022-23","2022")

teamss={}
oy={}

oldconfs=pd.read_csv("https://ontheroadtovote.com/ncaab/old.csv")
oldconfs=oldconfs.astype({"School":"string"})
oldconfs= oldconfs[oldconfs['School'].notna()]
import requests
import requests
import json

teams=set(df22.Schl.tolist()+df22.Opp.tolist()+oldconfs.School.tolist())
import numpy as np
hbcus=['Texas Southern','Coppin State','Morgan State','North Carolina Central','Morgan State','Howard','Norfolk State','South Carolina State','Delaware State','Grambling','Southern','Alcorn State','North Carolina A&T','Tennessee State','Chicago State','Hampton','Bethune-Cookman','Alabama A&M','Prairie View A&M','Mississippi Valley State','Alabama State','Arkansas-Pine Bluff','Florida A&M','Jackson State','Maryland-Eastern Shore']
for team in teams:
    
    if(pd.isnull(team)!=True):
        eloLeague.addPlayer(team, rating = 1500)  
w=0
l=0

import pandas as pd
from datetime import datetime




df22 = df22[df22['Opp'].notna()]

otamy=[]
confdf.dropna()
msqe12=[]
cols=['Unnamed: 0', 'Rk', 'School', 'Conf', 'Year', 'W', 'L']
df2 = {'Unnamed: 0':'t','Rk':4,'School':'Hiram','Conf':'Independent','Year':1893,'W':1,'L':0}
oldconfs.append(df2,ignore_index=True)
msqe=[]
otmx=[]
w=0
wz=0
tdsz={}
df22["Year"]=df22['Year']
df22=df22[df22.Year!='Year']
df22=df22.astype({"Year":"string"})
df22['Year']=df22['Year'].str.replace('-49','')
df22['Year']=df22['Year'].str.replace('-50','')
df22['Year']=df22['Year'].str.replace('-51','')
df22['Year']=df22['Year'].str.replace('-52','')
df22['Year']=df22['Year'].str.replace('-53','')
df22['Year']=df22['Year'].str.replace('-54','')
df22['Year']=df22['Year'].str.replace('-55','')
df22['Year']=df22['Year'].str.replace('-56','')
df22['Year']=df22['Year'].str.replace('-57','')
df22['Year']=df22['Year'].str.replace('-58','')
df22['Year']=df22['Year'].str.replace('-59','')
df22['Year']=df22['Year'].str.replace('-60','')
df22['Year']=df22['Year'].str.replace('-61','')
df22['Year']=df22['Year'].str.replace('-62','')
df22['Year']=df22['Year'].str.replace('-63','')
df22['Year']=df22['Year'].str.replace('-64','')
df22['Year']=df22['Year'].str.replace('-65','')
df22['Year']=df22['Year'].str.replace('-66','')
df22['Year']=df22['Year'].str.replace('-67','')
df22['Year']=df22['Year'].str.replace('-68','')
df22['Year']=df22['Year'].str.replace('-69','')
df22['Year']=df22['Year'].str.replace('-70','')
df22['Year']=df22['Year'].str.replace('-71','')
df22['Year']=df22['Year'].str.replace('-72','')
df22['Year']=df22['Year'].str.replace('-73','')
df22['Year']=df22['Year'].str.replace('-74','')
df22['Year']=df22['Year'].str.replace('-75','')
df22['Year']=df22['Year'].str.replace('-76','')
df22['Year']=df22['Year'].str.replace('-77','')
df22['Year']=df22['Year'].str.replace('-78','')
df22['Year']=df22['Year'].str.replace('-79','')
df22['Year']=df22['Year'].str.replace('-80','')
df22['Year']=df22['Year'].str.replace('-81','')
df22['Year']=df22['Year'].str.replace('-82','')
df22['Year']=df22['Year'].str.replace('-83','')
df22['Year']=df22['Year'].str.replace('-84','')
df22['Year']=df22['Year'].str.replace('-85','')
df22['Year']=df22['Year'].str.replace('-86','')
df22['Year']=df22['Year'].str.replace('-87','')
df22['Year']=df22['Year'].str.replace('-88','')
df22['Year']=df22['Year'].str.replace('-89','')
df22['Year']=df22['Year'].str.replace('-90','')
df22['Year']=df22['Year'].str.replace('-91','')
df22['Year']=df22['Year'].str.replace('-92','')
df22['Year']=df22['Year'].str.replace('-93','')
df22['Year']=df22['Year'].str.replace('-94','')
df22['Year']=df22['Year'].str.replace('-95','')
df22['Year']=df22['Year'].str.replace('-96','')
df22['Year']=df22['Year'].str.replace('-97','')
df22['Year']=df22['Year'].str.replace('-98','')
df22['Year']=df22['Year'].str.replace('-99','')
df22['Year']=df22['Year'].str.replace('-02','')
df22['Year']=df22['Year'].str.replace('-03','')
df22['Year']=df22['Year'].str.replace('-04','')
df22['Year']=df22['Year'].str.replace('-05','')
df22['Year']=df22['Year'].str.replace('-06','')
df22['Year']=df22['Year'].str.replace('-07','')
df22['Year']=df22['Year'].str.replace('-08','')
df22['Year']=df22['Year'].str.replace('-09','')
df22['Year']=df22['Year'].str.replace('-16','')
df22['Year']=df22['Year'].str.replace('-17','')
df22['Year']=df22['Year'].str.replace('-18','')
df22['Year']=df22['Year'].str.replace('-19','')
df22['Year']=df22['Year'].str.replace('-20','')
df22['Year']=df22['Year'].str.replace('-21','')
df22['Year']=df22['Year'].str.replace('-22','')
df22['Year']=df22['Year'].str.replace('-91','')
df22['Year']=df22['Year'].str.replace('-92','')
df22['Year']=df22['Year'].str.replace('-93','')
df22['Year']=df22['Year'].str.replace('-94','')
df22['Year']=df22['Year'].str.replace('-95','')
df22['Year']=df22['Year'].str.replace('-96','')
df22['Year']=df22['Year'].str.replace('-97','')
df22['Year']=df22['Year'].str.replace('-98','')
df22['Year']=df22['Year'].str.replace('-99','')
df22['Year']=df22['Year'].str.replace('-00','')
df22['Year']=df22['Year'].str.replace('-01','')
df22['Year']=df22['Year'].str.replace('-10','')
df22['Year']=df22['Year'].str.replace('-12','')
df22['Year']=df22['Year'].str.replace('-11','')
df22['Year']=df22['Year'].str.replace('-13','')
df22['Year']=df22['Year'].str.replace('-14','')
df22['Year']=df22['Year'].str.replace('-15','')
df22['Year']=df22['Year'].str.replace('-23','')
df22=df22[df22.Year!='Year']
df22['Year']=df22['Year'].str.replace("2023-28","2023")
df22['Year']=df22['Year'].str.replace("2023-29","2023")
df22['Year']=df22['Year'].str.replace("2023-26","2023")
df22['Year']=df22['Year'].str.replace("2023-27","2023")
df22['Year']=df22['Year'].str.replace("2023-24","2023")
df22['Year']=df22['Year'].str.replace("2023-30","2023")
df22['Year']=df22['Year'].str.replace("2023-31","2023")
df22=df22.astype({"Year":float})
df22['yearz']=df22['Year']
for season in df22.Year.unique():
    tdsz[str(season)]={}
for season in oldconfs.Year.unique():
    tdsz[str(season)]={}
import requests
msqe13=[]
msqe14=[]
msqe15=[]
msqe={}

df22=df22.astype({'PTS':float,'OPP':float,'Schl':'string','Opp':'string'})
df22['OT']=0
df22= df22.drop_duplicates()
mova={}
dm={}
confdf=pd.read_csv("https://github.com/easella/ncaah/blob/main/ncaabconfs.csv?raw=true")
confdf=confdf.astype({"School":"string"})
confdf= confdf[confdf['School'].notna()]
oldconfs=pd.read_csv("https://ontheroadtovote.com/ncaab/old.csv")
oldconfs=oldconfs.astype({"School":"string"})

df22['Year'].replace(23,2023.0,inplace=True)
print("standings")

df22['neutral']=df22['neutral'].replace(" True",True)
df22['neutral']=df22['neutral'].replace("True ",True)
oldconfs=oldconfs[oldconfs['Rk'].notna()]
yr=requests.get("https://ontheroadtovote.com/ncaab/steams.json")
yr=yr.json()
oldconfs=oldconfs.astype({"School":"string"})
df22['neutral']=df22['neutral'].str.replace("w","False")
df22=df22.replace("Sam Houston State","Sam Houston")
df22=df22.drop_duplicates()
for team in yr:
    oldconfs=oldconfs.replace(team,yr[team])
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/coaches2.csv")
coaches={}
confs={}
for i in range(1892,1950):
    coaches[i]={}
    confs[i]={}
for row in oldconfs.itertuples():
    s=row.School
    s=s.replace("FDU",'Fairleigh Dickinson')
    s=s.replace("UCF","Central Florida")
    confs[row.Year][s]=row.Conf

for row in df.itertuples():
    coaches[float(row.Year)][row.School]=row.Coach
currSeason=1896

for game in oldconfs.itertuples():
    season=float(game.Year)
    
    
    if(season)>currSeason:
        lseason=season-1
        for key in eloLeague.ratingDict.keys():
            eloLeague.ratingDict[key]=(eloLeague.ratingDict[key]*0.65)+(1500*0.35)
                
            
        currSeason=season
    eloLeague.ratingDict[game.School]+=(game.W*25)
    eloLeague.ratingDict[game.School]-=(game.L*25)
print('done')
cd={}
for year in confdf.Year.unique():
    cd[year]={}
for row in confdf.itertuples():
    cd[year][row.School]={}
    cd[year][row.School]['w']=0
    cd[year][row.School]['l']=0
rest={}
didp=0
currSeason=1948
df22=df22.astype({"Venue":"string","yearz":"string","neutral":"string"})
df22=df22[df22.Date<str(date.today())]
hfa=[]
df22=df22[df22.PTS!=1]
df22[df22.PTS!=0]
df22=df22[df22.PTS!=2]
df22[df22.PTS!=2]
df22=df22.drop_duplicates()
nn=df22[df22.neutral=='False']
for row in nn.itertuples():
    if row.Venue=='vs':
        if row.Schl in years[row.Year]:
            diff=row.PTS-row.OPP
            hfa.append(diff)
    else:
        if row.Opp in years[row.Year]:
            diff=row.OPP-row.PTS
            hfa.append(diff)
print(len(hfa))
hfa=np.mean(hfa) 
hfa=round(hfa)
hfa=hfa*25
restz=[]
df22=df22.drop_duplicates()
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/coaches.csv")
df=df.replace("USC",'Southern California')
df=df.replace("NYU",'New York University')
df=df.replace("St. Peter's","Saint Peter's")
coaches={}

for i in range(1949,2024):
    coaches[i]={}
df=df.replace("UT-Martin","Tennessee-Martin")
for row in df.itertuples():
    coaches[float(row.Year)][row.School]=row.Coach
ap={}
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ap.csv")
df=df.replace("USC",'Southern California')
df=df.replace("NYU",'New York University')
df=df.replace("St. Peter's","Saint Peter's")
coaches[1950]['Gettysburg']='Henry T. Bream'
coaches[1973]['Northern Colorado']='Thurm Wright'
coaches[1974]['Northern Colorado']='Thurm Wright'
coaches[1975]['Northern Colorado']='Thurm Wright'
coaches[1976]['Northern Colorado']='Thurm Wright'
coaches[1977]['Northern Colorado']='Thurm Wright'
coaches[1950]['Gettysburg']='Henry T. Bream'
coaches[2001]['Lipscomb']='Scott Sanderson'
coaches[2002]['Lipscomb']='Scott Sanderson'
for i in range(1961,2024):
    ap[i]={}
hfa=75
df=df.replace("UT-Martin","Tennessee-Martin")
for row in df.itertuples():
    ap[float(row.Year)][row.School]=row.Pre
for i in range(9,22):
    msqe[str(i)]=set()

hbcus={}
arr={}
for i in range(1973,2024):
    hbcus[float(i)]=[]
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/cbbstandings.csv")
confs={}
for i in range(1949,2025):
    confs[i]={}
df=df.replace("PCC (North)","PCC")
df=df.replace("PCC (South)","PCC")
df=df.replace("Mid-Atl (Eastern)","Mid-Atl")
df=df.replace("Mid-Atl (Western)","Mid-Atl")
df=df.replace("Mid-Atl (East)","Mid-Atl")
df=df.replace("Mid-Atl (West)","Mid-Atl")
df=df.replace("ECC (West)","ECC")
df=df.replace("ECC (East)","ECC")
df=df.replace("ECBL (East)","ECBL")
df=df.replace("ECBL (West)","ECBL")
df=df.replace("EAA (West)","EAA")
df=df.replace("EAA (East)","EAA")
df=df.replace("ECACM (North)","ECACM")
df=df.replace("ECACM (South)","ECACM")
df=df.replace("A-10 (East)","A-10")
df=df.replace("A-10 (West)","A-10")
df=df.replace("MAAC (South)","MAAC")
df=df.replace("MAAC (North)","MAAC")
df=df.replace("CUSA (Blue)","CUSA")
df=df.replace("CUSA (Red)","CUSA")
df=df.replace("CUSA (White)","CUSA")
df=df.replace("Big East (East)","Big East")
df=df.replace("MAC (East)","MAC")
df=df.replace("SEC (East)","SEC")
df=df.replace("Southern (North)",'Southern')
df=df.replace("Southern (South)","Southern")
df=df.replace("WAC (Pacific)","WAC")
df=df.replace("CUSA (National)","CUSA")
df=df.replace("TAAC (East)","TAAC")
df=df.replace("Sun Belt (West)","Sun Belt")
df=df.replace("TAAC (West)","TAAC")
df=df.replace("A-Sun (North)","A-Sun")
df=df.replace("MAC (West)","MAC")
df=df.replace("Big East (West)","Big East")
df=df.replace("SEC (West)","SEC")
df=df.replace("Southland (West)","Southland")
df=df.replace("Southland (East)","Southland")
df=df.replace("OVC (East)","OVC")
df=df.replace("OVC (West)","OVC")
df=df.replace("Big South (North)","Big South")
df=df.replace("Big South (South)","Big South")
df=df.replace("A-Sun (East)","A-Sun")
df=df.replace("Patriot (Central)","Patriot")
df=df.replace("WAC (Mountain)","WAC")
df=df.replace("CUSA (American)","CUSA")
df=df.replace("Big West (West)","Big West")
df=df.replace("CUSA (East)","CUSA")
df=df.replace("Patriot (North)","Patriot")
df=df.replace("CUSA (West)","CUSA")
df=df.replace("A-Sun (West)","A-Sun")
df=df.replace("Patriot (South)","Patriot")
df=df.replace("A-Sun (South)","A-Sun")
df=df.replace("MEAC (Southern)","MEAC")
df=df.replace("MEAC (Northern)","MEAC")
df=df.replace("Sun Belt (East)","Sun Belt")
df=df.replace("Big West (West)","Big West")
df=df.replace("Big West (East)","Big West")
df=df.replace("Big East (Big East 6)","Big East")
df=df.replace("Big East (Big East 7)","Big East")
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
for row in standings.itertuples():
    if float(row.Year)>1948:
        confs[float(row.Year)][str(row.Schl)]=str(row.Conference)
for row in df.itertuples():
    s=row.School
    s=s.replace("FDU",'Fairleigh Dickinson')
    s=s.replace("UCF","Central Florida")
    confs[row.Year][s]=row.Conf
    


df22['Schl']=df22['Schl'].str.replace("Savannah St","Savannah State")
df22['Opp']=df22['Opp'].str.replace("Savannah St","Savannah State")
df22['Schl']=df22['Schl'].replace("Birmingham So","Birmingham-Southern")
df22['Opp']=df22['Opp'].replace("Birmingham So","Birmingham-Southern")
df22=df22.replace("Texas Christian",'TCU')
df22=df22.sort_values(by='Date')
preds={}
swac=['Grambling','Alcorn State',"Jackson State",'Prairie View','Texas Southern','Arkansas-Pine Bluff','Southern','Bethune-Cookman','Alabama State','Florida A&M','Alabama A&M','Mississippi Valley State']
meac=['North Carolina Central','Coppin State','Maryland-Eastern Shore','Norfolk State','Howard','South Carolina State','Morgan State','Delaware State']
for i in range(1949,1973):
    hbcus[i]=[]
confy={}
for conf in set(df.Conf.tolist()):
    confy[conf]=[]

confy={}
for conf in set(df.Conf.tolist()):
    confy[conf]={}
for row in df.itertuples():
    confy[row.Conf][float(row.Year)]=[]
for row in df.itertuples():
    confy[row.Conf]=[]
for game in df22.itertuples():
    if game.Schl in years[game.Year] and game.Opp in years[game.Year]:
        
        if confs[float(game.Year)][game.Schl]!=confs[float(game.Year)][game.Opp]:
            sconf=confs[float(game.Year)][game.Schl]
            confy[sconf].append(game.PTS-game.OPP)
            oconf=confs[float(game.Year)][game.Opp]
            confy[oconf].append(game.OPP-game.PTS)
df22=df22.replace("Savannah Stateate","Savannah State")

eloLeague.addPlayer("Savannah State",rating=1500)
hfas={}
df22['neutral']=df22['neutral'].fillna("False")
for game in df22.itertuples():
    
    if game.Schl in years[game.Year] and game.Opp in years[game.Year]:
        if game.neutral==True or game.neutral=='True':
            m=1
        else:
            
            sc=confs[game.Year][game.Schl]
            oc=confs[game.Year][game.Opp]
            if sc not in hfas:
                hfas[sc]=[]
            if oc not in hfas:
                hfas[oc]=[]
            if game.Venue!='@':
                hfas[sc].append(game.PTS-game.OPP)
            else:
                hfas[oc].append(game.OPP-game.PTS)
j=[]
import numpy as np
for key in hfas:
    j.append(np.mean(hfas[key]))
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/cbbrank.csv")

pwr={}
keys={}
for i in range(2011,2025):
    pwr[i]={}

arrz=[]
for key in hfas:
    
    hfas[key]=(np.mean(hfas[key])*0.50)
    hfas[key]=(hfas[key])*25
    hfas[key]=round(hfas[key],-1)
import pandas as pd
from bs4 import BeautifulSoup
import requests
arr=[]
for i in range(2015,2025):
    
    url="https://barttorvik.com/trank-time-machine.php?year="+str(i)
    print(url)
    html=requests.get(url).text
    soup=BeautifulSoup(html)
    for tr in soup.find("table").find_all("tr"):
        if 'Rec' not in str(tr) and 'time' in str(tr):
            schl=tr.find_all("td")[1].text
            schl=schl.replace(" St."," State")
            arr.append([schl,tr.find_all("td")[3].text,tr.find_all("td")[4].text,tr.find_all("td")[6].text,tr.find_all("td")[8].text,tr.find_all("td")[11].text,tr.find_all("td")[9].text,i-1,tr.find_all("td")[0].text])
df=pd.DataFrame(arr,columns=['Schl','Record','OFF','DEF','Pwr','?','ProjRecord','Year','Rank'])
df=df.replace("Arkansas Little Rock","Little Rock")
df=df.replace("Arkansas Pine Bluff",'Arkansas-Pine Bluff')
df=df.replace("Bethune Cookman","Bethune-Cookman")
df=df.replace("Louisiana Monroe","Louisiana-Monroe")
df=df.replace("BYU","Brigham Young")
df=df.replace("Cal Baptist","California Baptist")
df=df.replace("Bowling Green","Bowling Green State")
df=df.replace("Detroit","Detroit Mercy")
df=df.replace("Dixie State","Utah Tech")
df=df.replace("Fort Wayne","Purdue Fort Wayne")
df=df.replace("Loyola Chicago","Loyola (IL)")
df=df.replace("Queens","Queens (NC)")
df=df.replace("Detroit","Detroit Mercy")
df=df.replace("Albany","Albany (NY)")
df=df.replace("Central Connecticut","Central Connecticut State")
df=df.replace("North Carolina State","NC State")
df=df.replace("Nebraska Omaha","Omaha")
df=df.replace("USC Upstate","South Carolina Upstate")
df=df.replace("Tennessee Martin","Tennessee-Martin")
df=df.replace("Saint John's (NY)","St. John's (NY)")
df=df.replace("Mount State Mary's","Mount St. Mary's")
df=df.replace("Sam Houston State","Sam Houston")
df=df.replace("LSU","Louisiana State")
df=df.replace("Maryland Eastern Shore","Maryland-Eastern Shore")
df=df.replace("Loyola MD","Loyola (MD)")
df=df.replace("Illinois Chicago","Illinois-Chicago")
df=df.replace("FIU","Florida International")
df=df.replace("IPFW","Purdue Fort Wayne")
df=df.replace("Houston Baptist","Houston Christian")
df=df.replace("Gardner Webb","Gardner-Webb")
df=df.replace("Grambling State","Grambling")
df=df.replace("St. Francis NY","St. Francis (NY)")
df=df.replace("Southern Miss","Southern Mississippi")
df=df.replace("UMass Lowell","Massachusetts-Lowell")
df=df.replace("Tennessee Martin","Tennessee-Martin")
df=df.replace("Texas A&M Corpus Chris","Texas A&M-Corpus Christi")
df=df.replace("Texas A&M Commerce","Texas A&M-Commerce")
df=df.replace("Nebraska Omaha","Omaha")
df=df.replace("UCF","Central Florida")
df=df.replace("UMKC","Kansas City")
df=df.replace("UMBC","Maryland-Baltimore County")
df=df.replace("UNLV","Nevada-Las Vegas")
df=df.replace("USC","Southern California")
df=df.replace("St. John's","St. John's (NY)")
df=df.replace("St. Francis PA","Saint Francis (PA)")
df=df.replace("UT Rio Grande Valley","Texas-Rio Grande Valley")
df=df.replace('USC Upstate',"South Carolina Upstate")
df=df.replace("LSU","Louisiana State")
df=df.replace("LIU Brooklyn","Long Island University")
df=df.replace("Miami OH","Miami (OH)")
df=df.replace("Miami FL","Miami (FL)")
df=df.replace("Louisiana Lafayette","Louisiana")
df=df.replace("Mount State Mary's","Mount Saint Mary's")
df=df.replace("Penn","Pennsylvania")
df=df.replace("SIU Edwardsville","Southern Illinois-Edwardsville")
df=df.replace("SMU","Southern Methodist")
df=df.replace("Prairie View A&M","Prairie View")
df=df.replace("Saint Mary's","Saint Mary's (CA)")
df=df.replace("Sam Houston State","Sam Houston")
df=df.replace("Albany","Albany (NY)")
df=df.replace("VMI","Virginia Military Institute")
df=df.replace("VCU","Virginia Commonwealth")
df=df.replace("Queens","Queens (NC)")
df=df.replace("North Carolina State","NC State")
for row in df.itertuples():
    pwr[float(row.Year)][row.Schl]=float(row.Rank)
ranks={}
for i in range(2014,2025):
    ranks[float(i)]={}
for row in df.itertuples():
    ranks[float(row.Year)][row.Schl]=str(row.ProjRecord)
    
for game in df22.itertuples():
    s=game.Schl
    o=game.Opp
    o=o.strip()
    s=s.strip()
    season=game.Year
    if s not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(s,rating=1500)
    if o not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(o,rating=1500)
    while (season)>currSeason: 
        games=0
        rest={}
        confz={}
        m=[]
        if game.Year>2013:
            for key in pwr[game.Year]:
                m.append(pwr[game.Year][key])
            m=np.mean(m)
        
        for key in eloLeague.ratingDict.keys():
            if  season>1960 and key in ap[season]:
                if str(ap[season][key]).strip()!='nan':
                    app=((25/ap[season][key])*25)
                    app=app*0.65
                    eloLeague.ratingDict[key]+=app
        for key in confs[game.Year]:
            conf=confs[game.Year][key]
            if conf not in confz:
                confz[conf]=[]
            if key not in eloLeague.ratingDict.keys():
                eloLeague.addPlayer(key,rating=1500)
            confz[conf].append(eloLeague.ratingDict[key])
        for conf in confs[game.Year]:
            if conf not in eloLeague.ratingDict.keys():
                eloLeague.addPlayer(conf,rating=1500)
        for key in eloLeague.ratingDict.keys():
            if key not in years[game.Year]:
                eloLeague.ratingDict[key]=(eloLeague.ratingDict[key]*0.65)+(1500*0.35)
            
            if key in years[game.Year]:
                if game.Year>2013:
                    r=pwr[game.Year][key]
                    rat=len(pwr[game.Year].keys())-(r-1)
                    eloLeague.ratingDict[key]+=(rat*(0.65))
                    win=ranks[float(game.Year)][key]
                    loss=win.split("-")[1]
                    win=win.split("-")[0]
                    win=float(win)
                    loss=float(loss)
                    num=(win*5)-(loss*5)
                    eloLeague.ratingDict[key]+=(num*(0.65))
                numz=np.mean(confy[confs[game.Year][key]])
                numz=round(float(numz))*25
                
                
                num=1500+numz
                
                eloLeague.ratingDict[key]=(eloLeague.ratingDict[key]*0.65)+(1500*0.35)
                
                 
                    
        currSeason=season
        if game.Year==2023:
            for key in years[2023]:
                arrz.append([key,confs[game.Year][key],eloLeague.ratingDict[key]])
    
    sp=0
    op=0
    s=str(game.Schl)
    o=str(game.Opp)
    o=o.strip()
    s=s.strip()
    
    if (game.Schl in swac or game.Opp in swac)and(str(o) in years[2023] and str(s) in years[2023])and('2023' in str(game.Year)):
        if 'True' in str(game.neutral):
            hf=0
            
        
        if game.Venue=='@' and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Opp]]
            hr=eloLeague.ratingDict[game.Schl]
            ar=eloLeague.ratingDict[game.Opp]+hf
        if game.Venue=='vs'  and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Schl]]
            hr=eloLeague.ratingDict[game.Schl]+hf
            ar=eloLeague.ratingDict[game.Opp]
        if hr>ar:
            spread=round((hr-ar)/17)
            if spread==0:
                spread=1
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            name="On "+str(game.Date)+" "+str(game.Schl)+" beats "+str(game.Opp)+" by "+str(spread)
            keys[name]=game.Date   
        if ar>hr:
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            spread=round((ar-hr)/17)
            if spread==0:
                spread=1
            
            name="On "+str(game.Date)+" "+str(game.Opp)+" beats "+str(game.Schl)+" by "+str(spread)
            keys[name]=game.Date            
        
    hf=75
    if(game.Venue=='@'):
        if game.Opp not in years[game.Year]:
            hf=50
    else:
        if game.Schl not in years[game.Year]:
            hf=50
    t1r=0
    t2r=0
    games+=1
    k=25
    k=round(k)
    if(game.PTS>game.OPP):
        
        homezz=0
        
        if(game.Venue!='@'):
            winnerHomez=True
            if game.Schl in years[game.Year]:
                hf=hfas[confs[game.Year][game.Schl]]
            else:
                hf=50
        if(game.Venue=='@'):
            winnerHomez=False
            if game.Opp in years[game.Year]:
                hf=hfas[confs[game.Year][game.Opp]]
            else:
                hf=50
        if 'True'  in str(game.neutral):
            hf=0
        
        if(winnerHomez==True):
            t1e=eloLeague.ratingDict[game.Schl]+homezz-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]-op+t2r
            if(eloLeague.ratingDict[game.Schl]+homezz-sp>eloLeague.ratingDict[game.Opp]-op):
                w+=1
            if(eloLeague.ratingDict[game.Schl]+homezz-sp<eloLeague.ratingDict[game.Opp]-op):
                l+=1
        if(winnerHomez!=True):
            t1e=eloLeague.ratingDict[game.Schl]-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]+homezz-op+t2r
            if(eloLeague.ratingDict[game.Schl]-sp>eloLeague.ratingDict[game.Opp]+homezz-op):
                w+=1
            if(eloLeague.ratingDict[game.Schl]-sp<eloLeague.ratingDict[game.Opp]+homezz-op):
                l+=1  
        
        eloLeague.gameOver(s,o,winnerHomez,game.neutral,game.PTS,game.OPP,game.Year,game.Date,sp,op,hf,k)
    if(game.PTS<game.OPP):
        homezz=0
        
        if(game.Venue=='@'):
            if game.Schl in years[game.Year]:
                hf=hfas[confs[game.Year][game.Schl]]
            else:
                hf=50
            winnerHomez=True
        if(game.Venue!='@'):
            if game.Opp in years[game.Year]:
                hf=hfas[confs[game.Year][game.Opp]]
            else:
                hf=50
            winnerHomez=False
        if 'True'  in str(game.neutral):
            homezz=0
        if(winnerHomez==True):
            t1e=eloLeague.ratingDict[game.Schl]-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]+homezz-op+t2r
            if(eloLeague.ratingDict[game.Schl]-sp>eloLeague.ratingDict[game.Opp]+homezz-op):
                l+=1
            if(eloLeague.ratingDict[game.Schl]-sp<eloLeague.ratingDict[game.Opp]+homezz-op):
                w+=1
            
        
        if(winnerHomez!=True):
            t1e=eloLeague.ratingDict[game.Schl]+homezz-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]-op+t2r
            if(eloLeague.ratingDict[game.Schl]+homezz-sp>eloLeague.ratingDict[game.Opp]-op):
                l+=1
            if(eloLeague.ratingDict[game.Schl]+homezz-sp<eloLeague.ratingDict[game.Opp]-op):
                w+=1
        
        eloLeague.gameOver(o,s,winnerHomez,game.neutral,game.OPP,game.PTS,game.Year,game.Date,op,sp,hf,k)
    d1=(s in years[game.Year] or o in years[game.Year])
    for i in range(9,22):
        spread=abs((t1e-t2e)/float(i))
        spread=round(spread)
        if spread==0:
            spread=1
        ms=(float(game.PTS)-float(game.OPP))-spread
        
        msz = np.square(ms)
        if d1==True:
            msqe[str(i)].add(msz)
        
import numpy as np
msqez={}
for i in range(9,22):
    msqez[str(i)]=0
for i in range(9,22):
    msqez[str(i)]=sum(msqe[str(i)])/len(msqe[str(i)])
mas=min(msqez, key=msqez.get)
print("--- %s seconds ---" % (time.time() - start_time))

done files
no
neutral
home
playoff
[False  True]
[ True False]
['2024-03-22', ' Purdue', ' 78', ' Grambling', '  50', ' P', '  Indianapolis', '  IN ']
  IN

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

[False True nan]
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/hawaii.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/Boise.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/hofstra.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/Mizzou.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/houston.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/Oregon.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/houstonchr.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/Stanford.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/howard.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/Texas.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/idaho.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/UTEP.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/idahostate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/UTSA.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/illinois.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/aamu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/indiana.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/abilene.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/indianastate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/airforce.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/iowa.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/akron.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/iowastate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/alabama.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/dayton.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/alabamastate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/jacksonstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/alcorn.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/jacksonville.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/american.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/jmu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/app.php
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/johncarroll.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/appstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/kansas.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/arkansas.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/depaul.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/arkansasstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/drake.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/armstrong.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/kansascity.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/army.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/kansasstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/auburn.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/detroitm.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/augustastate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/drexel.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/austinpeay.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ecu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ballstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/kennesaw.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/baylor.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/kentstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/bethune.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/eiu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/birmingham.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/georgemason.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/bostoncol.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/kywesleyan.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/bradley.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/lamar.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/brooklyn.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/lehigh.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/bryant.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/liberty.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/bucknell.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/lipscomb.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/buffalo.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/littlerock.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/butler.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/liu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/byu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/furman.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/calfullerton.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/georgetown.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/calirvine.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/llinoisstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/campbell.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/longbeach.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/canisius.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/longwood.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/catholic.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/louisiana.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ccny.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/louisianatech.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ccsu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/georgia.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/centralark.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/georgiasouthern.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/charlestonso.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/georgiastate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/charlotte.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/georgiatech.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/chattanooga.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/gettysburg.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/chicagostate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/louisville.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/citadel.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/loyolamd.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/cmu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/grambling.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/coastalcarolina.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/davidson.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/miamifl.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/collegeofcharleston.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/greenbay.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/coloradostate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/lsu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/coppin.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/marist.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/csun.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/gwashington.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/eku.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/hartford.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/evansville.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/marquette.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ewu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/loyolail.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/fairfield.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/maryland.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/famu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/mcneese.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/fdu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/memphis.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/fgcu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/mercer.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/florida.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/harvard.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/floridaintl.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/miamioh.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/michigan.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/michiganstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/milwaukee.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/minnesota.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/mississipi.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/monmouth.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/montanastate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/morehead.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/morganstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/murraystate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/mvsu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ncat.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/nccentral.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ncolorado.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ncstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ndakotastate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/nebraska.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/newmexico.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/neworleans.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/nflorida.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/nicholls.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/niu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/njcaa.csv
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/njit.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/northdakota.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/northernarizona.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/northerniowa.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/notredame.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/nsu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/nwestern.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/nyu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ohiostate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/okstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/oregonstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/pacific.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/pepperdine.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/pittsburgh.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/portlandstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/presbyterian.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/providence.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/purdue.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/pvam.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/radford.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/regisco.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/rice.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/robertmorris.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/sacstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/saintpeters.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/samford.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/samhoustonstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/sandiego.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/sandiegostate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/sanfrancisco.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/scarolina.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/scstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/seattle.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/sela.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/semo.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/siena.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/siue.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/sjose.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/smu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/somiss.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/southalabama.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/southdakotast.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/southernillinois.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/southernu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/southflorida.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/stephenfaustin.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/stetson.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/stjoes.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/stmarys.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/syracuse.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/tcu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/temple.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/tennessee.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/tennesseestate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/tennesseetech.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/texasa&m.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/texassouthern.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/texasstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/toledo.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/towson.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/tulane.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/tulsa.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/txa&mcc.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/txtech.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/uab.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ucf.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ucla.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/uconn.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/uic.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/umbc.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/umes.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/uncasheville.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/uncw.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/unlv.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/utah.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/utahstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/utarlington.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/utica.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/utmartin.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/utrgv.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/uva.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/valpo.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/vcu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/virginiatech.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/vmi.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/wagner.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/wakeforest.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/washington.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/washingtonstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/weberstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/westernillinois.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/westetexsam.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/wichita.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/winthrop.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/wisconsin.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/wku.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/wrightstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/wyo.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/yale.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/youngstown.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/oralrbts.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/sfranbrk.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/usc.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/montana.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/stlouis.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/pennstate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/cincinatti.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/LaSalle.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/missingcbb.csv
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/Fordham.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/fresnostate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/lmu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/coaches.csv
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/coaches2.csv
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/nevada.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/sclara.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ap.csv
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/rutgers.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/stjohns.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/colgate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/allcfb.csv
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/princeton.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/vermont.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/dartmouth.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/nova.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/setonhall.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ohio.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/floridastate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/arizona.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/odu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/northtexas.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/newhampshire.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/columbia.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/penn.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/cornell.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/brown.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/Niagara.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/Xavier.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/Creighton.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/denver.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/emu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/wmu.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/newmexicostate.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/William%20and%20Mary.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/navy.txt
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/nbapre.csv
https://ontheroadtovote.com/ncaab/d1vsnond1/teams/
standings
done
16875
https://barttorvik.com/trank-time-machine.php?year=2015
https://barttorvik.com/trank-time-machine.php?year=2016
https://barttorvik.com/trank-time-machine.php?year=2017
https://barttorvik.com/trank-time-machine.php?year=2018
https://barttorvik.com/trank-time-machine.php?year=2019
https://barttorvik.com/trank-time-machine.php?year=2020
https://barttorvik.com/trank-time-machine.php?year=2021
https://barttorvik.com/trank-time-machine.php?year=2022
https://barttorvik.com/trank-time-machine.php?year=2023
https://barttorvik.com/trank-time-machine.php?year=2024
--- 439.39658999443054 seconds ---

In [91]:
df22

,Schl,Opp,PTS,OPP,Year,Date,neutral,Venue,Yearz
0,Doane,Sterling,84,73,2020,2020-10-21 00:00:00,False,vs,2020
1,Xavier LA,Southeastern Bap,79,58,2020,2020-10-21 00:00:00,False,vs,2020
2,Warner,Johnson FL,103,52,2020,2020-10-22 00:00:00,False,vs,2020
3,Dickinson St ND,MT Tech,82,59,2020,2020-10-23 00:00:00,False,vs,2020
4,Indiana NW,Waldorf,89,77,2020,2020-10-23 00:00:00,False,@,2020
...,...,...,...,...,...,...,...,...,...
930801,Navy,Delaware,79,76,1956,1957-02-26 00:00:00,False,vs,1956
930802,Navy,American,70,67,1957,1957-12-03 00:00:00,False,@,1957
930803,Navy,Haverford,65,55,1957,1957-12-06 00:00:00,False,@,1957
930804,Navy,Delaware,61,50,1957,1957-12-11 00:00:00,False,@,1957
930805,Navy,Gettysburg,63,45,1957,1958-01-08 00:00:00,False,vs,1957

In [103]:
rh={}
u=[]
for team in years[2023]:
    rh[team]=(eloLeague.ratingDict[team])
    u.append(eloLeague.ratingDict[team])
rh=sorted(rh, key=rh.get, reverse=True)
i=1
print(np.mean(u))
print("Rank||Team||Points Above d1 Average")
for key in rh:
    print(str(i)+"  "+key+"  "+str(eloLeague.ratingDict[key]-np.mean(u))+"")
    i+=1

1761.0955772918744
Rank||Team||Points Above d1 Average
1  Connecticut  600.2309432680547
2  Purdue  496.2765448979278
3  Houston  458.4109896571242
4  Gonzaga  442.47280699518365
5  Iowa State  406.4843572319421
6  Auburn  404.7361270735021
7  Duke  383.7539743077216
8  Illinois  381.9632160609542
9  North Carolina  379.69748879090935
10  Tennessee  378.35989167041157
11  Arizona  369.5843843924024
12  Alabama  351.1657809843912
13  Marquette  344.3694214047789
14  Creighton  344.22597464091064
15  San Diego State  341.88881178812903
16  Saint Mary's (CA)  341.8067536440492
17  Texas  309.5755259043742
18  Kentucky  301.6208773991441
19  Florida Atlantic  298.3882830893788
20  NC State  294.0484930506443
21  Baylor  293.92564236648536
22  Texas A&M  289.5042054496587
23  Kansas  286.787293674862
24  Colorado  283.2928228948854
25  Florida  276.8031076324489
26  Clemson  270.90455223343633
27  Utah State  270.63003151174667
28  Michigan State  269.05026808685807
29  New Mexico  261.900817831063
30  Wisconsin  261.22900120469035
31  Drake  260.6835524817941
32  Grand Canyon  260.51129856117905
33  Texas Tech  260.48489596387026
34  Memphis  260.2040810800888
35  Nevada  258.0803072310498
36  Dayton  254.39303314461495
37  Oregon  253.39087525815785
38  Mississippi State  251.59846854183957
39  Seton Hall  251.43888897839474
40  Brigham Young  249.17312773297158
41  James Madison  243.95059186075218
42  Colorado State  241.31900181268293
43  Indiana State  241.13090499664736
44  Northwestern  238.44687277324033
45  Washington State  235.97744311174438
46  St. John's (NY)  233.16716612471873
47  Ohio State  232.76630449526397
48  Nebraska  229.7936484235106
49  TCU  226.5300043586526
50  Cincinnati  222.53987307787042
51  Pittsburgh  220.70560228681347
52  Boise State  219.7553337223576
53  College of Charleston  215.91561551705968
54  Villanova  206.51341255040165
55  Oklahoma  198.07256611085245
56  Vermont  195.76679504484468
57  Virginia Commonwealth  193.75560617721294
58  UCLA  185.63649289552632
59  Kansas State  184.0112427840636
60  Utah  184.00746888261642
61  Iowa  183.82293622040288
62  South Carolina  182.52263126027788
63  Duquesne  182.2864764371693
64  San Francisco  181.99598992679785
65  Yale  180.41168286801826
66  Providence  178.6003193691647
67  UAB  176.85415819696482
68  North Texas  176.75110133931912
69  Wake Forest  176.22587725800963
70  Xavier  175.15352603426481
71  UC Irvine  173.2673095028697
72  Bradley  171.40148438563892
73  Princeton  170.09943500308918
74  Southern California  163.7712303781036
75  Samford  163.5699604367867
76  Maryland  159.25838563103048
77  Appalachian State  156.8667986049934
78  Nevada-Las Vegas  154.28471021236737
79  Virginia Tech  152.35513482052397
80  Virginia  150.58538102159832
81  Washington  148.42774598077335
82  Indiana  147.57431737388333
83  Boston College  140.1294707203533
84  Central Florida  139.1980749348354
85  South Florida  135.0856120558974
86  Sam Houston  129.7991740607033
87  Loyola (IL)  128.11108279342102
88  Penn State  125.27412844668197
89  Louisiana Tech  123.18019053034118
90  Akron  121.23275832427521
91  Colgate  118.5146441941074
92  Richmond  118.03333746006842
93  Santa Clara  115.75104966456502
94  Cornell  115.47767293100674
95  Arkansas  114.54883484964535
96  Hofstra  113.51693898743883
97  McNeese State  113.37299864524402
98  Syracuse  110.13418164526502
99  Seattle  109.8163340649503
100  Southern Methodist  105.39214758301114
101  UT Arlington  100.94613220029782
102  Saint Joseph's  99.91653948576845
103  Mississippi  99.06510536371388
104  Morehead State  97.47902886110683
105  South Dakota State  96.6543180783217
106  Belmont  96.53989299066802
107  Western Kentucky  94.4701361321197
108  Massachusetts  93.79635830790266
109  Tarleton State  93.08466193076856
110  UNC Wilmington  90.9271253327936
111  Louisiana State  89.48043982050694
112  Butler  88.57694831922095
113  George Mason  87.51045915622217
114  Toledo  86.03171022904098
115  Ohio  81.87401939056826
116  Charlotte  79.83283037971637
117  Rutgers  78.72240361445688
118  St. Bonaventure  77.65125842452721
119  Georgia  77.27741479302108
120  Miami (FL)  75.68033779075199
121  Florida State  75.66575497950998
122  High Point  75.42910997376248
123  Stanford  75.11910011708028
124  Northern Iowa  71.99482669859435
125  Oklahoma State  70.80320191387932
126  Massachusetts-Lowell  67.99717781974596
127  Arkansas State  66.0222905632811
128  Drexel  60.722893042850956
129  UNC Asheville  58.8174263520325
130  Youngstown State  57.92999780346463
131  Minnesota  56.769973310972546
132  Liberty  56.599635343816544
133  Troy  56.46127943474676
134  Southern Illinois  55.97236241476594
135  Furman  54.86591122097025
136  Kent State  54.49100689286547
137  Western Carolina  51.64728896884685
138  Eastern Washington  48.710298022350116
139  Oakland  48.12876888550636
140  UNC Greensboro  47.886977190201605
141  Wichita State  47.108546148786445
142  Arizona State  46.521182912372296
143  Towson  45.589334155868755
144  Wright State  41.47689156711249
145  Chattanooga  39.86047392096202
146  Hawaii  39.53581837378556
147  Long Beach State  38.678431038506005
148  Lipscomb  37.39159804898827
149  UTEP  36.4960988750056
150  Tulane  32.47050236328573
151  UC San Diego  28.01545342442182
152  Longwood  24.072342313699664
153  Davidson  21.831362662659785
154  Missouri State  21.700786096022284
155  Wyoming  21.630490209831578
156  Louisiana  19.777253048510147
157  Stephen F. Austin  19.2022338290451
158  Utah Valley  18.909931573556833
159  UC Davis  16.896554002274115
160  Bryant  16.165959298708003
161  Montana  14.797021576333691
162  West Virginia  14.142078883238355
163  Northern Kentucky  13.707317285343152
164  Eastern Kentucky  12.324074058368979
165  Norfolk State  11.94024829112027
166  Michigan  9.061069858594237
167  Weber State  8.77810713859003
168  Quinnipiac  5.414713655345622
169  St. Thomas  0.8003909984208804
170  Fairfield  -0.7756103468468609
171  Texas State  -1.5830906650021461
172  Georgia Tech  -3.0499685563445382
173  Temple  -3.1010203637945324
174  Stetson  -3.1520932356097546
175  Notre Dame  -3.423367167360766
176  California  -5.312170173130653
177  Saint Louis  -9.673146385151085
178  Missouri  -12.357800742531026
179  Stony Brook  -14.104443416483946
180  Brown  -17.418524761242452
181  Purdue Fort Wayne  -19.978974803030724
182  Abilene Christian  -20.629016619980803
183  UC Santa Barbara  -23.361085611760927
184  Cleveland State  -24.113015410676553
185  East Tennessee State  -25.065755863157847
186  Milwaukee  -26.524390714800347
187  Delaware  -28.0022666899456
188  Loyola Marymount  -28.80778278964044
189  Montana State  -29.255439652004952
190  Vanderbilt  -29.42191304760263
191  Little Rock  -30.47002587564225
192  Texas A&M-Corpus Christi  -31.040083874408765
193  Fordham  -31.63532359142505
194  UC Riverside  -31.754114429806123
195  South Alabama  -32.029973125902416
196  Murray State  -33.19542891922424
197  Oregon State  -33.47199258922865
198  Florida Gulf Coast  -34.333833149079055
199  Nicholls State  -40.70040974398876
200  Tennessee-Martin  -40.99286557958999
201  Grambling  -41.86976813610681
202  Merrimack  -43.651979666570014
203  Wofford  -44.74457233622775
204  Iona  -45.794193391823
205  East Carolina  -45.900605938019
206  Gardner-Webb  -47.06194789796086
207  La Salle  -49.116552640181226
208  North Dakota  -49.11802687150043
209  Fresno State  -52.03548571131046
210  Cal State Fullerton  -53.0191397898227
211  Mercer  -54.527703129729844
212  California Baptist  -55.289579205167456
213  Radford  -55.80977526924539
214  Kansas City  -57.20587139284817
215  Marshall  -57.95696276993681
216  Rider  -58.80436410405241
217  Saint Peter's  -59.1159141017215
218  Middle Tennessee  -59.172580062333054
219  Winthrop  -60.67516480586596
220  Pepperdine  -62.178007623361054
221  Harvard  -62.52795816384946
222  Jacksonville State  -64.25371171595498
223  San Diego  -67.59065698174845
224  Illinois State  -68.84740237328697
225  Howard  -69.12100287552516
226  Northern Colorado  -69.88488205163026
227  North Florida  -70.2921194973926
228  Queens (NC)  -70.60689933305639
229  Austin Peay  -70.64554384166377
230  Southern Mississippi  -71.00833032947298
231  Kennesaw State  -73.93799493895858
232  Monmouth  -76.90865429264954
233  North Alabama  -77.0433158006731
234  Pennsylvania  -78.41366434078418
235  Marist  -78.50090340522729
236  Bowling Green State  -79.07326931769285
237  Oral Roberts  -79.41420006663247
238  San Jose State  -84.45337808148292
239  Western Illinois  -86.23984192548073
240  Jacksonville  -86.28258381914861
241  Portland  -86.54155923606709
242  North Carolina Central  -86.74888128976818
243  Tulsa  -87.57871644353827
244  Rice  -87.77756702019838
245  North Dakota State  -89.02686697857325
246  Lehigh  -89.57915674152287
247  Georgia State  -95.84443794613276
248  Texas Southern  -98.2660388172626
249  Maine  -98.76229500639693
250  Cal State Bakersfield  -101.50059250662571
251  Rhode Island  -102.1620088518323
252  Southern Utah  -103.44494408660148
253  New Mexico State  -104.79081722803198
254  Mount St. Mary's  -105.42324269926053
255  Air Force  -105.59074354833024
256  Lamar  -106.61410586690181
257  Tennessee State  -107.86626118227969
258  George Washington  -109.19069709011478
259  Central Connecticut State  -110.03309808559584
260  Ball State  -112.44796628082622
261  Idaho State  -114.98407927729158
262  Portland State  -115.15670102682748
263  Cal State Northridge  -116.12766563407854
264  Florida International  -116.71668597659527
265  Wagner  -119.0723303326024
266  Niagara  -120.69369987293362
267  Southern Illinois-Edwardsville  -122.00516778909696
268  Georgia Southern  -123.58450947498773
269  New Hampshire  -125.42748278247223
270  Miami (OH)  -125.90257242205871
271  Binghamton  -126.80590900380139
272  Illinois-Chicago  -128.01205464813916
273  Northeastern  -128.853347085442
274  Boston University  -131.02748166853553
275  Central Michigan  -133.67233452282335
276  Columbia  -135.28205961972048
277  Evansville  -138.26622228692872
278  Omaha  -138.74753030740158
279  Canisius  -138.94975924971186
280  Bucknell  -140.1719863667456
281  Green Bay  -140.23514036023948
282  Denver  -140.35565947852183
283  Alcorn State  -140.42369528157565
284  Georgetown  -144.70515648745868
285  American  -146.36823143123956
286  Sacred Heart  -147.6167910142865
287  Campbell  -149.61170401173058
288  Louisville  -150.429237852783
289  Utah Tech  -150.80649399069102
290  Maryland-Baltimore County  -151.21152827814603
291  Southern  -153.00908438097827
292  Old Dominion  -153.1216021908981
293  Albany (NY)  -154.47811058943353
294  Presbyterian  -155.06447830396996
295  Bellarmine  -163.29304251199437
296  Northern Illinois  -163.85898927172275
297  South Carolina Upstate  -164.1148320725024
298  Chicago State  -165.34200079900575
299  Le Moyne  -166.16894183284717
300  Navy  -172.33818390949614
301  Jackson State  -172.90675212741667
302  Southeastern Louisiana  -174.03173940045167
303  UTSA  -175.15863369253384
304  Louisiana-Monroe  -175.9960267710553
305  Northern Arizona  -177.02696077616952
306  Western Michigan  -180.14628896874888
307  Delaware State  -181.82332730186317
308  Robert Morris  -186.34833954269038
309  Fairleigh Dickinson  -186.88123743862798
310  DePaul  -188.41269931162287
311  Bethune-Cookman  -189.72463958628305
312  South Carolina State  -197.562760426767
313  The Citadel  -201.26651592169105
314  Tennessee Tech  -204.64180716380451
315  Elon  -206.84262453998303
316  Texas A&M-Commerce  -211.07208994545636
317  South Dakota  -211.25116080382713
318  Eastern Illinois  -211.71488221908612
319  Alabama A&M  -215.2682903096695
320  Lafayette  -215.747203657701
321  Sacramento State  -215.970168769446
322  Coastal Carolina  -219.04047756133423
323  Morgan State  -219.48216788408763
324  Charleston Southern  -221.72080322089118
325  Northwestern State  -221.73137475806016
326  Dartmouth  -227.55228100601312
327  Maryland-Eastern Shore  -227.7923612643749
328  William & Mary  -229.95446972243917
329  Eastern Michigan  -231.36472880988117
330  Idaho  -251.46918972144272
331  Valparaiso  -252.35014110819702
332  Southern Indiana  -253.2006147741863
333  Arkansas-Pine Bluff  -254.31471800736063
334  Central Arkansas  -259.14442215551594
335  Hampton  -261.5260039308355
336  New Orleans  -262.2914330803162
337  Alabama State  -262.389972651016
338  Army  -264.18733173623286
339  Southeast Missouri State  -264.87930701964933
340  Holy Cross  -272.992007063596
341  Buffalo  -278.8230462856791
342  Prairie View  -279.81908470113876
343  Pacific  -283.6651283806075
344  Manhattan  -284.36213482755375
345  Loyola (MD)  -289.78747975066904
346  Texas-Rio Grande Valley  -292.6198104353632
347  NJIT  -297.9290573657979
348  Detroit Mercy  -313.32387229451
349  North Carolina A&T  -321.29339592998053
350  Lindenwood  -322.23103392420035
351  Long Island University  -323.3225326772415
352  Florida A&M  -324.0922751707899
353  Saint Francis (PA)  -333.3893259215058
354  Incarnate Word  -339.71301727768105
355  Siena  -340.33202948958206
356  Stonehill  -350.5948519857104
357  Cal Poly  -352.1495569675153
358  Houston Christian  -363.57536967601936
359  Virginia Military Institute  -374.77577234498995
360  Coppin State  -390.1360449701365
361  IUPUI  -394.1564851100827
362  Mississippi Valley State  -492.01158060097487

In [116]:
((eloLeague.ratingDict['Purdue']+hfas['Big Ten'])-(eloLeague.ratingDict['Culinary Inst']-580))/17

100.92881506380849

In [133]:
df22[(df22.Schl=='Navajo Tech')|(df22.Opp=='Navajo Tech')]

,Schl,Opp,PTS,OPP,Year,Date,neutral,Venue,Yearz,yearz,OT
296037,E New Mexico,Navajo Tech,80.0,70.0,2022.0,2022-11-17 00:00:00,False,vs,2022,2022.0,0
296391,NM Highlands,Navajo Tech,90.0,74.0,2022.0,2022-11-18 00:00:00,False,vs,2022,2022.0,0
297010,E New Mexico,Navajo Tech,70.0,58.0,2022.0,2022-11-19 00:00:00,False,vs,2022,2022.0,0
298144,Adams St,Navajo Tech,93.0,56.0,2022.0,2022-11-25 00:00:00,False,vs,2022,2022.0,0
298554,Ft Lewis,Navajo Tech,120.0,78.0,2022.0,2022-11-26 00:00:00,False,@,2022,2022.0,0
311636,Lincoln CA,Navajo Tech,76.0,70.0,2022.0,2023-01-26 00:00:00,False,@,2022,2022.0,0
312570,Haskell,Navajo Tech,94.0,91.0,2022.0,2023-01-28 00:00:00,False,vs,2022,2022.0,0
543088,Col Ozarks,Navajo Tech,90.0,82.0,2023.0,2023-11-11 00:00:00,False,@,2023.0,2023.0,0
546301,Col Springs,Navajo Tech,101.0,71.0,2023.0,2023-11-24 00:00:00,False,@,2023.0,2023.0,0
546623,Westminster UT,Navajo Tech,92.0,74.0,2023.0,2023-11-25 00:00:00,False,vs,2023.0,2023.0,0
546960,Weber State,Navajo Tech,107.0,45.0,2023.0,2023-11-27 00:00:00,False,vs,2023.0,2023.0,0
550293,N New Mexico,Navajo Tech,91.0,50.0,2023.0,2023-12-09 00:00:00,False,vs,2023.0,2023.0,0
551524,Sul Ross,Navajo Tech,84.0,80.0,2023.0,2023-12-17 00:00:00,False,vs,2023.0,2023.0,0
551717,Permian Basin,Navajo Tech,128.0,42.0,2023.0,2023-12-18 00:00:00,False,vs,2023.0,2023.0,0
551931,E New Mexico,Navajo Tech,104.0,69.0,2023.0,2023-12-19 00:00:00,False,vs,2023.0,2023.0,0
553135,Ft Lewis,Navajo Tech,116.0,67.0,2023.0,2024-01-02 00:00:00,False,vs,2023.0,2023.0,0
554495,Justice,Navajo Tech,97.0,91.0,2023.0,2024-01-06 00:00:00,False,@,2023.0,2023.0,0
558135,Stanton,Navajo Tech,58.0,56.0,2023.0,2024-01-20 00:00:00,False,vs,2023.0,2023.0,0
558220,Navajo Tech,Bethesda,96.0,78.0,2023.0,2024-01-21 00:00:00,False,@,2023.0,2023.0,0
565980,Bethesda,Navajo Tech,93.0,68.0,2023.0,2024-02-18 00:00:00,False,vs,2023.0,2023.0,0
566043,Stanton,Navajo Tech,82.0,65.0,2023.0,2024-02-19 00:00:00,False,vs,2023.0,2023.0,0
566828,Justice,Navajo Tech,96.0,59.0,2023.0,2024-02-22 00:00:00,False,vs,2023.0,2023.0,0
566970,SAGU Amer Ind,Navajo Tech,78.0,61.0,2023.0,2024-02-23 00:00:00,False,vs,2023.0,2023.0,0

In [119]:
eloLeague.ratingDict['Culinary Inst']

1221.582266105058

In [19]:
df22=df22.replace("True?","True")
df22=df22.replace("Fale","False")
df22=df22.replace("Falsee","False")
df22=df22.replace("Fase","False")
df22=df22.replace("Fasle","False")
df22=df22.replace("False?","False")
df22=df22.replace("Fals","False")
df22.neutral.unique()

<StringArray>
['False', 'True']
Length: 2, dtype: string

In [99]:
for key in keys:
    name=1
    print(key)

On 2023-11-06 00:00:00 Missouri beats Arkansas-Pine Bluff by 35
On 2023-11-06 00:00:00 Mississippi beats Alabama State by 28
On 2023-11-06 00:00:00 Arkansas beats Alcorn State by 30
On 2023-11-06 00:00:00 Louisiana State beats Mississippi Valley State by 34
On 2023-11-06 00:00:00 Memphis beats Jackson State by 32
On 2023-11-06 00:00:00 Minnesota beats Bethune-Cookman by 20
On 2023-11-06 00:00:00 New Mexico beats Texas Southern by 18
On 2023-11-06 00:00:00 TCU beats Southern by 36
On 2023-11-07 00:00:00 Creighton beats Florida A&M by 42
On 2023-11-08 00:00:00 Seattle beats Prairie View by 20
On 2023-11-08 00:00:00 Nevada-Las Vegas beats Southern by 23
On 2023-11-08 00:00:00 San Diego beats Jackson State by 6
On 2023-11-09 00:00:00 North Alabama beats Alabama A&M by 11
On 2023-11-09 00:00:00 Nebraska beats Florida A&M by 30
On 2023-11-10 00:00:00 Iowa beats Alabama State by 37
On 2023-11-10 00:00:00 Oklahoma beats Mississippi Valley State by 41
On 2023-11-10 00:00:00 Washington State beats Prairie View by 25
On 2023-11-10 00:00:00 California Baptist beats Jackson State by 13
On 2023-11-10 00:00:00 Colorado beats Grambling by 18
On 2023-11-11 00:00:00 Arizona State beats Texas Southern by 20
On 2023-11-13 00:00:00 Arizona beats Southern by 34
On 2023-11-13 00:00:00 Central Arkansas beats Arkansas-Pine Bluff by 1
On 2023-11-14 00:00:00 Abilene Christian beats Prairie View by 18
On 2023-11-14 00:00:00 Florida beats Florida A&M by 32
On 2023-11-14 00:00:00 Arkansas State beats Alcorn State by 5
On 2023-11-14 00:00:00 Connecticut beats Mississippi Valley State by 55
On 2023-11-14 00:00:00 Loyola Marymount beats Jackson State by 16
On 2023-11-16 00:00:00 UAB beats Alcorn State by 26
On 2023-11-16 00:00:00 Tulsa beats Jackson State by 6
On 2023-11-16 00:00:00 Virginia beats Texas Southern by 30
On 2023-11-17 00:00:00 Grambling beats Delaware State by 21
On 2023-11-17 00:00:00 Western Illinois beats Southern by 2
On 2023-11-17 00:00:00 Memphis beats Alabama State by 40
On 2023-11-17 00:00:00 TCU beats Mississippi Valley State by 48
On 2023-11-18 00:00:00 Arkansas-Pine Bluff beats Incarnate Word by 3
On 2023-11-18 00:00:00 Creighton beats Texas Southern by 32
On 2023-11-18 00:00:00 Lipscomb beats Alabama A&M by 18
On 2023-11-19 00:00:00 Tennessee-Martin beats Prairie View by 8
On 2023-11-19 00:00:00 Missouri beats Jackson State by 28
On 2023-11-19 00:00:00 Michigan State beats Alcorn State by 29
On 2023-11-19 00:00:00 Iowa State beats Grambling by 23
On 2023-11-19 00:00:00 Illinois beats Southern by 29
On 2023-11-20 00:00:00 Oregon beats Florida A&M by 29
On 2023-11-20 00:00:00 Bethune-Cookman beats Charleston Southern by 1
On 2023-11-20 00:00:00 Santa Clara beats Mississippi Valley State by 35
On 2023-11-21 00:00:00 Minnesota beats Arkansas-Pine Bluff by 20
On 2023-11-21 00:00:00 Eastern Kentucky beats Prairie View by 15
On 2023-11-21 00:00:00 Auburn beats Alabama A&M by 36
On 2023-11-21 00:00:00 Oral Roberts beats Texas Southern by 15
On 2023-11-21 00:00:00 TCU beats Alcorn State by 32
On 2023-11-22 00:00:00 UT Arlington beats Alcorn State by 10
On 2023-11-22 00:00:00 Sam Houston beats Grambling by 10
On 2023-11-22 00:00:00 Samford beats Alabama State by 23
On 2023-11-24 00:00:00 East Tennessee State beats Alabama A&M by 5
On 2023-11-24 00:00:00 Bethune-Cookman beats Lamar by 5
On 2023-11-24 00:00:00 North Carolina A&T beats Alabama State by 2
On 2023-11-24 00:00:00 Troy beats Grambling by 7
On 2023-11-24 00:00:00 Clemson beats Alcorn State by 30
On 2023-11-24 00:00:00 Ball State beats Arkansas-Pine Bluff by 15
On 2023-11-24 00:00:00 Cal State Northridge beats Mississippi Valley State by 12
On 2023-11-25 00:00:00 Bethune-Cookman beats Delaware State by 8
On 2023-11-25 00:00:00 Valparaiso beats Southern by 4
On 2023-11-25 00:00:00 Merrimack beats Alabama State by 12
On 2023-11-25 00:00:00 Georgetown beats Jackson State by 11
On 2023-11-25 00:00:00 Drake beats Texas Southern by 25
On 2023-11-25 00:00:00 Cleveland State beats Alabama A&M by 18
On 2023-11-26 00:00:00 Pacific beats Mississippi Valley State by 24
On 2023-11-26 00:00:00 Longwood beats Bethune-Cookman by 19
On 2023-11-28 00:00:00 Marquette beats Southern by 38
On 2023-11-28 00:00:00 Purdue beats Texas Southern by 37
On 2023-11-28 00:00:00 Arkansas State beats Jackson State by 8
On 2023-11-29 00:00:00 Tulane beats Prairie View by 20
On 2023-11-29 00:00:00 Tennessee State beats Alabama A&M by 10
On 2023-11-30 00:00:00 Oklahoma beats Arkansas-Pine Bluff by 34
On 2023-12-01 00:00:00 Bethune-Cookman beats Incarnate Word by 1
On 2023-12-02 00:00:00 North Texas beats Mississippi Valley State by 42
On 2023-12-02 00:00:00 Vanderbilt beats Alabama A&M by 24
On 2023-12-02 00:00:00 Dayton beats Grambling by 23
On 2023-12-03 00:00:00 Mississippi State beats Southern by 31
On 2023-12-05 00:00:00 Gonzaga beats Arkansas-Pine Bluff by 46
On 2023-12-05 00:00:00 Liberty beats Mississippi Valley State by 42
On 2023-12-06 00:00:00 Presbyterian beats Florida A&M by 9
On 2023-12-09 00:00:00 Southern beats Southeastern Louisiana by 1
On 2023-12-09 00:00:00 Georgia Tech beats Alabama A&M by 25
On 2023-12-09 00:00:00 Houston beats Jackson State by 43
On 2023-12-09 00:00:00 Bethune-Cookman beats South Carolina State by 1
On 2023-12-09 00:00:00 Connecticut beats Arkansas-Pine Bluff by 48
On 2023-12-10 00:00:00 Iowa State beats Prairie View by 28
On 2023-12-10 00:00:00 Virginia Commonwealth beats Alcorn State by 24
On 2023-12-10 00:00:00 Washington State beats Grambling by 21
On 2023-12-11 00:00:00 Gonzaga beats Mississippi Valley State by 55
On 2023-12-11 00:00:00 Samford beats Alabama A&M by 24
On 2023-12-12 00:00:00 Northern Iowa beats Prairie View by 13
On 2023-12-12 00:00:00 Maryland beats Alcorn State by 27
On 2023-12-12 00:00:00 South Florida beats Arkansas-Pine Bluff by 18
On 2023-12-13 00:00:00 UAB beats Alabama A&M by 20
On 2023-12-13 00:00:00 Louisiana State beats Alabama State by 24
On 2023-12-14 00:00:00 Drake beats Grambling by 26
On 2023-12-16 00:00:00 Iowa beats Florida A&M by 24
On 2023-12-16 00:00:00 Howard beats Jackson State by 8
On 2023-12-16 00:00:00 Chattanooga beats Alabama A&M by 12
On 2023-12-16 00:00:00 Tulane beats Southern by 20
On 2023-12-16 00:00:00 Texas Southern beats North Carolina A&T by 14
On 2023-12-16 00:00:00 Purdue Fort Wayne beats Bethune-Cookman by 15
On 2023-12-17 00:00:00 Northern Iowa beats Alcorn State by 15
On 2023-12-17 00:00:00 Jackson State beats North Carolina A&T by 7
On 2023-12-17 00:00:00 Howard beats Texas Southern by 6
On 2023-12-17 00:00:00 Iowa State beats Florida A&M by 36
On 2023-12-19 00:00:00 Southern California beats Alabama State by 25
On 2023-12-19 00:00:00 Tulsa beats Mississippi Valley State by 22
On 2023-12-19 00:00:00 Drake beats Alcorn State by 30
On 2023-12-20 00:00:00 Grambling beats Southeastern Louisiana by 1
On 2023-12-20 00:00:00 Rice beats Prairie View by 10
On 2023-12-20 00:00:00 Gonzaga beats Jackson State by 37
On 2023-12-20 00:00:00 Chicago State beats Bethune-Cookman by 6
On 2023-12-21 00:00:00 South Alabama beats Alabama A&M by 20
On 2023-12-21 00:00:00 George Washington beats Alcorn State by 12
On 2023-12-21 00:00:00 Central Florida beats Florida A&M by 31
On 2023-12-21 00:00:00 Samford beats Texas Southern by 13
On 2023-12-22 00:00:00 Baylor beats Mississippi Valley State by 48
On 2023-12-22 00:00:00 Auburn beats Alabama State by 38
On 2023-12-22 00:00:00 Florida beats Grambling by 24
On 2023-12-28 00:00:00 UTSA beats Prairie View by 1
On 2023-12-29 00:00:00 Northwestern beats Jackson State by 27
On 2023-12-29 00:00:00 South Florida beats Alabama State by 18
On 2023-12-29 00:00:00 Central Florida beats Bethune-Cookman by 30
On 2023-12-30 00:00:00 San Francisco beats Mississippi Valley State by 38
On 2023-12-30 00:00:00 Georgia beats Alabama A&M by 25
On 2023-12-30 00:00:00 South Carolina beats Florida A&M by 27
On 2023-12-30 00:00:00 Texas A&M beats Prairie View by 32
On 2023-12-31 00:00:00 Mississippi State beats Bethune-Cookman by 37
On 2024-01-06 00:00:00 Arkansas-Pine Bluff beats Alabama A&M by 4
On 2024-01-06 00:00:00 Alabama State beats Mississippi Valley State by 9
On 2024-01-06 00:00:00 Southern beats Texas Southern by 3
On 2024-01-06 00:00:00 Grambling beats Prairie View by 6
On 2024-01-06 00:00:00 Bethune-Cookman beats Florida A&M by 4
On 2024-01-06 00:00:00 Jackson State beats Alcorn State by 4
On 2024-01-08 00:00:00 Southern beats Prairie View by 6
On 2024-01-08 00:00:00 Alabama A&M beats Mississippi Valley State by 8
On 2024-01-08 00:00:00 Arkansas-Pine Bluff beats Alabama State by 1
On 2024-01-08 00:00:00 Grambling beats Texas Southern by 5
On 2024-01-11 00:00:00 Jackson State beats Alabama State by 2
On 2024-01-11 00:00:00 Alcorn State beats Alabama A&M by 2
On 2024-01-13 00:00:00 Southern beats Florida A&M by 9
On 2024-01-13 00:00:00 Texas Southern beats Arkansas-Pine Bluff by 10
On 2024-01-13 00:00:00 Prairie View beats Mississippi Valley State by 17
On 2024-01-13 00:00:00 Alcorn State beats Alabama State by 1
On 2024-01-13 00:00:00 Jackson State beats Alabama A&M by 6
On 2024-01-13 00:00:00 Grambling beats Bethune-Cookman by 5
On 2024-01-15 00:00:00 Texas Southern beats Mississippi Valley State by 20
On 2024-01-15 00:00:00 Grambling beats Florida A&M by 9
On 2024-01-15 00:00:00 Alabama State beats Alabama A&M by 1
On 2024-01-15 00:00:00 Southern beats Bethune-Cookman by 7
On 2024-01-20 00:00:00 Texas Southern beats Alcorn State by 1
On 2024-01-20 00:00:00 Arkansas-Pine Bluff beats Florida A&M by 5
On 2024-01-20 00:00:00 Grambling beats Southern by 3
On 2024-01-20 00:00:00 Bethune-Cookman beats Mississippi Valley State by 10
On 2024-01-20 00:00:00 Jackson State beats Prairie View by 6
On 2024-01-22 00:00:00 Jackson State beats Texas Southern by 2
On 2024-01-22 00:00:00 Florida A&M beats Mississippi Valley State by 6
On 2024-01-22 00:00:00 Arkansas-Pine Bluff beats Bethune-Cookman by 1
On 2024-01-22 00:00:00 Alcorn State beats Prairie View by 1
On 2024-01-27 00:00:00 Alcorn State beats Florida A&M by 4
On 2024-01-27 00:00:00 Texas Southern beats Alabama A&M by 11
On 2024-01-27 00:00:00 Prairie View beats Alabama State by 3
On 2024-01-27 00:00:00 Grambling beats Mississippi Valley State by 25
On 2024-01-27 00:00:00 Southern beats Arkansas-Pine Bluff by 10
On 2024-01-27 00:00:00 Jackson State beats Bethune-Cookman by 5
On 2024-01-29 00:00:00 Grambling beats Arkansas-Pine Bluff by 13
On 2024-01-29 00:00:00 Southern beats Mississippi Valley State by 23
On 2024-01-29 00:00:00 Texas Southern beats Alabama State by 6
On 2024-01-29 00:00:00 Jackson State beats Florida A&M by 8
On 2024-01-29 00:00:00 Prairie View beats Alabama A&M by 8
On 2024-01-29 00:00:00 Alcorn State beats Bethune-Cookman by 1
On 2024-02-03 00:00:00 Southern beats Alcorn State by 1
On 2024-02-03 00:00:00 Alabama A&M beats Florida A&M by 2
On 2024-02-03 00:00:00 Texas Southern beats Prairie View by 1
On 2024-02-03 00:00:00 Arkansas-Pine Bluff beats Mississippi Valley State by 12
On 2024-02-03 00:00:00 Alabama State beats Bethune-Cookman by 5
On 2024-02-03 00:00:00 Jackson State beats Grambling by 1
On 2024-02-05 00:00:00 Grambling beats Alcorn State by 2
On 2024-02-05 00:00:00 Alabama State beats Florida A&M by 8
On 2024-02-05 00:00:00 Prairie View beats Arkansas-Pine Bluff by 3
On 2024-02-05 00:00:00 Southern beats Jackson State by 1
On 2024-02-05 00:00:00 Bethune-Cookman beats Alabama A&M by 2
On 2024-02-10 00:00:00 Grambling beats Alabama State by 9
On 2024-02-10 00:00:00 Arkansas-Pine Bluff beats Alcorn State by 1
On 2024-02-10 00:00:00 Southern beats Alabama A&M by 14
On 2024-02-10 00:00:00 Texas Southern beats Florida A&M by 10
On 2024-02-10 00:00:00 Bethune-Cookman beats Prairie View by 1
On 2024-02-10 00:00:00 Jackson State beats Mississippi Valley State by 15
On 2024-02-12 00:00:00 Grambling beats Alabama A&M by 14
On 2024-02-12 00:00:00 Alcorn State beats Mississippi Valley State by 16
On 2024-02-12 00:00:00 Southern beats Alabama State by 9
On 2024-02-12 00:00:00 Prairie View beats Florida A&M by 4
On 2024-02-12 00:00:00 Texas Southern beats Bethune-Cookman by 4
On 2024-02-12 00:00:00 Jackson State beats Arkansas-Pine Bluff by 1
On 2024-02-17 00:00:00 Texas Southern beats Grambling by 2
On 2024-02-17 00:00:00 Southern beats Prairie View by 5
On 2024-02-17 00:00:00 Alabama State beats Arkansas-Pine Bluff by 4
On 2024-02-17 00:00:00 Alabama A&M beats Mississippi Valley State by 16
On 2024-02-17 00:00:00 Alcorn State beats Bethune-Cookman by 5
On 2024-02-17 00:00:00 Jackson State beats Florida A&M by 12
On 2024-02-19 00:00:00 Southern beats Texas Southern by 1
On 2024-02-19 00:00:00 Alabama A&M beats Arkansas-Pine Bluff by 1
On 2024-02-19 00:00:00 Grambling beats Prairie View by 4
On 2024-02-19 00:00:00 Alcorn State beats Florida A&M by 13
On 2024-02-19 00:00:00 Alabama State beats Mississippi Valley State by 18
On 2024-02-19 00:00:00 Jackson State beats Bethune-Cookman by 6
On 2024-02-24 00:00:00 Arkansas-Pine Bluff beats Prairie View by 1
On 2024-02-24 00:00:00 Southern beats Grambling by 2
On 2024-02-24 00:00:00 Texas Southern beats Mississippi Valley State by 20
On 2024-02-24 00:00:00 Alabama State beats Florida A&M by 5
On 2024-02-24 00:00:00 Bethune-Cookman beats Alabama A&M by 4
On 2024-02-24 00:00:00 Alcorn State beats Jackson State by 2
On 2024-02-26 00:00:00 Prairie View beats Mississippi Valley State by 13
On 2024-02-26 00:00:00 Texas Southern beats Arkansas-Pine Bluff by 5
On 2024-02-26 00:00:00 Alabama A&M beats Florida A&M by 2
On 2024-02-26 00:00:00 Bethune-Cookman beats Alabama State by 4
On 2024-03-02 00:00:00 Alabama A&M beats Alabama State by 1
On 2024-03-02 00:00:00 Arkansas-Pine Bluff beats Mississippi Valley State by 16
On 2024-03-02 00:00:00 Alcorn State beats Prairie View by 5
On 2024-03-02 00:00:00 Grambling beats Florida A&M by 16
On 2024-03-02 00:00:00 Texas Southern beats Jackson State by 6
On 2024-03-02 00:00:00 Southern beats Bethune-Cookman by 9
On 2024-03-04 00:00:00 Southern beats Florida A&M by 14
On 2024-03-04 00:00:00 Texas Southern beats Alcorn State by 4
On 2024-03-04 00:00:00 Grambling beats Bethune-Cookman by 9
On 2024-03-04 00:00:00 Jackson State beats Prairie View by 3
On 2024-03-07 00:00:00 Jackson State beats Arkansas-Pine Bluff by 7
On 2024-03-07 00:00:00 Southern beats Alabama State by 6
On 2024-03-07 00:00:00 Alcorn State beats Mississippi Valley State by 24
On 2024-03-07 00:00:00 Grambling beats Alabama A&M by 9
On 2024-03-09 00:00:00 Texas Southern beats Prairie View by 12
On 2024-03-09 00:00:00 Bethune-Cookman beats Florida A&M by 4
On 2024-03-09 00:00:00 Southern beats Alabama A&M by 7
On 2024-03-09 00:00:00 Alcorn State beats Arkansas-Pine Bluff by 10
On 2024-03-09 00:00:00 Jackson State beats Mississippi Valley State by 22
On 2024-03-09 00:00:00 Grambling beats Alabama State by 9
On 2024-03-13 00:00:00 Alcorn State beats Alabama A&M by 10
On 2024-03-13 00:00:00 Grambling beats Alabama State by 8
On 2024-03-14 00:00:00 Southern beats Bethune-Cookman by 7
On 2024-03-14 00:00:00 Texas Southern beats Jackson State by 1
On 2024-03-15 00:00:00 Texas Southern beats Alabama A&M by 6
On 2024-03-15 00:00:00 Grambling beats Bethune-Cookman by 3
On 2024-03-16 00:00:00 Texas Southern beats Grambling by 2
On 2024-03-19 00:00:00 Tarleton State beats Texas Southern by 15
On 2024-03-20 00:00:00 Austin Peay beats Alabama A&M by 13
On 2024-03-20 00:00:00 Montana State beats Grambling by 5
On 2024-03-22 00:00:00 Purdue beats Grambling by 35
On 2024-03-23 00:00:00 Arkansas State beats Bethune-Cookman by 12
On 2024-03-23 00:00:00 Norfolk State beats Alabama A&M by 13

In [100]:
eloLeague.ratingDict['Detroit Mercy']

1447.7717049973644

In [76]:
((eloLeague.ratingDict['Southern']+hfas['SWAC'])-eloLeague.ratingDict['Bethune-Cookman'])/17

4.180125235225887

In [ ]:
df=pd.DataFrame(arrz,columns=['Schl','Conf','Elo'])
df[df.Conf=='SWAC']

In [102]:
eloLeague.ratingDict['Akron']

1882.3283356161496

In [131]:
import pandas as pd
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

In [135]:
df1=pd.concat([df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19],ignore_index=True)
arr=[]
df100=df1.sort_values(by='Date')
df1=df1[['Year','Date','neutral','PTS','OPP','Year','Opp','Schl']]
df1=df1.drop_duplicates()
ys=[]

import sys
for Date in df100.Date.unique():
    times=1
    teams=[]
    
    if '2003' in str(Date):
        sys.exit(1)
    if row.Year not in ys:
        ys.append(row.Year)
        print(row.Year)
    df=df1[df1.Date==Date]
    for row in df.itertuples():
        if row.Schl in teams or row.Opp in teams:
            times+=1
            num=20*times
            date=row.Date+" "+str(num)+":00:00"
        else:
            date=row.Date+" 00:00:00"
        arr.append([row.Schl,date,row.Opp,row.Year,'vs',row.neutral,row.PTS,row.OPP])
        teams.append(row.Schl)
        teams.append(row.Opp)

2002-03
1949-50
1950-51
1951-52
1952-53
1953-54
1954-55
1955-56
1956-57
1957-58
1958-59
1959-60
1960-61
1961-62
1962-63
1963-64
1964-65
1965-66
1966-67
1967-68
1968-69
1969-70
1970-71
1971-72
1972-73
1973-74
1974-75
1975-76
1976-77
1977-78
1978-79
1979-80
1980-81
1981-82
1982-83
1983-84
1984-85
1985-86
1986-87
1987-88
1988-89
1989-90
1990-91
1991-92
1992-93
1993-94
1994-95
1995-96
1996-97
1997-98
1998-99
1999-00
2000-01
2001-02

SystemExit: 1

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3560: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

# d2 scores from 2007 season

In [ ]:
d3urls={"1995":"https://masseyratings.com/scores.php?s=41840&sub=41840&all=1","1996":"https://masseyratings.com/scores.php?s=41841&sub=41841&all=1","1997":"https://masseyratings.com/scores.php?s=41842&sub=41842&all=1","1998":"https://masseyratings.com/scores.php?s=41843&sub=41843&all=1","1999":"https://masseyratings.com/scores.php?s=41844&sub=41844&all=1","2000":"https://masseyratings.com/scores.php?s=41845&sub=41845&all=1","2001":"https://masseyratings.com/scores.php?s=41846&sub=41846&all=1","2002":"https://masseyratings.com/scores.php?s=41847&sub=41847&all=1","2003":"https://masseyratings.com/scores.php?s=41848&sub=41848&all=1","2004":"https://masseyratings.com/scores.php?s=41849&sub=41849&all=1","2005":"https://masseyratings.com/scores.php?s=41850&sub=41850&all=1","2006":"https://masseyratings.com/scores.php?s=68033&sub=68033&all=1","2007":"https://masseyratings.com/scores.php?s=73929&sub=73929&all=1","2008":"https://masseyratings.com/scores.php?s=85513&sub=85513&all=1","2009":"https://masseyratings.com/scores.php?s=94988&sub=94988&all=1","2010":"https://masseyratings.com/scores.php?s=98700&sub=98700&all=1","2011":"https://masseyratings.com/scores.php?s=107811&sub=107811&all=1","2012":"https://masseyratings.com/scores.php?s=181623&sub=181623&all=1","2014":"https://masseyratings.com/scores.php?s=262657&sub=262657&all=1","2015":"https://masseyratings.com/scores.php?s=279541&sub=279541&all=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=286577&all=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=295489&all=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=300937&all=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=308075&all=1","2020":"https://masseyratings.com/scores.php?s=318889&sub=318889&all=1","2021":"https://masseyratings.com/scores.php?s=358435&sub=358435&all=1","2022":"https://masseyratings.com/scores.php?s=384031&sub=384031&all=1","2023":"https://masseyratings.com/scores.php?s=539277&sub=539277&all=1"}
ggg=[]
import os
d2urls={"2020":"https://masseyratings.com/scores.php?s=320158&sub=320158&all=1","2005":"https://masseyratings.com/scores.php?s=41469&sub=41469&all=1","2004":"https://masseyratings.com/scores.php?s=41468&sub=41468&all=1","2006":'https://masseyratings.com/scores.php?s=69587&sub=69587&all=1',"2009":"https://masseyratings.com/scores.php?s=97288&sub=97288&all=1","2011":"https://masseyratings.com/scores.php?s=179268&sub=179268&all=1","2013":"https://masseyratings.com/scores.php?s=203290&sub=203290&all=1","2015":"https://masseyratings.com/scores.php?s=284067&sub=284067&all=1","2016":"https://masseyratings.com/scores.php?s=292154&sub=292154&all=1","2017":"https://masseyratings.com/scores.php?s=298892&sub=298892&all=1","2018":"https://masseyratings.com/scores.php?s=305972&sub=305972&all=1","2021":"https://masseyratings.com/scores.php?s=379387&sub=379387&all=1","2022":"https://masseyratings.com/scores.php?s=500054&sub=500054&all=1"}
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
didp=0
d2urls={"2004":"https://masseyratings.com/scores.php?s=41468&sub=41468&all=1","2005":"https://masseyratings.com/scores.php?s=41469&sub=41469&all=1","2007":"https://masseyratings.com/scores.php?s=74994&sub=74994&all=1","2008":"https://masseyratings.com/scores.php?s=87798&sub=87798&all=1","2010":"https://masseyratings.com/scores.php?s=101140&sub=101140&all=1","2012":"https://masseyratings.com/scores.php?s=193573&sub=193573&all=1","2014":"https://masseyratings.com/scores.php?s=267615&sub=267615&all=1","2019":"https://masseyratings.com/scores.php?s=309912&sub=309912&all=1"}
for key in d2urls:
    print(key)
    
    r = requests.get(d2urls[key])
    soup = BeautifulSoup(r.text, 'lxml')
    
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(BeautifulSoup(r.text, 'lxml'))
    aa=str(aa)
    aa=(aa.split("<hr/><pre>")[1])
    
    aa=aa.replace("               ",",")
    aa=aa.replace("  ",",")
    for i in range(0,10):
        aa=aa.replace(str(i)+" ",str(i)+",")
        
    aa=aa.replace(",,,,,,",",")
    
    q=aa
    
    
    q=q.split("\n")
    for line in q:
        
        
        
        
        
        line=str(line)
        
        
        
        
        if 'Games' not in str(line) and str(line)!='' and '<' not in str(line):
            j=line[1]
            n=False
            line = list(line.split(','))
            if "@" not in str(line):
                n=True
            if didp==0:
                print(line)
                didp=1
            
            if "@" in str(line[1]):
                v="vs"
            else:
                v='@'
            date=str(line[0])
            
            line=str(line)
            line=line.replace("[","")
            line=line.replace("]","")
            line=line.replace("'","")
            line=line.replace('"',"")
            line=line.replace(",@",",")
            line=line.replace("@","")
            line = list(line.split(','))
            lines=[]
            for l in line:
                if l==' ' :
                    m=1
                else:
                    
                    lines.append(l)
                
            
            line=lines
            s=line[1]
            s=s.lstrip()
            s=s.rstrip()
            o=line[3]
            o=o.lstrip()
            o=o.rstrip()
            row=[s,o,line[2],line[4],key,n,date,key,v]
            
                    
            ggg.append(row)
    
d2=pd.DataFrame(ggg,columns=['Schl','Opp','PTS','OPP','Year','neutral','Date','Yearz','Venue'])
print(d2.Year.unique())
d2.to_csv("missingcbb.csv")

In [133]:
((eloLeague.ratingDict['Prairie View']+hfas['SWAC'])-eloLeague.ratingDict['Texas Southern'])/17

-8.959292369247137

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
links={}
import time
arr=[]
ys={}
for i in range(1949,2025):
    ys[i]=[]
for i in range(1950,2025):
    print(i)
    links[i]=[]
    html=requests.get("https://www.sports-reference.com/cbb/seasons/men/"+str(i)+"-polls.html").text
    soup=BeautifulSoup(html)
    table=soup.find("table")
    y=i-1
    for tr in table.find_all("tr"):
        if tr.find_all("th")[0].text not in years[y]:
            ys[y].append(tr.find_all("th")[0].text)
        if 'School' not in str(tr) and 'Week Poll' not in str(tr):
            sc=str(tr.find_all("th")[0].text)
            sc=sc.strip()
            if sc=='Howard':
                print(i)
            if sc in years[float(y)]:
                
                arr.append([sc,tr.find_all("td")[0].text,y])
    time.sleep(5)

1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982

In [43]:
'Howard'

['Bowling Green State', 'Ind', '19', '', 1949]

In [ ]:
df=pd.DataFrame(arr,columns=['School','Conf','Pre','Next','Year'])
df=df[df.Year>1960]
df.to_csv("ap.csv")

##