<a href="https://www.kaggle.com/code/savageopress12345/mechanical-soup-error?scriptVersionId=118868915" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
import pandas as pda
arr=[]
dfz=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/barttvk.csv")
dff=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/barttvk2.csv")
for row in dff.itertuples():
    arr.append([row.date,row.home,row.away,row.predw,row.line,row.final,row.neutral,row.season])
for row in dfz.itertuples():
    arr.append([row.date,row.home,row.away,row.predw,row.line,row.final,row.neutral,row.season])  
df=pd.DataFrame(arr,columns=['date','home','away','predw','line','final','neutral','season'])
df=df.astype({"final":"string"})
df=df.replace("Ohio St.","Ohio State")
df['final']=df['final'].str.replace(" St."," State")
df['home']=df['home'].str.replace(" St."," State")
df['away']=df['away'].str.replace(" St."," State")
df['predw']=df['predw'].str.replace(" St."," State")
df=df.replace("Penn","Pennsylvania")
df['final']=df['final'].str.replace("Penn","Pennsylvania")
df['home']=df['home'].str.replace("Penn","Pennsylvania")
df['away']=df['away'].str.replace("Penn","Pennsylvania")
df['predw']=df['predw'].str.replace("Penn","Pennsylvania")

In [ ]:
k=[]
k.append(["Albany","Albany (NY)"])
k.append(['Arkansas Pine Bluff','Arkansas-Pine Bluff'])
k.append(['Bethune Cookman','Bethune-Cookman'])
k.append(['Cal Baptist','California Baptist'])
k.append(['East Texas A&M','Texas A&M-Commerce'])
k.append(['FIU','Florida International'])
k.append(['Fairleigh Dickinson','FDU'])
k.append(['Gardner Webb','Gardner-Webb'])
k.append(['Grambling State','Grambling'])
k.append(['Illinois Chicago','Illinois-Chicago'])
k.append(['IU Indy','IUPUI'])
k.append(['Loyola MD','Loyola (MD)'])
k.append(['Louisiana Monroe','Louisiana-Monroe'])
k.append(['LIU','Long Island University'])
k.append(['Loyola Chicago','Loyola (IL)'])
k.append(['LSU','Louisiana State'])
k.append(['Maryland Eastern Shore','Maryland-Eastern Shore'])
k.append(["Mount State Mary's","Mount St. Mary's"])
k.append(['Miami FL','Miami (FL)'])
k.append(['Miami OH','Miami (OH)'])
k.append(['N.C. Statete','NC State'])
k.append(['Nebraska Omaha','Omaha'])
k.append(['Ohio Statete','Ohio State'])
k.append(['Prairie View A&M','Prairie View'])
k.append(['Southern Miss','Southern Mississippi'])
k.append(["Saint Peter's","Saint Peter's"])
k.append(['Saint Francis','Saint Francis (PA)'])
k.append(['SMU','Southern Methodist'])
k.append(["St. John's","St. John's (NY)"])
k.append(['St. Francis NY',"St. Francis (NY)"])
k.append(['SIU Edwardsville','Southern Illinois-Edwardsville'])
k.append(["Saint Mary's","Saint Mary's (CA)"])
k.append(['Sam Houston State','Sam Houston'])
k.append(['Texas A&M Corpus Chris','Texas A&M-Corpus Christi'])
k.append(['Tennessee Martin','Tennessee-Martin'])
k.append(['UMBC','Maryland-Baltimore County'])
k.append(['UNLV','Nevada-Las Vegas'])
k.append(['UMKC','Kansas City'])
k.append(['UT Rio Grande Valley','Texas-Rio Grande Valley'])
k.append(['USC Upstate','South Carolina Upstate'])
k.append(['USC','Southern California'])
k.append(['UMass Lowell','Massachusetts-Lowell'])
k.append(['VCU','Virginia Commonwealth'])
k.append(['VMI','Virginia Military Institute'])
k=pd.DataFrame(k,columns=['t','tr'])
for row in k.itertuples():
    df['final']=df['final'].str.replace(row.t,row.tr)
    df['home']=df['home'].str.replace(row.t,row.tr)
    df['away']=df['away'].str.replace(row.t,row.tr)
    df['predw']=df['predw'].str.replace(row.t,row.tr)

In [ ]:
df.dtypes

In [ ]:
ts=set(df.home.tolist())
for t in ts:
    if t[0]=='U':
        print(t)

In [ ]:
df.to_csv("finalbart.csv")

In [ ]:
import time
import numpy as np
start_time = time.time()
print('done files')
import random
import string
from decimal import Decimal
class Elo:
    def __init__(self,k,g=1,homefield = 110): 
        self.ratingDict={}
        self.k = k
        self.g = g
        self.homefield= homefield
    def addPlayer(self,name,rating = 1500):
        self.ratingDict[name] = rating
    def gameOver(self,winner,loser,wp,lp,diffz):
        o=abs(wp-lp)
        y=float(((o)+3))
        mov=((o+3)**0.8)/(7.5+0.006*(diffz))
        result = self.expectResult(diffz)
        shift=(self.k*mov)*(1 - result) 
        self.ratingDict[winner]+=shift
        self.ratingDict[loser]-=shift
    def expectResult(self,gtz):
        pq=(Decimal(10)**(Decimal(-gtz)/Decimal(400)))+Decimal(1)
        o=Decimal(1)/Decimal(pq)
        return float(o)
import requests
from bs4 import BeautifulSoup,Comment
import re, csv
import pandas as pd
df=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/standings.csv")
from datetime import timedelta,date,datetime
import json
msqe={}
currSeason=1949
for i in range(9,50):
    msqe[str(i)]=set()
confs={}
for i in range(1949,2026):
    confs[i]={}
df=df.replace("PCC (North)","PCC")
df=df.replace("PCC (South)","PCC")
df=df.replace("Mid-Atl (Eastern)","Mid-Atl")
df=df.replace("Mid-Atl (Western)","Mid-Atl")
df=df.replace("Mid-Atl (East)","Mid-Atl")
df=df.replace("Mid-Atl (West)","Mid-Atl")
df=df.replace("ECC (West)","ECC")
df=df.replace("ECC (East)","ECC")
df=df.replace("ECBL (East)","ECBL")
df=df.replace("ECBL (West)","ECBL")
df=df.replace("EAA (West)","EAA")
df=df.replace("EAA (East)","EAA")
df=df.replace("ECACM (North)","ECACM")
df=df.replace("ECACM (South)","ECACM")
df=df.replace("A-10 (East)","A-10")
df=df.replace("A-10 (West)","A-10")
df=df.replace("MAAC (South)","MAAC")
df=df.replace("MAAC (North)","MAAC")
df=df.replace("CUSA (Blue)","CUSA")
df=df.replace("CUSA (Red)","CUSA")
df=df.replace("CUSA (White)","CUSA")
df=df.replace("Big East (East)","Big East")
df=df.replace("MAC (East)","MAC")
df=df.replace("SEC (East)","SEC")
df=df.replace("Southern (North)",'Southern')
df=df.replace("Southern (South)","Southern")
df=df.replace("WAC (Pacific)","WAC")
df=df.replace("CUSA (National)","CUSA")
df=df.replace("TAAC (East)","TAAC")
df=df.replace("Sun Belt (West)","Sun Belt")
df=df.replace("TAAC (West)","TAAC")
df=df.replace("A-Sun (North)","A-Sun")
df=df.replace("MAC (West)","MAC")
df=df.replace("Big East (West)","Big East")
df=df.replace("SEC (West)","SEC")
df=df.replace("Southland (West)","Southland")
df=df.replace("Southland (East)","Southland")
df=df.replace("OVC (East)","OVC")
df=df.replace("OVC (West)","OVC")
df=df.replace("Big South (North)","Big South")
df=df.replace("Big South (South)","Big South")
df=df.replace("A-Sun (East)","A-Sun")
df=df.replace("Patriot (Central)","Patriot")
df=df.replace("WAC (Mountain)","WAC")
df=df.replace("CUSA (American)","CUSA")
df=df.replace("Big West (West)","Big West")
df=df.replace("CUSA (East)","CUSA")
df=df.replace("Patriot (North)","Patriot")
df=df.replace("CUSA (West)","CUSA")
df=df.replace("A-Sun (West)","A-Sun")
df=df.replace("Patriot (South)","Patriot")
df=df.replace("A-Sun (South)","A-Sun")
df=df.replace("MEAC (Southern)","MEAC")
df=df.replace("MEAC (Northern)","MEAC")
df=df.replace("Sun Belt (East)","Sun Belt")
df=df.replace("Big West (West)","Big West")
df=df.replace("Big West (East)","Big West")
df=df.replace("Big East (Big East 6)","Big East")
df=df.replace("Big East (Big East 7)","Big East")
df['conf']=df['conf'].replace("American","AAC")
df=df[df.conf.isna()==False]
standings=pd.read_csv("https://cfbzzz.alwaysdata.net/ncaab/d1vsnond1/teams/d1standings.txt")
standings=standings.replace("Florida Gulf Cost","Florida Gulf Coast")
a=df[df.season==2025]
for row in a.itertuples():
    if float(row.season)>1948:
        confs[float(row.season)][str(row.team)]=str(row.conf)
df=df[df.num.isna()==False]
for row in df.itertuples():
    if float(row.season)>1948:
        confs[float(row.season)][str(row.team)]=str(row.conf)
for row in standings.itertuples():
    if float(row.Year)>1948:
        confs[float(row.Year)][str(row.Schl)]=str(row.Conference)
from bs4 import BeautifulSoup, Comment
arr=[]
confy={}
for row in df.itertuples():
    if float(row.season)>1948:
        confy[row.conf]=[]
kval=20
eloLeague = Elo(k = kval)
print("go through games")
rev=0.70
sep=""
def remove_tags(html):

    # parse html content
    soup = BeautifulSoup(html, "html.parser")

    for data in soup(['style', 'script']):
        # Remove tags
        data.decompose()

    # return data by retrieving the tag content
    return ' '.join(soup.stripped_strings)
from time import sleep
hfas={}
confs[2024]["Texas A&M-Commerce"]="Southland"
arr=[]
years={}
years[2024]=[]
today=datetime.today().strftime('%Y%m%d')
confs[2024]['IUPUI']='Horizon'
confs[2024]['Texas A&M-Commerce']='Southland'
del confs[2024]['East Texas A&M']
del confs[2024]['IU Indy']
games=[]
h='g'
arrz=[]
ty={}
for i in range(2014,2025):
    ty[i]=[]
    for t in confs[i]:
        ty[i].append(t)

import requests
from bs4 import BeautifulSoup
html=requests.get("https://academics.smcvt.edu/jtrono/BBallArchive.htm").text
soup=BeautifulSoup(html)
links={}
table=soup.find_all("table")[0]
for tr in table.find_all("tr"):
    year=tr.find_all("td")[0].text
    year=str(year).split("-")[0]
    year=float(year)
    links[year]=[]
    link=tr.find_all("td")[1]
    link=link.find("a")
    link=link['href']
    link='https://academics.smcvt.edu/jtrono/'+link
    links[year].append(link)
    link=tr.find_all("td")[3]
    link=link.find("a")
    link=link['href']
    link='https://academics.smcvt.edu/jtrono/'+link
    links[year].append(link)
    link=tr.find_all("td")[4]
    link=link.find("a")
    link=link['href']
    link='https://academics.smcvt.edu/jtrono/'+link
    links[year].append(link)
e=0
from datetime import date as datey
from datetime import timedelta
from bs4 import BeautifulSoup
import requests
# Define the given date
g={}
g['date']=0
arrz=[]
ui=0

links[1974].append("https://academics.smcvt.edu/jtrono/NCAA_Archive/74_75_NCIT.htm")
links[1973].append("https://academics.smcvt.edu/jtrono/NCAA_Archive/73_74_CCA.htm")
for year in links:
    print(year)
    for link in links[year]:
        html=requests.get(link).text
        soup=BeautifulSoup(html,'html.parser')
        if float(year)!=1951:
            soup=str(soup.find("p"))
        else:
            soup=str(soup.find("body"))
        if '<br>' in str(soup):
            print("yes!!!!")
            soup=soup.replace("<p>","")
     
            soup=soup.replace("\r","")
            lines=soup.split("<br>")
        elif '<br/>' in str(soup):
            print("no!!!!")
            soup=soup.replace("<p>","")
            soup=soup.replace("\r","")
            
            lines=soup.split("<br/>")
        else:
            print("what!!!!!!")
            soup=soup.replace("<p>","")
            soup=soup.replace('<p class="MsoPlainText">',"")
            soup=soup.replace("\r", "")
            
            lines=soup.split("</p>")
        for line in lines:
            
            if len(line)>0 and 'TOURNAMENT' not in str(line) and "<" not in str(line):
                line=line.replace("F405","405")
                line=line.replace("75\nVIL","75 VIL")
                line=line.lstrip()
                line=line.replace("\xa0","")
                line=line.replace("f304","304")
                line=line.split(" ")
                year=str(year)
                if "dts" in str(link) or "NCIT" in str(link) or "CCA" in str(link):
                    date=str(line[0])
                    date=date.replace("\n","")
                    year=year.replace(".0","")
                    if float(date[0])==2:
                        date=year+str(11)+str(line[0])[1]+str(line[0])[2]
                    if float(date[0])==3:
                        date=year+str(12)+str(line[0])[1]+str(line[0])[2]
                    if float(date[0])==4:
                        date=str(int(year)+1)+str("01")+str(line[0])[1]+str(line[0])[2]
                    if float(date[0])==5:
                        date=str(int(year)+1)+str("02")+str(line[0])[1]+str(line[0])[2]
                    if float(date[0])==6:
                        date=str(int(year)+1)+str("03")+str(line[0])[1]+str(line[0])[2]
                    if float(year)==1951:
                        if ui<10:
                            ui+=1
                            print(line)
                    arrz.append([date,line[1],line[2],line[3],line[4],line[5],float(year),"no"])
                    g['date']=date
                
                else:
                    lk=g['date']
                    
                    given_date = datey(int(lk[:4]),int(lk[4]+lk[5]),int(lk[6]+lk[7]))
                    lk=given_date+timedelta(days=1)
                    lk=str(lk)
                    lk=lk.replace("-","")
                    g['date']=lk
                    thing=""
                    if "ncaa" in str(link):
                        thing='ncaa'
                    if 'nit' in str(link):
                        thing='nit'
                    arrz.append([lk,line[0],line[1],line[2],line[3],line[4],float(year),thing])
                
                
arrz.append([19620308,'REG',75,'STB',76,'N',1962,""])
arrz.append([19620308,'XAV',80,'CRE',67,'N',1962,""])
arrz.append([19620309,'REG',61,'CRE',76,'N',1962,""])
arrz.append([19620309,'XAV',89,'STB',75,'N',1962,""])
arrz.append([19500327,"WYO",78,"DUQ",61,"N",1950,"no"])
arrz.append([19500327,"BRA",75,"WKE",71,"H",1950,"no"])
arrz.append([19500328,"UTA",67,"VIL",65,"N",1950,"no"])
arrz.append([19500328,"SYR",69,"TOL",52,"N",1950,"no"])
arrz.append([19500330,"BRA",77,"WYO",63,"H",1950,"no"])
arrz.append([19500330,"SYR",74,"UTA",57,"N",1950,"no"])
arrz.append([19500331,"SYR",76,"BRA",75,"A",1950,"no"])
arrz.append([19500331,"UTA",55,"WYO",52,"N",1950,"no"])
html=requests.get("https://academics.smcvt.edu/jtrono/NCAA_Archive/Translation.htm").text
soup=BeautifulSoup(html)
soup=soup.find("p").text
soup=str(soup).replace("\r","")
tz={}
for line in soup.split("\n"):
    
    line=line.split(" ")
    tz[line[0]]=line[1]
import pandas as pd
df=pd.DataFrame(arrz,columns=['date','t1','t1p','t2','t2p','venue','season','fake'])
df=df.astype({"t1":"string","t2":"string"})
df['t1']=df['t1'].str.replace("&amp;","&")
df['t2']=df['t2'].str.replace("&amp;","&")
df['t1']=df['t1'].str.replace("\n","")
df['t2']=df['t2'].str.replace("\n","")
for t in tz:
    print(t)
    df=df.replace(t,tz[t])
for row in df.itertuples():
    if "St"==str(row.t1)[-2]+str(row.t1)[-1]:
        df.at[row.Index,'t1']=str(row.t1).replace("St"," State")
    if "St"==str(row.t2)[-2]+str(row.t2)[-1]:
        df.at[row.Index,'t2']=str(row.t2).replace("St"," State")
    if "A&M"==str(row.t1)[-3]+str(row.t1)[-2]+str(row.t1)[-1]:
        df.at[row.Index,'t1']=str(row.t1).replace("A&M"," A&M")
    if "A&M"==str(row.t2)[-3]+str(row.t2)[-2]+str(row.t2)[-1]:
        df.at[row.Index,'t2']=str(row.t2).replace("A&M"," A&M")
df=df.astype({"t1":"string","t2":"string"})
df=df.replace("AirForce","Air Force")
df=df.replace("AlcornSt","Alcorn State")
df=df.replace("AmericanUniv","American")
df=df.replace("AbileneChristian","Abilene Christian")
df=df.replace("AlbanyNY","Albany")
df=df.replace("ArkPineBluff","Arkansas-Pine Bluff")
df=df.replace("ArkLittleRock","Little Rock")
df=df.replace("BostonCollege","Boston College")
df=df.replace("AustinPeay","Austin Peay")
df=df.replace("BowlingGreen","Bowling Green")
df=df.replace("BostonUniv","Boston University")
df=df.replace("CSSacramento","Sacramento State")
df=df.replace("CSNorthridge","Cal State Northridge")
df=df.replace("CityCollegeNewYork","City College of New York")
df=df.replace("CharlestonSo","Charleston Southern")
df=df.replace("CoastalCar","Coastal Carolina")
df=df.replace("CalStateLosAngeles","Cal State Los Angeles")
df=df.replace("CSFullerton","Cal State Fullerton")
df=df.replace("ColCharleston","College of Charleston")
df=df.replace("CalPolySLO","Cal Poly")
df=df.replace("CMichigan","Central Michigan")
df=df.replace("CentralConn","Central Connecticut State")
df=df.replace("Detroit","Detroit Mercy")
df=df.replace("EWashington","Eastern Washington")
df=df.replace("EKentucky","Eastern Kentucky")
df=df.replace("EMichigan","Eastern Michigan")
df=df.replace("EIllinois","Eastern Illinois")
df=df.replace("EastCarolina","East Carolina")
df=df.replace("ETennessee State","East Tennessee State")
df=df.replace("FLAtlantic","Florida Atlantic")
df=df.replace("FloridaIntl","Florida International")
df=df.replace("TexasTech","Texas Tech")
df=df.replace("OldDominion","Old Dominion")
df=df.replace("JamesMadison","James Madison")
df=df.replace("GeorgeMason","George Mason")
df=df.replace("GeorgiaTech","Georgia Tech")
df=df.replace("GaSouthern","Georgia Southern")
df=df.replace("GWashington","George Washington")
df=df.replace("FDickinson","FDU")
df=df.replace("HolyCross","Holy Cross")
df=df.replace("HighPoint","High Point")
df=df.replace("HoustonBaptist","Houston Christian")
df=df.replace("ILChicago","Illinois-Chicago")
df=df.replace("JohnCarroll","John Carroll")
df=df.replace("Kent","Kent State")
df=df.replace("LALafayette","Louisiana")
df=df.replace("LongIsland","Long Island University")
df=df.replace("LoyolaNewOrleans","Loyola (LA)")
df=df.replace("LoyMarymount","Loyola Marymount")
df=df.replace("LaSalle","La Salle")
df=df.replace("LouisianaTech","Louisiana Tech")
df=df.replace("LoyolaMD","Loyola (MD)")
df=df.replace("Loyola-Chicago","Loyola (IL)")
df=df.replace("LAMonroe","Louisiana-Monroe")
df=df.replace("MissouriKC","Kansas City")
df=df.replace("MonmouthNJ","Monmouth")
df=df.replace("LongBeach State","Long Beach State")
df=df.replace("MtStMary's","Mount St. Mary's")
df=df.replace("MiamiFL","Miami (FL)")
df=df.replace("MiamiOH","Miami (OH)")
df=df.replace("NewHampshire","New Hampshire")
df=df.replace("MDBaltimoreCo","Maryland-Baltimore County")
df=df.replace("MSValley State","Mississippi Valley State")
df=df.replace("TexasSouthern","Texas Southern")
df=df.replace("MDEShore","Maryland-Eastern Shore")
df=df.replace("MiddleTenn State","Middle Tennessee")
df=df.replace("NorthTexas","North Texas")
df=df.replace("NorthwesternLA","Northwestern State")
df=df.replace("NorthernIowa","Northern Iowa")
df=df.replace("SanJose State","San Jose State")
df=df.replace("NCState","NC State")
df=df.replace("OklahomaCity","Oklahoma City")
df=df.replace("OralRoberts","Oral Roberts")
df=df.replace("WKentucky","Western Kentucky")
df=df.replace("SIllinois","Southern Illinois")
df=df.replace("SanDiego State","San Diego State")
df=df.replace("SanDiego","San Diego")
df=df.replace("NewMexico State","New Mexico State")
df=df.replace("NewMexico","New Mexico")
df=df.replace("NewYorkUniv","New York University")
df=df.replace("NewOrleans","New Orleans")
df=df.replace("NorthCarolina","North Carolina")
df=df.replace("NCA&T","North Carolina A&T")
df=df.replace("NArizona","Northern Arizona")
df=df.replace("WMichigan","Western Michigan")
df=df.replace("NortheastIllinois","Northeastern Illinois")
df=df.replace("WIllinois","Western Illinois")
df=df.replace("NIllinois","Northern Illinois")
df=df.replace("NorthernColorado","Northern Colorado")
df=df.replace("NortheastLouisiana","Louisiana-Monroe")
df=df.replace("Penn","Pennsylvania")
df=df.replace("PrairieView","Prairie View")
df=df.replace("Regis","Regis (CO)")
df=df.replace("RhodeIsland","Rhode Island")
df=df.replace("RobertMorris","Robert Morris")
df=df.replace("SantaClara","Santa Clara")
df=df.replace("SouthernMiss","Southern Mississippi")
df=df.replace("SouthCarolina","South Carolina")
df=df.replace("SCarolina State","South Carolina State")
df=df.replace("SELouisiana","Southeastern Louisiana")
df=df.replace("SMU","Southern Methodist")
df=df.replace("StLouis","Saint Louis")
df=df.replace("StonyBrook","Stony Brook")
df=df.replace("SFAustin","Stephen F. Austin")
df=df.replace("StBonaventure","St. Bonaventure")
df=df.replace("SAlabama","South Alabama")
df=df.replace("StJoseph'sPA","Saint Joseph's")
df=df.replace("StMary's","Saint Mary's (CA)")
df=df.replace("SamHouston State","Sam Houston")
df=df.replace("SanFrancisco","San Francisco")
df=df.replace("SacredHt","Sacred Heart")
df=df.replace("StFrancisPA","Saint Francis (PA)")
df=df.replace("StJohn's","St. John's (NY)")
df=df.replace("StPeter's","Saint Peter's")
df=df.replace("StFrancisNY","St. Francis (NY)")
df=df.replace("SantaBarbara","UC Santa Barbara")
df=df.replace("SEMissouri State","Southeast Missouri State")
df=df.replace("SouthernUtah","Southern Utah")
df=df.replace("SouthFlorida","South Florida")
df=df.replace("SetonHall","Seton Hall")
df=df.replace("SouthernUniv","Southern")
df=df.replace("SouthwestLouisiana","Louisiana")
df=df.replace("TXArlington","UT Arlington")
df=df.replace("TennesseeTech","Tennessee Tech")
df=df.replace("TXPanAmerican","Texas-Rio Grande Valley")
df=df.replace("TXSouthern","Texas Southern")
df=df.replace("TNMartin","Tennessee-Martin")
df=df.replace("Trinity(Texas)","Trinity (TX)")
df=df.replace("TXSanAntonio","UTSA")
df=df.replace("TAMC.Christi","Texas A&M-Corpus Christi")
df=df.replace("UCIrvine","UC Irvine")
df=df.replace("UNCWilmington","UNC Wilmington")
df=df.replace("UNCGreensboro","UNC Greensboro")
df=df.replace("UNLV","Nevada-Las Vegas")
df=df.replace('USInternational',"U.S. International")
df=df.replace("UNCAsheville","UNC Asheville")
df=df.replace("USC","Southern California")
df=df.replace("VirginiaTech","Virginia Tech")
df=df.replace("VACommonwealth","Virginia Commonwealth")
df=df.replace("VMI","Virginia Military Institute")
df=df.replace("WestChester State","West Chester")
df=df.replace("WestTexas State","West Texas A&M")
df=df.replace("Washington(StLouis)","Washington (MO)")
df=df.replace("WIGreenBay","Green Bay")
df=df.replace("WakeForest","Wake Forest")
df=df.replace("William&Mary","William & Mary")
df=df.replace("WIMilwaukee","Milwaukee")
df=df.replace("WestVirginia","West Virginia")
df=df.replace("Washington&Lee","Washington & Lee")
df=df.replace("WCarolina","Western Carolina")
dfz=df
df=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/masseyz.csv")
dfz=dfz.replace("CaseWesternReserve","Case Western Reserve")
dfz=dfz.replace("Albany","Albany (NY)")
dfz=dfz[dfz.season!=1998]
dfz=dfz[dfz.season!=1999]
dfz=dfz[dfz.season!=2000]
arr=[]
ery=df
for row in df.itertuples():
    n=False
    if 'vs' in str(row.venue):
        n=True
    if float(row.season)<2014:
        arr.append([row.date,row.t1,row.t2,row.t1p,row.t2p,row.venue,row.season,n,False])
    else:
        arr.append([row.date,row.t1,row.t2,row.t1p,row.t2p,row.venue,row.season,n,True])
for row in dfz.itertuples():
    n=False
    if 'N' in str(row.venue):
        n=True
    arr.append([row.date,row.t1,row.t2,row.t1p,row.t2p,row.venue,row.season,n,False])
h='g'
df=pd.read_csv("https://cfbzzz.alwaysdata.net/ncaaf/espnz.txt")
qw=[]
def scores(date,season):
    print(date)
    date=str(date)
    url="https://site.api.espn.com/apis/site/v2/sports/basketball/mens-college-basketball/scoreboard?dates="+date+"&groups=50&limit=360"
    html=requests.get(url)
    print(url)
    html=html.json()
    leagues=html['events']
    y=200
    print(len(leagues))
    for game in leagues:
        
        h=game
        if 'competitions' in str(game):
            t1=game['competitions'][0]['competitors'][0]['team']['shortDisplayName']
            t2=game['competitions'][0]['competitors'][1]['team']['shortDisplayName']
            neutral=game['competitions'][0]['neutralSite']
            att=game['competitions'][0]['attendance']
            time=game['competitions'][0]['date']
            t1s=game['competitions'][0]['competitors'][0]['score']
            t2s=game['competitions'][0]['competitors'][1]['score']
            neutral=str(neutral)
            location='?'
            stime=game['competitions'][0]['startDate']
            if 'address'  in str(game['competitions'][0]):
                if 'state' in str(game['competitions'][0]['venue']['address']):


                    location=game['competitions'][0]['venue']['address']['city']+", "+game['competitions'][0]['venue']['address']['state']
                    venue=game['competitions'][0]['venue']['fullName']
                else:
                    location=game['competitions'][0]['venue']['address']['city']
                    venue=game['competitions'][0]['venue']['fullName']
            else:
                venue='?'
            location=location.replace('"',"")
            location=location.replace(',',"")
            if "True" in str(neutral):
                notes="@"+location
            else:
                notes=""
            name=str(date)+t1
            namez=str(date)+t2
            if name not in games and namez not in games:
                if float(t1s)==0 and float(t2s)==0:
                    m=1
                else:
                    qw.append([date,t1,t2,"vs",t1s,t2s,season,str(location),str(neutral),notes,venue])
from datetime import date
today=date.today()
today=str(today)
for date in pd.date_range(start="2025-11-03",end=today):
    date=str(date)
    date=date.replace(" 00:00:00","")
    date=date.replace("-","")
    date=date.replace(".0","")
    scores(date,2025)
ert=[]
for gh in qw:
    ert.append(gh)
for row in df.itertuples():
    ert.append([row.date,row.t1,row.t2,row.venue,row.t1p,row.t2p,row.season,row.city,row.neutral,row.notes,row.stadium])
df=pd.DataFrame(ert,columns=['date','t1','t2','venue','t1p','t2p','season','city','neutral','notes','stadium'])
df=df.replace("Abilene Chrstn","Abilene Christian")
df=df.replace("Bethune","Bethune-Cookman")
df=df.replace("NC Central","North Carolina Central")
df=df.replace("Charleston","College of Charleston")
df=df.replace("Central Florida","UCF")
df=df.replace("G Washington","George Washington")
df=df.replace("Hawai’i","Hawaii")
df=df.replace("MTSU","Middle Tennessee")
df=df.replace("CSU Northridge","Cal State Northridge")
df=df.replace("Loyola MD","Loyola (MD)")
df=df.replace("Hawai'i","Hawaii")
df=df.replace("Saint Mary's","Saint Mary's (CA)")
df=df.replace("Pitt","Pittsburgh")
df=df.replace("UAlbany","Albany (NY)")
df=df.replace("UIC","Illinois-Chicago")
df=df.replace("UT Martin","Tennessee-Martin")
df=df.replace("Texas A&M-CC","Texas A&M-Corpus Christi")
df=df.replace("San José State","San Jose State")
df=df.replace("San Diego St","San Diego State")
df=df.replace("TX A&M-CC","Texas A&M-Corpus Christi")
df=df.replace("NC State","NC State")
df=df.replace("Western KY","Western Kentucky")
df=df.replace("SE Louisiana","Southeastern Louisiana")
df=df.replace("SE Missouri","Southeast Missouri State")
df=df.replace("MD Eastern","Maryland-Eastern Shore")
df=df.replace("UMass","Massachusetts")
df=df.replace("SMU","Southern Methodist")
df=df.replace("SC State","South Carolina State")
df=df.replace("Boston U","Boston University")
df=df.replace("MD E Shore","Maryland-Eastern Shore")
df=df.replace("C Michigan","Central Michigan")
df=df.replace("LSU","Louisiana State")
df=df.replace("App State","Appalachian State")
df=df.replace("AR-Pine Bluff","Arkansas-Pine Bluff")
df=df.replace("N Illinois","Northern Illinois") 
df=df.replace("W Illinois","Western Illinois")
df=df.replace("E Illinois","Eastern Illinois")
df=df.replace("C Connecticut","Central Connecticut State")
df=df.replace("Coastal Car","Coastal Carolina")
df=df.replace("G Washington","George Washington")
df=df.replace("GA Southern","Georgia Southern")
df=df.replace("FIU","Florida International")
df=df.replace("FAU","Florida Atlantic")
df=df.replace("E Michigan","Eastern Michigan")
df=df.replace("W Michigan","Western Michigan")
df=df.replace("Charleston So","Charleston Southern")
df=df.replace("CSU Northridge","Cal State Northridge")
df=df.replace("UMBC","Maryland-Baltimore County")
df=df.replace("N'Western State",'Northwestern State')
df=df.replace("NC A&T","North Carolina A&T")
df=df.replace("Nicholls","Nicholls State")
df=df.replace("McNeese","McNeese State")
df=df.replace("E Washington","Eastern Washington")
df=df.replace("E Kentucky","Eastern Kentucky")
df=df.replace("ETSU","East Tennessee State")
df=df.replace("Southern Miss","Southern Mississippi")
df=df.replace("St Francis PA","Saint Francis (PA)")
df=df.replace("St Francis BK","St. Francis (NY)")
df=df.replace("N Illinois","Northern Illinois")
df=df.replace("Brooklyn NY","New York NY")
df=df.replace("Manhattan NY","New York NY")
df=df.replace("Staten Island NY","New York NY")
df=df.replace("VMI","Virginia Military Institute")
df=df.replace("UL Monroe","Louisiana-Monroe")
df=df.replace("W Carolina","Western Carolina")
df=df.replace("Utah Stateate","Utah State")
df=df.replace("VCU","Virginia Commonwealth")
df=df.replace("UConn","Connecticut")
df=df.replace("N Arizona","Northern Arizona")
df=df.replace("Hou Christian","Houston Christian")
df=df.replace("IU Indy","IUPUI")
df=df.replace('Illinois St',"Illinois State")
df=df.replace("Florida St","Florida State")
df=df.replace("Texas St","Texas State")
df=df.replace("Indiana St","Indiana State")
df=df.replace("Michigan St","Michigan State")
df=df.replace("Iowa St","Iowa State")
df=df.replace("Alabama St","Alabama State")
df=df.replace("Alcorn St","Alcorn State")
df=df.replace("Jackson St","Jackson State")
df=df.replace("Greenwood MS","Itta Benna MS")
df=df.replace("Georgia St","Georgia State")
df=df.replace("Oregon St","Oregon State")
df=df.replace("Arizona St","Arizona State")
df=df.replace("Washington St","Washington State")
df=df.replace("Penn","Pennsylvania")
df=df.replace("Arkansas St","Arkansas State")
df=df.replace("Jax State","Jacksonville State")
df=df.replace("Long Island","Long Island University")
df=df.replace("N Kentucky","Northern Kentucky")
df=df.replace("Liu Brooklyn","Long Island University")
df=df.replace("Utah St","Utah State")
df=df.replace("New Mexico St","New Mexico State")
df=df.replace("Kansas St","Kansas State")
df=df.replace("Missouri St","Missouri State")
df=df.replace("Idaho St","Idaho State")
df=df.replace("Montana St","Montana State")
df=df.replace("Oklahoma St","Oklahoma State")
df=df.replace("Murray St","Murray State")
df=df.replace("Mississippi St","Mississippi State")
df=df.replace("Penn St","Penn State")
df=df.replace("Portland St","Portland State")
df=df.replace("LMU","Loyola Marymount")
df=df.replace("Long Beach St","Long Beach State")
df=df.replace("Loyola Chicago","Loyola (IL)")
df=df.replace("N Dakota St","North Dakota State")
df=df.replace("Loyola MD","Loyola (MD)")
df=df.replace("Queens NY","New York NY")
df=df.replace("Norfolk St","Norfolk State")
df=df.replace("Purdue FW","Purdue Fort Wayne")
df=df.replace("N Colorado","Northern Colorado")
df=df.replace("St John's","St. John's (NY)")
df=df.replace("Queens","Queens (NC)")
df=df.replace("S Dakota St","South Dakota State")
df=df.replace("Santa Barbara","UC Santa Barbara")
df=df.replace("SFA","Stephen F. Austin")
df=df.replace("San José St","San Jose State")
df=df.replace("SC Upstate","South Carolina Upstate")
df=df.replace("St Bonaventure","St. Bonaventure")
df=df.replace("SIUE","Southern Illinois-Edwardsville")
df=df.replace("Seattle U","Seattle")
df=df.replace("San Diego St","San Diego State")
df=df.replace("Saint Francis","Saint Francis (PA)")
df=df.replace("Sacramento St","Sacramento State")
df=df.replace("UMass Lowell","Massachusetts-Lowell")
df=df.replace("So Indiana","Southern Indiana")
df=df.replace("St Thomas (MN)","St. Thomas")
df=df.replace("Savannah St","Savannah State")
df=df.replace("S Illinois","Southern Illinois")
df=df.replace("SC Upstate","South Carolina Upstate")
df=df.replace("SF Austin","Stephen F. Austin")
df=df.replace("UT Rio Grande","Texas-Rio Grande Valley")
df=df.replace("UNLV","Nevada-Las Vegas")
df=df.replace("USC","Southern California")
df=df.replace("Wichita St","Wichita State")
df=df.replace("Wright St","Wright State")
df=df.replace("Weber St","Weber State")
df=df.replace("Cleveland St","Cleveland State")
df=df.replace("Youngstown St","Youngstown State")
df=df.replace('Bakersfield',"Cal State Bakersfield")
df=df.replace("Fresno St","Fresno State")
df=df.replace("Boise St",'Boise State')
df=df.replace("CA Baptist","California Baptist")
df=df.replace("Coastal","Coastal Carolina")
df=df.replace("Coppin St","Coppin State")
df=df.replace("Chicago St","Chicago State")
df=df.replace("C Arkansas","Central Arkansas")
df=df.replace("Delaware St","Delaware State")
df=df.replace("E Texas A&M","Texas A&M-Commerce")
df=df.replace("Fullerton","Cal State Fullerton")
df=df.replace("FGCU","Florida Gulf Coast")
df=df.replace("Kennesaw St","Kennesaw State")
df=df.replace("Miss Valley St","Mississippi Valley State")
df=df.replace("Morehead St","Morehead State")
df=df.replace("Miami","Miami (FL)")
df=df.replace("Miami OH","Miami (OH)")
df=df.replace("Mount St Marys","Mount St. Mary's")
df=df.replace("Morgan St","Morgan State")
df=df.replace("Ole Miss","Mississippi")
df=df.replace("Tarleton St","Tarleton State")
df=df.replace("N'Western St","Northwestern State")
df=df.replace("Tennessee St","Tennessee State")
df=df.replace("Colorado St","Colorado State")
df=df.replace("Cambridge MA","Boston MA")
df=df.replace("Riverdale NY","Manhattan NY")
for row in df.itertuples():
    if 'RAC Arena' in str(row):
        df.at[row.Index,'city']='Catonsville MD'
for row in df.itertuples():
    if 'Ocean Bank Convocation Center' in str(row):
        df.at[row.Index,'city']='University Park FL'
for row in df.itertuples():
    if 'Barry University Health & Sports Center' in str(row):
        df.at[row.Index,'city']='University Park FL'
df=df.replace("Manhattan NY","New York NY")
teamz={}
for row in df.itertuples():
    if 'False' in str(row.neutral):
        if row.t1 not in teamz:
            teamz[row.t1]=[]
        if row.city not in str(teamz[row.t1]):
            teamz[row.t1].append([row.city,row.stadium])
for t in teamz:
    if t[0]=='Y':
        print(t,teamz[t])
y=pd.read_csv("https://cfbzzz.alwaysdata.net/ncaaf/nicknamez.txt")
teams={}
for row in y.itertuples():
    er=str(row.City)
    er=er.replace(",","")
    teams[row.School]=er
teams['Birm-Southern']='Birmingham, AL'
teams['Morris Brown']='Atlanta GA'
teams['Temple']='Philadelphia PA'
teams['Savannah State']='Savannah GA'
teams['Centenary (LA)']="Shreveport LA"
teams['Seton Hall']="South Orange NJ"
teams['Western Kentucky']='Bowling Green KY'
teams['Maryland-Baltimore County']='Catonsville MD'
teams['Villanova']='Villanova PA'
y=y.replace("Washington D.C.","Washington DC")
y=y.replace("Vestal NY","Binghamton NY")
y=y.replace("State College PA","University Park PA")
y=y.replace("Allston MA","Cambridge MA")
y=y.replace("St. Charles MO","Saint Charles MO")
y=y.replace("Brooklyn NY","New York NY")
y=y.replace("Queens NY","New York NY")
y=y.replace("Lewiston NY","Niagara Falls NY")
teams['NC State']='Raleigh NC'
teams['UC Santa Barbara']='Santa Barbara CA'
teams['UC San Diego']='San Diego CA'
teams['Northern Illinois']='Dekalb IL'
teams['Mississippi State']='Starkville MS'
teams['Wright State']='Fairborn OH'
teams['Wagner']='New York NY'
teams['Manhattan']='New York NY'
teams['Georgetown']="Washington DC"
teams['American']='Washington DC'
teams['Howard']='Washington DC'
teams['George Washington']='Washington DC'
teams['Harvard']='Cambridge MA'
teams['Binghamton']='Binghamton NY'
teams['Long Island University']='New York NY'
teams['Mississippi']='Oxford MS'
teams["St. John's (NY)"]='New York NY'
teams['St. Francis (NY)']='New York NY'
teams['St. Bonaventure']='Saint Bonaventure NY'
teams['Lindenwood']='Saint Charles MO'
teams['Penn State']='University Park PA'
teams['Villanova']='Villanova PA'
teams['Savannah State']='Savannah GA'
teams['Centenary (LA)']='Shreveport LA'
teams['Seton Hall']='South Orange NJ'
teams['Western Kentucky']='Bowling Green KY'
teams['Maryland-Baltimore County']='Catonsville MD'
teams['Niagara']='Niagara Falls NY'
teams['St. Bonaventure']='Saint Bonaventure NY'
df=df.astype({"city":"string"})
for row in df.itertuples():
    if 'Nutter Center' in str(row.stadium):
        df.at[row.Index,'city']='Fairborn OH'
for row in df.itertuples():
    df.at[row.Index,'t1']=str(row.t1).rstrip()
    df.at[row.Index,'t2']=str(row.t2).rstrip()
si=[]
for row in df.itertuples():
    if 'False' in str(row.neutral):
        if float(row.season) not in si:
            print(float(row.season))
            si.append(float(row.season))
        t1c=''
        t2c=''
        if row.t1 in teams:
            t1c=teams[row.t1]
        if row.t2 in teams:
            t2c=teams[row.t2]
        if t1c==t2c:
            df.at[row.Index,'neutral']=True
            df.at[row.Index,'venue']='vs'
        if t1c!=t2c:
            if t1c==row.city:
                df.at[row.Index,'neutral']=False
                df.at[row.Index,'venue']='vs'
            if t2c==row.city:
                df.at[row.Index,'neutral']=False
                df.at[row.Index,'venue']='@'     
for row in df.itertuples():
    if row.t1=='South Carolina Upstate' and row.t2=='Wofford' and row.venue=='vs':
        df.at[row.Index,'venue']='@'
        df.at[row.Index,'neutral']='False'
    if row.t1=='South Carolina Upstate' and row.t2=='Wofford' and row.venue=='@':
        df.at[row.Index,'neutral']='False'
    if row.t2=='South Carolina Upstate' and row.t1=='Wofford' and row.venue=='vs':
        df.at[row.Index,'neutral']='False'
    if row.t2=='South Carolina Upstate' and row.t1=='Wofford' and row.venue=='@':
        df.at[row.Index,'neutral']='False'
        df.at[row.Index,'neutral']='vs'
for row in df.itertuples():
    if 'Koessler Center' in str(row):
        if row.t1=='Canisius' and row.t2=='Buffalo':
            df.at[row.Index,'neutral']=True
        if row.t2=='Canisius' and row.t1=='Buffalo':
            df.at[row.Index,'neutral']=True
for row in df.itertuples():
    if 'False' in str(row.neutral):
        if row.season<1982:
            if row.venue=='vs' and row.t1=='Buffalo' and row.t2=='Canisius':
                df.at[row.Index,'neutral']=True
            if row.venue=='@' and row.t1=='Buffalo' and row.t2=='Canisius':
                df.at[row.Index,'neutral']=True
            if row.venue=='vs' and row.t2=='Buffalo' and row.t1=='Canisius':
                df.at[row.Index,'neutral']=True
            if row.venue=='@' and row.t2=='Buffalo' and row.t1=='Canisius':
                df.at[row.Index,'neutral']=True
        elif row.season<2014:
            if row.venue=='@' and row.t1=='Buffalo' and row.t2=='Canisius':
                df.at[row.Index,'neutral']=True
            if row.venue=='vs' and row.t1=='Canisius' and row.t2=='Buffalo':
                df.at[row.Index,'neutral']=True
                
for row in df.itertuples():
    arr.append([row.date,row.t1,row.t2,row.t1p,row.t2p,row.venue,row.season,row.neutral,False])
arr.append([20170314.0,'New Orleans',"Mount St. Mary's",66,67,'vs',2016.0,True,False])
arr.append([20170314.0,'UNC Greensboro','Syracuse',77,90,'@',2016.0,False,False])
arr.append([20170314.0,'Valparaiso','Illinois',57,82,'@',2016.0,False,False])
arr.append([20170314.0,'Oakland','Clemson',74,69,'@',2016.0,False,False])
arr.append([20170314.0,'Indiana','Georgia Tech',63,75,'@',2016.0,False,False])
arr.append([20170314.0,'Wake Forest','Kansas State',88,95,'vs',2016.0,True,False])
arr.append([20170314.0,'Richmond','Alabama',71,64,'@',2016.0,False,False])
arr.append([20170314.0,'Boise State','Utah',73,68,'@',2016.0,False,False])
arr.append([20170314.0,'Cal State Bakersfield','California',73,66,'@',2016.0,False,False])
arr.append([20170314.0,'Mississippi','Monmouth',91,83,'@',2016.0,False,False])
arr.append([20180112.0,'Delaware State','Hampton',56,78,'@',2017.0,False,False])
arr.append([20170314.0,'College of Charleston','Colorado State',74,81,'@',2016.0,False,False])
dff=pd.DataFrame(arr,columns=['date','t1','t2','t1p','t2p','venue','season','neutral','hj'])
dff=dff.astype({"date":float})
dff=dff.sort_values(by='date')
dff=dff.astype({"venue":"string"})
dff['venue']=dff['venue'].replace("at","@")
dff['venue']=dff['venue'].replace("A","@")
dff['venue']=dff['venue'].replace("N","vs")
dff['venue']=dff['venue'].replace("H","vs")
df22=dff.replace("Albany","Albany (NY)")
df22=df22.replace("LSU","Louisiana State")
df22=df22.replace("Citadel","The Citadel")
df22=df22.replace("NotreDame","Notre Dame")
df22=df22.replace("BYU","Brigham Young")
df22=df22.replace("NC Central","North Carolina Central")
confs[2025]['Texas A&M-Commerce']='Southland'
confs[2024]['Texas A&M-Commerce']='Southland'
confs[2023]['Texas A&M-Commerce']='Southland'
confs[2022]['Texas A&M-Commerce']='Southland'
confs[2024]['IU Indy']='Horizon'
for key in list(confs):
    if 'IU Indy' in confs[key]:
        confs[key]['IUPUI']=confs[key]['IU Indy']
df22=df22.replace("Citadel","The Citadel")
df22=df22.replace("NotreDame","Notre Dame")
df22=df22.replace("BYU","Brigham Young")
df22=df22.replace("IUPUI","IU Indy")
df22=df22.replace("Cal Baptist","California Baptist")
df22=df22.replace("East Texas A&M","Texas A&M-Commerce")
df22=df22.replace("Centenary","Centenary (LA)")
df22=df22.replace("Detroit","Detroit Mercy")
confs[2008]['North Dakota']='Ind'
confs[2011]['Omaha']='Ind'
confs[2008]['Seattle']='Ind'
confs[2001]['Purdue Fort Wayne']='Ind'
confs[2008]['North Dakota']='Ind'
confs[2001]['Morris Brown']='Ind'
k=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/finalbart.csv")
!pip install playwright
!playwright install
!playwright install-deps
arrw=[]
from playwright.async_api import async_playwright
import asyncio


async def fetch(link):
    async with async_playwright() as p:
        browser=await p.chromium.launch(headless=True)
        page=await browser.new_page()
        await page.goto(link,wait_until="load")
        last=None
        for _ in range(10):
            await page.wait_for_load_state("networkidle")
            new=page.url
            if new==last:
                break
            last=new
        try:
            await page.wait_for_selector("table")
        except Exception as e:
            print(e)
        html=await page.content()
        await browser.close()
        soup=BeautifulSoup(html)
        return soup
from playwright.async_api import async_playwright
from bs4 import BeautifulSoup
import asyncio



async def fetchz(link, context):
    page = await context.new_page()
    await page.route("**/*", lambda route: route.abort() if route.request.resource_type in ["image", "stylesheet", "font"] else route.continue_())
    await page.goto(link, wait_until="domcontentloaded",timeout=0)
    last = None
    for _ in range(10):
        await page.wait_for_load_state("networkidle")
        new = page.url
        if new == last:
            break
        last = new
    try:
        await page.wait_for_selector("table",state="attached")
    except Exception as e:
        print(e)
    element = await page.query_selector("table")
    html = await element.inner_html()
    soup = BeautifulSoup(html, "html.parser")
    await page.close()
    return soup

async def main(link):
    async with async_playwright() as p:
        browser = await p.chromium.launch(headless=True,args=["--disable-gpu", "--no-sandbox"])
        context = await browser.new_context()
        result = await fetchz(link,context)
        await browser.close()
        return result
dates={}
import nest_asyncio
nest_asyncio.apply()
h=df22[df22.season==2025]
from datetime import date
today=date.today()
today=str(today)
today=today.replace("-","")
today=float(today)
for row in h.itertuples():
    if row.date not in dates:
        if float(row.date)<today:
            dates[row.date]=row.season
        
for d in dates:
    print(d)
    d=str(d)
    d=d.replace(".0","")
    url="https://barttorvik.com/schedule.php?date="+d+"&conlimit="
    loop = asyncio.get_event_loop()
    table = loop.run_until_complete(main(url))
    for tr in table.find_all("tr"):
        if "Result" not in str(tr) and 'absolute error' not in str(tr):
            teams=tr.find_all("td")[1]
            pred=tr.find_all("td")[2]
            pred=pred.find("a").text
            score=tr.find_all("td")[4]
            score=score.find("a").text
            t1=teams.find_all("a")[0].text
            t2=teams.find_all("a")[1].text
            pred=pred.split(",")
            pred=pred[0]
            predw="?"
            line="?"
            if "-" in str(pred):
                pred=pred.split("-")
                line=pred[1]
                predw=pred[0]
            if 'vs' in str(teams):
                n=True
            elif 'at' in str(teams):
                n=False
                
            arrw.append([d,t2,t1,predw,line,score,n,dates[float(str(d)+".0")]])
games={}
for row in k.itertuples():
    arrw.append([row.date,row.home,row.away,row.predw,row.line,row.final,row.neutral,row.season])
k=pd.DataFrame(arrw,columns=['date','home','away','predw','line','final','neutral','season'])
k=k.astype({"final":"string"})
k=k.replace("Michigan St.","Michigan State")
k['home']=k['home'].str.replace(" St."," State")
k['away']=k['away'].str.replace(" St."," State")
k['predw']=k['predw'].str.replace(" St."," State")
k=k.replace("IU Indy","IUPUI")
k=k.replace("Fresno St","Fresno State")
k=k.replace("Alcorn St.","Alcorn State")
k=k.replace("UNLV","Nevada-Lad Vegas")
k=k.replace("Arkansas St.","Arkansas State")
k=k.replace("Mississippi St.","Mississippi State")
k=k.replace("Queens","Queens (NC)")
k=k.replace("BYU","Brigham Young")
k=k.replace("Charleston","College of Charleston")
k=k.replace("Arizona St.","Arizona State")
k=k.replace("Arkansas Pine Bluff","Arkansas-Pine Bluff")
k=k.replace("Albany","Albany (NY)")
k=k.replace("Dixie State","Utah Tech")
k=k.replace("Central Connecticut","Central Connecticut State")
k=k.replace("Cal Baptist","California Baptist")
k=k.replace("Bethune Cookman","Bethune-Cookman")
k['home']=k['home'].str.replace(" Statetete"," State")
k['away']=k['away'].str.replace(" Statetete"," State")
k['home']=k['home'].str.replace(" Statete"," State")
k=k.replace("East Texas A&M","Texas A&M-Commerce")
k['away']=k['away'].str.replace(" Statete"," State")
k['predw']=k['predw'].str.replace(" Statete"," State")
k['predw']=k['predw'].str.replace(" Statetete"," State")
k=k.replace("Nevada-Lad Vegas","Nevada-Las Vegas")
k=k.replace("Fairleigh Dickinson","FDU")
k=k.replace("FIU","Florida International")
k=k.replace("Illinois Chicago","Illinois-Chicago")
k=k.replace("Grambling State","Grambling")
k=k.replace("LSU","Louisiana State")
k=k.replace("LIU","Long Island University")
k=k.replace("N.C. State","NC State")
k=k.replace("Maryland Eastern Shore","Maryland-Eastern Shore")
k=k.replace("Miami OH","Miami (OH)")
k=k.replace("Miami FL","Miami (FL)")
k=k.replace("Louisiana Monroe","Louisiana-Monroe")
k=k.replace("Lindenwood (MO)","Lindenwood")
k=k.replace("Loyola MD","Loyola (MD)")
k=k.replace("Texas A&M Corpus Chris","Texas A&M-Corpus Christi")
k=k.replace("SMU","Southern Methodist")
k=k.replace("Penn","Pennsylvania")
k=k.replace("Prairie View A&M","Prairie View")
k=k.replace("Mount State Mary's","Mount St. Mary's")
k=k.replace("Nebraska Omaha","Omaha")
k=k.replace("St. John's","St. John's (NY)")
k=k.replace("Saint Mary's","Saint Mary's (CA)")
k=k.replace("Southern Miss","Southern Mississippi")
k=k.replace("Texas A&M Commerce","Texas A&M-Commerce")
k=k.replace("SIU Edwardsville","Southern Illinois-Edwardsville")
k=k.replace("Sam Houston State","Sam Houston")
k=k.replace("Loyola Chicago","Loyola (IL)")
k=k.replace("Tennessee Martin","Tennessee-Martin")
k=k.replace("UT Rio Grande Valley","Texas-Rio Grande Valley")
k=k.replace("UMBC","Maryland-Baltimore County")
k=k.replace("UIndy","IUPUI")
k=k.replace("USC","Southern California")
k=k.replace("UMass Lowell","Massachusetts-Lowell")
k=k.replace("UMKC","Kansas City")
k=k.replace("USC Upstate","South Carolina Upstate")
k=k.replace("UMBC","Maryland-Baltimore County")
k=k.replace("VMI","Virginia Military Institute")
k=k.replace("VCU","Virginia Commonwealth")
k=k.replace("State Bonaventure","St. Bonaventure")
for row in k.itertuples():
    jh=str(row.predw).rstrip()
    k.at[row.Index,'predw']=jh
filez=requests.get("https://cfbzzz.alwaysdata.net/file.txt").text
filez=filez.split("\n")
for row in filez:
    h=row.split(",")
    k['predw']=k['predw'].str.replace(h[0],h[1])
filez=requests.get("https://cfbzzz.alwaysdata.net/file.txt").text
filez=filez.split("\n")
for row in filez:
    h=row.split(",")
    k['final']=k['final'].str.replace(h[0],h[1])
k=k[k.final!='']
for row in k.itertuples():
    score=str(row.final)
    score=score.split(",")
    score=score[1]
    score=score.replace(" ","")
    s1=score.split("-")[0]
    s2=score.split("-")[1]
    name=str(row.season)+row.home+row.away+str(s1)+" "+str(s2)
    name=name.replace("BYU","Brigham Young")
    line=str(row.line)
    if '?' in str(line):
        line=-2000
    prewin=str(row.predw)
    prewin=prewin.rstrip()
    games[name]={"winner":prewin,"line":float(line)}
print("dropping rows")
sy=[]
df22['isnon']=False
df22=df22.replace("IU Indy","IUPUI")
for row in df22.itertuples():
    if row.t1 not in confs[row.season] or row.t2 not in confs[row.season]:
        if row.season not in sy:
            sy.append(row.season)
            print(row.season)
        df22.at[row.Index,'isnon']=True
er=df22
df22=df22[df22.isnon==False]
for row in df22.itertuples():
    if float(row.t1p)==0 and float(row.t2p)==0:
        df22=df22.drop(row.Index)
    if float(row.t1p)==2 and float(row.t2p)==0:
        df22=df22.drop(row.Index)
    if float(row.t1p)==0 and float(row.t2p)==2:
        df22=df22.drop(row.Index)
    if float(row.t1p)==1 and float(row.t2p)==0:
        df22=df22.drop(row.Index)
    if float(row.t1p)==0 and float(row.t2p)==1:
        df22=df22.drop(row.Index)
for row in df22.itertuples():
    if float(row.date)==20150216 and row.t1=='Bethune-Cookman' and row.t2=='North Carolina A&T':
        df22.at[row.Index,'t1p']=78
    if float(row.date)==20150216 and row.t2=='Bethune-Cookman' and row.t1=='North Carolina A&T':
        df22.at[row.Index,'t2p']=78
for row in df22.itertuples():
    if float(row.season)==2016 and row.t1=='Prairie View' and row.t2=='Jackson State':
        df22.at[row.Index,'t2p']=56
    if float(row.season)==2016 and row.t2=='Prairie View' and row.t1=='Jackson State':
        df22.at[row.Index,'t1p']=56
for row in df22.itertuples():
    if float(row.season)==2016 and row.t1=='Maryland-Eastern Shore' and row.t2=='North Carolina A&T' and row.t1p==74 and row.t2p==67:
        df22.at[row.Index,'t1p']=75
        df22.at[row.Index,'t2p']=65
    if float(row.season)==2016 and row.t2=='Maryland-Eastern Shore' and row.t1=='North Carolina A&T' and row.t2p==74 and row.t1p==67:
        df22.at[row.Index,'t2p']=75
        df22.at[row.Index,'t1p']=65
for row in df22.itertuples():
    if float(row.season)==2016 and row.t1=='North Carolina Central' and row.t2=='Maryland-Eastern Shore' and row.t1p==79 and row.t2p==49:
        df22.at[row.Index,'t1p']=77
    if float(row.season)==2016 and row.t2=='North Carolina Central' and row.t1=='Maryland-Eastern Shore' and row.t2p==79 and row.t1p==49:
        df22.at[row.Index,'t2p']=77
for row in df22.itertuples():
    if float(row.season)==2014 and row.t1=='Army' and row.t2=='Colgate' and row.t1p==65:
        df22.at[row.Index,'t2p']=63
    if float(row.season)==2014 and row.t2=='Army' and row.t1=='Colgate' and row.t2p==65:
        df22.at[row.Index,'t1p']=63
for row in df22.itertuples():
    if row.season==2018 and row.t1=='Saint Francis (PA)' and row.t2=='Morgan State' and row.t2p==60:
        df22.at[row.Index,'t2p']=62
    if row.season==2018 and row.t2=='Saint Francis (PA)' and row.t1=='Morgan State' and row.t1p==60:
        df22.at[row.Index,'t1p']=62
for row in df22.itertuples():
    if row.t1=='Old Dominion' and row.season==2018 and row.t2=='Southern Mississippi' and row.t1p==78 and row.t2p==60:
        df22.at[row.Index,'t1p']=76
        df22.at[row.Index,'t2p']=62
    if row.t2=='Old Dominion' and row.season==2018 and row.t1=='Southern Mississippi' and row.t2p==78 and row.t1p==60:
        df22.at[row.Index,'t2p']=76
        df22.at[row.Index,'t1p']=62
for row in df22.itertuples():
    if row.season==2019 and row.t1=='Gardner-Webb' and row.t2=='Hampton' and row.t1p==39 and row.t2p==31:
        df22.at[row.Index,'t1p']=81
        df22.at[row.Index,'t2p']=67
    if row.season==2019 and row.t2=='Gardner-Webb' and row.t1=='Hampton' and row.t2p==39 and row.t1p==31:
        df22.at[row.Index,'t2p']=81
        df22.at[row.Index,'t1p']=67
for row in df22.itertuples():
    if float(row.date)==20170314 and 'UNC Greensboro' in str(row) and 'Syracuse' in str(row):
        df22=df22.drop(row.Index)
for row in df22.itertuples():
    if float(row.date)==20180224 and 'Morgan State' in str(row)	and 'Hampton' in str(row):
        df22=df22.drop(row.Index)
for row in df22.itertuples():
    if float(row.date)==20200120 and 'Hampton' in str(row) and 'Gardner-Webb' in str(row):
        df22.at[row.Index,'date']=20200224
for row in df22.itertuples():
    if float(row.date)==20180112 and row.t1=='Delaware State' and row.t2=='Hampton'	and row.t1p==56	and row.t2p==78:
        df22=df22.drop(row.Index)
kl=df22[df22.season>2013]
gsz=[]
gszz=[]
print("count new:"+str(len(kl)))
print("doing confy")
df22=df22[df22.hj==False]
df22=df22.astype({"t1p":float,'t2p':float})
df22=df22.astype({"t1p":float,'t2p':float})
for game in df22.itertuples():
    if game.t1 in confs[game.season] and game.t2 in confs[game.season]:
        if confs[float(game.season)][game.t1]!=confs[float(game.season)][game.t2]:
            sconf=confs[float(game.season)][game.t1]
            if sconf not in confy:
                confy[sconf]=[]
            confy[sconf].append(game.t1p-game.t2p)
            oconf=confs[float(game.season)][game.t2]
            if oconf not in confy:
                confy[oconf]=[]
            confy[oconf].append(game.t2p-game.t1p)
combo=[]
combo.append(['Samford',"UAB"])
combo.append(["Manhattan","Fordham"])
combo.append(['Loyola (IL)','DePaul'])
combo.append(['DePaul','Illinois-Chicago'])
combo.append(['Grambling','Centenary (LA)'])
combo.append(['Chicago State','Illinois-Chicago'])
combo.append(['Loyola (IL)','Chicago State'])
combo.append(["Fordham","Columbia"])
combo.append(["Columbia","Manhattan"])
combo.append(["East Carolina","Furman"])
combo.append(["San Diego State","San Diego"])
combo.append(["Butler","IUPUI"])
combo.append(["Louisiana State","Southern"])
combo.append(["UCLA","Southern California"])
combo.append(["Southern California","Loyola Marymount"])
combo.append(["UCLA","Loyola Marymount"])
combo.append(["St. John's (NY)","Manhattan"])
combo.append(['Lipscomb','Belmont'])
combo.append(['Lipscomb','Tennessee State'])
combo.append(['Belmont','Vanderbilt'])
combo.append(['Delaware','NJIT'])
combo.append(['Vanderbilt','Lipscomb'])
combo.append(["Fordham","St. John's (NY)"])
combo.append(["Columbia","St. John's (NY)"])
combo.append(["St. Francis (NY)","St. John's (NY)"])
combo.append(["St. Francis (NY)","Columbia"])
combo.append(['Southern Indiana','Evansville'])
combo.append(["Manhattan","St. John's (NY)"])
combo.append(["Duke","North Carolina Central"])
combo.append(['Charleston Southern','College of Charleston'])
combo.append(["Fordham","St. Francis (NY)"])
combo.append(['Le Moyne','Syracuse'])
combo.append(['North Carolina A&T','UNC Greensboro'])
combo.append(['Charlotte','Queens (NC)'])
combo.append(['Wake Forest','Winston-Salem'])
combo.append(['Florida State','Florida A&M'])
combo.append(['Washington (MO)','Saint Louis'])
combo.append(['Baltimore','Loyola (MD)'])
combo.append(['Baltimore','Coppin State'])
combo.append(['Baltimore','Morgan State'])
combo.append(['New Orleans','Loyola (LA)'])
combo.append(['Loyola (LA)','Tulane'])
combo.append(['Tulane','New Orleans'])
combo.append(['Northeastern Illinois','Chicago State'])
combo.append(['Northeastern Illinois','DePaul'])
combo.append(['Northeastern Illinois','Illinois-Chicago'])
combo.append(['Georgia Tech','Morris Brown'])
combo.append(['Georgia State','Morris Brown'])
combo.append(['Catholic','American'])
combo.append(['Catholic','George Washington'])
combo.append(['Catholic','Georgetown'])
combo.append(['Catholic','Howard'])
combo.append(["St. John's (NY)",'Wagner'])
combo.append(['Fordham','Wagner'])
combo.append(['Columbia','Wagner'])
combo.append(['Sacred Heart','Fairfield'])
combo.append(['Cal State Los Angeles','Southern California'])
combo.append(['San Diego State','UC San Diego'])
combo.append(['San Diego','UC San Diego'])
combo.append(['Cal State Los Angeles','Loyola Marymount'])
combo.append(['Cal State Los Angeles','UCLA'])
combo.append(['U.S. International','San Diego'])
combo.append(['St. Francis (NY)','Wagner'])
combo.append(['U.S. International','San Diego State'])
combo.append(['Southern Indiana','Evansville'])
combo.append(['Wagner','Columbia'])
combo.append(["St. Francis (NY)","Manhattan"])
combo.append(["Howard","Georgetown"])
combo.append(["Howard","George Washington"])
combo.append(["Howard","American"])
combo.append(["Georgetown","George Washington"])
combo.append(["American","Georgetown"])
combo.append(["Howard","Georgetown"])
combo.append(["Jacksonville","North Florida"])
combo.append(["Georgia Tech","Georgia State"])
combo.append(["Houston","Texas Southern"])
combo.append(["Houston","Rice"])
combo.append(["Houston","Houston Christian"])
combo.append(["Rice","Houston Christian"])
combo.append(["Rice","Texas Southern"])
combo.append(["Houston Christian","Texas Southern"])
combo.append(["DePaul","Chicago State"])
combo.append(["Louisville","Bellarmine"])
combo.append(["Harvard","Boston University"])
combo.append(["Harvard","Northeastern"])
combo.append(['College of Charleston','The Citadel'])
combo.append(["Boston University","Northeastern"])
combo.append(["Morgan State","Loyola (MD)"])
combo.append(["Coppin State","Morgan State"])
combo.append(["Coppin State","Loyola (MD)"])
combo.append(["Creighton","Omaha"])
combo.append(["Tulsa","Oral Roberts"])
combo.append(["Portland","Portland State"])
combo.append(["Saint Joseph's","Temple"])
combo.append(["Temple","Pennsylvania"])
combo.append(["Saint Joseph's","Pennsylvania"])
combo.append(["Temple","La Salle"])
combo.append(["Saint Joseph's","La Salle"])
combo.append(["La Salle","Pennsylvania"])
combo.append(["La Salle","Drexel"])
combo.append(["Drexel","Pennsylvania"])
combo.append(["Saint Joseph's","Drexel"])
combo.append(["Drexel","Temple"])
combo.append(["Brown","Providence"])
combo.append(["South Carolina Upstate","Wofford"])
combo.append(["Vanderbilt","Tennessee State"])
combo.append(["Vanderbilt","Belmont"])
combo.append(["Belmont","Tennessee State"])
combo.append(["Trinity (TX)","UTSA"])
combo.append(['Furman','East Carolina'])
combo.append(["UTSA","Incarnate Word"])
combo.append(["Abilene Christian","Hardin-Simmons"])
combo.append(["Washington & Lee","Virginia Military Institute"])
combo.append(["Richmond","Virginia Commonwealth"])
combo.append(["Old Dominion","Norfolk State"])
combo.append(["Washington","Seattle"])
combo.append(["Milwaukee","Marquette"])
combo.append(["Manhattan","New York University"])
combo.append(["St. Francis (NY)","New York University"])
combo.append(["St. John's (NY)","New York University"])
combo.append(["Fordham","New York University"])
combo.append(["Columbia","New York University"])
combo.append(["New York University","City College of New York"])
combo.append(["Manhattan","City College of New York"])
combo.append(["Fordham","City College of New York"])
combo.append(["Columbia","City College of New York"])
combo.append(["St. John's (NY)","City College of New York"])
combo.append(['UC Riverside','California Baptist'])
combo.append(["Pittsburgh","Duquesne"])
combo.append(["Long Island University","Manhattan"])
combo.append(["Long Island University","St. John's (NY)"])
combo.append(["Long Island University","St. Francis (NY)"])
combo.append(["Long Island University","Columbia"])
combo.append(["Long Island University","Fordham"])
combo.append(["Long Island University","Wagner"])
combo.append(["Long Island University","Brooklyn"])
combo.append(["Wagner","Brooklyn"])
combo.append(["St. Francis (NY)","Brooklyn"])
combo.append(["St. John's (NY)","Brooklyn"])
combo.append(["New York University","Brooklyn"])
combo.append(["City College of New York","Brooklyn"])
combo.append(["Manhattan","Brooklyn"])
combo.append(["New York University","Long Island University"])
combo.append(["City College of New York","Long Island University"])
combo.append(["Columbia","Brooklyn"])
combo.append(["Fordham","Brooklyn"])
combo.append(['Xavier','Cincinnati'])
for row in df22.itertuples():
    if row.season<2003:
        if row.t1=='Miami (FL)' and row.venue=='vs':
            df22.at[row.Index,'neutral']=True
        if row.t2=='Miami (FL)' and row.venue=='@':
            df22.at[row.Index,'neutral']=True
        
for row in df22.itertuples():
    if row.season>1981:
        if row.t1=='Harvard' and row.venue=='vs':
            df22.at[row.Index,'neutral']=True
        if row.t2=='Harvard' and row.venue=='@':
            df22.at[row.Index,'neutral']=True
        if row.t1=='Harvard' and row.t2=='Northeastern' and row.venue=='@':
            df22.at[row.Index,'neutral']=False
        if row.t1=='Harvard' and row.t2=='Northeastern' and row.venue=='vs':
            df22.at[row.Index,'neutral']=False
            df22.at[row.Index,'venue']='@'
        if row.t2=='Harvard' and row.t1=='Northeastern' and row.venue=='@':
            df22.at[row.Index,'neutral']=False
            df22.at[row.Index,'venue']='vs'
        if row.t2=='Harvard' and row.t1=='Northeastern' and row.venue=='vs':
            df22.at[row.Index,'neutral']=False

        if row.t1=='Harvard' and row.t2=='Boston University' and row.venue=='@':
            df22.at[row.Index,'neutral']=False
        if row.t1=='Harvard' and row.t2=='Boston University' and row.venue=='vs':
            df22.at[row.Index,'neutral']=False
            df22.at[row.Index,'venue']='@'
        if row.t2=='Harvard' and row.t1=='Boston University' and row.venue=='@':
            df22.at[row.Index,'neutral']=False
            df22.at[row.Index,'venue']='vs'
        if row.t2=='Harvard' and row.t1=='Boston University' and row.venue=='vs':
            df22.at[row.Index,'neutral']=False
y=pd.read_csv("https://cfbzzz.alwaysdata.net/ncaaf/nicknamez.txt")
y=y.replace("Charleston","College of Charleston")
teams={}
for row in y.itertuples():
    teams[row.School]=row.City
teams['Birm-Southern']='Birmingham AL'
teams['Morris Brown']='Atlanta GA'
teams['Savannah State']='Savannah GA'
teams['Centenary (LA)']="Shreveport LA"
teams['Seton Hall']="South Orange NJ"
teams['Western Kentucky']='Bowling Green KY'
teams['Maryland-Baltimore County']='Catonsville MD'
teams['Villanova']='Villanova PA'
for comb in combo:
    print(comb)
    t1=comb[0]
    t2=comb[1]
    for row in df22.itertuples():
        if row.t1==t1 and row.t2==t2:
            df22.at[row.Index,'neutral']=True
        if row.t1==t2 and row.t2==t1:
            df22.at[row.Index,'neutral']=True
for game in df22.itertuples():
    if game.t1 in confs[game.season] and game.t2 in confs[game.season] and 'True' not in str(game.neutral):
        if game.neutral==True or game.neutral=='True':
            m=1
        else:
            sc=confs[game.season][game.t1]
            oc=confs[game.season][game.t2]
            if sc not in hfas:
                hfas[sc]=[]
            if oc not in hfas:
                hfas[oc]=[]
            if game.venue!='@':
                hfas[sc].append(game.t1p-game.t2p)
            else:
                hfas[oc].append(game.t2p-game.t1p)
mh=[]
for key in hfas:
    mh.append(round(np.mean(hfas[key])))
mh=round(np.mean(mh))*kval
for key in hfas:
    hfas[key]=round(np.mean(hfas[key]))
    hfas[key]=hfas[key]*kval
for h in hfas:
    hfas[h]=(mh+hfas[h])/2
for t in confy:
    confy[t]=round(np.mean(confy[t]))*kval
newd1=[]
for row in df22.itertuples():
    if row.season>1949:
        if row.t1 in confs[row.season-1] and row.t2 not in confs[row.season-1]:
            newd1.append(row.t2p-row.t1p)
        if row.t2 in confs[row.season-1] and row.t1 not in confs[row.season-1]:
            newd1.append(row.t1p-row.t2p)
newd1=round(np.mean(newd1))
newd1=newd1*kval
eloLeague.addPlayer("Case Western Reserve",rating=1500)
df22=df22[df22.t1!='West Virginia Tech']
df22=df22[df22.t2!='West Virginia Tech']
df22=df22[df22.t1!='Lawrence Tech']
df22=df22[df22.t2!='Lawrence Tech']
print("dropping")
for game in df22.itertuples():
    if game.t1 not in confs[game.season] or game.t2 not in confs[game.season]:
        df22=df22.drop(game.Index)
for game in df22.itertuples():
    if game.t1p==0 and game.t2p==0:
        df22=df22.drop(game.Index)
print("done dropping")
for t in set(df22.t1.tolist()+df22.t2.tolist()):
    eloLeague.addPlayer(t,rating=1500)
for game in df22.itertuples():
    season=game.season
    if season>currSeason: 
        print(season,'yes')
        confz={}
        pr=df22[df22.season==season]
        hw=set(pr.t1.tolist()+pr.t2.tolist())
        for t in hw:
            if t not in eloLeague.ratingDict.keys():
                eloLeague.addPlayer(t,rating=1500)
            if t not in confs[game.season-1]:
                eloLeague.ratingDict[t]=eloLeague.ratingDict[t]+newd1
        for team in confs[game.season]:
            if team in hw:
                if confs[game.season][team] not in confz:
                    confz[confs[game.season][team]]=[]
                confz[confs[game.season][team]].append(eloLeague.ratingDict[team])
        lsdf=df22[df22.season<game.season]
        ls=set(lsdf.t1.tolist()+lsdf.t2.tolist())
        for key in eloLeague.ratingDict.keys():
            team=key
            if key in confs[game.season] and key in ls:
                mean=np.mean(confz[confs[game.season][team]])
                eloLeague.ratingDict[team]=(eloLeague.ratingDict[team]*(1-rev))+(mean*rev)     
        currSeason+=1
    hr=eloLeague.ratingDict[game.t1]
    ar=eloLeague.ratingDict[game.t2]
    row=game
    t2p=str(row.t2p)
    t2p=t2p.replace(".0","")
    t1p=str(row.t1p)
    t1p=t1p.replace(".0","")
    name=str(row.season)+row.t1+row.t2+t1p+" "+t2p
    namez=str(row.season)+row.t2+row.t1+t2p+" "+t1p
    namezz=str(row.season)+row.t1+row.t2+t2p+" "+t1p
    namezzz=str(row.season)+row.t2+row.t1+t1p+" "+t2p
    preds=-2000
    if name in games:
        predl=games[name]['line']
        predw=games[name]['winner']
        if predw==game.t1:
            preds=float(predl)
        else:
            preds=-float(predl)
    elif namez in games:
        predl=games[namez]['line']
        predw=games[namez]['winner']
        if predw==game.t1:
            preds=float(predl)
        else:
            preds=-float(predl)
    elif namezz in games:
        predl=games[namezz]['line']
        predw=games[namezz]['winner']
        if predw==game.t1:
            preds=float(predl)
        else:
            preds=-float(predl)
    elif namezzz in games:
        predl=games[namezzz]['line']
        predw=games[namezzz]['winner']
        if predw==game.t1:
            preds=float(predl)
        else:
            preds=-float(predl)
        
    hr+=confy[confs[game.season][game.t1]]
    ar+=confy[confs[game.season][game.t2]]
    if 'False' in str(game.neutral):
        if 'vs' in str(game.venue):
            hr+=hfas[confs[game.season][game.t1]]
        if '@' in str(game.venue):
            ar+=hfas[confs[game.season][game.t2]]
    if preds!=-2000:
        diff=(hr-ar)/kval
        diff=(diff+preds)/2
    else:
        diff=(hr-ar)/kval
    if(game.t1p>game.t2p):
        df22.at[game.Index,'predt1s']=diff
        eloLeague.gameOver(game.t1,game.t2,game.t1p,game.t2p,diff*kval)
    if(game.t1p<game.t2p):
        df22.at[game.Index,'predt1s']=diff
        eloLeague.gameOver(game.t2,game.t1,game.t2p,game.t1p,-diff*kval)
        
print("--- %s seconds ---" % (time.time() - start_time))

done files
go through games
1999.0
no!!!!
no!!!!
no!!!!
1998.0
no!!!!
no!!!!
no!!!!
1997.0
no!!!!
no!!!!
no!!!!
1996.0
no!!!!
no!!!!
no!!!!
1995.0
no!!!!
no!!!!
no!!!!
1994.0
no!!!!
no!!!!
no!!!!
1993.0
no!!!!
no!!!!
no!!!!
1992.0
no!!!!
no!!!!
no!!!!
1991.0
no!!!!
no!!!!
no!!!!
1990.0
no!!!!
no!!!!
no!!!!
1989.0
no!!!!
no!!!!
no!!!!
1988.0
no!!!!
no!!!!
no!!!!
1987.0
no!!!!
no!!!!
no!!!!
1986.0
no!!!!
no!!!!
no!!!!
1985.0
no!!!!
no!!!!
no!!!!
1984.0
no!!!!
no!!!!
no!!!!
1983.0
no!!!!
no!!!!
no!!!!
1982.0
no!!!!
no!!!!
no!!!!
1981.0
no!!!!
no!!!!
no!!!!
1980.0
no!!!!
no!!!!
no!!!!
1979.0
no!!!!
no!!!!
no!!!!
1978.0
no!!!!
no!!!!
no!!!!
1977.0
no!!!!
no!!!!
no!!!!
1976.0
no!!!!
no!!!!
no!!!!
1975.0
no!!!!
no!!!!
no!!!!
1974.0
no!!!!
no!!!!
no!!!!
no!!!!
1973.0
no!!!!
no!!!!
no!!!!
no!!!!
1972.0
no!!!!
no!!!!
no!!!!
1971.0
no!!!!
no!!!!
no!!!!
1970.0
no!!!!
no!!!!
no!!!!
1969.0
no!!!!
no!!!!
no!!!!
1968.0
no!!!!
no!!!!
no!!!!
1967.0
no!!!!
no!!!!
no!!!!
1966.0
no!!!!
no!!!!
no!!!!
1965.0
no!!!!
no!!!!
no!!!!
1964.0
no!!!!
no!!!!
no!!!!
1963.0
no!!!!
no!!!!
no!!!!
1962.0
no!!!!
no!!!!
no!!!!
1961.0
no!!!!
no!!!!
no!!!!
1960.0
no!!!!
no!!!!
no!!!!
1959.0
no!!!!
no!!!!
no!!!!
1958.0
no!!!!
no!!!!
no!!!!
1957.0
no!!!!
no!!!!
no!!!!
1956.0
no!!!!
no!!!!
no!!!!
1955.0
no!!!!
no!!!!
no!!!!
1954.0
no!!!!
no!!!!
no!!!!
1953.0
no!!!!
no!!!!
no!!!!
1952.0
no!!!!
no!!!!
no!!!!
1951.0
what!!!!!!
['604', 'CCN', '47', 'NYU', '84', 'H']
['421', 'WTS', '60', 'HDS', '54', 'A']
['519', 'WTS', '81', 'HDS', '54', 'H']
['416', 'ARM', '62', 'LEH', '51', 'H']
['502', 'ARM', '58', 'CLG', '52', 'H']
['601', 'ARM', '55', 'NAV', '60', 'H']
['315', 'BUC', '87', 'LEH', '67', 'H']
['404', 'BUC', '53', 'CLG', '57', 'H']
['509', 'BUC', '85', 'RHO', '74', 'A']
['513', 'BUC', '60', 'LEH', '64', 'A']
what!!!!!!
what!!!!!!
1950.0
no!!!!
no!!!!
no!!!!
1949.0
no!!!!
no!!!!
no!!!!
ABI
AFU
AKR
ALA
AAM
ALS
ANY
ALC
AME
APP
ARI
ASU
ARK
ARS
ARL
ARG
APB
ARM
AUB
AUG
AUS
BAL
BLD
BLO
BLT
BAP
BAY
BEL
BET
BOI
BOC
BOU
BGU
BRA
BRK
BRO
BUC
BUF
BUT
BYU
CAL
CSL
CLA
CAM
CAN
CWR
CAT
CEN
CCS

In [149]:
namezz

'20251116.0Central ArkansasSamford35.0 43.0'

In [152]:
jk=[]
for z in games.keys():
    jk.append(z)

In [153]:
jk[1]

'20251103.0VillanovaBrigham Young71 66'

In [ ]:
str(row.date)+".0"+row.home+row.away+str(s1)+" "+str(s2)

In [121]:
for row in k.itertuples():
    jh=str(row.predw).rstrip()
    k.at[row.Index,'predw']=jh
filez=requests.get("https://cfbzzz.alwaysdata.net/file.txt").text
filez=filez.split("\n")
for row in filez:
    h=row.split(",")
    k['predw']=k['predw'].str.replace(h[0],h[1])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

In [123]:
k[k.predw=='Brigham Young']

,date,home,away,predw,line,final,neutral,season
1,20251103,Villanova,Brigham Young,Brigham Young,7.2,"Brigham Young, 71-66",True,2025.0
398,20251108,Brigham Young,Holy Cross,Brigham Young,35.7,"Brigham Young, 98-53",False,2025.0
535,20251111,Brigham Young,Delaware,Brigham Young,34.0,"Brigham Young, 85-68",False,2025.0
999,20241105,Brigham Young,Central Arkansas,Brigham Young,30.0,"Brigham Young, 88-50",False,2024.0
1100,20241108,Brigham Young,UC Riverside,Brigham Young,17.2,"Brigham Young, 86-80",False,2024.0
...,...,...,...,...,...,...,...,...
58339,20240302,Brigham Young,TCU,Brigham Young,7.2,"Brigham Young, 87-75",False,2023.0
58702,20240309,Brigham Young,Oklahoma State,Brigham Young,13.6,"Brigham Young, 85-71",False,2023.0
58835,20240313,UCF,Brigham Young,Brigham Young,5.0,"Brigham Young, 87-73",True,2023.0
58872,20240314,Texas Tech,Brigham Young,Brigham Young,2.7,"Texas Tech, 81-67",True,2023.0
59020,20240321,Duquesne,Brigham Young,Brigham Young,6.6,"Duquesne, 71-67",True,2023.0

In [99]:
k=k.replace("State Bonaventure","St. Bonaventure")
filez=requests.get("https://cfbzzz.alwaysdata.net/file.txt").text
filez=filez.split("\n")
for row in filez:
    h=row.split(",")
    k['final']=k['final'].str.replace(h[0],h[1])

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """

In [155]:
for j in k.itertuples():
    m=1

In [157]:
str(j.season)

'2023.0'

In [90]:
k=k.replace("Michigan St.","Michigan State")
k['home']=k['home'].str.replace(" St."," State")
k['away']=k['away'].str.replace(" St."," State")
k=k.replace("IU Indy","IUPUI")
k=k.replace("Fresno St","Fresno State")
k=k.replace("Alcorn St.","Alcorn State")
k=k.replace("UNLV","Nevada-Lad Vegas")
k=k.replace("Arkansas St.","Arkansas State")
k=k.replace("Mississippi St.","Mississippi State")
k=k.replace("Queens","Queens (NC)")
k=k.replace("BYU","Brigham Young")
k=k.replace("Charleston","College of Charleston")
k=k.replace("Arizona St.","Arizona State")
k=k.replace("Arkansas Pine Bluff","Arkansas-Pine Bluff")
k=k.replace("Albany","Albany (NY)")
k=k.replace("Dixie State","Utah Tech")
k=k.replace("Central Connecticut","Central Connecticut State")
k=k.replace("Cal Baptist","California Baptist")
k=k.replace("Bethune Cookman","Bethune-Cookman")
k['home']=k['home'].str.replace(" Statetete"," State")
k['away']=k['away'].str.replace(" Statetete"," State")
k['home']=k['home'].str.replace(" Statete"," State")
k=k.replace("East Texas A&M","Texas A&M-Commerce")
k['away']=k['away'].str.replace(" Statete"," State")
k=k.replace("Nevada-Lad Vegas","Nevada-Las Vegas")
k=k.replace("Fairleigh Dickinson","FDU")
k=k.replace("FIU","Florida International")
k=k.replace("Illinois Chicago","Illinois-Chicago")
k=k.replace("Grambling State","Grambling")
k=k.replace("LSU","Louisiana State")
k=k.replace("LIU","Long Island University")
k=k.replace("N.C. State","NC State")
k=k.replace("Maryland Eastern Shore","Maryland-Eastern Shore")
k=k.replace("Miami OH","Miami (OH)")
k=k.replace("Miami FL","Miami (FL)")
k=k.replace("Louisiana Monroe","Louisiana-Monroe")
k=k.replace("Lindenwood (MO)","Lindenwood")
k=k.replace("Loyola MD","Loyola (MD)")
k=k.replace("Texas A&M Corpus Chris","Texas A&M-Corpus Christi")
k=k.replace("SMU","Southern Methodist")
k=k.replace("Penn","Pennsylvania")
k=k.replace("Prairie View A&M","Prairie View")
k=k.replace("Mount State Mary's","Mount St. Mary's")
k=k.replace("Nebraska Omaha","Omaha")
k=k.replace("St. John's","St. John's (NY)")
k=k.replace("Saint Mary's","Saint Mary's (CA)")
k=k.replace("Southern Miss","Southern Mississippi")
k=k.replace("Texas A&M Commerce","Texas A&M-Commerce")
k=k.replace("SIU Edwardsville","Southern Illinois-Edwardsville")
k=k.replace("Sam Houston State","Sam Houston")
k=k.replace("Loyola Chicago","Loyola (IL)")
k=k.replace("Tennessee Martin","Tennessee-Martin")
k=k.replace("UT Rio Grande Valley","Texas-Rio Grande Valley")
k=k.replace("UMBC","Maryland-Baltimore County")
k=k.replace("UIndy","IUPUI")
k=k.replace("USC","Southern California")
k=k.replace("UMass Lowell","Massachusetts-Lowell")
k=k.replace("UMKC","Kansas City")
k=k.replace("USC Upstate","South Carolina Upstate")
k=k.replace("UMBC","Maryland-Baltimore County")
k=k.replace("VMI","Virginia Military Institute")
k=k.replace("VCU","Virginia Commonwealth")
tz=set(k.home.tolist()+k.away.tolist())
op=[]
tzz=set(df22.t1.tolist()+df22.t2.tolist())
for t in tz:
    if t not in tzz:
        op.append(t)
for u in op:
    if u[0]=='Z':
        print(u)

Cal State Monteray Bay
Cairn
Centenary
Crown MN
Cleary
Claflin
Cal State Dom. Hills
Calvin
Central State (OH)
Cal State San Marcos
Clinton
Concordia (TX)
Cheyney
Chatham
Cal State-Los Angeles
Champion Baptist College
Concordia (MI)
Cumberland University
Curry
Concordia Chicago
Cal State-East Bay
Clayton State
Campbellsville-Harrodsburg
Crown College
Chapman
CMSV
Clarks Summit
Converse
Champion Baptist
Calumet Col.
Chaminade
Concordia (OR)
Cedarville
California Merced
Chowan
Christian Brothers
Catawba
Cabrini College
Christendom College
CarolinaU (Piedmont Int'l)
Cal Lutheran
Colby-Sawyer
Colorado College
Coastal Georgia
Carver
Crowley's Ridge
Calvary
Centenary (NJ)
Cal State East Bay
Corban
Coe College
Culver Stateckton
Concordia College (NE)
Capital
Crowley's Ridge College
Cal State Dominguez Hills
Christendom
Central State
CarolinaU
Coe
Central Washington
Central Methodist
Concordia (CA)
Carlow
College of New Rochelle
Camp. Harrodsburg
Caltech
Cardinal Stateitch
Concordia Wisconsin
Columbia Int'l
Cal State-San Bernardino
Concord
Concordia (NE)
Cal Tech
College of Idaho
Central Okla.
Carson-Newman
Colorado Col.
Cornell College
Centre
Carolina Christian
Concordia University (IL)
Central Penn
Chestnut Hill
Coker
Columbia (SC)
Coast Guard
Colorado Mesa
Concordia-Austin
Colorado Christian
Clarion
Concordia-M'head
Cumberlands (KY)
Chadron State
Carver College
Cent. Christian Bib.
Columbia International
Central Pennsylvania College
Central Baptist
Cal State LA
Cal Maritime
College of Saint Elizabeth
Campbellsville
Carroll (MT)
CSU Pueblo
Cazenovia
College of Coastal Georgia
CUI
CCNY
Concordia College (MI)
Clark (MA)
Champion Chris.
Clark Atlanta
Carnegie Mellon
Cal State-Stanislaus
Cairn University
Covenant
Concordia (AL)
Cal State L.A.
Connecticut Col.
Col. of Idaho
Columbus State
Colorado Springs
Caldwell
Concordia-St. Paul
Cal Poly Humboldt
California-Santa Cruz
Cumberland (TN)

In [ ]:
k=df22[df22.season==2025]
io=0
for row in k.itertuples():
    if confs[2025][row.t1]=='SWAC' or confs[2025][row.t2]=='SWAC':
        hj=str(row.t1)+str("    ")+str(row.t2)+"      "+str(row.predt1s)
        print(hj)
        io+=1
print(io)

In [125]:
jk=df22[df22.season==2025]
s='Arkansas-Pine Bluff'
jk[(jk.t1==s)|(jk.t2==s)]

,date,t1,t2,t1p,t2p,venue,season,neutral,hj,isnon,predt1s
421326,20251103.0,Washington,Arkansas-Pine Bluff,94.0,50.0,vs,2025.0,False,False,False,32.327021
421441,20251106.0,Portland,Arkansas-Pine Bluff,83.0,74.0,vs,2025.0,False,False,False,20.491353
421581,20251108.0,Loyola Marymount,Arkansas-Pine Bluff,94.0,72.0,vs,2025.0,False,False,False,21.782445
421722,20251111.0,Oklahoma,Arkansas-Pine Bluff,95.0,69.0,vs,2025.0,False,False,False,33.761295
421905,20251115.0,Vanderbilt,Arkansas-Pine Bluff,104.0,75.0,vs,2025.0,False,False,False,35.399255

In [ ]:
!pip install media-downloader

In [ ]:
# Import library
from media_downloader import MediaDownloader

# Set URL of video/audio here
url = "https://rumble.com/v6xfw7u-tribute-video-honoring-the-great-dr.-edwin-j.-feulner.html"

# Instantiate vide_downloader_instance
video_downloader_instance = MediaDownloader()

# Set the location to save the video
video_downloader_instance.set_save_path("a.mp4")

# Add URL to download
video_downloader_instance.append_link(url)

# Download all videos appended
video_downloader_instance.download_all()

In [139]:
k[k.final=='Arizona, 93-87']

       date     home     away    predw line           final  neutral  season
0  20251103  Florida  Arizona  Florida  1.6  Arizona, 93-87     True  2025.0

In [130]:
s='Alabama A&M'
fg=hfas[confs[2025][s]]
hr=eloLeague.ratingDict[s]+confy[confs[2025][s]]+fg
ar=eloLeague.ratingDict['Lindenwood']+confy['OVC']
s=(hr-ar)/20
spread=s+3.4
spread=spread/2
spread

0.18720459315828175

In [119]:
' hello '.rstrip()

' hello'

In [115]:
set(k.predw.tolist())

{'?',
 'Abilene Christian ',
 'Air Force ',
 'Akron ',
 'Alabama ',
 'Alabama A&M ',
 'Alabama State ',
 'Albany (NY) ',
 'Alcorn State ',
 'American ',
 'Appalachian State ',
 'Arizona ',
 'Arizona State ',
 'Arkansas ',
 'Arkansas State ',
 'Arkansas-Pine Bluff ',
 'Army ',
 'Auburn ',
 'Austin Peay ',
 'BYU ',
 'Ball State ',
 'Baylor ',
 'Bellarmine ',
 'Belmont ',
 'Bethune-Cookman ',
 'Binghamton ',
 'Boise State ',
 'Boston College ',
 'Boston University ',
 'Bowling Green ',
 'Bradley ',
 'Brown ',
 'Bryant ',
 'Bucknell ',
 'Buffalo ',
 'Butler ',
 'Cal Baptist ',
 'Cal Poly ',
 'Cal State Bakersfield ',
 'Cal State Fullerton ',
 'Cal State Northridge ',
 'California ',
 'California Baptist ',
 'Campbell ',
 'Canisius ',
 'Central Arkansas ',
 'Central Connecticut ',
 'Central Michigan ',
 'Charleston ',
 'Charleston Southern ',
 'Charlotte ',
 'Chattanooga ',
 'Chicago State ',
 'Cincinnati ',
 'Clemson ',
 'Cleveland State ',
 'Coastal Carolina ',
 'Colgate ',
 'Colorado ',
 'Colorado State ',
 'Columbia ',
 'Connecticut ',
 'Coppin State ',
 'Cornell ',
 'Creighton ',
 'Dartmouth ',
 'Davidson ',
 'Dayton ',
 'DePaul ',
 'Delaware ',
 'Delaware State ',
 'Denver ',
 'Detroit Mercy ',
 'Drake ',
 'Drexel ',
 'Duke ',
 'Duquesne ',
 'East Carolina ',
 'East Tennessee State ',
 'Eastern Illinois ',
 'Eastern Kentucky ',
 'Eastern Michigan ',
 'Eastern Washington ',
 'Elon ',
 'Evansville ',
 'FDU ',
 'Fairfield ',
 'Florida ',
 'Florida A&M ',
 'Florida Atlantic ',
 'Florida Gulf Coast ',
 'Florida International ',
 'Florida State ',
 'Fordham ',
 'Fresno State ',
 'Furman ',
 'Gardner-Webb ',
 'George Mason ',
 'George Washington ',
 'Georgetown ',
 'Georgia ',
 'Georgia Southern ',
 'Georgia State ',
 'Georgia Tech ',
 'Gonzaga ',
 'Grambling ',
 'Grambling State ',
 'Grand Canyon ',
 'Green Bay ',
 'Hampton ',
 'Hartford ',
 'Harvard ',
 'Hawaii ',
 'High Point ',
 'Hofstra ',
 'Holy Cross ',
 'Houston ',
 'Houston Christian ',
 'Howard ',
 'IUPUI ',
 'Idaho ',
 'Idaho State ',
 'Illinois ',
 'Illinois Chicago ',
 'Illinois State ',
 'Illinois-Chicago ',
 'Incarnate Word ',
 'Indiana ',
 'Indiana State ',
 'Iona ',
 'Iowa ',
 'Iowa State ',
 'Jackson State ',
 'Jacksonville ',
 'Jacksonville State ',
 'James Madison ',
 'Kansas ',
 'Kansas City ',
 'Kansas State ',
 'Kennesaw State ',
 'Kent State ',
 'Kentucky ',
 'LIU ',
 'LSU ',
 'La Salle ',
 'Lafayette ',
 'Lamar ',
 'Le Moyne ',
 'Lehigh ',
 'Liberty ',
 'Lindenwood ',
 'Lipscomb ',
 'Little Rock ',
 'Long Beach State ',
 'Long Island University ',
 'Longwood ',
 'Louisiana ',
 'Louisiana State ',
 'Louisiana Tech ',
 'Louisiana-Monroe ',
 'Louisville ',
 'Loyola (IL) ',
 'Loyola (MD) ',
 'Loyola Chicago ',
 'Loyola MD ',
 'Loyola Marymount ',
 'Maine ',
 'Manhattan ',
 'Marist ',
 'Marquette ',
 'Marshall ',
 'Maryland ',
 'Maryland-Baltimore County ',
 'Maryland-Eastern Shore ',
 'Massachusetts ',
 'Massachusetts-Lowell ',
 'McNeese State ',
 'Memphis ',
 'Mercer ',
 'Mercyhurst ',
 'Merrimack ',
 'Miami (FL) ',
 'Miami (OH) ',
 'Miami FL ',
 'Miami OH ',
 'Michigan ',
 'Michigan State ',
 'Middle Tennessee ',
 'Milwaukee ',
 'Minnesota ',
 'Mississippi ',
 'Mississippi State ',
 'Mississippi Valley State ',
 'Missouri ',
 'Missouri State ',
 'Monmouth ',
 'Montana ',
 'Montana State ',
 'Morehead State ',
 'Morgan State ',
 "Mount State Mary's ",
 'Murray State ',
 'N.C. State ',
 'NC State ',
 'NJIT ',
 'Navy ',
 'Nebraska ',
 'Nebraska Omaha ',
 'Nevada ',
 'Nevada-Las Vegas ',
 'New Hampshire ',
 'New Haven ',
 'New Mexico ',
 'New Mexico State ',
 'New Orleans ',
 'Niagara ',
 'Nicholls State ',
 'Norfolk State ',
 'North Alabama ',
 'North Carolina ',
 'North Carolina A&T ',
 'North Carolina Central ',
 'North Dakota ',
 'North Dakota State ',
 'North Florida ',
 'North Texas ',
 'Northeastern ',
 'Northern Arizona ',
 'Northern Colorado ',
 'Northern Illinois ',
 'Northern Iowa ',
 'Northern Kentucky ',
 'Northwestern ',
 'Northwestern State ',
 'Notre Dame ',
 'Oakland ',
 'Ohio ',
 'Ohio State ',
 'Oklahoma ',
 'Oklahoma State ',
 'Old Dominion ',
 'Omaha ',
 'Oral Roberts ',
 'Oregon ',
 'Oregon State ',
 'Pacific ',
 'Penn ',
 'Penn State ',
 'Pepperdine ',
 'Pittsburgh ',
 'Portland ',
 'Portland State ',
 'Prairie View ',
 'Presbyterian ',
 'Princeton ',
 'Providence ',
 'Purdue ',
 'Purdue Fort Wayne ',
 'Queens ',
 'Quinnipiac ',
 'Radford ',
 'Rhode Island ',
 'Rice ',
 'Richmond ',
 'Rider ',
 'Robert Morris ',
 'Rutgers ',
 'SIU Edwardsville ',
 'SMU ',
 'Sacramento State ',
 'Sacred Heart ',
 'Saint Francis (PA) ',
 "Saint Joseph's ",
 'Saint Louis ',
 "Saint Mary's ",
 "Saint Mary's (CA) ",
 "Saint Peter's ",
 'Sam Houston ',
 'Samford ',
 'San Diego ',
 'San Diego State ',
 'San Francisco ',
 'San Jose State ',
 'Santa Clara ',
 'Savannah State ',
 'Seattle ',
 'Seton Hall ',
 'Siena ',
 'South Alabama ',
 'South Carolina ',
 'South Carolina State ',
 'South Carolina Upstate ',
 'South Dakota ',
 'South Dakota State ',
 'South Florida ',
 'Southeast Missouri State ',
 'Southeastern Louisiana ',
 'Southern ',
 'Southern California ',
 'Southern Illinois ',
 'Southern Illinois-Edwardsville ',
 'Southern Indiana ',
 'Southern Methodist ',
 'Southern Miss ',
 'Southern Mississippi ',
 'Southern Utah ',
 'St. Bonaventure ',
 'St. Francis (NY) ',
 "St. John's ",
 "St. John's (NY) ",
 'St. Thomas ',
 'Stanford ',
 'Stephen F. Austin ',
 'Stetson ',
 'Stonehill ',
 'Stony Brook ',
 'Syracuse ',
 'TCU ',
 'Tarleton State ',
 'Temple ',
 'Tennessee ',
 'Tennessee State ',
 'Tennessee Tech ',
 'Tennessee-Martin ',
 'Texas ',
 'Texas A&M ',
 'Texas A&M-Commerce ',
 'Texas A&M-Corpus Christi ',
 'Texas Southern ',
 'Texas State ',
 'Texas Tech ',
 'Texas-Rio Grande Valley ',
 'The Citadel ',
 'Toledo ',
 'Towson ',
 'Troy ',
 'Tulane ',
 'Tulsa ',
 'UAB ',
 'UC Davis ',
 'UC Irvine ',
 'UC Riverside ',
 'UC San Diego ',
 'UC Santa Barbara ',
 'UCF ',
 'UCLA ',
 'UMBC ',
 'UMass Lowell ',
 'UNC Asheville ',
 'UNC Greensboro ',
 'UNC Wilmington ',
 'UNLV ',
 'USC ',
 'UT Arlington ',
 'UTEP ',
 'UTSA ',
 'Utah ',
 'Utah State ',
 'Utah Tech ',
 'Utah Valley ',
 'VCU ',
 'VMI ',
 'Valparaiso ',
 'Vanderbilt ',
 'Vermont ',
 'Villanova ',
 'Virginia ',
 'Virginia Commonwealth ',
 'Virginia Military Institute ',
 'Virginia Tech ',
 'Wagner ',
 'Wake Forest ',
 'Washington ',
 'Washington State ',
 'Weber State ',
 'West Georgia ',
 'West Virginia ',
 'Western Carolina ',
 'Western Illinois ',
 'Western Kentucky ',
 'Western Michigan ',
 'Wichita State ',
 'William & Mary ',
 'Winthrop ',
 'Wisconsin ',
 'Wofford ',
 'Wright State ',
 'Wyoming ',
 'Xavier ',
 'Yale ',
 'Youngstown State '}

In [112]:
s='Mississippi Valley State'
rt=df22[df22.season==2025]
rt[(rt.t1==s)|(rt.t2==s)]

,date,t1,t2,t1p,t2p,venue,season,neutral,hj,isnon,predt1s
421250,20251103.0,UAB,Mississippi Valley State,106.0,55.0,vs,2025.0,False,False,False,27.789979
421497,20251107.0,Murray State,Mississippi Valley State,108.0,60.0,vs,2025.0,False,False,False,25.993068
421795,20251112.0,Hawaii,Mississippi Valley State,88.0,56.0,vs,2025.0,False,False,False,19.845152
421866,20251114.0,Mississippi Valley State,Utah Tech,75.0,81.0,vs,2025.0,True,False,False,-14.505210
421948,20251115.0,Manhattan,Mississippi Valley State,80.0,73.0,vs,2025.0,True,False,False,13.060707

In [ ]:
ci=0
wrong=['2014.0ColgateArmy6365','2014.0ArmyColgate6563']
wrong.append(['2014.0Mississippi Valley StateAlcorn State7462'])
wrong.append(['2014.0Alcorn StateMississippi Valley State6274'])
wrong.append(['2015.0Texas SouthernAlabama A&M7168'])
wrong.append(['2015.0Alabama A&MTexas Southern6871'])
wrong.append(['2015.0Texas SouthernAlabama A&M7166'])
wrong.append(['2015.0Alabama A&MTexas Southern6671'])
wrong.append(['2015.0Idaho StateIdaho7080'])
wrong.append(['2015.0IdahoIdaho State8070'])
wrong.append(['2015.0Idaho StateIdaho6882'])
wrong.append(['2018.0OaklandIUPUI7463'])
wrong.append(['2017.0Northern ColoradoUC Davis5972'])
wrong.append(['2017.0UC DavisNorthern Colorado7259'])
wrong.append(['2015.0IdahoIdaho State8268'])
wrong.append(['2017.0WashingtonLoyola Marymount8078'])
wrong.append(['2017.0Loyola MarymountWashington7880'])
wrong.append(['2018.0IUPUIOakland6374'])
wrong.append(['2019.0Texas A&M-Corpus ChristiSam Houston7460'])
wrong.append(['2019.0Sam HoustonTexas A&M-Corpus Christi6074'])
for key in gszz:
    if key not in gsz and key not in wrong:
        print(key,ci)
        ci+=1

In [ ]:
gj={}
gjj={}
yu=df22[df22.hj==False]
yu=yu.drop_duplicates()
yu=yu[yu.season>2013]
print(len(yu))
j=df22[df22.hj==True]
j=j.drop_duplicates()
print(len(j))
for i in range(2014,2025):
    gj[float(i)]={}
    gjj[float(i)]={}
for row in j.itertuples():
    if row.t1 not in gj[float(row.season)]:
        gj[float(row.season)][row.t1]=0
    gj[float(row.season)][row.t1]+=1
    if row.t2 not in gj[float(row.season)]:
        gj[float(row.season)][row.t2]=0
    gj[float(row.season)][row.t2]+=1
for row in yu.itertuples():
    if row.t1 not in gjj[float(row.season)]:
        gjj[float(row.season)][row.t1]=0
    gjj[float(row.season)][row.t1]+=1
    if row.t2 not in gjj[float(row.season)]:
        gjj[float(row.season)][row.t2]=0
    gjj[float(row.season)][row.t2]+=1

In [ ]:
for key in gj:
    for t in gj[key]:
        if gj[key][t]!=gjj[key][t]:
            print(key,t)

In [ ]:

yu=df22[df22.hj==False]
yu=yu.drop_duplicates()
yu=yu[yu.season>2013]
print(len(yu))
j=df22[df22.hj==True]
j=j.drop_duplicates()
print(len(j))
u=j[j.season==2017]
t='Hampton'
u=u[(u.t1==t)|(u.t2==t)]
uu=yu[yu.season==2017]
uu=uu[(uu.t1==t)|(uu.t2==t)]
print(len(u),len(uu))

In [ ]:
for k in gj:
    if k not in gjj:
        print(k)

In [ ]:
import pandas as pd
e=pd.read_html("https://basketball.fandom.com/wiki/List_of_NCAA_Division_I_Schools")
teams=[]
i=1
while(i<len(e)):
    j=pd.DataFrame(e[i])
    j.columns=['School','n','c','Arena','City']
    for row in j.itertuples():
            
        teams.append([row.School,row.City])
    i+=1
y=pd.DataFrame(teams,columns=['School','City'])
y.to_csv("nicknames.txt")

In [ ]:
df=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/standings.csv")
standings=pd.read_csv("https://cfbzzz.alwaysdata.net/ncaab/d1vsnond1/teams/d1standings.txt")
df[df.season>1949]

In [ ]:
dates={}
import nest_asyncio
nest_asyncio.apply()
h=df22[df22.season>2023]
for row in h.itertuples():
    if row.date not in dates:
        dates[row.date]=row.season
for d in dates:
    print(d)
    d=str(d)
    d=d.replace(".0","")
    url="https://barttorvik.com/schedule.php?date="+d+"&conlimit="
    loop = asyncio.get_event_loop()
    table = loop.run_until_complete(main(url))
    for tr in table.find_all("tr"):
        if "Result" not in str(tr) and 'absolute error' not in str(tr):
            teams=tr.find_all("td")[1]
            pred=tr.find_all("td")[2]
            pred=pred.find("a").text
            score=tr.find_all("td")[4]
            score=score.find("a").text
            t1=teams.find_all("a")[0].text
            t2=teams.find_all("a")[1].text
            pred=pred.split(",")
            pred=pred[0]
            predw="?"
            line="?"
            if "-" in str(pred):
                pred=pred.split("-")
                line=pred[1]
                predw=pred[0]
            if 'vs' in str(teams):
                n=True
            elif 'at' in str(teams):
                n=False
                
            arr.append([d,t2,t1,predw,line,score,n,dates[float(str(d)+".0")]])

In [ ]:
df=pd.DataFrame(arr,columns=['date','home','away','predw','line','final','neutral','season'])
df.to_csv("barttvk2.csv")

In [ ]:
df=df.astype({"final":"string"})
df=df.replace("Ohio St.","Ohio State")
df['final']=df['final'].str.replace(" St."," State")
df['home']=df['home'].str.replace(" St."," State")
df['away']=df['away'].str.replace(" St."," State")
df['predw']=df['predw'].str.replace(" St."," State")
df

In [ ]:
names={}
for row in df.itertuples():
    score=str(row.final)
    scores=score.split(",")[1]
    scores=scores.replace(" ","")
    winner=score.split(",")[0]
    s1=scores.split("-")[0]
    s2=scores.split("-")[1]
    if row.home==winner:
        name=row.home+row.away+s1+s2
    elif row.away==winner:
        name=row.away+row.home+s1+s2
    if name not in names:
        names[name]=0
    if
    names[name]+=1

In [ ]:
names['LIUWagner6047']

In [ ]:
j=0
for key in names:
    if float(names[key])>1:
        k=key
        j+=1

In [ ]:
k

In [ ]:
!playwright install-deps

In [ ]:
t=eloLeague.ratingDict['Indiana']+hfas[confs[2025]['Indiana']]+confy[confs[2025]['Indiana']]
tt=eloLeague.ratingDict['Grambling']+confy[confs[2025]['Grambling']]

In [ ]:
w=[]
for y in confs:
    for t in confs[y]:
        if confs[y][t]=='nan':
            w.append(t)

In [ ]:
df=pd.read_csv("https://cfbzzz.alwaysdata.net/newcbb/standings.csv")
df[df.isna()]

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment

links={}
import time
ys={}
for i in range(1949,2026):
    ys[i]=[]
for i in range(2026,2027):
    print(i)
    links[i]=[]
    html=requests.get("https://www.sports-reference.com/cbb/seasons/men/"+str(i)+"-standings.html")
    print(html.status_code)
    html=html.text
    html=html.replace("<!--","").replace("-->","")
    soup=BeautifulSoup(html,'lxml')
    
    
    y=i-1
    for table in soup.find_all("table"):
        for tr in table.find_all("tr"):
            if "Notes" not in str(tr) and 'Overall' not in str(tr):
                
                
                schl=tr.find_all("td")[0].text
                conf=tr.find_all("td")[1].text
                srs=tr.find_all("td")[13].text
            
                
                arr.append([schl,conf,y,srs])
    time.sleep(5)
    print(len(arr))

In [ ]:
df=pd.DataFrame(arr,columns=['team','conf','season','num'])
df.to_csv("standings.csv")

##