<a href="https://www.kaggle.com/code/savageopress12345/mechanical-soup-error?scriptVersionId=118868915" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [40]:
ty=df22[df22.Year==2023]
points=set(ty.PTS.tolist()+ty.OPP.tolist())
games={}
arr=[]
for row in ty.itertuples():
    if row.PTS>row.OPP:
        name=row.Schl+"||"+row.Opp+"||"+str(row.PTS)+"||"+str(row.OPP)
        games[name]=row.PTS
        arr.append([row.Schl,row.Opp,row.PTS,row.OPP,row.Venue,row.Date])
    if row.PTS<row.OPP:
        name=row.Opp+"||"+row.Schl+"||"+str(row.OPP)+"||"+str(row.PTS)
        games[name]=row.OPP
        arr.append([row.Opp,row.Schl,row.OPP,row.PTS,row.Venue,row.Date])

In [41]:
df=pd.DataFrame(arr,columns=['Winner','Loser','Winner PTS','Loser PTS','Venue','Date'])
df=df.sort_values(by='Loser PTS')
df=df.iloc[0:10]
for row in df.itertuples():
    print(row)

Pandas(Index=9753, Winner='North Dakota State', Loser='Oak Hills Chr', _3=108.0, _4=14.0, Venue='vs', Date=Timestamp('2023-12-10 00:00:00'))
Pandas(Index=2724, Winner='Faith Bap', Loser='FLBC', _3=65.0, _4=16.0, Venue='@', Date=Timestamp('2023-11-11 00:00:00'))
Pandas(Index=2107, Winner='Emmaus Bib', Loser='FLBC', _3=78.0, _4=23.0, Venue='@', Date=Timestamp('2023-11-10 00:00:00'))
Pandas(Index=8276, Winner='McNeese State', Loser='MS Women', _3=92.0, _4=23.0, Venue='vs', Date=Timestamp('2023-12-05 00:00:00'))
Pandas(Index=9302, Winner='Mercyhurst', Loser='SUNY Fredonia', _3=83.0, _4=24.0, Venue='vs', Date=Timestamp('2023-12-09 00:00:00'))
Pandas(Index=5210, Winner='West Alabama', Loser='Oakwood', _3=93.0, _4=25.0, Venue='vs', Date=Timestamp('2023-11-21 00:00:00'))
Pandas(Index=2718, Winner='Christendom', Loser='Appalachian Bib', _3=98.0, _4=26.0, Venue='vs', Date=Timestamp('2023-11-11 00:00:00'))
Pandas(Index=10473, Winner='Liberty', Loser='St Andrews', _3=99.0, _4=26.0, Venue='vs', Date=Timestamp('2023-12-16 00:00:00'))
Pandas(Index=271, Winner='C Chr Bible', Loser='FLBC', _3=93.0, _4=26.0, Venue='@', Date=Timestamp('2023-10-28 00:00:00'))
Pandas(Index=25218, Winner='Maryville TN', Loser='Warren Wilson', _3=55.0, _4=27.0, Venue='vs', Date=Timestamp('2024-02-17 00:00:00'))

In [42]:
[item for item in sorted(games, key=games.get)][0:10]

['IN S Bend||Holy Cross IN||42.0||41.0',
 'Christendom||Williamson Tr||43.0||33.0',
 'Loyola (MD)||American||44.0||43.0',
 'Keuka||Alfred||44.0||41.0',
 'Weatherford||Tyler JC||45.0||44.0',
 'Chipola||NW Florida St||45.0||41.0',
 'Southeastern Bap||Pensacola Chr||46.0||44.0',
 'Outaouais||Ahuntsic||46.0||44.0',
 'Cypress||Irvine Valley||46.0||43.0',
 'Montgomery Co CC||Delaware Co CC||47.0||41.0']

In [43]:
myKeys = list(games.keys())
{i: games[i] for i in myKeys}[0:5]

TypeError: unhashable type: 'slice'

**

In [67]:
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

array(['1949-50', '1950-51', '1951-52', '1952-53', '1953-54', '1954-55',
       '1955-56', '1956-57', '1957-58', '1958-59', '1959-60', '1960-61',
       '1961-62', '1962-63', '1963-64', '1964-65', '1965-66', '1966-67',
       '1967-68', '1968-69', '1969-70', '1970-71', '1971-72', '1972-73',
       '1973-74', '1974-75', '1975-76', '1976-77', '1977-78', '1978-79',
       '1979-80', '1980-81', '1981-82', '1982-83', '1983-84', '1984-85',
       '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91',
       '1991-92', '1992-93', '1993-94', '1994-95', '1995-96', '1996-97',
       '1997-98', '1998-99', '1999-00', '2000-01', '2001-02'],
      dtype=object)

In [114]:

import time
start_time = time.time()
import pandas as pd
print('done files')
import numpy as np
from datetime import datetime
import random
import string
print('no')
import math
chist=[]
j={}
df=75
j['gp']=1
j['yr']=1892
hfa=0
from decimal import Decimal
class Elo:
    
    
    
    

    def __init__(self,k,g=1,homefield = 110): 
        self.ratingDict={}
        self.k = k
        self.g = g
        self.homefield= homefield

    def addPlayer(self,name,rating = 1500):
        self.ratingDict[name] = rating
    def gameOver(self, winner, loser, winnerHome,neutral,wp,lp,yr,date,wpe,lpe,hfa,k):
        wpe=wpe
        lpe=lpe
        
        
        homef=hfa
        if('True' in str(neutral)):
            
        
            homef=0
        
        
        if(winnerHome==True):
            
            elod=(eloLeague.ratingDict[winner]+homef)-(eloLeague.ratingDict[loser])
        if(winnerHome!=True):
            
            elod=(eloLeague.ratingDict[winner])-(homef+eloLeague.ratingDict[loser])
        
        elo=float(elod)
        wp=float(wp)
        lp=float(lp)
        
        o=abs(wp-lp)
        y=float(((o)+3))
        
        mov=((o+3)**0.8)/(7.5+0.006*elod)
        if winnerHome==True:
            
            result = self.expectResult(self.ratingDict[winner]+homef, self.ratingDict[loser])
        else:
            result = self.expectResult(self.ratingDict[winner], self.ratingDict[loser]+homef)
        shift=(self.k*mov)*(1 - result) 
        self.ratingDict[winner]+=shift
        self.ratingDict[loser]-=shift
        
        

    def expectResult(self, p1, p2):
    
        global exp
        exp = (Decimal(p2)-Decimal(p1))/Decimal(400.0)
        n2=Decimal(10.0)
        j=Decimal(exp)
        o=Decimal(1)/((n2**(j))+Decimal(1))
        return float(o)

kval=20
eloLeague = Elo(k = kval)
import requests
import pandas as pd
import time
dl=[]
from bs4 import BeautifulSoup,Comment
proxies={'http':'173.192.21.89:80','http':'95.156.82.35:3128'}
print('neutral')


print('home')
from bs4 import BeautifulSoup,Comment


print('playoff')
import re, csv, requests
from bs4 import BeautifulSoup as bs
d2urls={"2023":"https://masseyratings.com/scores.php?s=557745&sub=557745&all=1","2002":"https://masseyratings.com/scores.php?s=41466&sub=41466&all=1"}
g=[]
thearr=[]
didp=0
pz=0
tds={}
ggg=[]
d1={"2003":"https://masseyratings.com/scores.php?s=41467&sub=11590&all=1&mode=3&format=2","2006":"https://masseyratings.com/scores.php?s=69587&sub=11590&all=1&mode=3&format=2","2009":"https://masseyratings.com/scores.php?s=97288&sub=11590&all=1&mode=3&format=2","2011":"https://masseyratings.com/scores.php?s=179268&sub=11590&all=1&mode=3&format=2","2013":"https://masseyratings.com/scores.php?s=203290&sub=11590&all=1&mode=3&format=2","2015":"https://masseyratings.com/scores.php?s=284067&sub=11590&all=1&mode=3&format=2","2016":"https://masseyratings.com/scores.php?s=292154&sub=11590&all=1&mode=3&format=2","2017":"https://masseyratings.com/scores.php?s=298892&sub=11590&all=1&mode=3&format=2","2018":"https://masseyratings.com/scores.php?s=305972&sub=11590&all=1&mode=3&format=2","2020":"https://masseyratings.com/scores.php?s=320158&sub=11590&all=1&mode=3&format=2","2021":"https://masseyratings.com/scores.php?s=379387&sub=11590&all=1&mode=3&format=2","2022":"https://masseyratings.com/scores.php?s=500054&sub=11590&all=1&mode=3&format=2","2023":"https://masseyratings.com/scores.php?s=557745&sub=11590&all=1"}
d1s={}
h=[]
years={}
d1ss=pd.read_csv("https://ontheroadtovote.com/ncaab/2024d1.csv")
d1ss=d1ss.astype({"Schl":"string"})
d1ss=d1ss.replace("FDU","Fairleigh Dickinson")
d1ss=d1ss.replace("UCF","Central Florida")
d1ss=d1ss.replace("Purdue Fort Wayne","Purdue-Fort Wayne")
d1ss=d1ss.replace("Sam Houston State","Sam Houston")
years[2023]={}
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/massey.csv")
df=df[df.Year<2023]
uteams=requests.get("https://ontheroadtovote.com/ncaaf/caabteams.json").json()
bannedteams={}
for i in range(2002,2024):
    bannedteams[i]=[]
banned=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/noncount.txt")
for row in banned.itertuples():
    if str(row.Banned)=='yes':
        bannedteams[float(row.Year)].append(row.Schl)
print(df.neutral.unique())
for row in df.itertuples():
    s=row.Schl
    o=row.Opp
    o=o.replace("amp;","")
    s=s.replace("amp;","")
    if s in uteams:
        s=uteams[s]
    if o in uteams:
        o=uteams[o]
    if s in bannedteams[row.Year] or o in bannedteams[row.Year]:
        m=1
    else:
        thearr.append([s,o,row.PTS,row.OPP,row.Year,row.Date,row.neutral,row.Venue,row.Year])
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/missingcbb.csv")
df=df[df.Year<2023]
uteams=requests.get("https://ontheroadtovote.com/ncaaf/caabteams.json").json()
print(df.neutral.unique())
for row in df.itertuples():
    s=row.Schl
    o=row.Opp
    o=o.replace("amp;","")
    s=s.replace("amp;","")
    if s in uteams:
        s=uteams[s]
    if o in uteams:
        o=uteams[o]
    thearr.append([s,o,row.PTS,row.OPP,row.Year,row.Date,row.neutral,row.Venue,row.Year])   
for row in d1ss.itertuples():
    years[float(2023)][row.Schl]={}
    years[float(2023)][row.Schl]='yes'
abbreviations = [
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#States.
    "AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "IA",
    "ID", "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MN", "MO",
    "MS", "MT", "NC", "ND", "NE", "NH", "NJ", "NM", "NV", "NY", "OH", "OK",
    "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VA", "VT", "WA", "WI",
    "WV", "WY",
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#Federal_district.
    "DC",
    # https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States#Inhabited_territories.
    "AS", "GU", "MP", "PR", "VI",
]
didp=0
for key in d2urls:
    r = requests.get(d2urls[key])
    soup = BeautifulSoup(r.text, 'lxml')
    
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(BeautifulSoup(r.text, 'lxml'))
    aa=str(aa)
    aa=(aa.split("<hr/><pre>")[1])
    
    aa=aa.replace("               ",",")
    aa=aa.replace("  ",",")
    for i in range(0,10):
        aa=aa.replace(str(i)+" ",str(i)+",")
        
    aa=aa.replace(",,,,,,",",")
    
    q=aa
    
    
    q=q.split("\n")
    for line in q:
        
        
        
        
        
        line=str(line)
        
        
        
        
        if 'Games' not in str(line) and str(line)!='' and '<' not in str(line):
            j=line[1]
            n=False
            line = list(line.split(','))
            v="vs"
            if "@" not in str(line):
                n=True
            if "@" in str(line[1]):
                v="vs"
            else:
                v='@'
            date=str(line[0])
            
            line=str(line)
            line=line.replace("[","")
            line=line.replace("]","")
            line=line.replace("'","")
            line=line.replace('"',"")
            line=line.replace(",@",",")
            line=line.replace("@","")
            line = list(line.split(','))
            lines=[]
            for l in line:
                if l==' ' :
                    m=1
                else:
                    
                    lines.append(l)
                
            
            line=lines
            s=line[1]
            s=s.lstrip()
            s=s.rstrip()
            o=line[3]
            o=o.lstrip()
            o=o.rstrip()
            o=o.replace("amp;","")
            s=s.replace("amp;","")
            if s in uteams:
                s=uteams[s]
            if o in uteams:
                o=uteams[o]
            if len(line)>7:
                notes=line[7]
                if s=='Purdue' and o=='Grambling':
                    print(line)
                    print(notes)
                notes=notes.strip()
                if notes in abbreviations:
                    n=True
                    
            row=[s,o,line[2],line[4],float(key),date,n,v,float(key)]
            thearr.append(row)
df1=pd.read_csv("https://ontheroadtovote.com/gamezz.csv")
dates={}
for row in df1.itertuples():
    date=row.Date
    date=date.split(" 00:00:00")[0]
    dates[date]=[]
for row in df1.itertuples():
    date=row.Date
    date=date.split(" 00:00:00")[0]
    dates[date].append(row.Schl)
    dates[date].append(row.Opp)
from bs4 import BeautifulSoup,Comment
df1['Venue']='vs'
df1['Yearz']=df1['Year']
print(df1.neutral.unique())
for row in df1.itertuples():
    y=row.Year
    if '-' in str(row.Year):
        y=str(row.Year).split("-")[0]
    date=str(row.Date)
    date=date.replace("20:","2:")
    date=date.replace("30:","3:")
    date=date.replace("40:","4:")
    date=date.replace("50:","5:")
    date=date.replace("60:","6:")
    date=date.replace("70:","7:")
    date=date.replace("80:","8:")
    date=date.replace("90:","9:")
    date=date.replace("10:","1:")
    if 'Year' not in str(row.Year):
        y=float(y)
        if y<2002:
            
        
            thearr.append([row.Schl,row.Opp,row.PTS,row.OPP,y,row.Date,row.neutral,row.Venue,y])
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
years={}
for i in range(1890,2024):
    years[float(i)]={}
for row in standings.itertuples():
    years[float(row.Year)][row.Schl]='yes'
confdf=pd.read_csv("https://ontheroadtovote.com/ncaab/updatedstandings.csv")
confdf=confdf.replace("Sam Houston State","Sam Houston")
confdf=confdf.astype({"School":"string"})
confdf= confdf[confdf['School'].notna()]
confdf=confdf.replace("FDU","Fairleigh Dickinson")
confdf=confdf.replace("UCF","Central Florida")
confdf=confdf.replace("Sam Houston State","Sam Houston")
confdf.dropna()
for row in confdf.itertuples():
    if float(row.Year)>1948:
        srs=str(row.SRS).strip()
        
        if 'known' not in str(srs):
            
            years[float(row.Year)][row.School]=1

d1ss=pd.read_csv("https://ontheroadtovote.com/ncaab/2024d1.csv")
d1ss=d1ss.astype({"Schl":"string"})
d1ss=d1ss.replace("FDU","Fairleigh Dickinson")
d1ss=d1ss.replace("UCF","Central Florida")
years[2023]={}
for row in d1ss.itertuples():
    years[float(2023)][row.Schl]={}
    years[float(2023)][row.Schl]='yes'

from datetime import date
today=str(date.today())
from datetime import timedelta

r = requests.get('https://ontheroadtovote.com/ncaab/steams.json')
y=r.json()
df1=df1[df1.Year!='Year']
for row in df1.itertuples():
    year=str(row.Year)
    if "-" in year:
        year=year.split("-")[0]
    v=row.Venue
    if v=='@?':
        v='@'
    if v=='vs?':
        v='vs'
    if v=='s':
        v='vs'
    if v=='v':
        v='vs'
    if v=='vs?(unknown)':
        v='vs'
        
    if float(year)<2002:    
        thearr.append([row.Schl,row.Opp,row.PTS,row.OPP,year,row.Date,row.neutral,v,row.Year])
d1={"2003":"https://masseyratings.com/scores.php?s=41467&sub=11590&all=1&mode=3&format=2","2006":"https://masseyratings.com/scores.php?s=69587&sub=11590&all=1&mode=3&format=2","2009":"https://masseyratings.com/scores.php?s=97288&sub=11590&all=1&mode=3&format=2","2011":"https://masseyratings.com/scores.php?s=179268&sub=11590&all=1&mode=3&format=2","2013":"https://masseyratings.com/scores.php?s=203290&sub=11590&all=1&mode=3&format=2","2015":"https://masseyratings.com/scores.php?s=284067&sub=11590&all=1&mode=3&format=2","2016":"https://masseyratings.com/scores.php?s=292154&sub=11590&all=1&mode=3&format=2","2017":"https://masseyratings.com/scores.php?s=298892&sub=11590&all=1&mode=3&format=2","2018":"https://masseyratings.com/scores.php?s=305972&sub=11590&all=1&mode=3&format=2","2020":"https://masseyratings.com/scores.php?s=320158&sub=11590&all=1&mode=3&format=2","2021":"https://masseyratings.com/scores.php?s=379387&sub=11590&all=1&mode=3&format=2","2022":"https://masseyratings.com/scores.php?s=500054&sub=11590&all=1&mode=3&format=2","2023":"https://masseyratings.com/scores.php?s=557745&sub=11590&all=1&mode=3&format=2"}
for url in d1:
    d1s[url]=[]
for url in d1:
    html=requests.get(d1[url]).text
    html=str(html)
    html=html.split("\n")
    for row in html:
        d1s[url].append(row)
bteams={}
bteams[1950]=['Murray State','Eastern Kentucky','Evansville','Morehead State','Marshall','Tennessee Tech']
bteams[1951]=['Murray State','Evansville','Morehead State','Marshall','Tennessee Tech']
bteams[1952]=['Murray State','Evansville','Morehead State','Marshall','Tennessee Tech']
bteams[1953]=['Morehead State','Middle Tennessee','Tennessee Tech']
bteams[1954]=['Morehead State','Tennessee Tech','Middle Tennessee']
bteams[1955]=['Middle Tennessee']
bteams[1956]=['Middle Tennessee']
bteams[1957]=['Middle Tennessee','East Tennessee State']
files=["https://ontheroadtovote.com/ncaab/nond1scores/missingscores/nwaacc/2019.txt","https://ontheroadtovote.com/ncaab/nond1scores/missingscores/ccaa/ccaascores.csv","usportsscores.csv","ccaascores.csv","nwaaccscores.csv",'cccaacores.csv','naiascores.csv',"accascores.csv","nccaascores.csv","d3scores.csv","d2scores.csv","njcaacores.csv","uscaascores.csv","2012cccaascores.txt","2014cccaascores.txt","2019cccaascores.txt"]
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/updatedstandings.csv")
teams=[]

html=requests.get("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/app.php")
html=html.text
arr=[]

df2=pd.DataFrame(thearr)

df2.columns=['Schl','Opp','PTS','OPP','Year','Date','neutral','Venue','Yearz']
gd={}
df2=df2.drop_duplicates()
df2= df2.replace(np.nan, 'w', regex=True)
(df2['Yearz']).where((df2['Year'] =='w'))
df2=df2[df2.Schl!='w']
msqe16=[]
df1=df2
w=0
l=0
names=[]
confdf.dropna()
def replace(n):
    string=n
    for letter in letters:
        string=string.replace(letter+" Stateate",letter+" State")
    return string

currSeason=1893
df22=df2
p=[]
names=set()
start=time.time()
years[2023]={}
for row in d1ss.itertuples():
    years[float(2023)][row.Schl]={}
    years[float(2023)][row.Schl]='yes'

df22=df22[df22.OPP!=0]
df22=df22[df22.Schl!=0]
df22=df2


df22['Date'] = pd.to_datetime(df22['Date'], errors='coerce')
df22['Date'] = df22['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')
df22=df22.astype({"Schl":"string","Opp":"string"})

from datetime import date
today=date.today()





df22['Year']=df22['Year'].replace("2022-23","2022")

teamss={}
oy={}

oldconfs=pd.read_csv("https://ontheroadtovote.com/ncaab/old.csv")
oldconfs=oldconfs.astype({"School":"string"})
oldconfs= oldconfs[oldconfs['School'].notna()]
import requests
import requests
import json

teams=set(df22.Schl.tolist()+df22.Opp.tolist()+oldconfs.School.tolist())
import numpy as np
hbcus=['Texas Southern','Coppin State','Morgan State','North Carolina Central','Morgan State','Howard','Norfolk State','South Carolina State','Delaware State','Grambling','Southern','Alcorn State','North Carolina A&T','Tennessee State','Chicago State','Hampton','Bethune-Cookman','Alabama A&M','Prairie View A&M','Mississippi Valley State','Alabama State','Arkansas-Pine Bluff','Florida A&M','Jackson State','Maryland-Eastern Shore']
for team in teams:
    
    if(pd.isnull(team)!=True):
        eloLeague.addPlayer(team, rating = 1500)  
w=0
l=0

import pandas as pd
from datetime import datetime




df22 = df22[df22['Opp'].notna()]

otamy=[]
confdf.dropna()
msqe12=[]
cols=['Unnamed: 0', 'Rk', 'School', 'Conf', 'Year', 'W', 'L']
df2 = {'Unnamed: 0':'t','Rk':4,'School':'Hiram','Conf':'Independent','Year':1893,'W':1,'L':0}
oldconfs.append(df2,ignore_index=True)
msqe=[]
otmx=[]
w=0
wz=0
tdsz={}
df22["Year"]=df22['Year']
df22=df22[df22.Year!='Year']
df22=df22.astype({"Year":"string"})
df22['Year']=df22['Year'].str.replace('-49','')
df22['Year']=df22['Year'].str.replace('-50','')
df22['Year']=df22['Year'].str.replace('-51','')
df22['Year']=df22['Year'].str.replace('-52','')
df22['Year']=df22['Year'].str.replace('-53','')
df22['Year']=df22['Year'].str.replace('-54','')
df22['Year']=df22['Year'].str.replace('-55','')
df22['Year']=df22['Year'].str.replace('-56','')
df22['Year']=df22['Year'].str.replace('-57','')
df22['Year']=df22['Year'].str.replace('-58','')
df22['Year']=df22['Year'].str.replace('-59','')
df22['Year']=df22['Year'].str.replace('-60','')
df22['Year']=df22['Year'].str.replace('-61','')
df22['Year']=df22['Year'].str.replace('-62','')
df22['Year']=df22['Year'].str.replace('-63','')
df22['Year']=df22['Year'].str.replace('-64','')
df22['Year']=df22['Year'].str.replace('-65','')
df22['Year']=df22['Year'].str.replace('-66','')
df22['Year']=df22['Year'].str.replace('-67','')
df22['Year']=df22['Year'].str.replace('-68','')
df22['Year']=df22['Year'].str.replace('-69','')
df22['Year']=df22['Year'].str.replace('-70','')
df22['Year']=df22['Year'].str.replace('-71','')
df22['Year']=df22['Year'].str.replace('-72','')
df22['Year']=df22['Year'].str.replace('-73','')
df22['Year']=df22['Year'].str.replace('-74','')
df22['Year']=df22['Year'].str.replace('-75','')
df22['Year']=df22['Year'].str.replace('-76','')
df22['Year']=df22['Year'].str.replace('-77','')
df22['Year']=df22['Year'].str.replace('-78','')
df22['Year']=df22['Year'].str.replace('-79','')
df22['Year']=df22['Year'].str.replace('-80','')
df22['Year']=df22['Year'].str.replace('-81','')
df22['Year']=df22['Year'].str.replace('-82','')
df22['Year']=df22['Year'].str.replace('-83','')
df22['Year']=df22['Year'].str.replace('-84','')
df22['Year']=df22['Year'].str.replace('-85','')
df22['Year']=df22['Year'].str.replace('-86','')
df22['Year']=df22['Year'].str.replace('-87','')
df22['Year']=df22['Year'].str.replace('-88','')
df22['Year']=df22['Year'].str.replace('-89','')
df22['Year']=df22['Year'].str.replace('-90','')
df22['Year']=df22['Year'].str.replace('-91','')
df22['Year']=df22['Year'].str.replace('-92','')
df22['Year']=df22['Year'].str.replace('-93','')
df22['Year']=df22['Year'].str.replace('-94','')
df22['Year']=df22['Year'].str.replace('-95','')
df22['Year']=df22['Year'].str.replace('-96','')
df22['Year']=df22['Year'].str.replace('-97','')
df22['Year']=df22['Year'].str.replace('-98','')
df22['Year']=df22['Year'].str.replace('-99','')
df22['Year']=df22['Year'].str.replace('-02','')
df22['Year']=df22['Year'].str.replace('-03','')
df22['Year']=df22['Year'].str.replace('-04','')
df22['Year']=df22['Year'].str.replace('-05','')
df22['Year']=df22['Year'].str.replace('-06','')
df22['Year']=df22['Year'].str.replace('-07','')
df22['Year']=df22['Year'].str.replace('-08','')
df22['Year']=df22['Year'].str.replace('-09','')
df22['Year']=df22['Year'].str.replace('-16','')
df22['Year']=df22['Year'].str.replace('-17','')
df22['Year']=df22['Year'].str.replace('-18','')
df22['Year']=df22['Year'].str.replace('-19','')
df22['Year']=df22['Year'].str.replace('-20','')
df22['Year']=df22['Year'].str.replace('-21','')
df22['Year']=df22['Year'].str.replace('-22','')
df22['Year']=df22['Year'].str.replace('-91','')
df22['Year']=df22['Year'].str.replace('-92','')
df22['Year']=df22['Year'].str.replace('-93','')
df22['Year']=df22['Year'].str.replace('-94','')
df22['Year']=df22['Year'].str.replace('-95','')
df22['Year']=df22['Year'].str.replace('-96','')
df22['Year']=df22['Year'].str.replace('-97','')
df22['Year']=df22['Year'].str.replace('-98','')
df22['Year']=df22['Year'].str.replace('-99','')
df22['Year']=df22['Year'].str.replace('-00','')
df22['Year']=df22['Year'].str.replace('-01','')
df22['Year']=df22['Year'].str.replace('-10','')
df22['Year']=df22['Year'].str.replace('-12','')
df22['Year']=df22['Year'].str.replace('-11','')
df22['Year']=df22['Year'].str.replace('-13','')
df22['Year']=df22['Year'].str.replace('-14','')
df22['Year']=df22['Year'].str.replace('-15','')
df22['Year']=df22['Year'].str.replace('-23','')
df22=df22[df22.Year!='Year']
df22['Year']=df22['Year'].str.replace("2023-28","2023")
df22['Year']=df22['Year'].str.replace("2023-29","2023")
df22['Year']=df22['Year'].str.replace("2023-26","2023")
df22['Year']=df22['Year'].str.replace("2023-27","2023")
df22['Year']=df22['Year'].str.replace("2023-24","2023")
df22['Year']=df22['Year'].str.replace("2023-30","2023")
df22['Year']=df22['Year'].str.replace("2023-31","2023")
df22=df22.astype({"Year":float})
df22['yearz']=df22['Year']
for season in df22.Year.unique():
    tdsz[str(season)]={}
for season in oldconfs.Year.unique():
    tdsz[str(season)]={}
import requests
msqe13=[]
msqe14=[]
msqe15=[]
msqe={}

df22=df22.astype({'PTS':float,'OPP':float,'Schl':'string','Opp':'string'})
df22['OT']=0
df22= df22.drop_duplicates()
mova={}
dm={}
confdf=pd.read_csv("https://github.com/easella/ncaah/blob/main/ncaabconfs.csv?raw=true")
confdf=confdf.astype({"School":"string"})
confdf= confdf[confdf['School'].notna()]
oldconfs=pd.read_csv("https://ontheroadtovote.com/ncaab/old.csv")
oldconfs=oldconfs.astype({"School":"string"})

df22['Year'].replace(23,2023.0,inplace=True)
print("standings")


oldconfs=oldconfs[oldconfs['Rk'].notna()]
yr=requests.get("https://ontheroadtovote.com/ncaab/steams.json")
yr=yr.json()
oldconfs=oldconfs.astype({"School":"string"})

df22=df22.replace("Sam Houston State","Sam Houston")
df22=df22.drop_duplicates()
for team in yr:
    oldconfs=oldconfs.replace(team,yr[team])
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/coaches2.csv")
coaches={}
confs={}
for i in range(1892,1950):
    coaches[i]={}
    confs[i]={}
for row in oldconfs.itertuples():
    s=row.School
    s=s.replace("FDU",'Fairleigh Dickinson')
    s=s.replace("UCF","Central Florida")
    confs[row.Year][s]=row.Conf

for row in df.itertuples():
    coaches[float(row.Year)][row.School]=row.Coach
currSeason=1896

for game in oldconfs.itertuples():
    season=float(game.Year)
    
    
    if(season)>currSeason:
        lseason=season-1
        for key in eloLeague.ratingDict.keys():
            eloLeague.ratingDict[key]=(eloLeague.ratingDict[key]*0.65)+(1500*0.35)
                
            
        currSeason=season
    eloLeague.ratingDict[game.School]+=(game.W*25)
    eloLeague.ratingDict[game.School]-=(game.L*25)
print('done')
cd={}
for year in confdf.Year.unique():
    cd[year]={}
for row in confdf.itertuples():
    cd[year][row.School]={}
    cd[year][row.School]['w']=0
    cd[year][row.School]['l']=0
rest={}
didp=0
currSeason=1948
df22=df22.astype({"Venue":"string","yearz":"string","neutral":"string"})
df22=df22[df22.Date<str(date.today())]
hfa=[]
df22=df22[df22.PTS!=1]
df22[df22.PTS!=0]
df22=df22[df22.PTS!=2]
df22[df22.PTS!=2]
df22=df22.drop_duplicates()
nn=df22[df22.neutral=='False']
for row in nn.itertuples():
    if row.Venue=='vs':
        if row.Schl in years[row.Year]:
            diff=row.PTS-row.OPP
            hfa.append(diff)
    else:
        if row.Opp in years[row.Year]:
            diff=row.OPP-row.PTS
            hfa.append(diff)
print(len(hfa))
hfa=np.mean(hfa) 
hfa=round(hfa)
hfa=hfa*25
restz=[]
df22=df22.drop_duplicates()
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/coaches.csv")
df=df.replace("USC",'Southern California')
df=df.replace("NYU",'New York University')
df=df.replace("St. Peter's","Saint Peter's")
coaches={}

for i in range(1949,2024):
    coaches[i]={}
df=df.replace("UT-Martin","Tennessee-Martin")
for row in df.itertuples():
    coaches[float(row.Year)][row.School]=row.Coach
ap={}
df=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/ap.csv")
df=df.replace("USC",'Southern California')
df=df.replace("NYU",'New York University')
df=df.replace("St. Peter's","Saint Peter's")
coaches[1950]['Gettysburg']='Henry T. Bream'
coaches[1973]['Northern Colorado']='Thurm Wright'
coaches[1974]['Northern Colorado']='Thurm Wright'
coaches[1975]['Northern Colorado']='Thurm Wright'
coaches[1976]['Northern Colorado']='Thurm Wright'
coaches[1977]['Northern Colorado']='Thurm Wright'
coaches[1950]['Gettysburg']='Henry T. Bream'
coaches[2001]['Lipscomb']='Scott Sanderson'
coaches[2002]['Lipscomb']='Scott Sanderson'
for i in range(1961,2024):
    ap[i]={}
hfa=75
df=df.replace("UT-Martin","Tennessee-Martin")
for row in df.itertuples():
    ap[float(row.Year)][row.School]=row.Pre
for i in range(9,22):
    msqe[str(i)]=set()

hbcus={}
arr={}
for i in range(1973,2024):
    hbcus[float(i)]=[]
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/cbbstandings.csv")
confs={}
for i in range(1949,2025):
    confs[i]={}
df=df.replace("PCC (North)","PCC")
df=df.replace("PCC (South)","PCC")
df=df.replace("Mid-Atl (Eastern)","Mid-Atl")
df=df.replace("Mid-Atl (Western)","Mid-Atl")
df=df.replace("Mid-Atl (East)","Mid-Atl")
df=df.replace("Mid-Atl (West)","Mid-Atl")
df=df.replace("ECC (West)","ECC")
df=df.replace("ECC (East)","ECC")
df=df.replace("ECBL (East)","ECBL")
df=df.replace("ECBL (West)","ECBL")
df=df.replace("EAA (West)","EAA")
df=df.replace("EAA (East)","EAA")
df=df.replace("ECACM (North)","ECACM")
df=df.replace("ECACM (South)","ECACM")
df=df.replace("A-10 (East)","A-10")
df=df.replace("A-10 (West)","A-10")
df=df.replace("MAAC (South)","MAAC")
df=df.replace("MAAC (North)","MAAC")
df=df.replace("CUSA (Blue)","CUSA")
df=df.replace("CUSA (Red)","CUSA")
df=df.replace("CUSA (White)","CUSA")
df=df.replace("Big East (East)","Big East")
df=df.replace("MAC (East)","MAC")
df=df.replace("SEC (East)","SEC")
df=df.replace("Southern (North)",'Southern')
df=df.replace("Southern (South)","Southern")
df=df.replace("WAC (Pacific)","WAC")
df=df.replace("CUSA (National)","CUSA")
df=df.replace("TAAC (East)","TAAC")
df=df.replace("Sun Belt (West)","Sun Belt")
df=df.replace("TAAC (West)","TAAC")
df=df.replace("A-Sun (North)","A-Sun")
df=df.replace("MAC (West)","MAC")
df=df.replace("Big East (West)","Big East")
df=df.replace("SEC (West)","SEC")
df=df.replace("Southland (West)","Southland")
df=df.replace("Southland (East)","Southland")
df=df.replace("OVC (East)","OVC")
df=df.replace("OVC (West)","OVC")
df=df.replace("Big South (North)","Big South")
df=df.replace("Big South (South)","Big South")
df=df.replace("A-Sun (East)","A-Sun")
df=df.replace("Patriot (Central)","Patriot")
df=df.replace("WAC (Mountain)","WAC")
df=df.replace("CUSA (American)","CUSA")
df=df.replace("Big West (West)","Big West")
df=df.replace("CUSA (East)","CUSA")
df=df.replace("Patriot (North)","Patriot")
df=df.replace("CUSA (West)","CUSA")
df=df.replace("A-Sun (West)","A-Sun")
df=df.replace("Patriot (South)","Patriot")
df=df.replace("A-Sun (South)","A-Sun")
df=df.replace("MEAC (Southern)","MEAC")
df=df.replace("MEAC (Northern)","MEAC")
df=df.replace("Sun Belt (East)","Sun Belt")
df=df.replace("Big West (West)","Big West")
df=df.replace("Big West (East)","Big West")
df=df.replace("Big East (Big East 6)","Big East")
df=df.replace("Big East (Big East 7)","Big East")
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
for row in standings.itertuples():
    if float(row.Year)>1948:
        confs[float(row.Year)][str(row.Schl)]=str(row.Conference)
for row in df.itertuples():
    s=row.School
    s=s.replace("FDU",'Fairleigh Dickinson')
    s=s.replace("UCF","Central Florida")
    confs[row.Year][s]=row.Conf
    


df22['Schl']=df22['Schl'].str.replace("Savannah St","Savannah State")
df22['Opp']=df22['Opp'].str.replace("Savannah St","Savannah State")
df22['Schl']=df22['Schl'].replace("Birmingham So","Birmingham-Southern")
df22['Opp']=df22['Opp'].replace("Birmingham So","Birmingham-Southern")
df22=df22.replace("Texas Christian",'TCU')
df22=df22.sort_values(by='Date')
preds={}
swac=['Grambling','Alcorn State',"Jackson State",'Prairie View','Texas Southern','Arkansas-Pine Bluff','Southern','Bethune-Cookman','Alabama State','Florida A&M','Alabama A&M','Mississippi Valley State']
meac=['North Carolina Central','Coppin State','Maryland-Eastern Shore','Norfolk State','Howard','South Carolina State','Morgan State','Delaware State']
for i in range(1949,1973):
    hbcus[i]=[]
confy={}
for conf in set(df.Conf.tolist()):
    confy[conf]=[]

confy={}
for conf in set(df.Conf.tolist()):
    confy[conf]={}
for row in df.itertuples():
    confy[row.Conf][float(row.Year)]=[]
for row in df.itertuples():
    confy[row.Conf]=[]
for game in df22.itertuples():
    if game.Schl in years[game.Year] and game.Opp in years[game.Year]:
        
        if confs[float(game.Year)][game.Schl]!=confs[float(game.Year)][game.Opp]:
            sconf=confs[float(game.Year)][game.Schl]
            confy[sconf].append(game.PTS-game.OPP)
            oconf=confs[float(game.Year)][game.Opp]
            confy[oconf].append(game.OPP-game.PTS)
df22=df22.replace("Savannah Stateate","Savannah State")

eloLeague.addPlayer("Savannah State",rating=1500)
hfas={}
df22['neutral']=df22['neutral'].fillna("False")

for game in df22.itertuples():
    
    if game.Schl in years[game.Year] and game.Opp in years[game.Year]:
        if game.neutral==True or game.neutral=='True':
            m=1
        else:
            
            sc=confs[game.Year][game.Schl]
            oc=confs[game.Year][game.Opp]
            if sc not in hfas:
                hfas[sc]=[]
            if oc not in hfas:
                hfas[oc]=[]
            if game.Venue!='@':
                hfas[sc].append(game.PTS-game.OPP)
            else:
                hfas[oc].append(game.OPP-game.PTS)
j=[]
import numpy as np
for key in hfas:
    j.append(np.mean(hfas[key]))
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/cbbrank.csv")

pwr={}
keys={}
for i in range(2011,2025):
    pwr[i]={}

arrz=[]
for key in hfas:
    
    hfas[key]=(np.mean(hfas[key]))
    hfas[key]=round(hfas[key])*kval
    hfas[key]=round(hfas[key])
mean=np.mean(list(hfas.values()))
mean=round(mean,-1)
for key in hfas:
    num=((1-rev)*hfas[key])+(rev*mean)
    num=hfas[key]
    hfas[key]=num
    
import pandas as pd
from bs4 import BeautifulSoup
import requests
arr=[]
for i in range(2015,2025):
    
    url="https://barttorvik.com/trank-time-machine.php?year="+str(i)
    print(url)
    html=requests.get(url).text
    soup=BeautifulSoup(html)
    for tr in soup.find("table").find_all("tr"):
        if 'Rec' not in str(tr) and 'time' in str(tr):
            schl=tr.find_all("td")[1].text
            schl=schl.replace(" St."," State")
            arr.append([schl,tr.find_all("td")[3].text,tr.find_all("td")[4].text,tr.find_all("td")[6].text,tr.find_all("td")[8].text,tr.find_all("td")[11].text,tr.find_all("td")[9].text,i-1,tr.find_all("td")[0].text])
df=pd.DataFrame(arr,columns=['Schl','Record','OFF','DEF','Pwr','?','ProjRecord','Year','Rank'])
df=df.replace("Arkansas Little Rock","Little Rock")
df=df.replace("Arkansas Pine Bluff",'Arkansas-Pine Bluff')
df=df.replace("Bethune Cookman","Bethune-Cookman")
df=df.replace("Louisiana Monroe","Louisiana-Monroe")
df=df.replace("BYU","Brigham Young")
df=df.replace("Cal Baptist","California Baptist")
df=df.replace("Bowling Green","Bowling Green State")
df=df.replace("Detroit","Detroit Mercy")
df=df.replace("Dixie State","Utah Tech")
df=df.replace("Fort Wayne","Purdue Fort Wayne")
df=df.replace("Loyola Chicago","Loyola (IL)")
df=df.replace("Queens","Queens (NC)")
df=df.replace("Detroit","Detroit Mercy")
df=df.replace("Albany","Albany (NY)")
df=df.replace("Central Connecticut","Central Connecticut State")
df=df.replace("North Carolina State","NC State")
df=df.replace("Nebraska Omaha","Omaha")
df=df.replace("USC Upstate","South Carolina Upstate")
df=df.replace("Tennessee Martin","Tennessee-Martin")
df=df.replace("Saint John's (NY)","St. John's (NY)")
df=df.replace("Mount State Mary's","Mount St. Mary's")
df=df.replace("Sam Houston State","Sam Houston")
df=df.replace("LSU","Louisiana State")
df=df.replace("Maryland Eastern Shore","Maryland-Eastern Shore")
df=df.replace("Loyola MD","Loyola (MD)")
df=df.replace("Illinois Chicago","Illinois-Chicago")
df=df.replace("FIU","Florida International")
df=df.replace("IPFW","Purdue Fort Wayne")
df=df.replace("Houston Baptist","Houston Christian")
df=df.replace("Gardner Webb","Gardner-Webb")
df=df.replace("Grambling State","Grambling")
df=df.replace("St. Francis NY","St. Francis (NY)")
df=df.replace("Southern Miss","Southern Mississippi")
df=df.replace("UMass Lowell","Massachusetts-Lowell")
df=df.replace("Tennessee Martin","Tennessee-Martin")
df=df.replace("Texas A&M Corpus Chris","Texas A&M-Corpus Christi")
df=df.replace("Texas A&M Commerce","Texas A&M-Commerce")
df=df.replace("Nebraska Omaha","Omaha")
df=df.replace("UCF","Central Florida")
df=df.replace("UMKC","Kansas City")
df=df.replace("UMBC","Maryland-Baltimore County")
df=df.replace("UNLV","Nevada-Las Vegas")
df=df.replace("USC","Southern California")
df=df.replace("St. John's","St. John's (NY)")
df=df.replace("St. Francis PA","Saint Francis (PA)")
df=df.replace("UT Rio Grande Valley","Texas-Rio Grande Valley")
df=df.replace('USC Upstate',"South Carolina Upstate")
df=df.replace("LSU","Louisiana State")
df=df.replace("LIU Brooklyn","Long Island University")
df=df.replace("Miami OH","Miami (OH)")
df=df.replace("Miami FL","Miami (FL)")
df=df.replace("Louisiana Lafayette","Louisiana")
df=df.replace("Mount State Mary's","Mount Saint Mary's")
df=df.replace("Penn","Pennsylvania")
df=df.replace("SIU Edwardsville","Southern Illinois-Edwardsville")
df=df.replace("SMU","Southern Methodist")
df=df.replace("Prairie View A&M","Prairie View")
df=df.replace("Saint Mary's","Saint Mary's (CA)")
df=df.replace("Sam Houston State","Sam Houston")
df=df.replace("Albany","Albany (NY)")
df=df.replace("VMI","Virginia Military Institute")
df=df.replace("VCU","Virginia Commonwealth")
df=df.replace("Queens","Queens (NC)")
df=df.replace("North Carolina State","NC State")
for row in df.itertuples():
    pwr[float(row.Year)][row.Schl]=float(row.Pwr)*10
ranks={}
games=0
for i in range(2014,2025):
    ranks[float(i)]={}
for row in df.itertuples():
    ranks[float(row.Year)][row.Schl]=str(row.ProjRecord)
df22['nond1game']=False
for row in df22.itertuples():
    if row.Schl not in years[float(row.Year)] or row.Opp not in years[float(row.Year)]:
        df22.at[row.Index,'nond1game']=True
df22=df22[df22.nond1game==False]
df22 = df22.drop('Yearz', axis=1)
df22 = df22.drop('yearz', axis=1)
df22 = df22.drop('OT', axis=1)
df22=df22.drop_duplicates()
kval=25
eloLeague = Elo(k = kval)
print("go through games")
for key in set(df22.Schl.tolist()+df22.Opp.tolist()):
    eloLeague.addPlayer(key,rating=1500)
did=[]
rev=0.73
for row in df22.itertuples():
    if row.Schl not in did:
        num=round(np.mean(confy[confs[row.Year][row.Schl]]))
        num=num*kval
        num=num*(1-rev)
        eloLeague.addPlayer(row.Schl,rating=1500+num)
        did.append(row.Schl)
    if row.Opp not in did:
        num=round(np.mean(confy[confs[row.Year][row.Opp]]))
        num=num*kval
        num=num*(1-rev)
        eloLeague.addPlayer(row.Opp,rating=1500+num)
        did.append(row.Opp)

for game in df22.itertuples():
    s=game.Schl
    o=game.Opp
    o=o.strip()
    s=s.strip()
    season=game.Year
    if s not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(s,rating=1500)
    if o not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(o,rating=1500)
    while (season)>currSeason: 
        games=0
        rest={}
        confz={}
        m=[]
        if game.Year>2013:
            for key in pwr[game.Year]:
                m.append(pwr[game.Year][key])
            m=np.mean(m)
        
        for key in eloLeague.ratingDict.keys():
            if  season>1960 and key in ap[season]:
                if str(ap[season][key]).strip()!='nan':
                    app=((25/ap[season][key])*25)
                    app=app*0.65
                    app=0
                    eloLeague.ratingDict[key]+=app
        
        for conf in confs[game.Year]:
            if conf not in eloLeague.ratingDict.keys():
                eloLeague.addPlayer(conf,rating=1500)
        meanf=[]
        if game.Year>2013:
            for value in list(pwr[game.Year].values()):
                meanf.append(value)
            meanf=np.mean(meanf)
        for key in eloLeague.ratingDict.keys():
            
            
            if key in years[game.Year]:
                if game.Year>2013:
                    r=pwr[game.Year][key]
                    rat=np.mean(meanf)-r
                    if round(rat)!=0:
                        rat=round(rat)
                    else:
                        if rat<0:
                            rat=-1
                        if rat>0:
                            rat=1
                    
                    rat=rat*kval
                    eloLeague.ratingDict[key]+=(rat*(1-rev))
                    win=ranks[float(game.Year)][key]
                    loss=win.split("-")[1]
                    win=win.split("-")[0]
                    win=float(win)
                    loss=float(loss)
                    num=(win*5)-(loss*5)
                    eloLeague.ratingDict[key]+=(num*(1-rev))
                numz=np.mean(confy[confs[game.Year][key]])
                numz=round(float(numz))*25
                
                num=1500+numz
        for key in confs[game.Year]:
            conf=confs[game.Year][key]
            if conf not in confz:
                confz[conf]=[]
            if key not in eloLeague.ratingDict.keys():
                eloLeague.addPlayer(key,rating=1500)
            confz[conf].append(eloLeague.ratingDict[key])
        lsdf=df22[df22.Year<game.Year]
        ls=set(lsdf.Schl.tolist()+lsdf.Opp.tolist())
        for key in eloLeague.ratingDict.keys():
            
            if key  in years[game.Year] and key in ls:
                num=np.mean(confz[confs[float(game.Year)][key]])
                
                num=num+1500
                numz=round(np.mean(confy[confs[row.Year][row.Opp]]))
                numz=numz*kval
                numz=numz*(1-rev)
                num=num/2
               
                eloLeague.ratingDict[key]=(eloLeague.ratingDict[key]*(1-rev))+(num*rev)
                
                
                
            
                
                 
                    
        currSeason+=1
        if game.Year==2023:
            for key in years[2023]:
                arrz.append([key,confs[game.Year][key],eloLeague.ratingDict[key]])
    
    sp=0
    op=0
    s=str(game.Schl)
    o=str(game.Opp)
    o=o.strip()
    s=s.strip()
    
    if (game.Schl in swac or game.Schl in meac or game.Opp in meac or game.Opp in swac)and(str(o) in years[2023] and str(s) in years[2023])and('2023' in str(game.Year)):
        if 'True' in str(game.neutral):
            hf=0
            
        
        if game.Venue=='@' and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Opp]]
            hr=eloLeague.ratingDict[game.Schl]
            ar=eloLeague.ratingDict[game.Opp]+hf
        if game.Venue=='vs'  and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Schl]]
            hr=eloLeague.ratingDict[game.Schl]+hf
            ar=eloLeague.ratingDict[game.Opp]
        if hr>ar:
            spread=round((hr-ar)/21)
            if spread==0:
                spread=1
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            name="On "+str(game.Date)+" "+str(game.Schl)+" beats "+str(game.Opp)+" by "+str(spread)
            keys[name]=game.Date   
        if ar>hr:
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            spread=round((ar-hr)/21)
            if spread==0:
                spread=1
            
            name="On "+str(game.Date)+" "+str(game.Opp)+" beats "+str(game.Schl)+" by "+str(spread)
            keys[name]=game.Date            
        
    hf=75
    if(game.Venue=='@'):
        if game.Opp not in years[game.Year]:
            hf=50
    else:
        if game.Schl not in years[game.Year]:
            hf=50
    t1r=0
    t2r=0
    games+=1
    k=25-(games*0.0035)
    k=round(25)
    if(game.PTS>game.OPP):
        
        homezz=0
        
        if(game.Venue!='@'):
            winnerHomez=True
            if game.Schl in years[game.Year]:
                hf=hfas[confs[game.Year][game.Schl]]
            else:
                hf=50
        if(game.Venue=='@'):
            winnerHomez=False
            if game.Opp in years[game.Year]:
                hf=hfas[confs[game.Year][game.Opp]]
            else:
                hf=50
        if 'True'  in str(game.neutral):
            hf=0
        
        if(winnerHomez==True):
            t1e=eloLeague.ratingDict[game.Schl]+homezz-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]-op+t2r
            if(eloLeague.ratingDict[game.Schl]+homezz-sp>eloLeague.ratingDict[game.Opp]-op):
                w+=1
            if(eloLeague.ratingDict[game.Schl]+homezz-sp<eloLeague.ratingDict[game.Opp]-op):
                l+=1
        if(winnerHomez!=True):
            t1e=eloLeague.ratingDict[game.Schl]-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]+homezz-op+t2r
            if(eloLeague.ratingDict[game.Schl]-sp>eloLeague.ratingDict[game.Opp]+homezz-op):
                w+=1
            if(eloLeague.ratingDict[game.Schl]-sp<eloLeague.ratingDict[game.Opp]+homezz-op):
                l+=1  
        df22.at[game.Index,'team1elopre']=t1e
        df22.at[game.Index,'team2elopre']=t2e
        eloLeague.gameOver(s,o,winnerHomez,game.neutral,game.PTS,game.OPP,game.Year,game.Date,sp,op,hf,k)
    if(game.PTS<game.OPP):
        homezz=0
        
        if(game.Venue=='@'):
            if game.Schl in years[game.Year]:
                hf=hfas[confs[game.Year][game.Opp]]
            winnerHomez=True
        if(game.Venue!='@'):
            if game.Opp in years[game.Year]:
                hf=hfas[confs[game.Year][game.Schl]]
            winnerHomez=False
        if 'True'  in str(game.neutral):
            homezz=0
        if(winnerHomez==True):
            t1e=eloLeague.ratingDict[game.Schl]-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]+homezz-op+t2r
            if(eloLeague.ratingDict[game.Schl]-sp>eloLeague.ratingDict[game.Opp]+homezz-op):
                l+=1
            if(eloLeague.ratingDict[game.Schl]-sp<eloLeague.ratingDict[game.Opp]+homezz-op):
                w+=1
            
        
        if(winnerHomez!=True):
            t1e=eloLeague.ratingDict[game.Schl]+homezz-sp+t1r
            t2e=eloLeague.ratingDict[game.Opp]-op+t2r
            if(eloLeague.ratingDict[game.Schl]+homezz-sp>eloLeague.ratingDict[game.Opp]-op):
                l+=1
            if(eloLeague.ratingDict[game.Schl]+homezz-sp<eloLeague.ratingDict[game.Opp]-op):
                w+=1
        df22.at[game.Index,'team1elopre']=t1e
        df22.at[game.Index,'team2elopre']=t2e
        eloLeague.gameOver(o,s,winnerHomez,game.neutral,game.OPP,game.PTS,game.Year,game.Date,op,sp,hf,k)
    d1=(s in years[game.Year] or o in years[game.Year])
    for i in range(9,22):
        spread=abs((t1e-t2e)/float(i))
        spread=round(spread)
        if spread==0:
            spread=1
        ms=(float(game.PTS)-float(game.OPP))-spread
        
        msz = np.square(ms)
        if d1==True:
            msqe[str(i)].add(msz)
        
import numpy as np
msqez={}
for i in range(9,22):
    msqez[str(i)]=0
for i in range(9,22):
    msqez[str(i)]=sum(msqe[str(i)])/len(msqe[str(i)])
mas=min(msqez, key=msqez.get)
print("--- %s seconds ---" % (time.time() - start_time))

done files
no
neutral
home
playoff
[False  True]
[ True False]
['2024-03-22', ' Purdue', ' 78', ' Grambling', '  50', ' P', '  Indianapolis', '  IN ']
  IN

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

[False True nan]
standings

KeyboardInterrupt:

In [63]:
np.mean(confz[confs[float(game.Year)]['Grambling']])

1464.0297206091798

In [64]:
round(np.mean(confy[confs[2023]['Grambling']]))

-14

10.5

# mas=9

In [39]:
df2=pd.DataFrame(thearr)
df2.columns=['Schl','Opp','PTS','OPP','Year','Date','neutral','Venue','Yearz']

In [64]:
game.Year

1949.0

-13.697330385988778

In [112]:
rh={}
u=[]
for team in years[2023]:
    rh[team]=(eloLeague.ratingDict[team])
    u.append(eloLeague.ratingDict[team])
rh=sorted(rh, key=rh.get, reverse=True)
i=1
print(np.mean(u))
print("Rank||Team||Points Above d1 Average")
for key in rh:
    print(str(i)+"  "+key+"  "+str(eloLeague.ratingDict[key]-np.mean(u))+"")
    i+=1

1526.5169673225107
Rank||Team||Points Above d1 Average
1  Connecticut  461.4182344304886
2  Purdue  385.85410002334606
3  Houston  358.0079270256358
4  Iowa State  338.8530030025802
5  Auburn  311.8145424292777
6  Illinois  311.1588165809478
7  Gonzaga  295.26343448093075
8  North Carolina  291.2620456855291
9  Creighton  290.09364132557516
10  Duke  288.5691983274023
11  Tennessee  284.7641858594668
12  Marquette  268.519083091674
13  Arizona  258.7513934848755
14  Alabama  251.68511344890044
15  Saint Mary's (CA)  246.64438580392152
16  Baylor  235.30123016498374
17  San Diego State  232.09485091815782
18  Texas  228.9578246127112
19  Indiana State  223.41284668784078
20  Grand Canyon  219.29207430281986
21  Kansas  215.5905831027644
22  Nevada  213.41069485124603
23  Kentucky  212.60346889531297
24  Texas Tech  211.76938680785406
25  Brigham Young  211.16771750973066
26  Drake  209.22143588340555
27  St. John's (NY)  205.90518235135664
28  Texas A&M  203.3392827560367
29  James Madison  201.25395293857696
30  Clemson  200.6531007908568
31  Florida  200.19548507672857
32  Nebraska  198.31472662011652
33  Florida Atlantic  197.72540716105823
34  Utah State  197.6112967754268
35  Wisconsin  196.60188184929166
36  Michigan State  195.5610272762642
37  NC State  194.88274992784318
38  New Mexico  194.52468323620656
39  Seton Hall  194.3699088264559
40  Northwestern  194.04909933752788
41  Dayton  192.20307209204134
42  Colorado  179.86650482326377
43  Pittsburgh  179.80326749693245
44  Mississippi State  179.46175946938752
45  Ohio State  177.26388038601795
46  Cincinnati  175.03146188897404
47  TCU  172.94914611455124
48  Memphis  171.40062388168508
49  Colorado State  169.5101349606482
50  Samford  167.3040483321697
51  South Carolina  165.73763310159893
52  Oklahoma  163.4597171877308
53  Vermont  160.81075552786274
54  Boise State  160.7266181949774
55  Princeton  159.9310532251077
56  College of Charleston  158.94835508489382
57  Washington State  157.35447976974683
58  Bradley  152.997404450148
59  Iowa  152.03243042997428
60  UC Irvine  150.14288659500266
61  San Francisco  148.95824154137927
62  Villanova  147.7986100642056
63  Oregon  147.68068441495006
64  Appalachian State  144.8090520683511
65  South Florida  143.57680130428707
66  Yale  143.2012474604212
67  Virginia Commonwealth  142.49864678133372
68  Duquesne  138.22636928052748
69  Kansas State  134.4290404356077
70  Providence  133.33964895319764
71  Cornell  129.9582293720448
72  Wake Forest  128.78940533075365
73  North Texas  122.85299148135618
74  Loyola (IL)  120.86257950011031
75  Xavier  120.49106849256691
76  Richmond  119.27501228527967
77  Nevada-Las Vegas  117.0579436299563
78  Maryland  113.94805570179437
79  UT Arlington  113.4246956829727
80  McNeese State  110.29691612484908
81  Penn State  109.99041048321624
82  Central Florida  109.46808560483532
83  UAB  107.48293002761693
84  Louisiana Tech  105.81646556041028
85  Tarleton State  105.56497227452041
86  Belmont  104.00627925520735
87  Indiana  102.61611959952165
88  Massachusetts  101.8073894132026
89  Akron  101.37079216520738
90  Boston College  100.9270644197652
91  Sam Houston  98.74407234992782
92  Virginia  98.3179696498571
93  Southern Methodist  98.04671736093565
94  Western Carolina  96.64498173530956
95  Virginia Tech  96.27544148988909
96  Colgate  94.25387896184156
97  Utah  94.23311582221186
98  Seattle  94.20182950683761
99  Santa Clara  89.55747387711949
100  Morehead State  89.30977506836302
101  Toledo  87.67356734482632
102  South Dakota State  86.545827967891
103  Saint Joseph's  85.06503452782817
104  Ohio  84.10443450438788
105  George Mason  83.53495775808051
106  Butler  81.59396764528356
107  Minnesota  80.72686556099802
108  High Point  80.62573183944573
109  Hofstra  79.8114399027088
110  Eastern Washington  79.5909233697214
111  Arkansas State  78.59180565529073
112  Western Kentucky  77.07258950584242
113  Syracuse  75.8411794844285
114  Northern Iowa  74.09619853264712
115  Massachusetts-Lowell  72.1366325291483
116  Charlotte  70.38825222183118
117  Oakland  68.8390957224783
118  Chattanooga  65.93054055627817
119  St. Bonaventure  65.63454621396545
120  Quinnipiac  64.48082712356131
121  UC San Diego  62.69646492744846
122  Troy  62.48673687940868
123  Youngstown State  60.21977918454627
124  UNC Wilmington  56.56485608336334
125  Fairfield  55.308753183133604
126  Drexel  54.61993405733756
127  Washington  53.32176919288986
128  Georgia  51.788892571503084
129  Furman  50.825110487972324
130  UNC Greensboro  50.59101107365086
131  UCLA  50.070042537862946
132  Florida State  49.321878627268916
133  Southern Illinois  47.61380518578221
134  Southern California  47.50421524585113
135  Rutgers  40.92930180721737
136  Mississippi  38.38106924856538
137  Montana  37.11734108001656
138  Bryant  36.51683440269426
139  St. Thomas  36.02366582142872
140  Louisiana State  32.83259561138789
141  Wright State  32.50917503900837
142  Hawaii  31.10900730180083
143  Long Beach State  30.170527590660868
144  Purdue Fort Wayne  28.864603055409134
145  UC Davis  28.243232065110988
146  Kent State  28.214555016890927
147  East Tennessee State  27.04625740624101
148  Towson  26.802654508897376
149  Lipscomb  23.76117014820079
150  Utah Valley  22.64872133497761
151  Weber State  21.80285561902565
152  Oklahoma State  21.4983265704916
153  Arkansas  19.625610474154428
154  UNC Asheville  18.634508782994317
155  Wyoming  17.19241641830854
156  Louisiana  16.06992530343109
157  Little Rock  13.270054643279764
158  Missouri State  12.81544144399345
159  Brown  9.937772989412451
160  Davidson  9.26446287166118
161  Saint Peter's  8.747510468361497
162  Stephen F. Austin  7.622685535546452
163  Texas State  7.302466288666437
164  Wofford  6.614733287321997
165  Merrimack  6.198235966189259
166  Rider  5.496864662369262
167  Stony Brook  4.028909125123619
168  UTEP  3.4640607339906637
169  Wichita State  2.5578384734499195
170  Kansas City  2.1926195079411173
171  Longwood  0.3702067386136605
172  Tennessee-Martin  -3.6533167663262702
173  Miami (FL)  -4.329690508579006
174  Stetson  -4.523571582931027
175  North Dakota  -6.219597129497743
176  Northern Kentucky  -6.834419727986642
177  Liberty  -7.133313023890423
178  Notre Dame  -8.060710287414167
179  Marist  -8.261634565333225
180  Tulane  -9.66737183698956
181  Mercer  -11.073844535228773
182  Montana State  -13.270613172264348
183  Abilene Christian  -13.452182782809132
184  Stanford  -13.713602532720415
185  South Alabama  -14.109669116550776
186  Milwaukee  -14.720585109987269
187  Temple  -15.281486841774267
188  Murray State  -15.42566484615918
189  Cleveland State  -15.456159550547454
190  Delaware  -16.83364200118467
191  UC Riverside  -18.95432777883184
192  Northern Colorado  -19.619220427108758
193  Bowling Green State  -19.907108119425857
194  Harvard  -20.488201913044122
195  Texas A&M-Corpus Christi  -21.448048451210752
196  Monmouth  -21.95754906108209
197  Eastern Kentucky  -22.784462067249706
198  Illinois State  -24.658167110854265
199  California  -24.877392957723032
200  Michigan  -29.176582878926183
201  Iona  -29.833676684232387
202  Arizona State  -30.120280414816307
203  UC Santa Barbara  -30.715916782571185
204  Central Michigan  -31.53554452737808
205  La Salle  -32.555477945401435
206  Central Connecticut State  -32.72957004762475
207  Norfolk State  -33.824558337327744
208  Lehigh  -35.036593942527816
209  Georgia Tech  -35.75704270727306
210  Loyola Marymount  -36.40152581883103
211  Mount St. Mary's  -37.48691572203302
212  Pepperdine  -38.82223072923534
213  Maine  -38.935138966733575
214  Ball State  -38.96461318914339
215  Western Illinois  -39.25543804339941
216  West Virginia  -39.421534125126755
217  Tulsa  -39.723215842570426
218  California Baptist  -42.8544712830419
219  Saint Louis  -43.42540580434297
220  Nicholls State  -44.75459692565505
221  San Diego  -45.675351397559325
222  Pennsylvania  -48.481644602240976
223  Niagara  -49.40017369430939
224  East Carolina  -49.49148924981819
225  Jacksonville State  -51.49616186183721
226  Florida Gulf Coast  -51.89978768661467
227  Bucknell  -53.774239745085424
228  Fordham  -53.83291779673891
229  Winthrop  -54.193370960274706
230  North Florida  -54.34213054053794
231  Columbia  -56.78941045732381
232  Miami (OH)  -58.9413632300907
233  Cal State Fullerton  -59.84239531156504
234  Boston University  -60.15418316211776
235  Gardner-Webb  -60.46476070515587
236  Austin Peay  -61.51065268850607
237  Georgia State  -61.536039611730075
238  Cal State Northridge  -62.018397620682435
239  New Hampshire  -62.9236028141338
240  Idaho State  -63.29512893664037
241  Cal State Bakersfield  -64.3381417353969
242  Lamar  -65.85263033990009
243  Canisius  -66.13302729709926
244  Oregon State  -66.52676965242631
245  Evansville  -67.50005106499611
246  Southern Mississippi  -68.61501860692806
247  Radford  -68.64440396086866
248  North Dakota State  -69.55212365957868
249  Omaha  -70.20231513032104
250  North Alabama  -71.2343425569477
251  Portland State  -71.96382608857039
252  Wagner  -73.15518637029254
253  George Washington  -73.91484694024666
254  Jacksonville  -73.97616720377005
255  Marshall  -74.3194222875411
256  Binghamton  -74.77745572058348
257  Green Bay  -76.18400475934936
258  Le Moyne  -76.30689266804711
259  Maryland-Baltimore County  -76.31344864992798
260  Queens (NC)  -78.23564506756338
261  Illinois-Chicago  -78.68222670928844
262  Rhode Island  -79.49701296723424
263  Albany (NY)  -79.94616815984386
264  Grambling  -80.20864059746009
265  Kennesaw State  -80.75723137318914
266  Sacred Heart  -81.67894916079922
267  Portland  -81.73788957087095
268  American  -82.58006785124576
269  Middle Tennessee  -83.60027572822878
270  Southern Utah  -85.2212242816704
271  Fresno State  -88.12245924806552
272  Oral Roberts  -88.40285673561016
273  Missouri  -90.7837099122496
274  Rice  -91.20372304747798
275  Denver  -91.22575379682212
276  Georgia Southern  -92.55895207561753
277  Northeastern  -92.89668128774451
278  Tennessee State  -93.65691066374666
279  Vanderbilt  -94.45115748019452
280  North Carolina Central  -99.53272038841305
281  Howard  -99.63099756227507
282  Southern Illinois-Edwardsville  -100.01920590678128
283  Western Michigan  -102.08515462512105
284  Georgetown  -105.66233504901925
285  UTSA  -106.82214012128225
286  New Mexico State  -107.0018345352546
287  Air Force  -107.85889555694621
288  Navy  -108.50299090052931
289  Presbyterian  -110.970193560074
290  Utah Tech  -111.74181220850778
291  The Citadel  -112.5990330126915
292  Florida International  -114.35162716168156
293  San Jose State  -116.19763614766157
294  Louisiana-Monroe  -118.23159822235766
295  Northern Arizona  -120.86499217811638
296  Campbell  -122.74395723347129
297  Northern Illinois  -124.93198974173924
298  Texas Southern  -126.93426204022103
299  Fairleigh Dickinson  -129.97536499111652
300  Eastern Michigan  -138.04549527322092
301  Alcorn State  -142.3828755642187
302  Old Dominion  -144.27915253791798
303  South Carolina Upstate  -144.31841640043058
304  Southern  -149.9306219670409
305  Lafayette  -150.07428069742173
306  Elon  -153.03583388207608
307  South Dakota  -155.08678575270255
308  Delaware State  -155.90584552781115
309  Robert Morris  -156.74290715590314
310  Eastern Illinois  -161.25614029499388
311  South Carolina State  -161.4993626358946
312  Louisville  -161.64639438109293
313  Southeastern Louisiana  -162.1164839510518
314  Bellarmine  -162.61580026247884
315  Chicago State  -162.69108055029938
316  Sacramento State  -164.53701491997435
317  Bethune-Cookman  -167.91996073872383
318  Jackson State  -170.1318741192531
319  Dartmouth  -171.84851205501127
320  Idaho  -171.89676847183796
321  Coastal Carolina  -173.1076033670263
322  Valparaiso  -174.83582951131757
323  Charleston Southern  -175.0615008954942
324  William & Mary  -179.69796988005328
325  Tennessee Tech  -180.08663235899462
326  Holy Cross  -184.11532968686242
327  Northwestern State  -185.87823836883763
328  Manhattan  -192.74399768214857
329  Alabama A&M  -196.54672446317431
330  Texas A&M-Commerce  -197.7693289673441
331  Army  -201.89929065265255
332  NJIT  -202.0400871893446
333  Southern Indiana  -203.3653679069398
334  DePaul  -206.02144255286657
335  Long Island University  -210.50299083595428
336  Central Arkansas  -212.23952023703146
337  Morgan State  -218.90565039089574
338  Hampton  -219.5693133349548
339  Loyola (MD)  -222.72231426310145
340  Texas-Rio Grande Valley  -224.3403154227883
341  Southeast Missouri State  -230.93907999344606
342  Alabama State  -240.5956417647917
343  Maryland-Eastern Shore  -242.92479965000462
344  Pacific  -242.9369005601975
345  North Carolina A&T  -242.99830661180476
346  Buffalo  -243.2754912540022
347  New Orleans  -246.19034735575042
348  Arkansas-Pine Bluff  -246.60496731623607
349  Saint Francis (PA)  -250.56025092493473
350  Lindenwood  -252.41234045016927
351  Cal Poly  -256.954404927631
352  Siena  -260.66035930841076
353  Virginia Military Institute  -267.3381705965985
354  Prairie View  -268.9615008150545
355  Stonehill  -271.7747763450998
356  Detroit Mercy  -271.97073069692624
357  Incarnate Word  -288.0303423708524
358  Florida A&M  -289.78808065704084
359  IUPUI  -298.82943623841925
360  Houston Christian  -304.81394688168916
361  Coppin State  -332.30369054579796
362  Mississippi Valley State  -398.61106723409716

In [34]:
((eloLeague.ratingDict['Creighton']+hfas['Big East'])-(eloLeague.ratingDict['North Dakota State']))/17

38.620751581108685

In [21]:
(1443-1266)/9

19.666666666666668

In [102]:
for row in df22.itertuples():
    spread=row.team1elopre-row.team2elopre
    spread=spread/9
    spread=round(spread)
    if spread==0:
        
        if row.team1elopre>row.team2elopre:
            spread=1
        else:
            spread=-1
    df22.at[row.Index,'predt1spread']=spread

In [95]:
t=df[df.Year==2023]
off=[]
for t in list(t.OFF.tolist()):
    off.append(float(t))
max(off)

115.5

In [106]:
j=np.mean([16,17,20])
(16*(1-rev))+(rev*j)

17.21666666666667

In [14]:
tr.find_all("td")[0].text

'1949-502'

In [47]:
from bs4 import BeautifulSoup
import requests
sep=""
def remove_tags(html):

    # parse html content
    soup = BeautifulSoup(html, "html.parser")

    for data in soup(['style', 'script']):
        # Remove tags
        data.decompose()

    # return data by retrieving the tag content
    return ' '.join(soup.stripped_strings)
years=[1950,1962,1973,1974]
import pandas as pd
from datetime import datetime,timedelta
html=requests.get("https://academics.smcvt.edu/jtrono/BBallArchive.htm").text
soup=BeautifulSoup(html)
table=soup.find_all("table")[0]
arr=[]
for tr in table.find_all("tr"):
    season=tr.find_all("td")[0].text
    yearz=season[:-1]
    yearz=yearz[2::]
    yearz=yearz.replace("-","_")
    print(season)
    season=season.split("-")[0]
    link='https://academics.smcvt.edu/jtrono/'+tr.find_all("a")[0]['href']
    j=link
    j=j.split("Archive/")[1]
    j=j.split("_dt")[0]
    
    ht=requests.get(link).text

   
    soupz=BeautifulSoup(ht)
    
    body=soupz.find_all("body")[0]
    
    body=str(body)
    body=body.replace("<br/>","")
    body=body.replace("<p>","")
    body=body.splitlines()
    
    for line in body:
        
        if 'html' not in str(line) and line!='' and line!='\xa0' and '<body>' not in str(line) and line!='\xa0\n</body>' and line!='\n':
            
            line=line.replace("leftmargin","")
            line=line.replace("35","")
            line=line.replace('"',"")
            line=line.replace("topmargin","")
            line=line.replace(" = ","")
            line=line.replace("<body","")
            line=line.replace(">\n","")
            line=line.replace("=","")
            date=line.split(" ")[0]
            home=line.split(" ")[1]
            pts=line.split(" ")[2]
            away=line.split(" ")[3]
            opp=line.split(" ")[4]
            venue=line.split(" ")[5]
            if date[0]=='2':
                date=season+sep+"11"+sep+date[1::]
            if date[0]=='3':
                date=season+sep+"12"+sep+date[1::]
            if date[0]=='4':
                date=str(float(season)+1)+sep+"01"+sep+date[1::]
            if date[0]=='5':
                date=str(float(season)+1)+sep+"02"+sep+date[1::]
            if date[0]=='6':
                date=str(float(season)+1)+sep+"03"+sep+date[1::]
            if date[0]=='7':
                date=str(float(season)+1)+sep+"04"+sep+date[1::]
            date=date.replace("F","")
            date=date.replace("f","")
            date=date.replace(".0","")
            date=float(date)
            notes=''
            if len(line.split(" "))>6:
                notes=line.split(" ")[6]
            
            arr.append([date,home,away,pts,opp,venue,season,notes])
    link='https://academics.smcvt.edu/jtrono/'+tr.find_all("a")[1]['href']
    ht=requests.get(link).text

   
    soupz=BeautifulSoup(ht)
    
    body=soupz.find_all("body")[0]
    body=str(body)
    body=body.replace("<br/>","")
    body=body.replace("<p>","")
    body=body.splitlines()
    for line in body:
        
        if 'html' not in str(line) and line!='' and line!='\xa0' and '<body>' not in str(line) and line!='\xa0\n</body>' and season in years:
            
            line=line.replace("leftmargin","")
            line=line.replace("35","")
            line=line.replace('"',"")
            line=line.replace("topmargin","")
            line=line.replace(" = ","")
            line=line.replace("<body","")
            line=line.replace(">\n","")
            line=line.replace("=","")
            date=line.split(" ")[0]
            home=line.split(" ")[1]
            pts=line.split(" ")[2]
            away=line.split(" ")[3]
            opp=line.split(" ")[4]
            venue=line.split(" ")[5]
            if date[0]=='2':
                date=season+sep+"11"+sep+date[1::]
            if date[0]=='3':
                date=season+sep+"12"+sep+date[1::]
            if date[0]=='4':
                date=str(float(season)+1)+sep+"01"+sep+date[1::]
            if date[0]=='5':
                date=str(float(season)+1)+sep+"02"+sep+date[1::]
            if date[0]=='6':
                date=str(float(season)+1)+sep+"03"+sep+date[1::]
            if date[0]=='7':
                date=str(float(season)+1)+sep+"04"+sep+date[1::]
            date=date.replace("F","")
            date=date.replace("f","")
            date=date.replace(".0","")
            date=float(date)
            notes=''
            if len(line.split(" "))>6:
                notes=line.split(" ")[6]
            
            arr.append([date,home,away,pts,opp,venue,season,notes])
    datez=date
    link='https://academics.smcvt.edu/jtrono/NCAA_Archive/'+j+"_nit.htm"
    ht=requests.get(link).text

   
    soupz=BeautifulSoup(ht)
    
    body=soupz.find_all("body")[0]
    body=str(body)
    body=body.replace("<br/>","")
    body=body.replace("<p>","")
    body=body.splitlines()
    
    datez=date
   
    
    for line in body:
        
        if 'html' not in str(line) and line!='' and line!='\xa0' and '<body>' not in str(line)  and line!='\xa0\n</body>':
            line=line.replace("leftmargin","")
            line=line.replace("35","")
            line=line.replace('"',"")
            line=line.replace("<body","")
            line=line.replace("topmargin","")
            line=line.replace(" = ","")
            line=line.replace(">\n","")
            line=line.replace("=","")
            
            home=line.split(" ")[0]
            pts=line.split(" ")[1]
            away=line.split(" ")[2]
            opp=line.split(" ")[3]
            venue=line.split(" ")[4]
            
            
            
            notes=''
            if len(line.split(" "))>5:
                notes=line.split(" ")[5]
            datez+=1
            
            arr.append([datez,home,away,pts,opp,venue,season,notes])
    link='https://academics.smcvt.edu/jtrono/NCAA_Archive/'+j+"_ncaa.htm"
    ht=requests.get(link).text

   
    soupz=BeautifulSoup(ht)
    
    body=soupz.find_all("body")[0]
    body=str(body)
    body=body.replace("<br/>","")
    body=body.replace("<p>","")
    body=body.splitlines()
    datez=date
    
    for line in body:
        
        if 'html' not in str(line) and line!='' and line!='\xa0' and '<body>' not in str(line)  and line!='\xa0\n</body>':
            
            line=line.replace("leftmargin","")
            line=line.replace("35","")
            line=line.replace('"',"")
            line=line.replace("<body","")
            line=line.replace("topmargin","")
            line=line.replace(" = ","")
            line=line.replace(">\n","")
            line=line.replace("=","")
            line=line.replace("5V","5 V")
            home=line.split(" ")[0]
            pts=line.split(" ")[1]
            away=line.split(" ")[2]
            opp=line.split(" ")[3]
            venue=line.split(" ")[4]
            
            
            
            notes=''
            if len(line.split(" "))>5:
                notes=line.split(" ")[5]
            datez+=1
            
            arr.append([datez,home,away,pts,opp,venue,season,notes])
    
df=pd.DataFrame(arr,columns=['date','home','away','homep','awayp','venue','season','notes'])
df=df.astype({"season":float})

1999-20001

IndexError: list index out of range

In [50]:
body

['<body leftmargin="35" topmargin="35">',
 '211 CON 68 IOW 70 N',
 '211 DUK 79 STA 80 N',
 '212 CON 71 DUK 66 N',
 '212 IOW 58 STA 72 N',
 '212 MSO 55 WIS 66 N',
 '212 PRI 43 SYR 60 A',
 '213 AFU 70 STL 78 A',
 '213 ALA 73 NIO 74 N',
 '213 MSO 51 PRI 48 N',
 '213 SYR 68 WIS 49 H',
 '214 AFU 60 NIO 70 N',
 '214 ALA 70 STL 78 A',
 '216 ARI 88 KSU 69 H',
 '216 ARS 43 UTA 76 A',
 '216 DAV 79 SIE 89 A',
 '216 FOR 69 TLN 80 A',
 '216 HOF 55 NMS 69 A',
 '216 NOT 59 OSU 57 A',
 '217 KEN 67 PEN 50 H',
 '217 MAR 71 SFR 61 H',
 '218 CAL 91 TCU 83 N',
 '218 GEW 92 HOU 93 N',
 '218 NOT 107 SIE 96 H',
 '219 ALA 81 WEB 61 H',
 '219 ALB 59 AUB 65 A',
 '219 ANY 56 CCS 70 A',
 '219 APP 75 OKS 87 A',
 '219 ARI 84 NMS 60 H',
 '219 BGU 60 JSU 43 N',
 '219 BOU 65 NIL 78 N',
 '219 BRA 68 SAL 59 H',
 '219 BUC 79 MAI 69 N',
 '219 BUF 103 NIA 105 H',
 '219 CAL 95 HOU 70 N',
 '219 CFL 54 MFL 81 H',
 '219 CLE 77 ETS 47 H',
 '219 CLG 65 DAR 68 N',
 '219 CNO 59 USC 73 A',
 '219 COL 67 STM 56 H',
 '219 CON 89 UVM 52 H',
 '219 COP 58 MBC 72 H',
 '219 DAY 70 NEM 57 A',
 '219 DRA 48 IOS 44 H',
 '219 DSU 47 MRS 72 A',
 '219 ECA 53 ROB 58 A',
 '219 ELN 66 VIR 97 A',
 '219 FLI 75 RAD 73 H',
 '219 FLO 96 FSU 61 H',
 '219 FRE 74 GES 64 A',
 '219 FRF 71 KAN 97 A',
 '219 GEM 74 TOL 82 A',
 '219 GEO 63 NCS 67 A',
 '219 GET 91 MER 79 H',
 '219 GEW 80 INS 74 N',
 '219 GTN 81 MGS 68 H',
 '219 HAW 84 UTM 68 H',
 '219 HRT 96 SAC 93 A',
 '219 IDA 71 ORA 70 N',
 '219 ILC 89 NFK 69 H',
 '219 ILL 76 WIL 53 H',
 '219 IND 68 TET 60 A',
 '219 JVS 59 MIS 74 A',
 '219 KEN 56 UTA 48 H',
 '219 LEH 69 YAL 56 H',
 '219 LOM 74 TOW 67 N',
 '219 LOU 74 VIC 79 A',
 '219 MAR 78 TLN 70 H',
 '219 MCN 52 WIC 72 A',
 '219 MIC 82 OAK 62 H',
 '219 MOR 71 SFP 90 A',
 '219 MOS 76 OKL 91 N',
 '219 MSO 75 NCA 69 H',
 '219 MVS 73 UNL 99 A',
 '219 NAV 64 RIC 70 A',
 '219 NOE 61 STB 65 A',
 '219 NWL 54 WYO 92 A',
 '219 PIT 69 WRI 52 H',
 '219 QUI 55 SET 91 A',
 '219 SCA 76 WOF 62 H',
 '219 SEM 93 WCA 69 H',
 '219 STJ 60 SMF 68 N',
 '219 UCI 62 SDI 75 H',
 '219 UNR 80 WSS 55 H',
 '220 AAM 67 MSS 89 A',
 '220 AME 68 NCT 58 H',
 '220 ANY 69 CLG 79 N',
 '220 APP 68 ORA 78 N',
 '220 ARM 42 DUK 100 A',
 '220 ASU 79 POS 57 H',
 '220 BAL 50 WIS 60 A',
 '220 BAY 68 EWA 61 H',
 '220 BEL 85 EKY 69 H',
 '220 BET 86 FAM 73 N',
 '220 BOC 89 NEH 65 H',
 '220 BOI 53 NAR 60 A',
 '220 BOU 50 RAD 70 N',
 '220 BUC 54 MRS 48 A',
 '220 CAM 45 WAK 87 A',
 '220 CAN 77 MSH 85 N',
 '220 CCA 84 JAC 88 H',
 '220 CCS 63 DAR 61 H',
 '220 CEN 52 NIC 55 A',
 '220 CHS 43 MRQ 62 A',
 '220 CIN 94 YOU 67 H',
 '220 CLM 52 LAF 59 H',
 '220 CLS 82 OHI 87 A',
 '220 CMI 68 WML 69 H',
 '220 COP 57 TOW 61 H',
 '220 CSB 49 STA 62 H',
 '220 CSO 71 STP 84 A',
 '220 DAY 65 SMF 63 N',
 '220 DEL 86 DUQ 81 N',
 '220 DEP 105 HOW 61 H',
 '220 DET 80 WMI 66 H',
 '220 DSU 61 MAI 69 N',
 '220 EVA 74 IUP 61 H',
 '220 FLI 92 NIL 98 H',
 '220 GEW 54 OKL 73 N',
 '220 GRA 37 LSU 112 A',
 '220 GSO 83 TNT 81 H',
 '220 HOL 54 PRO 43 A',
 '220 IDA 50 OKS 81 A',
 '220 INS 81 MOS 64 N',
 '220 ION 77 MAS 85 H',
 '220 JAM 77 NCG 64 H',
 '220 LAM 78 TES 62 H',
 '220 LAS 73 MSM 64 H',
 '220 LBS 74 PEP 76 A',
 '220 LLA 48 TEX 82 A',
 '220 LOM 77 MBC 71 N',
 '220 LOT 86 NTS 68 A',
 '220 MDE 52 XAV 96 A',
 '220 MIN 90 TEA 62 H',
 '220 MOM 35 PRI 37 A',
 '220 NCW 38 WGR 46 A',
 '220 NEM 62 STJ 70 H',
 '220 NEO 52 SWM 58 A',
 '220 PAC 65 CSC 73 A',
 '220 RID 49 RUT 74 H',
 '220 SEL 71 SOU 70 H',
 '220 SFN 90 STO 73 N',
 '220 SIL 82 WKE 67 H',
 '220 UTC 64 OLD 77 A',
 '221 ALC 58 SMS 88 A ',
 '221 APB 44 AUB 100 A',
 '221 BGU 53 HAW 49 A',
 '221 BUF 60 COR 71 H',
 '221 CAL 58 OKL 75 N',
 '221 CAN 74 DEL 81 N',
 '221 CIT 51 SCA 68 A',
 '221 CLE 74 WOF 79 H',
 '221 DUQ 63 SFN 64 N',
 '221 EIL 79 IOW 95 A',
 '221 FRF 68 UNL 92 A',
 '221 GON 76 MON 61 A',
 '221 ILS 72 OAK 67 A',
 '221 INS 89 TCU 77 N',
 '221 JSU 63 UTM 48 A',
 '221 KSU 76 NWL 71 H',
 '221 LOI 78 SFA 58 H',
 '221 MOH 47 TEM 60 A',
 '221 MSH 81 STO 52 N',
 '221 MSO 85 WCA 68 H',
 '221 NCA 72 STL 84 A',
 '221 NOT 73 SFP 60 H',
 '221 PRA 59 TLN 88 A',
 '221 RHO 66 TUL 91 H',
 '221 UNR 73 SFR 78 H',
 '221 UVM 69 YAL 72 A',
 '221 VIR 98 VMI 57 H',
 '222 ALA 91 TNT 72 H',
 '222 ARK 102 TEA 95 H',
 '222 ARS 64 AUS 78 H',
 '222 BOU 79 JAM 91 A',
 '222 BRA 62 ILL 72 H',
 '222 BRO 63 PRO 73 A',
 '222 CAS 65 SUS 58 H',
 '222 CON 79 MAS 65 H',
 '222 CRE 70 MVS 62 H',
 '222 CSO 63 RUT 77 A',
 '222 ELN 56 TEN 95 A',
 '222 EMI 73 HMP 66 A',
 '222 EWA 67 CRP 71 A',
 '222 FDU 45 MAR 104 A',
 '222 FLA 79 SYR 105 A',
 '222 FLO 60 UTS 58 N',
 '222 FOR 77 RCH 74 A',
 '222 FUR 60 STE 63 A',
 '222 GRA 55 WSS 83 A',
 '222 GTN 71 MEM 55 N',
 '222 HRT 75 SIE 82 A',
 '222 LEH 56 PSU 69 A',
 '222 LSU 75 SEL 36 H',
 '222 MSU 78 TOL 33 H',
 '222 NAV 55 WAK 90 H',
 '222 ORA 105 PAN 104 A',
 '222 STM 60 WAS 73 H',
 '222 UNC 82 USC 65 N',
 '222 VIT 59 W&amp;M 57 A',
 '223 AAM 53 ALB 82 A',
 '223 AKR 68 WYO 84 A',
 '223 ALS 59 SAL 77 A',
 '223 ANY 52 MDE 59 A',
 '223 APB 67 MSS 107 A',
 '223 ARL 64 OKS 93 H',
 '223 ARM 66 COR 67 A',
 '223 BEL 55 VAN 72 A',
 '223 BOC 91 UVM 63 H',
 '223 BOI 64 IDS 56 H',
 '223 BUC 65 ROB 62 H',
 '223 BUF 81 NEH 78 A',
 '223 BUT 54 NCW 56 A',
 '223 CAN 59 CLG 76 A',
 '223 CCS 60 LAS 70 A',
 '223 CFL 54 WIN 78 A',
 '223 CHS 47 NOR 55 A',
 '223 CIT 60 CCA 68 H',
 '223 CLM 52 DUK 99 H',
 '223 CMI 76 WRI 48 H',
 '223 COP 61 ION 89 A',
 '223 CSL 72 NAR 76 H',
 '223 DEL 80 GEM 78 H',
 '223 DET 62 MIC 66 A',
 '223 DSU 51 DRA 81 A',
 '223 DUQ 87 NOE 77 H',
 '223 ECA 68 WGR 54 H',
 '223 EIL 78 NEB 81 A',
 '223 EVA 52 WKE 47 A',
 '223 FAM 87 TRO 86 H',
 '223 FLO 68 PUR 79 N',
 '223 FRE 68 PEP 70 H',
 '223 FRF 57 UCL 76 A',
 '223 FSU 81 NFK 70 H',
 '223 FUL 77 SDI 81 H',
 '223 GSO 93 JAC 85 A',
 '223 GTN 79 UNC 85 N',
 '223 HAR 80 HOL 69 A',
 '223 ILC 58 ORE 65 H',
 '223 KTS 78 YOU 56 H',
 '223 LAF 70 VIL 74 A',
 '223 LAM 56 SMU 67 A',
 '223 LMN 67 SMF 60 A',
 '223 LOC 46 PAC 78 A',
 '223 LOI 70 WMI 69 A',
 '223 LOT 53 UTE 72 A',
 '223 MCN 59 MIS 86 A',
 '223 MEM 65 USC 92 N',
 '223 MFL 67 MOM 46 H',
 '223 MGS 59 TOW 67 H',
 '223 MKC 65 NIO 70 A',
 '223 MRQ 57 MIN 66 A',
 '223 NCC 66 STB 56 H',
 '223 NCS 75 OLD 61 H',
 '223 NEM 98 SFA 61 H',
 '223 POR 51 POS 61 A',
 '223 RAD 80 STP 68 A',
 '223 RID 75 SAC 71 H',
 '223 STJ 84 STO 43 A',
 '223 WIS 69 WML 49 A',
 '223 WVI 72 WOF 54 H',
 '224 ARI 76 NOT 60 N',
 '224 BAL 79 SIL 74 H',
 '224 BAY 92 NCT 70 H',
 '224 BET 90 FLA 60 H',
 '224 BYU 92 SUS 64 H',
 '224 CSB 41 SJS 62 A',
 '224 FLO 72 GTN 62 N',
 '224 GES 73 TUL 100 A',
 '224 ILS 70 WIL 72 H',
 '224 IUP 59 MOH 75 H',
 '224 JVS 71 MVS 63 H',
 '224 KEN 61 MAR 58 N',
 '224 LOM 67 PSU 82 A',
 '224 NAV 52 RCH 58 H',
 '224 NCA 63 TEN 79 A',
 '224 NEO 61 NIL 55 H',
 '224 NIC 61 TLN 86 A',
 '224 PIT 84 SFP 56 H',
 '224 TET 96 CRP 83 A',
 '224 UNC 90 PUR 75 N',
 '224 UNR 79 UNL 98 A',
 '224 USC 50 UTS 52 N',
 '225 ASU 71 TEX 88 N',
 '225 COL 65 YAL 50 H',
 '225 FUR 61 MIS 75 H',
 '225 GEO 78 KAN 88 N',
 '225 GET 100 GRA 88 N',
 '225 JSU 58 UTE 74 A',
 '225 LOU 79 XAV 81 N',
 '225 MSU 82 PRO 58 N',
 '225 SCA 73 VIR 71 N',
 '226 ALA 94 CEN 72 H',
 '226 ALC 86 UTC 80 N',
 '226 ANY 73 ELN 69 H',
 '226 ARI 63 KEN 51 N',
 '226 ARK 71 MER 54 N',
 '226 CAS 65 UNR 57 A',
 '226 CFL 48 CLE 54 N',
 '226 CIN 91 CLS 56 N',
 '226 DAR 57 NEH 75 A',
 '226 DAY 73 MSM 51 H',
 '226 DEN 72 YAL 69 H',
 '226 DEP 64 TEX 68 N',
 '226 DSU 68 VIC 79 A',
 '226 EVA 48 NOR 26 N',
 '226 EWA 47 GON 81 A',
 '226 FLI 75 FRE 90 N',
 '226 GEO 62 LOU 85 N',
 '226 GET 82 WAS 65 N',
 '226 GEW 88 SFL 76 H',
 '226 HAW 89 W&amp;M 63 H',
 '226 HGH 62 LAS 85 N',
 '226 IND 67 TEM 59 N',
 '226 KAN 111 XAV 70 N',
 '226 LIU 47 TEN 86 A',
 '226 LSU 87 OAK 80 N',
 '226 MAR 72 NOT 67 N',
 '226 MSS 59 VAL 68 N',
 '226 MSU 59 SCA 56 N',
 '226 MUR 87 RUT 83 N',
 '226 NCS 79 STE 45 H',
 '226 NEB 48 SMS 75 N',
 '226 NEM 71 SAM 61 H',
 '226 OHI 68 PRI 60 N',
 '226 OKL 68 SDI 61 H',
 '226 OLD 64 WGR 76 N',
 '226 ORA 44 VMI 56 N',
 '226 ORS 92 SCS 57 N',
 '226 PRO 64 VIR 80 N',
 '226 RHO 70 CSC 79 N',
 '226 SWM 68 TOL 59 N',
 '226 UCI 69 SWT 46 N',
 '227 AFU 78 NAV 93 A',
 '227 AKR 89 ILS 79 H',
 '227 ALA 85 LAS 70 H',
 '227 ALB 84 GSO 77 H',
 '227 ALC 58 NEM 85 A',
 '227 AME 57 DEL 58 A',
 '227 APB 45 TUL 97 A',
 '227 ARK 71 IOS 77 N',
 '227 ARL 84 BGU 91 A',
 '227 ASU 64 VIR 70 N',
 '227 AUB 58 STA 67 N',
 '227 AUS 70 BEL 71 H',
 '227 BAL 64 INS 55 H',
 '227 BAY 78 MCN 55 H',
 '227 BOC 57 PSU 85 A',
 '227 BOI 70 LOC 50 H',
 '227 BRA 45 LOI 52 A',
 '227 BUC 42 RID 54 H',
 '227 BUF 46 CAN 78 A',
 '227 CAL 76 PAC 72 H',
 '227 CAM 60 NCW 73 N',
 '227 CCA 56 FDU 68 A',
 '227 CEN 56 HGH 63 N',
 '227 CFL 57 OLD 61 N',
 '227 CHS 65 EMI 62 H',
 '227 CIN 88 CSC 67 N',
 '227 CIT 51 WIN 71 A',
 '227 CLE 47 WGR 64 N',
 '227 CLS 69 RHO 73 N',
 '227 CMI 78 ILC 75 A',
 '227 COP 66 GEM 69 A',
 '227 COR 64 SAC 65 A',
 '227 CRE 85 IOW 76 H',
 '227 CSL 69 POS 81 H',
 '227 CSU 54 STB 64 N',
 '227 DEP 58 SCA 46 N',
 '227 DET 79 GES 65 H',
 '227 DRA 44 LAM 62 A',
 '227 DRE 65 SET 69 A',
 '227 DUK 81 USC 68 N',
 '227 ECA 64 LLA 70 A',
 '227 ETS 68 JAM 88 A',
 '227 EVA 71 SMS 77 N',
 '227 FAM 58 JVS 66 A',
 '227 FLI 62 TOL 75 N',
 '227 FOR 87 HOL 73 A',
 '227 FRE 100 SWM 90 N',
 '227 FSU 83 JAC 59 H',
 '227 FUL 64 MOS 88 A',
 '227 FUR 77 SCS 58 H',
 '227 GEO 113 GRA 74 N',
 '227 GET 70 KAN 84 N',
 '227 HAR 72 LEH 62 A',
 '227 HAW 78 VMI 61 H',
 '227 HOF 68 STO 53 H',
 '227 HOU 80 SMU 94 H',
 '227 IDA 65 WSS 70 A',
 '227 ION 73 UCL 105 A',
 '227 IUP 49 PIT 68 A',
 '227 LMN 78 TCU 98 A',
 '227 LOM 66 SFP 53 H',
 '227 LOT 68 STL 60 A',
 '227 LSU 103 WYO 86 N',
 '227 MDE 60 WAK 85 A',
 '227 MIC 93 WMI 78 H',
 '227 MIN 86 MOR 67 H',
 '227 MIS 77 ORS 58 N',
 '227 MKC 68 WML 70 H',
 '227 MON 61 SEM 66 A',
 '227 MRQ 74 WOF 59 H',
 '227 MRS 55 MDT 76 A',
 '227 MSO 91 MGS 50 H',
 '227 MSS 69 RUT 74 N',
 '227 MSU 74 TEX 81 N',
 '227 MUR 78 VAL 58 N',
 '227 NAR 46 SJS 49 H',
 '227 NCA 51 TNT 85 A',
 '227 NCC 80 PEP 74 A',
 '227 NCG 70 NOE 56 H',
 '227 NCT 94 TAM 77 A',
 '227 NEB 61 NOR 52 N',
 '227 NEO 80 NFK 60 H',
 '227 NIO 68 TNS 60 H',
 '227 NTS 65 OKS 103 A',
 '227 NWL 79 TRO 93 A',
 '227 ORA 76 W&amp;M 82 N',
 '227 PAN 63 WRI 60 H',
 '227 POR 69 RIC 55 H',
 '227 PRA 69 WIC 93 A',
 '227 ROB 63 WVI 66 A',
 '227 SDI 65 SWT 72 N',
 '227 SJP 81 WKE 55 H',
 '227 SMF 91 TEA 63 H',
 '227 TSA 95 CRP 80 H',
 '227 UCI 68 OKL 80 A',
 '227 UTC 68 SAM 78 N',
 '227 UTE 74 TET 75 H',
 '227 UTM 64 VAN 87 A',
 '227 WAS 65 XAV 81 N',
 '228 ANY 77 NIA 84 H',
 '228 ARK 79 CSC 60 N',
 '228 BET 71 SIE 82 A',
 '228 BRO 82 MAI 92 A',
 '228 BUT 82 MSM 55 H',
 '228 CFL 70 SCS 71 N',
 '228 CIN 75 IOS 60 N',
 '228 CLE 35 ORS 53 N',
 '228 COL 78 VIC 82 A',
 '228 CSB 67 SFR 78 A',
 '228 CSU 57 PEP 67 A',
 '228 EVA 71 VAL 66 N',
 '228 FRE 85 LSU 95 N',
 '228 FUR 68 OLD 65 H',
 '228 GTN 69 UNL 85 A',
 '228 LBS 78 SIL 77 H',
 '228 MER 59 RHO 65 N',
 '228 MIS 57 WGR 53 N',
 '228 MSS 70 NOR 65 N',
 '228 MUR 62 SMS 65 N',
 '228 NCC 66 STB 75 N',
 '228 NEB 62 RUT 81 N',
 '228 OAK 65 TOL 74 N',
 '228 SWM 83 WYO 75 N',
 '229 AAM 66 MEM 97 A',
 '229 AME 74 LOM 66 A',
 '229 APB 62 SMU 86 A',
 '229 ARS 80 JSU 85 H',
 '229 BOC 104 HRT 62 H',
 '229 CAL 68 HOF 61 H',
 '229 CLG 49 SYR 83 A',
 '229 CLM 38 QUI 49 A',
 '229 CON 89 COP 44 H',
 '229 COR 54 LAF 65 A',
 '229 DAY 68 KEN 66 N',
 '229 DEL 49 RID 66 H',
 '229 ELN 66 NCG 77 A',
 '229 ETS 55 VAN 70 A',
 '229 EWA 66 IDA 53 H',
 '229 FAM 50 SEL 61 A',
 '229 FDU 52 VIL 62 A',
 '229 FLO 131 NEH 72 H',
 '229 FRF 68 FOR 80 N',
 '229 FSU 58 TEM 69 H',
 '229 GON 73 WSS 63 N',
 '229 GSO 87 JVS 84 A',
 '229 JAM 70 LIB 79 A',
 '229 KSU 86 TSA 75 H',
 '229 MON 75 SUS 85 A',
 '229 MSH 65 MAS 55 A',
 '229 NCA 61 VIT 83 H',
 '229 NTS 91 TAM 88 H',
 '229 OSU 74 UVM 51 H',
 '229 PAC 65 POS 69 H',
 '229 SFL 90 TEN 102 A',
 '229 SJP 73 TUL 79 H',
 '229 STO 45 UTA 74 A',
 '229 STP 65 SET 79 A',
 '229 WMI 78 YOU 71 H',
 '230 AKR 75 WKE 62 H',
 '230 ALC 68 ARL 75 A',
 '230 BET 75 MFL 102 A',
 '230 BOU 70 PRO 85 A',
 '230 BUF 75 MAN 71 H',
 '230 CAM 66 HGH 90 H',
 '230 CNO 69 FRE 66 A',
 '230 CSO 52 SCA 72 A',
 '230 DAR 82 HOL 66 H',
 '230 DEN 68 LLA 81 H',
 '230 DET 72 MVS 50 H',
 '230 DRE 69 MOM 81 A',
 '230 DUK 72 ILL 69 N',
 '230 DUQ 94 WVI 80 A',
 '230 EKY 72 LOI 60 H',
 '230 FUL 62 STM 89 A',
 '230 GEW 77 OHI 95 A',
 '230 HAR 82 MRS 87 H',
 '230 ILC 70 IUP 65 H',
 '230 IND 81 NOT 64 H',
 '230 IOW 65 MAR 83 A',
 '230 LAM 43 SFR 69 A',
 '230 LEH 68 WAG 71 H',
 '230 LIU 44 TOW 62 A',
 '230 MIN 74 VIR 62 H',
 '230 MKC 60 TEA 64 A',
 '230 NAR 64 UTS 52 H',
 '230 NEO 51 SMS 61 A',
 '230 NMS 66 SDS 49 H',
 '230 NWL 61 TCU 97 A',
 '230 ORE 74 POR 62 H',
 '230 SAL 64 WRI 66 A',
 '230 TLN 85 VIC 44 A',
 '230 WAK 67 WIS 48 H',
 '301 ALB 103 PAN 82 H',
 '301 ALS 65 MIS 77 H',
 '301 ARI 86 BYU 62 H',
 '301 ASU 72 CSU 57 H',
 '301 AUB 65 BEL 56 H',
 '301 BGU 80 ILS 60 H',
 '301 BOI 55 GON 71 A',
 '301 BRA 79 WIL 75 A',
 '301 BRO 70 RHO 77 H',
 '301 BUC 68 SFP 63 A',
 '301 BUT 77 INS 55 H',
 '301 CCA 76 NCG 78 H',
 '301 CEN 73 SOU 69 H',
 '301 CHS 57 DEP 104 A',
 '301 CLE 75 PSU 85 A',
 '301 COP 52 STJ 75 A',
 '301 CRE 58 GES 54 A',
 '301 CSB 73 USC 94 A',
 '301 DAV 55 NCC 74 A',
 '301 DAY 83 MBC 60 H',
 '301 DRA 64 STO 57 A',
 '301 DSU 72 MDE 74 H',
 '301 ECA 59 OLD 57 H',
 '301 ELN 85 NCT 73 H',
 '301 FSU 60 NOR 46 A',
 '301 GEO 84 TNS 78 H',
 '301 GET 77 MIC 80 H',
 '301 HOW 55 LAF 64 H',
 '301 IDA 49 ORS 66 A',
 '301 JAC 69 TRO 77 A',
 '301 JAM 58 RCH 68 A',
 '301 JSU 74 MEM 79 A',
 '301 KSU 69 STL 68 H',
 '301 MGS 39 UCL 100 A',
 '301 MOH 59 TEN 78 A',
 '301 MSO 63 SMU 60 H',
 '301 MSS 70 SEL 56 H',
 '301 MSU 86 UNC 76 A',
 '301 NCA 86 WCA 94 A',
 '301 NCS 61 PUR 59 A',
 '301 NCW 76 W&amp;M 66 H',
 '301 NEM 69 UTE 84 A',
 '301 NFK 78 PIT 102 A',
 '301 NTS 70 TET 100 A',
 '301 OKS 68 WIC 56 H',
 '301 SFA 65 TAM 70 A',
 '301 SJS 42 CSC 50 N',
 '301 TSA 59 TUL 76 A',
 '301 UCI 69 LOC 59 A',
 '301 UTA 72 WEB 84 A',
 '302 ALA 67 SMF 79 H',
 '302 ANY 61 UVM 72 H',
 '302 AUS 58 MUR 68 H',
 '302 BOU 51 MAS 70 A',
 '302 CAM 56 ELN 59 H',
 '302 CAN 64 NIA 74 A',
 '302 CCS 59 YAL 45 N',
 '302 CLG 56 DEL 65 A',
 '302 EIL 76 MDT 72 A',
 '302 ETS 68 VIT 53 H',
 '302 FRF 97 ION 81 H',
 '302 GSO 72 WIN 80 H',
 '302 HRT 85 QUI 76 H',
 '302 ILC 57 NIL 63 A',
 '302 KAN 76 PEP 61 H',
 '302 LIB 82 TOW 74 H',
 '302 MAN 90 STP 72 A',
 '302 NAV 67 NOE 57 A',
 '302 NCW 68 WAS 59 H',
 '302 NIO 48 WGR 47 H',
 '302 NWL 49 RIC 52 A',
 '302 ORA 61 VAL 55 H',
 '302 RID 79 SIE 91 H',
 '302 SEM 84 TNT 79 A',
 '302 SUS 72 YOU 76 A',
 '303 APP 68 TOL 65 N',
 '303 ARM 56 PEN 71 A',
 '303 BAL 73 COR 65 H',
 '303 CAS 74 CIT 61 N',
 '303 CCS 64 HRT 61 N',
 '303 CFL 55 SFL 79 H',
 '303 CHA 54 UNC 72 N',
 '303 CLM 61 MOM 45 N',
 '303 EMI 68 LOI 64 N',
 '303 HOW 45 MSU 75 A',
 '303 IOS 106 MVS 64 H',
 '303 IOW 73 TES 51 H',
 '303 IUP 50 SFR 81 A',
 '303 LBS 76 SJP 79 N',
 '303 LOM 60 MRS 76 A',
 '303 MDE 55 SMU 93 N',
 '303 MOS 77 SAM 80 N',
 '303 MRQ 76 WMI 69 H',
 '303 NEB 72 WCA 74 H',
 '303 ORE 91 POS 87 A',
 '303 QUI 87 YAL 69 N',
 '303 RCH 60 SYR 74 A',
 '303 RHO 43 WIS 66 A',
 '303 SWM 71 WIL 49 H',
 '303 TRO 61 WML 80 N',
 '303 UNL 76 PRI 66 N',
 '304 AKR 66 PUR 75 A',
 '304 ALB 73 TUL 88 A',
 '304 AME 79 WAG 72 H',
 '304 ANY 75 LIB 59 A',
 '304 APP 51 MRQ 57 A',
 '304 ARI 88 TEX 81 A',
 '304 ARK 98 JSU 60 H',
 '304 ARL 60 MKC 86 A',
 '304 ARS 82 TCU 90 H',
 '304 ASU 74 MGS 56 H',
 '304 AUS 82 INS 68 H',
 '304 BAL 71 WML 58 H',
 '304 BAY 76 CRE 77 H',
 '304 BEL 68 HOF 78 H',
 '304 BGU 91 CLS 86 A',
 '304 BOC 67 MAS 74 H',
 '304 BOI 71 WEB 46 H',
 '304 BRA 89 GES 73 H',
 '304 BRO 98 NEH 64 H',
 '304 BUC 68 MSM 66 A',
 '304 BUT 73 EVA 45 H',
 '304 BYU 81 DEN 58 A',
 '304 CAL 62 COL 80 A',
 '304 CAS 35 SFR 70 A',
 '304 CCA 66 GEM 72 H',
 '304 CEN 57 TLN 73 A',
 '304 CHA 44 PRI 62 N',
 '304 CIN 75 GON 68 N',
 '304 CIT 59 IUP 69 N',
 '304 CLM 81 WCA 83 N',
 '304 CMI 63 ILS 72 A',
 '304 CON 98 NCA 68 H',
 '304 COP 68 SCS 53 A',
 '304 COR 71 TRO 74 N',
 '304 CSC 78 SIL 77 A',
 '304 CSL 97 CNO 88 H',
 '304 CSO 51 CLE 69 A',
 '304 CSU 83 ORS 78 A',
 '304 DAY 76 WIN 49 H',
 '304 DEL 64 DSU 51 A',
 '304 DEP 83 DUK 84 A',
 '304 DET 68 MUR 77 A',
 '304 DRE 63 FDU 62 H',
 '304 DUQ 55 OSU 87 A',
 '304 ECA 57 JAM 60 A',
 '304 EIL 97 TNT 107 A',
 '304 EKY 73 MOR 72 A',
 '304 EMI 57 MSU 74 A',
 '304 ETS 55 XAV 80 A',
 '304 EWA 62 CRP 71 H',
 '304 FLA 73 MER 92 H',
 '304 FLO 96 FAM 44 H',
 '304 FOR 94 LIU 69 H',
 '304 FRE 74 NAR 68 H',
 '304 FUL 82 LOC 71 H',
 '304 FUR 68 SCA 75 A',
 '304 GEW 72 SET 63 N',
 '304 HAR 83 NAV 85 H',
 '304 HAW 77 PRA 59 H',
 '304 HMP 65 W&amp;M 67 A',
 '304 HOU 84 TES 80 N',
 '304 HOW 53 LOI 77 N',
 '304 ILC 69 SFP 65 H',
 '304 ILL 67 MAR 69 A',
 '304 IND 83 KEN 75 N',
 '304 IOS 84 SAM 69 H',
 '304 IOW 86 OHI 66 H',
 '304 JAC 73 SMF 71 H',
 '304 JVS 57 STE 52 A',
 '304 KSU 62 NEO 47 H',
 '304 KTS 72 YOU 53 N',
 '304 LAS 62 NOR 44 A',
 '304 LBS 62 RCH 73 N',
 '304 LEH 59 UVM 71 A',
 '304 LLA 54 TET 67 A',
 '304 LOT 67 LOU 79 A',
 '304 MAI 76 SAC 70 A',
 '304 MBC 48 RUT 65 A',
 '304 MCN 84 WVI 93 A',
 '304 MDE 70 WIL 72 N',
 '304 MEM 82 MFL 72 H',
 '304 MIN 57 VAL 44 H',
 '304 MIS 73 OKL 81 A',
 '304 MOH 58 WGR 67 A',
 '304 MOM 47 NEB 63 A',
 '304 MSH 90 RAD 77 H',
 '304 MSS 81 WKE 69 H',
 '304 MVS 58 MOS 92 N',
 '304 NCC 52 VIT 60 A',
 '304 NCS 64 PRO 60 H',
 '304 NIO 61 WRI 35 A',
 '304 NMS 68 UTE 43 H',
 '304 NOT 85 VAN 87 H',
 '304 OAK 78 SUS 65 H',
 '304 OKS 87 TSA 66 H',
 '304 OLD 70 WAS 78 H',
 '304 PAC 74 TNS 70 N',
 '304 PEN 56 PSU 59 H',
 '304 PEP 74 WIC 69 A',
 '304 PIT 50 TEN 76 H',
 '304 POR 47 SJS 39 H',
 '304 RIC 71 SFA 77 A',
 '304 SAL 47 SMS 62 H',
 '304 SDI 73 SDS 45 H',
 '304 SJP 60 SYR 82 A',
 '304 SMU 70 SWM 60 A',
 '304 SOU 77 WSS 80 A',
 '304 STB 80 USC 67 H',
 '304 STJ 85 VIR 63 H',
 '304 STL 76 SWT 52 H',
 '304 STP 91 SIE 99 A',
 '304 TEM 72 WAK 77 A',
 '304 TOL 71 WMI 59 N',
 '304 UCI 67 STM 59 H',
 '304 UNC 102 UNL 78 N',
 '304 UNR 64 WYO 83 A',
 '304 UTC 61 MIC 72 A',
 '305 AUB 55 FSU 54 H',
 '305 CAN 89 FRF 86 H',
 '305 GEW 74 MAR 69 N',
 '305 HAW 72 PAC 42 H',
 '305 HOU 65 OHI 73 N',
 '305 IDA 70 MON 68 N',
 '305 ILL 72 SET 61 N',
 '305 ION 85 MRS 65 H',
 '305 KAN 97 MDT 77 H',
 '305 LOM 71 RID 57 H',
 '305 MAN 85 NIA 83 H',
 '305 PRA 81 TNS 76 N',
 '305 TAM 75 VIC 59 H',
 '306 ARM 42 YAL 48 A',
 '306 ARS 79 JSU 68 A',
 '306 BEL 80 ETS 88 H',
 '306 CAM 39 SMF 71 A',
 '306 CLG 58 LIU 62 H',
 '306 CNO 72 ORA 59 H',
 '306 COP 76 NCT 73 A',
 '306 CRE 91 GRA 52 H',
 '306 DEN 57 NAV 72 A',
 '306 DEP 69 MOM 62 H',
 '306 FUR 82 GEO 86 H',
 '306 GSO 79 TNT 111 A',
 '306 GTN 78 HOW 37 H',
 '306 LAF 57 TOW 59 H',
 '306 LLA 74 NTS 59 A',
 '306 MAI 81 TRO 80 H',
 '306 MAS 52 VIL 51 H',
 '306 MER 74 STE 77 H',
 '306 MOS 99 CRP 88 H',
 '306 NEH 66 NOE 78 A',
 '306 NFK 74 NCG 80 A',
 '306 TCU 100 TSA 80 H',
 '306 UTE 97 PAN 56 H',
 '306 VMI 46 VIT 65 H',
 '307 AKR 79 CLS 72 A',
 '307 ALB 91 SAL 86 H',
 '307 AME 63 MRS 72 A',
 '307 ANY 46 SYR 86 A',
 '307 APB 62 MVS 82 A',
 '307 ARI 69 CON 78 N',
 '307 ARK 52 OKL 66 H',
 '307 ASU 67 BYU 78 A',
 '307 BAY 64 SAM 81 H',
 '307 BGU 69 OAK 57 A',
 '307 BOC 50 HOL 43 N',
 '307 BOU 58 HAR 57 H',
 '307 BUC 48 PRI 50 H',
 '307 BUF 67 UNC 91 H',
 '307 BUT 60 EIL 69 A',
 '307 CAL 67 SJS 52 H',
 '307 CAN 67 DUQ 77 A',
 '307 CHS 69 ILC 61 H',
 '307 CSO 59 FUR 58 H',
 '307 DAY 63 MRQ 60 A',
 '307 FUL 63 PEP 96 A',
 '307 GES 79 JVS 81 A',
 '307 HOF 46 VAN 74 A',
 '307 HOU 84 RIC 71 H',
 '307 ILS 75 PUR 86 H',
 '307 IND 73 MSO 68 A',
 '307 INS 53 WIL 51 H',
 '307 IOW 67 NIO 59 A',
 '307 KAN 54 MSU 66 N',
 '307 KEN 86 NCA 41 H',
 '307 LAS 83 PEN 76 H',
 '307 LIB 64 RCH 61 A',
 '307 LMN 77 SMS 63 H',
 '307 MAR 76 WIN 65 H',
 '307 MFL 65 NCC 75 H',
 '307 MIS 75 VIC 62 H',
 '307 MOR 74 WRI 72 H',
 '307 MSM 69 WYO 83 A',
 '307 MSS 88 SCS 58 H',
 '307 MUR 70 WKE 92 A',
 '307 POR 56 WSS 59 A',
 '307 PRO 62 RHO 49 A',
 '307 SWM 60 TUL 69 H',
 '307 TEX 45 WIS 61 A',
 '307 UTA 77 UTS 42 H',
 '308 AFU 76 LBS 77 H',
 '308 APP 82 ECA 73 H',
 '308 ARL 49 CEN 63 H',
 '308 BET 76 GTN 83 A',
 '308 BRA 75 GEW 65 H',

In [42]:
text.splitlines()

['1998-99 NCAA scores',
 'DUK 99 FAM 58 N',
 'TUL 62 CHA 53 N',
 'TEN 62 DEL 52 N',
 'SWM 43 WIS 32 N',
 'TEM 61 KTS 54 N',
 'CIN 72 GEM 48 N',
 'PUR 58 TEX 54 N',
 'MFL 75 LAF 54 N',
 'MSU 76 MSM 53 N',
 'MIS 72 VIL 70 N',
 'NCC 81 RHO 70 N',
 'OKL 61 ARI 60 N',
 'KAN 95 EVA 74 N',
 'KEN 82 NMS 60 N',
 'MOH 59 WAS 58 N',
 'UTA 80 ARS 58 N',
 'AUB 80 WIN 41 N',
 'OKS 69 SYR 61 N',
 'OSU 72 MUR 58 N',
 'DET 56 UCL 53 N',
 'IND 108 GEW 88 N',
 'STJ 69 SMF 43 N',
 'CRE 62 LOU 58 N',
 'MAR 82 VAL 60 N',
 'CON 91 TSA 66 N',
 'NEM 61 MSO 59 N',
 'ARK 94 SIE 80 N',
 'IOW 77 ALB 64 N',
 'FLO 75 PEN 61 N',
 'WEB 76 UNC 74 N',
 'GON 75 MIN 63 N',
 'STA 69 ALC 57 N',
 'DUK 97 TUL 56 N',
 'SWM 81 TEN 51 N',
 'TEM 64 CIN 54 N',
 'PUR 73 MFL 63 N',
 'MSU 74 MIS 66 N',
 'OKL 85 NCC 72 N',
 'KEN 92 KAN 88 N',
 'MOH 66 UTA 58 N',
 'AUB 81 OKS 74 N',
 'OSU 75 DET 44 N',
 'STJ 86 IND 61 N',
 'MAR 75 CRE 63 N',
 'CON 78 NEM 56 N',
 'IOW 82 ARK 72 N',
 'FLO 82 WEB 74 N',
 'GON 82 STA 74 N',
 'DUK 78 SWM 61 N',
 'TEM 77 PUR 55 N',
 'MSU 54 OKL 46 N',
 'KEN 58 MOH 43 N',
 'OSU 72 AUB 64 N',
 'STJ 76 MAR 62 N',
 'CON 78 IOW 68 N',
 'GON 73 FLO 72 N',
 'DUK 85 TEM 64 N',
 'MSU 73 KEN 66 N',
 'OSU 77 STJ 74 N',
 'CON 67 GON 62 N',
 'DUK 68 MSU 62 N',
 'CON 64 OSU 58 N',
 'CON 77 DUK 74 N']

In [39]:
from bs4 import BeautifulSoup

html=requests.get(link).text
soup = BeautifulSoup(html, features="html.parser")

# kill all script and style elements
for script in soup(["script", "style"]):
    script.extract()    # rip it out

# get text
text = soup.get_text()

# break into lines and remove leading and trailing space on each
lines = (line.strip() for line in text.splitlines())
# break multi-headlines into a line each
chunks = (phrase.strip() for line in lines for phrase in line.split("  "))
# drop blank lines
text = '\n'.join(chunk for chunk in chunks if chunk)

1998-99 NCAA scores
DUK 99 FAM 58 N
TUL 62 CHA 53 N
TEN 62 DEL 52 N
SWM 43 WIS 32 N
TEM 61 KTS 54 N
CIN 72 GEM 48 N
PUR 58 TEX 54 N
MFL 75 LAF 54 N
MSU 76 MSM 53 N
MIS 72 VIL 70 N
NCC 81 RHO 70 N
OKL 61 ARI 60 N
KAN 95 EVA 74 N
KEN 82 NMS 60 N
MOH 59 WAS 58 N
UTA 80 ARS 58 N
AUB 80 WIN 41 N
OKS 69 SYR 61 N
OSU 72 MUR 58 N
DET 56 UCL 53 N
IND 108 GEW 88 N
STJ 69 SMF 43 N
CRE 62 LOU 58 N
MAR 82 VAL 60 N
CON 91 TSA 66 N
NEM 61 MSO 59 N
ARK 94 SIE 80 N
IOW 77 ALB 64 N
FLO 75 PEN 61 N
WEB 76 UNC 74 N
GON 75 MIN 63 N
STA 69 ALC 57 N
DUK 97 TUL 56 N
SWM 81 TEN 51 N
TEM 64 CIN 54 N
PUR 73 MFL 63 N
MSU 74 MIS 66 N
OKL 85 NCC 72 N
KEN 92 KAN 88 N
MOH 66 UTA 58 N
AUB 81 OKS 74 N
OSU 75 DET 44 N
STJ 86 IND 61 N
MAR 75 CRE 63 N
CON 78 NEM 56 N
IOW 82 ARK 72 N
FLO 82 WEB 74 N
GON 82 STA 74 N
DUK 78 SWM 61 N
TEM 77 PUR 55 N
MSU 54 OKL 46 N
KEN 58 MOH 43 N
OSU 72 AUB 64 N
STJ 76 MAR 62 N
CON 78 IOW 68 N
GON 73 FLO 72 N
DUK 85 TEM 64 N
MSU 73 KEN 66 N
OSU 77 STJ 74 N
CON 67 GON 62 N
DUK 68 MSU 62 N
CON 64 OSU 58 N
CON 77 DUK 74 N

In [22]:
pd.DataFrame(arr)

                 0    1    2   3   4           5     6 7
0       19991111.0  CON  IOW  68  70           N  1999
1       19991111.0  DUK  STA  79  80           N  1999
2       19991112.0  CON  DUK  71  66           N  1999
3       19991112.0  IOW  STA  58  72           N  1999
4       19991112.0  MSO  WIS  55  66           N  1999
...            ...  ...  ...  ..  ..         ...   ... ..
141349  19530331.0  TCU  OKC  58  56           N  1952
141350  19530332.0  IND  LSU  80  67           N  1952
141351  19530333.0  KAN  WAS  79  53           N  1952
141352  19530334.0  IND  KAN  69  68           N  1952
141353  19530335.0  WAS  LSU  88  69  N\n</body>  1952

[141354 rows x 8 columns]

In [18]:
body.get_text()

AttributeError: 'str' object has no attribute 'get_text'

In [7]:
url='https://academics.smcvt.edu/jtrono/NCAA_Archive/'+"78_79"+"_nit.htm"

In [9]:
url=='https://academics.smcvt.edu/jtrono/NCAA_Archive/78_79_nit.htm'

True

In [8]:
requests.get(url).text

'<html>\r\n\r\n<head>\r\n<meta http-equiv="Content-Language" content="en-us">\r\n<meta name="GENERATOR" content="Microsoft FrontPage 12.0">\r\n<meta name="ProgId" content="FrontPage.Editor.Document">\r\n<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">\r\n<title>1978-79 NIT scores</title>\r\n</head>\r\n\r\n<body>\r\n\r\n<p>UNR 62 ORS 61 A<br>TAM 79 NEM 68 A<br>DAY 105 HOL 81 H<br>OLD 83 WAG 81 H?<br>\r\nALA 98 STB 89 H<br>PUR 97 CMI 80 H<br>CLE 68 KEN 67 A<br>VIR 79 NEL 78 H<br>MAR \r\n67 RHO 65 H<br>OSU 80 SJP 66 H<br>ALC 80 MSS 78 AN?<br>IND 78 TET 59 A<br>TAM 67 \r\nUNR 64 A<br>ALA 90 VIR 88 H<br>OLD 61 CLE 59 A<br>PUR 84 DAY 70 N<br>IND 73 ALC \r\n69 H<br>OSU 79 MAR 72 A<br>PUR 67 OLD 59 H<br>ALA 72 TAM 68 AN?<br>IND 64 OSU 55 \r\nN<br>PUR 87 ALA 68 N<br>IND 53 PUR 52 N<br>ALA 96 OSU 86 N</p>\r\n\r\n</body>\r\n\r\n</html>'

In [2]:
s='ALC'
df=df.sort_values(by='date')
a=df[(df.home==s)|(df.away==s)]
a[a.season==1977]

             date home away homep awayp venue  season notes
87549  19780106.0  ALC  JSU    95    81     A  1977.0
87550  19780109.0  ALC  SOU    87    83     H  1977.0
87551  19780114.0  ALC  GRA   105    62     A  1977.0
87552  19780121.0  ALC  TES    68    91     A  1977.0
87553  19780130.0  ALC  TES    72    73     H  1977.0
87554  19780211.0  ALC  JSU    91    61     H  1977.0
87555  19780213.0  ALC  SOU    85    86     A  1977.0
87556  19780218.0  ALC  GRA    67    65     H  1977.0
87465  19780225.0  ALC  GRA    86    73     N  1977.0
87466  19780226.0  ALC  SOU    74    86     N  1977.0

In [6]:
df.to_csv("allscores.csv")

In [ ]:
from bs4 import BeautifulSoup
import requests
arr=[]
lost=['Alabama Presbyterian','Birmingham College (AL)','Birmingham Medical College (AL)','Daniel Payne College (AL)',"Huntsville College (AL)","Jackson Ags","Albertville Agriculture School (AL)","Southern (AL)","Saint Bernard JC (AL)","Birmingham-Southern (AL)","Taylor School (AL)",""]
defunct=['American (DC)',"Evansville (IN)","Drexel (PA)","Little Rock JC (AR)","Boston (MA)","Bradley (IL)","California Baptist","Cal St.-Fullerton","Cal St.-Long Beach","Cal St.-Northridge","California-Riverside","Bishop (TX)","California-San Diego","California-Santa Barbara","Canisius (NY)","Niagara (NY)","Charleston (WV)","Creighton (NE)","Denver (CO)","Detroit (MI)","Fairfield (CT)","George Washington (DC)","Hofstra (NY)","Gonzaga (WA)","High Point (NC)","Illinois-Chicago","Iona (NY)","Jacksonville (FL)","	Loyola Marymount (CA)","Loyola (IL)","Loyola (MD)","Manhattan (NY)"]
teams=requests.get("https://ontheroadtovote.com/ncaaf/def.txt").text
teams=teams.split(",")
import pandas as pd
for i in range(1869,2024):
    print(i)
    if i>2017:
        url="http://mexicosportscollectibles.com/"+str(i)+"ncaa.html"
    else:
        url="http://mexicosportscollectibles.com/"+str(i)+".html"
    html=requests.get(url).text
    soup=b
    for tr in html.find_all("tr"):
        tds=tr.find_all("td")
        schl=tds[2].text
        pts=tds[3].text
        opp=tds[4].text
        OPP=tds[5].text
        loc=tds[6].text
        notes=tds[7].text
        res=tds[1].text
        arr.append([schl,opp,pts,OPP,loc,notes,res,i])

In [8]:
mas

'21'

In [93]:
np.mean([list(hfas.values())])

61.30434782608695

In [131]:
import pandas as pd
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

In [135]:
df1=pd.concat([df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19],ignore_index=True)
arr=[]
df100=df1.sort_values(by='Date')
df1=df1[['Year','Date','neutral','PTS','OPP','Year','Opp','Schl']]
df1=df1.drop_duplicates()
ys=[]

import sys
for Date in df100.Date.unique():
    times=1
    teams=[]
    
    if '2003' in str(Date):
        sys.exit(1)
    if row.Year not in ys:
        ys.append(row.Year)
        print(row.Year)
    df=df1[df1.Date==Date]
    for row in df.itertuples():
        if row.Schl in teams or row.Opp in teams:
            times+=1
            num=20*times
            date=row.Date+" "+str(num)+":00:00"
        else:
            date=row.Date+" 00:00:00"
        arr.append([row.Schl,date,row.Opp,row.Year,'vs',row.neutral,row.PTS,row.OPP])
        teams.append(row.Schl)
        teams.append(row.Opp)

2002-03
1949-50
1950-51
1951-52
1952-53
1953-54
1954-55
1955-56
1956-57
1957-58
1958-59
1959-60
1960-61
1961-62
1962-63
1963-64
1964-65
1965-66
1966-67
1967-68
1968-69
1969-70
1970-71
1971-72
1972-73
1973-74
1974-75
1975-76
1976-77
1977-78
1978-79
1979-80
1980-81
1981-82
1982-83
1983-84
1984-85
1985-86
1986-87
1987-88
1988-89
1989-90
1990-91
1991-92
1992-93
1993-94
1994-95
1995-96
1996-97
1997-98
1998-99
1999-00
2000-01
2001-02

SystemExit: 1

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3560: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

# d2 scores from 2007 season

In [ ]:
d3urls={"1995":"https://masseyratings.com/scores.php?s=41840&sub=41840&all=1","1996":"https://masseyratings.com/scores.php?s=41841&sub=41841&all=1","1997":"https://masseyratings.com/scores.php?s=41842&sub=41842&all=1","1998":"https://masseyratings.com/scores.php?s=41843&sub=41843&all=1","1999":"https://masseyratings.com/scores.php?s=41844&sub=41844&all=1","2000":"https://masseyratings.com/scores.php?s=41845&sub=41845&all=1","2001":"https://masseyratings.com/scores.php?s=41846&sub=41846&all=1","2002":"https://masseyratings.com/scores.php?s=41847&sub=41847&all=1","2003":"https://masseyratings.com/scores.php?s=41848&sub=41848&all=1","2004":"https://masseyratings.com/scores.php?s=41849&sub=41849&all=1","2005":"https://masseyratings.com/scores.php?s=41850&sub=41850&all=1","2006":"https://masseyratings.com/scores.php?s=68033&sub=68033&all=1","2007":"https://masseyratings.com/scores.php?s=73929&sub=73929&all=1","2008":"https://masseyratings.com/scores.php?s=85513&sub=85513&all=1","2009":"https://masseyratings.com/scores.php?s=94988&sub=94988&all=1","2010":"https://masseyratings.com/scores.php?s=98700&sub=98700&all=1","2011":"https://masseyratings.com/scores.php?s=107811&sub=107811&all=1","2012":"https://masseyratings.com/scores.php?s=181623&sub=181623&all=1","2014":"https://masseyratings.com/scores.php?s=262657&sub=262657&all=1","2015":"https://masseyratings.com/scores.php?s=279541&sub=279541&all=1","2016":"https://masseyratings.com/scores.php?s=286577&sub=286577&all=1","2017":"https://masseyratings.com/scores.php?s=295489&sub=295489&all=1","2018":"https://masseyratings.com/scores.php?s=300937&sub=300937&all=1","2019":"https://masseyratings.com/scores.php?s=308075&sub=308075&all=1","2020":"https://masseyratings.com/scores.php?s=318889&sub=318889&all=1","2021":"https://masseyratings.com/scores.php?s=358435&sub=358435&all=1","2022":"https://masseyratings.com/scores.php?s=384031&sub=384031&all=1","2023":"https://masseyratings.com/scores.php?s=539277&sub=539277&all=1"}
ggg=[]
import os
d2urls={"2020":"https://masseyratings.com/scores.php?s=320158&sub=320158&all=1","2005":"https://masseyratings.com/scores.php?s=41469&sub=41469&all=1","2004":"https://masseyratings.com/scores.php?s=41468&sub=41468&all=1","2006":'https://masseyratings.com/scores.php?s=69587&sub=69587&all=1',"2009":"https://masseyratings.com/scores.php?s=97288&sub=97288&all=1","2011":"https://masseyratings.com/scores.php?s=179268&sub=179268&all=1","2013":"https://masseyratings.com/scores.php?s=203290&sub=203290&all=1","2015":"https://masseyratings.com/scores.php?s=284067&sub=284067&all=1","2016":"https://masseyratings.com/scores.php?s=292154&sub=292154&all=1","2017":"https://masseyratings.com/scores.php?s=298892&sub=298892&all=1","2018":"https://masseyratings.com/scores.php?s=305972&sub=305972&all=1","2021":"https://masseyratings.com/scores.php?s=379387&sub=379387&all=1","2022":"https://masseyratings.com/scores.php?s=500054&sub=500054&all=1"}
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
didp=0
d2urls={"2004":"https://masseyratings.com/scores.php?s=41468&sub=41468&all=1","2005":"https://masseyratings.com/scores.php?s=41469&sub=41469&all=1","2007":"https://masseyratings.com/scores.php?s=74994&sub=74994&all=1","2008":"https://masseyratings.com/scores.php?s=87798&sub=87798&all=1","2010":"https://masseyratings.com/scores.php?s=101140&sub=101140&all=1","2012":"https://masseyratings.com/scores.php?s=193573&sub=193573&all=1","2014":"https://masseyratings.com/scores.php?s=267615&sub=267615&all=1","2019":"https://masseyratings.com/scores.php?s=309912&sub=309912&all=1"}
for key in d2urls:
    print(key)
    
    r = requests.get(d2urls[key])
    soup = BeautifulSoup(r.text, 'lxml')
    
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(BeautifulSoup(r.text, 'lxml'))
    aa=str(aa)
    aa=(aa.split("<hr/><pre>")[1])
    
    aa=aa.replace("               ",",")
    aa=aa.replace("  ",",")
    for i in range(0,10):
        aa=aa.replace(str(i)+" ",str(i)+",")
        
    aa=aa.replace(",,,,,,",",")
    
    q=aa
    
    
    q=q.split("\n")
    for line in q:
        
        
        
        
        
        line=str(line)
        
        
        
        
        if 'Games' not in str(line) and str(line)!='' and '<' not in str(line):
            j=line[1]
            n=False
            line = list(line.split(','))
            if "@" not in str(line):
                n=True
            if didp==0:
                print(line)
                didp=1
            
            if "@" in str(line[1]):
                v="vs"
            else:
                v='@'
            date=str(line[0])
            
            line=str(line)
            line=line.replace("[","")
            line=line.replace("]","")
            line=line.replace("'","")
            line=line.replace('"',"")
            line=line.replace(",@",",")
            line=line.replace("@","")
            line = list(line.split(','))
            lines=[]
            for l in line:
                if l==' ' :
                    m=1
                else:
                    
                    lines.append(l)
                
            
            line=lines
            s=line[1]
            s=s.lstrip()
            s=s.rstrip()
            o=line[3]
            o=o.lstrip()
            o=o.rstrip()
            row=[s,o,line[2],line[4],key,n,date,key,v]
            
                    
            ggg.append(row)
    
d2=pd.DataFrame(ggg,columns=['Schl','Opp','PTS','OPP','Year','neutral','Date','Yearz','Venue'])
print(d2.Year.unique())
d2.to_csv("missingcbb.csv")

In [49]:
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment

links={}
import time
arr=[]
ys={}
for i in range(1950,2025):
    ys[i]=[]
for i in range(1950,2025):
    print(i)
    links[i]=[]
    html=requests.get("https://www.sports-reference.com/cbb/seasons/men/"+str(i)+"-standings.html")
    print(html.status_code)
    html=html.text
    html=html.replace("<!--","").replace("-->","")
    soup=BeautifulSoup(html,'lxml')
    
    
    y=i-1
    for table in soup.find_all("table"):
        for tr in table.find_all("tr"):
            if "Notes" not in str(tr) and 'Overall' not in str(tr):
                
                
                schl=tr.find_all("td")[0].text
                conf=tr.find_all("td")[1].text
                srs=tr.find_all("td")[13].text
            
                
                arr.append([schl,conf,y,srs])
    time.sleep(5)
    print(len(arr))

1950
200
170
1951
200
342
1952
200
513
1953
200
687
1954
200
861
1955
200
1037
1956
200
1212
1957
200
1388
1958
200
1571
1959
200
1752
1960
200
1933
1961
200
2112
1962
200
2292
1963
200
2472
1964
200
2652
1965
200
2834
1966
200
3021
1967
200
3213
1968
200
3405
1969
200
3604
1970
200
3808
1971
200
4016
1972
200
4238
1973
200
4469
1974
200
4707
1975
200
4946
1976
200
5185
1977
200
5436
1978
200
5697
1979
200
5960
1980
200
6226
1981
200
6491
1982
200
6766
1983
200
7043
1984
200
7318
1985
200
7602
1986
200
7891
1987
200
8181
1988
200
8471
1989
200
8764
1990
200
9057
1991
200
9352
1992
200
9651
1993
200
9950
1994
200
10252
1995
200
10556
1996
200
10868
1997
200
11183
1998
200
11500
1999
200
11818
2000
200
12142
2001
200
12466
2002
200
12794
2003
200
13129
2004
200
13460
2005
200
13795
2006
200
14134
2007
200
14476
2008
200
14822
2009
200
15171
2010
200
15523
2011
200
15874
2012
200
16222
2013
200
16574
2014
200
16928
2015
200
17281
2016
200
17634
2017
200
17987
2018
200
18339
2019
200
18693
2020
200
19047
2021
200
19399
2022
200
19760
2023
200
20123
2024
200
20485

In [55]:
df=pd.DataFrame(arr,columns=['School','Conf','Year','SRS'])
df=df[df.SRS.notna()]
df.to_csv("alld1s.txt")

##