<a href="https://www.kaggle.com/code/savageopress12345/mechanical-soup-error?scriptVersionId=118868915" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
ty=df22[df22.Year==2023]
points=set(ty.PTS.tolist()+ty.OPP.tolist())
games={}
arr=[]
for row in ty.itertuples():
    if row.PTS>row.OPP:
        name=row.Schl+"||"+row.Opp+"||"+str(row.PTS)+"||"+str(row.OPP)
        games[name]=row.PTS
        arr.append([row.Schl,row.Opp,row.PTS,row.OPP,row.Venue,row.Date])
    if row.PTS<row.OPP:
        name=row.Opp+"||"+row.Schl+"||"+str(row.OPP)+"||"+str(row.PTS)
        games[name]=row.OPP
        arr.append([row.Opp,row.Schl,row.OPP,row.PTS,row.Venue,row.Date])

In [ ]:
df=pd.DataFrame(arr,columns=['Winner','Loser','Winner PTS','Loser PTS','Venue','Date'])
df=df.sort_values(by='Loser PTS')
df=df.iloc[0:10]
for row in df.itertuples():
    print(row)

In [ ]:
[item for item in sorted(games, key=games.get)][0:10]

In [ ]:
myKeys = list(games.keys())
{i: games[i] for i in myKeys}[0:5]

**

In [ ]:
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

In [9]:

import time
start_time = time.time()
print('done files')
import numpy as np
from datetime import datetime
import random
import string
from decimal import Decimal
class Elo:
    def __init__(self,k,g=1,homefield = 110): 
        self.ratingDict={}
        self.k = k
        self.g = g
        self.homefield= homefield
    def addPlayer(self,name,rating = 1500):
        self.ratingDict[name] = rating
    def gameOver(self, winner, loser, winnerHome,neutral,wp,lp,yr,date,hfa,k):
        homef=hfa
        if('True' in str(neutral)):
            homef=0
        if(winnerHome==True):
            
            elod=(eloLeague.ratingDict[winner]+homef)-(eloLeague.ratingDict[loser])
        if(winnerHome!=True):
            
            elod=(eloLeague.ratingDict[winner])-(homef+eloLeague.ratingDict[loser])
        
        elo=float(elod)
        wp=float(wp)
        lp=float(lp)
        o=abs(wp-lp)
        y=float(((o)+3))
        
        mov=((o+3)**0.8)/(7.5+0.006*elod)
        if winnerHome==True:
            
            result = self.expectResult(self.ratingDict[winner]+homef, self.ratingDict[loser])
        else:
            result = self.expectResult(self.ratingDict[winner], self.ratingDict[loser]+homef)
        shift=(self.k*mov)*(1 - result) 
        self.ratingDict[winner]+=shift
        self.ratingDict[loser]-=shift
    def expectResult(self, p1, p2):
        global exp
        exp = (Decimal(p2)-Decimal(p1))/Decimal(400.0)
        n2=Decimal(10.0)
        j=Decimal(exp)
        o=Decimal(1)/((n2**(j))+Decimal(1))
        return float(o)
import requests
from bs4 import BeautifulSoup,Comment
import re, csv
from bs4 import BeautifulSoup as bs
uteams=requests.get("https://ontheroadtovote.com/ncaaf/caabteams.json").json() 
d2urls={}
d2urls[2001]='https://ontheroadtovote.com/ncaaf/prefbs/2001.html'
for i in range(2002,2024):
    url='https://ontheroadtovote.com/ncaaf/prefbs/masseyratings.com'+str(i)+".webarchive"
    d2urls[str(i)]=url
d2urls[2024]='https://masseyratings.com/scores.php?s=604302&sub=11590&all=1&mode=3&sch=on&format=0'
thearr=[]
abbreviations = ["AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "IA",
    "ID", "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MN", "MO",
    "MS", "MT", "NC", "ND", "NE", "NH", "NJ", "NM", "NV", "NY", "OH", "OK",
    "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VA", "VT", "WA", "WI",
    "WV", "WY", "DC", "AS", "GU", "MP", "PR", "VI"]
import re
import pandas as pd
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
from datetime import date
today=str(date.today())
from datetime import timedelta
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/updatedstandings.csv")
w=0
l=0
names=[]
def replace(n):
    string=n
    for letter in letters:
        string=string.replace(letter+" Stateate",letter+" State")
    return string
names=set()
from datetime import date
today=date.today()
oldconfs=pd.read_csv("https://ontheroadtovote.com/ncaab/old.csv")
import json
hbcus=['Texas Southern','Coppin State','Morgan State','North Carolina Central','Morgan State','Howard','Norfolk State','South Carolina State','Delaware State','Grambling','Southern','Alcorn State','North Carolina A&T','Tennessee State','Chicago State','Hampton','Bethune-Cookman','Alabama A&M','Prairie View A&M','Mississippi Valley State','Alabama State','Arkansas-Pine Bluff','Florida A&M','Jackson State','Maryland-Eastern Shore']
w=0
l=0
from datetime import datetime
df2 = {'Unnamed: 0':'t','Rk':4,'School':'Hiram','Conf':'Independent','Year':1893,'W':1,'L':0}
oldconfs.append(df2,ignore_index=True)
msqe={}
currSeason=1949
for i in range(9,50):
    msqe[str(i)]=set()
df=pd.read_csv("https://ontheroadtovote.com/ncaaf/smallschoolscores/teams/cbbstandings.csv")
confs={}
for i in range(1949,2025):
    confs[i]={}
df=df.replace("PCC (North)","PCC")
df=df.replace("PCC (South)","PCC")
df=df.replace("Mid-Atl (Eastern)","Mid-Atl")
df=df.replace("Mid-Atl (Western)","Mid-Atl")
df=df.replace("Mid-Atl (East)","Mid-Atl")
df=df.replace("Mid-Atl (West)","Mid-Atl")
df=df.replace("ECC (West)","ECC")
df=df.replace("ECC (East)","ECC")
df=df.replace("ECBL (East)","ECBL")
df=df.replace("ECBL (West)","ECBL")
df=df.replace("EAA (West)","EAA")
df=df.replace("EAA (East)","EAA")
df=df.replace("ECACM (North)","ECACM")
df=df.replace("ECACM (South)","ECACM")
df=df.replace("A-10 (East)","A-10")
df=df.replace("A-10 (West)","A-10")
df=df.replace("MAAC (South)","MAAC")
df=df.replace("MAAC (North)","MAAC")
df=df.replace("CUSA (Blue)","CUSA")
df=df.replace("CUSA (Red)","CUSA")
df=df.replace("CUSA (White)","CUSA")
df=df.replace("Big East (East)","Big East")
df=df.replace("MAC (East)","MAC")
df=df.replace("SEC (East)","SEC")
df=df.replace("Southern (North)",'Southern')
df=df.replace("Southern (South)","Southern")
df=df.replace("WAC (Pacific)","WAC")
df=df.replace("CUSA (National)","CUSA")
df=df.replace("TAAC (East)","TAAC")
df=df.replace("Sun Belt (West)","Sun Belt")
df=df.replace("TAAC (West)","TAAC")
df=df.replace("A-Sun (North)","A-Sun")
df=df.replace("MAC (West)","MAC")
df=df.replace("Big East (West)","Big East")
df=df.replace("SEC (West)","SEC")
df=df.replace("Southland (West)","Southland")
df=df.replace("Southland (East)","Southland")
df=df.replace("OVC (East)","OVC")
df=df.replace("OVC (West)","OVC")
df=df.replace("Big South (North)","Big South")
df=df.replace("Big South (South)","Big South")
df=df.replace("A-Sun (East)","A-Sun")
df=df.replace("Patriot (Central)","Patriot")
df=df.replace("WAC (Mountain)","WAC")
df=df.replace("CUSA (American)","CUSA")
df=df.replace("Big West (West)","Big West")
df=df.replace("CUSA (East)","CUSA")
df=df.replace("Patriot (North)","Patriot")
df=df.replace("CUSA (West)","CUSA")
df=df.replace("A-Sun (West)","A-Sun")
df=df.replace("Patriot (South)","Patriot")
df=df.replace("A-Sun (South)","A-Sun")
df=df.replace("MEAC (Southern)","MEAC")
df=df.replace("MEAC (Northern)","MEAC")
df=df.replace("Sun Belt (East)","Sun Belt")
df=df.replace("Big West (West)","Big West")
df=df.replace("Big West (East)","Big West")
df=df.replace("Big East (Big East 6)","Big East")
df=df.replace("Big East (Big East 7)","Big East")
standings=pd.read_csv("https://ontheroadtovote.com/ncaab/d1vsnond1/teams/d1standings.txt")
standings=standings.replace("Florida Gulf Cost","Florida Gulf Coast")
for row in standings.itertuples():
    if float(row.Year)>1948:
        confs[float(row.Year)][str(row.Schl)]=str(row.Conference)
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment

links={}
import time
arr=[]
ys={}
for i in range(2025,2026):
    ys[i]=[]
for i in range(2025,2026):
    print(i)
    links[i]=[]
    html=requests.get("https://www.sports-reference.com/cbb/seasons/men/"+str(i)+"-standings.html")
    print(html.status_code)
    html=html.text
    html=html.replace("<!--","").replace("-->","")
    soup=BeautifulSoup(html,'lxml')
    
    
    y=i-1
    for table in soup.find_all("table"):
        for tr in table.find_all("tr"):
            if "Notes" not in str(tr) and 'Overall' not in str(tr):
                
                
                schl=tr.find_all("td")[0].text
                conf=tr.find_all("td")[1].text
                srs=tr.find_all("td")[13].text
            
                
                arr.append([schl,conf,y,srs])
    time.sleep(5)
    print(len(arr))
a=pd.DataFrame(arr,columns=['School','Conf','h','l'])
for row in df.itertuples():
    s=row.School
    s=s.replace("FDU",'Fairleigh Dickinson')
    s=s.replace("UCF","Central Florida")
    confs[float(row.Year)][str(s)]=row.Conf
confs[2024]={}
for row in a.itertuples():
    s=row.School
    s=s.replace("FDU",'Fairleigh Dickinson')
    s=s.replace("UCF","Central Florida")
    confs[float(2024)][str(s)]=row.Conf
preds={}
swac=['Grambling','Alcorn State',"Jackson State",'Prairie View','Texas Southern','Arkansas-Pine Bluff','Southern','Bethune-Cookman','Alabama State','Florida A&M','Alabama A&M','Mississippi Valley State']
meac=['North Carolina Central','Coppin State','Maryland-Eastern Shore','Norfolk State','Howard','South Carolina State','Morgan State','Delaware State']
confy={}
for conf in set(df.Conf.tolist()):
    confy[conf]={}
for row in df.itertuples():
    confy[row.Conf][float(row.Year)]=[]
for row in df.itertuples():
    confy[row.Conf]=[]


kval=20
eloLeague = Elo(k = kval)
print("go through games")
did=[]
rev=0.70
from bs4 import BeautifulSoup
import requests
sep=""
def remove_tags(html):

    # parse html content
    soup = BeautifulSoup(html, "html.parser")

    for data in soup(['style', 'script']):
        # Remove tags
        data.decompose()

    # return data by retrieving the tag content
    return ' '.join(soup.stripped_strings)
years=[1950,1962,1973,1974]
import pandas as pd
yu=[]
from datetime import datetime,timedelta
html=requests.get("https://academics.smcvt.edu/jtrono/BBallArchive.htm").text
soup=BeautifulSoup(html)
table=soup.find_all("table")[0]
arr=[]
for tr in table.find_all("tr"):
    season=tr.find_all("td")[0].text
    yearz=season[:-1]
    yearz=yearz[2::]
    yearz=yearz.replace("-","_")
    print(season)
    season=season.split("-")[0]
    h=tr.find_all("td")[2]
    link='https://academics.smcvt.edu/jtrono/'+h.find_all("a")[0]['href']
    j=link
    j=j.split("Archive/")[1]
    j=j.split("_dat")[0]
    
    ht=requests.get(link).text

   
    soupz=BeautifulSoup(ht)
    
    body=soupz.find_all("body")[0]
    
    body=str(body)
    body=body.replace("<br>","<br/>")
    body=body.replace("<p>","")
    
    body=body.split("<br/>")
    
    for line in body:
        line=remove_tags(line)
        line=line.replace("\r\n","")
        
        if 'html' not in str(line) and line!='' and line!='\xa0' and '<body>' not in str(line) and line!='\xa0\n</body>' and line!='\n':
            
            line=line.replace("leftmargin","")
            line=line.replace("35","")
            line=line.replace('"',"")
            line=line.replace("topmargin","")
            line=line.replace(" = ","")
            line=line.replace("<body","")
            line=line.replace(">\n","")
            line=line.replace("=","")
            date=line.split(" ")[0]
            home=line.split(" ")[0]
            pts=line.split(" ")[1]
            away=line.split(" ")[2]
            opp=line.split(" ")[3]
            venue=line.split(" ")[4]
            date='11111'
            if date[0]=='2':
                date=season+sep+"11"+sep+date[1::]
            if date[0]=='3':
                date=season+sep+"12"+sep+date[1::]
            if date[0]=='4':
                date=str(float(season)+1)+sep+"01"+sep+date[1::]
            if date[0]=='5':
                date=str(float(season)+1)+sep+"02"+sep+date[1::]
            if date[0]=='6':
                date=str(float(season)+1)+sep+"03"+sep+date[1::]
            if date[0]=='7':
                date=str(float(season)+1)+sep+"04"+sep+date[1::]
            date=date.replace("F","")
            date=date.replace("f","")
            date=date.replace(".0","")
            date=float(date)
            notes=''
            if len(line.split(" "))>6:
                notes=line.split(" ")[6]
            
            arr.append([date,home,away,pts,opp,venue,season,notes])
   
    datez=date
    link='https://academics.smcvt.edu/jtrono/NCAA_Archive/'+j+"_nit.htm"
    ht=requests.get(link).text

   
    soupz=BeautifulSoup(ht)
    
    body=soupz.find_all("body")[0]
    body=str(body)
    body=body.replace("<br>","<br/>")
    body=body.replace("<p>","")
    
    body=body.split("<br/>")
    
    datez=date
   
    
    for line in body:
        line=remove_tags(line)
        line=line.replace("\r\n","")
        if 'html' not in str(line) and line!='' and line!='\xa0' and '<body>' not in str(line)  and line!='\xa0\n</body>':
            line=line.replace("leftmargin","")
            line=line.replace("35","")
            line=line.replace('"',"")
            line=line.replace("<body","")
            line=line.replace("topmargin","")
            line=line.replace(" = ","")
            line=line.replace(">\n","")
            line=line.replace("=","")
            home=line.split(" ")[0]
            pts=line.split(" ")[1]
            away=line.split(" ")[2]
            opp=line.split(" ")[3]
            venue=line.split(" ")[4]
            
            
            
            notes=''
            if len(line.split(" "))>5:
                notes=line.split(" ")[5]
            datez+=1
            
            arr.append([datez,home,away,pts,opp,venue,season,notes])
    link='https://academics.smcvt.edu/jtrono/NCAA_Archive/'+j+"_ncaa.htm"
    ht=requests.get(link).text

   
    soupz=BeautifulSoup(ht)
    
    body=soupz.find_all("body")[0]
    body=str(body)
    body=body.replace("<br>","<br/>")
    body=body.replace("<p>","")
    
    body=body.split("<br/>")
    datez=date
    
    for line in body:
        line=remove_tags(line)
        line=line.replace("\r\n","")
        
        if 'html' not in str(line) and line!='' and line!='\xa0' and '<body>' not in str(line)  and line!='\xa0\n</body>':
            
            line=line.replace("leftmargin","")
            line=line.replace("35","")
            line=line.replace('"',"")
            line=line.replace("<body","")
            line=line.replace("topmargin","")
            line=line.replace(" = ","")
            line=line.replace(">\n","")
            line=line.replace("=","")
            line=line.replace("5V","5 V")
            home=line.split(" ")[0]
            pts=line.split(" ")[1]
            away=line.split(" ")[2]
            opp=line.split(" ")[3]
            venue=line.split(" ")[4]
            
            
            
            notes=''
            if len(line.split(" "))>5:
                notes=line.split(" ")[5]
            datez+=1
            
            arr.append([datez,home,away,pts,opp,venue,season,notes])
    
df=pd.DataFrame(arr,columns=['date','home','away','homep','awayp','venue','season','notes'])
df=df.astype({"season":float})
we=df.reindex(index=df.index[::-1])
tz={}
h=requests.get("https://ontheroadtovote.com/ncaaf/prefbs/alltz.txt").text
h=str(h)
h=h.split("\n")
we=we[we.home!='Server']
we['homep'] = we['homep'].replace(r'^\s*$','35', regex=True)
we['awayp'] = we['awayp'].replace(r'^\s*$','35', regex=True)
we['homep']=we['homep'].fillna("35")
we=we.astype({"homep":float,"awayp":float})

for line in h:
    tz[line.split("|")[0]]=line.split("|")[1]
for i in range(1949,2000):
    wez=we[we.season==i]
    for row in wez.itertuples():
        s=str(row.home)
        o=str(row.away)
        if s in tz:
            s=tz[s]
        if o in tz:
            o=tz[o]
        sz=row.season
        o=o.strip()
        s=s.strip()
        if o=='Bowling Green':
            o='Bowling Green State'
        if s=='Bowling Green':
            s='Bowling Green State'
        
        if s=='Centenary':
            s='Centenary (LA)'
        if o=='Kent':
            o='Kent State'
        if s=='Kent':
            s='Kent State'
        if s=='Detroit':
            s='Detroit Mercy'
        if o=='Detroit':
            o='Detroit Mercy'
        if o=='Centenary':
            o='Centenary (LA)'
        if o=='UCF':
            o='Central Florida'
        if s=='UCF':
            s='Central Florida'
        if s=='Armstrong State':
            s='Armstrong'
        if o=='Armstrong State':
            o='Armstrong'
            
            
        row=[float(row.date),s,o,row.homep,row.awayp,row.venue,row.season,row.notes,False]
        if s in confs[float(sz)] and o in confs[float(sz)]:
            thearr.append(row)
        else:
            print(row)
print("did old")
print(len(thearr))
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df13=df13[df13.Year!='Year']
df13[df13.Year=='2000-01']
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")
df19=df19[df19.Year!='Year']
df19[df19.Year=='2000-01']
df2=pd.concat([df19,df13])
df2=df2.sort_values(by='Date')
uteams['Bowling Green']='Bowling Green State'
for row in df2.itertuples():
    o=row.Opp
    s=row.Schl
    s=s.strip()
    o=o.strip()
    if o in uteams:
        o=uteams[o]
    if s in uteams:
        s=uteams[s]
    if o in confs[2000] and s in confs[2000]:
        thearr.append([row.Date,s,o,row.PTS,row.OPP,'vs',2000,'notes',row.neutral])
for key in d2urls:
    print(key)
    r = requests.get(d2urls[key])
    soup = BeautifulSoup(r.text, 'lxml')
    p = re.compile(r'([^0-9-]+)\s{3,}')
    p2 = re.compile(r'\s(\d+)\s')
    aa=str(BeautifulSoup(r.text, 'lxml'))
    aa=str(aa)
    aa=(aa.split("<hr/><pre>")[1])
    aa=aa.replace("               ",",")
    aa=aa.replace("  ",",")
    for i in range(0,10):
        aa=aa.replace(str(i)+" ",str(i)+",") 
    aa=aa.replace(",,,,,,",",")
    
    q=aa
    q=q.split("\n")
    for line in q:
        line=str(line)
        if 'Games' not in str(line) and str(line)!='' and '<' not in str(line):
            j=line[1]
            n=False
            if "@" not in str(line):
                n=True
            gh=list(line.split(","))
            line = list(line.split(','))
            v="vs"
            if "@" in str(line[1]):
                v="vs"
            else:
                v='@'
            date=str(line[0])
            line=str(line)
            line=line.replace("[","")
            line=line.replace("]","")
            line=line.replace("'","")
            line=line.replace('"',"")
            line=line.replace(",@",",")
            line=line.replace("@","")
            line = list(line.split(','))
            lines=[]
            for l in line:
                if l==' ' :
                    m=1
                else:
                    lines.append(l)
            line=lines
            s=line[1]
            s=s.lstrip()
            s=s.rstrip()
            o=line[3]
            o=o.lstrip()
            o=o.rstrip()
            o=o.replace("amp;","")
            s=s.replace("amp;","")
            if s in uteams:
                s=uteams[s]
            if o in uteams:
                o=uteams[o]
            if 'Harvard' in str(line) and 'Indiana' in str(line):
                print(line)
            for a in abbreviations:
                j=str(a)
                if str(j) in str(gh[5::]):
                    n=True
                    if 'Harvard' in str(line) and 'Indiana' in str(line):
                        print('yessss')
            if 'Harvard' in str(line) and 'Indiana' in str(line):
                print(line)
            if s  not in confs[float(key)] or o not in confs[float(key)]:
                m=1
            else:
                row=[date,s,o,line[2],line[4],v,float(key),'notes',n]
            thearr.append(row)

from bs4 import BeautifulSoup,Comment
df22=pd.DataFrame(thearr,columns=['Date','Schl',"Opp",'PTS','OPP','Venue','Year','Notes','neutral'])
print("TE FILE IS:"+str(len(df22)))
df22=df22.astype({"Venue":"string"})
df22=df22.astype({"neutral":"string"})
print("created df22")
print(set(df22.Year.tolist()))
df22['Venue']=df22['Venue'].replace("NA?","N")
df22['Venue']=df22['Venue'].replace("A?","@")
df22['Venue']=df22['Venue'].replace("AH?","N")
df22['Venue']=df22['Venue'].replace("AN?","N")
df22['Venue']=df22['Venue'].replace("HA?","N")
df22['Venue']=df22['Venue'].replace("HN?","N")
df22['Venue']=df22['Venue'].replace("NA?","N")
df22['Venue']=df22['Venue'].replace("NN","N")
df22['Venue']=df22['Venue'].replace("NH?","N")
df22['Venue']=df22['Venue'].replace("N\xa0","N")
df22['Venue']=df22['Venue'].replace("N?","N")
df22['Venue']=df22['Venue'].replace("H?","H")
df22['Venue']=df22['Venue'].replace("A?","A")
df22['Venue']=df22['Venue'].replace("n","N")
df22['Venue']=df22['Venue'].replace("?","N")
df22=df22.fillna("35")
df22=df22.astype({"PTS":float,"OPP":float})
for row in df22.itertuples():
    if row.Venue=='A':
        df22.at[row.Index,'Venue']='@'
    if row.Venue=='H' or row.Venue=='N':
        df22.at[row.Index,'Venue']='vs'
    if row.Venue=='N':
        df22.at[row.Index,'neutral']='True'
    elif 'True' not in str(row.neutral):
        df22.at[row.Index,'neutral']='False'
df22=df22.astype({"Date":"string"})
df22['Date']=df22['Date'].str.replace("-","")
from datetime import date
df22=df22.astype({"Date":float})
today=str(date.today())
today=today.replace("-","")
df22=df22.replace("Texas Christian",'TCU')
hfas={}
df22=df22.drop_duplicates()
for game in df22.itertuples():
    if game.Schl in confs[game.Year] and game.Opp in confs[game.Year]:
        
        if confs[float(game.Year)][game.Schl]!=confs[float(game.Year)][game.Opp]:
            sconf=confs[float(game.Year)][game.Schl]
            confy[sconf].append(game.PTS-game.OPP)
            oconf=confs[float(game.Year)][game.Opp]
            confy[oconf].append(game.OPP-game.PTS)
for game in df22.itertuples():
    
    if game.Schl in confs[game.Year] and game.Opp in confs[game.Year]:
        if game.neutral==True or game.neutral=='True':
            m=1
        else:
            
            sc=confs[game.Year][game.Schl]
            oc=confs[game.Year][game.Opp]
            if sc not in hfas:
                hfas[sc]=[]
            if oc not in hfas:
                hfas[oc]=[]
            if game.Venue!='@':
                hfas[sc].append(game.PTS-game.OPP)
            else:
                hfas[oc].append(game.OPP-game.PTS)
kval=20
for key in hfas:
    
    hfas[key]=(np.mean(hfas[key]))
    hfas[key]=round(hfas[key])*kval
    hfas[key]=round(hfas[key])
mean=np.mean(list(hfas.values()))
mean=round(mean,-1)
rev=0.70
for key in hfas:
    num=((1-rev)*hfas[key])+(rev*(3*kval))
    num=hfas[key]
    hfas[key]=num
l=0
w=0
for row in df22.itertuples():
    if row.Schl not in did:
        num=round(np.mean(confy[confs[row.Year][row.Schl]]))
        num=num*kval
        num=num*(1-rev)
        eloLeague.addPlayer(row.Schl,rating=1500+num)
        did.append(row.Schl)
    if row.Opp not in did:
        num=round(np.mean(confy[confs[row.Year][row.Opp]]))
        num=num*kval
        num=num*(1-rev)
        eloLeague.addPlayer(row.Opp,rating=1500+num)
        did.append(row.Opp)
keys={}
arr=[]
for i in range(2011,2015):
    url='https://ontheroadtovote.com/ncaaf/prefbs/ys/'+str(i)+"rat.txt"
    df=pd.read_csv(url)
    for row in df.itertuples():
        date=str(row.Date)
        date=date.replace("-","")
        rating=str(row.Rating)
        if "--" in str(rating) and float(row.Year)==2019:
            rating=-0.1
        rat=float(rating)
        arr.append([row.Team,rat,float(row.Year),float(date)])
url='https://ontheroadtovote.com/ncaaf/prefbs/ys/2015-2016rat.txt'
df=pd.read_csv(url)
for row in df.itertuples():
    date=str(row.Date)
    date=date.replace("-","")
    arr.append([row.Team,float(row.Rating),float(row.Year),float(date)])
url='https://ontheroadtovote.com/ncaaf/prefbs/ys/2017-2018rat.txt'
df=pd.read_csv(url)
for row in df.itertuples():
    date=str(row.Date)
    date=date.replace("-","")
    arr.append([row.Team,float(row.Rating),float(row.Year),float(date)]) 
url='https://ontheroadtovote.com/ncaaf/prefbs/ys/2019-2023rat.txt'
df=pd.read_csv(url)
for row in df.itertuples():
    date=str(row.Date)
    date=date.replace("-","")
    rating=str(row.Rating)
    if "--" in str(rating) and float(row.Year)==2019:
        rating=-0.1
    rat=float(rating)
    arr.append([row.Team,rat,float(row.Year),float(date)])
url='https://ontheroadtovote.com/ncaaf/prefbs/ys/posty.txt'
df=pd.read_csv(url)
df=df.astype({"Year":float})
df=df[df.Year>2010]
ratdf=df
for row in df.itertuples():
    date=str(row.Date)
    date=date.replace("-","")
    arr.append([row.Team,float(row.Rating),float(row.Year),float(date)])
years={}
years[2024]=[]
from datetime import date
today=str(date.today())
dates=pd.date_range(start='2024-11-03',end=today)

    
for iz in range(2024,2025):
    print(iz)
    iz=float(iz)
    for date in dates:
        time.sleep(2)
        date=date
        date=str(date)
        date=date
        date=str(date)
        url='https://teamrankings.com/ncaa-basketball/ranking/predictive-by-other/?date='+str(date)
        html=requests.get(url)
        print(html.status_code)
        html=html.text
        soup=BeautifulSoup(html)
        table=soup.find_all("table")[0]
        for tr in table.find_all("tr"):
            if 'Rating' not in str(tr):
                team=tr.find_all("td")[1]
                team=team['data-sort']
                rating=tr.find_all("td")[2].text
                arr.append([team,rating,iz,date])
df=pd.DataFrame(arr,columns=['Team','Rating','Year','Date'])
df=pd.DataFrame(arr,columns=['Team','Rating','Year','Date'])
df=df.replace("Abl Christian","Abilene Christian")
df=df.replace("AR Lit Rock","Little Rock")
df=df.replace("Alab A&M","Alabama A&M")
df=df.replace("IPFW","Purdue Fort Wayne")
df=df.replace("N Carolina","North Carolina")
df=df.replace("Hsn Christian","Houston Christian")
df=df.replace("LIU","Long Island University")
df['Team']=df['Team'].str.replace(" St"," State")
df['Team']=df['Team'].str.replace(" Stateate"," State")
df['Team']=df['Team'].str.replace(" Stateate"," State")
df=df.replace("Ark Pine Bl","Arkansas-Pine Bluff")
df=df.replace("Albany","Albany (NY)")
df=df.replace("Boston U","Boston University")
df=df.replace("S Carolina","South Carolina")
df=df.replace("Boston Col","Boston College")
df=df.replace("Beth-Cook","Bethune-Cookman")
df=df.replace("Bowling Grn","Bowling Green")
df=df.replace("Cal Baptist","California Baptist")
df['Team']=df['Team'].str.replace("CS ","Cal State ")
df['Team']=df['Team'].str.replace(" Mich"," Michigan")
df=df.replace("Central Ark","Central Arkansas")
df=df.replace("Central Conn","Central Connecticut")
df=df.replace("Cal State Nrdge","Cal State Northridge")
df=df.replace("Charl South","Charleston Southern")
df=df.replace("Coastal Car","Coastal Carolina")
df=df.replace("Col Charlestn","College of Charleston")
df['Team']=df['Team'].str.replace("E ","Eastern ")
df=df.replace("Eastern Tenn State","East Tennessee State")
df=df.replace("Eastern Michiganigan","Eastern Michigan")
df=df.replace("Eastern Carolina","East Carolina")
df=df.replace("USC","Southern California")
df=df.replace("LSU","Louisiana State")
df=df.replace("Florida Intl","Florida International")
df=df.replace("Fla Atlantic","Florida Atlantic")
df=df.replace("Fla Gulf Cst","Florida Gulf Coast")
df['Team']=df['Team'].str.replace("GA ","Georgia ")
df['Team']=df['Team'].str.replace("Geo ","George ")
df=df.replace("Grd Canyon","Grand Canyon")
df=df.replace("Loyola-Chi","Loyola (IL)")
df=df.replace("Lg Beach State","Long Beach State")
df=df.replace("Incar Word","Incarnate Word")
df=df.replace("IL-Chicago","Illinois-Chicago")
df=df.replace("Gard-Webb","Gardner-Webb")
df=df.replace("Grambling State","Grambling")
df=df.replace("Jksnville State","Jacksonville State")
df=df.replace("James Mad","James Madison")
df=df.replace("LIU-Brooklyn","Long Island University")
df=df.replace("LA Tech","Louisiana Tech")
df=df.replace("F Dickinson","Fairleigh Dickinson")
df=df.replace("Loyola-MD","Loyola (MD)")
df=df.replace("Loyola Mym","Loyola Marymount")
df=df.replace("Mass Lowell","Massachusetts-Lowell")
df=df.replace("Middle Tenn","Middle Tennessee")
df=df.replace("Miss State","Mississippi State")
df=df.replace("Miss Val State","Mississippi Valley State")
df=df.replace("Centenary","Centenary (LA)")
df=df.replace("Maryland BC","Maryland-Baltimore County")
df=df.replace("Maryland ES","Maryland-Eastern Shore")
df['Team']=df['Team'].str.replace("NC-","UNC ")
df['Team']=df['Team'].str.replace("N ","Northern ")
df['Team']=df['Team'].str.replace("Northern Dakota State","North Dakota State")
df['Team']=df['Team'].str.replace("Northern Florida","North Florida")
df['Team']=df['Team'].str.replace("Northern Hampshire","New Hampshire")
df=df.replace("Nicholls","Nicholls State")
df=df.replace("NW State","Northwestern State")
df=df.replace("NC A&T","North Carolina A&T")
df=df.replace("Neb-Omaha","Omaha")
df=df.replace("App State","Appalachian State")
df=df.replace("Miami","Miami (FL)")
df=df.replace("Queens","Queens (NY)")
df=df.replace("NorthernMex State","New Mexico State")
df=df.replace("S Indiana","Southern Indiana")
df=df.replace("S Illinois","Southern Illinois")
df=df.replace("S Alabama","South Alabama")
df=df.replace("S Carolina","South Carolina")
df=df.replace("S Florida","South Florida")
df=df.replace("S Mississippi","Southern Mississippi")
df=df.replace("S Methodist","Southern Methodist")
df=df.replace("S Dakota St","South Dakota State")
df=df.replace("S Car State","South Carolina State")
df=df.replace("Wm & Mary","William & Mary")
df=df.replace("S Utah","Southern Utah")
df=df.replace("SC Upstate","South Carolina Upstate")
df=df.replace("Rob Morris","Robert Morris")
df=df.replace("SEastern Louisiana","Southeastern Louisiana")
df=df.replace("SEastern Missouri","Southeast Missouri State")
df=df.replace("SIU Edward","Southern Illinois-Edwardsville")
df=df.replace("Sac State","Sacramento State")
df=df.replace("Sacred Hrt","Sacred Heart")
df=df.replace("Sam Hous State","Sam Houston")
df=df.replace("UNC Grnsboro","UNC Greensboro")
df=df.replace("S Dakota State","South Dakota State")
df=df.replace("Citadel","The Citadel")
df=df.replace("VA Tech","Virginia Tech")
df=df.replace("BYU","Brigham Young")
df=df.replace("VCU","Virginia Commonwealth")
df=df.replace("U Mass","Massachusetts")
df=df.replace("NC Central","North Carolina Central")
df=df.replace("W Kentucky","Western Kentucky")
df=df.replace("UCSB","UC Santa Barbara")
df=df.replace("St Peters","Saint Peter's")
df=df.replace("Neb Omaha","Omaha")
df=df.replace("St Fran (NY)","St. Francis (NY)")
df=df.replace("St Fran (PA)","Saint Francis (PA)")
df=df.replace("TNorthern State","Tennessee State")
df=df.replace("TNorthern Martin","Tennessee-Martin")
df=df.replace("UCSB","UC Santa Barbara")
df=df.replace("TX A&M-CC","Texas A&M-Corpus Christi")
df=df.replace("Central Connecticut","Central Connecticut State")
df=df.replace("VMI","Virginia Military Institute")
df=df.replace("U Penn","Pennsylvania")
df=df.replace("Wash State","Washington State")
df=df.replace("TX Southern","Texas Southern")
df=df.replace("TX A&M-Com","Texas A&M-Commerce")
df=df.replace("W Illinois","Western Illinois")
df=df.replace("Loyola Mymt","Loyola Marymount")
df=df.replace("W Georgia","West Georgia")
df=df.replace("UCF","Central Florida")
df=df.replace("W Virginia","West Virginia")
df=df.replace("TNorthern Tech","Tennessee Tech")
df=df.replace("WI-Milwkee","Milwaukee")
df=df.replace("St Marys","Saint Mary's (CA)")
df=df.replace("George Wshgtn","George Washington")
df=df.replace("St Johns","St. John's (NY)")
df=df.replace("W Carolina","Western Carolina")
df=df.replace("Cal State Bakersfld","Cal State Bakersfield")
df=df.replace("UL Monroe","Louisiana-Monroe")
df=df.replace("Northern Mex State","New Mexico State")
df=df.replace("UCSD","UC San Diego")
df=df.replace("W Michiganigan","Western Michigan")
df=df.replace("TNorthern Martin","Tennessee-Martin")
df=df.replace("WI-Grn Bay","Green Bay")
df=df.replace("TX-Pan Am","Texas-Rio Grande Valley")
df=df.replace("Detroit","Detroit Mercy")
df=df.replace("Queens (NY)","Queens (NC)")
df=df.replace("St Josephs","Saint Joseph's")
df=df.replace("St Bonavent","St. Bonaventure")
df=df.replace("Ste F Austin","Stephen F. Austin")
df=df.replace("UNC Wilmgton","UNC Wilmington")
df=df.replace("UNLV","Nevada-Las Vegas")
df=df.replace("TX El Paso","UTEP")
df=df.replace("Bowling Green","Bowling Green State")
df=df.replace("TX Christian","TCU")
df=df.replace("Youngs State","Youngstown State")
df=df.replace("Eastern Washingtn","Eastern Washington")
df=df.replace("TX El Paso","UTEP")
df=df.replace("TX-Arlington","UT Arlington")
df=df.replace("Northeastrn","Northeastern")
df=df.replace("Northern Alabama","North Alabama")
df=df.replace("Mt State Marys","Mount St. Mary's")
df=df.replace("Wins-Salem","Winston-Salem")
df=df.replace("Bowling Green","Bowling Green State")
df=df.replace("TX Christian","TCU")
df=df.replace("TN State","Tennessee State")
ratdf=df
for k in set(df.Team.tolist()):
    if k not in confs[2023]:
        print(k)
pwr={}
kval=20
df=df[df.Year>2012]
for row in df.itertuples():
    if float(row.Year) not in pwr:
        pwr[float(row.Year)]={}
    if row.Date not in pwr[float(row.Year)]:
        pwr[float(row.Year)][row.Date]={}
    if row.Team not in pwr[float(row.Year)][row.Date]:
        pwr[float(row.Year)][row.Date][row.Team]=float(row.Rating)
for t in confy:
    confy[t]=np.mean(confy[t])*kval
    confy[t]=confy[t]*(1-rev)
from datetime import date
from datetime import datetime
today=datetime.today().strftime('%Y%m%d')


oppp=df22
df22=df22[df22.Date<float(today)]
df1 = pd.DataFrame({"Date":20241101,"Schl":'h','Opp':"rt","PTS":54,'OPP':53,'Venue':'vs','Year':2024,'Notes':"notes",'neutral':"False"},index=[5000000])
df22= df22.append(df1, ignore_index = True)
for game in df22.itertuples():
    s=game.Schl
    o=game.Opp
    o=o.strip()
    s=s.strip()
    season=game.Year
    if s not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(s,rating=1500)
    if o not in eloLeague.ratingDict.keys():
        eloLeague.addPlayer(o,rating=1500)
    while (season)>currSeason: 
        print(season)
        games=0
        confz={}
        for conf in confs[game.Year]:
            if conf not in eloLeague.ratingDict.keys():
                eloLeague.addPlayer(conf,rating=1500)
        if game.Year in pwr:
            if game.Year>2013:
                last=list(pwr[game.Year-1].keys())[-1]
            
                for key in confs[game.Year-1]:
                    rat=pwr[float(game.Year-1)][last][key]
                    rat=rat*kval
                    numje=rat
                    numj=(1500)+float(confy[confs[game.Year-1][key]])
                    numj=numj+1500
                    numj=numj/2
                    numj=numj+numje
                    numj=(numj*(1-rev))+(eloLeague.ratingDict[key]*rev)
                            
                    avg=eloLeague.ratingDict[key]+numj
                    avg=avg/2
                    eloLeague.ratingDict[key]=avg
            for key in confs[game.Year]:
                pre=list(pwr[float(game.Year)].keys())[0]
                num=pwr[game.Year][pre][key]
                num=num*kval
                gh=(1500+float(confy[confs[game.Year][key]]))
                gh=gh+1500
                gh=gh/2
                gh=gh+num
                num=eloLeague.ratingDict[key]+gh
                num=num/2
                eloLeague.ratingDict[key]=num
        for key in confs[game.Year]:
            conf=confs[game.Year][key]
            if conf not in confz:
                confz[conf]=[]
            confz[conf].append(eloLeague.ratingDict[key])
        lsdf=df22[df22.Year<game.Year]
        ls=set(lsdf.Schl.tolist()+lsdf.Opp.tolist())
        for key in eloLeague.ratingDict.keys():
            if key  in confs[game.Year] and key in ls:
                num=np.mean(confz[confs[float(game.Year)][key]])
                num=num+1500
                num=num/2
                eloLeague.ratingDict[key]=(eloLeague.ratingDict[key]*(1-rev))+(num*rev)     
        currSeason+=1
    sp=0
    op=0
    s=str(game.Schl)
    o=str(game.Opp)
    o=o.strip()
    s=s.strip()
    if (game.Schl in swac or game.Schl in meac or game.Opp in meac or game.Opp in swac)and(str(o) in confs[2023] and str(s) in confs[2023])and('2023' in str(game.Year)):
        if 'True' in str(game.neutral):
            hf=0
        if game.Venue=='@' and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Opp]]
            hr=eloLeague.ratingDict[game.Schl]
            ar=eloLeague.ratingDict[game.Opp]+hf
        if game.Venue=='vs'  and 'True' not in str(game.neutral):
            hf=hfas[confs[game.Year][game.Schl]]
            hr=eloLeague.ratingDict[game.Schl]+hf
            ar=eloLeague.ratingDict[game.Opp]
        if hr>ar:
            spread=round((hr-ar)/21)
            if spread==0:
                spread=1
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            name="On "+str(game.Date)+" "+str(game.Schl)+" beats "+str(game.Opp)+" by "+str(spread)
            keys[name]=game.Date   
        if ar>hr:
            name=str(game.Schl)+" "+str(game.Venue)+" "+str(game.Opp)
            spread=round((ar-hr)/21)
            if spread==0:
                spread=1
            
            name="On "+str(game.Date)+" "+str(game.Opp)+" beats "+str(game.Schl)+" by "+str(spread)
            keys[name]=game.Date            
        
    if(game.Venue=='@'):
        if game.Opp not in confs[game.Year]:
            hf=50
    else:
        if game.Schl not in confs[game.Year]:
            hf=50
    t1r=0
    t2r=0
    k=kval
    if game.Year in pwr:
        first=list(pwr[float(game.Year)].keys())[0]
    if game.Year in pwr and game.Date!=first:
        key=game.Schl
        if key in pwr[float(game.Year)][game.Date]:
            rat=pwr[float(game.Year)][game.Date][key]
            rat=rat*kval
            numje=rat
            numj=(1500)+float(confy[confs[game.Year][key]])
            numj=numj+1500
            numj=numj/2
            numj=numj+numje
            numj=(numj*(1-rev))+(eloLeague.ratingDict[key]*rev)
                            
            avg=eloLeague.ratingDict[key]+numj
            avg=avg/2
            eloLeague.ratingDict[key]=avg
        key=game.Opp
        if key in pwr[float(game.Year)][game.Date]:
            rat=pwr[float(game.Year)][game.Date][key]
            rat=rat*kval
            numje=rat
            numj=(1500)+float(confy[confs[game.Year][key]])
            numj=numj+1500
            numj=numj/2
            numj=numj+numje
            numj=(numj*(1-rev))+(eloLeague.ratingDict[key]*rev)
                            
            avg=eloLeague.ratingDict[key]+numj
            avg=avg/2
            eloLeague.ratingDict[key]=avg
    if(game.Venue!='@'):
        if game.Schl in confs[game.Year]:
            hf=hfas[confs[game.Year][game.Schl]]
    if(game.Venue=='@'): 
        if game.Opp in confs[game.Year]:
            hf=hfas[confs[game.Year][game.Opp]]
    if 'True'  in str(game.neutral):
        hf=0
    winnerHomez=False
    if game.Venue=='@':
        if game.PTS<game.OPP:
            winnerHomez=True
        t2e=eloLeague.ratingDict[game.Opp]+hf
        t1e=eloLeague.ratingDict[game.Schl]
    else:
        if game.PTS>game.OPP:
            winnerHomez=True
        t1e=eloLeague.ratingDict[game.Schl]+hf
        t2e=eloLeague.ratingDict[game.Opp]
    if(game.PTS>game.OPP):
        df22.at[game.Index,'team1elopre']=t1e
        df22.at[game.Index,'team2elopre']=t2e
        eloLeague.gameOver(s,o,winnerHomez,game.neutral,game.PTS,game.OPP,game.Year,game.Date,hf,k)
    if(game.PTS<game.OPP):
        df22.at[game.Index,'team1elopre']=t1e
        df22.at[game.Index,'team2elopre']=t2e
        eloLeague.gameOver(o,s,winnerHomez,game.neutral,game.OPP,game.PTS,game.Year,game.Date,hf,k)
    d1=(s in confs[game.Year] or o in confs[game.Year])
    for i in range(9,50):
        spread=abs((t1e-t2e)/float(i))
        spread=round(spread)
        if spread==0:
            if t1e>t2e:
                spread=1
            else:
                spread=-1
        ms=(float(game.PTS)-float(game.OPP))-spread
        
        msz = np.square(ms)
        if d1==True:
            msqe[str(i)].add(msz)
    if game.Year in pwr:
        last=list(pwr[float(game.Year)].keys())[-1]
        
import numpy as np
msqez={}
for i in range(9,50):
    msqez[str(i)]=0
for i in range(9,50):
    msqez[str(i)]=sum(msqe[str(i)])/len(msqe[str(i)])
mas=min(msqez, key=msqez.get)
print("--- %s seconds ---" % (time.time() - start_time))

done files
2025
200
364
go through games
1999-20001
1998-991
1997-981
1996-971
1995-961
1994-953
1993-943
1992-933
1991-923
1990-913
1989-903
1988-893
1987-883
1986-873
1985-863
1984-853
1983-844
1982-834
1981-824
1980-814
1979-804
1978-794
1977-784
1976-774
1975-764
1974-754
1973-744
1972-734
1971-724
1970-714
1969-702
1968-692
1967-682
1966-67
1965-662
1964-652
1963-642
1962-632
1961-622
1960-612
1959-602
1958-592
1957-582
1956-572
1955-562
1954-552
1953-542
1952-532
1951-522
1950-512
1949-502
[11115.0, 'Dayton', "Saint Peter's", 79.0, 71.0, 'N', 1956.0, '', False]
[11113.0, "Saint Joseph's", "Saint Peter's", 83.0, 72.0, 'N', 1957.0, '', False]
[11111.0, 'Florida International', 'Kansas City', 76.0, 79.0, 'H', 1987.0, '', False]
[11111.0, 'South Alabama', 'Kansas City', 83.0, 85.0, 'A', 1987.0, '', False]
[11111.0, 'Arkansas State', 'Kansas City', 82.0, 68.0, 'A', 1987.0, '', False]
[11111.0, 'Ball State', 'Kansas City', 76.0, 71.0, 'H', 1987.0, '', False]
[11111.0, 'Louisiana Tech', 'Kansas City', 83.0, 71.0, 'H', 1987.0, '', False]
[11111.0, 'Texas-Rio Grande Valley', 'Kansas City', 80.0, 83.0, 'H', 1987.0, '', False]
[11111.0, 'U.S. International', 'Kansas City', 68.0, 87.0, 'A', 1987.0, '', False]
[11111.0, 'Morehead State', 'Kansas City', 77.0, 81.0, 'H', 1987.0, '', False]
[11111.0, 'Florida International', 'Kansas City', 74.0, 84.0, 'A', 1987.0, '', False]
[11111.0, 'Mississippi Valley State', 'Kansas City', 58.0, 73.0, 'A', 1987.0, '', False]
[11111.0, 'Creighton', 'Kansas City', 60.0, 45.0, 'H', 1987.0, '', False]
[11111.0, 'Ball State', 'Kansas City', 62.0, 56.0, 'A', 1987.0, '', False]
[11111.0, 'Centenary (LA)', 'Kansas City', 88.0, 75.0, 'A', 1987.0, '', False]
[11111.0, 'Oklahoma State', 'Kansas City', 72.0, 67.0, 'A', 1987.0, '', False]
[11111.0, 'Tennessee State', 'Kansas City', 74.0, 68.0, 'A', 1987.0, '', False]
[11111.0, 'Tennessee Tech', 'Kansas City', 56.0, 54.0, 'H', 1987.0, '', False]
[11111.0, 'Texas-Rio Grande Valley', 'Kansas City', 59.0, 58.0, 'A', 1987.0, '', False]
[11111.0, 'Arkansas State', 'Kansas City', 75.0, 58.0, 'A', 1987.0, '', False]
[11111.0, 'Alcorn State', 'Kansas City', 62.0, 59.0, 'A', 1987.0, '', False]
[11111.0, 'Jackson State', 'Kansas City', 59.0, 55.0, 'N', 1987.0, '', False]
[11111.0, 'Chattanooga', 'Kansas City', 64.0, 55.0, 'N', 1987.0, '', False]
[11111.0, 'U.S. International', 'Kansas City', 68.0, 70.0, 'H', 1987.0, '', False]
[11111.0, 'San Diego', 'Kansas City', 69.0, 60.0, 'H', 1987.0, '', False]
[11111.0, 'Louisiana Tech', 'Kansas City', 70.0, 58.0, 'A', 1987.0, '', False]
[11111.0, 'Prairie View', 'Kansas City', 62.0, 77.0, 'A', 1987.0, '', False]
[11111.0, 'Kansas State', 'Kansas City', 81.0, 54.0, 'H', 1987.0, '', False]
[11111.0, 'Rice', 'Kansas City', 62.0, 60.0, 'A', 1987.0, '', False]
[11111.0, 'Kansas City', 'Cleveland State', 61.0, 99.0, 'A', 1988.0, '', False]
[11111.0, 'Kansas City', 'Youngstown State', 77.0, 74.0, 'A', 1988.0, '', False]
[11111.0, 'Kansas City', 'Alcorn State', 92.0, 68.0, 'H', 1988.0, '', False]
[11111.0, 'Kansas City', 'American', 75.0, 80.0, 'A', 1988.0, '', False]
[11111.0, 'Kansas City', 'Texas-Rio Grande Valley', 59.0, 62.0, 'A', 1988.0, '', False]
[11111.0, 'Kansas City', 'South Alabama', 72.0, 91.0, 'A', 1988.0, '', False]
[11111.0, 'Kansas City', 'U.S. International', 96.0, 102.0, 'A', 1988.0, '', False]
[11111.0, 'Kansas City', 'Grambling', 71.0, 79.0, 'A', 1988.0, '', False]
[11111.0, 'Kansas City', 'Chicago State', 63.0, 71.0, 'H', 1988.0, '', False]
[11111.0, 'Kansas City', 'Arkansas State', 50.0, 69.0, 'A', 1988.0, '', False]
[11111.0, 'Kansas City', 'Northern Illinois', 76.0, 90.0, 'A', 1988.0, '', False]
[11111.0, 'Kansas City', 'Samford', 77.0, 51.0, 'H', 1988.0, '', False]
[11111.0, 'Kansas City', 'Tennessee State', 69.0, 59.0, 'A', 1988.0, '', False]
[11111.0, 'Kansas City', 'Arkansas State', 58.0, 80.0, 'H', 1988.0, '', False]
[11111.0, 'Kansas City', 'Texas-Rio Grande Valley', 54.0, 56.0, 'H', 1988.0, '', False]
[11111.0, 'Kansas City', 'Cleveland State', 61.0, 87.0, 'H', 1988.0, '', False]
[11111.0, 'Kansas City', 'Grambling', 80.0, 65.0, 'H', 1988.0, '', False]
[11111.0, 'Texas Southern', 'Kansas City', 76.0, 77.0, 'A', 1988.0, '', False]
[11111.0, 'Kansas City', 'Cincinnati', 63.0, 58.0, 'A', 1988.0, '', False]
[11111.0, 'Kansas City', 'Morehead State', 67.0, 65.0, 'H', 1988.0, '', False]
[11111.0, 'Kansas City', 'Oklahoma State', 78.0, 109.0, 'A', 1988.0, '', False]
[11111.0, 'Kansas City', 'Kansas State', 57.0, 83.0, 'H', 1988.0, '', False]
[11111.0, 'Kansas City', 'Tulsa', 49.0, 61.0, 'A', 1988.0, '', False]
[11111.0, 'Kansas City', 'Tennessee Tech', 55.0, 58.0, 'H', 1988.0, '', False]
[11111.0, 'Kansas City', 'Saint Louis', 51.0, 67.0, 'A', 1988.0, '', False]
[11111.0, 'American', 'College of Charleston', 85.0, 67.0, 'H', 1989.0, '', False]
[11111.0, 'Charleston Southern', 'College of Charleston', 52.0, 66.0, 'H', 1989.0, '', False]
[11111.0, 'Austin Peay', 'College of Charleston', 73.0, 87.0, 'H', 1989.0, '', False]
[11111.0, 'College of Charleston', 'Coppin State', 49.0, 55.0, 'H', 1989.0, '', False]
[11111.0, 'College of Charleston', 'UNC Asheville', 73.0, 83.0, 'A', 1989.0, '', False]
[11111.0, 'College of Charleston', 'Radford', 76.0, 63.0, 'A', 1989.0, '', False]
[11111.0, 'College of Charleston', 'Winthrop', 80.0, 71.0, 'A', 1989.0, '', False]
[11111.0, 'College of Charleston', 'UNC Wilmington', 47.0, 59.0, 'A', 1989.0, '', False]
[11111.0, 'Augusta', 'College of Charleston', 61.0, 82.0, 'H', 1989.0, '', False]
[11111.0, 'College of Charleston', 'South Carolina State', 74.0, 84.0, 'H', 1989.0, '', False]
[11111.0, 'Charleston Southern', 'College of Charleston', 51.0, 54.0, 'A', 1989.0, '', False]
[11111.0, 'Augusta', 'College of Charleston', 53.0, 71.0, 'A', 1989.0, '', False]
[11111.0, 'Campbell', 'College of Charleston', 67.0, 84.0, 'H', 1989.0, '', False]
[11111.0, 'Coastal Carolina', 'College of Charleston', 56.0, 71.0, 'A', 1989.0, '', False]
[11111.0, 'College of Charleston', 'The Citadel', 81.0, 56.0, 'A', 1989.0, '', False]
[11111.0, 'College of Charleston', 'UNC Asheville', 81.0, 70.0, 'H', 1989.0, '', False]
[11111.0, 'College of Charleston', 'Liberty', 91.0, 66.0, 'H', 1989.0, '', False]
[11111.0, 'College of Charleston', 'Radford', 88.0, 65.0, 'H', 1989.0, '', False]
[11111.0, 'Brown', 'College of Charleston', 63.0, 64.0, 'A', 1989.0, '', False]
[11111.0, 'Campbell', 'College of Charleston', 56.0, 53.0, 'A', 1989.0, '', False]
[11111.0, 'College of Charleston', 'Maryland-Eastern Shore', 66.0, 55.0, 'H', 1989.0, '', False]
[11111.0, 'Coastal Carolina', 'College of Charleston', 82.0, 67.0, 'H', 1989.0, '', False]
[11111.0, 'College of Charleston', 'Morgan State', 70.0, 66.0, 'A', 1989.0, '', False]
[11111.0, 'Brooklyn', 'College of Charleston', 44.0, 80.0, 'H', 1989.0, '', False]
[11111.0, 'College of Charleston', "Saint Peter's", 53.0, 69.0, 'A', 1989.0, '', False]
[11111.0, 'American', 'College of Charleston', 80.0, 72.0, 'A', 1990.0, '', False]
[11111.0, 'Charleston Southern', 'College of Charleston', 63.0, 82.0, 'A', 1990.0, '', False]
[11111.0, 'Brooklyn', 'College of Charleston', 61.0, 66.0, 'A', 1990.0, '', False]
[11111.0, 'Radford', 'College of Charleston', 62.0, 58.0, 'A', 1990.0, '', False]
[11111.0, 'UNC Asheville', 'College of Charleston', 62.0, 56.0, 'H', 1990.0, '', False]
[11111.0, 'Augusta', 'College of Charleston', 67.0, 71.0, 'A', 1990.0, '', False]
[11111.0, 'South Carolina State', 'College of Charleston', 56.0, 78.0, 'A', 1990.0, '', False]
[11111.0, 'Campbell', 'College of Charleston', 55.0, 56.0, 'A', 1990.0, '', False]
[11111.0, 'Charleston Southern', 'College of Charleston', 58.0, 60.0, 'H', 1990.0, '', False]
[11111.0, 'Liberty', 'College of Charleston', 38.0, 49.0, 'H', 1990.0, '', False]
[11111.0, 'Radford', 'College of Charleston', 65.0, 57.0, 'H', 1990.0, '', False]
[11111.0, 'Campbell', 'College of Charleston', 59.0, 53.0, 'H', 1990.0, '', False]
[11111.0, 'Coastal Carolina', 'College of Charleston', 57.0, 60.0, 'A', 1990.0, '', False]
[11111.0, 'Richmond', 'College of Charleston', 85.0, 54.0, 'H', 1990.0, '', False]
[11111.0, 'Wyoming', 'College of Charleston', 84.0, 59.0, 'H', 1990.0, '', False]
[11111.0, 'UNC Asheville', 'College of Charleston', 69.0, 70.0, 'A', 1990.0, '', False]
[11111.0, 'Winthrop', 'College of Charleston', 56.0, 64.0, 'A', 1990.0, '', False]
[11111.0, 'UNC Wilmington', 'College of Charleston', 58.0, 63.0, 'H', 1990.0, '', False]
[11111.0, 'East Carolina', 'College of Charleston', 65.0, 51.0, 'H', 1990.0, '', False]
[11111.0, 'Coppin State', 'College of Charleston', 78.0, 60.0, 'H', 1990.0, '', False]
[11111.0, 'Maryland-Eastern Shore', 'College of Charleston', 80.0, 74.0, 'H', 1990.0, '', False]
[11111.0, 'The Citadel', 'College of Charleston', 65.0, 72.0, 'A', 1990.0, '', False]
[11111.0, 'Coastal Carolina', 'College of Charleston', 56.0, 54.0, 'H', 1990.0, '', False]
[11111.0, 'Winthrop', 'College of Charleston', 57.0, 64.0, 'H', 1990.0, '', False]
[11111.0, 'Connecticut', 'College of Charleston', 68.0, 52.0, 'H', 1990.0, '', False]
[11111.0, 'Texas', 'Oral Roberts', 128.0, 108.0, 'H', 1991.0, '', False]
[11111.0, 'Tulsa', 'Oral Roberts', 78.0, 62.0, 'A', 1991.0, '', False]
[11111.0, 'Bethune-Cookman', 'Oral Roberts', 85.0, 106.0, 'A', 1991.0, '', False]
[11111.0, 'Prairie View', 'Oral Roberts', 67.0, 108.0, 'A', 1991.0, '', False]
[11111.0, 'Mississippi Valley State', 'Oral Roberts', 96.0, 92.0, 'A', 1991.0, '', False]
[11111.0, 'Oklahoma State', 'Oral Roberts', 81.0, 61.0, 'A', 1991.0, '', False]
[11111.0, 'Oklahoma', 'Oral Roberts', 130.0, 89.0, 'H', 1991.0, '', False]
[11111.0, 'Southern Methodist', 'Oral Roberts', 92.0, 80.0, 'A', 1991.0, '', False]
[11111.0, 'Prairie View', 'Oral Roberts', 90.0, 101.0, 'H', 1991.0, '', False]
[11111.0, 'Mississippi', 'Oral Roberts', 86.0, 73.0, 'H', 1991.0, '', False]
[11111.0, 'East Tennessee State', 'Oral Roberts', 83.0, 85.0, 'A', 1991.0, '', False]
[11111.0, 'Middle Tennessee', 'Oral Roberts', 100.0, 78.0, 'H', 1991.0, '', False]
[11111.0, 'Stephen F. Austin', 'Oral Roberts', 51.0, 71.0, 'A', 1991.0, '', False]
[11111.0, 'UCLA', 'Oral Roberts', 113.0, 62.0, 'H', 1991.0, '', False]
[11111.0, 'Oregon', 'Oral Roberts', 105.0, 73.0, 'H', 1991.0, '', False]
[11111.0, 'Oregon State', 'Oral Roberts', 112.0, 87.0, 'H', 1991.0, '', False]
[11111.0, 'Weber State', 'Oral Roberts', 115.0, 80.0, 'H', 1991.0, '', False]
[11111.0, 'Utah State', 'Oral Roberts', 109.0, 97.0, 'N', 1991.0, '', False]
[11111.0, 'Princeton', 'Oral Roberts', 64.0, 55.0, 'N', 1991.0, '', False]
[11111.0, 'South Florida', 'Oral Roberts', 92.0, 99.0, 'N', 1991.0, '', False]
[11111.0, 'Marshall', 'Oral Roberts', 61.0, 82.0, 'H', 1991.0, '', False]
[11111.0, 'Clemson', 'Oral Roberts', 96.0, 76.0, 'H', 1991.0, '', False]
[11111.0, 'East Tennessee State', 'Oral Roberts', 109.0, 93.0, 'H', 1991.0, '', False]
[11111.0, 'Tennessee State', 'Oral Roberts', 85.0, 96.0, 'A', 1991.0, '', False]
[11111.0, 'Stephen F. Austin', 'Oral Roberts', 86.0, 80.0, 'H', 1991.0, '', False]
[11111.0, 'Mississippi Valley State', 'Oral Roberts', 105.0, 87.0, 'H', 1991.0, '', False]
[11111.0, 'Oklahoma State', 'Oral Roberts', 114.0, 85.0, 'H', 1992.0, '', False]
[11111.0, 'Mississippi Valley State', 'Oral Roberts', 97.0, 86.0, 'A', 1992.0, '', False]
[11111.0, 'Baylor', 'Oral Roberts', 124.0, 102.0, 'H', 1992.0, '', False]
[11111.0, 'East Tennessee State', 'Oral Roberts', 117.0, 81.0, 'H', 1992.0, '', False]
[11111.0, 'Southern Methodist', 'Oral Roberts', 102.0, 95.0, 'A', 1992.0, '', False]
[11111.0, 'Texas Southern', 'Oral Roberts', 103.0, 80.0, 'H', 1992.0, '', False]
[11111.0, 'Texas Tech', 'Oral Roberts', 117.0, 99.0, 'H', 1992.0, '', False]
[11111.0, 'Mississippi', 'Oral Roberts', 95.0, 79.0, 'H', 1992.0, '', False]
[11111.0, 'Prairie View', 'Oral Roberts', 82.0, 84.0, 'A', 1992.0, '', False]
[11111.0, 'Middle Tennessee', 'Oral Roberts', 93.0, 76.0, 'H', 1992.0, '', False]
[11111.0, 'Mississippi Valley State', 'Oral Roberts', 90.0, 86.0, 'H', 1992.0, '', False]
[11111.0, 'Oklahoma State', 'Oral Roberts', 90.0, 45.0, 'A', 1992.0, '', False]
[11111.0, 'Pepperdine', 'Oral Roberts', 116.0, 76.0, 'H', 1992.0, '', False]
[11111.0, 'Loyola Marymount', 'Oral Roberts', 88.0, 76.0, 'H', 1992.0, '', False]
[11111.0, 'San Diego', 'Oral Roberts', 112.0, 78.0, 'H', 1992.0, '', False]
[11111.0, 'Louisville', 'Oral Roberts', 122.0, 76.0, 'H', 1992.0, '', False]
[11111.0, 'San Diego', 'Oral Roberts', 88.0, 92.0, 'A', 1992.0, '', False]
[11111.0, 'Tulsa', 'Oral Roberts', 103.0, 69.0, 'A', 1992.0, '', False]
[11111.0, 'Middle Tennessee', 'Oral Roberts', 75.0, 78.0, 'A', 1992.0, '', False]
[11111.0, 'Stephen F. Austin', 'Oral Roberts', 78.0, 75.0, 'H', 1992.0, '', False]
[11111.0, 'Kansas', 'Oral Roberts', 140.0, 72.0, 'H', 1992.0, '', False]
[11111.0, 'Tulsa', 'Oral Roberts', 104.0, 81.0, 'H', 1992.0, '', False]
[11111.0, 'Southern Methodist', 'Oral Roberts', 112.0, 73.0, 'H', 1992.0, '', False]
[11111.0, 'Texas Southern', 'Oral Roberts', 76.0, 82.0, 'A', 1992.0, '', False]
[11111.0, 'Indiana State', 'Oral Roberts', 71.0, 67.0, 'H', 1992.0, '', False]
[11111.0, 'Texas', 'Oral Roberts', 136.0, 97.0, 'A', 1992.0, '', False]
[11111.0, 'Southern', 'Arkansas-Pine Bluff', 91.0, 69.0, 'H', 1996.0, '', False]
[11111.0, 'Southern', 'Arkansas-Pine Bluff', 77.0, 76.0, 'A', 1996.0, '', False]
[11111.0, 'Alcorn State', 'Arkansas-Pine Bluff', 80.0, 81.0, 'A', 1996.0, '', False]
[11111.0, 'Mississippi Valley State', 'Arkansas-Pine Bluff', 116.0, 68.0, 'H', 1996.0, '', False]
[11111.0, 'Little Rock', 'Arkansas-Pine Bluff', 75.0, 59.0, 'H', 1996.0, '', False]
[11111.0, 'NC State', 'Arkansas-Pine Bluff', 83.0, 23.0, 'H', 1996.0, '', False]
[11111.0, 'Kansas State', 'Arkansas-Pine Bluff', 69.0, 63.0, 'H', 1996.0, '', False]
[11111.0, 'Mississippi Valley State', 'Arkansas-Pine Bluff', 92.0, 73.0, 'A', 1996.0, '', False]
[11111.0, 'Little Rock', 'Arkansas-Pine Bluff', 85.0, 77.0, 'A', 1996.0, '', False]
[11111.0, 'Alabama', 'Arkansas-Pine Bluff', 95.0, 44.0, 'H', 1996.0, '', False]
[11111.0, 'Alcorn State', 'Arkansas-Pine Bluff', 87.0, 84.0, 'H', 1996.0, '', False]
[11111.0, 'Auburn', 'Arkansas-Pine Bluff', 89.0, 56.0, 'H', 1996.0, '', False]
[11111.0, 'Houston', 'Arkansas-Pine Bluff', 64.0, 66.0, 'H', 1996.0, '', False]
[11111.0, 'Belmont', 'Chattanooga', 46.0, 71.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'Furman', 56.0, 72.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'Navy', 55.0, 91.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'Valparaiso', 61.0, 95.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'Georgia Southern', 64.0, 56.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'Liberty', 63.0, 79.0, 'H', 1997.0, '', False]
[11111.0, 'Belmont', 'Radford', 67.0, 56.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'Oral Roberts', 60.0, 72.0, 'H', 1997.0, '', False]
[11111.0, 'Belmont', 'Chattanooga', 67.0, 64.0, 'H', 1997.0, '', False]
[11111.0, 'Belmont', 'Radford', 76.0, 85.0, 'H', 1997.0, '', False]
[11111.0, 'Belmont', 'UNC Greensboro', 66.0, 63.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'Campbell', 60.0, 74.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'Winthrop', 72.0, 58.0, 'H', 1997.0, '', False]
[11111.0, 'Belmont', 'San Francisco', 46.0, 66.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'Santa Clara', 44.0, 70.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'Butler', 54.0, 85.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'Valparaiso', 62.0, 78.0, 'H', 1997.0, '', False]
[11111.0, 'Belmont', 'UNC Greensboro', 77.0, 72.0, 'H', 1997.0, '', False]
[11111.0, 'Belmont', 'Mississippi', 59.0, 100.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'Liberty', 77.0, 51.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'South Carolina', 61.0, 72.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'Samford', 64.0, 61.0, 'H', 1997.0, '', False]
[11111.0, 'Belmont', 'Murray State', 59.0, 79.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'Oral Roberts', 69.0, 85.0, 'A', 1997.0, '', False]
[11111.0, 'Belmont', 'Middle Tennessee', 38.0, 58.0, 'N', 1997.0, '', False]
[11111.0, 'Oakland', 'Southern Utah', 79.0, 104.0, 'A', 1998.0, '', False]
[11111.0, 'Valparaiso', 'Belmont', 74.0, 62.0, 'A', 1998.0, '', False]
[11111.0, 'Oakland', 'Oral Roberts', 68.0, 80.0, 'A', 1998.0, '', False]
[11111.0, 'Elon', 'High Point', 75.0, 83.0, 'A', 1998.0, '', False]
[11111.0, 'Kansas City', 'Oakland', 78.0, 90.0, 'H', 1998.0, '', False]
[11111.0, 'Charleston Southern', 'Elon', 81.0, 93.0, 'A', 1998.0, '', False]
[11111.0, 'Coastal Carolina', 'High Point', 64.0, 81.0, 'A', 1998.0, '', False]
[11111.0, 'IUPUI', 'Belmont', 69.0, 79.0, 'A', 1998.0, '', False]
[11111.0, 'High Point', 'Liberty', 55.0, 72.0, 'A', 1998.0, '', False]
[11111.0, 'Elon', 'Radford', 71.0, 72.0, 'H', 1998.0, '', False]
[11111.0, 'Chicago State', 'Oakland', 63.0, 79.0, 'A', 1998.0, '', False]
[11111.0, 'IUPUI', 'Oakland', 77.0, 80.0, 'H', 1998.0, '', False]
[11111.0, 'High Point', 'Radford', 70.0, 88.0, 'A', 1998.0, '', False]
[11111.0, 'Elon', 'Liberty', 71.0, 78.0, 'A', 1998.0, '', False]
[11111.0, 'Alabama A&M', 'Belmont', 68.0, 86.0, 'A', 1998.0, '', False]
[11111.0, 'Oakland', 'Western Illinois', 96.0, 91.0, 'H', 1998.0, '', False]
[11111.0, 'High Point', 'Winthrop', 68.0, 86.0, 'H', 1998.0, '', False]
[11111.0, 'Elon', 'UNC Asheville', 73.0, 72.0, 'A', 1998.0, '', False]
[11111.0, 'Oakland', 'Southern Utah', 77.0, 66.0, 'H', 1998.0, '', False]
[11111.0, 'High Point', 'UNC Asheville', 66.0, 69.0, 'H', 1998.0, '', False]
[11111.0, 'Elon', 'Winthrop', 72.0, 73.0, 'A', 1998.0, '', False]
[11111.0, 'Middle Tennessee', 'Belmont', 75.0, 79.0, 'A', 1998.0, '', False]
[11111.0, 'Charleston Southern', 'High Point', 79.0, 76.0, 'H', 1998.0, '', False]
[11111.0, 'Coastal Carolina', 'Elon', 82.0, 85.0, 'A', 1998.0, '', False]
[11111.0, 'Elon', 'High Point', 73.0, 65.0, 'H', 1998.0, '', False]
[11111.0, 'Tennessee State', 'Belmont', 75.0, 78.0, 'H', 1998.0, '', False]
[11111.0, 'Oakland', 'Valparaiso', 68.0, 72.0, 'A', 1998.0, '', False]
[11111.0, 'High Point', 'Radford', 66.0, 76.0, 'H', 1998.0, '', False]
[11111.0, 'Elon', 'Liberty', 75.0, 73.0, 'H', 1998.0, '', False]
[11111.0, 'Austin Peay', 'Belmont', 82.0, 84.0, 'H', 1998.0, '', False]
[11111.0, 'Oakland', 'Youngstown State', 89.0, 87.0, 'H', 1998.0, '', False]
[11111.0, 'High Point', 'Liberty', 93.0, 89.0, 'H', 1998.0, '', False]
[11111.0, 'Elon', 'Radford', 73.0, 89.0, 'A', 1998.0, '', False]
[11111.0, 'IUPUI', 'Oakland', 73.0, 63.0, 'A', 1998.0, '', False]
[11111.0, 'High Point', 'UNC Asheville', 78.0, 89.0, 'A', 1998.0, '', False]
[11111.0, 'East Tennessee State', 'Belmont', 96.0, 85.0, 'H', 1998.0, '', False]
[11111.0, 'Elon', 'Winthrop', 72.0, 81.0, 'H', 1998.0, '', False]
[11111.0, 'IUPUI', 'Belmont', 85.0, 70.0, 'H', 1998.0, '', False]
[11111.0, 'Kansas City', 'Oakland', 81.0, 88.0, 'A', 1998.0, '', False]
[11111.0, 'High Point', 'Winthrop', 66.0, 74.0, 'A', 1998.0, '', False]
[11111.0, 'Elon', 'UNC Asheville', 63.0, 72.0, 'H', 1998.0, '', False]
[11111.0, 'Oakland', 'Oral Roberts', 89.0, 94.0, 'H', 1998.0, '', False]
[11111.0, 'Coastal Carolina', 'High Point', 90.0, 81.0, 'H', 1998.0, '', False]
[11111.0, 'Valparaiso', 'Belmont', 71.0, 68.0, 'H', 1998.0, '', False]
[11111.0, 'Charleston Southern', 'Elon', 84.0, 79.0, 'H', 1998.0, '', False]
[11111.0, 'Chicago State', 'Oakland', 61.0, 68.0, 'H', 1998.0, '', False]
[11111.0, 'Coastal Carolina', 'Elon', 61.0, 64.0, 'H', 1998.0, '', False]
[11111.0, 'Oakland', 'Valparaiso', 72.0, 76.0, 'H', 1998.0, '', False]
[11111.0, 'Hofstra', 'Belmont', 67.0, 44.0, 'H', 1998.0, '', False]
[11111.0, 'Charleston Southern', 'High Point', 75.0, 77.0, 'A', 1998.0, '', False]
[11111.0, 'Winthrop', 'Belmont', 64.0, 67.0, 'H', 1998.0, '', False]
[11111.0, 'Oakland', 'Youngstown State', 55.0, 71.0, 'A', 1998.0, '', False]
[11111.0, 'High Point', 'Utah', 42.0, 73.0, 'A', 1998.0, '', False]

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

2024
200
Mercyhurst
St. Francis (NY)
Savannah State
IU Indy
Hartford
West Georgia
1950.0
1951.0
1952.0
1953.0
1954.0
1955.0
1956.0
1957.0
1958.0
1959.0
1960.0
1961.0
1962.0
1963.0
1964.0
1965.0
1966.0
1967.0
1968.0
1969.0
1970.0
1971.0
1972.0
1973.0
1974.0
1975.0
1976.0
1977.0
1978.0
1979.0
1980.0
1981.0
1982.0
1983.0
1984.0
1985.0
1986.0
1987.0
1988.0
1989.0
1990.0
1991.0
1992.0
1993.0
1994.0
1995.0
1996.0
1997.0
1998.0
1999.0
2000.0
2001.0
2002.0
2003.0
2004.0
2005.0
2006.0
2007.0
2008.0
2009.0
2010.0
2011.0
2012.0
2013.0
2014.0
2015.0
2016.0
2017.0
2018.0
2019.0
2020.0
2021.0
2022.0
2023.0
2024.0

KeyError: 20241101.0

In [8]:
set(pwr[game.Year][pre].keys())

{'Abilene Christian',
 'Air Force',
 'Akron',
 'Alabama',
 'Alabama A&M',
 'Alabama State',
 'Albany (NY)',
 'Alcorn State',
 'American',
 'Appalachian State',
 'Arizona',
 'Arizona State',
 'Arkansas',
 'Arkansas State',
 'Arkansas-Pine Bluff',
 'Army',
 'Auburn',
 'Austin Peay',
 'Ball State',
 'Baylor',
 'Bellarmine',
 'Belmont',
 'Bethune-Cookman',
 'Binghamton',
 'Boise State',
 'Boston College',
 'Boston University',
 'Bowling Green State',
 'Bradley',
 'Brigham Young',
 'Brown',
 'Bryant',
 'Bucknell',
 'Buffalo',
 'Butler',
 'Cal Poly',
 'Cal State Bakersfield',
 'Cal State Fullerton',
 'Cal State Northridge',
 'California',
 'California Baptist',
 'Campbell',
 'Canisius',
 'Central Arkansas',
 'Central Connecticut State',
 'Central Florida',
 'Central Michigan',
 'Charleston Southern',
 'Charlotte',
 'Chattanooga',
 'Chicago State',
 'Cincinnati',
 'Clemson',
 'Cleveland State',
 'Coastal Carolina',
 'Colgate',
 'College of Charleston',
 'Colorado',
 'Colorado State',
 'Columbia',
 'Connecticut',
 'Coppin State',
 'Cornell',
 'Creighton',
 'Dartmouth',
 'Davidson',
 'Dayton',
 'DePaul',
 'Delaware',
 'Delaware State',
 'Denver',
 'Detroit Mercy',
 'Drake',
 'Drexel',
 'Duke',
 'Duquesne',
 'East Carolina',
 'East Tennessee State',
 'Eastern Illinois',
 'Eastern Kentucky',
 'Eastern Michigan',
 'Eastern Washington',
 'Elon',
 'Evansville',
 'Fairfield',
 'Fairleigh Dickinson',
 'Florida',
 'Florida A&M',
 'Florida Atlantic',
 'Florida Gulf Coast',
 'Florida International',
 'Florida State',
 'Fordham',
 'Fresno State',
 'Furman',
 'Gardner-Webb',
 'George Mason',
 'George Washington',
 'Georgetown',
 'Georgia',
 'Georgia Southern',
 'Georgia State',
 'Georgia Tech',
 'Gonzaga',
 'Grambling',
 'Grand Canyon',
 'Green Bay',
 'Hampton',
 'Harvard',
 'Hawaii',
 'High Point',
 'Hofstra',
 'Holy Cross',
 'Houston',
 'Houston Christian',
 'Howard',
 'IU Indy',
 'Idaho',
 'Idaho State',
 'Illinois',
 'Illinois State',
 'Illinois-Chicago',
 'Incarnate Word',
 'Indiana',
 'Indiana State',
 'Iona',
 'Iowa',
 'Iowa State',
 'Jackson State',
 'Jacksonville',
 'Jacksonville State',
 'James Madison',
 'Kansas',
 'Kansas City',
 'Kansas State',
 'Kennesaw State',
 'Kent State',
 'Kentucky',
 'La Salle',
 'Lafayette',
 'Lamar',
 'Le Moyne',
 'Lehigh',
 'Liberty',
 'Lindenwood',
 'Lipscomb',
 'Little Rock',
 'Long Beach State',
 'Long Island University',
 'Longwood',
 'Louisiana',
 'Louisiana State',
 'Louisiana Tech',
 'Louisiana-Monroe',
 'Louisville',
 'Loyola (IL)',
 'Loyola (MD)',
 'Loyola Marymount',
 'Maine',
 'Manhattan',
 'Marist',
 'Marquette',
 'Marshall',
 'Maryland',
 'Maryland-Baltimore County',
 'Maryland-Eastern Shore',
 'Massachusetts',
 'Massachusetts-Lowell',
 'McNeese State',
 'Memphis',
 'Mercer',
 'Mercyhurst',
 'Merrimack',
 'Miami (FL)',
 'Miami (OH)',
 'Michigan',
 'Michigan State',
 'Middle Tennessee',
 'Milwaukee',
 'Minnesota',
 'Mississippi',
 'Mississippi State',
 'Mississippi Valley State',
 'Missouri',
 'Missouri State',
 'Monmouth',
 'Montana',
 'Montana State',
 'Morehead State',
 'Morgan State',
 "Mount St. Mary's",
 'Murray State',
 'NC State',
 'NJIT',
 'Navy',
 'Nebraska',
 'Nevada',
 'Nevada-Las Vegas',
 'New Hampshire',
 'New Mexico',
 'New Mexico State',
 'New Orleans',
 'Niagara',
 'Nicholls State',
 'Norfolk State',
 'North Alabama',
 'North Carolina',
 'North Carolina A&T',
 'North Carolina Central',
 'North Dakota',
 'North Dakota State',
 'North Florida',
 'North Texas',
 'Northeastern',
 'Northern Arizona',
 'Northern Colorado',
 'Northern Illinois',
 'Northern Iowa',
 'Northern Kentucky',
 'Northwestern',
 'Northwestern State',
 'Notre Dame',
 'Oakland',
 'Ohio',
 'Ohio State',
 'Oklahoma',
 'Oklahoma State',
 'Old Dominion',
 'Omaha',
 'Oral Roberts',
 'Oregon',
 'Oregon State',
 'Pacific',
 'Penn State',
 'Pennsylvania',
 'Pepperdine',
 'Pittsburgh',
 'Portland',
 'Portland State',
 'Prairie View',
 'Presbyterian',
 'Princeton',
 'Providence',
 'Purdue',
 'Purdue Fort Wayne',
 'Queens (NC)',
 'Quinnipiac',
 'Radford',
 'Rhode Island',
 'Rice',
 'Richmond',
 'Rider',
 'Robert Morris',
 'Rutgers',
 'Sacramento State',
 'Sacred Heart',
 'Saint Francis (PA)',
 "Saint Joseph's",
 'Saint Louis',
 "Saint Mary's (CA)",
 "Saint Peter's",
 'Sam Houston',
 'Samford',
 'San Diego',
 'San Diego State',
 'San Francisco',
 'San Jose State',
 'Santa Clara',
 'Seattle',
 'Seton Hall',
 'Siena',
 'South Alabama',
 'South Carolina',
 'South Carolina State',
 'South Carolina Upstate',
 'South Dakota',
 'South Dakota State',
 'South Florida',
 'Southeast Missouri State',
 'Southeastern Louisiana',
 'Southern',
 'Southern California',
 'Southern Illinois',
 'Southern Illinois-Edwardsville',
 'Southern Indiana',
 'Southern Methodist',
 'Southern Mississippi',
 'Southern Utah',
 'St. Bonaventure',
 "St. John's (NY)",
 'St. Thomas',
 'Stanford',
 'Stephen F. Austin',
 'Stetson',
 'Stonehill',
 'Stony Brook',
 'Syracuse',
 'TCU',
 'Tarleton State',
 'Temple',
 'Tennessee',
 'Tennessee State',
 'Tennessee Tech',
 'Tennessee-Martin',
 'Texas',
 'Texas A&M',
 'Texas A&M-Commerce',
 'Texas A&M-Corpus Christi',
 'Texas Southern',
 'Texas State',
 'Texas Tech',
 'Texas-Rio Grande Valley',
 'The Citadel',
 'Toledo',
 'Towson',
 'Troy',
 'Tulane',
 'Tulsa',
 'UAB',
 'UC Davis',
 'UC Irvine',
 'UC Riverside',
 'UC San Diego',
 'UC Santa Barbara',
 'UCLA',
 'UNC Asheville',
 'UNC Greensboro',
 'UNC Wilmington',
 'UT Arlington',
 'UTEP',
 'UTSA',
 'Utah',
 'Utah State',
 'Utah Tech',
 'Utah Valley',
 'Valparaiso',
 'Vanderbilt',
 'Vermont',
 'Villanova',
 'Virginia',
 'Virginia Commonwealth',
 'Virginia Military Institute',
 'Virginia Tech',
 'W Georgia',
 'Wagner',
 'Wake Forest',
 'Washington',
 'Washington State',
 'Weber State',
 'West Virginia',
 'Western Carolina',
 'Western Illinois',
 'Western Kentucky',
 'Western Michigan',
 'Wichita State',
 'William & Mary',
 'Winthrop',
 'Wisconsin',
 'Wofford',
 'Wright State',
 'Wyoming',
 'Xavier',
 'Yale',
 'Youngstown State'}

In [7]:
confs[2024]['West Georgia']

'A-Sun'

In [4]:
'Detroit Mercy' in confs[1949]

True

In [3]:
row

Pandas(Index=56, Date=11111.0, Schl='Drake', Opp='Detroit', PTS=47.0, OPP=61.0, Venue='@', Year=1949.0, Notes='', neutral='False')

In [54]:
pwr[float(game.Year-1)].keys()

dict_keys([20131108.0, 20131109.0, 20131110.0, 20131111.0, 20131112.0, 20131113.0, 20131114.0, 20131115.0, 20131116.0, 20131117.0, 20131118.0, 20131119.0, 20131120.0, 20131121.0, 20131122.0, 20131123.0, 20131124.0, 20131125.0, 20131126.0, 20131127.0, 20131128.0, 20131129.0, 20131130.0, 20131201.0, 20131202.0, 20131203.0, 20131204.0, 20131205.0, 20131206.0, 20131207.0, 20131208.0, 20131209.0, 20131210.0, 20131211.0, 20131212.0, 20131213.0, 20131214.0, 20131215.0, 20131216.0, 20131217.0, 20131218.0, 20131219.0, 20131220.0, 20131221.0, 20131222.0, 20131223.0, 20131225.0, 20131227.0, 20131228.0, 20131229.0, 20131230.0, 20131231.0, 20140101.0, 20140102.0, 20140103.0, 20140104.0, 20140105.0, 20140106.0, 20140107.0, 20140108.0, 20140109.0, 20140110.0, 20140111.0, 20140112.0, 20140113.0, 20140114.0, 20140115.0, 20140116.0, 20140117.0, 20140118.0, 20140119.0, 20140120.0, 20140121.0, 20140122.0, 20140123.0, 20140124.0, 20140125.0, 20140126.0, 20140127.0, 20140128.0, 20140129.0, 20140130.0, 20140131.0, 20140201.0, 20140202.0, 20140203.0, 20140204.0, 20140205.0, 20140206.0, 20140207.0, 20140208.0, 20140209.0, 20140210.0, 20140211.0, 20140212.0, 20140213.0, 20140214.0, 20140215.0, 20140216.0, 20140217.0, 20140218.0, 20140219.0, 20140220.0, 20140221.0, 20140222.0, 20140223.0, 20140224.0, 20140225.0, 20140226.0, 20140227.0, 20140228.0, 20140301.0, 20140302.0, 20140303.0, 20140304.0, 20140305.0, 20140306.0, 20140307.0, 20140308.0, 20140309.0, 20140310.0, 20140311.0, 20140312.0, 20140313.0, 20140314.0, 20140315.0, 20140316.0, 20140317.0, 20140318.0, 20140319.0, 20140320.0, 20140321.0, 20140322.0, 20140323.0, 20140324.0, 20140325.0, 20140326.0, 20140327.0, 20140328.0, 20140329.0, 20140330.0, 20140331.0, 20140401.0, 20140402.0, 20140403.0, 20140405.0, 20140407.0, 20140408.0])

In [63]:
row

Pandas(Index=0, School='Charlotte', Conf='AAC', h=2024, l='')

In [52]:
df1 = pd.DataFrame({"Date":20241101,"Schl":'h','Opp':"rt","PTS":54,'OPP':53,'Venue':'vs','Year':2024,'Notes':"notes",'neutral':"False"},index=[5000000])
df22= df22.append(df1, ignore_index = True)

In [11]:
game

Pandas(Index=295970, Date=20241101.0, Schl='h', Opp='rt', PTS=54.0, OPP=53.0, Venue='vs', Year=2024.0, Notes='notes', neutral='False')

In [12]:
j=oppp[oppp.Year==2024]
j=j[j.Date==20241104]
for row in j.itertuples():
    if row.Venue=='vs':
        if 'True' in str(row.neutral):
            hf=0
        else:
            hf=hfas[confs[2024][row.Schl]] 
        ht=row.Schl
        hr=eloLeague.ratingDict[ht]+hf
        at=row.Opp
        ar=eloLeague.ratingDict[at]
    else:
        if 'True' in str(row.neutral):
            hf=0
        else:
            hf=hfas[confs[2024][row.Opp]] 
        ht=row.Schl
        hr=eloLeague.ratingDict[ht]
        at=row.Opp
        ar=eloLeague.ratingDict[at]+hf
    
    if hr>ar:
        spread=(hr-ar)/19
        spread=round(spread)
        if spread==0:
            spread=1
        print(ht+" beats "+at+" by "+str(spread))
    else:
        spread=(ar-hr)/19
        spread=round(spread)
        if spread==0:
            spread=1
        print(at+" beats "+ht+" by "+str(spread))

Brown beats Siena by 2
Charlotte beats Presbyterian by 14
Army beats Albany (NY) by 1
UNC Greensboro beats Florida Gulf Coast by 2
Louisiana beats Kent State by 6
Oklahoma beats Lindenwood by 27
Nevada beats Sam Houston by 13
South Alabama beats Central Michigan by 7
Southern California beats Chattanooga by 19
UAB beats Vermont by 11
San Jose State beats Western Illinois by 14
New Mexico beats Nicholls State by 17
Colorado State beats North Dakota by 16
Delaware beats Bucknell by 7
Oregon beats UC Riverside by 20
Georgia Southern beats Northern Illinois by 7
Southern Mississippi beats Bowling Green State by 6
Arkansas State beats Akron by 6
Gonzaga beats Baylor by 1
Arizona beats Canisius by 28
Boston College beats The Citadel by 21
Butler beats Missouri State by 16
Colorado beats Eastern Washington by 24
Duke beats Maine by 24
Duquesne beats Lipscomb by 11
Houston beats Jackson State by 32
Illinois beats Eastern Illinois by 26
Iowa State beats Mississippi Valley State by 35
Kansas beats Howard by 29
La Salle beats American by 11
Louisville beats Morehead State by 20
Maryland beats Manhattan by 24
Michigan beats Cleveland State by 20
Nebraska beats Texas-Rio Grande Valley by 24
North Carolina beats Elon by 25
Purdue beats Texas A&M-Corpus Christi by 25
Saint Joseph's beats Navy by 8
Southern Methodist beats Tarleton State by 18
South Carolina beats North Florida by 22
Syracuse beats Le Moyne by 25
TCU beats Florida A&M by 30
UCLA beats Rider by 12
Virginia Commonwealth beats Bellarmine by 15
Virginia Tech beats Delaware State by 25
Wake Forest beats Coppin State by 29
West Virginia beats Robert Morris by 23
Clemson beats Charleston Southern by 24
Princeton beats Iona by 8
Air Force beats North Alabama by 12
California Baptist beats Incarnate Word by 13
Grand Canyon beats Cal State Fullerton by 12
Cincinnati beats Arkansas-Pine Bluff by 31
Utah beats Alcorn State by 29
Coastal Carolina beats Western Michigan by 6
Southern Illinois beats College of Charleston by 1
Dayton beats Saint Francis (PA) by 19
Stanford beats Denver by 21
Oregon State beats Utah Tech by 9
Texas State beats Eastern Michigan by 9
Rhode Island beats Fairfield by 10
Miami (FL) beats Fairleigh Dickinson by 26
Florida beats South Florida by 7
St. John's (NY) beats Fordham by 17
Appalachian State beats Miami (OH) by 9
George Mason beats North Carolina Central by 15
Harvard beats Marist by 5
Wisconsin beats Holy Cross by 26
Illinois State beats Tennessee-Martin by 12
Florida Atlantic beats Indiana State by 2
James Madison beats Ohio by 7
Columbia beats Loyola (MD) by 2
Loyola (IL) beats Chicago State by 16
Vanderbilt beats Maryland-Eastern Shore by 24
George Washington beats Mercyhurst by 16
Memphis beats Missouri by 5
Georgia State beats Ball State by 7
Michigan State beats Monmouth by 22
Nevada-Las Vegas beats Alabama State by 20
Florida State beats Northern Kentucky by 19
Pennsylvania beats NJIT by 4
Pittsburgh beats Radford by 22
Washington State beats Portland State by 13
Providence beats Central Connecticut State by 24
Yale beats Quinnipiac by 7
Temple beats Sacred Heart by 14
Santa Clara beats Saint Louis by 1
Saint Mary's (CA) beats Towson by 6
Penn State beats Binghamton by 21
NC State beats South Carolina Upstate by 23
South Dakota beats Southern by 7
Tennessee beats Gardner-Webb by 24
Georgia beats Tennessee Tech by 24
Texas beats Ohio State by 1
Boston University beats Northeastern by 1
Troy beats Toledo by 6
Bradley beats Southeast Missouri State by 17
Liberty beats Valparaiso by 2
Villanova beats Lafayette by 24
Western Kentucky beats Wichita State by 6
Oklahoma State beats Green Bay by 23
Old Dominion beats Buffalo by 8
California beats Cal State Bakersfield by 18
Alabama beats UNC Asheville by 23
Massachusetts beats New Hampshire by 12
Xavier beats Texas Southern by 25
Seton Hall beats Saint Peter's by 20
Marquette beats Stony Brook by 22
DePaul beats Southern Indiana by 20
Northwestern beats Lehigh by 23
Iowa beats Texas A&M-Commerce by 25
Central Florida beats Texas A&M by 11
Mississippi beats Long Island University by 27
Mississippi State beats West Georgia by 26
Kentucky beats Wright State by 21
McNeese State beats South Dakota State by 1
St. Bonaventure beats Cal State Northridge by 11

In [58]:
df22=df22.drop_duplicates()
len(df22)

292406

In [59]:
j[j.Opp=='South Dakota State']

,Date,Schl,Opp,PTS,OPP,Venue,Year,Notes,neutral
777567,20241104.0,McNeese State,South Dakota State,0.0,0.0,@,2024.0,notes,True

In [60]:
confyz={}
vals=[]
for c in confs[2024].values():
    confyz[c]={}
for c in confs[2024].values():
    for t in confs[2024]:
        confyz[confs[2024][t]][t]=0

In [61]:
s=oppp[oppp.Year==2024]
for row in s.itertuples():
    if confs[2024][row.Schl]==confs[2024][row.Opp]:
        if row.Venue=='vs':
            if 'True' in str(row.neutral):
                hf=0
            else:
                hf=hfas[confs[2024][row.Schl]] 
            ht=row.Schl
            hr=eloLeague.ratingDict[ht]+hf
            at=row.Opp
            ar=eloLeague.ratingDict[at]
        else:
            if 'True' in str(row.neutral):
                hf=0
            else:
                hf=hfas[confs[2024][row.Opp]] 
            ht=row.Schl
            hr=eloLeague.ratingDict[ht]
            at=row.Opp
            ar=eloLeague.ratingDict[at]+hf 
        if hr>ar:
            confyz[confs[2024][row.Schl]][row.Schl]+=1
        else:
            confyz[confs[2024][row.Opp]][row.Opp]+=1

In [42]:
eloLeague.ratingDict['Michigan']

1620.1118597121908

In [67]:
h={}
for g in confyz:
    h[g]={}
for g in confyz:
    f=confyz[g]
    o=sorted(f,key=f.get,reverse=True)
    print(g)
    print("\n")
    for t in o:
        print(t,confyz[g][t])

AAC


Memphis 10
Rice 10
Temple 10
Tulane 10
Tulsa 10
Charlotte 9
East Carolina 9
Florida Atlantic 9
North Texas 9
South Florida 9
UAB 9
Wichita State 9
UTSA 4
ACC


Clemson 12
Louisville 12
Duke 11
Florida State 11
Southern Methodist 11
Boston College 10
California 10
Georgia Tech 10
North Carolina 10
Notre Dame 10
Pittsburgh 10
Stanford 10
Syracuse 10
Virginia 10
Virginia Tech 10
Wake Forest 10
NC State 9
Miami (FL) 8
AEC


Vermont 14
Bryant 10
Maine 10
Maryland-Baltimore County 8
Massachusetts-Lowell 8
Binghamton 7
New Hampshire 7
Albany (NY) 5
NJIT 3
A-10


Virginia Commonwealth 10
Davidson 9
Dayton 9
Duquesne 9
Fordham 9
George Mason 9
George Washington 9
La Salle 9
Loyola (IL) 9
Massachusetts 9
Rhode Island 9
Richmond 9
Saint Louis 9
St. Bonaventure 9
Saint Joseph's 8
A-Sun


Austin Peay 10
Eastern Kentucky 10
Florida Gulf Coast 10
Lipscomb 10
Stetson 10
West Georgia 10
Bellarmine 9
Jacksonville 9
North Alabama 9
North Florida 9
Queens (NC) 7
Central Arkansas 6
Big 12


Arizona 10
Arizona State 10
Baylor 10
Brigham Young 10
Cincinnati 10
Colorado 10
Houston 10
Iowa State 10
Kansas 10
Kansas State 10
Oklahoma State 10
TCU 10
Texas Tech 10
Central Florida 10
Utah 10
West Virginia 10
Big East


Connecticut 12
Butler 10
Creighton 10
DePaul 10
Georgetown 10
Marquette 10
Providence 10
Seton Hall 10
Villanova 10
Xavier 10
St. John's (NY) 9
Big Sky


Eastern Washington 9
Idaho 9
Idaho State 9
Montana 9
Montana State 9
Northern Arizona 9
Northern Colorado 9
Portland State 9
Sacramento State 9
Weber State 9
Big South


High Point 9
Longwood 9
Radford 9
UNC Asheville 9
Winthrop 9
Gardner-Webb 8
Presbyterian 8
South Carolina Upstate 7
Charleston Southern 4
Big Ten


Iowa 12
Ohio State 12
Oregon 12
Michigan State 11
Nebraska 11
Penn State 11
Illinois 10
Indiana 10
Maryland 10
Michigan 10
Minnesota 10
Northwestern 10
Purdue 10
Washington 10
Wisconsin 10
Rutgers 9
Southern California 8
UCLA 5
Big West


Hawaii 21
Long Beach State 11
UC Davis 11
UC Irvine 11
UC San Diego 11
Cal State Bakersfield 10
Cal State Fullerton 10
Cal State Northridge 10
UC Riverside 10
UC Santa Barbara 10
Cal Poly 5
CAA


College of Charleston 14
Drexel 13
UNC Wilmington 12
Hofstra 11
Delaware 10
Elon 10
Northeastern 10
Towson 10
Stony Brook 9
Campbell 8
Monmouth 8
Hampton 7
William & Mary 7
North Carolina A&T 3
CUSA


Liberty 12
Western Kentucky 11
Jacksonville State 10
Florida International 9
Kennesaw State 9
Louisiana Tech 9
New Mexico State 9
Sam Houston 9
UTEP 8
Middle Tennessee 5
Horizon


Oakland 12
Purdue Fort Wayne 12
Cleveland State 10
Wright State 10
Youngstown State 10
Northern Kentucky 9
Robert Morris 9
Green Bay 7
Milwaukee 7
Detroit Mercy 4
IU Indy 0
Ivy


Princeton 10
Yale 9
Cornell 8
Pennsylvania 7
Brown 6
Columbia 5
Harvard 5
Dartmouth 4
MAAC


Fairfield 12
Quinnipiac 12
Canisius 11
Iona 11
Marist 11
Mount St. Mary's 11
Niagara 11
Saint Peter's 11
Merrimack 10
Rider 10
Sacred Heart 10
Manhattan 8
Siena 2
MAC


Akron 11
Bowling Green State 11
Kent State 11
Ohio 11
Toledo 11
Ball State 9
Buffalo 9
Central Michigan 9
Eastern Michigan 9
Northern Illinois 9
Western Michigan 9
Miami (OH) 6
MEAC


Norfolk State 11
North Carolina Central 10
Delaware State 9
Howard 9
Morgan State 6
South Carolina State 6
Maryland-Eastern Shore 4
Coppin State 2
MVC


Bradley 11
Drake 11
Indiana State 11
Belmont 10
Evansville 10
Illinois State 10
Missouri State 10
Murray State 10
Northern Iowa 10
Southern Illinois 10
Valparaiso 10
Illinois-Chicago 8
MWC


San Jose State 11
Utah State 11
Air Force 10
Boise State 10
Colorado State 10
Fresno State 10
Nevada 10
Nevada-Las Vegas 10
New Mexico 10
San Diego State 10
Wyoming 10
NEC


Mercyhurst 16
Central Connecticut State 10
Chicago State 10
Wagner 10
Le Moyne 9
Fairleigh Dickinson 7
Long Island University 5
Saint Francis (PA) 3
Stonehill 3
OVC


Morehead State 14
Little Rock 12
Eastern Illinois 10
Southern Illinois-Edwardsville 10
Tennessee State 10
Western Illinois 10
Southeast Missouri State 9
Southern Indiana 9
Tennessee Tech 9
Tennessee-Martin 9
Lindenwood 8
Patriot


Colgate 15
Lehigh 10
American 9
Army 9
Boston University 9
Bucknell 9
Navy 9
Holy Cross 8
Lafayette 8
Loyola (MD) 5
SEC


Mississippi 11
Oklahoma 11
Tennessee 11
Alabama 10
Arkansas 10
Missouri 10
South Carolina 10
Texas 10
Vanderbilt 10
Auburn 9
Florida 9
Georgia 9
Kentucky 9
Louisiana State 9
Mississippi State 9
Texas A&M 9
Southern


Samford 12
Furman 11
Chattanooga 10
East Tennessee State 10
Mercer 10
Western Carolina 10
Wofford 10
The Citadel 9
UNC Greensboro 8
Virginia Military Institute 0
Southland


McNeese State 16
Stephen F. Austin 14
Lamar 13
Texas A&M-Corpus Christi 11
Incarnate Word 10
Nicholls State 10
Texas A&M-Commerce 10
Southeastern Louisiana 9
New Orleans 8
Texas-Rio Grande Valley 8
Houston Christian 7
Northwestern State 4
Summit


South Dakota 9
South Dakota State 9
St. Thomas 9
Denver 8
Kansas City 8
North Dakota 8
North Dakota State 8
Omaha 8
Oral Roberts 8
Sun Belt


James Madison 13
Appalachian State 9
Arkansas State 9
Georgia State 9
Louisiana 9
Marshall 9
South Alabama 9
Southern Mississippi 9
Texas State 9
Troy 9
Coastal Carolina 8
Georgia Southern 8
Louisiana-Monroe 8
Old Dominion 8
SWAC


Alabama A&M 10
Alabama State 10
Alcorn State 10
Arkansas-Pine Bluff 10
Grambling 10
Jackson State 10
Prairie View 10
Southern 10
Texas Southern 10
Bethune-Cookman 9
Florida A&M 9
Mississippi Valley State 0
WAC


Seattle 9
Abilene Christian 8
California Baptist 8
Grand Canyon 8
Southern Utah 8
Tarleton State 8
Utah Tech 8
Utah Valley 8
UT Arlington 7
WCC


Gonzaga 14
Washington State 12
Saint Mary's (CA) 11
Santa Clara 11
Loyola Marymount 10
Oregon State 10
San Francisco 10
Pepperdine 7
San Diego 7
Portland 6
Pacific 5

KeyError: 2024

In [33]:
msqez={}
for i in range(9,50):
    msqez[str(i)]=0
for i in range(9,50):
    msqez[str(i)]=sum(msqe[str(i)])/len(msqe[str(i)])

In [2]:
for row in df22.itertuples():
    spread=float(row.team1elopre)-float(row.team2elopre)
    spread=spread/19
    spread=round(spread)
    if spread==0:
        if row.team1elopre>row.team2elopre:
            spread=1
        else:
            spread=-1
    df22.at[row.Index,'predt1spread']=spread

In [1]:
arr=[]
headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'}
years={}
import time
for i in range(1949,2025):
    years[i]=[]
for row in df22.itertuples():
    if float(row.Year)>2005:
        
        if float(row.Date) not in years[float(row.Year)]:years[float(row.Year)].append(float(row.Date))
print("done")
y=2012
from fake_ut import UserAgent
ua = UserAgent()
for iz in range(y,y+1):
    print(iz)
    iz=str(iz)
    for date in years[float(iz)]:
        time.sleep(2)
        date=str(date)
        date=date[0]+date[1]+date[2]+date[3]+"-"+date[4]+date[5]+"-"+date[6]+date[7]
        date=str(date)
        url='https://teamrankings.com/ncaa-basketball/ranking/predictive-by-other/?date='+str(date)
        user_agent = ua.random
        headers={'User-Agent':user_agent}
        html=requests.get(url,headers=headers)
        print(html.status_code)
        html=html.text
        soup=BeautifulSoup(html)
        table=soup.find_all("table")[0]
        for tr in table.find_all("tr"):
            if 'Rating' not in str(tr):
                team=tr.find_all("td")[1]
                team=team['data-sort']
                rating=tr.find_all("td")[2].text
                arr.append([team,rating,iz,date])

NameError: name 'df22' is not defined

In [ ]:
rh={}
u=[]
for team in years[2023]:
    rh[team]=(eloLeague.ratingDict[team])
    u.append(eloLeague.ratingDict[team])
rh=sorted(rh, key=rh.get, reverse=True)
i=1
print(np.mean(u))
print("Rank||Team||Points Above d1 Average")
for key in rh:
    print(str(i)+"  "+key+"  "+str(eloLeague.ratingDict[key]-np.mean(u))+"")
    i+=1

In [ ]:
((eloLeague.ratingDict['Creighton']+hfas['Big East'])-(eloLeague.ratingDict['North Dakota State']))/17

In [ ]:
df=pd.DataFrame(arr,columns=['Team','Rating','Year','Date'])
df.to_csv("posty.txt")

In [ ]:
for row in df22.itertuples():
    spread=row.team1elopre-row.team2elopre
    spread=spread/9
    spread=round(spread)
    if spread==0:
        
        if row.team1elopre>row.team2elopre:
            spread=1
        else:
            spread=-1
    df22.at[row.Index,'predt1spread']=spread

In [23]:
h.find_all("a")[0]['href']

'NCAA_Archive/49_50_dat.htm'

In [29]:
df=df.reindex(index=df.index[::-1])

In [ ]:
df.to_csv("allscores.csv")

In [ ]:
len(line)

In [ ]:
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df13=df13[df13.Year!='Year']
df13[df13.Year=='2000-01']
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")
df19=df19[df19.Year!='Year']
df19[df19.Year=='2000-01']

In [ ]:
import pandas as pd
df2=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1949-1959h.csv")
df3=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1959-1969h.csv")
df4=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1969-1970h.csv")
df5=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1971-1979h.csv")
import re
def has_numbers(inputString):
    return bool(re.search(r'\d', inputString))
df6=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1980-1985h.csv")
df7=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1986-1987h.csv")
df7=df7[df7.Year!=1988]
df8=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1988-1989h.csv")
df9=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1990-1992h.csv")
df10=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1993-1994h.csv")
df10=df10[df10.Year<"1995-96"]
df11=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1995-1996h.csv")
df12=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/1997-1999h.csv")
df13=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2000-2004h.csv")
df14=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2005-2011h.csv")
df15=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2012-2020h.csv")
df16=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/notneutral/home/2021h.csv")
df17=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1949-1988n.csv")
df17=df17[df17.Year!='1971-72']
df20=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1971-1972n.csv")
df17=pd.concat([df20,df17])
df18=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/1989-1999n.csv")
df19=pd.read_csv("https://ontheroadtovote.com/ncaab/scores/neutral/2000-2021n.csv")

In [ ]:
df1=pd.concat([df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19],ignore_index=True)
arr=[]
df100=df1.sort_values(by='Date')
df1=df1[['Year','Date','neutral','PTS','OPP','Year','Opp','Schl']]
df1=df1.drop_duplicates()
ys=[]

import sys
for Date in df100.Date.unique():
    times=1
    teams=[]
    
    if '2003' in str(Date):
        sys.exit(1)
    if row.Year not in ys:
        ys.append(row.Year)
        print(row.Year)
    df=df1[df1.Date==Date]
    for row in df.itertuples():
        if row.Schl in teams or row.Opp in teams:
            times+=1
            num=20*times
            date=row.Date+" "+str(num)+":00:00"
        else:
            date=row.Date+" 00:00:00"
        arr.append([row.Schl,date,row.Opp,row.Year,'vs',row.neutral,row.PTS,row.OPP])
        teams.append(row.Schl)
        teams.append(row.Opp)

# d2 scores from 2007 season

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup, Comment

links={}
import time
arr=[]
ys={}
for i in range(2025,2026):
    ys[i]=[]
for i in range(2025,2026):
    print(i)
    links[i]=[]
    html=requests.get("https://www.sports-reference.com/cbb/seasons/men/"+str(i)+"-standings.html")
    print(html.status_code)
    html=html.text
    html=html.replace("<!--","").replace("-->","")
    soup=BeautifulSoup(html,'lxml')
    
    
    y=i-1
    for table in soup.find_all("table"):
        for tr in table.find_all("tr"):
            if "Notes" not in str(tr) and 'Overall' not in str(tr):
                
                
                schl=tr.find_all("td")[0].text
                conf=tr.find_all("td")[1].text
                srs=tr.find_all("td")[13].text
            
                
                arr.append([schl,conf,y,srs])
    time.sleep(5)
    print(len(arr))

In [ ]:
df=pd.DataFrame(arr,columns=['School','Conf','Year','SRS'])
df=df[df.SRS.notna()]
df.to_csv("alld1s.txt")

##